openapi: 3.0.1
info:
  title: DataForSEO BusinessData API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With 
    DataForSEO you can get all the data you need to build an efficient application while also saving your time and 
    budget. DataForSEO API is using the REST technology for interchanging data between your application and our service.
    The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all 
    programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
paths:
  /v3/business_data/id_list:
    post:
      tags:
      - BusinessData
      description: "This endpoint is designed to provide you with a list of IDs and metadata for all Business Data tasks created
        within the specified time period, including both successful and uncompleted tasks.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/id_list/?bash'"
      operationId: BusinessDataIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataIdListRequestInfo'
                nullable: true
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataIdListResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/errors:
    post:
      tags:
      - BusinessData
      description: "By calling this endpoint you will receive information about the Business Data API tasks that returned
        an error within the past 7 days.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/errors/?bash'"
      operationId: BusinessDataErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataErrorsRequestInfo'
                nullable: true
              example:
              - limit: 10
                offset: 0
                filtered_function: pingback_url
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataErrorsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/business_listings/locations:
    get:
      tags:
      - BusinessData
      description: "You will receive the list of locations by this API call. You can also download the full list of supported
        locations in the CSV format (last updated 2026-04-06).\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/business_listings/locations/?bash'"
      operationId: BusinessListingsLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/business_listings/categories:
    get:
      tags:
      - BusinessData
      description: "This endpoint will provide you with the list of top categories by business count.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/business_data/business_listings/categories/?bash'"
      operationId: BusinessListingsCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsCategoriesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/business_listings/available_filters:
    get:
      tags:
      - BusinessData
      description: "Here you will find all the necessary information about filters that can be used with Business Listings
        API.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/business_listings/filters/?bash'"
      operationId: BusinessListingsAvailableFilters
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsAvailableFiltersResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/business_listings/search/live:
    post:
      tags:
      - BusinessData
      description: "Business Listings Search API provides results containing information about business entities listed on
        Google Maps in the specified categories. You will receive the address, contacts, rating, working hours, and other
        relevant data. The provided results are specific to the selected location (see the List of Locations) settings.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/business_data/business_listings/search/live/?bash'"
      operationId: BusinessListingsSearchLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsSearchLiveRequestInfo'
                nullable: true
              example:
              - categories:
                - pizza_restaurant
                description: pizza
                title: pizza
                is_claimed: true
                location_coordinate: '53.476225,-2.243572,10'
                order_by:
                - 'rating.value,desc'
                filters:
                - - rating.value
                  - '>'
                  - 3
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsSearchLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/business_listings/categories_aggregation/live:
    post:
      tags:
      - BusinessData
      description: "Business Listings Categories Aggregation endpoint provides results containing information about groups
        of related categories along with the number of entities in each category. The provided results are specific to the
        specified parameters.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/business_listings/categories_aggregation/live/?bash'"
      operationId: BusinessListingsCategoriesAggregationLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsCategoriesAggregationLiveRequestInfo'
                nullable: true
              example:
              - categories:
                - pizza_restaurant
                description: pizza
                title: pizza
                is_claimed: true
                location_coordinate: '53.476225,-2.243572,10'
                initial_dataset_filters:
                - - rating.value
                  - '>'
                  - 3
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsCategoriesAggregationLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/locations:
    get:
      tags:
      - BusinessData
      description: "You will receive the list of locations by this API call. You can filter the list of locations by country
        when setting a task.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/locations/?bash'"
      operationId: BusinessDataGoogleLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/business_data/google/locations/{country}':
    get:
      tags:
      - BusinessData
      description: "You will receive the list of locations by this API call. You can filter the list of locations by country
        when setting a task.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/locations/?bash'"
      operationId: BusinessDataGoogleLocationsCountry
      parameters:
      - name: country
        in: path
        description: "country ISO code\noptional field\nspecify the ISO code if you want to filter the list of locations by
          country\nexample:\nus"
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleLocationsCountryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/languages:
    get:
      tags:
      - BusinessData
      description: "You will receive the list of languages by calling this API.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/languages/?bash'"
      operationId: BusinessDataGoogleLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/my_business_info/task_post:
    post:
      tags:
      - BusinessData
      description: "Business Data API provides results containing information about specific business entity from Google.
        The provided results are specific to the selected location (see the List of Locations) and language (see the List
        of Languages) settings.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/my_business_info/task_post/?bash'"
      operationId: GoogleMyBusinessInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: 'New York,New York,United States'
                keyword: 'RustyBrick, Inc.'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/my_business_info/tasks_ready:
    get:
      tags:
      - BusinessData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using
        this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/my_business_info/tasks_ready/?bash'"
      operationId: GoogleMyBusinessInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tasks_ready:
    get:
      tags:
      - BusinessData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using
        this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/my_business_info/tasks_ready/?bash'"
      operationId: BusinessDataTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/business_data/google/my_business_info/task_get/{id}':
    get:
      tags:
      - BusinessData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/business_data/google/my_business_info/task_get/?bash'
      operationId: GoogleMyBusinessInfoTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/my_business_info/live:
    post:
      tags:
      - BusinessData
      description: "Business Data API provides results containing information about specific business entity from Google.
        The provided results are specific to the selected location (see the List of Locations) and language (see the List
        of Languages) settings.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/my_business_info/live/?bash'"
      operationId: GoogleMyBusinessInfoLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoLiveRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: 'New York,New York,United States'
                keyword: 'RustyBrick, Inc.'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/my_business_updates/task_post:
    post:
      tags:
      - BusinessData
      description: "This endpoints provides the latest updates of a specific business entity from Google SERP. The provided
        results are specific to the selected location (see the List of Locations) and language (see the List of Languages)
        settings.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/my_business_updates/task_post/?bash'"
      operationId: GoogleMyBusinessUpdatesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessUpdatesTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: 'New York,New York,United States'
                keyword: 'RustyBrick, Inc.'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessUpdatesTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/my_business_updates/tasks_ready:
    get:
      tags:
      - BusinessData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using
        this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/my_business_updates/tasks_ready/?bash'"
      operationId: GoogleMyBusinessUpdatesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessUpdatesTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/business_data/google/my_business_updates/task_get/{id}':
    get:
      tags:
      - BusinessData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/business_data/google/my_business_updates/task_get/?bash'
      operationId: GoogleMyBusinessUpdatesTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessUpdatesTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_searches/task_post:
    post:
      tags:
      - BusinessData
      description: "Hotel Searches API provides results containing information about different hotels listed on Google. The
        provided results are specific to the keyword, selected location (see the List of Locations) and language (see the
        List of Languages) settings.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/hotel_searches/task_post/?bash'"
      operationId: GoogleHotelSearchesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: 'New York,New York,United States'
                keyword: cheap hotel
                check_in: '2026-05-15'
                check_out: '2026-05-16'
                currency: USD
                adults: 2
                children:
                - 14
                sort_by: highest_rating
                priority: 2
                tag: example
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_searches/tasks_ready:
    get:
      tags:
      - BusinessData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using
        this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/hotel_searches/tasks_ready/?bash'"
      operationId: GoogleHotelSearchesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/business_data/google/hotel_searches/task_get/{id}':
    get:
      tags:
      - BusinessData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/business_data/google/hotel_searches/task_get/?bash'
      operationId: GoogleHotelSearchesTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_searches/live:
    post:
      tags:
      - BusinessData
      description: "Hotel Searches API provides results containing information about different hotels listed on Google Hotels.
        The provided results are specific to the selected location (see the List of Locations) and language (see the List
        of Languages) settings.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/hotel_searches/live/?bash'"
      operationId: GoogleHotelSearchesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesLiveRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: 'New York,New York,United States'
                keyword: cheap hotel
                check_in: '2026-05-15'
                check_out: '2026-05-16'
                currency: USD
                adults: 2
                children:
                - 14
                sort_by: highest_rating
                tag: example
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_info/task_post:
    post:
      tags:
      - BusinessData
      description: "Google Hotel Info will provide you with structured data available for a specific hotel entity on the Google
        Hotels platform: such as service description, location details, rating, amenities, reviews, images, prices, and more.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/business_data/google/hotel_info/task_post/?bash'"
      operationId: GoogleHotelInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: 'New York,New York,United States'
                hotel_identifier: ChYIq6SB--i6p6cpGgovbS8wN2s5ODZfEAE
                tag: some_string_123
                postback_url: https://your-server.com/postbackscript.php
                postback_data: advanced
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_info/tasks_ready:
    get:
      tags:
      - BusinessData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using
        this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/hotel_info/tasks_ready/?bash'"
      operationId: GoogleHotelInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/business_data/google/hotel_info/task_get/advanced/{id}':
    get:
      tags:
      - BusinessData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/business_data/google/hotel_info/task_get/advanced/?bash'
      operationId: GoogleHotelInfoTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/business_data/google/hotel_info/task_get/html/{id}':
    get:
      tags:
      - BusinessData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/business_data/google/hotel_info/task_get/html/?bash'
      operationId: GoogleHotelInfoTaskGetHtml
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 7 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_info/live/advanced:
    post:
      tags:
      - BusinessData
      description: "Google Hotel Info will provide you with structured data available for a specific hotel entity on the Google
        Hotels platform: such as service description, location details, rating, amenities, reviews, images, prices, and more.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/business_data/google/hotel_info/live/advanced/?bash'"
      operationId: GoogleHotelInfoLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoLiveAdvancedRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: 'New York,New York,United States'
                hotel_identifier: CgoI-KWyzenM_MV3EAE
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoLiveAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_info/live/html:
    post:
      tags:
      - BusinessData
      description: "Google Hotel Info will provide you with unstructured HTML data available for a specific hotel entity on
        the Google Hotels platform: such as service description, location details, rating, amenities, reviews, images, prices,
        and more.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/hotel_info/live/html/?bash'"
      operationId: GoogleHotelInfoLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoLiveHtmlRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: 'New York,New York,United States'
                hotel_identifier: ChYIq6SB--i6p6cpGgovbS8wN2s5ODZfEAE
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoLiveHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/reviews/task_post:
    post:
      tags:
      - BusinessData
      description: "This endpoint provides results from the “Reviews” element of Google SERPs. The results are specific to
        the selected location (see the List of Locations) and language (see the List of Languages) parameters.\nfor more info
        please visit 'https://docs.dataforseo.com/v3/business_data/google/reviews/task_post/?bash'"
      operationId: GoogleReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleReviewsTaskPostRequestInfo'
                nullable: true
              example:
              - location_name: 'London,England,United Kingdom'
                language_name: English
                keyword: hedonism wines
                depth: 50
                sort_by: highest_rating
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleReviewsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/reviews/tasks_ready:
    get:
      tags:
      - BusinessData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using
        this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/reviews/tasks_ready/?bash'"
      operationId: GoogleReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleReviewsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/business_data/google/reviews/task_get/{id}':
    get:
      tags:
      - BusinessData
      description: "The returned results are specific to the indicated local establishment name, search engine, location and
        language parameters. We emulate set location and search engine with the highest accuracy so that the results you receive
        will match the actual search results for the specified parameters at the time of task setting. You can always check
        the returned results accessing the check_url in the Incognito mode to make sure the received data is entirely relevant.
        Note that user preferences, search history, and other personalized search factors are ignored by our system and thus
        would not be reflected in the returned results.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/reviews/task_get/?bash'"
      operationId: GoogleReviewsTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleReviewsTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/extended_reviews/task_post:
    post:
      tags:
      - BusinessData
      description: "This endpoint provides results from the “Reviews” element of Google SERPs, including not only Google user
        reviews but also reviews from other reputable sources (e.g., TripAdvisor, Yelp, Trustpilot). The results are specific
        to the selected location (see the List of Locations) and language (see the List of Languages) parameters.\nfor more
        info please visit 'https://docs.dataforseo.com/v3/business_data/google/extended_reviews/task_post/?bash'"
      operationId: GoogleExtendedReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleExtendedReviewsTaskPostRequestInfo'
                nullable: true
              example:
              - location_name: 'London,England,United Kingdom'
                language_name: english
                cid: '17626775537598922320'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleExtendedReviewsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/extended_reviews/tasks_ready:
    get:
      tags:
      - BusinessData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using
        this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/extended_reviews/tasks_ready/?bash'"
      operationId: GoogleExtendedReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleExtendedReviewsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/business_data/google/extended_reviews/task_get/{id}':
    get:
      tags:
      - BusinessData
      description: "The returned results are specific to the indicated local establishment name, search engine, location and
        language parameters. We emulate set location and search engine with the highest accuracy so that the results you receive
        will match the actual search results for the specified parameters at the time of task setting. You can always check
        the returned results accessing the check_url in the Incognito mode to make sure the received data is entirely relevant.
        Note that user preferences, search history, and other personalized search factors are ignored by our system and thus
        would not be reflected in the returned results.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/extended_reviews/task_get/?bash'"
      operationId: GoogleExtendedReviewsTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleExtendedReviewsTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/questions_and_answers/task_post:
    post:
      tags:
      - BusinessData
      description: "This endpoint will provide you with a detailed overview of questions and answers associated with a specific
        business entity listed on Google My Business. By submitting a request to this endpoint, you can access comprehensive
        data on the inquiries and responses related to a particular business, including the full text of the questions and
        answers, as well as metadata such as timestamps, user information.\n \nThe provided results are specific to the selected
        location (see the List of Locations) and language (see the List of Languages) settings.\n \nYour account will be billed
        for every 20 questions, the maximum number of answers returned for each question is 5.\nfor more info please visit
        'https://docs.dataforseo.com/v3/business_data/google/questions_and_answers/task_post/?bash'"
      operationId: GoogleQuestionsAndAnswersTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: 'Los Angeles,California,United States'
                keyword: The Last Bookstore
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/questions_and_answers/tasks_ready:
    get:
      tags:
      - BusinessData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using
        this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/google/questions_and_answers/tasks_ready/?bash'"
      operationId: GoogleQuestionsAndAnswersTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/business_data/google/questions_and_answers/task_get/{id}':
    get:
      tags:
      - BusinessData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/business_data/google/questions_and_answers/task_get/?bash'
      operationId: GoogleQuestionsAndAnswersTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/questions_and_answers/live:
    post:
      tags:
      - BusinessData
      description: "This endpoint will provide you with a detailed overview of questions and answers associated with a specific
        business entity listed on Google My Business. By submitting a request to this endpoint, you can access comprehensive
        data on the inquiries and responses related to a particular business, including the full text of the questions and
        answers, as well as metadata such as timestamps, user information.\n \nThe provided results are specific to the selected
        location (see the List of Locations) and language (see the List of Languages) settings.\n \nYour account will be billed
        for every 20 questions, the maximum number of answers returned for each question is 5.\nfor more info please visit
        'https://docs.dataforseo.com/v3/business_data/google/questions_and_answers/live/?bash'"
      operationId: GoogleQuestionsAndAnswersLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersLiveRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: 'Los Angeles,California,United States'
                keyword: The Last Bookstore
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/trustpilot/search/task_post:
    post:
      tags:
      - BusinessData
      description: "This endpoint provides a list of business profiles listed on the Trustpilot platform. The returned results
        are relevant to the specified keyword.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/trustpilot/search/task_post/?bash'"
      operationId: TrustpilotSearchTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotSearchTaskPostRequestInfo'
                nullable: true
              example:
              - keyword: pizza restaurant
                depth: 20
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotSearchTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/trustpilot/search/tasks_ready:
    get:
      tags:
      - BusinessData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using
        this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/trustpilot/search/tasks_ready/?bash'"
      operationId: TrustpilotSearchTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotSearchTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/business_data/trustpilot/search/task_get/{id}':
    get:
      tags:
      - BusinessData
      description: "This endpoint provides a list of business profiles listed on the Trustpilot platform. The returned results
        are relevant to the keyword specified in a POST request. We emulate set parameters with the highest accuracy so that
        the results you receive match the actual search results for the specified parameters at the time of task setting.
        You can always check the returned results accessing the check_url in the Incognito mode to make sure the received
        data is entirely relevant. Note that user preferences, search history, and other personalized search factors are ignored
        by our system and thus will not be reflected in the returned results.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/trustpilot/search/task_get/?bash'"
      operationId: TrustpilotSearchTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotSearchTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/trustpilot/reviews/task_post:
    post:
      tags:
      - BusinessData
      description: "This endpoint provides reviews published on the Trustpilot platform for the local establishment specified
        in the domain field.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/trustpilot/reviews/task_post/?bash'"
      operationId: TrustpilotReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotReviewsTaskPostRequestInfo'
                nullable: true
              example:
              - domain: www.thepearlsource.com
                depth: 40
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotReviewsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/trustpilot/reviews/tasks_ready:
    get:
      tags:
      - BusinessData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using
        this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/trustpilot/reviews/tasks_ready/?bash'"
      operationId: TrustpilotReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotReviewsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/business_data/trustpilot/reviews/task_get/{id}':
    get:
      tags:
      - BusinessData
      description: "This endpoint provides reviews published on the Trustpilot platform The returned results are specific
        to the indicated business entity. We emulate set parameters with the highest accuracy so that the results you receive
        will match the actual search results for the specified parameters at the time of task setting. You can always check
        the returned results accessing the check_url in the Incognito mode to make sure the received data is entirely relevant.
        Note that user preferences, search history, and other personalized search factors are ignored by our system and thus
        would not be reflected in the returned results.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/trustpilot/reviews/task_get/?bash'"
      operationId: TrustpilotReviewsTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotReviewsTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tripadvisor/locations:
    get:
      tags:
      - BusinessData
      description: "You will receive the list of locations by this API call. You can filter the list of locations by country
        when setting a task. Note that supported location types in Tripadvisor Business Data API are City and Region only.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/business_data/tripadvisor/locations/?bash'"
      operationId: TripadvisorLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/business_data/tripadvisor/locations/{country}':
    get:
      tags:
      - BusinessData
      description: "You will receive the list of locations by this API call. You can filter the list of locations by country
        when setting a task. Note that supported location types in Tripadvisor Business Data API are City and Region only.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/business_data/tripadvisor/locations/?bash'"
      operationId: TripadvisorLocationsCountry
      parameters:
      - name: country
        in: path
        description: "country ISO code\noptional field\nspecify the ISO code if you want to filter the list of locations by
          country\nexample:\nus"
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorLocationsCountryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tripadvisor/languages:
    get:
      tags:
      - BusinessData
      description: "You will receive the list of languages by calling this API.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/tripadvisor/languages/?bash'"
      operationId: TripadvisorLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tripadvisor/search/task_post:
    post:
      tags:
      - BusinessData
      description: "This endpoint provides a list of business profiles listed on the Tripadvisor platform. The returned results
        are relevant to the specified keyword and the selected location (see the List of Locations).\nfor more info please
        visit 'https://docs.dataforseo.com/v3/business_data/tripadvisor/search/task_post/?bash'"
      operationId: TripadvisorSearchTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTaskPostRequestInfo'
                nullable: true
              example:
              - keyword: pizza
                location_code: 1003854
                depth: 30
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tripadvisor/search/tasks_ready:
    get:
      tags:
      - BusinessData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using
        this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/tripadvisor/search/tasks_ready/?bash'"
      operationId: TripadvisorSearchTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/business_data/tripadvisor/search/task_get/{id}':
    get:
      tags:
      - BusinessData
      description: "This endpoint will provide you with data on businesses listed on the Tripadvisor platform. The results
        obtained through this endpoint are specific to the location (see the List of Tripadvisor Locations) and keyword parameters
        used in the POST request.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/tripadvisor/search/task_get/?bash'"
      operationId: TripadvisorSearchTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tripadvisor/reviews/task_post:
    post:
      tags:
      - BusinessData
      description: "This endpoint provides results from the “Reviews” element on the Tripadvisor platform. The results are
        specific to the URL path or keyword you indicate, and and the selected location (see the List of Locations).\nfor
        more info please visit 'https://docs.dataforseo.com/v3/business_data/tripadvisor/reviews/task_post/?bash'"
      operationId: TripadvisorReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorReviewsTaskPostRequestInfo'
                nullable: true
              example:
              - url_path: Hotel_Review-g60763-d23462501-Reviews-Margaritaville_Times_Square-New_York_City_New_York.html
                location_code: 1003854
                pingback_url: https://your-server.com/pingback.php?id=$id&tag=$tag
                tag: some_string_123
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorReviewsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tripadvisor/reviews/tasks_ready:
    get:
      tags:
      - BusinessData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using
        this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/tripadvisor/reviews/tasks_ready/?bash'"
      operationId: TripadvisorReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorReviewsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/business_data/tripadvisor/reviews/task_get/{id}':
    get:
      tags:
      - BusinessData
      description: "This endpoint provides feedback data on businesses listed on the Tripadvisor platform, including their
        locations, ratings, review content and count. The results are specific to the URL path indicated in the POST request.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/business_data/tripadvisor/reviews/task_get/?bash'"
      operationId: TripadvisorReviewsTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorReviewsTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/social_media/pinterest/live:
    post:
      tags:
      - BusinessData
      description: "Social Media Pinterest API will provide you with data on pins made from the specified URLs. Pins on Pinterest
        correspond to content saves. For each specified page URL, you will get the number of content saves to Pinterest made
        using the Pinterest Save Button placed on that page.\nfor more info please visit 'https://docs.dataforseo.com/v3/business_data/social_media/pinterest/live/?bash'"
      operationId: SocialMediaPinterestLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataSocialMediaPinterestLiveRequestInfo'
                nullable: true
              example:
              - targets:
                - https://www.simplyrecipes.com/recipes/grilled_salmon_with_cucumber_mango_salsa/
                - https://tasty.co/recipe/classic-lasagna
                - https://www.allrecipes.com/recipe/255263/sicilian-roasted-chicken/
                tag: some_string_123
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataSocialMediaPinterestLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/social_media/reddit/live:
    post:
      tags:
      - BusinessData
      description: "Social Media Reddit API provides information for each share of the target webpage on Reddit. For each
        specified Reddit URL, you will get subreddit and author names, permalink, title, and the number of subreddit members.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/business_data/social_media/reddit/live/?bash'"
      operationId: SocialMediaRedditLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataSocialMediaRedditLiveRequestInfo'
                nullable: true
              example:
              - targets:
                - https://vk.com/
                - https://ahrefs.com/
                - https://google.com/
                - https://twitter.com/
                - https://reddit.com/
                - https://facebook.com/
                tag: some_string_123
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataSocialMediaRedditLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
components:
  schemas:
    BusinessDataGoogleQuestionsAndAnswersLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersLiveTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BaseResponseInfo:
      properties:
        version:
          type: string
          description: the current version of the API
          nullable: true
        status_code:
          type: integer
          description: "general status code\nyou can find the full list of the response codes here"
          nullable: true
        status_message:
          type: string
          description: "general informational message\nyou can find the full list of general informational messages here"
          nullable: true
        time:
          type: string
          description: 'total execution time, seconds'
          nullable: true
        cost:
          type: number
          description: 'total tasks cost, USD'
          format: double
          nullable: true
        tasks_count:
          type: integer
          description: the number of tasks in the tasks array
          format: int64
          nullable: true
        tasks_error:
          type: integer
          description: the number of tasks in the tasks array returned with an error
          format: int64
          nullable: true
    BusinessDataGoogleQuestionsAndAnswersLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: object
            description: array of results
            nullable: true
    BaseResponseTaskInfo:
      properties:
        id:
          type: string
          description: "task identifier\nunique task identifier in our system in the UUID format"
          nullable: true
        status_code:
          type: integer
          description: "status code of the task\ngenerated by DataForSEO, can be within the following range: 10000-60000\n\
            you can find the full list of the response codes here"
          nullable: true
        status_message:
          type: string
          description: "informational message of the task\nyou can find the full list of general informational messages here"
          nullable: true
        time:
          type: string
          description: 'execution time, seconds'
          nullable: true
        cost:
          type: number
          description: 'total tasks cost, USD'
          format: double
          nullable: true
        result_count:
          type: integer
          description: number of elements in the result array
          format: int64
          nullable: true
        path:
          type: array
          items:
            type: string
            nullable: true
          description: URL path
          nullable: true
        data:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: contains the same parameters that you specified in the POST request
          nullable: true
    BusinessDataTripadvisorLanguagesResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataTripadvisorLanguagesTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BusinessDataTripadvisorLanguagesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataTripadvisorLanguagesResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BusinessDataTripadvisorLanguagesResultInfo:
      type: object
      properties:
        language_name:
          type: string
          description: language name
          nullable: true
        language_code:
          type: string
          description: language code according to ISO 639-1
          nullable: true
    BusinessDataGoogleHotelInfoLiveAdvancedResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoLiveAdvancedTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BusinessDataGoogleHotelInfoLiveAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoLiveAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BusinessDataGoogleHotelInfoLiveAdvancedResultInfo:
      type: object
      properties:
        hotel_identifier:
          type: string
          description: "identifier received in a POST array\nthis field will contain the hotel_identifier parameter specified
            when setting a task;\nexample:\nCgoI-KWyzenM_MV3EAE"
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        check_url:
          type: string
          description: "direct URL to search engine results\nyou can use it to make sure that we provided accurate results"
          nullable: true
        datetime:
          type: string
          description: "date and time when the result was received\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n\
            2019-11-15 12:57:46 +00:00"
          nullable: true
        title:
          type: string
          description: "hotel title\nthe title of the hotel entity for which the results are collected"
          nullable: true
        stars:
          type: integer
          description: "hotel class rating\nclass rating that ranges between 1-5 stars and displayed after review ratings
            in hotel summary"
          nullable: true
        stars_description:
          type: string
          description: "hotel class rating\nclass rating that ranges between 1-5 stars and displayed after review ratings
            in the hotel summary"
          nullable: true
        address:
          type: string
          description: "hotel address\nphysical address of the hotel"
          nullable: true
        phone:
          type: string
          description: "hotel phone number\ncontact phone number of the hotel"
          nullable: true
        about:
          type: object
          oneOf:
          - $ref: '#/components/schemas/HotelAboutInfo'
          description: information about the hotel
          nullable: true
        location:
          type: object
          oneOf:
          - $ref: '#/components/schemas/HotelLocationInfo'
          description: "information about the hotel location\ninformation about the location where the hotel is located"
          nullable: true
        reviews:
          type: object
          oneOf:
          - $ref: '#/components/schemas/HotelReviewInfo'
          description: "hotel reviews by criteria\ninformation about reviews of the hotel entity"
          nullable: true
        overview_images:
          type: array
          items:
            type: string
            nullable: true
          description: "images displayed in the hotel overview\narray containing URLs to images displayed in the hotel overview"
          nullable: true
        prices:
          type: object
          oneOf:
          - $ref: '#/components/schemas/HotelPriceInfo'
          description: "pricing details of the hotel entity\ncontains information about the hotel’s prices"
          nullable: true
    HotelLocationInfo:
      type: object
      properties:
        neighborhood:
          type: string
          description: name of the neighborhood where the hotel is located
          nullable: true
        neighborhood_description:
          type: string
          description: description of the neighborhood where the hotel is located
          nullable: true
        maps_url:
          type: string
          description: url to the location of the hotel in google maps
          nullable: true
        overall_score:
          type: number
          description: "overall score of the hotel location\nindicates the overall score of the hotel’s location in the range
            from 1 to 5;\ncalculated based on data from the hotel’s proximity to nearby things to do and restaurants, transportation,
            and airports;\nnote that the criteria are not weighted equally in the overall score"
          nullable: true
        score_by_categories:
          type: object
          additionalProperties:
            type: number
            format: double
            nullable: true
          description: "category scores of the hotel location\nthe scores of the hotel’s location tied to the categories that
            indicate the proximity to nearby things to do, restaurants, transportation, and airports;"
          nullable: true
        latitude:
          type: number
          description: "hotel latitude\nlatitude coordinates of the hotel’s location\nexample:\n39.4806397"
          nullable: true
        longitude:
          type: number
          description: "hotel longitude\nlatitude coordinates of the hotel’s location\nexample:\n-106.0512973"
          nullable: true
        location_chain:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/LocationChain'
            nullable: true
          description: "elements of the location chain\nadditional parameters of each element of the location chain"
          nullable: true
    LocationChain:
      type: object
      properties:
        card_id:
          type: string
          description: card identifier
          nullable: true
        feature_id:
          type: string
          description: "feature identifier\nlearn more about the identifier in this help center article"
          nullable: true
        cid:
          type: string
          description: "client id\nlearn more about the identifier in this help center article"
          nullable: true
        title:
          type: string
          description: title of the element in the location chain
          nullable: true
    HotelReviewInfo:
      type: object
      properties:
        value:
          type: number
          description: overall hotel rating based on customer votes
          nullable: true
        votes_count:
          type: integer
          description: "number of customer votes\nthe number of customer votes included in the calculation of the hotel rating"
          format: int64
          nullable: true
        mentions:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/ReviewMentionInfo'
            nullable: true
          description: "hotel mentions\ninformation about hotel reviews by criteria"
          nullable: true
        rating_distribution:
          type: object
          additionalProperties:
            type: integer
            format: Int64
            nullable: true
          description: "rating distribution by votes\nthe distribution of votes across the rating in the range from 1 to 5"
          nullable: true
        other_sites_reviews:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/OtherSitesReviewsInfo'
            nullable: true
          description: "reviews on third-party sites\nreviews from third-paty sites"
          nullable: true
    ReviewMentionInfo:
      type: object
      properties:
        title:
          type: string
          description: title of the evaluated criterion
          nullable: true
        positive_score:
          type: number
          description: positive score by criterion
          nullable: true
        positive_count:
          type: integer
          description: count of positive reviews by criterion
          format: int64
          nullable: true
        negative_count:
          type: integer
          description: count of negative reviews by criterion
          format: int64
          nullable: true
        total_count:
          type: integer
          description: count of all reviews by criterion
          format: int64
          nullable: true
        visible_by_default:
          type: boolean
          description: "element is visible by default\nindicates whether the review element is visible by default"
          nullable: true
    OtherSitesReviewsInfo:
      type: object
      properties:
        title:
          type: string
          description: "review title\ncontains a name of the third-party site where review initially appeared"
          nullable: true
        url:
          type: string
          description: "review url\nURL to the a third-party site where review initially appeared"
          nullable: true
        review_text:
          type: string
          description: "review text\ntext of the review"
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: "rating in the review\ninformation about the rating enclosed in the review on a third-party site"
          nullable: true
    RatingInfo:
      properties:
        rating_type:
          type: string
          description: "the type of rating\nhere you can find the following elements: Max5, Percents, CustomMax"
          nullable: true
        value:
          type: number
          description: the value of the rating
          format: double
          nullable: true
        votes_count:
          type: integer
          description: the amount of feedback
          format: int64
          nullable: true
        rating_max:
          type: integer
          description: the maximum value for a rating_type
          nullable: true
    HotelAboutInfo:
      type: object
      properties:
        description:
          type: string
          description: "description of the hotel\nthe description of the hotel entity for which the results are collected"
          nullable: true
        sub_descriptions:
          type: array
          items:
            type: string
            nullable: true
          description: "additional description of the hotel\ndetails about the hotel provided in addition to the description"
          nullable: true
        check_in_time:
          type: object
          oneOf:
          - $ref: '#/components/schemas/TimeInfo'
          description: "hotel check-in time\ncheck-in time indicated in the hotel listing"
          nullable: true
        check_out_time:
          type: object
          oneOf:
          - $ref: '#/components/schemas/TimeInfo'
          description: "hotel check-out time\ncheck-out time indicated in the hotel listing"
          nullable: true
        full_address:
          type: string
          description: "full address of the hotel\naddress of the hotel indicated in the standardised format"
          nullable: true
        domain:
          type: string
          description: "hotel domain\ndomain of the hotel’s website"
          nullable: true
        url:
          type: string
          description: "hotel url\nURL to the hotel’s website indicated in the listing"
          nullable: true
        amenities:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/HotelAmenityInfo'
            nullable: true
          description: "hotel amenities\ninformation about hotel amenities"
          nullable: true
        popular_amenities:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/HotelAmenityItemInfo'
            nullable: true
          description: "hotel amenities\ninformation about hotel amenities labelled as “popular”"
          nullable: true
    HotelAmenityInfo:
      type: object
      properties:
        category:
          type: string
          description: standardised category of the ammenity
          nullable: true
        category_label:
          type: string
          description: label of the category
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/HotelAmenityItemInfo'
            nullable: true
          description: specific amenities and details
          nullable: true
    HotelAmenityItemInfo:
      type: object
      properties:
        amenity:
          type: string
          description: standardised amenity name
          nullable: true
        amenity_label:
          type: string
          description: displayed amenity name
          nullable: true
        hint:
          type: string
          description: standardised details about the amenity
          nullable: true
        hint_label:
          type: string
          description: displayed details about the amenity
          nullable: true
        is_available:
          type: boolean
          description: indicates whether the amenity is available in the hotel
          nullable: true
    TimeInfo:
      type: object
      properties:
        hour:
          type: integer
          description: hours in the 24-hour format
          nullable: true
        minute:
          type: integer
          description: minutes
          nullable: true
    HotelPriceInfo:
      type: object
      properties:
        price:
          type: number
          description: price per night
          nullable: true
        price_without_discount:
          type: number
          description: full price per night without a discount applied
          format: int64
          nullable: true
        currency:
          type: string
          description: "price currency\nUSD is applied by default, unless specified in the POST array"
          nullable: true
        discount_text:
          type: string
          description: text about a discount applied
          nullable: true
        check_in:
          type: string
          description: "check-in date and time\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n2019-11-15 12:57:46
            +00:00"
          nullable: true
        check_out:
          type: string
          description: "check-out date and time\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n2019-11-15 12:57:46
            +00:00"
          nullable: true
        visitors:
          type: integer
          description: number of hotel visitors for this price
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/HotelPriceItemInfo'
            nullable: true
          description: "encountered item types\ntypes of search engine results encountered in the items array;\npossible item
            types: hotel_search_item"
          nullable: true
        prices_by_dates:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/PricesByDates'
            nullable: true
          nullable: true
    HotelPriceItemInfo:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        title:
          type: string
          description: title of the hotel
          nullable: true
        price:
          type: number
          description: price per night
          nullable: true
        currency:
          type: string
          description: "price currency\nUSD is applied by default, unless specified in the POST array"
          nullable: true
        url:
          type: string
          description: "third-party page url\nURL to the third-party website page with pricing information"
          nullable: true
        domain:
          type: string
          description: "third-party domain\ndomain of the third-party website page with pricing information"
          nullable: true
        is_paid:
          type: boolean
          description: "indicates a paid hotel listing\nif true, related hotel_search_item is a paid ad\nif false, related
            hotel_search_item is an organic hotel listing"
          nullable: true
        free_cancellation_until:
          type: string
          description: "date until which free cancellation is available\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\n\
            equals null if free cancellation is not available for the selected dates"
          nullable: true
        offers:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/HotelInfoPriceOffer'
            nullable: true
          description: featured price offers
          nullable: true
    HotelInfoPriceOffer:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        title:
          type: string
          description: title of the hotel
          nullable: true
        price:
          type: number
          description: price per night
          nullable: true
        currency:
          type: string
          description: "price currency\nUSD is applied by default, unless specified in the POST array"
          nullable: true
        url:
          type: string
          description: "url of the price offer\nURL to the page of the website where price offer appears"
          nullable: true
        max_visitors:
          type: integer
          description: "the maximal number of visitors\nthe maximum number of visitors for which the price offer is valid"
          nullable: true
        offer_images:
          type: array
          items:
            type: string
            nullable: true
          description: "price offer images\nURLs of the images featured in the price offer"
          nullable: true
        free_cancellation_until:
          type: string
          description: "date until free cancellation is available\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nequals
            null if free cancellation is not available for the selected dates"
          nullable: true
      description: featured price offers
    PricesByDates:
      type: object
      properties:
        price:
          type: number
          description: price per night
          nullable: true
        currency:
          type: string
          description: "price currency\nUSD is applied by default, unless specified in the POST array"
          nullable: true
        check_in_date:
          type: string
          nullable: true
        check_out_date:
          type: string
          nullable: true
    BusinessDataTripadvisorSearchTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTaskPostTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BusinessDataTripadvisorSearchTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: object
            description: "array of results\nin this case, the value will be null"
            nullable: true
    BusinessDataGoogleHotelInfoLiveHtmlRequestInfo:
      type: object
      properties:
        hotel_identifier:
          type: string
          description: "unique hotel identifier\nrequired field\nunique identifier of a hotel entity in Google search;\nyou
            can obtain the value by making a request to Advanced Google SERP API (enclosed in the hotels element of the response),
            or the Hotel Searches endpoint of Business Data API\nexample:\nChYIq6SB--i6p6cpGgovbS8wN2s5ODZfEAE"
        priority:
          type: integer
          description: "task priority\noptional field\ncan take the following values:\n1 – normal execution priority (set
            by default)\n2 – high execution priority\nYou will be additionally charged for the tasks with high execution priority.\n\
            The cost can be calculated on the Pricing page."
          nullable: true
        location_name:
          type: string
          description: "full name of search engine location\nrequired field if you don’t specify location_code or location_coordinate\n\
            if you use this field, you don’t need to specify location_code or location_coordinate\nyou can receive the list
            of available locations with location_name by making a separate request to https://api.dataforseo.com/v3/business_data/google/locations\n\
            example:\nLondon,England,United Kingdom"
          nullable: true
        location_code:
          type: integer
          description: "search engine location code\nrequired field if you don’t specify location_name or location_coordinate\n\
            if you use this field, you don’t need to specify location_name or location_coordinate\nyou can receive the list
            of available locations with location_code by making a separate request to the https://api.dataforseo.com/v3/business_data/google/locations\n\
            example:\n2840"
          nullable: true
        location_coordinate:
          type: string
          description: "GPS coordinates of a location\nrequired field if you don’t specify location_name or location_code\n\
            if you use this field, you don’t need to specify location_name or location_code\nlocation_coordinate parameter
            should be specified in the “latitude,longitude” format\nthe maximum number of decimal digits for “latitude” and
            “longitude”: 7\nNote: if the coordinates are used to set a location, the search will occur in the nearest settlement;\n\
            example:\n53.476225,-2.243572"
          nullable: true
        language_name:
          type: string
          description: "full name of search engine language\nrequired field if you don’t specify language_code\nif you use
            this field, you don’t need to specify language_code\nyou can receive the list of available languages with language_name
            by making a separate request to https://api.dataforseo.com/v3/business_data/google/languages\nexample:\nEnglish"
          nullable: true
        language_code:
          type: string
          description: "search engine language code\nrequired field if you don’t specify language_name\nif you use this field,
            you don’t need to specify language_name\nyou can receive the list of available languages with their language_code by
            making a separate request to https://api.dataforseo.com/v3/business_data/google/languages\nexample:\nen"
          nullable: true
        check_in:
          type: string
          description: "check-in date\noptional field\nif you don’t specify this field, tomorrow’s date will be used by default;\n\
            date format: \"yyyy-mm-dd\"\nexample:\n\"2019-01-15\""
          nullable: true
        check_out:
          type: string
          description: "check-out date\noptional field\nif you don’t specify this field, our system will apply the date of
            two days from now by default;\ndate format: \"yyyy-mm-dd\"\nexample:\n\"2019-01-15\""
          nullable: true
        currency:
          type: string
          description: "currency\noptional field\nexample:\n\"USD\""
          nullable: true
        adults:
          type: integer
          description: "number of adults\noptional field\nif you don’t specify this field, two adults will be used by default\n\
            example:\n1"
          nullable: true
        children:
          type: array
          items:
            type: string
          description: "number and age of children\noptional field\nif you don’t specify this field, no children will be included
            in the search;\nset the following value if you want to include one 14-years-old child:\n[14]\nset the following
            value if you want to include one 13-years-old child and one 8-years-old child:\n[13,8]"
          nullable: true
        tag:
          type: string
          description: "user-defined task identifier\noptional field\nthe character limit is 255\nyou can use this parameter
            to identify the task and match it with the result\nyou will find the specified tag value in the data array of
            the response"
          nullable: true
      example:
      - language_code: en
        location_name: 'New York,New York,United States'
        hotel_identifier: ChYIq6SB--i6p6cpGgovbS8wN2s5ODZfEAE
    BusinessDataTrustpilotSearchTaskGetResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataTrustpilotSearchTaskGetTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BusinessDataTrustpilotSearchTaskGetTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataTrustpilotSearchTaskGetResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BusinessDataTrustpilotSearchTaskGetResultInfo:
      type: object
      properties:
        keyword:
          type: string
          description: keyword in a POST array
          nullable: true
        se_domain:
          type: string
          description: search engine domain in a POST array
          nullable: true
        check_url:
          type: string
          description: "direct URL to search engine results\nyou can use it to make sure that we provided accurate results"
          nullable: true
        datetime:
          type: string
          description: "date and time when the result was received\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n\
            2019-11-15 12:57:46 +00:00"
          nullable: true
        items_count:
          type: integer
          description: "the number of items in the results array\nyou can get more results by using the depth parameter when
            setting a task"
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/TrustpilotSearchOrganic'
            nullable: true
          description: "found reviews\nyou can get more results by using the depth parameter when setting a task"
          nullable: true
    TrustpilotSearchOrganic:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
[...]
