openapi: 3.0.1
info:
  title: DataForSEO OnPage API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With 
    DataForSEO you can get all the data you need to build an efficient application while also saving your time and 
    budget. DataForSEO API is using the REST technology for interchanging data between your application and our service.
    The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all 
    programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
paths:
  /v3/on_page/id_list:
    post:
      tags:
      - OnPage
      description: "This endpoint is designed to provide you with a list of IDs and metadata for all On-Page tasks created
        within the specified time period, including both successful and uncompleted tasks.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/id_list/?bash'"
      operationId: OnPageIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageIdListRequestInfo'
                nullable: true
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageIdListResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/errors:
    post:
      tags:
      - OnPage
      description: "By calling this endpoint you will receive information about the OnPage API tasks that returned an error
        within the past 7 days.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/errors/?bash'"
      operationId: OnPageErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageErrorsRequestInfo'
                nullable: true
              example:
              - limit: 10
                offset: 0
                filtered_function: pingback_url
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageErrorsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/force_stop:
    post:
      tags:
      - OnPage
      description: "This endpoint is designed to force stop the crawl process of websites you specified in a task. The execution
        of all the tasks associated with the IDs indicated in your request to this endpoint will be stopped. You will still
        be able to obtain the data on pages that have been scanned until the crawling process was stopped.\nfor more info
        please visit 'https://docs.dataforseo.com/v3/on_page/force_stop/?bash'"
      operationId: ForceStop
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageForceStopRequestInfo'
                nullable: true
              example:
              - id: 08121600-1535-0216-0000-37b4c7a34453
              - id: 08121600-1535-0216-0000-d6a5000b6897
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageForceStopResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/available_filters:
    get:
      tags:
      - OnPage
      description: "OnPage API supports plenty of customizable crawling parameters that allow you to adapt the extraction
        of website data to your requirements and modify the thresholds for various performance indicators.\n‌‌\nHere you will
        find all the necessary information about filters and thresholds that can be used with DataForSEO OnPage API endpoints.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/on_page/filters_and_thresholds/?bash'"
      operationId: OnPageAvailableFilters
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageAvailableFiltersResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/task_post:
    post:
      tags:
      - OnPage
      description: "OnPage API checks websites for 60+ customizable on-page parameters defines and displays all found flaws
        and opportunities for optimization so that you can easily fix them. It checks meta tags, duplicate content, image
        tags, response codes, and other parameters on every page. You can find the full list of OnPage API check-up parameters
        in the Pages section.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/task_post/?bash'"
      operationId: TaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageTaskPostRequestInfo'
                nullable: true
              example:
              - target: dataforseo.com
                max_crawl_pages: 10
                load_resources: true
                enable_javascript: true
                custom_js: 'meta = {}; meta.url = document.URL; meta;'
                tag: some_string_123
                pingback_url: https://your-server.com/pingscript?id=$id&tag=$tag
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/tasks_ready:
    get:
      tags:
      - OnPage
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks, which results haven’t
        been collected yet.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page-tasks_ready/?bash'"
      operationId: OnPageTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/on_page/summary/{id}':
    get:
      tags:
      - OnPage
      description: "Using this function, you can get the overall information on a website as well as drill down into exact
        on-page issues of a website that has been scanned. As a result, you will know what functions to use for receiving
        detailed data for each of the found issues.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/summary/?bash'"
      operationId: Summary
      parameters:
      - name: id
        in: path
        description: "task identifier\nrequired field\nyou can get this ID in the response of the Task POST endpoint\nexample:\n\
          “07131248-1535-0216-1000-17384017ad04”"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageSummaryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/pages:
    post:
      tags:
      - OnPage
      description: "This endpoint returns a list of crawled pages with on-page check-ups and other metrics related to the
        page performance.\nUsing this function you will get page-specific data with detailed information on how well your
        pages are optimized for search.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/pages/?bash'"
      operationId: Pages
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPagePagesRequestInfo'
                nullable: true
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                filters:
                - - resource_type
                  - =
                  - html
                - and
                - - meta.scripts_count
                  - '>'
                  - 40
                order_by:
                - 'meta.content.plain_text_word_count,desc'
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPagePagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/pages_by_resource:
    post:
      tags:
      - OnPage
      description: "This endpoint will return the list of pages where a specific resource is located. Using this function
        you will also get the data related to the pages that contain a specified resource.\nYou can get the URL of a resource
        using the Resources endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/page_by_resource/?bash'"
      operationId: PagesByResource
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPagePagesByResourceRequestInfo'
                nullable: true
              example:
              - id: 02241700-1535-0216-0000-034137259bc1
                url: https://www.etsy.com/about/jobs.workco2018.js?
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPagePagesByResourceResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/resources:
    post:
      tags:
      - OnPage
      description: "This endpoint will provide you with a list of resources, including images, scripts, stylesheets, and broken
        elements.\nYou will get a detailed overview of every resource found on the crawled pages.\nfor more info please visit
        'https://docs.dataforseo.com/v3/on_page/resources/?bash'"
      operationId: Resources
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageResourcesRequestInfo'
                nullable: true
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                filters:
                - - resource_type
                  - =
                  - image
                - and
                - - size
                  - '>'
                  - 100000
                order_by:
                - 'size,desc'
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageResourcesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/duplicate_tags:
    post:
      tags:
      - OnPage
      description: "This endpoint returns a list of pages that contain duplicate title or description tags. The response also
        contains data related to page performance.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/duplicate_tags/?bash'"
      operationId: DuplicateTags
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageDuplicateTagsRequestInfo'
                nullable: true
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                type: duplicate_description
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageDuplicateTagsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/duplicate_content:
    post:
      tags:
      - OnPage
      description: "This endpoint returns a list of pages that have content similar to the page specified in the request.
        The response also contains data related to page performance and the similarity index that indicates how similar the
        compared pages are.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/duplicate_content/?bash'"
      operationId: DuplicateContent
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageDuplicateContentRequestInfo'
                nullable: true
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                url: https://www.etsy.com/
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageDuplicateContentResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/links:
    post:
      tags:
      - OnPage
      description: "This endpoint will provide you with a list of internal and external links detected on a target website.\n\
        The following link types are supported:\nanchor – links that point to a specific portion of a webpage;\nimage – links
        that point to an image;\ncanonical – links that point to a canonical page;\nmeta – links with meta http-equiv=refresh
        ;\nalternate – links with link rel=\"alternate\" pointing to an alternative version of a webpage ;\nredirect – links
        with redirect status.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/links/?bash'"
      operationId: Links
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLinksRequestInfo'
                nullable: true
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                page_from: /apis/google-trends-api
                filters:
                - - dofollow
                  - =
                  - true
                - and
                - - direction
                  - =
                  - external
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLinksResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/redirect_chains:
    post:
      tags:
      - OnPage
      description: "Redirect chains occur when there are at least two redirects between the initial URL and the destination
        URL. For example, if page A redirects to page B which redirects to page C, such a series of redirects is considered
        a redirect chain. Sometimes, if page B redirects back to page A, the redirect chain becomes closed and is considered
        a redirect loop.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/redirect_chains/?bash'"
      operationId: RedirectChains
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageRedirectChainsRequestInfo'
                nullable: true
              example:
              - id: 03051327-4536-0216-1000-3b458a2cfcca
                url: https://test_rdr.dataforseo.com/a/
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageRedirectChainsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/non_indexable:
    post:
      tags:
      - OnPage
      description: "This endpoint returns a list of pages that are blocked from being indexed by Google and other search engines
        through robots.txt, HTTP headers, or meta tags settings.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/non_indexable/?bash'"
      operationId: NonIndexable
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageNonIndexableRequestInfo'
                nullable: true
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                filters:
                - - reason
                  - =
                  - robots_txt
                - and
                - - url
                  - like
                  - '%go%'
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageNonIndexableResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/waterfall:
    post:
      tags:
      - OnPage
      description: "This endpoint is designed to provide you with the page speed insights. Using this function you can get
        detailed information about the page loading time, time to secure connection, the time it takes to load page resources,
        and so on.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/waterfall/?bash'"
      operationId: Waterfall
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageWaterfallRequestInfo'
                nullable: true
              example:
              - id: 08101204-0696-0216-0000-644a7b21a48a
                url: https://dataforseo.com/tag/broken-links
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageWaterfallResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/keyword_density:
    post:
      tags:
      - OnPage
      description: "This endpoint will provide you with keyword density and keyword frequency data for terms appearing on
        the specified website or web page. You can filter and sort the data that will be retrieved with this API call.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/on_page/keyword_density/?bash'"
      operationId: KeywordDensity
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageKeywordDensityRequestInfo'
                nullable: true
              example:
              - id: 09101923-1535-0216-0000-2389a8854b70
                url: https://dataforseo.com/
                keyword_length: 2
                filters:
                - frequency
                - '>'
                - 5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageKeywordDensityResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/microdata:
    post:
      tags:
      - OnPage
      description: "This endpoint is designed to validate structured JSON-LD data and Microdata. Using this function you will
        obtain microdata available on the specified page of the target website and detailed results of its validation.\nTo
        use this endpoint, set the validate_micromarkup parameter to true in the POST request to OnPage API.\nfor more info
        please visit 'https://docs.dataforseo.com/v3/on_page/microdata/?bash'"
      operationId: Microdata
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageMicrodataRequestInfo'
                nullable: true
              example:
              - id: 02241700-1535-0216-0000-034137259bc1
                url: https://dataforseo.com/apis
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageMicrodataResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/raw_html:
    post:
      tags:
      - OnPage
      description: "This endpoint returns the HTML of a page you indicate in the request.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/raw_html/?bash'"
      operationId: RawHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageRawHtmlRequestInfo'
                nullable: true
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                url: https://dataforseo.com/apis
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageRawHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/page_screenshot:
    post:
      tags:
      - OnPage
      description: "Using this endpoint, you can capture a full high-quality screenshot of any webpage. In this way, you can
        review the target page as the DataForSEO crawler and Googlebot see it.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/page_screenshot/?bash'"
      operationId: PageScreenshot
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPagePageScreenshotRequestInfo'
                nullable: true
              example:
              - url: https://dataforseo.com/apis
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPagePageScreenshotResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/content_parsing:
    post:
      tags:
      - OnPage
      description: "This endpoint allows parsing the content on any page you specify and will return the structured content
        of the target page, including link URLs, anchors, headings, and textual content.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/content_parsing/?bash'"
      operationId: ContentParsing
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageContentParsingRequestInfo'
                nullable: true
              example:
              - url: 
                  https://dataforseo.com/blog/a-versatile-alternative-to-google-trends-exploring-the-power-of-dataforseo-trends-api
                id: 11161551-1535-0216-0000-500b3f307f92
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageContentParsingResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/content_parsing/live:
    post:
      tags:
      - OnPage
      description: "This endpoint allows parsing the content on any page you specify and will return the structured content
        of the target page, including link URLs, anchors, headings, and textual content.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/content_parsing/live/?bash'"
      operationId: ContentParsingLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageContentParsingLiveRequestInfo'
                nullable: true
              example:
              - url: 
                  https://dataforseo.com/blog/a-versatile-alternative-to-google-trends-exploring-the-power-of-dataforseo-trends-api
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageContentParsingLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/instant_pages:
    post:
      tags:
      - OnPage
      description: "Using this function you will get page-specific data with detailed information on how well a particular
        page is optimized for organic search.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/instant_pages/?bash'"
      operationId: InstantPages
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageInstantPagesRequestInfo'
                nullable: true
              example:
              - url: https://dataforseo.com/blog
                enable_javascript: true
                custom_js: 'meta = {}; meta.url = document.URL; meta;'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageInstantPagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/lighthouse/languages:
    get:
      tags:
      - OnPage
      description: "You will receive the list of languages by calling this API.\n \nAs a response of the API server, you will
        receive JSON-encoded data containing a tasks array with the information specific to the set tasks.\nfor more info
        please visit 'https://docs.dataforseo.com/v3/on_page/lighthouse/languages/?bash'"
      operationId: LighthouseLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/lighthouse/audits:
    get:
      tags:
      - OnPage
      description: "The OnPage Lighthouse API is based on Google’s open-source Lighthouse project and provides data on the
        quality of web pages.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/lighthouse/audits/?bash'"
      operationId: LighthouseAudits
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseAuditsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/lighthouse/versions:
    get:
      tags:
      - OnPage
      description: "OnPage Lighthouse API is based on Google’s open-source Lighthouse project and provides data on the quality
        of web pages.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/lighthouse/versions/?bash'"
      operationId: LighthouseVersions
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseVersionsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/lighthouse/task_post:
    post:
      tags:
      - OnPage
      description: "The OnPage Lighthouse API is based on Google’s open-source Lighthouse project for measuring the quality
        of web pages and web apps.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/lighthouse/task_post/?bash'"
      operationId: LighthouseTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseTaskPostRequestInfo'
                nullable: true
              example:
              - url: https://dataforseo.com
                for_mobile: true
                tag: some_string_123
                pingback_url: https://your-server.com/pingscript?id=$id&tag=$tag
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/lighthouse/tasks_ready:
    get:
      tags:
      - OnPage
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of
        id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/on_page/lighthouse/tasks_ready/?bash'"
      operationId: LighthouseTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/on_page/lighthouse/task_get/json/{id}':
    get:
      tags:
      - OnPage
      description: "The OnPage Lighthouse API is based on Google’s open-source Lighthouse project for measuring the quality
        of web pages and web apps. This endpoint will provide you with the results of Lighthouse Audit. Use the id received
        in the response of your Task POST request to get the results. The response will include data about all categories
        and audits specified in the Task POST. By default, the response will include all available data about the webpage
        including its performance, accessibility, progressive web apps, SEO, and compliance with best practices.\nfor more
        info please visit 'https://docs.dataforseo.com/v3/on_page/lighthouse/task_get/json/?bash'"
      operationId: LighthouseTaskGetJson
      parameters:
      - name: id
        in: path
        description: "task identifier\nrequired field\nyou can get this ID in the response of the Task POST endpoint\nexample:\n\
          “07131248-1535-0216-1000-17384017ad04”"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseTaskGetJsonResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/lighthouse/live/json:
    post:
      tags:
      - OnPage
      description: "The OnPage Lighthouse API is based on Google’s open-source Lighthouse project for measuring the quality
        of web pages and web apps.\nfor more info please visit 'https://docs.dataforseo.com/v3/on_page/lighthouse/live/json/?bash'"
      operationId: LighthouseLiveJson
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseLiveJsonRequestInfo'
                nullable: true
              example:
              - url: https://dataforseo.com
                for_mobile: true
                tag: some_string_123
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseLiveJsonResponseInfo'
                nullable: true
      security:
      - basicAuth: []
components:
  schemas:
    OnPagePagesByResourceResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPagePagesByResourceTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    OnPagePagesByResourceTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPagePagesByResourceResultInfo'
              nullable: true
            description: array of results
            nullable: true
    OnPagePagesByResourceResultInfo:
      type: object
      properties:
        crawl_progress:
          type: string
          description: "status of the crawling session\npossible values: in_progress, finished"
          nullable: true
        crawl_status:
          type: object
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
          nullable: true
        total_items_count:
          type: integer
          description: total number of relevant items in the database
          format: int64
          nullable: true
        items_count:
          type: integer
          description: number of items in the results array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/OnPageHtmlResourceItem'
            nullable: true
          description: items array
          nullable: true
    CrawlStatusInfo:
      type: object
      properties:
        max_crawl_pages:
          type: integer
          description: "maximum number of pages to crawl\n indicates the max_crawl_pages limit you specified when setting
            a task"
          format: int64
          nullable: true
        pages_in_queue:
          type: integer
          description: number of pages that are currently in the crawling queue
          format: int64
          nullable: true
        pages_crawled:
          type: integer
          description: number of crawled pages
          format: int64
          nullable: true
    OnPageHtmlResourceItem:
      type: object
      allOf:
      - type: object
        oneOf:
        - $ref: '#/components/schemas/BaseOnPageResourceItem'
        nullable: true
      - type: object
        properties:
          meta:
            type: object
            oneOf:
            - $ref: '#/components/schemas/PageMetaInfo'
            properties:
              social_media_tags:
                type: object
                additionalProperties:
                  type: string
                  nullable: true
                nullable: true
              broken_html:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageResourceIssueInfo'
                description: resource errors and warnings
                nullable: true
            description: "page properties\nthe value depends on the resource_type"
            nullable: true
          page_timing:
            type: object
            oneOf:
            - $ref: '#/components/schemas/PageTiming'
            description: object of page load metrics
            nullable: true
          onpage_score:
            type: number
            description: "shows how page is optimized on a 100-point scale\nthis field shows how page is optimized considering
              critical on-page issues and warnings detected;\n100 is the highest possible score that means the page does not
              have any critical on-page issues and important warnings;\nlearn more about how the metric is calculated in this
              help center article"
            nullable: true
          total_dom_size:
            type: integer
            description: total DOM size of a page
            format: int64
            nullable: true
          custom_js_response:
            type: object
            description: "the result of executing a specified JS script\nnote that you should specify a custom_js field when
              setting a task to receive this data and the field type and its value will totally depend on the script you specified;\n\
              you can also filter the results by this value specifying filters in the following way:\n[\"custom_js_response.url\"\
              , \"like\", \"pixel\"]"
            nullable: true
          custom_js_client_exception:
            type: string
            description: "error when executing a custom js\nif the error occurred when executing the script you specified
              in the custom_js field, the error message would be displayed here"
            nullable: true
          broken_resources:
            type: boolean
            description: indicates whether a page contains broken resources
            nullable: true
          broken_links:
            type: boolean
            description: indicates whether a page contains broken links
            nullable: true
          duplicate_title:
            type: boolean
            description: indicates whether a page has duplicate title tags
            nullable: true
          duplicate_description:
            type: boolean
            description: indicates whether a page has a duplicate description
            nullable: true
          duplicate_content:
            type: boolean
            description: indicates whether a page has duplicate content
            nullable: true
          click_depth:
            type: integer
            description: "number of clicks it takes to get to the page\nindicates the number of clicks from the homepage needed
              before landing at the target page"
            nullable: true
          is_resource:
            type: boolean
            description: indicates whether a page is a single resource
            nullable: true
          url_length:
            type: integer
            description: page URL length in characters
            nullable: true
          relative_url_length:
            type: integer
            description: relative URL length in characters
            nullable: true
    BaseOnPageResourceItem:
      type: object
      properties:
        resource_type:
          type: string
          description: type of the returned resource = ‘html’
          nullable: true
        status_code:
          type: integer
          description: status code of the page
          nullable: true
        location:
          type: string
          description: "location header\nindicates the URL to redirect a page to"
          nullable: true
        url:
          type: string
          description: page URL
          nullable: true
        resource_errors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/OnPageResourceIssueInfo'
          description: resource errors and warnings
          nullable: true
        size:
          type: integer
          description: "resource size\nindicates the size of a given page measured in bytes"
          nullable: true
        encoded_size:
          type: integer
          description: "page size after encoding\nindicates the size of the encoded page measured in bytes"
          nullable: true
        total_transfer_size:
          type: integer
          description: "compressed page size\nindicates the compressed size of a given page"
          format: int64
          nullable: true
        fetch_time:
          type: string
          description: "date and time when a resource was fetched\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n\
            2019-11-15 12:57:46 +00:00"
          nullable: true
        cache_control:
          type: object
          oneOf:
          - $ref: '#/components/schemas/CacheControl'
          description: instructions for caching
          nullable: true
        checks:
          type: object
          additionalProperties:
            type: boolean
            nullable: true
          description: "website checks\non-page check-ups related to the page"
          nullable: true
        content_encoding:
          type: string
          description: type of encoding
          nullable: true
        media_type:
          type: string
          description: types of media used to display a page
          nullable: true
        server:
          type: string
          description: server version
          nullable: true
        last_modified:
          type: object
          oneOf:
          - $ref: '#/components/schemas/LastModified'
          description: "contains data on changes related to the resource\nif there is no data, the value will be null"
          nullable: true
      additionalProperties: false
      discriminator:
        propertyName: resource_type
        mapping:
          html: '#/components/schemas/OnPageHtmlResourceItem'
          broken: '#/components/schemas/OnPageBrokenResourceItem'
          redirect: '#/components/schemas/OnPageRedirectResourceItem'
          script: '#/components/schemas/OnPageScriptResourceItem'
          image: '#/components/schemas/OnPageImageResourceItem'
          stylesheet: '#/components/schemas/OnPageStylesheetResourceItem'
    CacheControl:
      type: object
      properties:
        cachable:
          type: boolean
          description: indicates whether the page is cacheable
          nullable: true
        ttl:
          type: integer
          description: "time to live\nthe amount of time the browser caches a resource"
          nullable: true
    LastModified:
      type: object
      properties:
        header:
          type: string
          description: "date and time when the header was last modified\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\n\
            example:\n2019-11-15 12:57:46 +00:00\nif there is no data, the value will be null"
          nullable: true
        sitemap:
          type: string
          description: "date and time when the sitemap was last modified\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\n\
            example:\n2019-11-15 12:57:46 +00:00\nif there is no data, the value will be null"
          nullable: true
        meta_tag:
          type: string
          description: "date and time when the meta tag was last modified\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\n\
            example:\n2019-11-15 12:57:46 +00:00\nif there is no data, the value will be null"
          nullable: true
    OnPageResourceIssueInfo:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/OnPageResourceIssueItemInfo'
            nullable: true
          description: resource errors
          nullable: true
        warnings:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/OnPageResourceIssueItemInfo'
            nullable: true
          description: resource warnings
          nullable: true
      description: resource errors and warnings
    OnPageResourceIssueItemInfo:
      type: object
      properties:
        line:
          type: integer
          description: line where the error was found
          nullable: true
        column:
          type: integer
          description: column where the error was found
          nullable: true
        message:
          type: string
          description: "text message of the error\nthe full list of possible HTML errors can be found here"
          nullable: true
        status_code:
          type: integer
          description: "status code of the error\npossible values:\n0 — Unidentified Error;\n501 — Html Parse Error;\n1501
            — JS Parse Error;\n2501 — CSS Parse Error;\n3501 — Image Parse Error;\n3502 — Image Scale Is Zero;\n3503 — Image
            Size Is Zero;\n3504 — Image Format Invalid"
          nullable: true
    PageTiming:
      type: object
      properties:
        time_to_interactive:
          type: integer
          description: "Time To Interactive (TTI) metric\nthe time it takes until the user can interact with a page (in milliseconds)"
          nullable: true
        dom_complete:
          type: integer
          description: "time to load resources\nthe time it takes until the page and all of its subresources are downloaded
            (in milliseconds)"
          nullable: true
        largest_contentful_paint:
          type: number
          description: "Core Web Vitals metric measuring how fast the largest above-the-fold content element is displayed\n\
            The amount of time (in milliseconds) to render the largest content element visible in the viewport, from when
            the user requests the URL. Learn more."
          nullable: true
        first_input_delay:
          type: number
          description: "Core Web Vitals metric indicating the responsiveness of a page\nThe time (in milliseconds) from when
            a user first interacts with your page to the time when the browser responds to that interaction. Learn more."
          nullable: true
        connection_time:
          type: integer
          description: "time to connect to a server\nthe time it takes until the connection with a server is established (in
            milliseconds)"
          nullable: true
        time_to_secure_connection:
          type: integer
          description: "time to establish a secure connection\nthe time it takes until the secure connection with a server
            is established (in milliseconds)"
          nullable: true
        request_sent_time:
          type: integer
          description: "time to send a request to a server\nthe time it takes until the request to a server is sent (in milliseconds)"
          nullable: true
        waiting_time:
          type: integer
          description: time to first byte (TTFB) in milliseconds
          nullable: true
        download_time:
          type: integer
          description: time it takes for a browser to receive a response (in milliseconds)
          nullable: true
        duration_time:
          type: integer
          description: total time it takes until a browser receives a complete response from a server (in milliseconds)
          nullable: true
        fetch_start:
          type: integer
          description: "time to start downloading the HTML resource\nthe amount of time the browser needs to start downloading
            a page"
          nullable: true
        fetch_end:
          type: integer
          description: "time to complete downloading the HTML resource\nthe amount of time the browser needs to complete downloading
            a page"
          nullable: true
    PageMetaInfo:
      type: object
      properties:
        title:
          type: string
          description: page title
          nullable: true
        charset:
          type: integer
          description: "code page\nexample: 65001"
          nullable: true
        follow:
          type: boolean
          description: "indicates whether a page’s ‘meta robots’ allows crawlers to follow the links on the page\nif false,
            the page’s ‘meta robots’ tag contains “nofollow” parameter instructing crawlers not to follow the links on the
            page"
          nullable: true
        generator:
          type: string
          description: meta tag generator
          nullable: true
        htags:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
            nullable: true
          description: HTML header tags
          nullable: true
        description:
          type: string
          description: content of the meta description tag
          nullable: true
        favicon:
          type: string
          description: favicon of the page
          nullable: true
        meta_keywords:
          type: string
          description: content of the keywords meta tag
          nullable: true
        canonical:
          type: string
          description: canonical page
          nullable: true
        internal_links_count:
          type: integer
          description: number of internal links on the page
          format: int64
          nullable: true
        external_links_count:
          type: integer
          description: number of external links on the page
          format: int64
          nullable: true
        inbound_links_count:
          type: integer
          description: number of internal links pointing at the page
          format: int64
          nullable: true
        images_count:
          type: integer
          description: number of images on the page
          format: int64
          nullable: true
        images_size:
          type: integer
          description: total size of images on the page measured in bytes
          nullable: true
        scripts_count:
          type: integer
          description: number of scripts on the page
          format: int64
          nullable: true
        scripts_size:
          type: integer
          description: total size of scripts on the page measured in bytes
          nullable: true
        stylesheets_count:
          type: integer
          description: number of stylesheets on the page
          format: int64
          nullable: true
        stylesheets_size:
          type: integer
          description: total size of stylesheets on the page measured in bytes
          nullable: true
        title_length:
          type: integer
          description: length of the title tag in characters
          nullable: true
        description_length:
          type: integer
          description: length of the description tag in characters
          nullable: true
        render_blocking_scripts_count:
          type: integer
          description: number of scripts on the page that block page rendering
          format: int64
          nullable: true
        render_blocking_stylesheets_count:
          type: integer
          description: number of CSS styles on the page that block page rendering
          format: int64
          nullable: true
        cumulative_layout_shift:
          type: number
          description: "Core Web Vitals metric measuring the layout stability of the page\nmeasures the sum total of all individual
            layout shift scores for every unexpected layout shift that occurs during the entire lifespan of the page. Learn
            more."
          nullable: true
        meta_title:
          type: string
          description: "meta title of the page\nmeta tag in the head section of an HTML document that defines the title of
            a page"
          nullable: true
        content:
          type: object
          oneOf:
          - $ref: '#/components/schemas/HtmlContentInfo'
          description: overall information about content of the page
          nullable: true
        deprecated_tags:
          type: array
          items:
            type: string
            nullable: true
          description: deprecated tags on the page
          nullable: true
        duplicate_meta_tags:
          type: array
          items:
            type: string
            nullable: true
          description: duplicate meta tags on the page
          nullable: true
        spell:
          type: object
          oneOf:
          - $ref: '#/components/schemas/HunspellInfo'
          description: "spellcheck\nhunspell spellcheck errors"
          nullable: true
        social_media_tags:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: "object of social media tags found on the page\ncontains social media tags and their content\nsupported
            tags include but are not limited to Open Graph and Twitter card"
          nullable: true
        broken_html:
          type: object
          oneOf:
          - $ref: '#/components/schemas/OnPageResourceIssueInfo'
          description: resource errors and warnings
          nullable: true
    HtmlContentInfo:
      type: object
      properties:
        plain_text_size:
          type: integer
          description: total size of the text on the page measured in bytes
          nullable: true
        plain_text_rate:
          type: number
          description: "plaintext rate value\nplain_text_size to size ratio"
          format: double
          nullable: true
        plain_text_word_count:
          type: integer
          description: number of words on the page
          nullable: true
        automated_readability_index:
          type: number
          description: Automated Readability Index
          nullable: true
        coleman_liau_readability_index:
          type: number
          description: Coleman–Liau Index
          nullable: true
        dale_chall_readability_index:
          type: number
          description: Dale–Chall Readability Index
          nullable: true
        flesch_kincaid_readability_index:
          type: number
          description: Flesch–Kincaid Readability Index
          nullable: true
        smog_readability_index:
          type: number
          description: SMOG Readability Index
          nullable: true
        description_to_content_consistency:
          type: number
          description: "consistency of the meta description tag with the page content\nmeasured from 0 to 1"
          nullable: true
        title_to_content_consistency:
          type: number
          description: "consistency of the meta title tag with the page content\nmeasured from 0 to 1"
          nullable: true
        meta_keywords_to_content_consistency:
          type: number
          description: "consistency of meta keywordstag with the page content\nmeasured from 0 to 1"
          nullable: true
    HunspellInfo:
      type: object
      properties:
        hunspell_language_code:
          type: string
          description: spellcheck language code
          nullable: true
        misspelled:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/HunspellMisspelledInfo'
            nullable: true
          description: array of misspelled words
          nullable: true
    HunspellMisspelledInfo:
      type: object
      properties:
        word:
          type: string
          description: misspelled word
          nullable: true
    BaseResponseTaskInfo:
      properties:
        id:
          type: string
          description: "task identifier\nunique task identifier in our system in the UUID format"
          nullable: true
        status_code:
          type: integer
          description: "status code of the task\ngenerated by DataForSEO, can be within the following range: 10000-60000\n\
            you can find the full list of the response codes here"
          nullable: true
        status_message:
          type: string
          description: "informational message of the task\nyou can find the full list of general informational messages here"
          nullable: true
        time:
          type: string
          description: 'execution time, seconds'
          nullable: true
        cost:
          type: number
          description: 'total tasks cost, USD'
          format: double
          nullable: true
        result_count:
          type: integer
          description: number of elements in the result array
          format: int64
          nullable: true
        path:
          type: array
          items:
            type: string
            nullable: true
          description: URL path
          nullable: true
        data:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: contains the same parameters that you specified in the POST request
          nullable: true
    BaseResponseInfo:
      properties:
        version:
          type: string
          description: the current version of the API
          nullable: true
        status_code:
          type: integer
          description: "general status code\nyou can find the full list of the response codes here"
          nullable: true
        status_message:
          type: string
          description: "general informational message\nyou can find the full list of general informational messages here"
          nullable: true
        time:
          type: string
          description: 'total execution time, seconds'
          nullable: true
        cost:
          type: number
          description: 'total tasks cost, USD'
          format: double
          nullable: true
        tasks_count:
          type: integer
          description: the number of tasks in the tasks array
          format: int64
          nullable: true
        tasks_error:
          type: integer
          description: the number of tasks in the tasks array returned with an error
          format: int64
          nullable: true
    OnPageNonIndexableRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: "ID of the task\nrequired field\nyou can get this ID in the response of the Task POST endpoint\nexample:\n\
            “07131248-1535-0216-1000-17384017ad04”"
        limit:
          type: integer
          description: "the maximum number of returned pages\noptional field\ndefault value: 100\nmaximum value: 1000"
          nullable: true
        offset:
          type: integer
          description: "offset in the results array of returned pages\noptional field\ndefault value: 0\nif you specify the
            10 value, the first ten pages in the results array will be omitted and the data will be provided for the successive
            pages"
          nullable: true
        filters:
          type: array
          items:
            type: object
            nullable: true
          description: "array of results filtering parameters\noptional field\nyou can add several filters at once (8 filters
            maximum)\nyou should set a logical operator and, or between the conditions\nthe following operators are supported:\n\
            regex, not_regex, <, <=, >, >=, =, <>, in, not_in, like, not_like\nyou can use the % operator with like and not_like
            to match any string of zero or more characters\nexample:\n[\"reason\",\"=\",\"robots_txt\"][[\"reason\",\"<>\"\
            ,\"robots_txt\"],\n\"and\",\n[\"url\",\"not_like\",\"%/wp-admin/%\"]]\n[[\"url\",\"not_like\",\"%/wp-admin/%\"\
            ],\n\"and\",\n[[\"reason\",\"<>\",\"meta_tag\"],\"or\",[\"reason\",\"<>\",\"http_header\"]]]\nThe full list of
            possible filters is available by this link."
          nullable: true
      example:
      - id: 07281559-0695-0216-0000-c269be8b7592
        filters:
        - - reason
          - =
          - robots_txt
        - and
        - - url
          - like
          - '%go%'
        limit: 10
    OnPagePagesByResourceRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: "ID of the task\nrequired field\nyou can get this ID in the response of the Task POST endpoint\nexample:\n\
            “07131248-1535-0216-1000-17384017ad04”"
        url:
          type: string
          description: "resource URL\nrequired field\nyou can get this URL in the response of the Resources endpoint\nexample:\n\
            https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        limit:
          type: integer
          description: "the maximum number of returned pages\noptional field\ndefault value: 100\nmaximum value: 1000"
          nullable: true
        offset:
          type: integer
          description: "offset in the results array of returned pages\noptional field\ndefault value: 0\nif you specify the
            10 value, the first ten pages in the results array will be omitted and the data will be provided for the successive
            pages"
          nullable: true
        filters:
          type: array
          items:
            type: object
            nullable: true
          description: "array of results filtering parameters\noptional field\nyou can add several filters at once (8 filters
            maximum)\nyou should set a logical operator and, or between the conditions\nthe following operators are supported:\n\
            regex, not_regex, <, <=, >, >=, =, <>, in, not_in, like, not_like\nyou can use the % operator with like and not_like
            to match any string of zero or more characters\nexample:\n[\"meta.external_links_count\",\"<=\",50][\"url\",\"\
            like\",\"https://dataforseo.com/apis/dataforseo-labs-api\"]\n[[\"checks.high_waiting_time\",\"=\",false],\n\"\
            and\",[\"resource_type\",\"=\",\"html\"]]\n[[\"page_timing.duration_time\",\"<\",100],\"and\",[[\"checks.large_page_size\"\
            ,\"=\",false],\"or\",[\"checks.high_waiting_time\",\"=\",false]]]\nThe full list of possible filters is available
            by this link."
          nullable: true
        order_by:
          type: array
          items:
            type: string
          description: "results sorting rules\noptional field\nyou can use the same values as in the filters array to sort
            the results\npossible sorting types:\nasc – results will be sorted in the ascending order\ndesc – results will
            be sorted in the descending order\nyou should use a comma to set up a sorting type\nexample:\n[\"meta.external_links_count,desc\"\
            ]\nnote that you can set no more than three sorting rules in a single request\nyou should use a comma to separate
            several sorting rules\nexample:\n[\"page_timing.dom_complete,asc\",\"size,desc\"]"
          nullable: true
        tag:
          type: string
          description: "user-defined task identifier\noptional field\nthe character limit is 255\nyou can use this parameter
            to identify the task and match it with the result\nyou will find the specified tag value in the data object of
            the response"
          nullable: true
      example:
      - id: 02241700-1535-0216-0000-034137259bc1
        url: https://www.etsy.com/about/jobs.workco2018.js?
    OnPageResourcesRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: "ID of the task\nrequired field\nyou can get this ID in the response of the Task POST endpoint\nexample:\n\
            “07131248-1535-0216-1000-17384017ad04”"
        url:
          type: string
          description: "page URL\noptional field\nspecify this field if you want to get the resources for a specific page\n\
            note that to obtain resource’s meta from a particular URL, you should specify the URL in this field;\nif you do
            not indicate a url when setting a task, resource’s meta in the results will be returned based on the data from
            the page where our crawler first saw the resource"
          nullable: true
        limit:
          type: integer
          description: "the maximum number of returned resources\noptional field\ndefault value: 100\nmaximum value: 1000"
          nullable: true
        offset:
          type: integer
          description: "offset in the results array of returned resources\noptional field\ndefault value: 0\nif you specify
            the 10 value, the first ten resources in the results array will be omitted and the data will be provided for the
            successive resources"
          nullable: true
        filters:
          type: array
          items:
            type: object
            nullable: true
          description: "array of results filtering parameters\noptional field\nyou can add several filters at once (8 filters
            maximum)\nyou should set a logical operator and, or between the conditions\nthe following operators are supported:\n\
            regex, not_regex, <, <=, >, >=, =, <>, in, not_in, like, not_like\nyou can use the % operator with like and not_like
            to match any string of zero or more characters\nexample:\n[\"resource_type\",\"=\",\"stylesheet\"]\n[[\"resource_type\"\
            ,\"=\",\"image\"],\n\"and\",[\"checks.is_https\",\"=\",false]]\n[[\"fetch_timing.duration_time\",\">\",1],\"and\"\
            ,[[\"total_transfer_size\",\">\",100],\"or\",[\"checks.high_loading_time\",\"=\",true]]]\nThe full list of possible
            filters is available by this link."
          nullable: true
        relevant_pages_filters:
          type: array
          items:
            type: string
          description: "filter the resources by relevant pages\noptional field\nyou can use this field to obtain resources
            from pages matching to the defined parameters\nyou can apply the same filters here as available for the pages
            endpoint\nyou can add several filters at once (8 filters maximum)\nyou should set a logical operator and, or between
            the conditions\nthe following operators are supported:\nregex, not_regex, <, <=, >, >=, =, <>, in, not_in, like,
            not_like\nyou can use the % operator with like and not_like to match any string of zero or more characters\nexample:\n\
            [\"checks.no_image_title\",\"=\",true]"
          nullable: true
        order_by:
          type: array
          items:
            type: string
          description: "results sorting rules\noptional field\nyou can use the same values as in the filters array to sort
            the results\npossible sorting types:\nasc – results will be sorted in the ascending order\ndesc – results will
            be sorted in the descending order\nyou should use a comma to set up a sorting type\nexample:\n[\"size,desc\"]\n\
            note that you can set no more than three sorting rules in a single request\nyou should use a comma to separate
            several sorting rules\nexample:\n[\"size,desc\",\"fetch_timing.fetch_end,desc\"]"
          nullable: true
        search_after_token:
          type: string
          description: "token for subsequent requests\noptional field\nprovided in the identical filed of the response to
            each request;\nuse this parameter to avoid timeouts while trying to obtain over 20,000 results in a single request;\n\
            by specifying the unique search_after_token value from the response array, you will get the subsequent results
            of the initial task;\nsearch_after_token values are unique for each subsequent task ;\nNote: if the search_after_token
            is specified in the request, all other parameters should be identical to the previous request"
          nullable: true
        tag:
          type: string
          description: "user-defined task identifier\noptional field\nthe character limit is 255\nyou can use this parameter
            to identify the task and match it with the result\nyou will find the specified tag value in the data object of
            the response"
          nullable: true
      example:
      - id: 07281559-0695-0216-0000-c269be8b7592
        filters:
        - - resource_type
          - =
          - image
        - and
        - - size
          - '>'
          - 100000
        order_by:
        - 'size,desc'
        limit: 10
    OnPagePageScreenshotRequestInfo:
      type: object
      properties:
        url:
          type: string
          description: "page url\nrequired field\nabsolute URL of the page to snap\nnote: if the URL you indicate here returns
            a 404 status code or the indicated value is not a valid URL, you will obtain \"error_message\":\"Screenshot is
            empty\" in the response array"
        accept_language:
          type: string
          description: "language header for accessing the website\noptional field\nall locale formats are supported (xx, xx-XX,
            xxx-XX, etc.)\nnote: if you do not specify this parameter, some websites may deny access; in this case, you will
            obtain \"error_message\":\"Screenshot is empty\" in the response array"
          nullable: true
        custom_user_agent:
          type: string
          description: "custom user agent\noptional field\ncustom user agent for crawling a website\nexample: Mozilla/5.0
            (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36\n\
            \ndefault value: Mozilla/5.0 (compatible; RSiteAuditor)"
          nullable: true
        browser_preset:
          type: string
          description: "preset for browser screen parameters\noptional field\nif you use this field, you don’t need to indicate
            browser_screen_width, browser_screen_height, browser_screen_scale_factor\npossible values:\ndesktop, mobile, tablet\n\
            desktop preset will apply the following values:\nbrowser_screen_width: 1920\nbrowser_screen_height: 1080\nbrowser_screen_scale_factor:
            1\nmobile preset will apply the following values:\nbrowser_screen_width: 390\nbrowser_screen_height: 844\nbrowser_screen_scale_factor:
            3\ntablet preset will apply the following values:\nbrowser_screen_width: 1024\nbrowser_screen_height: 1366\nbrowser_screen_scale_factor:
            2\nNote: in this endpoint, the enable_browser_rendering, enable_javascript, load_resources, and enable_xhr parameters
            are always enabled."
          nullable: true
        browser_screen_width:
          type: integer
          description: "browser screen width\noptional field\nyou can set a custom browser screen width to perform audit for
            a particular device;\nif you use this field, you don’t need to indicate browser_preset as it will be ignored;\n\
            minimum value, in pixels: 240\nmaximum value, in pixels: 9999"
          format: int64
          nullable: true
        browser_screen_height:
          type: integer
          description: "browser screen height\noptional field\nyou can set a custom browser screen height to perform audit
            for a particular device;\nif you use this field, you don’t need to indicate browser_preset as it will be ignored;\n\
            minimum value, in pixels: 240\nmaximum value, in pixels: 9999"
          nullable: true
        browser_screen_scale_factor:
          type: number
          description: "browser screen scale factor\noptional field\nyou can set a custom browser screen resolution ratio
            to perform audit for a particular device;\nif you use this field, you don’t need to indicate browser_preset as
            it will be ignored;\nminimum value: 0.5\nmaximum value: 3"
          nullable: true
        full_page_screenshot:
          type: boolean
          description: "take a screenshot of the full page\noptional field\nset to false if you want to capture only the part
            of the page displayed before scrolling\ndefault value: true"
          nullable: true
        disable_cookie_popup:
          type: boolean
          description: "disable the cookie popup \noptional field\nset to true if you want to disable the popup requesting
            cookie consent from the user;\ndefault value:\nfalse"
          nullable: true
        switch_pool:
          type: boolean
          description: "switch proxy pool\noptional field\nif true, additional proxy pools will be used to obtain the requested
            data;\nthe parameter can be used if a multitude of tasks is set simultaneously, resulting in occasional rate-limit
            and/or site_unreachable errors"
          nullable: true
        ip_pool_for_scan:
          type: string
          description: "proxy pool\noptional field\nyou can choose a location of the proxy pool that will be used to obtain
            the requested data;\nthe parameter can be used if page content is inaccessible in one of the locations, resulting
            in occasional site_unreachable errors\npossible values: us, de"
          nullable: true
      example:
      - url: https://dataforseo.com/apis
    OnPageWaterfallRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: "ID of the task\nrequired field\nyou can get this ID in the response of the Task POST endpoint\nexample:\n\
            “07131248-1535-0216-1000-17384017ad04”"
        url:
          type: string
          description: "page URL\nrequired field\nspecify the pages you want to receive timing for"
        tag:
          type: string
          description: "user-defined task identifier\noptional field\nthe character limit is 255\nyou can use this parameter
            to identify the task and match it with the result\nyou will find the specified tag value in the data object of
            the response"
          nullable: true
      example:
      - id: 08101204-0696-0216-0000-644a7b21a48a
        url: https://dataforseo.com/tag/broken-links
    OnPageKeywordDensityResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageKeywordDensityTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    OnPageKeywordDensityTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageKeywordDensityResultInfo'
              nullable: true
            description: array of results
            nullable: true
    OnPageKeywordDensityResultInfo:
      type: object
      properties:
        crawl_progress:
          type: string
          description: "status of the crawling session\npossible values: in_progress, finished"
          nullable: true
        crawl_status:
          type: object
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
          nullable: true
        total_items_count:
          type: integer
          description: "total number of relevant items\ntotal number of keywords on the specified website or web page matching
            the set keyword_length and filters"
          format: int64
          nullable: true
        items_count:
          type: integer
          description: number of items in the results array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/OnPageKeywordDensityItem'
            nullable: true
          description: items array
          nullable: true
    OnPageKeywordDensityItem:
      type: object
      properties:
        keyword:
          type: string
          description: returned keyword
          nullable: true
        frequency:
          type: integer
          description: "keyword frequency\nnumber of times the keyword appears on the website (or webpage if you specified
            a url)"
          nullable: true
        density:
          type: number
          description: "keyword density\ncalculated as a ratio of frequency to the total count of keywords with the set keyword_length
            on the web page or website"
          nullable: true
    OnPageLinksResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageLinksTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    OnPageLinksTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageLinksResultInfo'
              nullable: true
            description: array of results
            nullable: true
    OnPageLinksResultInfo:
      type: object
      properties:
        crawl_progress:
          type: string
          description: "status of the crawling session\npossible values: in_progress, finished"
          nullable: true
        crawl_status:
          type: object
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
          nullable: true
        search_after_token:
          type: string
          nullable: true
        current_offset:
          type: integer
          nullable: true
        total_items_count:
          type: integer
          description: total number of relevant items in the database
          format: int64
          nullable: true
        items_count:
          type: integer
          description: number of items in the results array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BaseOnPageLinkItem'
            nullable: true
          description: items array
          nullable: true
    BaseOnPageLinkItem:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        domain_from:
          type: string
          description: "referring domain\nthe link was found on this domain"
          nullable: true
        domain_to:
          type: string
          description: "referenced domain\nthe link is pointing to this domain"
          nullable: true
        page_from:
          type: string
          description: "referring page\nrelative URL of the page on which the link was found"
          nullable: true
        page_to:
          type: string
          description: "referenced page\nrelative URL of the page to which the link is pointing"
          nullable: true
        link_from:
          type: string
          description: "referring page\nabsolute URL of the page on which the link was found"
          nullable: true
        link_to:
          type: string
          description: "referenced page\nabsolute URL of the page to which the link is pointing"
          nullable: true
        dofollow:
          type: boolean
          description: "indicates whether the link is dofollow\nif the value is true, the link doesn’t have a rel=\"nofollow\"\
            \ attribute"
          nullable: true
        page_from_scheme:
          type: string
          description: url scheme of the referring page
          nullable: true
        page_to_scheme:
          type: string
          description: url scheme of the referenced page
          nullable: true
        direction:
          type: string
          description: "direction of the link\npossible values: internal, external"
          nullable: true
        is_broken:
          type: boolean
          description: "link is broken\nindicates whether a link is directing to a broken page or resource"
          nullable: true
        is_link_relation_conflict:
          type: boolean
          description: "indicates that the link may have a conflict with another link\nif true, at least one link pointing
            to link_to has a rel=\"nofollow\" attribute and at least one is dofollow"
          nullable: true
        page_to_status_code:
          type: integer
          description: "status code of the referenced page\nstatus code of the page to which the link is pointing"
          nullable: true
      additionalProperties: false
      discriminator:
        propertyName: type
        mapping:
          anchor: '#/components/schemas/OnPageAnchorLinkItem'
          image: '#/components/schemas/OnPageImageLinkItem'
          canonical: '#/components/schemas/OnPageCanonicalLinkItem'
          alternate: '#/components/schemas/OnPageAlternateLinkItem'
          link: '#/components/schemas/OnPageLinkLinkItem'
          redirect: '#/components/schemas/OnPageRedirectLinkItem'
          meta: '#/components/schemas/OnPageMetaLinkItem'
    OnPageNonIndexableResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageNonIndexableTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    OnPageNonIndexableTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageNonIndexableResultInfo'
              nullable: true
            description: array of results
            nullable: true
    OnPageNonIndexableResultInfo:
      type: object
      properties:
        crawl_progress:
          type: string
          description: "status of the crawling session\npossible values: in_progress, finished"
          nullable: true
        crawl_status:
          type: object
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
          nullable: true
        total_items_count:
          type: integer
          description: total number of relevant items in the database
          format: int64
          nullable: true
        items_count:
          type: integer
          description: number of items in the results array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/OnPageNonIndexableItem'
            nullable: true
          description: items array
          nullable: true
    OnPageNonIndexableItem:
      type: object
      properties:
        reason:
          type: string
          description: "the reason why the page is non-indexable\ncan take the following values: robots_txt, meta_tag, http_header,
            attribute, too_many_redirects"
          nullable: true
        url:
          type: string
          description: url of the non-indexable page
          nullable: true
    OnPageIdListRequestInfo:
      type: object
      properties:
        datetime_from:
          type: string
          description: "start time for filtering results\nrequired field\nif include_metadata is set to true, maximum value:
            a month from current datetime;\nif include_metadata is set to false, maximum value: six months from current datetime;\n\
            must be specified in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n2023-01-15 12:57:46 +00:00"
        datetime_to:
          type: string
          description: "finish time for filtering results\nrequired field\nmaximum value: current datetime;\nmust be specified
            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n2023-01-31 13:57:46 +00:00"
        limit:
          type: integer
          description: "the maximum number of returned task IDs\noptional field\ndefault value: 1000\nmaximum value: 1000"
          nullable: true
        offset:
          type: integer
          description: "offset in the results array of returned task IDs\noptional field\ndefault value: 0\nif you specify
            the 10 value, the first ten tasks in the results array will be omitted"
          nullable: true
        sort:
          type: string
          description: "sorting by task execution time\noptional field\npossible values: \"asc\", \"desc\"\ndefault value:
            \"asc\""
          nullable: true
        include_metadata:
          type: boolean
          description: "include task metadata in the respond\noptional field\ndefault value: false"
          nullable: true
      example:
      - datetime_from: '2026-04-12 04:39:39 +00:00'
        datetime_to: '2026-04-14 04:39:39 +00:00'
        limit: 100
        offset: 0
        sort: desc
        include_metadata: true
    OnPageLighthouseAuditsResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageLighthouseAuditsTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    OnPageLighthouseAuditsTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageLighthouseAuditsResultInfo'
              nullable: true
            description: array of results
            nullable: true
    OnPageLighthouseAuditsResultInfo:
      type: object
      properties:
        audits:
          type: array
          items:
            type: string
            nullable: true
          description: "the list of available lighthouse audits\nan array containing the titles of available audits;\nNote:
            the titles can change depending on if the audit passed or failed and may contain markdown code;\nNote #2: if you’re
            using the audit that contains a slash (/) in its name, search by the last word after the slash"
          nullable: true
    OnPageLighthouseLiveJsonRequestInfo:
      type: object
      properties:
        url:
          type: string
          description: "target URL\nrequired field\ntarget page should be specified with its absolute URL (including http://
            or https://)\nexample:\nhttps://dataforseo.com/"
        for_mobile:
          type: boolean
          description: "applies mobile emulation\noptional field\nif set to true, Lighthouse will use mobile device and screen
            emulation to test the page against mobile environment\nif set to false, the results will be provided for desktop\n\
            default value: false"
          nullable: true
        categories:
          type: array
          items:
            type: string
          description: "categories of Lighthouse audits\noptional field\neach category is a collection of audits and audit
            groups that applies weighting and scoring to the section (see official definition)\nif you ignore this field,
            we will return data for all categories unless you specify audits\nuse this field to get data for specific categories
            you indicate here\npossible values:\nseo, performance, best_practices, accessibility"
          nullable: true
        audits:
          type: array
          items:
            type: string
          description: "Lighthouse audits\noptional field\naudits are individual tests Lighthouse runs for each specific feature/optimization/metric
            to produce a numeric score (see official definition);  \nif you ignore this field, we will return data for all
            audits;\nuse this field to get data for specific audits you indicate here;\nNote: that some audits do not belong
            to a specific category and are stand-alone page quality measurements;\nin general, there can be several use cases:\n\
            1. if you ignore categories, you can use this field to get data for the specified audits only\nfor example, if
            you ignore \"categories\" and specify \"audits\": [\"metrics/cumulative-layout-shift\",\"metrics/largest-contentful-paint\"\
            ,\"metrics/total-blocking-time\"], you will get data only for these audits\n2. if you specify a category, you
            can use this field to additionally receive audits that do not belong to the category(-ies) you specified\nfor
            example, if you specify \"categories\": [\"seo\"] and \"audits\": [\"metrics/cumulative-layout-shift\",\"metrics/largest-contentful-paint\"\
            ,\"metrics/total-blocking-time\"], you will get only these audits under “performance” and all audits under “seo”\n\
            you can get the full list of possible audits here"
          nullable: true
        version:
          type: string
          description: "lighthouse version\noptional field\nyou can obtain the results specific to a certain Lighthouse version
            by specifying its number\nthe list of available versions is available through the Lighthouse Versions endpoint"
          nullable: true
        language_name:
          type: string
          description: "lighthouse language name\noptional field\nyou can receive the list of available languages of the search
            engine with their language_name by making a separate request to https://api.dataforseo.com/v3/on_page/lighthouse/languages\n\
            default value:\nEnglish"
          nullable: true
        language_code:
          type: string
          description: "lighthouse language code\noptional field\nyou can receive the list of available languages of the search
            engine with their language_code by making a separate request to https://api.dataforseo.com/v3/on_page/lighthouse/languages\n\
            default value:\nen"
          nullable: true
        tag:
          type: string
          description: "user-defined task identifier\noptional field\nthe character limit is 255\nyou can use this parameter
            to identify the task and match it with the result\nyou will find the specified tag value in the data object of
            the response"
          nullable: true
      example:
      - url: https://dataforseo.com
        for_mobile: true
        tag: some_string_123
    OnPageContentParsingRequestInfo:
      type: object
      properties:
        url:
          type: string
          description: "URL of the content to parse\nrequired field\nURL of the page to parse\nexample:\nhttps://dataforseo.com/blog/a-versatile-alternative-to-google-trends-exploring-the-power-of-dataforseo-trends-api"
        id:
          type: string
          description: "ID of the task\nrequired field\nyou can get this ID in the response of the Task POST endpoint\nnote:
            the enable_content_parsing parameter in the POST request must be set to true\nexample:\n\"07131248-1535-0216-1000-17384017ad04\""
        markdown_view:
          type: boolean
          description: "return page content as markdown\noptional field\nif set to true, the markdown-formatted content of
            the page will be returned in the page_as_markdown field of the response;\ndefault value: false"
          nullable: true
      example:
      - url: 
          https://dataforseo.com/blog/a-versatile-alternative-to-google-trends-exploring-the-power-of-dataforseo-trends-api
        id: 11161551-1535-0216-0000-500b3f307f92
    OnPageMicrodataRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: "ID of the task\nrequired field\nyou can get this ID in the response of the Task POST endpoint\nexample:\n\
            \"07131248-1535-0216-1000-17384017ad04\""
        url:
          type: string
          description: "resource URL\nrequired field\nyou can get this URL in the response of the Pages endpoint\nexample:\n\
            https://dataforseo.com/apis"
        tag:
          type: string
          description: "user-defined task identifier\noptional field\nthe character limit is 255\nyou can use this parameter
            to identify the task and match it with the result\nyou will find the specified tag value in the data object of
            the response"
          nullable: true
      example:
      - id: 02241700-1535-0216-0000-034137259bc1
        url: https://dataforseo.com/apis
    OnPageContentParsingLiveRequestInfo:
      type: object
      properties:
        url:
          type: string
          description: "URL of the content to parse\nrequired field\nURL of the page to parse\nexample:\nhttps://www.fujielectric.com/"
        custom_user_agent:
          type: string
          description: "custom user agent\noptional field\ncustom user agent for crawling a website\nexample: Mozilla/5.0
            (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36\n\
            \ndefault value: Mozilla/5.0 (compatible; RSiteAuditor)"
          nullable: true
        browser_preset:
          type: string
          description: "preset for browser screen parameters\noptional field\nif you use this field, you don’t need to indicate
            browser_screen_width, browser_screen_height, browser_screen_scale_factor\npossible values:\ndesktop, mobile, tablet\n\
            desktop preset will apply the following values:\nbrowser_screen_width: 1920\nbrowser_screen_height: 1080\nbrowser_screen_scale_factor:
            1\nmobile preset will apply the following values:\nbrowser_screen_width: 390\nbrowser_screen_height: 844\nbrowser_screen_scale_factor:
            3\ntablet preset will apply the following values:\nbrowser_screen_width: 1024\nbrowser_screen_height: 1366\nbrowser_screen_scale_factor:
            2\nNote: to use this parameter, set enable_javascript or enable_browser_rendering to true"
          nullable: true
        browser_screen_width:
          type: integer
          description: "browser screen width\noptional field\nyou can set a custom browser screen width to perform audit for
            a particular device;\nif you use this field, you don’t need to indicate browser_preset as it will be ignored;\n\
            Note: to use this parameter, set enable_javascript or enable_browser_rendering to true\nminimum value, in pixels:
            240\nmaximum value, in pixels: 9999"
          format: int64
          nullable: true
        browser_screen_height:
          type: integer
          description: "browser screen height\noptional field\nyou can set a custom browser screen height to perform audit
            for a particular device;\nif you use this field, you don’t need to indicate browser_preset as it will be ignored;\n\
            Note: to use this parameter, set enable_javascript or enable_browser_rendering to true\nminimum value, in pixels:
            240\nmaximum value, in pixels: 9999"
          nullable: true
        browser_screen_scale_factor:
          type: number
[...]
