openapi: 3.0.1
info:
  title: DataForSEO AiOptimization Merchant API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: Merchant
paths:
  /v3/merchant/id_list:
    post:
      tags:
      - Merchant
      description: 'This endpoint is designed to provide you with a list of IDs and metadata for all Merchant tasks created within the specified time period, including both successful and uncompleted tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/id_list/?bash'''
      operationId: MerchantIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantIdListRequestInfo'
                nullable: true
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantIdListResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/errors:
    post:
      tags:
      - Merchant
      description: 'By calling this endpoint you will receive information about the Merchant API tasks that returned an error within the past 7 days.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/errors/?bash'''
      operationId: MerchantErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantErrorsRequestInfo'
                nullable: true
              example:
              - limit: 10
                offset: 0
                filtered_function: pingback_url
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantErrorsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/languages:
    get:
      tags:
      - Merchant
      description: 'You will receive the list of supported Google Shopping languages by calling this API.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/languages/?bash'''
      operationId: MerchantGoogleLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/locations:
    get:
      tags:
      - Merchant
      description: for more info please visit 'https://docs.dataforseo.com/v3/merchant/google/locations/?bash'
      operationId: MerchantGoogleLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/locations/{country}:
    get:
      tags:
      - Merchant
      description: for more info please visit 'https://docs.dataforseo.com/v3/merchant/google/locations/?bash'
      operationId: MerchantGoogleLocationsCountry
      parameters:
      - name: country
        in: path
        description: 'country ISO code

          optional field

          specify the ISO code if you want to filter the list of locations by country

          example:

          us'
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleLocationsCountryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/products/task_post:
    post:
      tags:
      - Merchant
      description: 'Google Shopping Products endpoint will provide you with the list of products found on Google Shopping for the specified query. The results include product title, description in Google Shopping SERP, product rank, price, reviews and rating as well as the related domain.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/products/task_post/?bash'''
      operationId: GoogleProductsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductsTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                keyword: iphone
                price_min: 5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/products/tasks_ready:
    get:
      tags:
      - Merchant
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/products/tasks_ready/?bash'''
      operationId: GoogleProductsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/tasks_ready:
    get:
      tags:
      - Merchant
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/products/tasks_ready/?bash'''
      operationId: MerchantTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/products/task_get/advanced/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/products/task_get/advanced/?bash'''
      operationId: GoogleProductsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductsTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/products/task_get/html/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/products/task_get/html/?bash'''
      operationId: GoogleProductsTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductsTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/sellers/task_post:
    post:
      tags:
      - Merchant
      description: 'Google Shopping Sellers endpoint will provide you with the list of top 10 sellers that listed the specified product on Google Shopping. The provided data for each seller includes related product base and total price, shipment and purchase details and special offers. The results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/sellers/task_post/?bash'''
      operationId: GoogleSellersTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleSellersTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                product_id: '1113158713975221117'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleSellersTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/sellers/tasks_ready:
    get:
      tags:
      - Merchant
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/sellers/tasks_ready/?bash'''
      operationId: GoogleSellersTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleSellersTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/sellers/task_get/advanced/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/sellers/task_get/advanced/?bash'''
      operationId: GoogleSellersTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleSellersTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/product_info/task_post:
    post:
      tags:
      - Merchant
      description: 'This endpoint provides data on a product listed on Google Shopping, including product description, images, rating, variations, specifications and sellers. In order to set a task, you have to specify one of the following fields:  product_id, data_docid, or gid.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/product_info/task_post/?bash'''
      operationId: GoogleProductInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductInfoTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                product_id: '1113158713975221117'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductInfoTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/product_info/tasks_ready:
    get:
      tags:
      - Merchant
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/product_info/tasks_ready/?bash'''
      operationId: GoogleProductInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductInfoTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/product_info/task_get/advanced/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/product_info/task_get/advanced/?bash'''
      operationId: GoogleProductInfoTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductInfoTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/sellers/ad_url/{shop_ad_aclk}:
    get:
      tags:
      - Merchant
      description: 'Google Shopping Sellers Ad URL is designed to provide you with a full URL of the advertisement containing all additional parameters set by the seller.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/sellers/ad_url/?bash'''
      operationId: GoogleSellersAdUrl
      parameters:
      - name: shop_ad_aclk
        in: path
        description: 'unique ad click referral parameter

          you can obtain this parameter with Google Shopping Products or Google Shopping Sellers'
        required: true
        schema:
          type: string
        example: DChcSEwiSl5TKpbPoAhVFmdUKHfa_B_wYABADGgJ3cw&sig
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleSellersAdUrlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/locations:
    get:
      tags:
      - Merchant
      description: 'You will receive the list of supported Amazon locations by this API call. You can filter the list of locations by country when setting a task.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/locations/?bash'''
      operationId: AmazonLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/locations/{country}:
    get:
      tags:
      - Merchant
      description: 'You will receive the list of supported Amazon locations by this API call. You can filter the list of locations by country when setting a task.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/locations/?bash'''
      operationId: AmazonLocationsCountry
      parameters:
      - name: country
        in: path
        description: 'country ISO code

          optional field

          specify the ISO code if you want to filter the list of locations by country

          example:

          us'
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonLocationsCountryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/languages:
    get:
      tags:
      - Merchant
      description: 'You will receive the list of supported Amazon languages by calling this API.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/languages/?bash'''
      operationId: AmazonLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/products/task_post:
    post:
      tags:
      - Merchant
      description: 'This endpoint provides results from Amazon product listings according to the specified keyword (product name), location, and language parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/products/task_post/?bash'''
      operationId: AmazonProductsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonProductsTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en_US
                location_code: 2840
                keyword: shoes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonProductsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/products/tasks_ready:
    get:
      tags:
      - Merchant
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/products/tasks_ready/?bash'''
      operationId: AmazonProductsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonProductsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/products/task_get/advanced/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/products/task_get/advanced/?bash'''
      operationId: AmazonProductsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonProductsTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/products/task_get/html/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/products/task_get/html/?bash'''
      operationId: AmazonProductsTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonProductsTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/asin/task_post:
    post:
      tags:
      - Merchant
      description: 'This endpoint will provide you with a full list of ASINs assigned to different modifications of a product.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/asin/task_post/?bash'''
      operationId: AmazonAsinTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonAsinTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en_US
                location_code: 2840
                asin: B0756FCPPN
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonAsinTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/asin/tasks_ready:
    get:
      tags:
      - Merchant
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/asin/tasks_ready/?bash'''
      operationId: AmazonAsinTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonAsinTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/asin/task_get/advanced/{id}:
    get:
      tags:
      - Merchant
      description: 'This endpoint will provide you with information about the product and ASINs of all its modifications listed on Amazon.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/asin/task_get/advanced/?bash'''
      operationId: AmazonAsinTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonAsinTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/asin/task_get/html/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/asin/task_get/html/?bash'''
      operationId: AmazonAsinTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonAsinTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/sellers/task_post:
    post:
      tags:
      - Merchant
      description: 'This endpoint provides a list of sellers of the specified product on Amazon. The data provided for each seller includes related product condition, pricing, shipment, and rating details.

        The results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/sellers/task_post/?bash'''
      operationId: AmazonSellersTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonSellersTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en_US
                location_code: 2840
                asin: B085RFFC9Q
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonSellersTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/sellers/tasks_ready:
    get:
      tags:
      - Merchant
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/sellers/tasks_ready/?bash'''
      operationId: AmazonSellersTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonSellersTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/sellers/task_get/advanced/{id}:
    get:
      tags:
      - Merchant
      description: 'This endpoint provides a list of sellers of the specified product on Amazon. The data provided for each seller includes related product condition, pricing, shipment, and rating details.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/sellers/task_get/advanced/?bash'''
      operationId: AmazonSellersTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonSellersTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/sellers/task_get/html/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/sellers/task_get/html/?bash'''
      operationId: AmazonSellersTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonSellersTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
components:
  schemas:
    BaseResponseTaskInfo:
      properties:
        id:
          type: string
          description: 'task identifier

            unique task identifier in our system in the UUID format'
          nullable: true
        status_code:
          type: integer
          description: 'status code of the task

            generated by DataForSEO, can be within the following range: 10000-60000

            you can find the full list of the response codes here'
          nullable: true
        status_message:
          type: string
          description: 'informational message of the task

            you can find the full list of general informational messages here'
          nullable: true
        time:
          type: string
          description: execution time, seconds
          nullable: true
        cost:
          type: number
          description: total tasks cost, USD
          format: double
          nullable: true
        result_count:
          type: integer
          description: number of elements in the result array
          format: int64
          nullable: true
        path:
          type: array
          items:
            type: string
            nullable: true
          description: URL path
          nullable: true
        data:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: contains the same parameters that you specified in the POST request
          nullable: true
    MerchantAmazonSellersTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonSellersTaskGetAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AmazonProductNewerModelInfo:
      type: object
      properties:
        title:
          type: string
          description: product title
          nullable: true
        newer_model_asin:
          type: string
          description: ASIN of the newer product model
          nullable: true
    MerchantAmazonLocationsCountryTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonLocationsCountryResultInfo'
              nullable: true
            description: array of results
            nullable: true
    VideoElement:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        source:
          type: string
          description: URL to the video source
          nullable: true
        preview:
          type: string
          description: URL to the video preview image
          nullable: true
        title:
          type: string
          description: title of the row
          nullable: true
        timestamp:
          type: string
          description: 'date and time when the result was published

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        url:
          type: string
          description: URL of element
          nullable: true
    MerchantAmazonAsinTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonAsinTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantGoogleProductInfoTasksReadyResultInfo:
      type: object
      properties:
        id:
          type: string
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
          nullable: true
        se:
          type: string
          description: search engine specified when setting the task
          nullable: true
        se_type:
          type: string
          description: 'type of search engine

            can take the following values: shopping_specifications'
          nullable: true
        date_posted:
          type: string
          description: date when the task was posted (in the UTC format)
          nullable: true
        tag:
          type: string
          description: user-defined task identifier
          nullable: true
        endpoint_advanced:
          type: string
          description: URL for collecting the results of the Google Shopping Product Specifications Advanced task
          nullable: true
        endpoint_html:
          type: string
          description: 'URL for collecting the results of the Google Shopping Product Specifications HTML task

            note: HTML is not available for this endpoint, the value will be null'
          nullable: true
    MerchantAmazonProductsTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: object
            description: 'array of results

              in this case, the value will be null'
            nullable: true
    MerchantAmazonAsinTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonAsinTaskGetAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    PriceInfo:
      type: object
      properties:
        current:
          type: number
          description: 'current price

            indicates the current price of the product or service featured in the result'
          format: double
          nullable: true
        regular:
          type: number
          description: 'regular price

            indicates the regular price of the product or service with no discounts applied'
          format: double
          nullable: true
        max_value:
          type: number
          description: 'the maximum price

            the maximum price of the product or service as indicated in the result'
          format: double
          nullable: true
        currency:
          type: string
          description: 'currency of the listed price

            ISO code of the currency applied to the price'
          nullable: true
        is_price_range:
          type: boolean
          description: 'price is provided as a range

            indicates whether a price is provided in a range'
          nullable: true
        displayed_price:
          type: string
          description: 'price string in the result

            raw price string as provided in the result'
          nullable: true
    MerchantGoogleProductsTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleProductsTaskPostTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantGoogleSellersTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleSellersTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    ProductInfoElement:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: 'position within a group of elements with identical type values

            positions of elements with different type values are omitted from rank_group'
          nullable: true
        rank_absolute:
          type: integer
          description: 'absolute rank on the product specification page

            absolute position among all the elements found on the product specification page'
          nullable: true
        position:
          type: string
          description: 'alignment of the element on the product specification page

            can take the following values:

            right, left'
          nullable: true
        product_id:
          type: string
          description: 'product_id received in a POST array

            ilearn more about the parameter in this help center guide'
          nullable: true
        title:
          type: string
          description: title of the product
          nullable: true
        description:
          type: string
          description: description of the product
          nullable: true
        url:
          type: string
          description: 'product url

            url of the product on Google Shopping'
          nullable: true
        images:
          type: array
          items:
            type: string
            nullable: true
          description: 'product images

            contains urls to product images'
          nullable: true
        features:
          type: array
          items:
            type: string
            nullable: true
          description: 'product features

            contains snippets with the description of product features'
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingElement'
          description: "product rating \nthe popularity rate based on reviews"
          nullable: true
        seller_reviews_count:
          type: integer
          description: 'number of seller reviews

            number of reviews on the product seller’s account'
          format: int64
          nullable: true
        data_docid:
          type: string
          description: 'unique identifier of the SERP data element

            note that there is no full list of possible values as the data_docid is a dynamic value assigned by Google

            example:

            17363035694596624076'
          nullable: true
        gid:
          type: string
          description: 'global product identifier on Google Shopping

            note that there is no full list of possible values as the gid is a dynamic value assigned by Google

            if there are no values, you will get null

            example:

            4702526954592161872

            learn more about gid in this help center guide'
          nullable: true
        specifications:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/ShoppingSpecification'
            nullable: true
          description: 'product specifications

            contains all product attributes and related data listed on the product specification page'
          nullable: true
        sellers:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/ProductSeller'
            nullable: true
          description: 'sellers of the product

            number of reviews on the product seller’s account'
          nullable: true
        variations:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/ProductVariation'
            nullable: true
          description: 'variations of the product

            contains brief information about different product variations'
          nullable: true
    MerchantGoogleProductsTaskGetHtmlTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleProductsTaskGetHtmlResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantAmazonSellersTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: object
            description: 'array of results

              in this case, the value will be null'
            nullable: true
    MerchantGoogleSellersAdUrlResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleSellersAdUrlTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantGoogleLanguagesResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleLanguagesTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    ProductSeller:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        title:
          type: string
          description: product title
          nullable: true
        url:
          type: string
          description: 'seller url

            url of the page where the product is sold'
          nullable: true
        seller_rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingElement'
          description: rating of the seller
          nullable: true
        seller_review_count:
          type: integer
          description: 'number of seller reviews

            number of reviews on the product seller’s account'
          nullable: true
        price:
          type: object
          oneOf:
          - $ref: '#/components/schemas/PriceInfo'
          description: 'product price

            product price details on the seller’s website'
          nullable: true
        delivery_info:
          type: object
          oneOf:
          - $ref: '#/components/schemas/DeliveryInfo'
          description: 'delivery information

            product delivery information'
          nullable: true
        product_availability:
          type: string
          description: 'product availability information

            can take the following values: in_stock, limited_stock, out_of_stock, backordered, pre_order_available, on_display_to_order'
          nullable: true
    ProductVariation:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        product_id:
          type: string
          description: 'product ID in a POST array

            learn more about the parameter in this help center guide'
          nullable: true
        gid:
          type: string
          description: 'GID ID in a POST array

            learn more about the parameter in this help center guide'
          nullable: true
        data_docid:
          type: string
          description: unique identifier of the SERP data element in the POST array
          nullable: true
        pvf:
          type: string
          description: 'product variation filter

            used in the product variation URL as the identifier of the specific product variation'
          nullable: true
        title:
          type: string
          description: name of the product seller
          nullable: true
        url:
          type: string
          description: product variation URL on Google Shopping
          nullable: true
        variation_category:
          type: string
          description: 'category of the product variation

            example: "Storage Capacity"'
          nullable: true
    MerchantAmazonProductsTaskGetHtmlTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonProductsTaskGetHtmlResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantErrorsResultInfo:
      type: object
      properties:
        id:
          type: string
          description: id of the task
          nullable: true
        datetime:
          type: string
          description: 'date and time when an error occurred

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        function:
          type: string
          description: corresponding API function
          nullable: true
        error_code:
          type: integer
          description: error code
          nullable: true
        error_message:
          type: string
          description: 'error message or error URL

            error message (see full list) or URL that caused an error'
          nullable: true
        http_url:
          type: string
          description: 'URL that caused an error

            URL you used for making an API call or pingback/postback URL'
          nullable: true
        http_method:
          type: string
          description: HTTP method
          nullable: true
        http_code:
          type: integer
          description: HTTP status code
          nullable: true
        http_time:
          type: number
          description: 'time taken by HTTP request

            for tasks set with a pingback/postback, this field will show the time it took your server to respond'
          nullable: true
        http_response:
          type: string
          description: 'HTTP response

            server response'
          nullable: true
    MerchantGoogleSellersTasksReadyResultInfo:
      type: object
      properties:
        id:
          type: string
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
          nullable: true
        se:
          type: string
          description: search engine specified when setting the task
          nullable: true
        se_type:
          type: string
          description: 'type of search engine

            can take the following values: shopping'
          nullable: true
        date_posted:
          type: string
          description: date when the task was posted (in the UTC format)
          nullable: true
        tag:
          type: string
          description: user-defined task identifier
          nullable: true
        endpoint_advanced:
          type: string
          description: URL for collecting the results of Google Shopping Sellers Advanced task
          nullable: true
        endpoint_html:
          type: string
          description: URL for collecting the results of Google Shopping Sellers HTML task
          nullable: true
    MerchantAmazonSellersTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonSellersTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantAmazonProductsTaskPostRequestInfo:
      type: object
      properties:
        keyword:
          type: string
          description: 'keyword

            required field

            you can specify up to 700 characters in this field

            all %## will be decoded (plus character ‘+’ will be decoded to a space character)

            if you need to use the “%” character for your keyword, please specify it as “%25”;

            learn more about rules and limitations of keyword and keywords fields in DataForSEO APIs in this Help Center article'
        url:
          type: string
          description: 'direct URL of the search query

            optional field

            you can specify a direct URL and we will sort it out to the necessary fields. Note that this method is the most difficult for our API to process and also requires you to specify the exact language and location in the URL. In most cases, we wouldn’t recommend using this method.

            example:

            https://www.amazon.com/s/?field-keywords=shoes&language=en_US'
          nullable: true
        priority:
          type: integer
          description: 'task priority

            optional field

            can take the following values:

            1 – normal execution priority (set by default)

            2 – high execution priority

            You will be additionally charged for the tasks with high execution priority.

            The cost can be calculated on the Pricing page.'
          nullable: true
        location_name:
          type: string
          description: 'full name of search engine location

            required field if you don’t specify location_code or location_coordinate

            if you use this field, you don’t need to specify location_code or location_coordinate

            you can receive the list of available locations with their location_name parameters by making a separate request to the https://api.dataforseo.com/v3/merchant/amazon/locations

            example:

            HA1,England,United Kingdom'
          nullable: true
        location_code:
          type: integer
          description: 'search engine location code

            required field if you don’t specify location_name or location_coordinate

            if you use this field, you don’t need to specify location_name or location_coordinate

            you can receive the list of available locations with their location_code parameters by making a separate request to the

            https://api.dataforseo.com/v3/merchant/amazon/locations

            example:

            9045969'
          nullable: true
        location_coordinate:
          type: string
          description: 'GPS coordinates of a location

            required field if you don’t specify location_name or location_code

            if you use this field, you don’t need to specify location_name or location_code

            location_coordinate parameter should be specified in the “latitude,longitude,radius” format

            the maximum number of decimal digits for “latitude” and “longitude”: 7

            the minimum value for “radius”: 199.9

            example:

            53.476225,-2.243572,200'
          nullable: true
        language_name:
          type: string
          description: 'full name of search engine language

            required field if you don’t specify language_code

            if you use this field, you don’t need to specify language_code

            you can receive the list of available languages with their language_name parameters by making a separate request to the

            https://api.dataforseo.com/v3/merchant/amazon/languages

            example:

            English (United Kingdom)'
          nullable: true
        language_code:
          type: string
          description: 'search engine language code

            required field if you don’t specify language_name

            if you use this field, you don’t need to specify language_name

            you can receive the list of available languages with their language_code parameters by making a separate request to the https://api.dataforseo.com/v3/merchant/amazon/languages

            example:

            en_GB'
          nullable: true
        se_domain:
          type: string
          description: 'search engine domain

            optional field

            we choose the relevant search engine domain automatically according to the location and language you specify

            however, you can set a custom search engine domain in this field

            example:

            amazon.com, amazon.co.uk, amazon.fr, etc.'
          nullable: true
        depth:
          type: integer
          description: 'parsing depth

            optional field

            number of results to be retrieved from the Amazon results page

            default value: 100

            max value: 700

            Your account will be billed per each SERP containing up to 100 results;

            Setting depth above 100 may result in additional charges if the search engine returns more than 100 results;

            The cost can be calculated on the Pricing page.'
          nullable: true
        max_crawl_pages:
          type: integer
          description: 'page crawl limit

            optional field

            number of search results pages to crawl

            max value: 7

            Note: the max_crawl_pages and depth parameters complement each other;

            learn more at our help center'
          nullable: true
        department:
          type: string
          description: 'amazon product department

            optional field

            specify one of the following amazon departments for extracting product listings:

            "Arts & Crafts", "Automotive", "Baby", "Beauty & Personal Care", "Books", "Computers", "Digital Music", "Electronics", "Kindle Store", "Prime Video", "Women''s Fashion", "Men''s Fashion", "Girls'' Fashion", "Boys'' Fashion", "Deals", "Health & Household", "Home & Kitchen", "Industrial & Scientific", "Luggage", "Movies & TV", "Music, CDs & Vinyl", "Pet Supplies", "Software", "Sports & Outdoors", "Tools & Home Improvement", "Toys & Games", "Video Games"'
          nullable: true
        search_param:
          type: string
          description: 'additional parameters of the search query

            optional field

            you can use the following Amazon search URL parameters for customizing the search

            example:

            &low-price=52 – search for products that cost more than 52 USD;

            &high-price=45 – search for products that cost less than 45 USD;

            &sort=relevancerank – sort results by relevance;

            &sort=featured-rank – sort results by featured products;

            &sort=price-asc-rank – sort by ascending price;

            &sort=price-desc-rank – sort by descending price;

            &sort=review-rank – sort by the average customer reviews value;

            &sort=date-desc-rank – sort by the newest arrival

            Note that search_param values will be ignored if any of the following parameters is used: price_min, price_max, sort_by'
          nullable: true
        price_min:
          type: integer
          description: 'minimum product price

            optional field

            minimum price of the returned products listed on Amazon for the specified query

            example:

            5

            Note: if you specify price_min, the search_param parameter will be ignored'
          nullable: true
        price_max:
          type: integer
          description: 'maximum product price

            optional field

            maximum price of the returned products listed on Amazon for the specified query

            example:

            100

            Note: if you specify price_max, the search_param parameter will be ignored'
          nullable: true
        sort_by:
          type: string
          description: 'results sorting rules

            optional field

            the following sorting rules are supported:

            relevance, price_low_to_high, price_high_to_low, featured, avg_customer_review, newest_arrival

            example:

            sort_by:"relevance"

            Note: if you specify sort_by, the search_param parameter will be ignored'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
        postback_url:
          type: string
          description: 'URL for sending task results

            optional field

            once the task is completed, we will send a POST request with its results compressed in the gzip format to the postback_url you specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/postbackscript?id=$id

            http://your-server.com/postbackscript?id=$id&tag=$tag

            Note: special characters in postback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
          nullable: true
        postback_data:
          type: string
          description: 'postback_url datatype

            required field if you specify postback_url

            corresponds to the datatype that will be sent to your server

            possible values:

            advanced, html'
          nullable: true
        pingback_url:
          type: string
          description: 'notification URL of a completed task

            optional field

            when a task is completed we will notify you by GET request sent to the URL you have specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/pingscript?id=$id

            http://your-server.com/pingscript?id=$id&tag=$tag

            Note: special characters in pingback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
          nullable: true
      example:
      - language_code: en_US
        location_code: 2840
        keyword: shoes
    MerchantAmazonAsinTaskGetAdvancedResultInfo:
      type: object
      properties:
        asin:
          type: string
          description: 'ASIN received in a POST array

            the unique product identifier in Amazon (ASIN) received in a POST array

            learn more about the identified in this help center guide'
          nullable: true
        type:
          type: string
          description: type of element
          nullable: true
        se_domain:
          type: string
          description: Amazon domain in a POST array
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        check_url:
          type: string
          description: 'direct URL to Amazon results

            you can use it to make sure that we provided accurate results'
          nullable: true
        datetime:
          type: string
          description: 'date and time when the result was received

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        item_types:
          type: array
          items:
            type: string
            nullable: true
          description: 'types of search results found on Amazon

            contains types of all search results (items) found in the returned SERP

            possible item types:

            amazon_product_info'
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AmazonProductInfo'
            nullable: true
          description: Amazon product info items
          nullable: true
    MerchantGoogleProductsTasksReadyResultInfo:
      type: object
      properties:
        id:
          type: string
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
          nullable: true
        se:
          type: string
          description: search engine specified when setting the task
          nullable: true
        se_type:
          type: string
          description: 'type of search engine

            example: products'
          nullable: true
        date_posted:
          type: string
          description: date when the task was posted (in the UTC format)
          nullable: true
        tag:
          type: string
          description: user-defined task identifier
          nullable: true
        endpoint_advanced:
          type: string
          description: URL for collecting the results of Google Shopping Products Advanced task
          nullable: true
        endpoint_html:
          type: string
          description: URL for collecting the results of Google Shopping Products HTML task
          nullable: true
    MerchantGoogleSellersTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleSellersTaskGetAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantTasksReadyResultInfo:
      type: object
      properties:
        id:
          type: string
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
          nullable: true
        se:
          type: string
          description: search engine specified when setting the task
          nullable: true
        se_type:
          type: string
          description: type of search engine
          nullable: true
        date_posted:
          type: string
          description: date when the task was posted (in the UTC format)
          nullable: true
        tag:
          type: string
          description: user-defined task identifier
          nullable: true
        endpoint_advanced:
          type: string
          description: URL for collecting the results of Amazon Sellers Advanced task
          nullable: true
        endpoint_html:
          type: string
          description: URL for collecting the results of Amazon Sellers HTML task
          nullable: true
    BaseMerchantAmazonProductInformationElementItem:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        section_name:
          type: string
          description: name of the section related to product information specified in the contents
          nullable: true
      additionalProperties: false
      discriminator:
        propertyName: type
        mapping:
          product_information_details_item: '#/components/schemas/ProductInformationProductInformationDetailsItem'
          product_information_text_item: '#/components/schemas/ProductInformationProductInformationTextItem'
          product_information_extended_item: '#/components/schemas/ProductInformationProductInformationExtendedItem'
    MerchantGoogleLocationsCountryTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleLocationsCountryResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BaseMerchantAmazonElementItem:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: 'position within a group of elements with identical type values

            positions of elements with different type values are omitted from rank_group'
          nullable: true
        rank_absolute:
          type: integer
          description: 'absolute rank in SERP

            absolute position among all the elements found in Amazon SERP'
          nullable: true
        xpath:
          type: string
          description: the XPath of the element
          nullable: true
      additionalProperties: false
      discriminator:
        propertyName: type
        mapping:
          amazon_paid: '#/components/schemas/MerchantAmazonPaidSerpElementItem'
          amazon_serp: '#/components/schemas/MerchantAmazonSerpSerpElementItem'
          editorial_recommendations: '#/components/schemas/MerchantEditorialRecommendationsSerpElementItem'
          related_searches: '#/components/schemas/MerchantRelatedSearchesSerpElementItem'
          top_rated_from_our_brands: '#/components/schemas/MerchantTopRatedFromOurBrandsSerpElementItem'
    MerchantAmazonAsinTaskGetHtmlTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonAsinTaskGetHtmlResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantAmazonSellersTaskGetHtmlResultInfo:
      type: object
      properties:
        asin:
          type: string
          description: ASIN received in a POST array
          nullable: true
        type:
          type: string
          description: type of element
          nullable: true
        se_domain:
          type: string
          description: search engine domain in a POST array
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        datetime:
          type: string
          description: 'date and time when the result was received

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/HtmlItemInfo'
            nullable: true
          description: elements of search results found on Amazon
          nullable: true
    MerchantAmazonLanguagesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonLanguagesResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantIdListResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantIdListTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantGoogleProductInfoTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleProductInfoTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantAmazonProductsTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonProductsTaskGetAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantAmazonAsinTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonAsinTasksReadyTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantAmazonSellersTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonSellersTasksReadyTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AmazonReviewItem:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: 'position within a group of elements with identical type values

            positions of elements with different type values are omitted from rank_group'
          nullable: true
        rank_absolute:
          type: integer
          description: 'absolute rank among all the listed reviews

            absolute position among all reviews on the list'
          nullable: true
        position:
          type: string
          description: 'the alignment of the review in SERP

            can take the following values: right'
          nullable: true
        xpath:
          type: string
          description: the XPath of the element
          nullable: true
        verified:
          type: boolean
          description: indicates whether the review has the “Verified Purchase” mark
          nullable: true
        subtitle:
          type: string
          description: subtitle of the review
          nullable: true
        helpful_votes:
          type: string
          description: 'helpful votes count

            number of users who clicked on the ‘Helpful” button under the review text'
          nullable: true
        images:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AiModeImagesElementInfo'
            nullable: true
          description: images of the product submitted by the reviewer
          nullable: true
        videos:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/VideoElement'
            nullable: true
          description: videos of the product submitted by the reviewer
          nullable: true
        user_profile:
          type: object
          oneOf:
          - $ref: '#/components/schemas/UserProfileInfo'
          description: user profile of the reviewer
          nullable: true
        title:
          type: string
          description: title of the review
          nullable: true
        url:
          type: string
          description: URL to the reviewer’s profile
          nullable: true
        review_text:
          type: string
          description: content of the review
          nullable: true
        publication_date:
          type: string
          description: 'date and time when the review was published

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”;

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: the rating score submitted by the reviewer
          nullable: true
    AmazonProductInfo:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: 'position within a group of elements with identical type values

            positions of elements with different type values are omitted from rank_group'
          nullable: true
        rank_absolute:
          type: integer
          description: 'absolute rank

            absolute position among all the elements in the response array'
          nullable: true
        position:
          type: string
          description: 'the alignment of the element in Amazon SERP

            possible values:

            left, right'
          nullable: true
        xpath:
          type: string
          description: the XPath of the element
          nullable: true
        title:
          type: string
          description: product title
          nullable: true
        details:
          type: string
          description: product specs and other details
          nullable: true
        image_url:
          type: string
          description: the URL of the product image
          nullable: true
        author:
          type: string
          description: product brand name
          nullable: true
        data_asin:
          type: string
          description: ASIN of the product received in a POST array
          nullable: true
        parent_asin:
          type: string
          description: parent ASIN of the product
          nullable: true
        product_asins:
          type: array
          items:
            type: string
            nullable: true
          description: ASINs of all found product modifications
          nullable: true
        price_from:
          type: number
          description: 'the lower limit of the product price range

            example:

            49.98'
          nullable: true
        price_to:
          type: number
          description: 'the upper limit of the product price range

            example:

            384.99'
          nullable: true
        percentage_discount:
          type: string
          description: value of the percentage discount
          nullable: true
        currency:
          type: string
          description: 'currency in the ISO format

            example:

            USD'
          nullable: true
        is_amazon_choice:
          type: boolean
          description: '“Amazon’s choice” label

            if the value is true, the product is marked with the “Amazon’s choice” label'
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingElement'
          description: product rating info
          nullable: true
        is_newer_model_available:
          type: boolean
          description: indicates whether the newer model of the product is available
          nullable: true
        is_prime_video:
          type: boolean
          description: 'indicates whether a product has an Amazon Prime Video label

            if true, specified product is a part of Amazon Prime Video service'
          nullable: true
        applicable_vouchers:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AmazonApplicableVouchersItem'
            nullable: true
          description: array of objects containing information about applicable vouchers
          nullable: true
        newer_model:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AmazonProductNewerModelInfo'
          description: information about the newer model of the product
          nullable: true
        categories:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/ProductCategoryInfo'
            nullable: true
          description: contains related product categories
          nullable: true
        product_information:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BaseMerchantAmazonProductInformationElementItem'
            nullable: true
          description: contains related product information
          nullable: true
        product_images_list:
          type: array
          items:
            type: string
            nullable: true
          description: contains URLs for all images of the product displayed on the left side of the main image
          nullable: true
        product_videos_list:
          type: array
          items:
            type: string
            nullable: true
          description: contains URLs for all videos of the product displayed on the right side of the main video
          nullable: true
        description:
          type: string
          description: contains description of the product
          nullable: true
        is_available:
          type: boolean
          description: 'indicates whether the product is available for ordering

            if the value is true, the product can be ordered'
          nullable: true
        top_local_reviews:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AmazonReviewItem'
            nullable: true
          description: array of objects with top reviews from target location
          nullable: true
        top_global_reviews:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AmazonReviewItem'
            nullable: true
          description: array of objects with top reviews from around the world
          nullable: true
    MerchantAmazonAsinTaskGetHtmlResultInfo:
      type: object
      properties:
        product_id:
          type: string
          description: ASIN received in a POST array
          nullable: true
        type:
          type: string
          description: type of element
          nullable: true
        se_domain:
          type: string
          description: search engine domain in a POST array
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        datetime:
          type: string
          description: 'date and time when the result was received

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/HtmlItemInfo'
            nullable: true
          description: HTML pages and related data
          nullable: true
    MerchantAmazonAsinTaskGetHtmlResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonAsinTaskGetHtmlTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantGoogleProductsTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleProductsTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantAmazonProductsTaskGetAdvancedResultInfo:
      type: object
      properties:
        keyword:
          type: string
          description: 'keyword received in a POST array

            keyword is returned with decoded %## (plus character ‘+’ will be decoded to a space character)'
          nullable: true
        type:
          type: string
          description: type of element
          nullable: true
        se_domain:
          type: string
          description: search engine domain in a POST array
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        check_url:
          type: string
          description: 'direct URL to Amazon results

            you can use it to make sure that we provided accurate results'
          nullable: true
        datetime:
          type: string
          description: 'date and time when the result was received

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        spell:
          type: object
          oneOf:
          - $ref: '#/components/schemas/SpellInfo'
          description: 'autocorrection of the search engine

            if the search engine provided results for a keyword that was corrected, we will specify the keyword corrected by the search engine and the type of autocorrection'
          nullable: true
        item_types:
          type: array
          items:
            type: string
            nullable: true
          description: 'types of search results found in Amazon SERP

            contains types of all search results (items) found in the returned SERP

            possible item types:

            amazon_serp, amazon_paid, editorial_recommendations, top_rated_from_our_brands, related_searches'
          nullable: true
        se_results_count:
          type: integer
          description: search engine results count
          format: int64
          nullable: true
        categories:
          type: array
          items:
            type: string
            nullable: true
          description: amazon product departments and subcategories
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BaseMerchantAmazonElementItem'
            nullable: true
          description: Amazon product items within the editorial_recommendations element
          nullable: true
    MerchantAmazonLocationsResultInfo:
      type: object
      properties:
        location_code:
          type: integer
          description: location code
          nullable: true
        location_name:
          type: string
          description: full name of the location
          nullable: true
        location_name_parent:
          type: string
          description: 'the name of the superordinate location

            example:

            "location_code": 9041134,

            "location_name": "90290,California,United States",

            "location_name_parent": "California,United States"'
          nullable: true
        country_iso_code:
          type: string
          description: ISO country code of the location
          nullable: true
        location_type:
          type: string
          description: location type
          nullable: true
    MerchantGoogleLanguagesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleLanguagesResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantGoogleLocationsResultInfo:
      type: object
      properties:
        location_code:
          type: integer
          description: location code
          nullable: true
        location_name:
          type: string
          description: full name of the location
          nullable: true
        location_name_parent:
          type: string
          description: 'the name of the superordinate location

            example:

            "location_name": "Arkansas,United States",

            "location_name_parent": "United States"'
          nullable: true
        country_iso_code:
          type: string
          description: ISO country code of the location
          nullable: true
        location_type:
          type: string
          description: location type
          nullable: true
    MerchantAmazonSellersTaskGetHtmlTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonSellersTaskGetHtmlResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantAmazonLocationsResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonLocationsTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantGoogleLocationsCountryResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleLocationsCountryTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantGoogleProductInfoTaskGetAdvancedResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleProductInfoTaskGetAdvancedTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantIdListResultInfo:
      type: object
      properties:
        id:
          type: string
          description: id of the task
          nullable: true
        url:
          type: string
          description: 'URL of the task

            URL you used for making an API call'
          nullable: true
        datetime_posted:
          type: string
          description: 'date and time when the task was made

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2023-01-15 12:57:46 +00:00'
          nullable: true
        datetime_done:
          type: string
          description: 'date and time when the task was completed

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2023-01-15 12:57:46 +00:00'
          nullable: true
        status:
          type: string
          description: 'informational message of the task

            you can find the full list of general informational messages here'
          nullable: true
        cost:
          type: number
          description: cost of the task, USD
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: contains parameters you specified in the POST request
          nullable: true
    MerchantErrorsResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantErrorsTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantGoogleProductsTaskPostRequestInfo:
      type: object
      properties:
        keyword:
          type: string
          description: 'keyword

            required field

            you can specify up to 700 characters in the keyword filed

            all %## will be decoded (plus character ‘+’ will be decoded to a space character)

            if you need to use the “%” character for your keyword, please specify it as “%25”;

            learn more about rules and limitations of keyword and keywords fields in DataForSEO APIs in this Help Center article'
        url:
          type: string
          description: 'direct URL of the search query

            optional field

            you can specify a direct URL and we will sort it out to the necessary fields. Note that this method is the most difficult for our API to process and also requires you to specify the exact language and location in the URL. In most cases, we wouldn’t recommend using this method.

            example:

            https://www.google.com/search?q=fish&hl=en&gl=US&gws_rd=cr&uule=w+CAIQIFISCQs2MuSEtepUEUK33kOSuTsc'
          nullable: true
        priority:
          type: integer
          description: 'task priority

            optional field

            can take the following values:

            1 – normal execution priority (set by default)

            2 – high execution priority

            You will be additionally charged for the tasks with high execution priority.

            The cost can be calculated on the Pricing page.'
          nullable: true
        location_name:
          type: string
          description: 'full name of the location

            required field if you don’t specify location_code or location_coordinate

            if you use this field, you don’t need to specify location_code or location_coordinate

            you can receive the list of available Google Shopping locations with their location_name by making a separate request to the https://api.dataforseo.com/v3/merchant/google/locations

            example:

            London,England,United Kingdom'
          nullable: true
        location_code:
          type: integer
          description: 'location code

            required field if you don’t specify location_name or location_coordinate

            if you use this field, you don’t need to specify location_name or location_coordinate

            you can receive the list of available Google Shopping locations with their location_code by making a separate request to the https://api.dataforseo.com/v3/merchant/google/locations

            example:

            2840'
          nullable: true
        location_coordinate:
          type: string
          description: 'GPS coordinates of a location

[...]
