openapi: 3.0.1
info:
  title: DataForSEO AiOptimization OnPage API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: OnPage
paths:
  /v3/on_page/id_list:
    post:
      tags:
      - OnPage
      description: 'This endpoint is designed to provide you with a list of IDs and metadata for all On-Page tasks created within the specified time period, including both successful and uncompleted tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/id_list/?bash'''
      operationId: OnPageIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageIdListRequestInfo'
                nullable: true
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageIdListResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/errors:
    post:
      tags:
      - OnPage
      description: 'By calling this endpoint you will receive information about the OnPage API tasks that returned an error within the past 7 days.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/errors/?bash'''
      operationId: OnPageErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageErrorsRequestInfo'
                nullable: true
              example:
              - limit: 10
                offset: 0
                filtered_function: pingback_url
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageErrorsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/force_stop:
    post:
      tags:
      - OnPage
      description: 'This endpoint is designed to force stop the crawl process of websites you specified in a task. The execution of all the tasks associated with the IDs indicated in your request to this endpoint will be stopped. You will still be able to obtain the data on pages that have been scanned until the crawling process was stopped.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/force_stop/?bash'''
      operationId: ForceStop
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageForceStopRequestInfo'
                nullable: true
              example:
              - id: 08121600-1535-0216-0000-37b4c7a34453
              - id: 08121600-1535-0216-0000-d6a5000b6897
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageForceStopResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/available_filters:
    get:
      tags:
      - OnPage
      description: 'OnPage API supports plenty of customizable crawling parameters that allow you to adapt the extraction of website data to your requirements and modify the thresholds for various performance indicators.

        ‌‌

        Here you will find all the necessary information about filters and thresholds that can be used with DataForSEO OnPage API endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/filters_and_thresholds/?bash'''
      operationId: OnPageAvailableFilters
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageAvailableFiltersResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/task_post:
    post:
      tags:
      - OnPage
      description: 'OnPage API checks websites for 60+ customizable on-page parameters defines and displays all found flaws and opportunities for optimization so that you can easily fix them. It checks meta tags, duplicate content, image tags, response codes, and other parameters on every page. You can find the full list of OnPage API check-up parameters in the Pages section.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/task_post/?bash'''
      operationId: TaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageTaskPostRequestInfo'
                nullable: true
              example:
              - target: dataforseo.com
                max_crawl_pages: 10
                load_resources: true
                enable_javascript: true
                custom_js: meta = {}; meta.url = document.URL; meta;
                tag: some_string_123
                pingback_url: https://your-server.com/pingscript?id=$id&tag=$tag
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/tasks_ready:
    get:
      tags:
      - OnPage
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks, which results haven’t been collected yet.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page-tasks_ready/?bash'''
      operationId: OnPageTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/summary/{id}:
    get:
      tags:
      - OnPage
      description: 'Using this function, you can get the overall information on a website as well as drill down into exact on-page issues of a website that has been scanned. As a result, you will know what functions to use for receiving detailed data for each of the found issues.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/summary/?bash'''
      operationId: Summary
      parameters:
      - name: id
        in: path
        description: 'task identifier

          required field

          you can get this ID in the response of the Task POST endpoint

          example:

          “07131248-1535-0216-1000-17384017ad04”'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageSummaryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/pages:
    post:
      tags:
      - OnPage
      description: 'This endpoint returns a list of crawled pages with on-page check-ups and other metrics related to the page performance.

        Using this function you will get page-specific data with detailed information on how well your pages are optimized for search.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/pages/?bash'''
      operationId: Pages
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPagePagesRequestInfo'
                nullable: true
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                filters:
                - - resource_type
                  - '='
                  - html
                - and
                - - meta.scripts_count
                  - '>'
                  - 40
                order_by:
                - meta.content.plain_text_word_count,desc
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPagePagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/pages_by_resource:
    post:
      tags:
      - OnPage
      description: 'This endpoint will return the list of pages where a specific resource is located. Using this function you will also get the data related to the pages that contain a specified resource.

        You can get the URL of a resource using the Resources endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/page_by_resource/?bash'''
      operationId: PagesByResource
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPagePagesByResourceRequestInfo'
                nullable: true
              example:
              - id: 02241700-1535-0216-0000-034137259bc1
                url: https://www.etsy.com/about/jobs.workco2018.js?
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPagePagesByResourceResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/resources:
    post:
      tags:
      - OnPage
      description: 'This endpoint will provide you with a list of resources, including images, scripts, stylesheets, and broken elements.

        You will get a detailed overview of every resource found on the crawled pages.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/resources/?bash'''
      operationId: Resources
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageResourcesRequestInfo'
                nullable: true
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                filters:
                - - resource_type
                  - '='
                  - image
                - and
                - - size
                  - '>'
                  - 100000
                order_by:
                - size,desc
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageResourcesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/duplicate_tags:
    post:
      tags:
      - OnPage
      description: 'This endpoint returns a list of pages that contain duplicate title or description tags. The response also contains data related to page performance.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/duplicate_tags/?bash'''
      operationId: DuplicateTags
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageDuplicateTagsRequestInfo'
                nullable: true
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                type: duplicate_description
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageDuplicateTagsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/duplicate_content:
    post:
      tags:
      - OnPage
      description: 'This endpoint returns a list of pages that have content similar to the page specified in the request. The response also contains data related to page performance and the similarity index that indicates how similar the compared pages are.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/duplicate_content/?bash'''
      operationId: DuplicateContent
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageDuplicateContentRequestInfo'
                nullable: true
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                url: https://www.etsy.com/
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageDuplicateContentResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/links:
    post:
      tags:
      - OnPage
      description: 'This endpoint will provide you with a list of internal and external links detected on a target website.

        The following link types are supported:

        anchor – links that point to a specific portion of a webpage;

        image – links that point to an image;

        canonical – links that point to a canonical page;

        meta – links with meta http-equiv=refresh ;

        alternate – links with link rel="alternate" pointing to an alternative version of a webpage ;

        redirect – links with redirect status.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/links/?bash'''
      operationId: Links
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLinksRequestInfo'
                nullable: true
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                page_from: /apis/google-trends-api
                filters:
                - - dofollow
                  - '='
                  - true
                - and
                - - direction
                  - '='
                  - external
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLinksResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/redirect_chains:
    post:
      tags:
      - OnPage
      description: 'Redirect chains occur when there are at least two redirects between the initial URL and the destination URL. For example, if page A redirects to page B which redirects to page C, such a series of redirects is considered a redirect chain. Sometimes, if page B redirects back to page A, the redirect chain becomes closed and is considered a redirect loop.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/redirect_chains/?bash'''
      operationId: RedirectChains
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageRedirectChainsRequestInfo'
                nullable: true
              example:
              - id: 03051327-4536-0216-1000-3b458a2cfcca
                url: https://test_rdr.dataforseo.com/a/
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageRedirectChainsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/non_indexable:
    post:
      tags:
      - OnPage
      description: 'This endpoint returns a list of pages that are blocked from being indexed by Google and other search engines through robots.txt, HTTP headers, or meta tags settings.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/non_indexable/?bash'''
      operationId: NonIndexable
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageNonIndexableRequestInfo'
                nullable: true
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                filters:
                - - reason
                  - '='
                  - robots_txt
                - and
                - - url
                  - like
                  - '%go%'
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageNonIndexableResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/waterfall:
    post:
      tags:
      - OnPage
      description: 'This endpoint is designed to provide you with the page speed insights. Using this function you can get detailed information about the page loading time, time to secure connection, the time it takes to load page resources, and so on.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/waterfall/?bash'''
      operationId: Waterfall
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageWaterfallRequestInfo'
                nullable: true
              example:
              - id: 08101204-0696-0216-0000-644a7b21a48a
                url: https://dataforseo.com/tag/broken-links
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageWaterfallResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/keyword_density:
    post:
      tags:
      - OnPage
      description: 'This endpoint will provide you with keyword density and keyword frequency data for terms appearing on the specified website or web page. You can filter and sort the data that will be retrieved with this API call.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/keyword_density/?bash'''
      operationId: KeywordDensity
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageKeywordDensityRequestInfo'
                nullable: true
              example:
              - id: 09101923-1535-0216-0000-2389a8854b70
                url: https://dataforseo.com/
                keyword_length: 2
                filters:
                - frequency
                - '>'
                - 5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageKeywordDensityResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/microdata:
    post:
      tags:
      - OnPage
      description: 'This endpoint is designed to validate structured JSON-LD data and Microdata. Using this function you will obtain microdata available on the specified page of the target website and detailed results of its validation.

        To use this endpoint, set the validate_micromarkup parameter to true in the POST request to OnPage API.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/microdata/?bash'''
      operationId: Microdata
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageMicrodataRequestInfo'
                nullable: true
              example:
              - id: 02241700-1535-0216-0000-034137259bc1
                url: https://dataforseo.com/apis
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageMicrodataResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/raw_html:
    post:
      tags:
      - OnPage
      description: 'This endpoint returns the HTML of a page you indicate in the request.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/raw_html/?bash'''
      operationId: RawHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageRawHtmlRequestInfo'
                nullable: true
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                url: https://dataforseo.com/apis
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageRawHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/page_screenshot:
    post:
      tags:
      - OnPage
      description: 'Using this endpoint, you can capture a full high-quality screenshot of any webpage. In this way, you can review the target page as the DataForSEO crawler and Googlebot see it.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/page_screenshot/?bash'''
      operationId: PageScreenshot
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPagePageScreenshotRequestInfo'
                nullable: true
              example:
              - url: https://dataforseo.com/apis
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPagePageScreenshotResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/content_parsing:
    post:
      tags:
      - OnPage
      description: 'This endpoint allows parsing the content on any page you specify and will return the structured content of the target page, including link URLs, anchors, headings, and textual content.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/content_parsing/?bash'''
      operationId: ContentParsing
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageContentParsingRequestInfo'
                nullable: true
              example:
              - url: https://dataforseo.com/blog/a-versatile-alternative-to-google-trends-exploring-the-power-of-dataforseo-trends-api
                id: 11161551-1535-0216-0000-500b3f307f92
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageContentParsingResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/content_parsing/live:
    post:
      tags:
      - OnPage
      description: 'This endpoint allows parsing the content on any page you specify and will return the structured content of the target page, including link URLs, anchors, headings, and textual content.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/content_parsing/live/?bash'''
      operationId: ContentParsingLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageContentParsingLiveRequestInfo'
                nullable: true
              example:
              - url: https://dataforseo.com/blog/a-versatile-alternative-to-google-trends-exploring-the-power-of-dataforseo-trends-api
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageContentParsingLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/instant_pages:
    post:
      tags:
      - OnPage
      description: 'Using this function you will get page-specific data with detailed information on how well a particular page is optimized for organic search.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/instant_pages/?bash'''
      operationId: InstantPages
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageInstantPagesRequestInfo'
                nullable: true
              example:
              - url: https://dataforseo.com/blog
                enable_javascript: true
                custom_js: meta = {}; meta.url = document.URL; meta;
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageInstantPagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/lighthouse/languages:
    get:
      tags:
      - OnPage
      description: 'You will receive the list of languages by calling this API.

         

        As a response of the API server, you will receive JSON-encoded data containing a tasks array with the information specific to the set tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/lighthouse/languages/?bash'''
      operationId: LighthouseLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/lighthouse/audits:
    get:
      tags:
      - OnPage
      description: 'The OnPage Lighthouse API is based on Google’s open-source Lighthouse project and provides data on the quality of web pages.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/lighthouse/audits/?bash'''
      operationId: LighthouseAudits
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseAuditsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/lighthouse/versions:
    get:
      tags:
      - OnPage
      description: 'OnPage Lighthouse API is based on Google’s open-source Lighthouse project and provides data on the quality of web pages.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/lighthouse/versions/?bash'''
      operationId: LighthouseVersions
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseVersionsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/lighthouse/task_post:
    post:
      tags:
      - OnPage
      description: 'The OnPage Lighthouse API is based on Google’s open-source Lighthouse project for measuring the quality of web pages and web apps.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/lighthouse/task_post/?bash'''
      operationId: LighthouseTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseTaskPostRequestInfo'
                nullable: true
              example:
              - url: https://dataforseo.com
                for_mobile: true
                tag: some_string_123
                pingback_url: https://your-server.com/pingscript?id=$id&tag=$tag
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/lighthouse/tasks_ready:
    get:
      tags:
      - OnPage
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/lighthouse/tasks_ready/?bash'''
      operationId: LighthouseTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/lighthouse/task_get/json/{id}:
    get:
      tags:
      - OnPage
      description: 'The OnPage Lighthouse API is based on Google’s open-source Lighthouse project for measuring the quality of web pages and web apps. This endpoint will provide you with the results of Lighthouse Audit. Use the id received in the response of your Task POST request to get the results. The response will include data about all categories and audits specified in the Task POST. By default, the response will include all available data about the webpage including its performance, accessibility, progressive web apps, SEO, and compliance with best practices.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/lighthouse/task_get/json/?bash'''
      operationId: LighthouseTaskGetJson
      parameters:
      - name: id
        in: path
        description: 'task identifier

          required field

          you can get this ID in the response of the Task POST endpoint

          example:

          “07131248-1535-0216-1000-17384017ad04”'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseTaskGetJsonResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/on_page/lighthouse/live/json:
    post:
      tags:
      - OnPage
      description: 'The OnPage Lighthouse API is based on Google’s open-source Lighthouse project for measuring the quality of web pages and web apps.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/lighthouse/live/json/?bash'''
      operationId: LighthouseLiveJson
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseLiveJsonRequestInfo'
                nullable: true
              example:
              - url: https://dataforseo.com
                for_mobile: true
                tag: some_string_123
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseLiveJsonResponseInfo'
                nullable: true
      security:
      - basicAuth: []
components:
  schemas:
    OnPageNonIndexableRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: 'ID of the task

            required field

            you can get this ID in the response of the Task POST endpoint

            example:

            “07131248-1535-0216-1000-17384017ad04”'
        limit:
          type: integer
          description: 'the maximum number of returned pages

            optional field

            default value: 100

            maximum value: 1000'
          nullable: true
        offset:
          type: integer
          description: 'offset in the results array of returned pages

            optional field

            default value: 0

            if you specify the 10 value, the first ten pages in the results array will be omitted and the data will be provided for the successive pages'
          nullable: true
        filters:
          type: array
          items:
            type: object
            nullable: true
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, <, <=, >, >=, =, <>, in, not_in, like, not_like

            you can use the % operator with like and not_like to match any string of zero or more characters

            example:

            ["reason","=","robots_txt"][["reason","<>","robots_txt"],

            "and",

            ["url","not_like","%/wp-admin/%"]]

            [["url","not_like","%/wp-admin/%"],

            "and",

            [["reason","<>","meta_tag"],"or",["reason","<>","http_header"]]]

            The full list of possible filters is available by this link.'
          nullable: true
      example:
      - id: 07281559-0695-0216-0000-c269be8b7592
        filters:
        - - reason
          - '='
          - robots_txt
        - and
        - - url
          - like
          - '%go%'
        limit: 10
    OnPageDuplicateContentItem:
      type: object
      properties:
        url:
          type: string
          description: URL of the specified page
          nullable: true
        total_count:
          type: integer
          description: total count of duplicate pages
          format: int64
          nullable: true
        pages:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/DuplicatePageInfo'
            nullable: true
          description: pages with duplicate content
          nullable: true
    BaseResponseTaskInfo:
      properties:
        id:
          type: string
          description: 'task identifier

            unique task identifier in our system in the UUID format'
          nullable: true
        status_code:
          type: integer
          description: 'status code of the task

            generated by DataForSEO, can be within the following range: 10000-60000

            you can find the full list of the response codes here'
          nullable: true
        status_message:
          type: string
          description: 'informational message of the task

            you can find the full list of general informational messages here'
          nullable: true
        time:
          type: string
          description: execution time, seconds
          nullable: true
        cost:
          type: number
          description: total tasks cost, USD
          format: double
          nullable: true
        result_count:
          type: integer
          description: number of elements in the result array
          format: int64
          nullable: true
        path:
          type: array
          items:
            type: string
            nullable: true
          description: URL path
          nullable: true
        data:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: contains the same parameters that you specified in the POST request
          nullable: true
    OnPageDuplicateTagsRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: 'ID of the task

            required field

            you can get this ID in the response of the Task POST endpoint

            example:

            “07131248-1535-0216-1000-17384017ad04”'
        type:
          type: string
          description: type of element
        accumulator:
          type: string
          description: 'tag value

            optional field

            specify a title or description here if you want to receive a list of duplicate pages that contains this tag'
          nullable: true
        limit:
          type: integer
          description: 'the maximum number of returned pages

            optional field

            default value: 100

            maximum value: 1000'
          nullable: true
        offset:
          type: integer
          description: 'offset in the results array of returned pages

            optional field

            default value: 0

            if you specify the 10 value, the first ten pages in the results array will be omitted and the data will be provided for the successive pages'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
      example:
      - id: 07281559-0695-0216-0000-c269be8b7592
        type: duplicate_description
        limit: 10
    OnPageDuplicateContentRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: 'ID of the task

            required field

            you can get this ID in the response of the Task POST endpoint

            example:

            “07131248-1535-0216-1000-17384017ad04”'
        url:
          type: string
          description: 'page URL

            required field

            specify the initial page you want to receive duplicate content for'
        similarity:
          type: integer
          description: 'content similarity score

            by default, the content is considered duplicate if the value is greater than or equals 6

            you can specify any similarity score in the 0-to-10 range'
          nullable: true
        limit:
          type: integer
          description: 'the maximum number of returned pages

            optional field

            default value: 100

            maximum value: 1000'
          nullable: true
        offset:
          type: integer
          description: 'offset in the results array of returned pages

            optional field

            default value: 0

            if you specify the 10 value, the first ten pages in the results array will be omitted and the data will be provided for the successive pages'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
      example:
      - id: 07281559-0695-0216-0000-c269be8b7592
        url: https://www.etsy.com/
    OnPageMicrodataResultInfo:
      type: object
      properties:
        crawl_progress:
          type: string
          description: 'status of the crawling session

            possible values: in_progress, finished'
          nullable: true
        crawl_status:
          type: object
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
          nullable: true
        test_summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/TestSummary'
          description: microdata validation test results
          nullable: true
        items_count:
          type: integer
          description: number of items in the results array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/OnPageMicrodataInfoItem'
            nullable: true
          description: items array
          nullable: true
    TopicInfo:
      type: object
      properties:
        h_title:
          type: string
          description: meta title
          nullable: true
        main_title:
          type: string
          description: main title of the block
          nullable: true
        author:
          type: string
          description: content author name
          nullable: true
        language:
          type: string
          description: content language
          nullable: true
        level:
          type: integer
          description: HTML level
          nullable: true
        primary_content:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/SectionContentItemInfo'
            nullable: true
          description: 'primary content on the page

            you can find more information about content priority calculation in this help center article'
          nullable: true
        secondary_content:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/SectionContentItemInfo'
            nullable: true
          description: 'secondary content on the page

            you can find more information about content priority calculation in this help center article'
          nullable: true
        table_content:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/TableContentInfo'
            nullable: true
          description: content of the table on the page
          nullable: true
    OnPageRawHtmlResultInfo:
      type: object
      properties:
        crawl_progress:
          type: string
          description: 'status of the crawling session

            possible values: in_progress, finished'
          nullable: true
        crawl_status:
          type: object
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
          nullable: true
        items_count:
          type: integer
          description: number of items in the results array
          format: int64
          nullable: true
        items:
          type: object
          oneOf:
          - $ref: '#/components/schemas/OnPageRawHtmlItem'
          description: items object
          nullable: true
    OnPageLighthouseTasksReadyResultInfo:
      type: object
      properties:
        id:
          type: string
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
          nullable: true
        tag:
          type: string
          description: user-defined task identifier
          nullable: true
        endpoint_json:
          type: string
          description: URL for collecting the results of the OnPage Lighthouse JSON task
          nullable: true
    OnPageWaterfallResultInfo:
      type: object
      properties:
        crawl_progress:
          type: string
          description: 'status of the crawling session

            possible values: in_progress, finished'
          nullable: true
        crawl_status:
          type: object
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
          nullable: true
        items_count:
          type: integer
          description: number of items in the results array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/OnPageWaterfallItem'
            nullable: true
          description: items array
          nullable: true
    OnPageAvailableFiltersResultInfo:
      type: object
      properties:
        resources:
          type: object
          additionalProperties:
            type: string
            nullable: true
          nullable: true
        pages:
          type: object
          additionalProperties:
            type: string
            nullable: true
          nullable: true
        non_indexable:
          type: object
          additionalProperties:
            type: string
            nullable: true
          nullable: true
        links:
          type: object
          additionalProperties:
            type: string
            description: type of element
            nullable: true
          nullable: true
        pages_by_resource:
          type: object
          additionalProperties:
            type: string
            nullable: true
          nullable: true
        redirect_chains:
          type: object
          additionalProperties:
            type: string
            nullable: true
          nullable: true
        keyword_density:
          type: object
          additionalProperties:
            type: string
            nullable: true
          nullable: true
        invalid_resources:
          type: object
          additionalProperties:
            type: string
            nullable: true
          nullable: true
    OnPageNonIndexableResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageNonIndexableTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    SectionContentItemInfo:
      type: object
      properties:
        text:
          type: string
          description: 'secondary content on the page

            you can find more information about content priority calculation in this help center article'
          nullable: true
        url:
          type: string
          description: 'page URL.

            displayed in case the text is a link anchor'
          nullable: true
        urls:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/ContentUrlInfo'
            nullable: true
          description: contains other URLs and anchors found in the content element
          nullable: true
    OnPageMicrodataResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageMicrodataTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    OnPagePagesByResourceRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: 'ID of the task

            required field

            you can get this ID in the response of the Task POST endpoint

            example:

            “07131248-1535-0216-1000-17384017ad04”'
        url:
          type: string
          description: 'resource URL

            required field

            you can get this URL in the response of the Resources endpoint

            example:

            https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'
        limit:
          type: integer
          description: 'the maximum number of returned pages

            optional field

            default value: 100

            maximum value: 1000'
          nullable: true
        offset:
          type: integer
          description: 'offset in the results array of returned pages

            optional field

            default value: 0

            if you specify the 10 value, the first ten pages in the results array will be omitted and the data will be provided for the successive pages'
          nullable: true
        filters:
          type: array
          items:
            type: object
            nullable: true
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, <, <=, >, >=, =, <>, in, not_in, like, not_like

            you can use the % operator with like and not_like to match any string of zero or more characters

            example:

            ["meta.external_links_count","<=",50]["url","like","https://dataforseo.com/apis/dataforseo-labs-api"]

            [["checks.high_waiting_time","=",false],

            "and",["resource_type","=","html"]]

            [["page_timing.duration_time","<",100],"and",[["checks.large_page_size","=",false],"or",["checks.high_waiting_time","=",false]]]

            The full list of possible filters is available by this link.'
          nullable: true
        order_by:
          type: array
          items:
            type: string
          description: 'results sorting rules

            optional field

            you can use the same values as in the filters array to sort the results

            possible sorting types:

            asc – results will be sorted in the ascending order

            desc – results will be sorted in the descending order

            you should use a comma to set up a sorting type

            example:

            ["meta.external_links_count,desc"]

            note that you can set no more than three sorting rules in a single request

            you should use a comma to separate several sorting rules

            example:

            ["page_timing.dom_complete,asc","size,desc"]'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
      example:
      - id: 02241700-1535-0216-0000-034137259bc1
        url: https://www.etsy.com/about/jobs.workco2018.js?
    OnPageContentParsingResultInfo:
      type: object
      properties:
        crawl_progress:
          type: string
          description: 'status of the crawling session

            possible values: in_progress, finished'
          nullable: true
        crawl_status:
          type: object
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
          nullable: true
        items_count:
          type: integer
          description: number of items in the results array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/ContentParsingElement'
            nullable: true
          description: items array
          nullable: true
    OnPagePagesResultInfo:
      type: object
      properties:
        crawl_progress:
          type: string
          description: 'status of the crawling session

            possible values: in_progress, finished'
          nullable: true
        crawl_status:
          type: object
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
          nullable: true
        search_after_token:
          type: string
          nullable: true
        current_offset:
          type: integer
          nullable: true
        total_items_count:
          type: integer
          description: total number of relevant items in the database
          format: int64
          nullable: true
        items_count:
          type: integer
          description: number of items in the results array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BaseOnPageResourceItem'
            nullable: true
          description: items array
          nullable: true
    OnPageLinksRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: 'ID of the task

            required field

            you can get this ID in the response of the Task POST endpoint

            example:

            “07131248-1535-0216-1000-17384017ad04”'
        page_from:
          type: string
          description: 'relative page URL

            optional field

            if you use this field, the API response will contain only links from the specified page

            note that in this field you can specify relative URLs only'
          nullable: true
        page_to:
          type: string
          description: 'relative page URL

            optional field

            if you use this field, the API response will contain only internal links pointing to the specified page

            note that in this field you can specify relative URLs only'
          nullable: true
        limit:
          type: integer
          description: 'the maximum number of returned links

            optional field

            default value: 100

            maximum value: 1000'
          nullable: true
        offset:
          type: integer
          description: 'offset in the results array of returned links

            optional field

            default value: 0

            if you specify the 10 value, the first ten links in the results array will be omitted and the data will be provided for the successive links'
          nullable: true
        filters:
          type: array
          items:
            type: object
            nullable: true
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, =, <>, in, not_in, like, not_like

            you can use the % operator with like and not_like to match any string of zero or more characters

            example:

            ["direction","=","external"]

            [["domain_to","<>","example.com"],

            "and",

            ["link_from","not_like","%example.com/blog%"]]

            [["direction","=","external"],

            "and",

            [["link_from","like","%example.com/blog%"],"or",["link_from","like","%example.com/help%"]]]

            The full list of possible filters is available by this link.'
          nullable: true
        search_after_token:
          type: string
          description: 'token for subsequent requests

            optional field

            provided in the identical filed of the response to each request;

            use this parameter to avoid timeouts while trying to obtain over 20,000 results in a single request;

            by specifying the unique search_after_token value from the response array, you will get the subsequent results of the initial task;

            search_after_token values are unique for each subsequent task ;

            Note: if the search_after_token is specified in the request, all other parameters should be identical to the previous request'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
      example:
      - id: 07281559-0695-0216-0000-c269be8b7592
        page_from: /apis/google-trends-api
        filters:
        - - dofollow
          - '='
          - true
        - and
        - - direction
          - '='
          - external
        limit: 10
    OnPageDuplicateContentTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageDuplicateContentResultInfo'
              nullable: true
            description: array of results
            nullable: true
    OnPageResourcesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageResourcesResultInfo'
              nullable: true
            description: array of results
            nullable: true
    OnPageNonIndexableTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageNonIndexableResultInfo'
              nullable: true
            description: array of results
            nullable: true
    OnPageLighthouseTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageLighthouseTaskPostTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    OnPageTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageTasksReadyTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    OnPageRawHtmlResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageRawHtmlTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    OnPageWaterfallItem:
      type: object
      properties:
        page_url:
          type: string
          description: URL of the page
          nullable: true
        time_to_interactive:
          type: integer
          description: 'Time To Interactive (TTI) metric

            the time it takes until the user can interact with a page (in milliseconds)'
          nullable: true
        dom_complete:
          type: integer
          description: 'time to load resources

            the time it takes until the page and all of its subresources are downloaded (in milliseconds)'
          nullable: true
        connection_time:
          type: integer
          description: 'time to connect to a server

            the time it takes until the connection with a server is established (in milliseconds)'
          nullable: true
        time_to_secure_connection:
          type: integer
          description: 'time to establish a secure connection

            the time it takes until the secure connection with a server is established (in milliseconds)'
          nullable: true
        request_sent_time:
          type: integer
          description: 'time to send a request to a server

            the time it takes until the request to a server is sent (in milliseconds)'
          nullable: true
        waiting_time:
          type: integer
          description: time to first byte (TTFB) in milliseconds
          nullable: true
        download_time:
          type: integer
          description: time it takes for a browser to receive a response (in milliseconds)
          nullable: true
        duration_time:
          type: integer
          description: total time it takes until a browser receives a complete response from a server (in milliseconds)
          nullable: true
        fetch_start:
          type: integer
          description: 'time to start downloading the HTML resource

            the amount of time the browser needs to start downloading a page'
          nullable: true
        fetch_end:
          type: integer
          description: 'time to complete downloading the HTML resource

            the amount of time the browser needs to complete downloading a page'
          nullable: true
        resources:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/WaterfallResourceInfo'
            nullable: true
          description: 'resource-specific timing

            contains separate arrays with timing for each resource found on the page'
          nullable: true
    OnPageDuplicateTagsTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageDuplicateTagsResultInfo'
              nullable: true
            description: array of results
            nullable: true
    OnPageTasksReadyResultInfo:
      type: object
      properties:
        id:
          type: string
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
          nullable: true
        target:
          type: string
          description: target website specified when setting a task
          nullable: true
        date_posted:
          type: string
          description: date when the task was posted (in the UTC format)
          nullable: true
        tag:
          type: string
          description: user-defined task identifier
          nullable: true
    OnPageContentParsingLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageContentParsingLiveTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    OnPageRawHtmlTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageRawHtmlResultInfo'
              nullable: true
            description: array of results
            nullable: true
    OnPageKeywordDensityResultInfo:
      type: object
      properties:
        crawl_progress:
          type: string
          description: 'status of the crawling session

            possible values: in_progress, finished'
          nullable: true
        crawl_status:
          type: object
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
          nullable: true
        total_items_count:
          type: integer
          description: 'total number of relevant items

            total number of keywords on the specified website or web page matching the set keyword_length and filters'
          format: int64
          nullable: true
        items_count:
          type: integer
          description: number of items in the results array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/OnPageKeywordDensityItem'
            nullable: true
          description: items array
          nullable: true
    OnPageKeywordDensityRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: 'ID of the task

            required field

            you can get this ID in the response of the Task POST endpoint

            example:

            “07131248-1535-0216-1000-17384017ad04”'
        keyword_length:
          type: integer
          description: 'number of words for a keyword

            required field

            possible values:

            1, 2, 3, 4, 5'
        url:
          type: string
          description: 'page URL

            optional field

            if you do not specify a page here, the results will be provided for the whole website

            if you use this field, the API response will contain only keywords from the specified page

            a page should be specified with absolute URL (including http:// or https://)'
          nullable: true
        limit:
          type: integer
          description: 'the maximum number of returned keywords

            optional field

            default value: 100

            maximum value: 1000'
          nullable: true
        filters:
          type: array
          items:
            type: object
            nullable: true
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, =, <>, in, not_in, like, not_like

            you can use the % operator with like and not_like to match any string of zero or more characters

            example:

            ["keyword","=","%seo%"]

            [["keyword","=","%seo%"],

            "and",

            ["frequency","<","6"]]

            [["keyword","not_like","%seo%"],

            "and",

            [["frequency",">","6"],"or",["density",">","0.02"]]]

            The full list of possible filters is available by this link.'
          nullable: true
        order_by:
          type: array
          items:
            type: string
          description: 'results sorting rules

            optional field

            you can use the same values as in the filters array to sort the results

            possible sorting types:

            asc – results will be sorted in the ascending order

            desc – results will be sorted in the descending order

            you should use a comma to set up a sorting type

            example:

            ["frequency,desc"]

            note that you can set no more than three sorting rules in a single request

            you should use a comma to separate several sorting rules

            example:

            ["keyword,asc","frequency,desc"]'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
      example:
      - id: 09101923-1535-0216-0000-2389a8854b70
        url: https://dataforseo.com/
        keyword_length: 2
        filters:
        - frequency
        - '>'
        - 5
    OnPageNonIndexableItem:
      type: object
      properties:
        reason:
          type: string
          description: 'the reason why the page is non-indexable

            can take the following values: robots_txt, meta_tag, http_header, attribute, too_many_redirects'
          nullable: true
        url:
          type: string
          description: url of the non-indexable page
          nullable: true
    TableContentItemInfo:
      type: object
      properties:
        row_cells:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/RowCellInfo'
            nullable: true
          description: content of the row cells of the header
          nullable: true
    PageSectionContentInfo:
      type: object
      properties:
        primary_content:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/SectionContentItemInfo'
            nullable: true
          description: 'primary content on the page

            you can find more information about content priority calculation in this help center article'
          nullable: true
        secondary_content:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/SectionContentItemInfo'
            nullable: true
          description: 'secondary content on the page

            you can find more information about content priority calculation in this help center article'
          nullable: true
        table_content:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/TableContentInfo'
            nullable: true
          description: content of the table on the page
          nullable: true
    OnPagePagesRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: 'ID of the task

            required field

            you can get this ID in the response of the Task POST endpoint

            example:

            “07131248-1535-0216-1000-17384017ad04”'
        limit:
          type: integer
          description: 'the maximum number of returned pages

            optional field

            default value: 100

            maximum value: 1000'
          nullable: true
        offset:
          type: integer
          description: 'offset in the results array of returned pages

            optional field

            default value: 0

            if you specify the 10 value, the first ten pages in the results array will be omitted and the data will be provided for the successive pages'
          nullable: true
        filters:
          type: array
          items:
            type: object
            nullable: true
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, <, <=, >, >=, =, <>, in, not_in, like, not_like

            you can use the % operator with like and not_like to match any string of zero or more characters

            example:

            ["meta.external_links_count","<=",50]["url","like","https://dataforseo.com/apis/dataforseo-labs-api"][["checks.high_waiting_time","=",false],

            "and",["resource_type","=","html"]][["page_timing.duration_time","<",100],"and",[["checks.large_page_size","=",false],"or",["checks.high_waiting_time","=",false]]]The full list of possible filters is available by this link.'
          nullable: true
        order_by:
          type: array
          items:
            type: string
          description: 'results sorting rules

            optional field

            you can use the same values as in the filters array to sort the results

            possible sorting types:

            asc – results will be sorted in the ascending order

            desc – results will be sorted in the descending order

            you should use a comma to set up a sorting type

            example:

            ["meta.external_links_count,desc"]

            note that you can set no more than three sorting rules in a single request

            you should use a comma to separate several sorting rules

            example:

            ["page_timing.dom_complete,asc","size,desc"]'
          nullable: true
        search_after_token:
          type: string
          description: 'token for subsequent requests

            optional field

            provided in the identical filed of the response to each request;

            use this parameter to avoid timeouts while trying to obtain over 20,000 results in a single request;

            by specifying the unique search_after_token value from the response array, you will get the subsequent results of the initial task;

            search_after_token values are unique for each subsequent task ;

            Note: if the search_after_token is specified in the request, all other parameters should be identical to the previous request'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
      example:
      - id: 07281559-0695-0216-0000-c269be8b7592
        filters:
        - - resource_type
          - '='
          - html
        - and
        - - meta.scripts_count
          - '>'
          - 40
        order_by:
        - meta.content.plain_text_word_count,desc
        limit: 10
    OnPageAvailableFiltersTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageAvailableFiltersResultInfo'
              nullable: true
            nullable: true
    OnPageLinksTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/OnPageLinksResultInfo'
              nullable: true
            description: array of results
            nullable: true
    OnPageSummaryResultInfo:
      type: object
      properties:
        crawl_progress:
          type: string
          description: 'status of the crawling session

            possible values: in_progress, finished'
          nullable: true
        crawl_status:
          type: object
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
          nullable: true
        crawl_gateway_address:
          type: string
          description: 'crawler ip address

            displays the IP address used by the crawler to initiate the current crawling session

            you can find the full list of IPs used by our crawler in the Overview section'
          nullable: true
        crawl_stop_reason:
          type: string
          description: 'reason why the crawling stopped

            information about the reason why the crawling process stopped;

            possible values:

            limit_exceeded – the limit set in the max_crawl_pages was exceeded;

            empty_queue – all URLs in the queue were crawled;

            force_stopped – the crawling process was halted using the On Page API Force Stop function;

            unexpected_exception – an internal error was encountered while crawling the target, contact support for more info'
          nullable: true
        domain_info:
          type: object
          oneOf:
          - $ref: '#/components/schemas/DomainInfo'
          description: 'domain-wide info

            on-page information about the target domain and crawling process'
          nullable: true
        page_metrics:
          type: object
          oneOf:
          - $ref: '#/components/schemas/PageMetrics'
          description: 'page-specific info

            metrics information on the target website pages'
          nullable: true
    AvailibleVersions:
      type: object
      properties:
        version:
          type: string
          description: lighthouse version
          nullable: true
        default:
          type: boolean
          description: 'the version is used by default

            if false, the version is not used by default and should be specified in the corresponding field of the POST request if necessary'
          nullable: true
    HunspellInfo:
      type: object
      properties:
        hunspell_language_code:
          type: string
          description: spellcheck language code
          nullable: true
        misspelled:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/HunspellMisspelledInfo'
            nullable: true
          description: array of misspelled words
          nullable: true
    MicrodataFieldsInfo:
      type: object
      properties:
        name:
          type: string
          description: 'field name

            name of the data field'
          nullable: true
        types:
          type: array
          items:
            type: string
            nullable: true
          description: list of microdata types
          nullable: true
        value:
          type: string
          description: 'microdata value

            microdata value specified on a target web page'
          nullable: true
        test_results:
          type: object
          oneOf:
          - $ref: '#/components/schemas/MessageInfo'
          description: 'microdata validation test results

            sub-type microdata test results that contain detected errors and related messages'
          nullable: true
        fields:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/MicrodataFieldsInfo'
            nullable: true
          description: 'microdata fields

            an array of objects containing data fields related to the certain microdata type'
          nullable: true
    OnPageInstantPagesRequestInfo:
      type: object
      properties:
        url:
          type: string
          description: 'target page url

            required field

            absolute URL of the target page;

            Note #1: results will be returned for the specified URL only;

            Note #2: to prevent denial-of-service events, tasks that contain a duplicate crawl host will be returned with a 40501 error;

            to prevent this error from occurring, avoid setting tasks with the same domain if at least one of your previous tasks with this domain (including a page URL on the domain) is still in a crawling queue'
        custom_user_agent:
          type: string
          description: 'custom user agent

            optional field

            custom user agent for crawling a website

            example: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36


            default value: Mozilla/5.0 (compatible; RSiteAuditor)'
          nullable: true
        browser_preset:
          type: string
          description: 'preset for browser screen parameters

            optional field

            if you use this field, you don’t need to indicate browser_screen_width, browser_screen_height, browser_screen_scale_factorpossible values:

            desktop, mobile, tabletdesktop preset will apply the following values:

            browser_screen_width: 1920

            browser_screen_height: 1080

            browser_screen_scale_factor: 1

            mobile preset will apply the following values:

            browser_screen_width: 390

            browser_screen_height: 844

            browser_screen_scale_factor: 3

            tablet preset will apply the following values:

            browser_screen_width: 1024

            browser_screen_height: 1366

            browser_screen_scale_factor: 2

            Note: to use this parameter, set enable_javascript or enable_browser_rendering to true'
          nullable: true
        browser_screen_width:
          type: integer
          description: 'browser screen width

            optional field

            you can set a custom browser screen width to perform audit for a particular device;

            if you use this field, you don’t need to indicate browser_preset as it will be ignored;Note: to use this parameter, set enable_javascript or enable_browser_rendering to trueminimum value, in pixels: 240

            maximum value, in pixels: 9999'
          format: int64
          nullable: true
        browser_screen_height:
          type: integer
          description: 'browser screen height

            optional field

            you can set a custom browser screen height to perform audit for a particular device;

            if you use this field, you don’t need to indicate browser_preset as it will be ignored;Note: to use this parameter, set enable_javascript or enable_browser_rendering to trueminimum value, in pixels: 240

            maximum value, in pixels: 9999'
          nullable: true
        browser_screen_scale_factor:
          type: number
          description: 'browser screen scale factor

            optional field

            you can set a custom browser screen resolution ratio to perform audit for a particular device;

            if you use this field, you don’t need to indicate browser_preset as it will be ignored;Note: to use this parameter, set enable_javascript or enable_browser_rendering to trueminimum value: 0.5

            maximum value: 3'
          nullable: true
        store_raw_html:
          type: boolean
          description: 'store HTML of a crawled page

            optional field

            set to true if you want get the HTML of the page using the OnPage Raw HTML endpoint

            default value: false'
          nullable: true
        accept_language:
          type: string
          description: 'language header for accessing the website

            optional field

            all locale formats are supported (xx, xx-XX, xxx-XX, etc.)

            Note: if you do not specify this parameter, some websites may deny access; in this case, pages will be returned with the "type":"broken in the response array'
          nullable: true
        load_resources:
          type: boolean
          description: 'load resources

            optional field

            set to true if you want to load image, stylesheets, scripts, and broken resources

            default value: false

            Note: if you use this parameter, additional charges will apply; learn more about the cost of tasks with this parameter in our help article; the cost can be calculated on the Pricing Page'
          nullable: true
        enable_javascript:
          type: boolean
          description: 'load javascript on a page

            optional field

            set to true if you want to load the scripts available on a page

            default value: false

            Note: if you use this parameter, additional charges will apply; learn more about the cost of tasks with this parameter in our help article; the cost can be calculated on the Pricing Page'
          nullable: true
        enable_browser_rendering:
          type: boolean
          description: 'emulate browser rendering to measure Core Web Vitals

            optional field

            by using this parameter you will be able to emulate a browser when loading a web page;

            enable_browser_rendering loads styles, images, fonts, animations, videos, and other resources on a page;

            default value: false

            set to true to obtain Core Web Vitals (FID, CLS, LCP) metrics in the response;

            if you use this field, parameters enable_javascript, and load_resources are enabled automatically;

            Note: if you use this parameter, additional charges will apply; learn more about the cost of tasks with this parameter in our help article; the cost can be calculated on the Pricing Page'
          nullable: true
        disable_cookie_popup:
          type: boolean
          description: "disable the cookie popup \noptional field\nset to true if you want to disable the popup requesting cookie consent from the user;\ndefault value:\nfalse"
          nullable: true
        return_despite_timeout:
          type: boolean
          description: 'return data on pages despite the timeout error

            optional field

            if true, the data will be provided on pages that failed to load within 120 seconds and responded with a timeout error;

            default value: false'
          nullable: true
        enable_xhr:
          type: boolean
          description: 'enable XMLHttpRequest on a page

            optional field

            set to true if you want our crawler to request data from a web server using the XMLHttpRequest object

            default value:

            falseif you use this field, enable_javascript must be set to true;'
          nullable: true
        custom_js:
          type: string
          description: 'custom javascript

            optional fieldNote that the execution time for the script you enter here should be 700 ms maximum;

            for example, you can use the following JS snippet to check if the website contains Google Tag Manager as a scr attribute:

            let meta = { haveGoogleAnalytics: false, haveTagManager: false };\r\nfor (var i = 0; i < document.scripts.length; i++) {\r\n let src = document.scripts[i].getAttribute(\"src\");\r\ n if (src != undefined) {\r\n if (src.indexOf(\"analytics.js\") >= 0)\r\n      meta.haveGoogleAnalytics = true;\r\n\tif (src.indexOf(\"gtm.js\") >= 0)\r\n      meta.haveTagManager = true;\r\n  }\r\n}\ r\nmeta;the returned value depends on what you specified in this field. For instance, if you specify the following script:

            meta = {}; meta.url = document.URL; meta.test = ''test''; meta;

            as a response you will receive the following data:

            "custom_js_response": {

            "url": "https://dataforseo.com/",

            "test": "test"

            }

            Note: if you use this parameter, additional charges will apply; learn more about the cost of tasks with this parameter in our help article; the cost can be calculated on the Pricing Page'
          nullable: true
        validate_micromarkup:
          type: boolean
          description: 'enable microdata validation

            optional field

            if set to true, you can use the OnPage API Microdata endpoint with the id of the task;

            default value: false'
          nullable: true
        check_spell:
          type: boolean
          description: 'check spelling

            optional field

            set to true to check spelling on a website using Hunspell library

            default value: false'
          nullable: true
        checks_threshold:
          type: object
          additionalProperties:
            type: integer
            format: int64
            nullable: true
          description: 'custom threshold values for checks

            optional field

            you can specify custom threshold values for the parameters included in the checks array of OnPage API responses;

            Note: only integer threshold values can be modified;'
          nullable: true
        switch_pool:
          type: boolean
          description: 'switch proxy pool

            optional field

            if true, additional proxy pools will be used to obtain the requested data;

            the parameter can be used if a multitude of tasks is set simultaneously, resulting in occasional rate-limit and/or site_unreachable errors'
          nullable: true
        ip_pool_for_scan:
          type: string
          description: 'proxy pool

            optional field

            you can choose a location of the proxy pool that will be used to obtain the requested data;

            the parameter can be used if page content is inaccessible in one of the locations, resulting in occasional site_unreachable errors

            possible values: us, de'
          nullable: true
      example:
      - url: https://dataforseo.com/blog
        enable_javascript: true
        custom_js: meta = {}; meta.url = document.URL; meta;
    OnPageTaskPostRequestInfo:
      type: object
      properties:
        target:
          type: string
          description: 'target domain

            required field

            domain name should be specified without https:// and www.

            if you specify the page URL, the results will be returned for the domain included in the URL'
        max_crawl_pages:
          type: integer
          description: 'crawled pages limit

            required field

            the number of pages to crawl on the specified domain

            Note:

            if you set max_crawl_pages to 1 and do not specify start_url or set a homepage in it, the following sitewide checks will be disabled:

            test_canonicalization, enable_www_redirect_check, test_hidden_server_signature, test_page_not_found, test_directory_browsing, test_https_redirect

            to enable them anyway, set force_sitewide_checks to trueif you set max_crawl_pages to 1 and specify start_url other than a homepage, all sitewide checks will be disabled;

            to enable them anyway, set force_sitewide_checks to true'
        start_url:
          type: string
          description: "the first url to crawl \noptional field\nNote: you should specify an absolute URL\nif you want to crawl a single page, specify its URL in this field and additionally set the max_crawl_pages parameter to 1\nyou can also use the live Instant Pages endpoint to get page-specific data"
          nullable: true
        force_sitewide_checks:
          type: boolean
          description: 'enable sitewide checks when crawling a single page

            optional field

            set to true to get data on sitewide checks when crawling a single page;

            default value: false'
          nullable: true
        priority_urls:
          type: array
          items:
            type: string
          description: 'urls to be crawled bypassing the queue

            optional field

            URLs specified in this array will be crawled in the first instance, bypassing the crawling queue;

            Note: you should specify the absolute URL;

            you can specify up to 20 URLs;

            all URLs in the array must belong to the target domain;

            subdomains will be ignored unless the allow_subdomains parameter is set to trueexample:

            "priority_urls": [

            "https://dataforseo.com/apis/serp-api",

            "https://dataforseo.com/contact"

            ]'
          nullable: true
        max_crawl_depth:
          type: integer
          description: 'crawl depth

            optional field

            the linking depth of the pages to crawl;

            for example, starting page of the crawl is level 0, pages that have links from that page are level 1, etc.'
          nullable: true
        crawl_delay:
          type: integer
          description: 'delay between hits, ms

            optional field

            the custom delay between crawler hits to the server

            default value: 2000'
          nullable: true
        store_raw_html:
          type: boolean
          description: 'store HTML of crawled pages

            optional field

            set to true if you want to get the HTML of the page using the OnPage Raw HTML endpoint

            default value: false'
          nullable: true
        enable_content_parsing:
          type: boolean
          description: 'parse content on crawled pages

            optional field

            set to true to use the OnPage Content Parsing endpoint

            default value: false'
          nullable: true
        support_cookies:
          type: boolean
          description: 'support cookies on crawled pages

            optional field

            set to true to support cookies when crawling the pages

            default value: false'
          nullable: true
        accept_language:
          type: string
          description: 'language header for accessing the website

            optional field

            all locale formats are supported (xx, xx-XX, xxx-XX, etc.)

            Note: if you do not specify this parameter, some websites may deny access; in this case, pages will be returned with the "type":"broken in the response array'
          nullable: true
        custom_robots_txt:
          type: string
          description: 'custom robots.txt settings

            optional field

            example: Disallow: /directory1/'
          nullable: true
        robots_txt_merge_mode:
          type: string
          description: 'merge with or override robots.txt settings

            optional field

            possible values: merge, override;

            set to override if you want to ignore website crawling restrictions and other robots.txt settings

            default value: merge;

            Note: if set to override, specify the custom_robots_txt parameter'
          nullable: true
        custom_user_agent:
          type: string
          description: 'custom user agent

            optional field

            custom user agent for crawling a website

            example: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36


            default value: Mozilla/5.0 (compatible; RSiteAuditor)'
          nullable: true
        browser_preset:
          type: string
          description: 'preset for browser screen parameters

            optional field

            if you use this field, you don’t need to indicate browser_screen_width, browser_screen_height, browser_screen_scale_factorpossible values:

[...]
