openapi: 3.0.1
info:
  title: DataForSEO AiOptimization AppData API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: AppData
paths:
  /v3/app_data/id_list:
    post:
      tags:
      - AppData
      description: 'This endpoint is designed to provide you with a list of IDs and metadata for all App Data tasks created within the specified time period, including both successful and uncompleted tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/id_list/?bash'''
      operationId: AppDataIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataIdListRequestInfo'
                nullable: true
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataIdListResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/errors:
    post:
      tags:
      - AppData
      description: 'By calling this endpoint you will receive information about the App Data API tasks that returned an error within the past 7 days.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/errors/?bash'''
      operationId: AppDataErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataErrorsRequestInfo'
                nullable: true
              example:
              - limit: 10
                offset: 0
                filtered_function: pingback_url
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataErrorsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/categories:
    get:
      tags:
      - AppData
      description: 'This endpoint will provide you with a full list of app categories available on Google Play.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/categories/?bash'''
      operationId: GoogleCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleCategoriesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/locations:
    get:
      tags:
      - AppData
      description: 'By calling this endpoint you will receive the list of Google locations supported in App Data API.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/locations/?bash'''
      operationId: AppDataGoogleLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/locations/{country}:
    get:
      tags:
      - AppData
      description: 'By calling this endpoint you will receive the list of Google locations supported in App Data API.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/locations/?bash'''
      operationId: AppDataGoogleLocationsCountry
      parameters:
      - name: country
        in: path
        description: 'country ISO code

          optional field

          specify the ISO code if you want to filter the list of locations by country

          example:

          us'
        required: true
        schema:
          type: string
          nullable: true
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleLocationsCountryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/languages:
    get:
      tags:
      - AppData
      description: 'By calling this endpoint you will receive the list of Google languages supported in App Data API.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/languages/?bash'''
      operationId: AppDataGoogleLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_searches/task_post:
    post:
      tags:
      - AppData
      description: 'This endpoint will provide you with a list of apps ranking on Google Play for the specified keyword. The returned results are specific to the indicated keyword, as well as the language and location parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_searches/task_post/?bash'''
      operationId: GoogleAppSearchesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppSearchesTaskPostRequestInfo'
                nullable: true
              example:
              - keyword: vpn
                location_code: 2840
                language_code: en
                depth: 30
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppSearchesTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_searches/tasks_ready:
    get:
      tags:
      - AppData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_searches/tasks_ready/?bash'''
      operationId: GoogleAppSearchesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppSearchesTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/tasks_ready:
    get:
      tags:
      - AppData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_searches/tasks_ready/?bash'''
      operationId: AppDataTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_searches/task_get/advanced/{id}:
    get:
      tags:
      - AppData
      description: 'This endpoint will provide you with a list of apps ranking on Google Play for the keyword specified in a POST request. You will also receive additional information about each application: its ID, icon, reviews count, rating, price, and other data. The results are specific to the keyword as well as location and language parameters specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_searches/task_get/advanced/?bash'''
      operationId: GoogleAppSearchesTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppSearchesTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_searches/task_get/html/{id}:
    get:
      tags:
      - AppData
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_searches/task_get/html/?bash'''
      operationId: GoogleAppSearchesTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppSearchesTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_list/task_post:
    post:
      tags:
      - AppData
      description: 'This endpoint will provide you with a list of mobile applications published in the top charts on the Google Play platform. The returned results are specific to the app collection as well as the the language and location parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_list/task_post/?bash'''
      operationId: GoogleAppListTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListTaskPostRequestInfo'
                nullable: true
              example:
              - app_collection: topselling_free
                location_code: 2840
                language_code: en
                depth: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_list/tasks_ready:
    get:
      tags:
      - AppData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_list/tasks_ready/?bash'''
      operationId: GoogleAppListTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_list/task_get/advanced/{id}:
    get:
      tags:
      - AppData
      description: 'This endpoint will provide you with a list of applications published in the top charts on the Google Play platform, including app IDs, ratings, prices, titles, and more. The results are specific to the app_collection as well as the location and language parameters specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_list/task_get/advanced/?bash'''
      operationId: GoogleAppListTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_list/task_get/html/{id}:
    get:
      tags:
      - AppData
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_list/task_get/html/?bash'''
      operationId: GoogleAppListTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_info/task_post:
    post:
      tags:
      - AppData
      description: 'This endpoint will provide you with information about the Google Play application specified in the app_id field of the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_info/task_post/?bash'''
      operationId: GoogleAppInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskPostRequestInfo'
                nullable: true
              example:
              - app_id: org.telegram.messenger
                location_code: 2840
                language_code: en
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_info/tasks_ready:
    get:
      tags:
      - AppData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_info/tasks_ready/?bash'''
      operationId: GoogleAppInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppInfoTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_info/task_get/advanced/{id}:
    get:
      tags:
      - AppData
      description: 'This endpoint will provide you with information about the mobile application specified in a POST request. You will receive its ID, icon, description, reviews count, rating, number of installs, images, and other data. The results are specific to the app_id parameter specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_info/task_get/advanced/?bash'''
      operationId: GoogleAppInfoTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_info/task_get/html/{id}:
    get:
      tags:
      - AppData
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_info/task_get/html/?bash'''
      operationId: GoogleAppInfoTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_reviews/task_post:
    post:
      tags:
      - AppData
      description: 'This endpoint will provide you with reviews published on the Google Play platform for the app specified in the app_id field. The returned results are specific to the indicated language and location parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_reviews/task_post/?bash'''
      operationId: GoogleAppReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppReviewsTaskPostRequestInfo'
                nullable: true
              example:
              - app_id: org.telegram.messenger
                location_code: 2840
                language_code: en
                depth: 150
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppReviewsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_reviews/tasks_ready:
    get:
      tags:
      - AppData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_reviews/tasks_ready/?bash'''
      operationId: GoogleAppReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppReviewsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_reviews/task_get/advanced/{id}:
    get:
      tags:
      - AppData
      description: 'This endpoint will provide you with feedback data on applications listed on the Google Play platform, including review ratings, review content, user profile info of each reviewer, review publication dates, and more. The results are specific to the app_id as well as the location and language parameters specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_reviews/task_get/advanced/?bash'''
      operationId: GoogleAppReviewsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppReviewsTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_reviews/task_get/html/{id}:
    get:
      tags:
      - AppData
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_reviews/task_get/html/?bash'''
      operationId: GoogleAppReviewsTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppReviewsTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_listings/categories:
    get:
      tags:
      - AppData
      description: 'This endpoint will provide you with a full list of app categories available on Google Play.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_listings/categories/?bash'''
      operationId: GoogleAppListingsCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListingsCategoriesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_listings/search/live:
    post:
      tags:
      - AppData
      description: 'This endpoint will provide you with a list of apps published on Google Play along with additional information: its ID, icon, reviews count, rating, price, and other data. The results are specific to the title, description, and categories parameters specified in the API request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_listings/search/live/?bash'''
      operationId: GoogleAppListingsSearchLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListingsSearchLiveRequestInfo'
                nullable: true
              example:
              - title: vpn
                description: vpn
                categories:
                - Tools
                order_by:
                - item.installs_count,asc
                filters:
                - - item.rating.value
                  - '>'
                  - 4.5
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListingsSearchLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/categories:
    get:
      tags:
      - AppData
      description: 'This endpoint will provide you with a full list of app categories available on App Store.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/categories/?bash'''
      operationId: AppleCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleCategoriesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/locations:
    get:
      tags:
      - AppData
      description: 'By calling this endpoint you will receive the list of Apple locations supported in App Data API.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/locations/?bash'''
      operationId: AppleLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/languages:
    get:
      tags:
      - AppData
      description: 'By calling this endpoint you will receive the list of Apple languages supported in App Data API.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/languages/?bash'''
      operationId: AppleLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_searches/task_post:
    post:
      tags:
      - AppData
      description: 'This endpoint will provide you with a list of apps ranking on the App Store for the specified keyword. The returned results are specific to the indicated keyword, as well as the location and language parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_searches/task_post/?bash'''
      operationId: AppleAppSearchesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppSearchesTaskPostRequestInfo'
                nullable: true
              example:
              - keyword: vpn
                location_code: 2840
                language_code: en
                depth: 200
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppSearchesTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_searches/tasks_ready:
    get:
      tags:
      - AppData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_searches/tasks_ready/?bash'''
      operationId: AppleAppSearchesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppSearchesTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_searches/task_get/advanced/{id}:
    get:
      tags:
      - AppData
      description: 'This endpoint will provide you with a list of apps ranking on the App Store for the keyword specified in a POST request. You will also receive additional information about each application: its ID, icon, reviews count, rating, price, and other data. The results are specific to the keyword as well as location and language parameters specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_searches/task_get/advanced/?bash'''
      operationId: AppleAppSearchesTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppSearchesTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_info/task_post:
    post:
      tags:
      - AppData
      description: 'This endpoint will provide you with information about the App Store application specified in the app_id field of the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_info/task_post/?bash'''
      operationId: AppleAppInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppInfoTaskPostRequestInfo'
                nullable: true
              example:
              - app_id: '835599320'
                location_code: 2840
                language_code: en
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppInfoTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_info/tasks_ready:
    get:
      tags:
      - AppData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_info/tasks_ready/?bash'''
      operationId: AppleAppInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppInfoTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_info/task_get/advanced/{id}:
    get:
      tags:
      - AppData
      description: 'This endpoint will provide you with information about the mobile application specified in a POST request. You will receive its ID, icon, description, reviews count, rating, images, and other data. The results are specific to the app_id parameter specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_info/task_get/advanced/?bash'''
      operationId: AppleAppInfoTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppInfoTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_list/task_post:
    post:
      tags:
      - AppData
      description: 'This endpoint will provide you with a list of mobile applications published in the top app charts on the App Store platform. The returned results are specific to the app collection as well as the language and location parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_list/task_post/?bash'''
      operationId: AppleAppListTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListTaskPostRequestInfo'
                nullable: true
              example:
              - app_collection: top_free_ios
                location_code: 2840
                language_code: en
                depth: 200
                app_category: games
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_list/tasks_ready:
    get:
      tags:
      - AppData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_list/tasks_ready/?bash'''
      operationId: AppleAppListTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_list/task_get/advanced/{id}:
    get:
      tags:
      - AppData
      description: 'This endpoint will provide you with a list of applications published in the top app charts on the App Store platform, including app IDs, ratings, prices, titles, and more. The results are specific to the app_collection as well as the location and language parameters specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_list/task_get/advanced/?bash'''
      operationId: AppleAppListTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_reviews/task_post:
    post:
      tags:
      - AppData
      description: 'This endpoint will provide you with reviews published on the App Store platform for the app specified in the app_id field. The returned results are specific to the indicated language and location parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_reviews/task_post/?bash'''
      operationId: AppleAppReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppReviewsTaskPostRequestInfo'
                nullable: true
              example:
              - app_id: '835599320'
                location_code: 2840
                language_code: en
                depth: 200
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppReviewsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_reviews/tasks_ready:
    get:
      tags:
      - AppData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_reviews/tasks_ready/?bash'''
      operationId: AppleAppReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppReviewsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_reviews/task_get/advanced/{id}:
    get:
      tags:
      - AppData
      description: 'This endpoint will provide you with feedback data on applications listed on the App Store platform, including review ratings, review content, user profile info of each reviewer, review publication dates, and more. The results are specific to the app_id as well as the location and language parameters specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_reviews/task_get/advanced/?bash'''
      operationId: AppleAppReviewsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppReviewsTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_listings/categories:
    get:
      tags:
      - AppData
      description: 'This endpoint will provide you with a full list of app categories available on Apple App Store.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_listings/categories/?bash'''
      operationId: AppleAppListingsCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListingsCategoriesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_listings/search/live:
    post:
      tags:
      - AppData
      description: 'This endpoint will provide you with a list of apps published on App Store along with additional information: its ID, icon, reviews count, rating, price, and other data. The results are specific to the title, description, and categories parameters specified in the API request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_listings/search/live/?bash'''
      operationId: AppleAppListingsSearchLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListingsSearchLiveRequestInfo'
                nullable: true
              example:
              - title: vpn
                description: vpn
                categories:
                - Tools
                order_by:
                - item.rating.value,desc
                filters:
                - - item.rating.value
                  - '>'
                  - 4.5
                limit: 2
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListingsSearchLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
components:
  schemas:
    AppDataErrorsTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataErrorsResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BaseResponseTaskInfo:
      properties:
        id:
          type: string
          description: 'task identifier

            unique task identifier in our system in the UUID format'
          nullable: true
        status_code:
          type: integer
          description: 'status code of the task

            generated by DataForSEO, can be within the following range: 10000-60000

            you can find the full list of the response codes here'
          nullable: true
        status_message:
          type: string
          description: 'informational message of the task

            you can find the full list of general informational messages here'
          nullable: true
        time:
          type: string
          description: execution time, seconds
          nullable: true
        cost:
          type: number
          description: total tasks cost, USD
          format: double
          nullable: true
        result_count:
          type: integer
          description: number of elements in the result array
          format: int64
          nullable: true
        path:
          type: array
          items:
            type: string
            nullable: true
          description: URL path
          nullable: true
        data:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: contains the same parameters that you specified in the POST request
          nullable: true
    AppDataGoogleCategoriesResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleCategoriesTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataGoogleAppListTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppListTaskPostTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataGoogleCategoriesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleCategoriesResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataGoogleAppListingsSearchLiveResultInfo:
      type: object
      properties:
        total_count:
          type: integer
          description: the total number of relevant results in the database
          format: int64
          nullable: true
        count:
          type: integer
          description: the number of items in the results array
          format: int64
          nullable: true
        offset:
          type: integer
          description: offset in the results array of returned apps
          nullable: true
        offset_token:
          type: string
          description: 'token for subsequent requests

            you can use this parameter in the POST request to avoid timeouts while trying to obtain over 100,000 results in a single request'
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AppDataGoogleAppListingsSearchLiveItem'
            nullable: true
          description: array of apps and related data
          nullable: true
    AppDataGoogleAppReviewsTasksReadyResultInfo:
      type: object
      properties:
        id:
          type: string
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
          nullable: true
        se:
          type: string
          description: search engine specified when setting the task
          nullable: true
        se_type:
          type: string
          description: search engine type
          nullable: true
        date_posted:
          type: string
          description: date when the task was posted (in the UTC format)
          nullable: true
        tag:
          type: string
          description: user-defined task identifier
          nullable: true
        endpoint_advanced:
          type: string
          description: URL for collecting the results of the Google App Reviews task
          nullable: true
        endpoint_html:
          type: string
          description: 'URL for collecting the results of the Google App Reviews HTML task

            if HTML tasks are not supported in the specified endpoint, the value will be null'
          nullable: true
    AppDataGoogleAppInfoTaskGetAdvancedResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskGetAdvancedTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataGoogleAppSearchesTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppSearchesTaskGetAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppStoreSearchOrganic:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: 'position within a group of elements with identical type values

            positions of elements with different type values are omitted from rank_group'
          nullable: true
        rank_absolute:
          type: integer
          description: 'absolute rank in SERP

            absolute position among all the elements in SERP'
          nullable: true
        position:
          type: string
          description: 'the alignment of the element in SERP

            can take the following values:

            left, right'
          nullable: true
        app_id:
          type: string
          description: id of the app
          nullable: true
        title:
          type: string
          description: title of the app
          nullable: true
        url:
          type: string
          description: URL to the app page on App Store
          nullable: true
        icon:
          type: string
          description: URL to the app icon
          nullable: true
        reviews_count:
          type: integer
          description: the total number of reviews of the app
          format: int64
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: average rating of the app
          nullable: true
        is_free:
          type: boolean
          description: indicates whether the app is free
          nullable: true
        price:
          type: object
          oneOf:
          - $ref: '#/components/schemas/PriceInfo'
          description: price of the app
          nullable: true
    PriceInfo:
      type: object
      properties:
        current:
          type: number
          description: 'current price

            indicates the current price of the product or service featured in the result'
          format: double
          nullable: true
        regular:
          type: number
          description: 'regular price

            indicates the regular price of the product or service with no discounts applied'
          format: double
          nullable: true
        max_value:
          type: number
          description: 'the maximum price

            the maximum price of the product or service as indicated in the result'
          format: double
          nullable: true
        currency:
          type: string
          description: 'currency of the listed price

            ISO code of the currency applied to the price'
          nullable: true
        is_price_range:
          type: boolean
          description: 'price is provided as a range

            indicates whether a price is provided in a range'
          nullable: true
        displayed_price:
          type: string
          description: 'price string in the result

            raw price string as provided in the result'
          nullable: true
    AppDataGoogleAppReviewsTaskGetHtmlResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppReviewsTaskGetHtmlTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataGoogleAppListTasksReadyResultInfo:
      type: object
      properties:
        id:
          type: string
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
          nullable: true
        se:
          type: string
          description: search engine specified when setting the task
          nullable: true
        se_type:
          type: string
          description: search engine type
          nullable: true
        date_posted:
          type: string
          description: date when the task was posted (in the UTC format)
          nullable: true
        tag:
          type: string
          description: user-defined task identifier
          nullable: true
        endpoint_advanced:
          type: string
          description: URL for collecting the results of the Google App List task
          nullable: true
        endpoint_html:
          type: string
          description: 'URL for collecting the results of the Google App List HTML task

            if HTML tasks are not supported in the specified endpoint, the value will be null'
          nullable: true
    AppDataGoogleAppReviewsTaskGetHtmlResultInfo:
      type: object
      properties:
        app_id:
          type: string
          description: app id received in a POST array
          nullable: true
        type:
          type: string
          description: type of element
          nullable: true
        se_domain:
          type: string
          description: search engine domain in a POST array
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        datetime:
          type: string
          description: 'date and time when the result was received

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/HtmlItemInfo'
            nullable: true
          description: HTML pages and related data
          nullable: true
    AppDataGoogleAppReviewsTaskGetAdvancedResultInfo:
      type: object
      properties:
        app_id:
          type: string
          description: application id received in a POST array
          nullable: true
        type:
          type: string
          description: type of element
          nullable: true
        se_domain:
          type: string
          description: search engine domain in a POST array
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        check_url:
          type: string
          description: 'direct URL to search engine results

            you can use it to make sure that we provided accurate results'
          nullable: true
        datetime:
          type: string
          description: 'date and time when the result was received

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        title:
          type: string
          description: 'title of the app

            title of the application for which the reviews are collected'
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: 'rating of the app

            rating of the application for which the reviews are collected'
          nullable: true
        reviews_count:
          type: integer
          description: the total number of reviews
          format: int64
          nullable: true
        items_count:
          type: integer
          description: 'the number of reviews items in the results array

            you can get more results by using the depth parameter when setting a task'
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/GooglePlayReviewsSearch'
            nullable: true
          description: 'found reviews

            you can get more results by using the depth parameter when setting a task'
          nullable: true
    AppDataGoogleAppReviewsTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppReviewsTaskPostTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataGoogleLocationsCountryResultInfo:
      type: object
      properties:
        location_code:
          type: integer
          description: location code
          nullable: true
        location_name:
          type: string
          description: full name of the location
          nullable: true
        location_name_parent:
          type: string
          description: 'the name of the superordinate location

            example:

            "location_code": 1006473,

            "location_name": "Altrincham,England,United Kingdom",

            "location_name_parent": "England,United Kingdom", where location_name_parent corresponds to:

            "location_code": 20339,

            "location_name": "England,United Kingdom"'
          nullable: true
        country_iso_code:
          type: string
          description: ISO country code of the location
          nullable: true
        location_type:
          type: string
          description: location type
          nullable: true
    AppDataAppleCategoriesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleCategoriesResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataGoogleAppListTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppListTaskGetAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataAppleAppSearchesTasksReadyResultInfo:
      type: object
      properties:
        id:
          type: string
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
          nullable: true
        se:
          type: string
          description: search engine specified when setting the task
          nullable: true
        se_type:
          type: string
          description: search engine type
          nullable: true
        date_posted:
          type: string
          description: date when the task was posted (in the UTC format)
          nullable: true
        tag:
          type: string
          description: user-defined task identifier
          nullable: true
        endpoint_advanced:
          type: string
          description: URL for collecting the results of the Apple App Searches task
          nullable: true
        endpoint_html:
          type: string
          description: 'URL for collecting the results of the Apple App Searches HTML task

            if HTML tasks are not supported in the specified endpoint, the value will be null'
          nullable: true
    AppDataAppleAppSearchesTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppSearchesTaskPostTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataAppleAppSearchesTaskGetAdvancedResultInfo:
      type: object
      properties:
        keyword:
          type: string
          description: keyword received in a POST request
          nullable: true
        se_domain:
          type: string
          description: search engine domain in a POST array
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        check_url:
          type: string
          description: 'direct URL to search engine results

            in this case, the value will be null'
          nullable: true
        datetime:
          type: string
          description: 'date and time when the result was received

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        se_results_count:
          type: integer
          description: the total number of results
          format: int64
          nullable: true
        items_count:
          type: integer
          description: the number of items in the results array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AppStoreSearchOrganic'
            nullable: true
          description: found apps
          nullable: true
    AppsInfo:
      type: object
      properties:
        app_id:
          type: string
          description: ID of the app
          nullable: true
        title:
          type: string
          description: title of the app
          nullable: true
        url:
          type: string
          description: URL to the app page on Google Play
          nullable: true
    AppDataAppleAppInfoTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppInfoTaskGetAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataGoogleAppInfoTaskGetHtmlResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskGetHtmlTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    GooglePlayReviewsSearch:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: 'position within a group of elements with identical type values

            positions of elements with different type values are omitted from rank_group'
          nullable: true
        rank_absolute:
          type: integer
          description: 'absolute rank among all the listed reviews

            absolute position among all reviews on the list'
          nullable: true
        position:
          type: string
          description: 'the alignment of the review in SERP

            can take the following values: left'
          nullable: true
        version:
          type: string
          description: 'version of the app

            version of the app for which the review is submitted'
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: the rating score submitted by the reviewer
          nullable: true
        timestamp:
          type: string
          description: 'date and time when the review was published

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”;

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        id:
          type: string
          description: id of the review
          nullable: true
        helpful_count:
          type: integer
          description: 'number of helpful votes

            indicates how many users considered the review helpful and voted with the thumbs up icon'
          format: int64
          nullable: true
        title:
          type: string
          description: 'title of the review

            Google Play doesn’t provide an option to title reviews, so this parameter will always equal null'
          nullable: true
        review_text:
          type: string
          description: content of the review
          nullable: true
        user_profile:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppUserProfileInfo'
          description: user profile of the reviewer
          nullable: true
        responses:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/ResponseDataInfo'
            nullable: true
          description: response from the developer
          nullable: true
    AppDataAppleCategoriesResultInfo:
      type: object
      properties:
        categories:
          type: array
          items:
            type: string
            nullable: true
          description: contains full list of supported app categories
          nullable: true
    ResponseDataInfo:
      type: object
      properties:
        author:
          type: string
          description: author of the response
          nullable: true
        title:
          type: string
          description: 'title of the response

            in this case, will equal null'
          nullable: true
        text:
          type: string
          description: content of the response
          nullable: true
        timestamp:
          type: string
          description: 'date and time when the response was published

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”;

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
    AppDataAppleAppListingsSearchLiveRequestInfo:
      type: object
      properties:
        categories:
          type: array
          items:
            type: string
          description: 'app categories

            optional field

            the categories you specify are used to search for app listings;

            you can get the full list of available app listing categories by this link

            you can specify up to 10 categories'
          nullable: true
        description:
          type: string
          description: 'keyword in the app’s description

            optional field

            keywords that occur in the description of the app;

            can contain up to 200 characters'
          nullable: true
        title:
          type: string
          description: 'keyword in the app’s title

            optional field

            keywords that occur in the title of the app;

            can contain up to 200 characters'
          nullable: true
        filters:
          type: array
          items:
            type: object
            nullable: true
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, <, <=, >, >=, =, <>, in, not_in, like, not_like

            you can use the % operator with like and not_like to match any string of zero or more characters

            example:

            ["rating.value",">",3]

            you can receive the list of available filters by making a separate request to https://api.dataforseo.com/v3/app_data/apple/app_listings/available_filters'
          nullable: true
        order_by:
          type: array
          items:
            type: string
          description: 'results sorting rules

            optional field

            you can use the same values as in the filters array to sort the results

            possible sorting types:

            asc – results will be sorted in the ascending order

            desc – results will be sorted in the descending order

            you should use a comma to set up a sorting parameter

            example:

            ["item.rating.value,desc"]

            note that you can set no more than three sorting rules in a single request

            you should use a comma to separate several sorting rules

            example:

            ["item.rating.value,desc","item.rating.value,desc"]'
          nullable: true
        limit:
          type: integer
          description: 'the maximum number of returned apps

            optional field

            default value: 100

            maximum value: 1000'
          nullable: true
        offset:
          type: integer
          description: 'offset in the results array of returned apps

            optional field

            default value: 0

            if you specify the 10 value, the first ten entities in the results array will be omitted and the data will be provided for the successive entities

            Note: we recommend using this parameter only when retrieving up to 10,000 results

            for retrieving over 10,000 results, use the offset_token instead.'
          nullable: true
        offset_token:
          type: string
          description: 'token for subsequent requests

            optional field

            provided in the identical filed of the response to each request;

            use this parameter to avoid timeouts while trying to obtain over 100,000 results in a single request;

            by specifying the unique offset_token value from the response array, you will get the subsequent results of the initial task;

            offset_token values are unique for each subsequent task

            Note: if the offset_token is specified in the request, all other parameters should be identical to the previous request

            learn more about this parameter on our Help Center'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
      example:
      - title: vpn
        description: vpn
        categories:
        - Tools
        order_by:
        - item.rating.value,desc
        filters:
        - - item.rating.value
          - '>'
          - 4.5
        limit: 2
    AppDataGoogleAppInfoTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskPostTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataAppleLocationsResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleLocationsTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataAppleAppReviewsTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppReviewsTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataGoogleAppInfoTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppInfoTasksReadyTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataGoogleAppListTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: object
            description: 'array of results

              in this case, the value will be null'
            nullable: true
    AppDataGoogleLocationsCountryTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleLocationsCountryResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataAppleLocationsResultInfo:
      type: object
      properties:
        location_code:
          type: integer
          description: location code
          nullable: true
        location_name:
          type: string
          description: full name of the location
          nullable: true
        location_name_parent:
          type: string
          description: 'the name of the superordinate location

            example:

            "location_code": 1006473,

            "location_name": "Altrincham,England,United Kingdom",

            "location_name_parent": "England,United Kingdom", where location_name_parent corresponds to:

            "location_code": 20339,

            "location_name": "England,United Kingdom"

            note: Apple App Data API currently supports countries only, that is why this value will always be null'
          nullable: true
        country_iso_code:
          type: string
          description: ISO country code of the location
          nullable: true
        location_type:
          type: string
          description: location type
          nullable: true
    AppDataAppleAppListTaskPostRequestInfo:
      type: object
      properties:
        app_collection:
          type: string
          description: 'app collection

            required field

            app collection on App Store from which apps will be collected;

            you can specify the following values:

            top_free_ios, top_paid_ios, top_grossing_ios, new_ios, new_free_ios, new_paid_ios'
        location_name:
          type: string
          description: 'full name of search engine location

            required field if you don’t specify location_code

            if you use this field, you don’t need to specify location_code

            you can receive the list of available locations of the search engine with their location_name by making a separate request to https://api.dataforseo.com/v3/app_data/apple/locations

            example:

            West Los Angeles,California,United States'
          nullable: true
        location_code:
          type: integer
          description: 'search engine location code

            required field if you don’t specify location_name

            if you use this field, you don’t need to specify location_name

            you can receive the list of available locations of the search engine with their location_code by making a separate request to https://api.dataforseo.com/v3/app_data/apple/locations

            example:

            9061121'
          nullable: true
        language_name:
          type: string
          description: 'full name of search engine language

            required field if you don’t specify language_code

            if you use this field, you don’t need to specify language_code

            you can receive the list of available languages with language_name by making a separate request to https://api.dataforseo.com/v3/app_data/apple/languages

            example:

            English'
          nullable: true
        language_code:
          type: string
          description: 'search engine language code

            required field if you don’t specify language_name

            if you use this field, you don’t need to specify language_name

            you can receive the list of available languages with their language_code by making a separate request to https://api.dataforseo.com/v3/app_data/apple/languages

            example:

            en'
          nullable: true
        priority:
          type: integer
          description: 'task priority

            optional field

            can take the following values:

            1 – normal execution priority (set by default)

            2 – high execution priority

            You will be additionally charged for the tasks with high execution priority.

            The cost can be calculated on the Pricing page.'
          nullable: true
        depth:
          type: integer
          description: 'parsing depth

            optional field

            number of apps to be returned from the App Store SERP;

            we strongly recommend setting the parsing depth in the multiples of 100, because our system processes 100 results in a row;

            default value: 100

            maximum value: 1000

            Your account will be billed per each SERP containing up to 100 results;

            Setting depth above 100 may result in additional charges if the search engine returns more than 100 results;

            The cost can be calculated on the Pricing page.'
          nullable: true
        app_category:
          type: string
          description: 'application category on the App Store

            optional field

            you can filter the results by app category;

            example:

            lifestyle;

            you can review the full list of available categories here or by making a separate request to https://api.dataforseo.com/v3/app_data/apple/categories'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
        postback_url:
          type: string
          description: 'URL for sending task results

            optional field

            once the task is completed, we will send a POST request with its results compressed in the gzip format to the postback_url you specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/postbackscript?id=$id

            http://your-server.com/postbackscript?id=$id&tag=$tag

            Note: special characters in postback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
          nullable: true
        postback_data:
          type: string
          description: 'postback_url datatype

            required field if you specify postback_url

            corresponds to the datatype that will be sent to your server

            possible values:

            advanced'
          nullable: true
        pingback_url:
          type: string
          description: 'notification URL of a completed task

            optional field

            when a task is completed we will notify you by GET request sent to the URL you have specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/pingscript?id=$id

            http://your-server.com/pingscript?id=$id&tag=$tag

            Note: special characters in pingback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
          nullable: true
      example:
      - app_collection: top_free_ios
        location_code: 2840
        language_code: en
        depth: 200
        app_category: games
    AppDataAppleAppListTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppListTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataAppleAppListingsSearchLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppListingsSearchLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataGoogleAppListTaskPostRequestInfo:
      type: object
      properties:
        app_collection:
          type: string
          description: 'app collection

            required field

            app collection on Google Play from which apps will be collected;

            you can specify the following values:

            featured, topselling_paid, topselling_free, topselling_new_free, topselling_new_paid, topgrossing, movers_shakers

            Note: if featured is selected, the app_category parameter cannot be used'
        location_name:
          type: string
          description: 'full name of search engine location

            required field if you don’t specify location_code

            if you use this field, you don’t need to specify location_code

            you can receive the list of available locations of the search engine with their location_name by making a separate request to https://api.dataforseo.com/v3/app_data/google/locations

            example:

            West Los Angeles,California,United States'
          nullable: true
        location_code:
          type: integer
          description: 'search engine location code

            required field if you don’t specify location_name

            if you use this field, you don’t need to specify location_name

            you can receive the list of available locations of the search engine with their location_code by making a separate request to https://api.dataforseo.com/v3/app_data/google/locations

            example:

            9061121'
          nullable: true
        language_name:
          type: string
          description: 'full name of search engine language

            required field if language_code is not specified

            if you use this field, you don’t need to specify language_code

            you can receive the list of available languages with language_name by making a separate request to https://api.dataforseo.com/v3/app_data/google/languages

            example:

            English'
          nullable: true
        language_code:
          type: string
          description: 'search engine language code

            required field if language_name is not specified

            if you use this field, you don’t need to specify language_name

            you can receive the list of available languages with their language_code by making a separate request to https://api.dataforseo.com/v3/app_data/google/languages

            example:

            en'
          nullable: true
        priority:
          type: integer
          description: 'task priority

            optional field

            can take the following values:

            1 – normal execution priority (set by default)

            2 – high execution priority

            You will be additionally charged for the tasks with high execution priority.

            The cost can be calculated on the Pricing page.'
          nullable: true
        depth:
          type: integer
          description: 'parsing depth

            optional field

            number of apps to be returned in the API response;

            we strongly recommend setting the parsing depth in the multiples of 100, because our system processes 100 results in a row;

            default value: 100;

            maximum value: 200;

            Your account will be billed per each SERP containing up to 100 results;

            Setting depth above 100 may result in additional charges if the search engine returns more than 100 results;

            The cost can be calculated on the Pricing page.'
          nullable: true
        app_category:
          type: string
          description: 'application category on Google Play

            optional field

            you can filter the results by app category;

            example:

            family;

            you can receive the full list of available categories by making a separate request to https://api.dataforseo.com/v3/app_data/google/categories

            Note: app_category cannot be used if app_collection parameter is set to featured'
          nullable: true
        age_rating:
          type: string
          description: 'filter results by age rating

            optional field

            you can use this field to filter the results by age rating;

            possible types of filtering:

            ages_up_to_5 — return apps approved for children up to 5 years old;

            ages_6_8 — return apps approved for children from 6 to 8 years old;

            ages_9_12 — return apps approved for children from 9 to 12 years old;

            by default, the API returns apps for all ages;

            Note: this filter works only in conjunction with the "category": "family" parameter'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
        postback_url:
          type: string
          description: 'URL for sending task results

            optional field

            once the task is completed, we will send a POST request with its results compressed in the gzip format to the postback_url you specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/postbackscript?id=$id

            http://your-server.com/postbackscript?id=$id&tag=$tag

            Note: special characters in postback_url will be urlencoded;

            i.a., the # character will be encoded into %23'
          nullable: true
        postback_data:
          type: string
          description: 'postback_url datatype

            required field if you specify postback_url

            corresponds to the datatype that will be sent to your server

            possible values:

            advanced, html'
          nullable: true
        pingback_url:
          type: string
          description: 'notification URL of a completed task

            optional field

            when a task is completed we will notify you by GET request sent to the URL you have specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/pingscript?id=$id

            http://your-server.com/pingscript?id=$id&tag=$tag

            Note: special characters in pingback_url will be urlencoded;

            i.a., the # character will be encoded into %23'
          nullable: true
      example:
      - app_collection: topselling_free
        location_code: 2840
        language_code: en
        depth: 100
    AppDataGoogleAppSearchesTaskGetAdvancedResultInfo:
      type: object
      properties:
        keyword:
          type: string
          description: keyword received in a POST request
          nullable: true
        se_domain:
          type: string
          description: search engine domain in a POST array
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        check_url:
          type: string
          description: 'direct URL to search engine results

            you can use it to make sure that we provided accurate results'
          nullable: true
        datetime:
          type: string
          description: 'date and time when the result was received

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        se_results_count:
          type: integer
          description: the total number of results
          format: int64
          nullable: true
        items_count:
          type: integer
          description: the number of items in the results array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/GooglePlaySearchOrganic'
            nullable: true
          description: found apps
          nullable: true
    AppDataAppleLocationsTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleLocationsResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataAppleAppInfoTaskPostRequestInfo:
      type: object
      properties:
        app_id:
          type: string
          description: 'id of the app

            required field

            ID of the mobile application on App Store;

            you can find the ID in the URL of every app listed on App Store;

            example:

            in the URL https://apps.apple.com/us/app/id835599320

            the id is 835599320'
        location_name:
          type: string
          description: 'full name of search engine location

            required field if you don’t specify location_code

            if you use this field, you don’t need to specify location_code

            you can receive the list of available locations of the search engine with their location_name by making a separate request to https://api.dataforseo.com/v3/app_data/apple/locations

            example:

            West Los Angeles,California,United States'
          nullable: true
        location_code:
          type: integer
          description: 'search engine location code

            required field if you don’t specify location_name

            if you use this field, you don’t need to specify location_name

            you can receive the list of available locations of the search engine with their location_code by making a separate request to https://api.dataforseo.com/v3/app_data/apple/locations

            example:

            9061121'
          nullable: true
        language_name:
          type: string
          description: 'full name of search engine language

            required field if you don’t specify language_code

            if you use this field, you don’t need to specify language_code

            you can receive the list of available languages with language_name by making a separate request to https://api.dataforseo.com/v3/app_data/apple/languages

            example:

            English'
          nullable: true
        language_code:
          type: string
          description: 'search engine language code

            required field if you don’t specify language_name

            if you use this field, you don’t need to specify language_name

            you can receive the list of available languages with their language_code by making a separate request to https://api.dataforseo.com/v3/app_data/apple/languages

            example:

            en'
          nullable: true
        priority:
          type: integer
          description: "task priority\noptional field\ncan take the following values:\n1 – normal execution priority (set by default)\n2 – high execution priority \nYou will be additionally charged for the tasks with high execution priority.\nThe cost can be calculated on the Pricing page."
          nullable: true
        tag:
          type: string
[...]
