openapi: 3.2.0
info:
  title: DataForSEO App Data API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: App Data
paths:
  /v3/app_data/id_list:
    post:
      tags:
      - App Data
      description: 'This endpoint is designed to provide you with a list of IDs and metadata for all App Data tasks created within the specified time period, including both successful and uncompleted tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/id_list/?bash'''
      operationId: AppDataIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataIdListRequestInfo'
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataIdListResponseInfo'
      security:
      - basicAuth: []
      summary: App data id list
      x-summary-source: derived
  /v3/app_data/errors:
    post:
      tags:
      - App Data
      description: 'By calling this endpoint you will receive information about the App Data API tasks that returned an error within the past 7 days.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/errors/?bash'''
      operationId: AppDataErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataErrorsRequestInfo'
              example:
              - limit: 10
                offset: 0
                filtered_function: pingback_url
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataErrorsResponseInfo'
      security:
      - basicAuth: []
      summary: App data errors
      x-summary-source: derived
  /v3/app_data/google/categories:
    get:
      tags:
      - App Data
      description: 'This endpoint will provide you with a full list of app categories available on Google Play.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/categories/?bash'''
      operationId: GoogleCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleCategoriesResponseInfo'
      security:
      - basicAuth: []
      summary: Google categories
      x-summary-source: derived
  /v3/app_data/google/locations:
    get:
      tags:
      - App Data
      description: 'By calling this endpoint you will receive the list of Google locations supported in App Data API.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/locations/?bash'''
      operationId: AppDataGoogleLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleLocationsResponseInfo'
      security:
      - basicAuth: []
      summary: App data google locations
      x-summary-source: derived
  /v3/app_data/google/locations/{country}:
    get:
      tags:
      - App Data
      description: 'By calling this endpoint you will receive the list of Google locations supported in App Data API.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/locations/?bash'''
      operationId: AppDataGoogleLocationsCountry
      parameters:
      - name: country
        in: path
        description: 'country ISO code

          optional field

          specify the ISO code if you want to filter the list of locations by country

          example:

          us'
        required: true
        schema:
          type:
          - string
          - 'null'
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleLocationsCountryResponseInfo'
      security:
      - basicAuth: []
      summary: App data google locations country
      x-summary-source: derived
  /v3/app_data/google/languages:
    get:
      tags:
      - App Data
      description: 'By calling this endpoint you will receive the list of Google languages supported in App Data API.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/languages/?bash'''
      operationId: AppDataGoogleLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: App data google languages
      x-summary-source: derived
  /v3/app_data/google/app_searches/task_post:
    post:
      tags:
      - App Data
      description: 'This endpoint will provide you with a list of apps ranking on Google Play for the specified keyword. The returned results are specific to the indicated keyword, as well as the language and location parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_searches/task_post/?bash'''
      operationId: GoogleAppSearchesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppSearchesTaskPostRequestInfo'
              example:
              - keyword: vpn
                location_code: 2840
                language_code: en
                depth: 30
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppSearchesTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google app searches task post
      x-summary-source: derived
  /v3/app_data/google/app_searches/tasks_ready:
    get:
      tags:
      - App Data
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_searches/tasks_ready/?bash'''
      operationId: GoogleAppSearchesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppSearchesTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google app searches tasks ready
      x-summary-source: derived
  /v3/app_data/tasks_ready:
    get:
      tags:
      - App Data
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_searches/tasks_ready/?bash'''
      operationId: AppDataTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: App data tasks ready
      x-summary-source: derived
  /v3/app_data/google/app_searches/task_get/advanced/{id}:
    get:
      tags:
      - App Data
      description: 'This endpoint will provide you with a list of apps ranking on Google Play for the keyword specified in a POST request. You will also receive additional information about each application: its ID, icon, reviews count, rating, price, and other data. The results are specific to the keyword as well as location and language parameters specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_searches/task_get/advanced/?bash'''
      operationId: GoogleAppSearchesTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppSearchesTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google app searches task get advanced
      x-summary-source: derived
  /v3/app_data/google/app_searches/task_get/html/{id}:
    get:
      tags:
      - App Data
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_searches/task_get/html/?bash'''
      operationId: GoogleAppSearchesTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppSearchesTaskGetHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google app searches task get html
      x-summary-source: derived
  /v3/app_data/google/app_list/task_post:
    post:
      tags:
      - App Data
      description: 'This endpoint will provide you with a list of mobile applications published in the top charts on the Google Play platform. The returned results are specific to the app collection as well as the the language and location parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_list/task_post/?bash'''
      operationId: GoogleAppListTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListTaskPostRequestInfo'
              example:
              - app_collection: topselling_free
                location_code: 2840
                language_code: en
                depth: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google app list task post
      x-summary-source: derived
  /v3/app_data/google/app_list/tasks_ready:
    get:
      tags:
      - App Data
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_list/tasks_ready/?bash'''
      operationId: GoogleAppListTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google app list tasks ready
      x-summary-source: derived
  /v3/app_data/google/app_list/task_get/advanced/{id}:
    get:
      tags:
      - App Data
      description: 'This endpoint will provide you with a list of applications published in the top charts on the Google Play platform, including app IDs, ratings, prices, titles, and more. The results are specific to the app_collection as well as the location and language parameters specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_list/task_get/advanced/?bash'''
      operationId: GoogleAppListTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google app list task get advanced
      x-summary-source: derived
  /v3/app_data/google/app_list/task_get/html/{id}:
    get:
      tags:
      - App Data
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_list/task_get/html/?bash'''
      operationId: GoogleAppListTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListTaskGetHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google app list task get html
      x-summary-source: derived
  /v3/app_data/google/app_info/task_post:
    post:
      tags:
      - App Data
      description: 'This endpoint will provide you with information about the Google Play application specified in the app_id field of the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_info/task_post/?bash'''
      operationId: GoogleAppInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskPostRequestInfo'
              example:
              - app_id: org.telegram.messenger
                location_code: 2840
                language_code: en
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google app info task post
      x-summary-source: derived
  /v3/app_data/google/app_info/tasks_ready:
    get:
      tags:
      - App Data
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_info/tasks_ready/?bash'''
      operationId: GoogleAppInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppInfoTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google app info tasks ready
      x-summary-source: derived
  /v3/app_data/google/app_info/task_get/advanced/{id}:
    get:
      tags:
      - App Data
      description: 'This endpoint will provide you with information about the mobile application specified in a POST request. You will receive its ID, icon, description, reviews count, rating, number of installs, images, and other data. The results are specific to the app_id parameter specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_info/task_get/advanced/?bash'''
      operationId: GoogleAppInfoTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google app info task get advanced
      x-summary-source: derived
  /v3/app_data/google/app_info/task_get/html/{id}:
    get:
      tags:
      - App Data
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_info/task_get/html/?bash'''
      operationId: GoogleAppInfoTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskGetHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google app info task get html
      x-summary-source: derived
  /v3/app_data/google/app_reviews/task_post:
    post:
      tags:
      - App Data
      description: 'This endpoint will provide you with reviews published on the Google Play platform for the app specified in the app_id field. The returned results are specific to the indicated language and location parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_reviews/task_post/?bash'''
      operationId: GoogleAppReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppReviewsTaskPostRequestInfo'
              example:
              - app_id: org.telegram.messenger
                location_code: 2840
                language_code: en
                depth: 150
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppReviewsTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google app reviews task post
      x-summary-source: derived
  /v3/app_data/google/app_reviews/tasks_ready:
    get:
      tags:
      - App Data
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_reviews/tasks_ready/?bash'''
      operationId: GoogleAppReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppReviewsTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google app reviews tasks ready
      x-summary-source: derived
  /v3/app_data/google/app_reviews/task_get/advanced/{id}:
    get:
      tags:
      - App Data
      description: 'This endpoint will provide you with feedback data on applications listed on the Google Play platform, including review ratings, review content, user profile info of each reviewer, review publication dates, and more. The results are specific to the app_id as well as the location and language parameters specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_reviews/task_get/advanced/?bash'''
      operationId: GoogleAppReviewsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppReviewsTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google app reviews task get advanced
      x-summary-source: derived
  /v3/app_data/google/app_reviews/task_get/html/{id}:
    get:
      tags:
      - App Data
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_reviews/task_get/html/?bash'''
      operationId: GoogleAppReviewsTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppReviewsTaskGetHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google app reviews task get html
      x-summary-source: derived
  /v3/app_data/google/app_listings/categories:
    get:
      tags:
      - App Data
      description: 'This endpoint will provide you with a full list of app categories available on Google Play.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_listings/categories/?bash'''
      operationId: GoogleAppListingsCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListingsCategoriesResponseInfo'
      security:
      - basicAuth: []
      summary: Google app listings categories
      x-summary-source: derived
  /v3/app_data/google/app_listings/search/live:
    post:
      tags:
      - App Data
      description: 'This endpoint will provide you with a list of apps published on Google Play along with additional information: its ID, icon, reviews count, rating, price, and other data. The results are specific to the title, description, and categories parameters specified in the API request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/google/app_listings/search/live/?bash'''
      operationId: GoogleAppListingsSearchLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListingsSearchLiveRequestInfo'
              example:
              - title: vpn
                description: vpn
                categories:
                - Tools
                order_by:
                - item.installs_count,asc
                filters:
                - - item.rating.value
                  - '>'
                  - 4.5
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListingsSearchLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google app listings search live
      x-summary-source: derived
  /v3/app_data/apple/categories:
    get:
      tags:
      - App Data
      description: 'This endpoint will provide you with a full list of app categories available on App Store.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/categories/?bash'''
      operationId: AppleCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleCategoriesResponseInfo'
      security:
      - basicAuth: []
      summary: Apple categories
      x-summary-source: derived
  /v3/app_data/apple/locations:
    get:
      tags:
      - App Data
      description: 'By calling this endpoint you will receive the list of Apple locations supported in App Data API.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/locations/?bash'''
      operationId: AppleLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleLocationsResponseInfo'
      security:
      - basicAuth: []
      summary: Apple locations
      x-summary-source: derived
  /v3/app_data/apple/languages:
    get:
      tags:
      - App Data
      description: 'By calling this endpoint you will receive the list of Apple languages supported in App Data API.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/languages/?bash'''
      operationId: AppleLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Apple languages
      x-summary-source: derived
  /v3/app_data/apple/app_searches/task_post:
    post:
      tags:
      - App Data
      description: 'This endpoint will provide you with a list of apps ranking on the App Store for the specified keyword. The returned results are specific to the indicated keyword, as well as the location and language parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_searches/task_post/?bash'''
      operationId: AppleAppSearchesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppSearchesTaskPostRequestInfo'
              example:
              - keyword: vpn
                location_code: 2840
                language_code: en
                depth: 200
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppSearchesTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app searches task post
      x-summary-source: derived
  /v3/app_data/apple/app_searches/tasks_ready:
    get:
      tags:
      - App Data
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_searches/tasks_ready/?bash'''
      operationId: AppleAppSearchesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppSearchesTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app searches tasks ready
      x-summary-source: derived
  /v3/app_data/apple/app_searches/task_get/advanced/{id}:
    get:
      tags:
      - App Data
      description: 'This endpoint will provide you with a list of apps ranking on the App Store for the keyword specified in a POST request. You will also receive additional information about each application: its ID, icon, reviews count, rating, price, and other data. The results are specific to the keyword as well as location and language parameters specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_searches/task_get/advanced/?bash'''
      operationId: AppleAppSearchesTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppSearchesTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app searches task get advanced
      x-summary-source: derived
  /v3/app_data/apple/app_info/task_post:
    post:
      tags:
      - App Data
      description: 'This endpoint will provide you with information about the App Store application specified in the app_id field of the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_info/task_post/?bash'''
      operationId: AppleAppInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppInfoTaskPostRequestInfo'
              example:
              - app_id: '835599320'
                location_code: 2840
                language_code: en
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppInfoTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app info task post
      x-summary-source: derived
  /v3/app_data/apple/app_info/tasks_ready:
    get:
      tags:
      - App Data
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_info/tasks_ready/?bash'''
      operationId: AppleAppInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppInfoTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app info tasks ready
      x-summary-source: derived
  /v3/app_data/apple/app_info/task_get/advanced/{id}:
    get:
      tags:
      - App Data
      description: 'This endpoint will provide you with information about the mobile application specified in a POST request. You will receive its ID, icon, description, reviews count, rating, images, and other data. The results are specific to the app_id parameter specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_info/task_get/advanced/?bash'''
      operationId: AppleAppInfoTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppInfoTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app info task get advanced
      x-summary-source: derived
  /v3/app_data/apple/app_list/task_post:
    post:
      tags:
      - App Data
      description: 'This endpoint will provide you with a list of mobile applications published in the top app charts on the App Store platform. The returned results are specific to the app collection as well as the language and location parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_list/task_post/?bash'''
      operationId: AppleAppListTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListTaskPostRequestInfo'
              example:
              - app_collection: top_free_ios
                location_code: 2840
                language_code: en
                depth: 200
                app_category: games
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app list task post
      x-summary-source: derived
  /v3/app_data/apple/app_list/tasks_ready:
    get:
      tags:
      - App Data
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_list/tasks_ready/?bash'''
      operationId: AppleAppListTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app list tasks ready
      x-summary-source: derived
  /v3/app_data/apple/app_list/task_get/advanced/{id}:
    get:
      tags:
      - App Data
      description: 'This endpoint will provide you with a list of applications published in the top app charts on the App Store platform, including app IDs, ratings, prices, titles, and more. The results are specific to the app_collection as well as the location and language parameters specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_list/task_get/advanced/?bash'''
      operationId: AppleAppListTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app list task get advanced
      x-summary-source: derived
  /v3/app_data/apple/app_reviews/task_post:
    post:
      tags:
      - App Data
      description: 'This endpoint will provide you with reviews published on the App Store platform for the app specified in the app_id field. The returned results are specific to the indicated language and location parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_reviews/task_post/?bash'''
      operationId: AppleAppReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppReviewsTaskPostRequestInfo'
              example:
              - app_id: '835599320'
                location_code: 2840
                language_code: en
                depth: 200
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppReviewsTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app reviews task post
      x-summary-source: derived
  /v3/app_data/apple/app_reviews/tasks_ready:
    get:
      tags:
      - App Data
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_reviews/tasks_ready/?bash'''
      operationId: AppleAppReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppReviewsTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app reviews tasks ready
      x-summary-source: derived
  /v3/app_data/apple/app_reviews/task_get/advanced/{id}:
    get:
      tags:
      - App Data
      description: 'This endpoint will provide you with feedback data on applications listed on the App Store platform, including review ratings, review content, user profile info of each reviewer, review publication dates, and more. The results are specific to the app_id as well as the location and language parameters specified in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_reviews/task_get/advanced/?bash'''
      operationId: AppleAppReviewsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppReviewsTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app reviews task get advanced
      x-summary-source: derived
  /v3/app_data/apple/app_listings/categories:
    get:
      tags:
      - App Data
      description: 'This endpoint will provide you with a full list of app categories available on Apple App Store.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_listings/categories/?bash'''
      operationId: AppleAppListingsCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListingsCategoriesResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app listings categories
      x-summary-source: derived
  /v3/app_data/apple/app_listings/search/live:
    post:
      tags:
      - App Data
      description: 'This endpoint will provide you with a list of apps published on App Store along with additional information: its ID, icon, reviews count, rating, price, and other data. The results are specific to the title, description, and categories parameters specified in the API request.

        for more info please visit ''https://docs.dataforseo.com/v3/app_data/apple/app_listings/search/live/?bash'''
      operationId: AppleAppListingsSearchLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListingsSearchLiveRequestInfo'
              example:
              - title: vpn
                description: vpn
                categories:
                - Tools
                order_by:
                - item.rating.value,desc
                filters:
                - - item.rating.value
                  - '>'
                  - 4.5
                limit: 2
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListingsSearchLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app listings search live
      x-summary-source: derived
components:
  schemas:
    AppDataAppleAppInfoTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - object
            - 'null'
            description: 'array of results

              in this case, the value will be null'
    HtmlItemInfo:
      type: object
      properties:
        page:
          type:
          - integer
          - 'null'
          description: serial number of the returned HTML page
        date:
          type:
          - string
          - 'null'
          description: 'date and time when the HTML page was scanned

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        html:
          type:
          - string
          - 'null'
          description: HTML page
    AppDataGoogleCategoriesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleCategoriesResultInfo'
            description: array of results
    AppDataGoogleAppInfoTaskGetAdvancedResultInfo:
      type: object
      properties:
        app_id:
          type:
          - string
          - 'null'
          description: application id received in a POST request
        se_domain:
          type:
          - string
          - 'null'
          description: search engine domain in a POST array
        location_code:
          type:
          - integer
          - 'null'
          description: location code in a POST array
        language_code:
          type:
          - string
          - 'null'
          description: language code in a POST array
        check_url:
          type:
          - string
          - 'null'
          description: 'direct URL to search engine results

            you can use it to make sure that we provided accurate results'
        datetime:
          type:
          - string
          - 'null'
          description: 'date and time when the result was received

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        se_results_count:
          type:
          - integer
          - 'null'
          description: the total number of results
          format: int64
        items_count:
          type:
          - integer
          - 'null'
          description: the number of items in the results array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/GooglePlayInfoOrganic'
          description: found app info
    AppDataGoogleLanguagesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleLanguagesResultInfo'
            description: array of results
    AppDataGoogleLocationsTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleLocationsResultInfo'
            description: array of results
    RatingInfo:
      properties:
        rating_type:
          type:
          - string
          - 'null'
          description: 'the type of rating

            here you can find the following elements: Max5, Percents, CustomMax'
        value:
          type:
          - number
          - 'null'
          description: the value of the rating
          format: double
        votes_count:
          type:
          - integer
          - 'null'
          description: the amount of feedback
          format: int64
        rating_max:
          type:
          - integer
          - 'null'
          description: the maximum value for a rating_type
    AppDataGoogleAppListingsCategoriesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppListingsCategoriesResultInfo'
            description: array of results
    AppDataGoogleAppInfoTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskGetAdvancedResultInfo'
            description: array of results
    AppDataAppleAppSearchesTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppSearchesTasksReadyTaskInfo'
            description: array of tasks
    AppDataGoogleAppListTaskGetAdvancedResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppListTaskGetAdvancedTaskInfo'
            description: array of tasks
    AppDataAppleLanguagesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleLanguagesResultInfo'
            description: array of results
    AppStoreInfoOrganic:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: type of element
        rank_group:
          type:
          - integer
          - 'null'
          description: 'position within a group of elements with identical type values

            positions of elements with different type values are omitted from rank_group'
        rank_absolute:
          type:
          - integer
          - 'null'
          description: 'absolute rank among all the listed apps

            absolute position among all apps on the list'
        position:
          type:
          - string
          - 'null'
          description: 'the alignment of the element in SERP

            can take the following values: left'
        app_id:
          type:
          - string
          - 'null'
          description: ID of the app
        title:
          type:
          - string
          - 'null'
          description: title of the app
        url:
          type:
          - string
          - 'null'
          description: URL to the app page on App Store
        icon:
          type:
          - string
          - 'null'
          description: URL to the app icon
        description:
          type:
          - string
          - 'null'
          description: description of the app
        reviews_count:
          type:
          - integer
          - 'null'
          description: the total number of reviews of the app
          format: int64
        rating:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: average rating of the app
        price:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/PriceInfo'
          description: price of the app
        is_free:
          type:
          - boolean
          - 'null'
          description: indicates whether the app is free
        main_category:
          type:
          - string
          - 'null'
          description: main category/genre of the app
        categories:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: 'all relevant categories/genres of the app

            Note: this field returns only one relevant category in the array'
        languages:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: 'languages supported in the app

            Note: this field returns only one supported language in the array'
        advisories:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: age rating and age-based content advisories
        developer:
          type:
          - string
          - 'null'
          description: name of the app developer
        developer_id:
          type:
          - string
          - 'null'
          description: ID of the app developer
        developer_url:
          type:
          - string
          - 'null'
          description: URL to the developer page on App Store
        version:
          type:
          - string
          - 'null'
          description: current version of the app
        minimum_os_version:
          type:
          - string
          - 'null'
          description: minimum OS version required to install the app
        size:
          type:
          - string
          - 'null'
          description: size of the app
        released_date:
          type:
          - string
          - 'null'
          description: 'date and time when the app was released

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”;

            example:

            2019-11-15 12:57:46 +00:00

            Note: this field is deprecated and always returns null'
        last_update_date:
          type:
          - string
          - 'null'
          description: 'date and time when the app was last updated

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”;

            example:

            2019-11-15 12:57:46 +00:00'
        update_notes:
          type:
          - string
          - 'null'
          description: 'update notes

            contains the latest update notes from the developer'
        images:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: 'app images

            contains URLs to the images used on the app page on App Store'
        similar_apps:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/AppsInfo'
          description: 'similar apps

            displays apps similar to the app in a POST request'
        more_apps_by_developer:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/AppsInfo'
          description: 'similar apps

            information about apps built by the same developer'
    AppDataAppleAppListingsSearchLiveRequestInfo:
      type: object
      properties:
        categories:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'app categories

            optional field

            the categories you specify are used to search for app listings;

            you can get the full list of available app listing categories by this link

            you can specify up to 10 categories'
        description:
          type:
          - string
          - 'null'
          description: 'keyword in the app’s description

            optional field

            keywords that occur in the description of the app;

            can contain up to 200 characters'
        title:
          type:
          - string
          - 'null'
          description: 'keyword in the app’s title

            optional field

            keywords that occur in the title of the app;

            can contain up to 200 characters'
        filters:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, <, <=, >, >=, =, <>, in, not_in, like, not_like

            you can use the % operator with like and not_like to match any string of zero or more characters

            example:

            ["rating.value",">",3]

            you can receive the list of available filters by making a separate request to https://api.dataforseo.com/v3/app_data/apple/app_listings/available_filters'
        order_by:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'results sorting rules

            optional field

            you can use the same values as in the filters array to sort the results

            possible sorting types:

            asc – results will be sorted in the ascending order

            desc – results will be sorted in the descending order

            you should use a comma to set up a sorting parameter

            example:

            ["item.rating.value,desc"]

            note that you can set no more than three sorting rules in a single request

            you should use a comma to separate several sorting rules

            example:

            ["item.rating.value,desc","item.rating.value,desc"]'
        limit:
          type:
          - integer
          - 'null'
          description: 'the maximum number of returned apps

            optional field

            default value: 100

            maximum value: 1000'
        offset:
          type:
          - integer
          - 'null'
          description: 'offset in the results array of returned apps

            optional field

            default value: 0

            if you specify the 10 value, the first ten entities in the results array will be omitted and the data will be provided for the successive entities

            Note: we recommend using this parameter only when retrieving up to 10,000 results

            for retrieving over 10,000 results, use the offset_token instead.'
        offset_token:
          type:
          - string
          - 'null'
          description: 'token for subsequent requests

            optional field

            provided in the identical filed of the response to each request;

            use this parameter to avoid timeouts while trying to obtain over 100,000 results in a single request;

            by specifying the unique offset_token value from the response array, you will get the subsequent results of the initial task;

            offset_token values are unique for each subsequent task

            Note: if the offset_token is specified in the request, all other parameters should be identical to the previous request

            learn more about this parameter on our Help Center'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
      example:
      - title: vpn
        description: vpn
        categories:
        - Tools
        order_by:
        - item.rating.value,desc
        filters:
        - - item.rating.value
          - '>'
          - 4.5
        limit: 2
    AppDataGoogleAppListTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppListTasksReadyResultInfo'
            description: array of results
    AppDataAppleAppInfoTaskGetAdvancedResultInfo:
      type: object
      properties:
        app_id:
          type:
          - string
          - 'null'
          description: application id received in a POST request
        se_domain:
          type:
          - string
          - 'null'
          description: search engine domain in a POST array
        location_code:
          type:
          - integer
          - 'null'
          description: location code in a POST array
        language_code:
          type:
          - string
          - 'null'
          description: language code in a POST array
        check_url:
          type:
          - string
          - 'null'
          description: 'direct URL to search engine results

            you can use it to make sure that we provided accurate results'
        datetime:
          type:
          - string
          - 'null'
          description: 'date and time when the result was received

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        se_results_count:
          type:
          - integer
          - 'null'
          description: the total number of results
          format: int64
        items_count:
          type:
          - integer
          - 'null'
          description: the number of items in the results array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/AppStoreInfoOrganic'
          description: found app info
    AppDataGoogleAppSearchesTasksReadyResultInfo:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
        se:
          type:
          - string
          - 'null'
          description: search engine specified when setting the task
        se_type:
          type:
          - string
          - 'null'
          description: search engine type
        date_posted:
          type:
          - string
          - 'null'
          description: date when the task was posted (in the UTC format)
        tag:
          type:
          - string
          - 'null'
          description: user-defined task identifier
        endpoint_advanced:
          type:
          - string
          - 'null'
          description: URL for collecting the results of the Google App Searches task
        endpoint_html:
          type:
          - string
          - 'null'
          description: 'URL for collecting the results of the Google App Searches HTML task

            if HTML tasks are not supported in the specified endpoint, the value will be null'
    AppDataGoogleAppSearchesTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppSearchesTaskGetAdvancedResultInfo'
            description: array of results
    AppDataGoogleLocationsCountryResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleLocationsCountryTaskInfo'
            description: array of tasks
    AppDataTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataTasksReadyResultInfo'
            description: array of results
    AppDataGoogleAppInfoTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppInfoTasksReadyResultInfo'
            description: array of results
    AppDataGoogleAppListingsSearchLiveResultInfo:
      type: object
      properties:
        total_count:
          type:
          - integer
          - 'null'
          description: the total number of relevant results in the database
          format: int64
        count:
          type:
          - integer
          - 'null'
          description: the number of items in the results array
          format: int64
        offset:
          type:
          - integer
          - 'null'
          description: offset in the results array of returned apps
        offset_token:
          type:
          - string
          - 'null'
          description: 'token for subsequent requests

            you can use this parameter in the POST request to avoid timeouts while trying to obtain over 100,000 results in a single request'
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/AppDataGoogleAppListingsSearchLiveItem'
          description: array of apps and related data
    AppDataGoogleAppSearchesTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppSearchesTaskPostTaskInfo'
            description: array of tasks
    AppStoreReviewsSearch:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: type of element
        rank_group:
          type:
          - integer
          - 'null'
          description: 'position within a group of elements with identical type values

            positions of elements with different type values are omitted from rank_group'
        rank_absolute:
          type:
          - integer
          - 'null'
          description: 'absolute rank among all the listed reviews

            absolute position among all reviews on the list'
        position:
          type:
          - string
          - 'null'
          description: 'the alignment of the review in SERP

            can take the following values: left'
        version:
          type:
          - string
          - 'null'
          description: 'version of the app

            version of the app for which the review is submitted'
        rating:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: the rating score submitted by the reviewer
        timestamp:
          type:
          - string
          - 'null'
          description: 'date and time when the review was published

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”;

            example:

            2019-11-15 12:57:46 +00:00'
        id:
          type:
          - string
          - 'null'
          description: id of the review
        title:
          type:
          - string
          - 'null'
          description: title of the review
        review_text:
          type:
          - string
          - 'null'
          description: content of the review
        user_profile:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/AppUserProfileInfo'
          description: user profile of the reviewer
    AppDataGoogleLocationsResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleLocationsTaskInfo'
            description: array of tasks
    AppDataAppleAppReviewsTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - object
            - 'null'
            description: 'array of results

              in this case, the value will be null'
    AppDataGoogleCategoriesResultInfo:
      type: object
      properties:
        categories:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: contains full list of supported app categories
    AppDataGoogleAppReviewsTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - object
            - 'null'
            description: 'array of results

              in this case, the value will be null'
    AppDataAppleAppListTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppListTasksReadyTaskInfo'
            description: array of tasks
    AppDataGoogleLanguagesResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleLanguagesTaskInfo'
            description: array of tasks
    AppDataGoogleLocationsCountryResultInfo:
      type: object
      properties:
        location_code:
          type:
          - integer
          - 'null'
          description: location code
        location_name:
          type:
          - string
          - 'null'
          description: full name of the location
        location_name_parent:
          type:
          - string
          - 'null'
          description: 'the name of the superordinate location

            example:

            "location_code": 1006473,

            "location_name": "Altrincham,England,United Kingdom",

            "location_name_parent": "England,United Kingdom", where location_name_parent corresponds to:

            "location_code": 20339,

            "location_name": "England,United Kingdom"'
        country_iso_code:
          type:
          - string
          - 'null'
          description: ISO country code of the location
        location_type:
          type:
          - string
          - 'null'
          description: location type
    AppDataAppleAppListTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppListTasksReadyResultInfo'
            description: array of results
    AppDataIdListTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataIdListResultInfo'
            description: array of results
    AppDataAppleAppReviewsTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppReviewsTasksReadyResultInfo'
            description: array of results
    AppDataGoogleAppReviewsTaskGetHtmlTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppReviewsTaskGetHtmlResultInfo'
            description: array of results
    GooglePlayInfoOrganic:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: type of element
        rank_group:
          type:
          - integer
          - 'null'
          description: 'position within a group of elements with identical type values

            positions of elements with different type values are omitted from rank_group'
        rank_absolute:
          type:
          - integer
          - 'null'
          description: 'absolute rank among all the listed apps

            absolute position among all apps on the list'
        position:
          type:
          - string
          - 'null'
          description: 'the alignment of the element in SERP

            can take the following values: left'
        app_id:
          type:
          - string
          - 'null'
          description: ID of the app
        title:
          type:
          - string
          - 'null'
          description: title of the app
        url:
          type:
          - string
          - 'null'
          description: URL to the app page on Google Play
        icon:
          type:
          - string
          - 'null'
          description: URL to the app icon
        description:
          type:
          - string
          - 'null'
          description: description of the app
        reviews_count:
          type:
          - integer
          - 'null'
          description: the total number of reviews the app has
          format: int64
        rating:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: average rating of the app
        price:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/PriceInfo'
          description: price of the app
        is_free:
          type:
          - boolean
          - 'null'
          description: indicates whether the app is free
        main_category:
          type:
          - string
          - 'null'
          description: main category of the app
        installs:
          type:
          - string
          - 'null'
          description: 'number of installs of the app

            approximate number of installs as displayed on the app page'
        installs_count:
          type:
          - integer
          - 'null'
          description: 'number of installs of the app

            the exact number of installs of the app'
          format: int64
        developer:
          type:
          - string
          - 'null'
          description: name of the app developer
        developer_id:
          type:
          - string
          - 'null'
          description: ID of the app developer
        developer_url:
          type:
          - string
          - 'null'
          description: URL to the developer page on Google Play
        developer_email:
          type:
          - string
          - 'null'
          description: email address of the developer
        developer_address:
          type:
          - string
          - 'null'
          description: physical address of the developer
        developer_website:
          type:
          - string
          - 'null'
          description: official website of the developer
        version:
          type:
          - string
          - 'null'
          description: current version of the app
        minimum_os_version:
          type:
          - string
          - 'null'
          description: minimum OS version required to install the app
        size:
          type:
          - string
          - 'null'
          description: size of the app
        released_date:
          type:
          - string
          - 'null'
          description: 'date and time when the app was released

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”;

            example:

            2019-11-15 12:57:46 +00:00'
        last_update_date:
          type:
          - string
          - 'null'
          description: 'date and time when the app was last updated

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”;

            example:

            2019-11-15 12:57:46 +00:00'
        update_notes:
          type:
          - string
          - 'null'
          description: 'update notes

            contains the latest update notes from the developer'
        images:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: 'app images

            contains URLs to the images published on the app page on Google Play'
        videos:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: 'app videos

            contains URLs to the video published on the app page on Google Play'
        similar_apps:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/AppsInfo'
          description: 'similar apps

            displays apps similar to the app in a POST request'
        more_apps_by_developer:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/AppsInfo'
          description: 'similar apps

            information about apps built by the same developer'
        genres:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: 'app genres

            contains relevant app categories'
        tags:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: 'app tags

            contains relevant app tags'
    AppDataGoogleAppInfoTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppInfoTasksReadyTaskInfo'
            description: array of tasks
    AppDataGoogleAppListTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppListTasksReadyTaskInfo'
            description: array of tasks
    AppDataGoogleAppListingsSearchLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppListingsSearchLiveTaskInfo'
            description: array of tasks
    AppDataAppleAppReviewsTasksReadyResultInfo:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
        se:
          type:
          - string
          - 'null'
          description: search engine specified when setting the task
        se_type:
          type:
          - string
          - 'null'
          description: search engine type
        date_posted:
          type:
          - string
          - 'null'
          description: date when the task was posted (in the UTC format)
        tag:
          type:
          - string
          - 'null'
          description: user-defined task identifier
        endpoint_advanced:
          type:
          - string
          - 'null'
          description: URL for collecting the results of the Apple App Reviews task
        endpoint_html:
          type:
          - string
          - 'null'
          description: 'URL for collecting the results of the Apple App Reviews HTML task

            if HTML tasks are not supported in the specified endpoint, the value will be null'
    AppDataAppleAppSearchesTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppSearchesTasksReadyResultInfo'
            description: array of results
    AppDataAppleAppListTaskGetAdvancedResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppListTaskGetAdvancedTaskInfo'
            description: array of tasks
    AppDataGoogleAppListTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppListTaskGetAdvancedResultInfo'
            description: array of results
    AppDataErrorsResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/AppDataErrorsTaskInfo'
            description: array of tasks
    AppDataAppleAppReviewsTaskPostRequestInfo:
      type: object
      properties:
        app_id:
          type: string
          description: 'id of the app

            required field

            ID of the mobile application on App Store;

            you can find the ID in the URL of every app listed on App Store;

            example:

            in the URL https://apps.apple.com/us/app/id835599320

            the id is 835599320'
        location_name:
          type:
          - string
          - 'null'
          description: 'full name of search engine location

            required field if you don’t specify location_code

            if you use this field, you don’t need to specify location_code

            you can receive the list of available locations of the search engine with their location_name by making a separate request to https://api.dataforseo.com/v3/app_data/apple/locations

            example:

            West Los Angeles,California,United States'
        location_code:
          type:
          - integer
          - 'null'
          description: 'search engine location code

            required field if you don’t specify location_name

            if you use this field, you don’t need to specify location_name

            you can receive the list of available locations of the search engine with their location_code by making a separate request to https://api.dataforseo.com/v3/app_data/apple/locations

            example:

            9061121'
        language_name:
          type:
          - string
          - 'null'
          description: 'full name of search engine language

            required field if you don’t specify language_code

            if you use this field, you don’t need to specify language_code

            you can receive the list of available languages with language_name by making a separate request to https://api.dataforseo.com/v3/app_data/apple/languages

            example:

            English'
        language_code:
          type:
          - string
          - 'null'
          description: 'search engine language code

            required field if you don’t specify language_name

            if you use this field, you don’t need to specify language_name

            you can receive the list of available languages with their language_code by making a separate request to https://api.dataforseo.com/v3/app_data/apple/languages

            example:

            en'
        priority:
          type:
          - integer
          - 'null'
          description: 'task priority

            optional field

            can take the following values:

            1 – normal execution priority (set by default)

            2 – high execution priority

            You will be additionally charged for the tasks with high execution priority.

            The cost can be calculated on the Pricing page.'
        depth:
          type:
          - integer
          - 'null'
          description: 'parsing depth

            optional field

            number of reviews to be returned in the API response;

            we strongly recommend setting the parsing depth in the multiples of 50, because our system processes 50 reviews in a row;

            default value: 50;

            maximum value: 500;

            Your account will be billed per each SERP containing up to 50 results;

            Setting depth above 50 may result in additional charges if the search engine returns more than 50 results;

            The cost can be calculated on the Pricing page.'
        sort_by:
          type:
          - string
          - 'null'
          description: 'results sorting parameters

            optional field

            you can use this field to sort the results;

            possible types of sorting:

            most_recent — sort by the most recent reviews;

            most_helpful — sort by the most relevant reviews;

            default rule: most_helpful'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
        postback_url:
          type:
          - string
          - 'null'
          description: 'URL for sending task results

            optional field

            once the task is completed, we will send a POST request with its results compressed in the gzip format to the postback_url you specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/postbackscript?id=$id

            http://your-server.com/postbackscript?id=$id&tag=$tag

            Note: special characters in postback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
        postback_data:
          type:
          - string
          - 'null'
          description: 'postback_url datatype

            required field if you specify postback_url

            corresponds to the datatype that will be sent to your server

            possible values:

            advanced'
        pingback_url:
          type:
          - string
          - 'null'
          description: 'notification URL of a completed task

            optional field

            when a task is completed we will notify you by GET request sent to the URL you have specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/pingscript?id=$id

            http://your-server.com/pingscript?id=$id&tag=$tag

            Note: special characters in pingback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
      example:
      - app_id: '835599320'
        location_code: 2840
        language_code: en
        depth: 200
    AppDataGoogleAppInfoTaskGetHtmlResultInfo:
      type: object
      properties:
        app_id:
          type:
          - string
          - 'null'
          description: application ID received in a POST request
        type:
          type:
          - string
          - 'null'
          description: type of element
        se_domain:
          type:
          - string
          - 'null'
          description: search engine domain in a POST array
        location_code:
          type:
          - integer
          - 'null'
          description: location code in a POST array
        language_code:
          type:
          - string
          - 'null'
          description: language code in a POST array
        datetime:
          type:
          - string
          - 'null'
          description: 'date and time when the result was received

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        items_count:
          type:
          - integer
          - 'null'
          description: the number of results returned in the items array
[...]
