openapi: 3.2.0
info:
  title: Dataforseo Labs API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: DataforseoLabs
paths:
  /v3/dataforseo_labs/id_list:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint is designed to provide you with a list of IDs and metadata for all DataForSEO Labs tasks created within the specified time period, including both successful and uncompleted tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/id_list/?bash'''
      operationId: DataforseoLabsIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsIdListRequestInfo'
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsIdListResponseInfo'
      security:
      - basicAuth: []
      summary: Dataforseo labs id list
      x-summary-source: derived
  /v3/dataforseo_labs/status:
    get:
      tags:
      - DataforseoLabs
      description: 'By calling this endpoint, you will find out when the DataForSEO Labs data was last updated. The API response will provide separate update dates for the Google, Bing, and Amazon endpoints of DataForSEO Labs API.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/status/?bash'''
      operationId: Status
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsStatusResponseInfo'
      security:
      - basicAuth: []
      summary: Status
      x-summary-source: derived
  /v3/dataforseo_labs/errors:
    post:
      tags:
      - DataforseoLabs
      description: 'By calling this endpoint you will receive information about the DataForSEO Labs API tasks that returned an error within the past 7 days.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/errors/?bash'''
      operationId: DataforseoLabsErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsErrorsRequestInfo'
              example:
              - limit: 10
                offset: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsErrorsResponseInfo'
      security:
      - basicAuth: []
      summary: Dataforseo labs errors
      x-summary-source: derived
  /v3/dataforseo_labs/available_filters:
    get:
      tags:
      - DataforseoLabs
      description: 'Here you will find all the necessary information about filters that can be used with DataForSEO Labs API endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/filters/?bash'''
      operationId: AvailableFilters
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAvailableFiltersResponseInfo'
      security:
      - basicAuth: []
      summary: Available filters
      x-summary-source: derived
  /v3/dataforseo_labs/locations_and_languages:
    get:
      tags:
      - DataforseoLabs
      description: 'Using this endpoint you can get the full list of locations and languages supported in DataForSEO Labs API. Available sources currently include Google, Bing, and Amazon search engines. However, you should note that Amazon and Bing locations and languages are currently limited to the US/English.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/locations_and_languages/?bash'''
      operationId: LocationsAndLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsLocationsAndLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Locations and languages
      x-summary-source: derived
  /v3/dataforseo_labs/categories:
    get:
      tags:
      - DataforseoLabs
      description: 'We use Google product and service categories. This endpoint will provide you with the full list of available categories.

        You can also download the CSV file by this link.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/categories_list/?bash'''
      operationId: Categories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsCategoriesResponseInfo'
      security:
      - basicAuth: []
      summary: Categories
      x-summary-source: derived
  /v3/dataforseo_labs/google/available_history:
    get:
      tags:
      - DataforseoLabs
      description: 'By calling this endpoint, you will find obtain a list of dates available for setting in the first_date and second_date fields of the Domain Metrics by Categories endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/available_history/live/?bash'''
      operationId: GoogleAvailableHistory
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleAvailableHistoryResponseInfo'
      security:
      - basicAuth: []
      summary: Google available history
      x-summary-source: derived
  /v3/dataforseo_labs/google/keywords_for_site/live:
    post:
      tags:
      - DataforseoLabs
      description: 'The Keywords For Site endpoint will provide you with a list of keywords relevant to the target domain. Each keyword is supplied with relevant categories, search volume data for the last month, cost-per-click, competition, and search volume trend values for the past 12 months.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/keywords_for_site/live/?bash'''
      operationId: GoogleKeywordsForSiteLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordsForSiteLiveRequestInfo'
              example:
              - target: apple.com
                language_code: en
                location_code: 2840
                include_serp_info: true
                include_subdomains: true
                filters:
                - serp_info.se_results_count
                - '>'
                - 0
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordsForSiteLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google keywords for site live
      x-summary-source: derived
  /v3/dataforseo_labs/google/related_keywords/live:
    post:
      tags:
      - DataforseoLabs
      description: 'The Related Keywords endpoint provides keywords appearing in the

        "searches related to" SERP element

        You can get up to 4680 keyword ideas by specifying the search depth. Each related keyword comes with the list of relevant product categories, search volume rate for the last month, search volume trend for the previous 12 months, as well as current cost-per-click and competition values.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/related_keywords/live/?bash'''
      operationId: GoogleRelatedKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleRelatedKeywordsLiveRequestInfo'
              example:
              - keyword: phone
                language_name: English
                location_code: 2840
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleRelatedKeywordsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google related keywords live
      x-summary-source: derived
  /v3/dataforseo_labs/google/keyword_suggestions/live:
    post:
      tags:
      - DataforseoLabs
      description: 'The Keyword Suggestions endpoint provides search queries that include the specified seed keyword.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/keyword_suggestions/live/?bash'''
      operationId: GoogleKeywordSuggestionsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordSuggestionsLiveRequestInfo'
              example:
              - keyword: phone
                location_code: 2840
                language_code: en
                include_serp_info: true
                include_seed_keyword: true
                limit: 1
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordSuggestionsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google keyword suggestions live
      x-summary-source: derived
  /v3/dataforseo_labs/google/keyword_ideas/live:
    post:
      tags:
      - DataforseoLabs
      description: 'The Keyword Ideas endpoint provides search terms that are relevant to the product or service categories of the specified keywords. The algorithm selects the keywords which fall into the same categories as the seed keywords specified in a POST array.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/keyword_ideas/live/?bash'''
      operationId: GoogleKeywordIdeasLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordIdeasLiveRequestInfo'
              example:
              - keywords:
                - phone
                - watch
                location_code: 2840
                language_code: en
                include_serp_info: true
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordIdeasLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google keyword ideas live
      x-summary-source: derived
  /v3/dataforseo_labs/google/bulk_keyword_difficulty/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with the Keyword Difficulty metric for a maximum of 1,000 keywords in one API request. Keyword Difficulty stands for the relative difficulty of ranking in the first top-10 organic results for the related keyword. Keyword Difficulty in DataForSEO API responses indicates the chance of getting in top-10 organic results for a keyword on a logarithmic scale from 0 to 100.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/bulk_keyword_difficulty/live/?bash'''
      operationId: GoogleBulkKeywordDifficultyLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleBulkKeywordDifficultyLiveRequestInfo'
              example:
              - location_code: 2840
                language_code: en
                keywords:
                - dentist new york
                - pizza brooklyn
                - car dealer los angeles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleBulkKeywordDifficultyLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google bulk keyword difficulty live
      x-summary-source: derived
  /v3/dataforseo_labs/google/search_intent/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with search intent data for up to 1,000 keywords. For each keyword that you specify when setting a task, the API will return the keyword’s search intent and intent probability. Besides the highest probable search intent, the results will also provide you with other likely search intent(s) and their probability.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/search_intent/live/?bash'''
      operationId: GoogleSearchIntentLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleSearchIntentLiveRequestInfo'
              example:
              - language_code: en
                keywords:
                - login page
                - audi a7
                - elon musk
                - milk store new york
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleSearchIntentLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google search intent live
      x-summary-source: derived
  /v3/dataforseo_labs/google/categories_for_keywords/languages:
    get:
      tags:
      - DataforseoLabs
      description: 'Using this endpoint you can get the full list of languages supported for the Google Categories for Keywords endpoint of DataForSEO Labs API.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/categories_for_keywords/languages/?bash'''
      operationId: GoogleCategoriesForKeywordsLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleCategoriesForKeywordsLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Google categories for keywords languages
      x-summary-source: derived
  /v3/dataforseo_labs/google/categories_for_domain/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with Google product or service categories that include keywords the domain ranks for in search. Furthermore, you will obtain general rankings and traffic data for the keywords under a certain category.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/categories_for_domain/live/?bash'''
      operationId: GoogleCategoriesForDomainLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleCategoriesForDomainLiveRequestInfo'
              example:
              - target: dataforseo.com
                language_code: en
                location_name: United States
                item_types:
                - paid
                - organic
                - featured_snippet
                - local_pack
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleCategoriesForDomainLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google categories for domain live
      x-summary-source: derived
  /v3/dataforseo_labs/google/categories_for_keywords/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with Google product and service categories related for each specified keyword. You can indicate a maximum of 1,000 keywords in one API request.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/categories_for_keywords/live/?bash'''
      operationId: GoogleCategoriesForKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleCategoriesForKeywordsLiveRequestInfo'
              example:
              - language_code: en
                keywords:
                - dentist new york
                - pizza brooklyn
                - car dealer los angeles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleCategoriesForKeywordsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google categories for keywords live
      x-summary-source: derived
  /v3/dataforseo_labs/google/keywords_for_categories/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of keywords relevant to the specified product categories. You will get the search volume rate for the last month, search volume trend for the previous 12 months, as well as current cost-per-click and competition values for each keyword.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/keywords_for_categories/live/?bash'''
      operationId: GoogleKeywordsForCategoriesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordsForCategoriesLiveRequestInfo'
              example:
              - category_codes:
                - 12191
                - 12193
                language_name: English
                location_code: 2840
                include_serp_info: true
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordsForCategoriesLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google keywords for categories live
      x-summary-source: derived
  /v3/dataforseo_labs/google/domain_metrics_by_categories/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with dynamics of change in metrics of domains relevant to the specified product and service categories. You will receive historical ranking data from Google SERPs, along with valuable current and historical domain metrics, such as ETV, impressions ETV, estimated paid traffic cost, the total count of SERPs that contain domains, and more.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/domain_metrics_by_categories/live/?bash'''
      operationId: GoogleDomainMetricsByCategoriesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleDomainMetricsByCategoriesLiveRequestInfo'
              example:
              - location_code: 2840
                language_code: en
                category_codes:
                - 13418
                - 11494
                first_date: '2026-01-15'
                second_date: '2026-03-15'
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleDomainMetricsByCategoriesLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google domain metrics by categories live
      x-summary-source: derived
  /v3/dataforseo_labs/google/top_searches/live:
    post:
      tags:
      - DataforseoLabs
      description: 'The Top Searches endpoint of DataForSEO Labs API can provide you with over 7 billion keywords from the DataForSEO Keyword Database. Each keyword in the API response is provided with a set of relevant keyword data with Google Ads metrics, product categories, and Google SERP data.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/top_searches/live/?bash'''
      operationId: GoogleTopSearchesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleTopSearchesLiveRequestInfo'
              example:
              - language_name: English
                location_code: 2840
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleTopSearchesLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google top searches live
      x-summary-source: derived
  /v3/dataforseo_labs/google/ranked_keywords/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with the list of keywords that any domain or webpage is ranking for. You will also get SERP elements related to the keyword position, as well as monthly searches and other data relevant to the returned keywords.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/ranked_keywords/live/?bash'''
      operationId: GoogleRankedKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleRankedKeywordsLiveRequestInfo'
              example:
              - target: dataforseo.com
                language_name: English
                location_name: United States
                load_rank_absolute: true
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleRankedKeywordsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google ranked keywords live
      x-summary-source: derived
  /v3/dataforseo_labs/google/serp_competitors/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of domains ranking for the keywords you specify. You will also get SERP rankings, rating, estimated traffic volume, and visibility values the provided domains gain from the specified keywords.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/serp_competitors/live/?bash'''
      operationId: GoogleSerpCompetitorsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleSerpCompetitorsLiveRequestInfo'
              example:
              - keywords:
                - phone
                language_name: English
                location_code: 2840
                item_types:
                - organic
                limit: 5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleSerpCompetitorsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google serp competitors live
      x-summary-source: derived
  /v3/dataforseo_labs/google/competitors_domain/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a full overview of ranking and traffic data of the competitor domains from organic and paid search. In addition to that, you will get the metrics specific to the keywords both competitor domains and your domain rank for within the same SERP.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/competitors_domain/live/?bash'''
      operationId: GoogleCompetitorsDomainLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleCompetitorsDomainLiveRequestInfo'
              example:
              - target: newmouth.com
                intersecting_domains:
                - dentaly.org
                - health.com
                - trysnow.com
                language_name: English
                location_code: 2840
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleCompetitorsDomainLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google competitors domain live
      x-summary-source: derived
  /v3/dataforseo_labs/google/domain_intersection/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with the keywords for which both specified domains rank within the same SERP. You will get search volume, competition, cost-per-click and other data on each intersecting keyword. Along with that, you will get data on the first and second domain’s SERP element discovered for this keyword, as well as the estimated traffic volume and cost of ad traffic. Domain Intersection endpoint supports organic, paid, local pack, and featured snippet results.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/domain_intersection/live/?bash'''
      operationId: GoogleDomainIntersectionLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleDomainIntersectionLiveRequestInfo'
              example:
              - target1: mom.com
                target2: quora.com
                language_code: en
                location_code: 2840
                include_serp_info: true
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleDomainIntersectionLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google domain intersection live
      x-summary-source: derived
  /v3/dataforseo_labs/google/subdomains/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of subdomains of the specified domain, along with the ranking distribution across organic and paid search. In addition to that, you will also get the estimated traffic volume of subdomains based on search volume and impressions.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/subdomains/live/?bash'''
      operationId: GoogleSubdomainsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleSubdomainsLiveRequestInfo'
              example:
              - target: dataforseo.com
                language_name: English
                location_code: 2840
                filters:
                - - metrics.organic.pos_1
                  - <>
                  - 0
                - or
                - - metrics.organic.pos_2_3
                  - <>
                  - 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleSubdomainsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google subdomains live
      x-summary-source: derived
  /v3/dataforseo_labs/google/relevant_pages/live:
    post:
      tags:
      - DataforseoLabs
      description: for more info please visit 'https://docs.dataforseo.com/v3/dataforseo_labs/google/relevant_pages/live/?bash'
      operationId: GoogleRelevantPagesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleRelevantPagesLiveRequestInfo'
              example:
              - target: amazon.com
                language_name: English
                location_code: 2840
                filters:
                - - metrics.organic.pos_1
                  - <>
                  - 0
                - or
                - - metrics.organic.pos_2_3
                  - <>
                  - 0
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleRelevantPagesLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google relevant pages live
      x-summary-source: derived
  /v3/dataforseo_labs/google/domain_rank_overview/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with ranking and traffic data from organic and paid search for the specified domain. You will be able to review the domain ranking distribution in SERPs as well as estimated monthly traffic volume for both organic and paid results.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/domain_rank_overview/live/?bash'''
      operationId: GoogleDomainRankOverviewLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleDomainRankOverviewLiveRequestInfo'
              example:
              - target: dataforseo.com
                language_name: English
                location_code: 2840
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleDomainRankOverviewLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google domain rank overview live
      x-summary-source: derived
  /v3/dataforseo_labs/google/historical_serps/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with Google SERPs collected within the specified time frame. You will also receive a complete overview of featured snippets and other extra elements that were present within the specified dates. The data will allow you to analyze the dynamics of keyword rankings over time for the specified keyword and location.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/historical_serps/live/?bash'''
      operationId: GoogleHistoricalSerpsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalSerpsLiveRequestInfo'
              example:
              - keyword: albert einstein
                location_code: 2840
                language_code: en
                date_from: '2026-01-15'
                date_to: '2026-03-15'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalSerpsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google historical serps live
      x-summary-source: derived
  /v3/dataforseo_labs/google/historical_rank_overview/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with historical data on rankings and traffic of the specified domain, such as domain ranking distribution in SERPs and estimated monthly traffic volume for both organic and paid results.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/historical_rank_overview/live/?bash'''
      operationId: GoogleHistoricalRankOverviewLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalRankOverviewLiveRequestInfo'
              example:
              - target: dataforseo.com
                location_code: 2840
                language_code: en
                date_from: '2026-01-15'
                date_to: '2026-03-15'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalRankOverviewLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google historical rank overview live
      x-summary-source: derived
  /v3/dataforseo_labs/google/page_intersection/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with the keywords for which specified pages rank within the same SERP. You will get search volume, competition, cost-per-click data on each intersecting keyword. Along with that, you will get data on SERP elements that specified pages rank for in search results, as well as the estimated traffic volume and cost of ad traffic. Page Intersection endpoint supports organic, paid, local pack and featured snippet results.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/page_intersection/live/?bash'''
      operationId: GooglePageIntersectionLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGooglePageIntersectionLiveRequestInfo'
              example:
              - pages:
                  '1': https://forbes.com
                  '2': https://cnn.com/*
                language_name: English
                location_code: 2840
                include_serp_info: true
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGooglePageIntersectionLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google page intersection live
      x-summary-source: derived
  /v3/dataforseo_labs/google/bulk_traffic_estimation/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with estimated monthly traffic volumes for up to 1,000 domains, subdomains, or webpages. Along with organic search traffic estimations, you will also get separate values for paid search, featured snippet, and local pack results.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/bulk_traffic_estimation/live/?bash'''
      operationId: GoogleBulkTrafficEstimationLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleBulkTrafficEstimationLiveRequestInfo'
              example:
              - targets:
                - dataforseo.com
                - cnn.com
                - forbes.com
                location_code: 2840
                language_code: en
                item_types:
                - organic
                - paid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleBulkTrafficEstimationLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google bulk traffic estimation live
      x-summary-source: derived
  /v3/dataforseo_labs/google/historical_bulk_traffic_estimation/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with historical monthly traffic volumes for up to 1,000 domains collected within the specified time range through October 2020. If you do not specify the range, data will be returned for the previous 12 months. Along with organic search traffic estimations, you will also get separate values for paid search, featured snippet, and local pack results.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/historical_bulk_traffic_estimation/live/?bash'''
      operationId: GoogleHistoricalBulkTrafficEstimationLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalBulkTrafficEstimationLiveRequestInfo'
              example:
              - targets:
                - dataforseo.com
                - cnn.com
                - forbes.com
                location_code: 2840
                language_code: en
                date_from: '2026-01-15'
                date_to: '2026-03-15'
                item_types:
                - organic
                - paid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalBulkTrafficEstimationLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google historical bulk traffic estimation live
      x-summary-source: derived
  /v3/dataforseo_labs/google/historical_keyword_data/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint provides Google historical keyword data for specified keywords, including search volume, cost-per-click, competition values for paid search, monthly searches, and search volume trends. You can get historical keyword data since August, 2021, depending on keywords along with location and language combination. You can find the list of supported locations and languages here.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/historical_keyword_data/live/?bash'''
      operationId: GoogleHistoricalKeywordDataLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalKeywordDataLiveRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keywords:
                - iphone
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalKeywordDataLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google historical keyword data live
      x-summary-source: derived
  /v3/dataforseo_labs/google/keyword_overview/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint provides Google keyword data for specified keywords. For each keyword, you will receive current cost-per-click, competition values for paid search, search volume, search intent, monthly searches, as well as SERP and backlink information. Additionally, you can obtain clickstream data, such as clickstream search volume, by specifying the include_clickstream_data parameter.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/keyword_overview/live/?bash'''
      operationId: GoogleKeywordOverviewLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordOverviewLiveRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                include_clickstream_data: true
                include_serp_info: true
                keywords:
                - iphone
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordOverviewLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google keyword overview live
      x-summary-source: derived
  /v3/dataforseo_labs/amazon/bulk_search_volume/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with search volume values for a maximum of 1,000 keywords in one API request. Here search volume represents the approximate number of monthly searches for a keyword on Amazon. The returned results are specific to the keywords, location, and language parameters specified in a POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/amazon/bulk_search_volume/live/?bash'''
      operationId: AmazonBulkSearchVolumeLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonBulkSearchVolumeLiveRequestInfo'
              example:
              - keywords:
                - buy laptop
                - cheap laptops for sale
                - purchase laptop
                location_code: 2840
                language_code: en
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonBulkSearchVolumeLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon bulk search volume live
      x-summary-source: derived
  /v3/dataforseo_labs/amazon/related_keywords/live:
    post:
      tags:
      - DataforseoLabs
      description: 'The Related Keywords endpoint provides keywords appearing in the

        "Related Searches" section on Amazon.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/amazon/related_keywords/live/?bash'''
      operationId: AmazonRelatedKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonRelatedKeywordsLiveRequestInfo'
              example:
              - keyword: computer mouse
                language_name: English
                location_code: 2840
                limit: 5
                include_seed_keyword: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonRelatedKeywordsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon related keywords live
      x-summary-source: derived
  /v3/dataforseo_labs/amazon/ranked_keywords/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of keywords the target product ranks for on Amazon. The returned results are specific to the asin specified in a POST request. Learn more about ASIN in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/amazon/ranked_keywords/live/?bash'''
      operationId: AmazonRankedKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonRankedKeywordsLiveRequestInfo'
              example:
              - asin: B00R92CL5E
                location_code: 2840
                language_code: en
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonRankedKeywordsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon ranked keywords live
      x-summary-source: derived
  /v3/dataforseo_labs/amazon/product_rank_overview/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with ranking data from organic and paid Amazon SERPs for the target products. The returned results are specific to the asins specified in a POST request. Learn more about ASIN in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/amazon/product_rank_overview/live/?bash'''
      operationId: AmazonProductRankOverviewLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonProductRankOverviewLiveRequestInfo'
              example:
              - asins:
                - B001TJ3HUG
                - B01LW2SL7R
                language_name: English
                location_code: 2840
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonProductRankOverviewLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon product rank overview live
      x-summary-source: derived
  /v3/dataforseo_labs/amazon/product_competitors/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of products that intersect with a target asin in Amazon SERPs. The data can help you identify product competitors for any listing published on Amazon. The returned results are specific to the asin as well as the location and language parameters specified in a POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/amazon/product_competitors/live/?bash'''
      operationId: AmazonProductCompetitorsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonProductCompetitorsLiveRequestInfo'
              example:
              - asin: 019005476X
                location_code: 2840
                language_code: en
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonProductCompetitorsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon product competitors live
      x-summary-source: derived
  /v3/dataforseo_labs/amazon/product_keyword_intersections/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of keywords for which the target products intersect in Amazon SERP. The returned results are specific to the asins specified in a POST request. Learn more about ASIN in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/amazon/product_keyword_intersections/live/?bash'''
      operationId: AmazonProductKeywordIntersectionsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonProductKeywordIntersectionsLiveRequestInfo'
              example:
              - asins:
                  '1': B09172433Z
                  '2': B07GBZ4Q68
                  '3': B07GCKQD77
                language_name: English
                location_code: 2840
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonProductKeywordIntersectionsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon product keyword intersections live
      x-summary-source: derived
  /v3/dataforseo_labs/google/bulk_app_metrics/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with ranking metrics for up to 1000 Google Play applications.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/bulk_app_metrics/live/?bash'''
      operationId: GoogleBulkAppMetricsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleBulkAppMetricsLiveRequestInfo'
              example:
              - app_ids:
                - org.telegram.messenger
                - com.zhiliaoapp.musically
                language_name: English
                location_code: 2840
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleBulkAppMetricsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google bulk app metrics live
      x-summary-source: derived
  /v3/dataforseo_labs/google/keywords_for_app/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of keywords for which the target app ranks on Google Play. You will obtain keyword data and discover the app’s ranking position for each returned keyword.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/keywords_for_app/live/?bash'''
      operationId: GoogleKeywordsForAppLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordsForAppLiveRequestInfo'
              example:
              - app_id: org.telegram.messenger
                language_name: English
                location_code: 2840
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordsForAppLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google keywords for app live
      x-summary-source: derived
  /v3/dataforseo_labs/google/app_competitors/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of mobile applications that intersect with the target app for its ranking keywords on Google Play. You will obtain the IDs of competitor apps along with search volume and ranking data on competitor ranking keywords.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/app_competitors/live/?bash'''
      operationId: GoogleAppCompetitorsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleAppCompetitorsLiveRequestInfo'
              example:
              - app_id: org.telegram.messenger
                language_name: English
                location_code: 2840
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleAppCompetitorsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google app competitors live
      x-summary-source: derived
  /v3/dataforseo_labs/google/app_intersection/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of keywords for which the mobile applications specified in the app_ids object rank within the same Google Play SERP.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/app_intersection/live/?bash'''
      operationId: GoogleAppIntersectionLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleAppIntersectionLiveRequestInfo'
              example:
              - app_ids:
                  '1': org.telegram.messenger
                  '2': com.zhiliaoapp.musically
                language_name: English
                location_code: 2840
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleAppIntersectionLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google app intersection live
      x-summary-source: derived
  /v3/dataforseo_labs/apple/bulk_app_metrics/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with ranking metrics for up to 1000 App Store applications.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/apple/bulk_app_metrics/live/?bash'''
      operationId: AppleBulkAppMetricsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleBulkAppMetricsLiveRequestInfo'
              example:
              - app_ids:
                - '686449807'
                - '382617920'
                language_name: English
                location_code: 2840
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleBulkAppMetricsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Apple bulk app metrics live
      x-summary-source: derived
  /v3/dataforseo_labs/apple/keywords_for_app/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of keywords for which the target app ranks on App Store. You will obtain keyword data and discover the app’s ranking position for each returned keyword.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/apple/keywords_for_app/live/?bash'''
      operationId: AppleKeywordsForAppLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleKeywordsForAppLiveRequestInfo'
              example:
              - app_id: '686449807'
                language_name: English
                location_code: 2840
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleKeywordsForAppLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Apple keywords for app live
      x-summary-source: derived
  /v3/dataforseo_labs/apple/app_competitors/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of mobile applications that intersect with the target app for its ranking keywords on App Store. You will obtain the IDs of competitor apps along with search volume and ranking data on competitor ranking keywords.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/apple/app_competitors/live/?bash'''
      operationId: AppleAppCompetitorsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleAppCompetitorsLiveRequestInfo'
              example:
              - app_id: '686449807'
                language_name: English
                location_code: 2840
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleAppCompetitorsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app competitors live
      x-summary-source: derived
  /v3/dataforseo_labs/apple/app_intersection/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of keywords for which the mobile applications specified in the app_ids object rank within the same App Store SERP.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/apple/app_intersection/live/?bash'''
      operationId: AppleAppIntersectionLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleAppIntersectionLiveRequestInfo'
              example:
              - app_ids:
                  '1': '686449807'
                  '2': '382617920'
                language_name: English
                location_code: 2840
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleAppIntersectionLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Apple app intersection live
      x-summary-source: derived
components:
  schemas:
    DataforseoLabsAppleKeywordsForAppLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsAppleKeywordsForAppLiveResultInfo'
            description: array of results
    DataforseoLabsErrorsTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsErrorsResultInfo'
            description: array of results
    DataforseoLabsGoogleTopSearchesLiveRequestInfo:
      type: object
      properties:
        location_name:
          type:
          - string
          - 'null'
          description: 'full name of the location

            required field if you don’t specify location_code

            Note: it is required to specify either location_name or location_code

            you can receive the list of available locations with their location_name by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            example:

            United Kingdom'
        location_code:
          type:
          - integer
          - 'null'
          description: 'location code

            required field if you don’t specify location_name

            Note: it is required to specify either location_name or location_code

            you can receive the list of available locations with their location_code by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            example:

            2840'
        language_name:
          type:
          - string
          - 'null'
          description: 'full name of the language

            required field if you don’t specify language_code

            Note: it is required to specify either language_name or language_code

            you can receive the list of available locations with their language_name by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            example:

            English'
        language_code:
          type:
          - string
          - 'null'
          description: 'language code

            required field if you don’t specify language_name

            Note: it is required to specify either language_name or language_code

            you can receive the list of available locations with their language_code by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            example:

            en'
        include_serp_info:
          type:
          - boolean
          - 'null'
          description: 'include data from SERP for each keyword

            optional field

            if set to true, we will return a serp_info array containing SERP data (number of search results, relevant URL, and SERP features) for every keyword in the response

            default value: false'
        include_clickstream_data:
          type:
          - boolean
          - 'null'
          description: 'include or exclude data from clickstream-based metrics in the result

            optional field

            if the parameter is set to true, you will receive clickstream_keyword_info, keyword_info_normalized_with_clickstream, and keyword_info_normalized_with_bing fields in the response

            default value: false

            with this parameter enabled, you will be charged double the price for the request

            learn more about how clickstream-based metrics are calculated in this help center article'
        ignore_synonyms:
          type:
          - boolean
          - 'null'
          description: 'ignore highly similar keywords

            optional field

            if set to true only core keywords will be returned, all highly similar keywords will be excluded;

            default value: false'
        filters:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, <, <=, >, >=, =, <>, in, not_in, match, not_match, ilike, not_ilike, like,not_like

            you can use the % operator with like and not_like,as well as ilike and not_ilike to match any string of zero or more characters

            example:

            ["keyword_info.search_volume",">",0]

            [["keyword_info.search_volume","in",[0,1000]],

            "and",

            ["keyword_info.competition_level","=","LOW"]]

            [["keyword_info.search_volume",">",100],

            "and",

            [["keyword_info.cpc","<",0.5],

            "or",

            ["keyword_info.high_top_of_page_bid","<=",0.5]]]

            for more information about filters, please refer to Dataforseo Labs – Filters or this help center guide'
        order_by:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'results sorting rules

            optional field

            you can use the same values as in the filters array to sort the results

            possible sorting types:

            asc – results will be sorted in the ascending order

            desc – results will be sorted in the descending order

            you should use a comma to set up a sorting type

            example:

            ["keyword_info.competition,desc"]

            default rule:

            ["keyword_info.search_volume,desc"]

            note that you can set no more than three sorting rules in a single request

            you should use a comma to separate several sorting rules

            example:

            ["keyword_info.search_volume,desc","keyword_info.cpc,desc"]'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
        limit:
          type:
          - integer
          - 'null'
          description: 'the maximum number of returned keywords

            optional field

            note: you can get more than 1000 results by using the offset_token provided in the response to each subsequent request

            default value: 1000

            maximum value: 1000'
        offset:
          type:
          - integer
          - 'null'
          description: 'offset in the results array of returned keywords

            optional field

            default value: 0

            if you specify the 10 value, the first ten keywords in the results array will be omitted and the data will be provided for the successive keywords

            Note: we recommend using this parameter only when retrieving up to 10,000 results

            for retrieving over 10,000 results, use the offset_token instead.'
        offset_token:
          type:
          - string
          - 'null'
          description: 'offset token for subsequent requests

            optional field

            provided in the identical filed of the response to each request;

            use this parameter to avoid timeouts while trying to obtain over 10,000 results in a single request;

            by specifying the unique offset_token value from the response array, you will get the subsequent results of the initial task;

            offset_token values are unique for each subsequent task

            Note: if the offset_token is specified in the request, all other parameters except limit will not be taken into account when processing a task.

            learn more about this parameter on our Help Center'
      example:
      - language_name: English
        location_code: 2840
        limit: 3
    RatingInfo:
      properties:
        rating_type:
          type:
          - string
          - 'null'
          description: 'the type of rating

            here you can find the following elements: Max5, Percents, CustomMax'
        value:
          type:
          - number
          - 'null'
          description: the value of the rating
          format: double
        votes_count:
          type:
          - integer
          - 'null'
          description: the amount of feedback
          format: int64
        rating_max:
          type:
          - integer
          - 'null'
          description: the maximum value for a rating_type
    DataforseoLabsGoogleKeywordIdeasLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordIdeasLiveTaskInfo'
            description: array of tasks
    DataforseoLabsGoogleHistoricalKeywordDataLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalKeywordDataLiveTaskInfo'
            description: array of tasks
    DataforseoLabsGoogleBulkTrafficEstimationLiveRequestInfo:
      type: object
      properties:
        targets:
          type: array
          items:
            type: string
          description: 'target domains, subdomains, and webpages

            required field

            you can specify domains, subdomains, and webpages in this field;

            domains and subdomains should be specified without https:// and www.;

            pages should be specified with absolute URL, including https:// and www.;

            you can set up to 1000 domains, subdomains or webpages'
        location_name:
          type:
          - string
          - 'null'
          description: 'full name of the location

            if you use this field, you don’t have to specify location_code

            you can receive the list of available locations with their location_name by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            ignore this field to get the results for all available locations

            example:

            United Kingdom'
        location_code:
          type:
          - integer
          - 'null'
          description: 'location code

            if you use this field, you don’t have to specify location_name

            you can receive the list of available locations with their location_code by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            ignore this field to get the results for all available locations

            example:

            2840'
        language_name:
          type:
          - string
          - 'null'
          description: 'full name of the language

            if you use this field, you don’t need to specify language_code

            you can receive the list of available languages with their language_name by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            ignore this field to get the results for all available languages

            example:

            English'
        language_code:
          type:
          - string
          - 'null'
          description: 'language code

            if you use this field, you don’t need to specify language_name

            you can receive the list of available languages with their language_code by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            ignore this field to get the results for all available languages

            example:

            en'
        item_types:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'display results by item type

            optional field

            indicates the type of search results included in the response

            Note: if the item_types array contains item types that are different from organic, the results will be ordered by the first item type in the array

            possible values:

            ["organic", "paid", "featured_snippet", "local_pack"]

            default value:

            ["organic", "paid"]'
        ignore_synonyms:
          type:
          - boolean
          - 'null'
          description: 'ignore highly similar keywords

            optional field

            if set to true, only core keywords will be returned, all highly similar keywords will be excluded;

            default value: false'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
      example:
      - targets:
        - dataforseo.com
        - cnn.com
        - forbes.com
        location_code: 2840
        language_code: en
        item_types:
        - organic
        - paid
    DataforseoLabsGoogleBulkAppMetricsLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsGoogleBulkAppMetricsLiveResultInfo'
            description: array of results
    DataforseoLabsGoogleBulkTrafficEstimationLiveItem:
      type: object
      properties:
        se_type:
          type:
          - string
          - 'null'
          description: search engine type
        target:
          type:
          - string
          - 'null'
          description: target domain in a POST array
        metrics:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/BulkMetricsBundleInfo'
          description: traffic data relevant to the specified domain
    DataforseoLabsGoogleCategoriesForDomainLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsGoogleCategoriesForDomainLiveTaskInfo'
            description: array of tasks
    DataforseoLabsGoogleRelevantPagesLiveRequestInfo:
      type: object
      properties:
        target:
          type: string
          description: 'domain

            required field

            the domain name of the target website

            the domain should be specified without https:// and www.'
        location_name:
          type:
          - string
          - 'null'
          description: 'full name of the location

            optional field

            if you use this field, you don’t need to specify location_code

            you can receive the list of available locations with their location_name by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            ignore this field to get the results for all available locations

            example:

            United Kingdom'
        location_code:
          type:
          - integer
          - 'null'
          description: 'location code

            optional field

            if you use this field, you don’t need to specify location_name

            you can receive the list of available locations with their location_code by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            ignore this field to get the results for all available locations

            example:

            2840'
        language_name:
          type:
          - string
          - 'null'
          description: 'full name of the language

            optional field

            if you use this field, you don’t need to specify language_code

            you can receive the list of available languages with their language_name by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            ignore this field to get the results for all available languages

            example:

            English'
        language_code:
          type:
          - string
          - 'null'
          description: 'language code

            optional field

            if you use this field, you don’t need to specify language_name

            you can receive the list of available languages with their language_code by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            ignore this field to get the results for all available languages

            example:

            en'
        item_types:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'display results by item type

            optional field

            indicates the type of search results included in the response

            Note: if the item_types array contains item types that are different from organic, the results will be ordered by the first item type in the array; you will not be able to sort and filter results by the types of search results not included in the response;

            possible values:

            ["organic", "paid", "featured_snippet", "local_pack"]

            default value:

            ["organic", "paid"]'
        include_clickstream_data:
          type:
          - boolean
          - 'null'
          description: 'include or exclude data from clickstream-based metrics in the result

            optional field

            if the parameter is set to true, you will receive clickstream_etv, clickstream_gender_distribution, and clickstream_age_distribution fields with clickstream data in the response

            default value: false

            with this parameter enabled, you will be charged double the price for the request

            learn more about how clickstream-based metrics are calculated in this help center article'
        limit:
          type:
          - integer
          - 'null'
          description: 'the maximum number of returned pages

            optional field

            default value: 100

            maximum value: 1000'
        offset:
          type:
          - integer
          - 'null'
          description: 'offset in the results array of returned pages

            optional field

            default value: 0

            if you specify the 10 value, the first ten pages in the results array will be omitted and the data will be provided for the successive pages'
        historical_serp_mode:
          type:
          - string
          - 'null'
          description: 'data collection mode

            optional field

            you can use this field to filter the results;

            possible types of filtering:

            live — return metrics for SERPs in which the specified target currently has ranking results;

            lost — return metrics for SERPs in which the specified target had previously had ranking results, but didn’t have them during the last check;

            all — return metrics for both types of SERPs.

            default value: live'
        ignore_synonyms:
          type:
          - boolean
          - 'null'
          description: 'ignore highly similar keywords

            optional field

            if set to true, only core keywords will be returned, all highly similar keywords will be excluded;

            default value: false'
        filters:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, <, <=, >, >=, =, <>, in, not_in

            example:

            ["metrics.paid.count",">",0]

            [["metrics.organic.count",">",50],"and",["metrics.organic.pos_1","<>",0]]

            [[""metrics.organic.count",">",50"],

            "and",

            [["metrics.organic.pos_1","<>",0],"or",["metrics.organic.pos_2_3","<>",0]]]

            for more information about filters, please refer to Dataforseo Labs – Filters or this help center guide'
        order_by:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'results sorting rules

            optional field

            you can use the same values as in the filters array to sort the results

            possible sorting types:

            asc – results will be sorted in the ascending order

            desc – results will be sorted in the descending order

            you should use a comma to specify a sorting type

            example:

            ["metrics.paid.etv,asc"]

            Note: you can set no more than three sorting rules in a single request

            you should use a comma to separate several sorting rules

            example:

            ["metrics.organic.etv,desc","metrics.paid.count,asc"]

            default rule:

            ["metrics.organic.count,desc"]

            Note: if the item_types array contains item types that are different from organic, the results will be ordered by the first item type in the array'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
      example:
      - target: amazon.com
        language_name: English
        location_code: 2840
        filters:
        - - metrics.organic.pos_1
          - <>
          - 0
        - or
        - - metrics.organic.pos_2_3
          - <>
          - 0
        limit: 3
    DataforseoLabsGoogleHistoricalSerpsLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalSerpsLiveTaskInfo'
            description: array of tasks
    DataforseoLabsGoogleHistoricalRankOverviewLiveRequestInfo:
      type: object
      properties:
        target:
          type: string
          description: 'domain

            required field

            the domain name of the target website

            the domain should be specified without https:// and www.'
        location_name:
          type:
          - string
          - 'null'
          description: 'full name of the location

            required field if you don’t specify location_code

            Note: it is required to specify either location_name or location_code

            you can receive the list of available locations with their location_name by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            example:

            United Kingdom'
        location_code:
          type:
          - integer
          - 'null'
          description: 'location code

            required field if you don’t specify location_name

            Note: it is required to specify either location_name or location_code

            you can receive the list of available locations with their location_code by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            example:

            2840'
        language_name:
          type:
          - string
          - 'null'
          description: 'full name of the language

            required field if you don’t specify language_code

            Note: it is required to specify either language_name or language_code

            you can receive the list of available locations with their language_name by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            example:

            English'
        language_code:
          type:
          - string
          - 'null'
          description: 'language code

            required field if you don’t specify language_name

            Note: it is required to specify either language_name or language_code

            you can receive the list of available locations with their language_code by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            example:

            en'
        date_from:
          type:
          - string
          - 'null'
          description: 'starting date of the time range

            optional field

            if you don’t specify this field, the data will be provided for the previous 6 months

            minimal possible value: 2020-10-01

            date format: "yyyy-mm-dd"'
        date_to:
          type:
          - string
          - 'null'
          description: 'ending date of the time range

            optional field

            if you don’t specify this field, the today’s date will be used by default

            date format: "yyyy-mm-dd"

            example:

            "2021-04-01"'
        correlate:
          type:
          - boolean
          - 'null'
          description: 'correlate data with previously obtained datasets

            optional field

            default value: true

            if you use this parameter, our system will correlate data you obtain now with previously obtained datasets

            this parameter is intended to mitigate any inconsistencies that may result from changes to our database

            we recommend always setting correlate to true'
        ignore_synonyms:
          type:
          - boolean
          - 'null'
          description: 'ignore highly similar keywords

            optional field

            if set to true, only data based on core keywords will be returned, data for all highly similar keywords will be excluded;

            default value: false'
        include_clickstream_data:
          type:
          - boolean
          - 'null'
          description: 'include or exclude data from clickstream-based metrics in the result

            optional field

            if the parameter is set to true, you will receive clickstream_etv, clickstream_gender_distribution, and clickstream_age_distribution fields with clickstream data in the response;

            default value: false;

            Note: historical clickstream data is available from 2024/05 (May, 2024);

            with this parameter enabled, you will be charged double the price for the request;

            learn more about how clickstream-based metrics are calculated in this help center article'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
      example:
      - target: dataforseo.com
        location_code: 2840
        language_code: en
        date_from: '2026-01-15'
        date_to: '2026-03-15'
    DataforseoLabsleAppIntersectionLiveItem:
      type: object
      properties:
        se_type:
          type:
          - string
          - 'null'
          description: search engine type
        keyword_data:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/KeywordDataInfo'
          description: keyword data for the returned keyword
        intersection_result:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/GooglePlaySearchOrganic'
          description: 'contains SERP data for the returned keyword

            data will be provided in separate arrays for each app ID you specified in the app_ids object when setting a task;

[...]
