openapi: 3.2.0
info:
  title: DataForSEO Serp API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: SERP
paths:
  /v3/serp/id_list:
    post:
      tags:
      - SERP
      description: 'This endpoint is designed to provide you with a list of IDs and metadata for all SERP tasks created within the specified time period, including both successful and uncompleted tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/id_list/?bash'''
      operationId: IdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpIdListRequestInfo'
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpIdListResponseInfo'
      security:
      - basicAuth: []
      summary: Id list
      x-summary-source: derived
  /v3/serp/errors:
    post:
      tags:
      - SERP
      description: 'By calling this endpoint you will receive information about the SERP API tasks that returned an error within the past 7 days.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/errors/?bash'''
      operationId: Errors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpErrorsRequestInfo'
              example:
              - limit: 10
                offset: 0
                filtered_function: pingback_url
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpErrorsResponseInfo'
      security:
      - basicAuth: []
      summary: Errors
      x-summary-source: derived
  /v3/serp/screenshot:
    post:
      tags:
      - SERP
      description: 'Using the Live Page Screenshot endpoint, you can capture a screenshot of any SERP page.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/screenshot/?bash'''
      operationId: Screenshot
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpScreenshotRequestInfo'
              example:
              - task_id: 06211235-0696-0139-1000-36727fbd3c90
                browser_screen_scale_factor: 0.5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpScreenshotResponseInfo'
      security:
      - basicAuth: []
      summary: Screenshot
      x-summary-source: derived
  /v3/serp/ai_summary:
    post:
      tags:
      - SERP
      description: 'The purpose of the Live SERP API AI Summary endpoint is to provide a summary of the content found on any SERP and generate a response based on the user’s specified prompt.

        To obtain results, you have to specify task_id, which you can find in the response to the POST request.

        Learn more in our Help Center.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/ai_summary/?bash'''
      operationId: AiSummary
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpAiSummaryRequestInfo'
              example:
              - task_id: 07031739-1535-0139-0000-9d1e639a5b7d
                prompt: explain what DataForSEO is
                include_links: true
                fetch_content: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpAiSummaryResponseInfo'
      security:
      - basicAuth: []
      summary: Ai summary
      x-summary-source: derived
  /v3/serp/google/locations:
    get:
      tags:
      - SERP
      description: 'You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/locations/?bash'''
      operationId: GoogleLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleLocationsResponseInfo'
      security:
      - basicAuth: []
      summary: Google locations
      x-summary-source: derived
  /v3/serp/google/locations/{country}:
    get:
      tags:
      - SERP
      description: 'You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/locations/?bash'''
      operationId: GoogleLocationsCountry
      parameters:
      - name: country
        in: path
        description: 'country ISO code

          optional field

          specify the ISO code if you want to filter the list of locations by country

          example:

          us'
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleLocationsCountryResponseInfo'
      security:
      - basicAuth: []
      summary: Google locations country
      x-summary-source: derived
  /v3/serp/google/languages:
    get:
      tags:
      - SERP
      description: 'You will receive the list of languages by calling this API.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/languages/?bash'''
      operationId: GoogleLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Google languages
      x-summary-source: derived
  /v3/serp/google/organic/task_post:
    post:
      tags:
      - SERP
      description: 'SERP API provides top 10 search engine results by default. These results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/organic/task_post/?bash'''
      operationId: GoogleOrganicTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleOrganicTaskPostRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
              - language_name: English
                location_name: United States
                keyword: albert einstein
                priority: 2
                tag: some_string_123
                pingback_url: https://your-server.com/pingscript?id=$id&tag=$tag
              - url: https://www.google.co.uk/search?q=albert%20einstein&hl=en&gl=GB&uule=w+CAIQIFISCXXeIa8LoNhHEZkq1d1aOpZS
                postback_data: html
                postback_url: https://your-server.com/postbackscript
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleOrganicTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google organic task post
      x-summary-source: derived
  /v3/serp/google/organic/tasks_ready:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        Learn more about task completion and obtaining a list of completed tasks in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/organic/tasks_ready/?bash'''
      operationId: GoogleOrganicTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleOrganicTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google organic tasks ready
      x-summary-source: derived
  /v3/serp/tasks_ready:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        Learn more about task completion and obtaining a list of completed tasks in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/organic/tasks_ready/?bash'''
      operationId: TasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Tasks ready
      x-summary-source: derived
  /v3/serp/google/organic/tasks_fixed:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/organic/tasks_fixed/?bash'''
      operationId: GoogleOrganicTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleOrganicTasksFixedResponseInfo'
      security:
      - basicAuth: []
      summary: Google organic tasks fixed
      x-summary-source: derived
  /v3/serp/google/organic/task_get/regular/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/organic/task_get/regular/?bash'''
      operationId: GoogleOrganicTaskGetRegular
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleOrganicTaskGetRegularResponseInfo'
      security:
      - basicAuth: []
      summary: Google organic task get regular
      x-summary-source: derived
  /v3/serp/google/organic/task_get/advanced/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/organic/task_get/advanced/?bash'''
      operationId: GoogleOrganicTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleOrganicTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google organic task get advanced
      x-summary-source: derived
  /v3/serp/google/organic/task_get/html/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/organic/task_get/html/?bash'''
      operationId: GoogleOrganicTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleOrganicTaskGetHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google organic task get html
      x-summary-source: derived
  /v3/serp/google/organic/live/regular:
    post:
      tags:
      - SERP
      description: 'Live SERP provides real-time data on search engine results for the specified keyword, search engine, and location.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/organic/live/regular/?bash'''
      operationId: GoogleOrganicLiveRegular
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleOrganicLiveRegularRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleOrganicLiveRegularResponseInfo'
      security:
      - basicAuth: []
      summary: Google organic live regular
      x-summary-source: derived
  /v3/serp/google/organic/live/advanced:
    post:
      tags:
      - SERP
      description: 'Live SERP provides real-time data on top search engine results for the specified keyword, search engine, and location. This endpoint will supply a complete overview of featured snippets and other extra elements of SERPs.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/organic/live/advanced/?bash'''
      operationId: GoogleOrganicLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleOrganicLiveAdvancedRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
                calculate_rectangles: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleOrganicLiveAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google organic live advanced
      x-summary-source: derived
  /v3/serp/google/organic/live/html:
    post:
      tags:
      - SERP
      description: 'Live SERP HTML provides a raw HTML page of search engine results for the specified keyword, search engine, and location.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/organic/live/html/?bash'''
      operationId: GoogleOrganicLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleOrganicLiveHtmlRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleOrganicLiveHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google organic live html
      x-summary-source: derived
  /v3/serp/google/ai_mode/languages:
    get:
      tags:
      - SERP
      description: 'You will receive the list of languages by calling this API.


        As a response of the API server, you will receive JSON-encoded data containing a tasks array with the information specific to the set tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/ai_mode/languages/?bash'''
      operationId: GoogleAiModeLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAiModeLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Google ai mode languages
      x-summary-source: derived
  /v3/serp/google/ai_mode/task_post:
    post:
      tags:
      - SERP
      description: 'Google AI Mode SERP API provides search results from the AI Mode feature of Google Search.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/ai_mode/task_post/?bash'''
      operationId: GoogleAiModeTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAiModeTaskPostRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: what is google ai mode
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAiModeTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google ai mode task post
      x-summary-source: derived
  /v3/serp/google/ai_mode/tasks_ready:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        Learn more about task completion and obtaining a list of completed tasks in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/ai_mode/tasks_ready/?bash'''
      operationId: GoogleAiModeTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAiModeTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google ai mode tasks ready
      x-summary-source: derived
  /v3/serp/google/ai_mode/tasks_fixed:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/ai_mode/tasks_fixed/?bash'''
      operationId: GoogleAiModeTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAiModeTasksFixedResponseInfo'
      security:
      - basicAuth: []
      summary: Google ai mode tasks fixed
      x-summary-source: derived
  /v3/serp/google/ai_mode/task_get/advanced/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/ai_mode/task_get/advanced/?bash'''
      operationId: GoogleAiModeTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          a universally unique identifier (UUID)

          unique task identifier in our system

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAiModeTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google ai mode task get advanced
      x-summary-source: derived
  /v3/serp/google/ai_mode/task_get/html/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/ai_mode/task_get/html/?bash'''
      operationId: GoogleAiModeTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAiModeTaskGetHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google ai mode task get html
      x-summary-source: derived
  /v3/serp/google/ai_mode/live/advanced:
    post:
      tags:
      - SERP
      description: 'Google AI Mode SERP API provides search results from the AI Mode feature of Google Search.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/ai_mode/live/advanced/?bash'''
      operationId: GoogleAiModeLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAiModeLiveAdvancedRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: what is google ai mode
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAiModeLiveAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google ai mode live advanced
      x-summary-source: derived
  /v3/serp/google/ai_mode/live/html:
    post:
      tags:
      - SERP
      description: 'Live SERP HTML provides a raw HTML page of 100 search engine results for the specified keyword, search engine, and location.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/ai_mode/live/html/?bash'''
      operationId: GoogleAiModeLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAiModeLiveHtmlRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAiModeLiveHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google ai mode live html
      x-summary-source: derived
  /v3/serp/google/maps/task_post:
    post:
      tags:
      - SERP
      description: 'SERP API provides top 100 search engine results. These results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/maps/task_post/?bash'''
      operationId: GoogleMapsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleMapsTaskPostRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleMapsTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google maps task post
      x-summary-source: derived
  /v3/serp/google/maps/tasks_ready:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        Learn more about task completion and obtaining a list of completed tasks in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/maps/tasks_ready/?bash'''
      operationId: GoogleMapsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleMapsTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google maps tasks ready
      x-summary-source: derived
  /v3/serp/google/maps/tasks_fixed:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/maps/tasks_fixed/?bash'''
      operationId: GoogleMapsTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleMapsTasksFixedResponseInfo'
      security:
      - basicAuth: []
      summary: Google maps tasks fixed
      x-summary-source: derived
  /v3/serp/google/maps/task_get/advanced/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/maps/task_get/advanced/?bash'''
      operationId: GoogleMapsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          a universally unique identifier (UUID)

          unique task identifier in our system

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleMapsTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google maps task get advanced
      x-summary-source: derived
  /v3/serp/google/maps/live/advanced:
    post:
      tags:
      - SERP
      description: 'Live Google Maps SERP provides real-time data on top 100 search engine results for the specified keyword, search engine, and location.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/maps/live/advanced/?bash'''
      operationId: GoogleMapsLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleMapsLiveAdvancedRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleMapsLiveAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google maps live advanced
      x-summary-source: derived
  /v3/serp/google/local_finder/task_post:
    post:
      tags:
      - SERP
      description: 'Google Local Finder SERP API provides top search engine results specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/local_finder/task_post/?bash'''
      operationId: GoogleLocalFinderTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleLocalFinderTaskPostRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: local nail services
                min_rating: 4.5
                time_filter: monday
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleLocalFinderTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google local finder task post
      x-summary-source: derived
  /v3/serp/google/local_finder/tasks_ready:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        Learn more about task completion and obtaining a list of completed tasks in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/local_finder/tasks_ready/?bash'''
      operationId: GoogleLocalFinderTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleLocalFinderTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google local finder tasks ready
      x-summary-source: derived
  /v3/serp/google/local_finder/tasks_fixed:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/local_finder/tasks_fixed/?bash'''
      operationId: GoogleLocalFinderTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleLocalFinderTasksFixedResponseInfo'
      security:
      - basicAuth: []
      summary: Google local finder tasks fixed
      x-summary-source: derived
  /v3/serp/google/local_finder/task_get/advanced/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/local_finder/task_get/advanced/?bash'''
      operationId: GoogleLocalFinderTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          a universally unique identifier (UUID)

          unique task identifier in our system

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleLocalFinderTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google local finder task get advanced
      x-summary-source: derived
  /v3/serp/google/local_finder/task_get/html/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/local_finder/task_get/html/?bash'''
      operationId: GoogleLocalFinderTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleLocalFinderTaskGetHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google local finder task get html
      x-summary-source: derived
  /v3/serp/google/local_finder/live/advanced:
    post:
      tags:
      - SERP
      description: 'Live Google Local_finder SERP provides real-time search engine results for the specified keyword and location. By default, you can get up to 20 results for desktop and up to 10 results for mobile.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/local_finder/live/advanced/?bash'''
      operationId: GoogleLocalFinderLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleLocalFinderLiveAdvancedRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: local nail services
                min_rating: 4.5
                time_filter: monday
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleLocalFinderLiveAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google local finder live advanced
      x-summary-source: derived
  /v3/serp/google/local_finder/live/html:
    post:
      tags:
      - SERP
      description: 'Live Google Local Finder SERP HTML provides a raw HTML page of the search engine results for the specified keyword, search engine, and location.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/local_finder/live/html/?bash'''
      operationId: GoogleLocalFinderLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleLocalFinderLiveHtmlRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleLocalFinderLiveHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google local finder live html
      x-summary-source: derived
  /v3/serp/google/news/task_post:
    post:
      tags:
      - SERP
      description: 'SERP API provides top search engine results. These results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/news/task_post/?bash'''
      operationId: GoogleNewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleNewsTaskPostRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleNewsTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google news task post
      x-summary-source: derived
  /v3/serp/google/news/tasks_ready:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        Learn more about task completion and obtaining a list of completed tasks in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/news/tasks_ready/?bash'''
      operationId: GoogleNewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleNewsTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google news tasks ready
      x-summary-source: derived
  /v3/serp/google/news/tasks_fixed:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/news/tasks_fixed/?bash'''
      operationId: GoogleNewsTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleNewsTasksFixedResponseInfo'
      security:
      - basicAuth: []
      summary: Google news tasks fixed
      x-summary-source: derived
  /v3/serp/google/news/task_get/advanced/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/news/task_get/advanced/?bash'''
      operationId: GoogleNewsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleNewsTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google news task get advanced
      x-summary-source: derived
  /v3/serp/google/news/task_get/html/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/news/task_get/html/?bash'''
      operationId: GoogleNewsTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleNewsTaskGetHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google news task get html
      x-summary-source: derived
  /v3/serp/google/news/live/advanced:
    post:
      tags:
      - SERP
      description: 'Live Google News SERP provides real-time data on top search engine results for the specified keyword, search engine, and location.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/news/live/advanced/?bash'''
      operationId: GoogleNewsLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleNewsLiveAdvancedRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: android
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleNewsLiveAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google news live advanced
      x-summary-source: derived
  /v3/serp/google/news/live/html:
    post:
      tags:
      - SERP
      description: 'Live SERP HTML provides a raw HTML page of 10 search engine results for the specified keyword, search engine, and location.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/news/live/html/?bash'''
      operationId: GoogleNewsLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleNewsLiveHtmlRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleNewsLiveHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google news live html
      x-summary-source: derived
  /v3/serp/google/events/task_post:
    post:
      tags:
      - SERP
      description: 'Google Events SERP provides data from Google Events Search for the specified keyword and location (see the List of Locations). Note that Google Events SERP API works for the English language only.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/events/task_post/?bash'''
      operationId: GoogleEventsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleEventsTaskPostRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleEventsTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google events task post
      x-summary-source: derived
  /v3/serp/google/events/tasks_ready:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        Learn more about task completion and obtaining a list of completed tasks in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/events/tasks_ready/?bash'''
      operationId: GoogleEventsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleEventsTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google events tasks ready
      x-summary-source: derived
  /v3/serp/google/events/tasks_fixed:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/events/tasks_fixed/?bash'''
      operationId: GoogleEventsTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleEventsTasksFixedResponseInfo'
      security:
      - basicAuth: []
      summary: Google events tasks fixed
      x-summary-source: derived
  /v3/serp/google/events/task_get/advanced/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/events/task_get/advanced/?bash'''
      operationId: GoogleEventsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleEventsTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google events task get advanced
      x-summary-source: derived
  /v3/serp/google/events/live/advanced:
    post:
      tags:
      - SERP
      description: 'Live Google Events SERP provides real-time data from Google Events Search for the specified keyword and location. Note that Google Events SERP API works for the English language only.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/events/live/advanced/?bash'''
      operationId: GoogleEventsLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleEventsLiveAdvancedRequestInfo'
              example:
              - keyword: concerts
                location_name: Los Angeles,California,United States
                date_range: today
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleEventsLiveAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google events live advanced
      x-summary-source: derived
  /v3/serp/google/images/task_post:
    post:
      tags:
      - SERP
      description: 'SERP API provides top 100 search engine results. These results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/images/task_post/?bash'''
      operationId: GoogleImagesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleImagesTaskPostRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleImagesTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google images task post
      x-summary-source: derived
  /v3/serp/google/images/tasks_ready:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        Learn more about task completion and obtaining a list of completed tasks in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/images/tasks_ready/?bash'''
      operationId: GoogleImagesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleImagesTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google images tasks ready
      x-summary-source: derived
  /v3/serp/google/images/tasks_fixed:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/images/tasks_fixed/?bash'''
      operationId: GoogleImagesTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleImagesTasksFixedResponseInfo'
      security:
      - basicAuth: []
      summary: Google images tasks fixed
      x-summary-source: derived
  /v3/serp/google/images/task_get/advanced/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/images/task_get/advanced/?bash'''
      operationId: GoogleImagesTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleImagesTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google images task get advanced
      x-summary-source: derived
  /v3/serp/google/images/task_get/html/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/images/task_get/html/?bash'''
      operationId: GoogleImagesTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleImagesTaskGetHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google images task get html
      x-summary-source: derived
  /v3/serp/google/images/live/advanced:
    post:
      tags:
      - SERP
      description: 'Live Google Images SERP provides real-time data on top 100 images results for the specified keyword, search engine, and location.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/images/live/advanced/?bash'''
      operationId: GoogleImagesLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleImagesLiveAdvancedRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleImagesLiveAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google images live advanced
      x-summary-source: derived
  /v3/serp/google/images/live/html:
    post:
      tags:
      - SERP
      description: 'Live SERP HTML provides a raw HTML page of 100 search engine results for the specified keyword, search engine, and location.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/images/live/html/?bash'''
      operationId: GoogleImagesLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleImagesLiveHtmlRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleImagesLiveHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google images live html
      x-summary-source: derived
  /v3/serp/google/search_by_image/task_post:
    post:
      tags:
      - SERP
      description: 'Google Search By Image SERP API provides up to top 100 search engine results based on the image you specified. These results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/search_by_image/task_post/?bash'''
      operationId: GoogleSearchByImageTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleSearchByImageTaskPostRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                image_url: https://dataforseo.com/wp-content/uploads/2016/11/data_for_seo_light_429.png
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleSearchByImageTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google search by image task post
      x-summary-source: derived
  /v3/serp/google/search_by_image/tasks_ready:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/search_by_image/tasks_ready/?bash'''
      operationId: GoogleSearchByImageTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleSearchByImageTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google search by image tasks ready
      x-summary-source: derived
  /v3/serp/google/search_by_image/tasks_fixed:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/search_by_image/tasks_fixed/?bash'''
      operationId: GoogleSearchByImageTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleSearchByImageTasksFixedResponseInfo'
      security:
      - basicAuth: []
      summary: Google search by image tasks fixed
      x-summary-source: derived
  /v3/serp/google/search_by_image/task_get/advanced/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/search_by_image/task_get/advanced/?bash'''
      operationId: GoogleSearchByImageTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleSearchByImageTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google search by image task get advanced
      x-summary-source: derived
  /v3/serp/google/jobs/task_post:
    post:
      tags:
      - SERP
      description: 'This endpoint will provide you with SERP data from the Google Jobs search engine. The returned results are specific to the keyword as well as the language and location parameters of the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/jobs/task_post/?bash'''
      operationId: GoogleJobsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleJobsTaskPostRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: .net developer
              - language_name: English
                location_name: United States
                keyword: .net developer
                tag: some_string_123
                pingback_url: https://your-server.com/pingscript?id=$id&tag=$tag
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleJobsTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google jobs task post
      x-summary-source: derived
  /v3/serp/google/jobs/tasks_ready:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        Learn more about task completion and obtaining a list of completed tasks in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/jobs/tasks_ready/?bash'''
      operationId: GoogleJobsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleJobsTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google jobs tasks ready
      x-summary-source: derived
  /v3/serp/google/jobs/tasks_fixed:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/jobs/tasks_fixed/?bash'''
      operationId: GoogleJobsTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleJobsTasksFixedResponseInfo'
      security:
      - basicAuth: []
      summary: Google jobs tasks fixed
      x-summary-source: derived
  /v3/serp/google/jobs/task_get/advanced/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/jobs/task_get/advanced/?bash'''
      operationId: GoogleJobsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleJobsTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google jobs task get advanced
      x-summary-source: derived
  /v3/serp/google/jobs/task_get/html/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/jobs/task_get/html/?bash'''
      operationId: GoogleJobsTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleJobsTaskGetHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google jobs task get html
      x-summary-source: derived
  /v3/serp/google/autocomplete/task_post:
    post:
      tags:
      - SERP
      description: 'Google Autocomplete is a feature within Google Search that improves the search experience by allowing users to complete searches they started to type. DataForSEO SERP API will provide you with all the suggestions Google Autocomplete offers for a particular keyword, the position of the cursor pointer, and the search client.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/autocomplete/task_post/?bash'''
      operationId: GoogleAutocompleteTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAutocompleteTaskPostRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
                cursor_pointer: 6
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAutocompleteTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google autocomplete task post
      x-summary-source: derived
  /v3/serp/google/autocomplete/tasks_ready:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        Learn more about task completion and obtaining a list of completed tasks in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/autocomplete/tasks_ready/?bash'''
      operationId: GoogleAutocompleteTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAutocompleteTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google autocomplete tasks ready
      x-summary-source: derived
  /v3/serp/google/autocomplete/tasks_fixed:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/autocomplete/tasks_fixed/?bash'''
      operationId: GoogleAutocompleteTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAutocompleteTasksFixedResponseInfo'
      security:
      - basicAuth: []
      summary: Google autocomplete tasks fixed
      x-summary-source: derived
  /v3/serp/google/autocomplete/task_get/advanced/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/autocomplete/task_get/advanced/?bash'''
      operationId: GoogleAutocompleteTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAutocompleteTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google autocomplete task get advanced
      x-summary-source: derived
  /v3/serp/google/autocomplete/live/advanced:
    post:
      tags:
      - SERP
      description: 'Google Autocomplete is a feature within Google Search that improves the search experience by allowing users to complete searches they started to type. DataForSEO SERP API will provide you with all the suggestions Google Autocomplete offers for a particular keyword, the position of the cursor pointer, and the search client.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/autocomplete/live/advanced/?bash'''
      operationId: GoogleAutocompleteLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAutocompleteLiveAdvancedRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
                client: gws-wiz-serp
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAutocompleteLiveAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google autocomplete live advanced
      x-summary-source: derived
  /v3/serp/google/dataset_search/task_post:
    post:
      tags:
      - SERP
      description: 'Google Dataset Search API provides top 20 Google Dataset search engine results. These results are specific to the indicated keyword. You can specify other parameters optionally.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/dataset_search/task_post/?bash'''
      operationId: GoogleDatasetSearchTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleDatasetSearchTaskPostRequestInfo'
              example:
              - keyword: water quality
                last_updated: 1m
                file_formats:
                - archive
                - image
                usage_rights: noncommercial
                is_free: true
                topics:
                - natural_sciences
                - geo
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleDatasetSearchTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google dataset search task post
      x-summary-source: derived
  /v3/serp/google/dataset_search/tasks_ready:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        Learn more about task completion and obtaining a list of completed tasks in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/dataset_search/tasks_ready/?bash'''
      operationId: GoogleDatasetSearchTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleDatasetSearchTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google dataset search tasks ready
      x-summary-source: derived
  /v3/serp/google/dataset_search/tasks_fixed:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/dataset_search/tasks_fixed/?bash'''
      operationId: GoogleDatasetSearchTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleDatasetSearchTasksFixedResponseInfo'
      security:
      - basicAuth: []
      summary: Google dataset search tasks fixed
      x-summary-source: derived
  /v3/serp/google/dataset_search/task_get/advanced/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/dataset_search/task_get/advanced/?bash'''
      operationId: GoogleDatasetSearchTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleDatasetSearchTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google dataset search task get advanced
      x-summary-source: derived
  /v3/serp/google/dataset_search/live/advanced:
    post:
      tags:
      - SERP
      description: 'Live Google Dataset Search provides real-time data on the top 20 Google Dataset search engine results. These results are specific to the indicated keyword. You can specify other parameters optionally.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/dataset_search/live/advanced/?bash'''
      operationId: GoogleDatasetSearchLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleDatasetSearchLiveAdvancedRequestInfo'
              example:
              - keyword: water quality
                last_updated: 1m
                file_formats:
                - archive
                - image
                usage_rights: noncommercial
                is_free: true
                topics:
                - natural_sciences
                - geo
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleDatasetSearchLiveAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google dataset search live advanced
      x-summary-source: derived
  /v3/serp/google/dataset_info/task_post:
    post:
      tags:
      - SERP
      description: 'Google Dataset Info API provides detailed information about the dataset you specify in the POST request. You will get data from a page of the dataset displayed separately from the SERP. It contains information about dataset content, authors, licenses, and description on the SERP.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/dataset_info/task_post/?bash'''
      operationId: GoogleDatasetInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleDatasetInfoTaskPostRequestInfo'
              example:
              - dataset_id: L2cvMTFqbl85ZHN6MQ==
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleDatasetInfoTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google dataset info task post
      x-summary-source: derived
  /v3/serp/google/dataset_info/tasks_ready:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        Learn more about task completion and obtaining a list of completed tasks in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/dataset_info/tasks_ready/?bash'''
      operationId: GoogleDatasetInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleDatasetInfoTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google dataset info tasks ready
      x-summary-source: derived
  /v3/serp/google/dataset_info/tasks_fixed:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Fixed’ endpoint is designed to provide you with the list of re-parsed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed re-parsed tasks using this endpoint. Then, you can re-collect the fixed results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/dataset_info/tasks_fixed/?bash'''
      operationId: GoogleDatasetInfoTasksFixed
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleDatasetInfoTasksFixedResponseInfo'
      security:
      - basicAuth: []
      summary: Google dataset info tasks fixed
      x-summary-source: derived
  /v3/serp/google/dataset_info/task_get/advanced/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/dataset_info/task_get/advanced/?bash'''
      operationId: GoogleDatasetInfoTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleDatasetInfoTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google dataset info task get advanced
      x-summary-source: derived
  /v3/serp/google/dataset_info/live/advanced:
    post:
      tags:
      - SERP
      description: 'Live Google Dataset Info provides real-time data on the dataset you specify in the request. You will get data from a page of the dataset displayed separately from the SERP. It contains information about dataset content, authors, licenses, and description on the SERP.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/dataset_info/live/advanced/?bash'''
      operationId: GoogleDatasetInfoLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleDatasetInfoLiveAdvancedRequestInfo'
              example:
              - dataset_id: L2cvMTFqbl85ZHN6MQ==
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleDatasetInfoLiveAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google dataset info live advanced
      x-summary-source: derived
  /v3/serp/google/ads_advertisers/locations:
    get:
      tags:
      - SERP
      description: 'As a response of the API server, you will receive JSON-encoded data containing a tasks array with the information specific to the set tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/ads_advertisers/locations/?bash'''
      operationId: GoogleAdsAdvertisersLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAdsAdvertisersLocationsResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads advertisers locations
      x-summary-source: derived
  /v3/serp/google/ads_advertisers/task_post:
    post:
      tags:
      - SERP
      description: 'Google Ads Advertisers provides information on advertisers that run campaigns on Google Ads based on the Ads Transparency platform. ‌‌

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/ads_advertisers/task_post/?bash'''
      operationId: GoogleAdsAdvertisersTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAdsAdvertisersTaskPostRequestInfo'
              example:
              - location_code: 2840
                keyword: apple
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAdsAdvertisersTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads advertisers task post
      x-summary-source: derived
  /v3/serp/google/ads_advertisers/tasks_ready:
    get:
      tags:
      - SERP
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        Learn more about task completion and obtaining a list of completed tasks in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/ads_advertisers/tasks_ready/?bash'''
      operationId: GoogleAdsAdvertisersTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/SerpGoogleAdsAdvertisersTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads advertisers tasks ready
      x-summary-source: derived
  /v3/serp/google/ads_advertisers/task_get/advanced/{id}:
    get:
      tags:
      - SERP
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/serp/google/ads_advertisers/task_get/advanced/?bash'''
      operationId: GoogleAdsAdvertisersTaskGetAdvanced
      parameters:
      - name: id
        in: path
[...]
