openapi: 3.2.0
info:
  title: DataForSEO Keywords Data API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: KeywordsData
paths:
  /v3/keywords_data/id_list:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint is designed to provide you with a list of IDs and metadata for all Keywords Data tasks created within the specified time period, including both successful and uncompleted tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/id_list/?bash'''
      operationId: KeywordsDataIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataIdListRequestInfo'
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataIdListResponseInfo'
      security:
      - basicAuth: []
      summary: Keywords data id list
      x-summary-source: derived
  /v3/keywords_data/errors:
    post:
      tags:
      - KeywordsData
      description: 'By calling this endpoint you will receive information about the Keywords Data API tasks that returned an error within the past 7 days.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/errors/?bash'''
      operationId: KeywordsDataErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataErrorsRequestInfo'
              example:
              - limit: 10
                offset: 0
                filtered_function: pingback_url
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataErrorsResponseInfo'
      security:
      - basicAuth: []
      summary: Keywords data errors
      x-summary-source: derived
  /v3/keywords_data/google_ads/status:
    get:
      tags:
      - KeywordsData
      description: 'By calling this endpoint, you will know if Google updated keyword data for the previous month. Generally, Google updates keyword data in the middle of the month. So, if Google updated its data in October, you would be able to see the actual search volume, cost-per-click, competition, and other metrics for September. If Google didn’t update its data in October, the latest information would be available for August.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/status/?bash'''
      operationId: GoogleAdsStatus
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsStatusResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads status
      x-summary-source: derived
  /v3/keywords_data/google_ads/locations:
    get:
      tags:
      - KeywordsData
      description: 'We use Google Geographical Targeting. You can refer to Google Ads Target Types page to review the full list of possible location types. With Keywords Data API, you can select any location type supported by Google, except for “Okrug”.

        Postal Codes can be used to set a task, albeit API response will not return data for such tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/locations/?bash'''
      operationId: GoogleAdsLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsLocationsResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads locations
      x-summary-source: derived
  /v3/keywords_data/google_ads/locations/{country}:
    get:
      tags:
      - KeywordsData
      description: 'We use Google Geographical Targeting. You can refer to Google Ads Target Types page to review the full list of possible location types. With Keywords Data API, you can select any location type supported by Google, except for “Okrug”.

        Postal Codes can be used to set a task, albeit API response will not return data for such tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/locations/?bash'''
      operationId: GoogleAdsLocationsCountry
      parameters:
      - name: country
        in: path
        description: 'country ISO code

          optional field

          specify the ISO code if you want to filter the list of locations by country

          example:

          us'
        required: true
        schema:
          type:
          - string
          - 'null'
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsLocationsCountryResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads locations country
      x-summary-source: derived
  /v3/keywords_data/google_ads/languages:
    get:
      tags:
      - KeywordsData
      description: 'By calling this API you will receive the list of languages supported by Keywords Data API.

        ‌

        ‌‌As a response of the API server, you will receive JSON-encoded data containing a tasks array with the information about available languages.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/languages/?bash'''
      operationId: GoogleAdsLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads languages
      x-summary-source: derived
  /v3/keywords_data/google_ads/search_volume/task_post:
    post:
      tags:
      - KeywordsData
      description: 'Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google Ads API.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/search_volume/task_post/?bash'''
      operationId: GoogleAdsSearchVolumeTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsSearchVolumeTaskPostRequestInfo'
              example:
              - location_name: United States
                keywords:
                - buy laptop
                - cheap laptops for sale
                - purchase laptop
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsSearchVolumeTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads search volume task post
      x-summary-source: derived
  /v3/keywords_data/google_ads/search_volume/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: 'This endpoint is designed to provide you with a list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/search_volume/tasks_ready/?bash'''
      operationId: GoogleAdsSearchVolumeTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsSearchVolumeTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads search volume tasks ready
      x-summary-source: derived
  /v3/keywords_data/google_ads/search_volume/task_get/{id}:
    get:
      tags:
      - KeywordsData
      description: 'Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google Ads API.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/search_volume/task_get/?bash'''
      operationId: GoogleAdsSearchVolumeTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsSearchVolumeTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads search volume task get
      x-summary-source: derived
  /v3/keywords_data/google_ads/search_volume/live:
    post:
      tags:
      - KeywordsData
      description: 'Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google Ads API.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/search_volume/live/?bash'''
      operationId: GoogleAdsSearchVolumeLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsSearchVolumeLiveRequestInfo'
              example:
              - location_code: 2840
                keywords:
                - buy laptop
                - cheap laptops for sale
                - purchase laptop
                date_from: '2026-01-15'
                search_partners: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsSearchVolumeLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads search volume live
      x-summary-source: derived
  /v3/keywords_data/google_ads/keywords_for_site/task_post:
    post:
      tags:
      - KeywordsData
      description: for more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_site/task_post/?bash'
      operationId: GoogleAdsKeywordsForSiteTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForSiteTaskPostRequestInfo'
              example:
              - location_code: 2840
                target: dataforseo.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForSiteTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads keywords for site task post
      x-summary-source: derived
  /v3/keywords_data/google_ads/keywords_for_site/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: 'This endpoint is designed to provide you with a list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_site/tasks_ready/?bash'''
      operationId: GoogleAdsKeywordsForSiteTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForSiteTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads keywords for site tasks ready
      x-summary-source: derived
  /v3/keywords_data/google_ads/keywords_for_site/task_get/{id}:
    get:
      tags:
      - KeywordsData
      description: 'Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google Ads API.

        ‌‌

        This endpoint will provide you with a list of keywords relevant to the specified domain along with their bids, search volumes for the last month, search volume trends for the last year (for estimating search volume dynamics), and competition levels.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_site/task_get/?bash'''
      operationId: GoogleAdsKeywordsForSiteTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForSiteTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads keywords for site task get
      x-summary-source: derived
  /v3/keywords_data/google_ads/keywords_for_site/live:
    post:
      tags:
      - KeywordsData
      description: 'Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google Ads API.

        ‌‌

        This endpoint will provide you with a list of keywords relevant to the specified domain along with their bids, search volumes for the last month, search volume trends for the last year (for estimating search volume dynamics), and competition levels.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_site/live/?bash'''
      operationId: GoogleAdsKeywordsForSiteLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForSiteLiveRequestInfo'
              example:
              - location_code: 2840
                target: dataforseo.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForSiteLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads keywords for site live
      x-summary-source: derived
  /v3/keywords_data/google_ads/keywords_for_keywords/task_post:
    post:
      tags:
      - KeywordsData
      description: 'Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google Ads API.

        ‌‌

        This endpoint will provide relevant keywords for the specified terms. Set up to 20 keywords in the keywords array and get keyword suggestions from Google Ads. You can get up to 20,000 keyword suggestions with all essential keyword data in response to one request.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_keywords/task_post/?bash'''
      operationId: GoogleAdsKeywordsForKeywordsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForKeywordsTaskPostRequestInfo'
              example:
              - location_code: 2840
                keywords:
                - phone
                - cellphone
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForKeywordsTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads keywords for keywords task post
      x-summary-source: derived
  /v3/keywords_data/google_ads/keywords_for_keywords/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: 'This endpoint is designed to provide you with a list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_keywords/tasks_ready/?bash'''
      operationId: GoogleAdsKeywordsForKeywordsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForKeywordsTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads keywords for keywords tasks ready
      x-summary-source: derived
  /v3/keywords_data/google_ads/keywords_for_keywords/task_get/{id}:
    get:
      tags:
      - KeywordsData
      description: 'Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google Ads API.

        ‌

        This endpoint will select relevant keywords for the specified terms. Set up to 20 keywords and get the results, which are suggested by Google Ads for your query.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_keywords/task_get/?bash'''
      operationId: GoogleAdsKeywordsForKeywordsTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForKeywordsTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads keywords for keywords task get
      x-summary-source: derived
  /v3/keywords_data/google_ads/keywords_for_keywords/live:
    post:
      tags:
      - KeywordsData
      description: 'Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google Ads API.

        ‌‌

        This endpoint will provide relevant keywords for the specified terms. Set up to 20 keywords in the keywords array and get keyword suggestions from Google Ads.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_keywords/live/?bash'''
      operationId: GoogleAdsKeywordsForKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForKeywordsLiveRequestInfo'
              example:
              - location_code: 2840
                keywords:
                - phone
                - cellphone
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForKeywordsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads keywords for keywords live
      x-summary-source: derived
  /v3/keywords_data/google_ads/ad_traffic_by_keywords/task_post:
    post:
      tags:
      - KeywordsData
      description: for more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/ad_traffic_by_keywords/task_post/?bash'
      operationId: GoogleAdsAdTrafficByKeywordsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsAdTrafficByKeywordsTaskPostRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                bid: 999
                match: exact
                keywords:
                - seo marketing
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsAdTrafficByKeywordsTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads ad traffic by keywords task post
      x-summary-source: derived
  /v3/keywords_data/google_ads/ad_traffic_by_keywords/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: 'This endpoint is designed to provide you with a list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_ads/ad_traffic_by_keywords/tasks_ready/?bash'''
      operationId: GoogleAdsAdTrafficByKeywordsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsAdTrafficByKeywordsTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads ad traffic by keywords tasks ready
      x-summary-source: derived
  /v3/keywords_data/google_ads/ad_traffic_by_keywords/task_get/{id}:
    get:
      tags:
      - KeywordsData
      description: for more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/ad_traffic_by_keywords/task_get/?bash'
      operationId: GoogleAdsAdTrafficByKeywordsTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsAdTrafficByKeywordsTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads ad traffic by keywords task get
      x-summary-source: derived
  /v3/keywords_data/google_ads/ad_traffic_by_keywords/live:
    post:
      tags:
      - KeywordsData
      description: for more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/ad_traffic_by_keywords/live/?bash'
      operationId: GoogleAdsAdTrafficByKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsAdTrafficByKeywordsLiveRequestInfo'
              example:
              - location_code: 2840
                language_code: en
                bid: 999
                match: exact
                keywords:
                - seo marketing
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsAdTrafficByKeywordsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google ads ad traffic by keywords live
      x-summary-source: derived
  /v3/keywords_data/google_trends/locations:
    get:
      tags:
      - KeywordsData
      description: for more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_trends/locations/?bash'
      operationId: GoogleTrendsLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsLocationsResponseInfo'
      security:
      - basicAuth: []
      summary: Google trends locations
      x-summary-source: derived
  /v3/keywords_data/google_trends/locations/{country}:
    get:
      tags:
      - KeywordsData
      description: for more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_trends/locations/?bash'
      operationId: GoogleTrendsLocationsCountry
      parameters:
      - name: country
        in: path
        description: 'country ISO code

          optional field

          specify the ISO code if you want to filter the list of locations by country

          example:

          us'
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsLocationsCountryResponseInfo'
      security:
      - basicAuth: []
      summary: Google trends locations country
      x-summary-source: derived
  /v3/keywords_data/google_trends/languages:
    get:
      tags:
      - KeywordsData
      description: 'By calling this API you will receive the list of languages supported by Google Trends API.

        ‌

        ‌‌As a response of the API server, you will receive JSON-encoded data containing a tasks array with the information about available languages.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_trends/languages/?bash'''
      operationId: GoogleTrendsLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Google trends languages
      x-summary-source: derived
  /v3/keywords_data/google_trends/categories:
    get:
      tags:
      - KeywordsData
      description: 'By calling this API you will receive the list of categories supported by Google Trends API.

        ‌

        ‌‌As a response of the API server, you will receive JSON-encoded data containing a tasks array with the information about available categories.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_trends/categories/?bash'''
      operationId: GoogleTrendsCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsCategoriesResponseInfo'
      security:
      - basicAuth: []
      summary: Google trends categories
      x-summary-source: derived
  /v3/keywords_data/google_trends/explore/task_post:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint will provide you with the keyword popularity data from the ‘Explore’ feature of Google Trends. You can check keyword trends for Google Search, Google News, Google Images, Google Shopping, and YouTube.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_trends/explore/task_post/?bash'''
      operationId: GoogleTrendsExploreTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsExploreTaskPostRequestInfo'
              example:
              - date_from: '2026-01-15'
                date_to: '2026-03-15'
                type: youtube
                category_code: 3
                keywords:
                - seo api
                - rank api
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsExploreTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google trends explore task post
      x-summary-source: derived
  /v3/keywords_data/google_trends/explore/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: 'This endpoint is designed to provide you with a list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_trends/explore/tasks_ready/?bash'''
      operationId: GoogleTrendsExploreTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsExploreTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google trends explore tasks ready
      x-summary-source: derived
  /v3/keywords_data/google_trends/explore/task_get/{id}:
    get:
      tags:
      - KeywordsData
      description: for more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_trends/explore/task_get/?bash'
      operationId: GoogleTrendsExploreTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsExploreTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Google trends explore task get
      x-summary-source: derived
  /v3/keywords_data/google_trends/explore/live:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint will provide you with the keyword popularity data from the ‘Explore’ feature of Google Trends. You can check keyword trends for Google Search, Google News, Google Images, Google Shopping, and YouTube.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/google_trends/explore/live/?bash'''
      operationId: GoogleTrendsExploreLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsExploreLiveRequestInfo'
              example:
              - location_name: United States
                date_from: '2026-01-15'
                date_to: '2026-03-15'
                type: youtube
                category_code: 3
                keywords:
                - rugby
                - cricket
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsExploreLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google trends explore live
      x-summary-source: derived
  /v3/keywords_data/dataforseo_trends/locations:
    get:
      tags:
      - KeywordsData
      description: 'You will receive the list of DataForSEO Trends locations by calling this API. You can filter the list of locations by country when setting a task. Please note that the minimum geographic scope supported for the DataForSEO Trends API is country level.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/dataforseo_trends/locations/?bash'''
      operationId: DataforseoTrendsLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsLocationsResponseInfo'
      security:
      - basicAuth: []
      summary: Dataforseo trends locations
      x-summary-source: derived
  /v3/keywords_data/dataforseo_trends/locations/{country}:
    get:
      tags:
      - KeywordsData
      description: 'You will receive the list of DataForSEO Trends locations by calling this API. You can filter the list of locations by country when setting a task. Please note that the minimum geographic scope supported for the DataForSEO Trends API is country level.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/dataforseo_trends/locations/?bash'''
      operationId: DataforseoTrendsLocationsCountry
      parameters:
      - name: country
        in: path
        description: 'country ISO code

          optional field

          specify the ISO code if you want to filter the list of locations by country

          example:

          us'
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsLocationsCountryResponseInfo'
      security:
      - basicAuth: []
      summary: Dataforseo trends locations country
      x-summary-source: derived
  /v3/keywords_data/dataforseo_trends/explore/live:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint will provide you with the keyword popularity data from DataForSEO Trends. You can check keyword trends for Google Search, Google News, and Google Shopping.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/dataforseo_trends/explore/live/?bash'''
      operationId: DataforseoTrendsExploreLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsExploreLiveRequestInfo'
              example:
              - keywords:
                - iphone 14
                - samsung s23
                location_code: 2840
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsExploreLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Dataforseo trends explore live
      x-summary-source: derived
  /v3/keywords_data/dataforseo_trends/subregion_interests/live:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint will provide you with location-specific keyword popularity data from DataForSEO Trends. You can check keyword trends for Google Search, Google News, and Google Shopping.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/dataforseo_trends/subregion_interests/live/?bash'''
      operationId: DataforseoTrendsSubregionInterestsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsSubregionInterestsLiveRequestInfo'
              example:
              - keywords:
                - rugby
                - cricket
                date_from: '2026-01-15'
                date_to: '2026-03-15'
                type: web
                location_name: United States
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsSubregionInterestsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Dataforseo trends subregion interests live
      x-summary-source: derived
  /v3/keywords_data/dataforseo_trends/demography/live:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint will provide you with the demographic breakdown (by age and gender) of keyword popularity per each specified term based on DataForSEO Trends data. You can check keyword trends for Google Search, Google News, and Google Shopping.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/dataforseo_trends/demography/live/?bash'''
      operationId: DataforseoTrendsDemographyLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsDemographyLiveRequestInfo'
              example:
              - keywords:
                - rugby
                - cricket
                date_from: '2026-01-15'
                date_to: '2026-03-15'
                type: web
                location_name: United States
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsDemographyLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Dataforseo trends demography live
      x-summary-source: derived
  /v3/keywords_data/dataforseo_trends/merged_data/live:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint will provide you with the keyword popularity data from DataForSEO Trends. In addition to keyword popularity rate over the given time range, you will get location-specific keyword popularity data, and a demographic breakdown of keyword popularity per each specified term along with comparative values.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/dataforseo_trends/merged_data/live/?bash'''
      operationId: DataforseoTrendsMergedDataLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsMergedDataLiveRequestInfo'
              example:
              - keywords:
                - rugby
                - cricket
                date_from: '2026-01-15'
                date_to: '2026-03-15'
                type: web
                location_name: United States
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsMergedDataLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Dataforseo trends merged data live
      x-summary-source: derived
  /v3/keywords_data/bing/locations:
    get:
      tags:
      - KeywordsData
      description: 'By calling this API you will receive the list of locations supported in Bing Ads API.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/locations/?bash'''
      operationId: KeywordsDataBingLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingLocationsResponseInfo'
      security:
      - basicAuth: []
      summary: Keywords data bing locations
      x-summary-source: derived
  /v3/keywords_data/bing/languages:
    get:
      tags:
      - KeywordsData
      description: 'By calling this API you will receive the list of languages supported by Bing Ads API.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/languages/?bash'''
      operationId: KeywordsDataBingLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Keywords data bing languages
      x-summary-source: derived
  /v3/keywords_data/bing/search_volume/task_post:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint will provide you with search volume data for the last month, search volume trend for up to 24 past months (that will let you estimate search volume dynamics), current cost-per-click and competition values for paid search.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/search_volume/task_post/?bash'''
      operationId: BingSearchVolumeTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeTaskPostRequestInfo'
              example:
              - location_name: United States
                language_name: English
                keywords:
                - average page rpm adsense
                - adsense blank ads how long
                - leads and prospects
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Bing search volume task post
      x-summary-source: derived
  /v3/keywords_data/bing/search_volume/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: 'This endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/search_volume/tasks_ready/?bash'''
      operationId: BingSearchVolumeTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Bing search volume tasks ready
      x-summary-source: derived
  /v3/keywords_data/bing/search_volume/task_get/{id}:
    get:
      tags:
      - KeywordsData
      description: for more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/search_volume/task_get/?bash'
      operationId: BingSearchVolumeTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Bing search volume task get
      x-summary-source: derived
  /v3/keywords_data/bing/search_volume/live:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint will provide you with search volume data for the last month, search volume trend for up to 24 past months (that will let you estimate search volume dynamics), current cost-per-click and competition values for paid search.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/search_volume/live/?bash'''
      operationId: BingSearchVolumeLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeLiveRequestInfo'
              example:
              - location_name: United States
                language_code: en
                keywords:
                - tom and jerry
                - silicon valley
                - spider man
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Bing search volume live
      x-summary-source: derived
  /v3/keywords_data/bing/audience_estimation/job_functions:
    get:
      tags:
      - KeywordsData
      description: 'By calling this API you will receive the list of job functions with job_function_id supported by Bing Ads Audience Estimation endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/audience_estimation/job_functions/?bash'''
      operationId: BingAudienceEstimationJobFunctions
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationJobFunctionsResponseInfo'
      security:
      - basicAuth: []
      summary: Bing audience estimation job functions
      x-summary-source: derived
  /v3/keywords_data/bing/audience_estimation/industries:
    get:
      tags:
      - KeywordsData
      description: 'By calling this API you will receive the list of industries with industry_id supported by Bing Ads Audience Estimation endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/audience_estimation/industries/?bash'''
      operationId: BingAudienceEstimationIndustries
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationIndustriesResponseInfo'
      security:
      - basicAuth: []
      summary: Bing audience estimation industries
      x-summary-source: derived
  /v3/keywords_data/bing/audience_estimation/task_post:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint provides estimated audience size for an ad campaign based on specified targeting criteria. It returns data on the total estimated audience, such as suggested bid and budget for an ad campaign and estimated engagement metrics.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/audience_estimation/task_post/?bash'''
      operationId: BingAudienceEstimationTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationTaskPostRequestInfo'
              example:
              - location_coordinate: 29.6821525,-82.4098881,100
                age:
                - twenty_five_to_thirty_four
                - eighteen_to_twenty_four
                - unknown
                bid: 1
                daily_budget: 24
                gender:
                - male
                industry:
                - 806303407
                - 806301758
                job_function:
                - 806298607
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Bing audience estimation task post
      x-summary-source: derived
  /v3/keywords_data/bing/audience_estimation/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: 'This endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/audience_estimation/tasks_ready/?bash'''
      operationId: BingAudienceEstimationTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Bing audience estimation tasks ready
      x-summary-source: derived
  /v3/keywords_data/bing/audience_estimation/task_get/{id}:
    get:
      tags:
      - KeywordsData
      description: for more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/audience_estimation/task_get/?bash'
      operationId: BingAudienceEstimationTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Bing audience estimation task get
      x-summary-source: derived
  /v3/keywords_data/bing/audience_estimation/live:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint provides estimated audience size for an ad campaign based on specified targeting criteria. It returns data on the total estimated audience, such as suggested bid and budget for an ad campaign and estimated engagement metrics.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/audience_estimation/live/?bash'''
      operationId: BingAudienceEstimationLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationLiveRequestInfo'
              example:
              - location_coordinate: 29.6821525,-82.4098881,100
                age:
                - twenty_five_to_thirty_four
                - eighteen_to_twenty_four
                - unknown
                bid: 1
                daily_budget: 24
                gender:
                - male
                industry:
                - 806303407
                - 806301758
                job_function:
                - 806298607
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Bing audience estimation live
      x-summary-source: derived
  /v3/keywords_data/bing/keywords_for_site/task_post:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint will provide you with a list of keywords relevant to the specified website along with their search volume for the last month, search volume trend for up to 24 past months (for estimating search volume dynamics), current cost-per-click and competition level for paid search. The maximum number of returned keywords is 3000.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_site/task_post/?bash'''
      operationId: BingKeywordsForSiteTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForSiteTaskPostRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                target: dataforseo.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForSiteTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Bing keywords for site task post
      x-summary-source: derived
  /v3/keywords_data/bing/keywords_for_site/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: 'This endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_site/tasks_ready/?bash'''
      operationId: BingKeywordsForSiteTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForSiteTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Bing keywords for site tasks ready
      x-summary-source: derived
  /v3/keywords_data/bing/keywords_for_site/task_get/{id}:
    get:
      tags:
      - KeywordsData
      description: 'This endpoint will provide you with a list of keywords relevant to the specified website along with their search volume for the last month, search volume trend for the last year (for estimating search volume dynamics), current cost-per-click and competition level for paid search. The maximum number of returned keywords is 3000.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_site/task_get/?bash'''
      operationId: BingKeywordsForSiteTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForSiteTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Bing keywords for site task get
      x-summary-source: derived
  /v3/keywords_data/bing/keywords_for_site/live:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint will provide you with a list of keywords relevant to the specified URL along with their search volume for the last month, search volume trend for up to 24 past months (for estimating search volume dynamics), current cost-per-click and competition values for paid search. The maximum number of returned keywords is 3000.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_site/live/?bash'''
      operationId: BingKeywordsForSiteLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForSiteLiveRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                target: dataforseo.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForSiteLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Bing keywords for site live
      x-summary-source: derived
  /v3/keywords_data/bing/keywords_for_keywords/task_post:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint will select relevant keywords for the specified terms. Set up to 200 keywords and get the results, which are suggested by Bing Ads for your query. You can get up to 3000 keyword suggestions using this function.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_keywords/task_post/?bash'''
      operationId: BingKeywordsForKeywordsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForKeywordsTaskPostRequestInfo'
              example:
              - location_code: 2840
                language_code: en
                keywords:
                - average page rpm adsense
                - adsense blank ads how long
                - leads and prospects
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForKeywordsTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Bing keywords for keywords task post
      x-summary-source: derived
  /v3/keywords_data/bing/keywords_for_keywords/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: 'This endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_keywords/tasks_ready/?bash'''
      operationId: BingKeywordsForKeywordsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForKeywordsTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Bing keywords for keywords tasks ready
      x-summary-source: derived
  /v3/keywords_data/bing/keywords_for_keywords/task_get/{id}:
    get:
      tags:
      - KeywordsData
      description: 'This endpoint will select relevant keywords for the specified terms. Set up to 200 keywords and get the results, which are suggested by Bing Ads for your query. You can get up to 3000 keyword suggestions using this function.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_keywords/task_get/?bash'''
      operationId: BingKeywordsForKeywordsTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForKeywordsTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Bing keywords for keywords task get
      x-summary-source: derived
  /v3/keywords_data/bing/keywords_for_keywords/live:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint will select the relevant keywords for the specified ones. Set up to 200 keywords and get the results, which are suggested by Bing Ads for your query. You can get up to 3000 keyword suggestions using this function.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_keywords/live/?bash'''
      operationId: BingKeywordsForKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForKeywordsLiveRequestInfo'
              example:
              - location_name: United States
                language_name: English
                keywords:
                - average page rpm adsense
                - adsense blank ads how long
                - leads and prospects
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForKeywordsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Bing keywords for keywords live
      x-summary-source: derived
  /v3/keywords_data/bing/keyword_performance/locations_and_languages:
    get:
      tags:
      - KeywordsData
      description: 'Using this endpoint you can get the full list of locations and languages supported in Keyword Performance endpoints of Bing Keywords Data API.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/keyword_performance/locations_and_languages/?bash'''
      operationId: BingKeywordPerformanceLocationsAndLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceLocationsAndLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Bing keyword performance locations and languages
      x-summary-source: derived
  /v3/keywords_data/bing/keyword_performance/task_post:
    post:
      tags:
      - KeywordsData
      description: 'You can receive a set of keyword performance stats for a group of keywords depending on the specified match type, location and language parameters. Ad position, clicks, impressions, and other keyword metrics are aggregated for the last month for one or all of the following device types: mobile, desktop, tablet.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/keyword_performance/task_post/?bash'''
      operationId: BingKeywordPerformanceTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceTaskPostRequestInfo'
              example:
              - location_code: 2840
                language_code: en
                keywords:
                - dataforseo
                - seo
                - ranking
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Bing keyword performance task post
      x-summary-source: derived
  /v3/keywords_data/bing/keyword_performance/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: 'This endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/keyword_performance/tasks_ready/?bash'''
      operationId: BingKeywordPerformanceTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Bing keyword performance tasks ready
      x-summary-source: derived
  /v3/keywords_data/bing/keyword_performance/task_get/{id}:
    get:
      tags:
      - KeywordsData
      description: 'You can receive a set of keyword performance stats for a group of keywords depending on the specified match type, location and language parameters. Ad position, clicks, impressions, and other keyword metrics are aggregated for the last month for one or all of the following device types: mobile, desktop, tablet.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/keyword_performance/task_get/?bash'''
      operationId: BingKeywordPerformanceTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Bing keyword performance task get
      x-summary-source: derived
  /v3/keywords_data/bing/keyword_performance/live:
    post:
      tags:
      - KeywordsData
      description: 'You can receive a set of keyword performance stats for a group of keywords depending on the specified match type, location and language parameters. Ad position, clicks, impressions, and other keyword metrics are aggregated for the last month for one or all of the following device types: mobile, desktop, tablet.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/keyword_performance/live/?bash'''
      operationId: BingKeywordPerformanceLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceLiveRequestInfo'
              example:
              - location_code: 2840
                language_code: en
                keywords:
                - dataforseo
                - seo
                - ranking
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Bing keyword performance live
      x-summary-source: derived
  /v3/keywords_data/bing/search_volume_history/locations_and_languages:
    get:
      tags:
      - KeywordsData
      description: 'By calling this API you will receive the list of locations and languages supported by Bing ‘Search Volume History’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/search_volume_history/locations_and_languages/?bash'''
      operationId: BingSearchVolumeHistoryLocationsAndLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeHistoryLocationsAndLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Bing search volume history locations and languages
      x-summary-source: derived
  /v3/keywords_data/bing/search_volume_history/task_post:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint will provide you with historical search volume data for up to 1000 keywords in one request. You can get search volume for keywords in monthly, weekly, or daily format and specify the device type.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/search_volume_history/task_post/?bash'''
      operationId: BingSearchVolumeHistoryTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeHistoryTaskPostRequestInfo'
              example:
              - location_code: 2840
                language_code: en
                keywords:
                - 10 minute timer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeHistoryTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Bing search volume history task post
      x-summary-source: derived
  /v3/keywords_data/bing/search_volume_history/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: 'This endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/search_volume_history/tasks_ready/?bash'''
      operationId: BingSearchVolumeHistoryTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeHistoryTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Bing search volume history tasks ready
      x-summary-source: derived
  /v3/keywords_data/bing/search_volume_history/task_get/{id}:
    get:
      tags:
      - KeywordsData
      description: for more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/search_volume_history/task_get/?bash'
      operationId: BingSearchVolumeHistoryTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeHistoryTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Bing search volume history task get
      x-summary-source: derived
  /v3/keywords_data/bing/search_volume_history/live:
    post:
      tags:
      - KeywordsData
      description: 'This endpoint will provide you with historical search volume data for up to 1000 keywords in one request. You can get search volume for keywords in monthly, weekly, or daily format and specify the device type.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/bing/search_volume_history/live/?bash'''
      operationId: BingSearchVolumeHistoryLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeHistoryLiveRequestInfo'
              example:
              - location_code: 2840
                language_code: en
                keywords:
                - 10 minute timer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeHistoryLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Bing search volume history live
      x-summary-source: derived
  /v3/keywords_data/clickstream_data/locations_and_languages:
    get:
      tags:
      - KeywordsData
      description: 'Using this endpoint you can get the full list of locations and languages supported in DataForSEO Clickstream Data API.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/clickstream_data/locations_and_languages/?bash'''
      operationId: ClickstreamDataLocationsAndLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataClickstreamDataLocationsAndLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Clickstream data locations and languages
      x-summary-source: derived
  /v3/keywords_data/clickstream_data/dataforseo_search_volume/live:
    post:
      tags:
      - KeywordsData
      description: for more info please visit 'https://docs.dataforseo.com/v3/keywords_data/clickstream_data/dataforseo_search_volume/live/?bash'
      operationId: ClickstreamDataDataforseoSearchVolumeLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataClickstreamDataDataforseoSearchVolumeLiveRequestInfo'
              example:
              - location_code: 2840
                language_code: en
                tag: test-tag
                keywords:
                - you tube
                - youtube
                - youtub
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataClickstreamDataDataforseoSearchVolumeLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Clickstream data dataforseo search volume live
      x-summary-source: derived
  /v3/keywords_data/clickstream_data/global_search_volume/live:
    post:
      tags:
      - KeywordsData
      description: 'The Clickstream Global Search Volume endpoint of DataForSEO Keywords Data API is designed to provide clickstream-based search volume data for up to 1000 keywords in a single Live request. What’s more, it offers geographical distribution of clickstream search volume values across all available locations.

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/clickstream_data/global_search_volume/live/?bash'''
      operationId: ClickstreamDataGlobalSearchVolumeLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataClickstreamDataGlobalSearchVolumeLiveRequestInfo'
              example:
              - tag: test-tag
                keywords:
                - you tube
                - youtube
                - youtub
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataClickstreamDataGlobalSearchVolumeLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Clickstream data global search volume live
      x-summary-source: derived
  /v3/keywords_data/clickstream_data/bulk_search_volume/live:
    post:
      tags:
      - KeywordsData
      description: 'The Bulk Clickstream Search Volume endpoint of DataForSEO Keywords Data API is designed to provide clickstream-based search volume data for up to 1000 keywords in a single Live request. What’s more, it offers historical search volume values for up to 12 months (depending on keywords, location, and language parameters).

        for more info please visit ''https://docs.dataforseo.com/v3/keywords_data/clickstream_data/bulk_search_volume/live/?bash'''
      operationId: ClickstreamDataBulkSearchVolumeLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataClickstreamDataBulkSearchVolumeLiveRequestInfo'
              example:
              - location_code: 2840
                tag: test-tag
                keywords:
                - you tube
                - youtube
                - youtub
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataClickstreamDataBulkSearchVolumeLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Clickstream data bulk search volume live
      x-summary-source: derived
components:
  schemas:
    KeywordsDataGoogleAdsKeywordsForSiteTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForSiteTasksReadyTaskInfo'
            description: array of tasks
    KeywordsDataBingKeywordPerformanceTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceTaskPostTaskInfo'
            description: array of tasks
    KeywordsDataBingAudienceEstimationLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationLiveResultInfo'
            description: array of results
    KeywordsDataBingAudienceEstimationTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - object
            - 'null'
            description: 'array of results

              in this case, the value will be null'
    KeywordsDataBingSearchVolumeHistoryTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - object
            - 'null'
            description: 'array of results

              in this case, the value will be null'
    KeywordsDataGoogleTrendsLanguagesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/KeywordsDataGoogleTrendsLanguagesResultInfo'
            description: array of results
    KeywordsDataGoogleAdsLanguagesResultInfo:
      type: object
      properties:
        language_name:
          type:
          - string
          - 'null'
          description: language name
        language_code:
          type:
          - string
          - 'null'
          description: language code according to ISO 639-1
    KeywordsDataGoogleTrendsExploreTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/KeywordsDataGoogleTrendsExploreTaskPostTaskInfo'
            description: array of tasks
    KeywordsDataBingKeywordPerformanceTaskPostRequestInfo:
      type: object
      properties:
        keywords:
          type: array
          items:
            type: string
          description: 'keywords

            required field

            The maximum number of keywords you can specify: 1000

            The maximum number of characters for each keyword: 80

            The maximum number of words for each keyword phrase: 10

            the specified keywords will be converted to lowercase, data will be provided in a separate array

            learn more about rules and limitations of keyword and keywords fields in DataForSEO APIs in this Help Center article'
        device:
          type:
          - string
          - 'null'
          description: 'device type

            optional field

            specify this field if you want to get the data for a particular device typepossible values: desktop, mobile, tablet, all

            default value: all'
        match:
          type:
          - string
          - 'null'
          description: 'keywords match type

            optional field

            can take the following values:

            aggregate returns data across all match types;

            broad returns data for all user queries containing the specified keyword with varying word order;

            phrase returns data for all user queries containing the specified keyword with identical word order;

            exact returns data for user query that matches the specified keyword;Note: the aggregate match type is applied by default'
        location_name:
          type:
          - string
          - 'null'
          description: 'full name of search engine location

            required field if you don’t specify location_code or location_coordinate

            if you use this field, you don’t need to specify location_code or location_coordinate

            you can receive the list of available locations and languages by making a separate request to https://api.dataforseo.com/v3/keywords_data/bing/keyword_performance/locations_and_languages

            example:

            "United States"'
        location_code:
          type:
          - integer
          - 'null'
          description: 'search engine location code

            required field if you don’t specify location_name or location_coordinate

            if you use this field, you don’t need to specify location_name or location_coordinate

            you can receive the list of available locations and languages by making a separate request to https://api.dataforseo.com/v3/keywords_data/bing/keyword_performance/locations_and_languages

            example:

            2840'
        location_coordinate:
          type:
          - string
          - 'null'
          description: 'GPS coordinates of a location

            required field if you don’t specify location_name or location_code

            if you use this field, you don’t need to specify location_name or location_code

            location_coordinate parameter should be specified in the “latitude,longitude” format

            the data will be provided for the country the specified coordinates belong to

            example:

            52.6178549,-155.352142'
        language_name:
          type:
          - string
          - 'null'
          description: 'full name of search engine language

            required field if you don’t specify language_code

            if you use this field, you don’t need to specify language_code

            you can receive the list of available locations and languages by making a separate request to https://api.dataforseo.com/v3/keywords_data/bing/keyword_performance/locations_and_languages

            example:

            English'
        language_code:
          type:
          - string
          - 'null'
          description: 'search engine language code

            required field if you don’t specify language_name

            you can receive the list of available locations and languages by making a separate request to https://api.dataforseo.com/v3/keywords_data/bing/keyword_performance/locations_and_languages

            example:

            "en"'
        postback_url:
          type:
          - string
          - 'null'
          description: 'URL for sending task results

            optional field

            once the task is completed, we will send a POST request with its results compressed in the gzip format to the postback_url you specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/postbackscript?id=$id

            http://your-server.com/postbackscript?id=$id&tag=$tag

            Note: special characters in postback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
        pingback_url:
          type:
          - string
          - 'null'
          description: 'notification URL of a completed task

            optional field

            when a task is completed we will notify you by GET request sent to the URL you have specified

[...]
