openapi: 3.2.0
info:
  title: DataForSEO On Page API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: OnPage
paths:
  /v3/on_page/id_list:
    post:
      tags:
      - OnPage
      description: 'This endpoint is designed to provide you with a list of IDs and metadata for all On-Page tasks created within the specified time period, including both successful and uncompleted tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/id_list/?bash'''
      operationId: OnPageIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageIdListRequestInfo'
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageIdListResponseInfo'
      security:
      - basicAuth: []
      summary: On page id list
      x-summary-source: derived
  /v3/on_page/errors:
    post:
      tags:
      - OnPage
      description: 'By calling this endpoint you will receive information about the OnPage API tasks that returned an error within the past 7 days.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/errors/?bash'''
      operationId: OnPageErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageErrorsRequestInfo'
              example:
              - limit: 10
                offset: 0
                filtered_function: pingback_url
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageErrorsResponseInfo'
      security:
      - basicAuth: []
      summary: On page errors
      x-summary-source: derived
  /v3/on_page/force_stop:
    post:
      tags:
      - OnPage
      description: 'This endpoint is designed to force stop the crawl process of websites you specified in a task. The execution of all the tasks associated with the IDs indicated in your request to this endpoint will be stopped. You will still be able to obtain the data on pages that have been scanned until the crawling process was stopped.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/force_stop/?bash'''
      operationId: ForceStop
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageForceStopRequestInfo'
              example:
              - id: 08121600-1535-0216-0000-37b4c7a34453
              - id: 08121600-1535-0216-0000-d6a5000b6897
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageForceStopResponseInfo'
      security:
      - basicAuth: []
      summary: Force stop
      x-summary-source: derived
  /v3/on_page/available_filters:
    get:
      tags:
      - OnPage
      description: 'OnPage API supports plenty of customizable crawling parameters that allow you to adapt the extraction of website data to your requirements and modify the thresholds for various performance indicators.

        ‌‌

        Here you will find all the necessary information about filters and thresholds that can be used with DataForSEO OnPage API endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/filters_and_thresholds/?bash'''
      operationId: OnPageAvailableFilters
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageAvailableFiltersResponseInfo'
      security:
      - basicAuth: []
      summary: On page available filters
      x-summary-source: derived
  /v3/on_page/task_post:
    post:
      tags:
      - OnPage
      description: 'OnPage API checks websites for 60+ customizable on-page parameters defines and displays all found flaws and opportunities for optimization so that you can easily fix them. It checks meta tags, duplicate content, image tags, response codes, and other parameters on every page. You can find the full list of OnPage API check-up parameters in the Pages section.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/task_post/?bash'''
      operationId: TaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageTaskPostRequestInfo'
              example:
              - target: dataforseo.com
                max_crawl_pages: 10
                load_resources: true
                enable_javascript: true
                custom_js: meta = {}; meta.url = document.URL; meta;
                tag: some_string_123
                pingback_url: https://your-server.com/pingscript?id=$id&tag=$tag
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Task post
      x-summary-source: derived
  /v3/on_page/tasks_ready:
    get:
      tags:
      - OnPage
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks, which results haven’t been collected yet.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page-tasks_ready/?bash'''
      operationId: OnPageTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: On page tasks ready
      x-summary-source: derived
  /v3/on_page/summary/{id}:
    get:
      tags:
      - OnPage
      description: 'Using this function, you can get the overall information on a website as well as drill down into exact on-page issues of a website that has been scanned. As a result, you will know what functions to use for receiving detailed data for each of the found issues.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/summary/?bash'''
      operationId: Summary
      parameters:
      - name: id
        in: path
        description: 'task identifier

          required field

          you can get this ID in the response of the Task POST endpoint

          example:

          “07131248-1535-0216-1000-17384017ad04”'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageSummaryResponseInfo'
      security:
      - basicAuth: []
      summary: Summary
      x-summary-source: derived
  /v3/on_page/pages:
    post:
      tags:
      - OnPage
      description: 'This endpoint returns a list of crawled pages with on-page check-ups and other metrics related to the page performance.

        Using this function you will get page-specific data with detailed information on how well your pages are optimized for search.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/pages/?bash'''
      operationId: Pages
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPagePagesRequestInfo'
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                filters:
                - - resource_type
                  - '='
                  - html
                - and
                - - meta.scripts_count
                  - '>'
                  - 40
                order_by:
                - meta.content.plain_text_word_count,desc
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPagePagesResponseInfo'
      security:
      - basicAuth: []
      summary: Pages
      x-summary-source: derived
  /v3/on_page/pages_by_resource:
    post:
      tags:
      - OnPage
      description: 'This endpoint will return the list of pages where a specific resource is located. Using this function you will also get the data related to the pages that contain a specified resource.

        You can get the URL of a resource using the Resources endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/page_by_resource/?bash'''
      operationId: PagesByResource
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPagePagesByResourceRequestInfo'
              example:
              - id: 02241700-1535-0216-0000-034137259bc1
                url: https://www.etsy.com/about/jobs.workco2018.js?
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPagePagesByResourceResponseInfo'
      security:
      - basicAuth: []
      summary: Pages by resource
      x-summary-source: derived
  /v3/on_page/resources:
    post:
      tags:
      - OnPage
      description: 'This endpoint will provide you with a list of resources, including images, scripts, stylesheets, and broken elements.

        You will get a detailed overview of every resource found on the crawled pages.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/resources/?bash'''
      operationId: Resources
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageResourcesRequestInfo'
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                filters:
                - - resource_type
                  - '='
                  - image
                - and
                - - size
                  - '>'
                  - 100000
                order_by:
                - size,desc
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageResourcesResponseInfo'
      security:
      - basicAuth: []
      summary: Resources
      x-summary-source: derived
  /v3/on_page/duplicate_tags:
    post:
      tags:
      - OnPage
      description: 'This endpoint returns a list of pages that contain duplicate title or description tags. The response also contains data related to page performance.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/duplicate_tags/?bash'''
      operationId: DuplicateTags
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageDuplicateTagsRequestInfo'
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                type: duplicate_description
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageDuplicateTagsResponseInfo'
      security:
      - basicAuth: []
      summary: Duplicate tags
      x-summary-source: derived
  /v3/on_page/duplicate_content:
    post:
      tags:
      - OnPage
      description: 'This endpoint returns a list of pages that have content similar to the page specified in the request. The response also contains data related to page performance and the similarity index that indicates how similar the compared pages are.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/duplicate_content/?bash'''
      operationId: DuplicateContent
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageDuplicateContentRequestInfo'
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                url: https://www.etsy.com/
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageDuplicateContentResponseInfo'
      security:
      - basicAuth: []
      summary: Duplicate content
      x-summary-source: derived
  /v3/on_page/links:
    post:
      tags:
      - OnPage
      description: 'This endpoint will provide you with a list of internal and external links detected on a target website.

        The following link types are supported:

        anchor – links that point to a specific portion of a webpage;

        image – links that point to an image;

        canonical – links that point to a canonical page;

        meta – links with meta http-equiv=refresh ;

        alternate – links with link rel="alternate" pointing to an alternative version of a webpage ;

        redirect – links with redirect status.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/links/?bash'''
      operationId: Links
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageLinksRequestInfo'
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                page_from: /apis/google-trends-api
                filters:
                - - dofollow
                  - '='
                  - true
                - and
                - - direction
                  - '='
                  - external
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageLinksResponseInfo'
      security:
      - basicAuth: []
      summary: Links
      x-summary-source: derived
  /v3/on_page/redirect_chains:
    post:
      tags:
      - OnPage
      description: 'Redirect chains occur when there are at least two redirects between the initial URL and the destination URL. For example, if page A redirects to page B which redirects to page C, such a series of redirects is considered a redirect chain. Sometimes, if page B redirects back to page A, the redirect chain becomes closed and is considered a redirect loop.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/redirect_chains/?bash'''
      operationId: RedirectChains
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageRedirectChainsRequestInfo'
              example:
              - id: 03051327-4536-0216-1000-3b458a2cfcca
                url: https://test_rdr.dataforseo.com/a/
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageRedirectChainsResponseInfo'
      security:
      - basicAuth: []
      summary: Redirect chains
      x-summary-source: derived
  /v3/on_page/non_indexable:
    post:
      tags:
      - OnPage
      description: 'This endpoint returns a list of pages that are blocked from being indexed by Google and other search engines through robots.txt, HTTP headers, or meta tags settings.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/non_indexable/?bash'''
      operationId: NonIndexable
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageNonIndexableRequestInfo'
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                filters:
                - - reason
                  - '='
                  - robots_txt
                - and
                - - url
                  - like
                  - '%go%'
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageNonIndexableResponseInfo'
      security:
      - basicAuth: []
      summary: Non indexable
      x-summary-source: derived
  /v3/on_page/waterfall:
    post:
      tags:
      - OnPage
      description: 'This endpoint is designed to provide you with the page speed insights. Using this function you can get detailed information about the page loading time, time to secure connection, the time it takes to load page resources, and so on.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/waterfall/?bash'''
      operationId: Waterfall
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageWaterfallRequestInfo'
              example:
              - id: 08101204-0696-0216-0000-644a7b21a48a
                url: https://dataforseo.com/tag/broken-links
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageWaterfallResponseInfo'
      security:
      - basicAuth: []
      summary: Waterfall
      x-summary-source: derived
  /v3/on_page/keyword_density:
    post:
      tags:
      - OnPage
      description: 'This endpoint will provide you with keyword density and keyword frequency data for terms appearing on the specified website or web page. You can filter and sort the data that will be retrieved with this API call.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/keyword_density/?bash'''
      operationId: KeywordDensity
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageKeywordDensityRequestInfo'
              example:
              - id: 09101923-1535-0216-0000-2389a8854b70
                url: https://dataforseo.com/
                keyword_length: 2
                filters:
                - frequency
                - '>'
                - 5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageKeywordDensityResponseInfo'
      security:
      - basicAuth: []
      summary: Keyword density
      x-summary-source: derived
  /v3/on_page/microdata:
    post:
      tags:
      - OnPage
      description: 'This endpoint is designed to validate structured JSON-LD data and Microdata. Using this function you will obtain microdata available on the specified page of the target website and detailed results of its validation.

        To use this endpoint, set the validate_micromarkup parameter to true in the POST request to OnPage API.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/microdata/?bash'''
      operationId: Microdata
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageMicrodataRequestInfo'
              example:
              - id: 02241700-1535-0216-0000-034137259bc1
                url: https://dataforseo.com/apis
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageMicrodataResponseInfo'
      security:
      - basicAuth: []
      summary: Microdata
      x-summary-source: derived
  /v3/on_page/raw_html:
    post:
      tags:
      - OnPage
      description: 'This endpoint returns the HTML of a page you indicate in the request.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/raw_html/?bash'''
      operationId: RawHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageRawHtmlRequestInfo'
              example:
              - id: 07281559-0695-0216-0000-c269be8b7592
                url: https://dataforseo.com/apis
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageRawHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Raw html
      x-summary-source: derived
  /v3/on_page/page_screenshot:
    post:
      tags:
      - OnPage
      description: 'Using this endpoint, you can capture a full high-quality screenshot of any webpage. In this way, you can review the target page as the DataForSEO crawler and Googlebot see it.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/page_screenshot/?bash'''
      operationId: PageScreenshot
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPagePageScreenshotRequestInfo'
              example:
              - url: https://dataforseo.com/apis
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPagePageScreenshotResponseInfo'
      security:
      - basicAuth: []
      summary: Page screenshot
      x-summary-source: derived
  /v3/on_page/content_parsing:
    post:
      tags:
      - OnPage
      description: 'This endpoint allows parsing the content on any page you specify and will return the structured content of the target page, including link URLs, anchors, headings, and textual content.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/content_parsing/?bash'''
      operationId: ContentParsing
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageContentParsingRequestInfo'
              example:
              - url: https://dataforseo.com/blog/a-versatile-alternative-to-google-trends-exploring-the-power-of-dataforseo-trends-api
                id: 11161551-1535-0216-0000-500b3f307f92
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageContentParsingResponseInfo'
      security:
      - basicAuth: []
      summary: Content parsing
      x-summary-source: derived
  /v3/on_page/content_parsing/live:
    post:
      tags:
      - OnPage
      description: 'This endpoint allows parsing the content on any page you specify and will return the structured content of the target page, including link URLs, anchors, headings, and textual content.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/content_parsing/live/?bash'''
      operationId: ContentParsingLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageContentParsingLiveRequestInfo'
              example:
              - url: https://dataforseo.com/blog/a-versatile-alternative-to-google-trends-exploring-the-power-of-dataforseo-trends-api
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageContentParsingLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Content parsing live
      x-summary-source: derived
  /v3/on_page/instant_pages:
    post:
      tags:
      - OnPage
      description: 'Using this function you will get page-specific data with detailed information on how well a particular page is optimized for organic search.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/instant_pages/?bash'''
      operationId: InstantPages
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageInstantPagesRequestInfo'
              example:
              - url: https://dataforseo.com/blog
                enable_javascript: true
                custom_js: meta = {}; meta.url = document.URL; meta;
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageInstantPagesResponseInfo'
      security:
      - basicAuth: []
      summary: Instant pages
      x-summary-source: derived
  /v3/on_page/lighthouse/languages:
    get:
      tags:
      - OnPage
      description: 'You will receive the list of languages by calling this API.


        As a response of the API server, you will receive JSON-encoded data containing a tasks array with the information specific to the set tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/lighthouse/languages/?bash'''
      operationId: LighthouseLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Lighthouse languages
      x-summary-source: derived
  /v3/on_page/lighthouse/audits:
    get:
      tags:
      - OnPage
      description: 'The OnPage Lighthouse API is based on Google’s open-source Lighthouse project and provides data on the quality of web pages.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/lighthouse/audits/?bash'''
      operationId: LighthouseAudits
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseAuditsResponseInfo'
      security:
      - basicAuth: []
      summary: Lighthouse audits
      x-summary-source: derived
  /v3/on_page/lighthouse/versions:
    get:
      tags:
      - OnPage
      description: 'OnPage Lighthouse API is based on Google’s open-source Lighthouse project and provides data on the quality of web pages.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/lighthouse/versions/?bash'''
      operationId: LighthouseVersions
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseVersionsResponseInfo'
      security:
      - basicAuth: []
      summary: Lighthouse versions
      x-summary-source: derived
  /v3/on_page/lighthouse/task_post:
    post:
      tags:
      - OnPage
      description: 'The OnPage Lighthouse API is based on Google’s open-source Lighthouse project for measuring the quality of web pages and web apps.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/lighthouse/task_post/?bash'''
      operationId: LighthouseTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseTaskPostRequestInfo'
              example:
              - url: https://dataforseo.com
                for_mobile: true
                tag: some_string_123
                pingback_url: https://your-server.com/pingscript?id=$id&tag=$tag
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Lighthouse task post
      x-summary-source: derived
  /v3/on_page/lighthouse/tasks_ready:
    get:
      tags:
      - OnPage
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/lighthouse/tasks_ready/?bash'''
      operationId: LighthouseTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Lighthouse tasks ready
      x-summary-source: derived
  /v3/on_page/lighthouse/task_get/json/{id}:
    get:
      tags:
      - OnPage
      description: 'The OnPage Lighthouse API is based on Google’s open-source Lighthouse project for measuring the quality of web pages and web apps. This endpoint will provide you with the results of Lighthouse Audit. Use the id received in the response of your Task POST request to get the results. The response will include data about all categories and audits specified in the Task POST. By default, the response will include all available data about the webpage including its performance, accessibility, progressive web apps, SEO, and compliance with best practices.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/lighthouse/task_get/json/?bash'''
      operationId: LighthouseTaskGetJson
      parameters:
      - name: id
        in: path
        description: 'task identifier

          required field

          you can get this ID in the response of the Task POST endpoint

          example:

          “07131248-1535-0216-1000-17384017ad04”'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseTaskGetJsonResponseInfo'
      security:
      - basicAuth: []
      summary: Lighthouse task get json
      x-summary-source: derived
  /v3/on_page/lighthouse/live/json:
    post:
      tags:
      - OnPage
      description: 'The OnPage Lighthouse API is based on Google’s open-source Lighthouse project for measuring the quality of web pages and web apps.

        for more info please visit ''https://docs.dataforseo.com/v3/on_page/lighthouse/live/json/?bash'''
      operationId: LighthouseLiveJson
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseLiveJsonRequestInfo'
              example:
              - url: https://dataforseo.com
                for_mobile: true
                tag: some_string_123
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageLighthouseLiveJsonResponseInfo'
      security:
      - basicAuth: []
      summary: Lighthouse live json
      x-summary-source: derived
components:
  schemas:
    MessageInfo:
      type: object
      properties:
        level:
          type:
          - string
          - 'null'
          description: 'level of error

            can take the following values: fatal, error, warning, info'
        message:
          type:
          - string
          - 'null'
          description: 'message associated with an error

            message providing the details of the detected error'
    OnPageHtmlResourceItem:
      type: object
      allOf:
      - type:
        - object
        - 'null'
        oneOf:
        - $ref: '#/components/schemas/BaseOnPageResourceItem'
      - type: object
        properties:
          meta:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/PageMetaInfo'
            properties:
              social_media_tags:
                type:
                - object
                - 'null'
                additionalProperties:
                  type:
                  - string
                  - 'null'
              broken_html:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/OnPageResourceIssueInfo'
                description: resource errors and warnings
            description: 'page properties

              the value depends on the resource_type'
          page_timing:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/PageTiming'
            description: object of page load metrics
          onpage_score:
            type:
            - number
            - 'null'
            description: 'shows how page is optimized on a 100-point scale

              this field shows how page is optimized considering critical on-page issues and warnings detected;

              100 is the highest possible score that means the page does not have any critical on-page issues and important warnings;

              learn more about how the metric is calculated in this help center article'
          total_dom_size:
            type:
            - integer
            - 'null'
            description: total DOM size of a page
            format: int64
          custom_js_response:
            type:
            - object
            - 'null'
            description: 'the result of executing a specified JS script

              note that you should specify a custom_js field when setting a task to receive this data and the field type and its value will totally depend on the script you specified;

              you can also filter the results by this value specifying filters in the following way:

              ["custom_js_response.url", "like", "pixel"]'
          custom_js_client_exception:
            type:
            - string
            - 'null'
            description: 'error when executing a custom js

              if the error occurred when executing the script you specified in the custom_js field, the error message would be displayed here'
          broken_resources:
            type:
            - boolean
            - 'null'
            description: indicates whether a page contains broken resources
          broken_links:
            type:
            - boolean
            - 'null'
            description: indicates whether a page contains broken links
          duplicate_title:
            type:
            - boolean
            - 'null'
            description: indicates whether a page has duplicate title tags
          duplicate_description:
            type:
            - boolean
            - 'null'
            description: indicates whether a page has a duplicate description
          duplicate_content:
            type:
            - boolean
            - 'null'
            description: indicates whether a page has duplicate content
          click_depth:
            type:
            - integer
            - 'null'
            description: 'number of clicks it takes to get to the page

              indicates the number of clicks from the homepage needed before landing at the target page'
          is_resource:
            type:
            - boolean
            - 'null'
            description: indicates whether a page is a single resource
          url_length:
            type:
            - integer
            - 'null'
            description: page URL length in characters
          relative_url_length:
            type:
            - integer
            - 'null'
            description: relative URL length in characters
    OnPageMicrodataTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageMicrodataResultInfo'
            description: array of results
    PageContentInfo:
      type: object
      properties:
        header:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/PageSectionContentInfo'
          description: content of the header of the table
        footer:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/PageSectionContentInfo'
          description: content of the footer of the table
        main_topic:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/TopicInfo'
          description: 'main topic on the page

            you can find more information about topic priority calculation in this help center article'
        secondary_topic:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/TopicInfo'
          description: 'secondary topic on the page

            you can find more information about topic priority calculation in this help center article'
        ratings:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/ContentRatingInfo'
          description: contains objects with rating information for the products displayed on the page
        offers:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/ContentOfferInfo'
          description: 'array of products displayed on the page

            contains objects with information on products displayed on the page'
        comments:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/ContentCommentInfo'
          description: 'array of comments displayed on the page

            contains objects with information on comments related to displayed products'
        contacts:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/Contacts'
          description: 'contact information

            contains contact information displayed on the page'
    OnPageTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageTaskPostTaskInfo'
            description: array of tasks
    OnPageDuplicateTagsRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: 'ID of the task

            required field

            you can get this ID in the response of the Task POST endpoint

            example:

            “07131248-1535-0216-1000-17384017ad04”'
        type:
          type: string
          description: type of element
        accumulator:
          type:
          - string
          - 'null'
          description: 'tag value

            optional field

            specify a title or description here if you want to receive a list of duplicate pages that contains this tag'
        limit:
          type:
          - integer
          - 'null'
          description: 'the maximum number of returned pages

            optional field

            default value: 100

            maximum value: 1000'
        offset:
          type:
          - integer
          - 'null'
          description: 'offset in the results array of returned pages

            optional field

            default value: 0

            if you specify the 10 value, the first ten pages in the results array will be omitted and the data will be provided for the successive pages'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
      example:
      - id: 07281559-0695-0216-0000-c269be8b7592
        type: duplicate_description
        limit: 10
    OnPageLighthouseLiveJsonTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              additionalProperties:
                type:
                - object
                - 'null'
            description: 'results of Lighthouse audit

              this array will include data according to the parameters you specified when setting a task;

              all fields and their descriptions are available in the official documentation by this link.'
    OnPageAvailableFiltersResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageAvailableFiltersTaskInfo'
    OnPageRedirectChainsTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageRedirectChainsResultInfo'
            description: array of results
    PageMetaInfo:
      type: object
      properties:
        title:
          type:
          - string
          - 'null'
          description: page title
        charset:
          type:
          - integer
          - 'null'
          description: 'code page

            example: 65001'
        follow:
          type:
          - boolean
          - 'null'
          description: 'indicates whether a page’s ‘meta robots’ allows crawlers to follow the links on the page

            if false, the page’s ‘meta robots’ tag contains “nofollow” parameter instructing crawlers not to follow the links on the page'
        generator:
          type:
          - string
          - 'null'
          description: meta tag generator
        htags:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - array
            - 'null'
            items:
              type: string
          description: HTML header tags
        description:
          type:
          - string
          - 'null'
          description: content of the meta description tag
        favicon:
          type:
          - string
          - 'null'
          description: favicon of the page
        meta_keywords:
          type:
          - string
          - 'null'
          description: content of the keywords meta tag
        canonical:
          type:
          - string
          - 'null'
          description: canonical page
        internal_links_count:
          type:
          - integer
          - 'null'
          description: number of internal links on the page
          format: int64
        external_links_count:
          type:
          - integer
          - 'null'
          description: number of external links on the page
          format: int64
        inbound_links_count:
          type:
          - integer
          - 'null'
          description: number of internal links pointing at the page
          format: int64
        images_count:
          type:
          - integer
          - 'null'
          description: number of images on the page
          format: int64
        images_size:
          type:
          - integer
          - 'null'
          description: total size of images on the page measured in bytes
        scripts_count:
          type:
          - integer
          - 'null'
          description: number of scripts on the page
          format: int64
        scripts_size:
          type:
          - integer
          - 'null'
          description: total size of scripts on the page measured in bytes
        stylesheets_count:
          type:
          - integer
          - 'null'
          description: number of stylesheets on the page
          format: int64
        stylesheets_size:
          type:
          - integer
          - 'null'
          description: total size of stylesheets on the page measured in bytes
        title_length:
          type:
          - integer
          - 'null'
          description: length of the title tag in characters
        description_length:
          type:
          - integer
          - 'null'
          description: length of the description tag in characters
        render_blocking_scripts_count:
          type:
          - integer
          - 'null'
          description: number of scripts on the page that block page rendering
          format: int64
        render_blocking_stylesheets_count:
          type:
          - integer
          - 'null'
          description: number of CSS styles on the page that block page rendering
          format: int64
        cumulative_layout_shift:
          type:
          - number
          - 'null'
          description: 'Core Web Vitals metric measuring the layout stability of the page

            measures the sum total of all individual layout shift scores for every unexpected layout shift that occurs during the entire lifespan of the page. Learn more.'
        meta_title:
          type:
          - string
          - 'null'
          description: 'meta title of the page

            meta tag in the head section of an HTML document that defines the title of a page'
        content:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/HtmlContentInfo'
          description: overall information about content of the page
        deprecated_tags:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: deprecated tags on the page
        duplicate_meta_tags:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: duplicate meta tags on the page
        spell:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/HunspellInfo'
          description: 'spellcheck

            hunspell spellcheck errors'
        social_media_tags:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
          description: 'object of social media tags found on the page

            contains social media tags and their content

            supported tags include but are not limited to Open Graph and Twitter card'
        broken_html:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/OnPageResourceIssueInfo'
          description: resource errors and warnings
    OnPageAvailableFiltersResultInfo:
      type: object
      properties:
        resources:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        pages:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        non_indexable:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        links:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
            description: type of element
        pages_by_resource:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        redirect_chains:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        keyword_density:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        invalid_resources:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
    HunspellMisspelledInfo:
      type: object
      properties:
        word:
          type:
          - string
          - 'null'
          description: misspelled word
    OnPageDuplicateTagsTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageDuplicateTagsResultInfo'
            description: array of results
    SectionContentItemInfo:
      type: object
      properties:
        text:
          type:
          - string
          - 'null'
          description: 'secondary content on the page

            you can find more information about content priority calculation in this help center article'
        url:
          type:
          - string
          - 'null'
          description: 'page URL.

            displayed in case the text is a link anchor'
        urls:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/ContentUrlInfo'
          description: contains other URLs and anchors found in the content element
    OnPagePageScreenshotResultInfo:
      type: object
      properties:
        crawl_progress:
          type:
          - string
          - 'null'
          description: 'status of the crawling session

            possible values: in_progress, finished'
        error_message:
          type:
          - string
          - 'null'
          description: 'error message

            if the url you indicated returns a 404 status code or is not a valid URL, you will obtain "error_message":"Screenshot is empty"

            if no error is encountered, the value will be null'
        items_count:
          type:
          - integer
          - 'null'
          description: number of items in the results array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/ScreenshotItem'
          description: items array
    OnPageLighthouseVersionsResultInfo:
      type: object
      properties:
        availible_versions:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/AvailibleVersions'
    OnPagePagesResultInfo:
      type: object
      properties:
        crawl_progress:
          type:
          - string
          - 'null'
          description: 'status of the crawling session

            possible values: in_progress, finished'
        crawl_status:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
        search_after_token:
          type:
          - string
          - 'null'
        current_offset:
          type:
          - integer
          - 'null'
        total_items_count:
          type:
          - integer
          - 'null'
          description: total number of relevant items in the database
          format: int64
        items_count:
          type:
          - integer
          - 'null'
          description: number of items in the results array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/BaseOnPageResourceItem'
          description: items array
    OnPagePageScreenshotTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPagePageScreenshotResultInfo'
            description: array of results
    OnPagePageScreenshotResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPagePageScreenshotTaskInfo'
            description: array of tasks
    OnPageRedirectChainsResultInfo:
      type: object
      properties:
        crawl_progress:
          type:
          - string
          - 'null'
          description: 'status of the crawling session

            possible values: in_progress, finished'
        crawl_status:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
        total_items_count:
          type:
          - integer
          - 'null'
          description: total number of relevant items in the database
          format: int64
        items_count:
          type:
          - integer
          - 'null'
          description: number of items in the results array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/OnPageRedirectChainsItem'
          description: items array
    OnPageNonIndexableItem:
      type: object
      properties:
        reason:
          type:
          - string
          - 'null'
          description: 'the reason why the page is non-indexable

            can take the following values: robots_txt, meta_tag, http_header, attribute, too_many_redirects'
        url:
          type:
          - string
          - 'null'
          description: url of the non-indexable page
    OnPageLighthouseTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageLighthouseTasksReadyTaskInfo'
            description: array of tasks
    TableContentItemInfo:
      type: object
      properties:
        row_cells:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/RowCellInfo'
          description: content of the row cells of the header
    OnPageIdListResultInfo:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: id of the task
        url:
          type:
          - string
          - 'null'
          description: 'URL of the task

            URL you used for making an API call'
        datetime_posted:
          type:
          - string
          - 'null'
          description: 'date and time when the task was made

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2023-01-15 12:57:46 +00:00'
        datetime_done:
          type:
          - string
          - 'null'
          description: 'date and time when the task was completed

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2023-01-15 12:57:46 +00:00'
        status:
          type:
          - string
          - 'null'
          description: 'informational message of the task

            you can find the full list of general informational messages here'
        cost:
          type:
          - number
          - 'null'
          description: cost of the task, USD
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - object
            - 'null'
          description: contains parameters you specified in the POST request
    DuplicatePageInfo:
      type: object
      properties:
        similarity:
          type:
          - integer
          - 'null'
          description: 'content similarity score

            by default, the content is considered duplicate if the value is greater than or equals 6

            can take values from 0 to 10'
        page:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/OnPageHtmlResourceItem'
          description: information about the page with duplicate content
    OnPageNonIndexableRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: 'ID of the task

            required field

            you can get this ID in the response of the Task POST endpoint

            example:

            “07131248-1535-0216-1000-17384017ad04”'
        limit:
          type:
          - integer
          - 'null'
          description: 'the maximum number of returned pages

            optional field

            default value: 100

            maximum value: 1000'
        offset:
          type:
          - integer
          - 'null'
          description: 'offset in the results array of returned pages

            optional field

            default value: 0

            if you specify the 10 value, the first ten pages in the results array will be omitted and the data will be provided for the successive pages'
        filters:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, <, <=, >, >=, =, <>, in, not_in, like, not_like

            you can use the % operator with like and not_like to match any string of zero or more characters

            example:

            ["reason","=","robots_txt"][["reason","<>","robots_txt"],

            "and",

            ["url","not_like","%/wp-admin/%"]]

            [["url","not_like","%/wp-admin/%"],

            "and",

            [["reason","<>","meta_tag"],"or",["reason","<>","http_header"]]]

            The full list of possible filters is available by this link.'
      example:
      - id: 07281559-0695-0216-0000-c269be8b7592
        filters:
        - - reason
          - '='
          - robots_txt
        - and
        - - url
          - like
          - '%go%'
        limit: 10
    OnPageInstantPagesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageInstantPagesResultInfo'
            description: array of results
    OnPageTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageTasksReadyResultInfo'
            description: array of results
    LastModified:
      type: object
      properties:
        header:
          type:
          - string
          - 'null'
          description: 'date and time when the header was last modified

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00

            if there is no data, the value will be null'
        sitemap:
          type:
          - string
          - 'null'
          description: 'date and time when the sitemap was last modified

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00

            if there is no data, the value will be null'
        meta_tag:
          type:
          - string
          - 'null'
          description: 'date and time when the meta tag was last modified

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00

            if there is no data, the value will be null'
    OnPageErrorsRequestInfo:
      type: object
      properties:
        limit:
          type:
          - integer
          - 'null'
          description: 'the maximum number of returned tasks that responded with an error

            optional field

            default value: 1000

            maximum value: 1000'
        offset:
          type:
          - integer
          - 'null'
          description: 'offset in the results array of returned tasks

            optional field

            default value: 0

            if you specify the 10 value, the first ten tasks in the results array will be omitted and the data will be provided for the successive tasks'
        filtered_function:
          type:
          - string
          - 'null'
          description: 'return tasks with a certain function

            use this field to obtain a list of tasks that returned an error filtered by a certain function

            you can filter the results by the values you receive in the function fields of the API response

            i.e., once you receive unfiltered results, you can call this API again to filter them by function

            example: on_page/task_post, postback_url, pingback_url'
        datetime_from:
          type:
          - string
          - 'null'
          description: 'start time for filtering results

            optional field

            allows filtering results by the datetime parameter within the range of the last 7 days;

            must be specified in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2021-11-15 12:57:46 +00:00'
        datetime_to:
          type:
          - string
          - 'null'
          description: 'finish time for filtering results

            optional field

            allows filtering results by the datetime parameter within the range of the last 7 days;

            must be specified in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2021-11-15 13:57:46 +00:00'
      example:
      - limit: 10
        offset: 0
        filtered_function: pingback_url
    OnPageNonIndexableResultInfo:
      type: object
      properties:
        crawl_progress:
          type:
          - string
          - 'null'
          description: 'status of the crawling session

            possible values: in_progress, finished'
        crawl_status:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
        total_items_count:
          type:
          - integer
          - 'null'
          description: total number of relevant items in the database
          format: int64
        items_count:
          type:
          - integer
          - 'null'
          description: number of items in the results array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/OnPageNonIndexableItem'
          description: items array
    ScreenshotItem:
      type: object
      properties:
        image:
          type:
          - string
          - 'null'
          description: 'screenshot of the requested page

            URL of the page screenshot on the DataForSEO storage

            note: the page screenshot saved on the DataForSEO storage only remains accessible for one day after making the request'
    AvailibleVersions:
      type: object
      properties:
        version:
          type:
          - string
          - 'null'
          description: lighthouse version
        default:
          type:
          - boolean
          - 'null'
          description: 'the version is used by default

            if false, the version is not used by default and should be specified in the corresponding field of the POST request if necessary'
    OnPageLighthouseLiveJsonResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageLighthouseLiveJsonTaskInfo'
            description: array of tasks
    OnPageWaterfallResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageWaterfallTaskInfo'
            description: array of tasks
    OnPageRedirectChainsResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageRedirectChainsTaskInfo'
            description: array of tasks
    RowCellInfo:
      type: object
      properties:
        text:
          type:
          - string
          - 'null'
          description: content of the row cells of the header
        urls:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/ContentUrlInfo'
          description: contains other URLs and anchors found in the content element
        is_header:
          type:
          - boolean
          - 'null'
          description: content of the row cells of the header
    OnPageSummaryTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageSummaryResultInfo'
            description: array of results
    OnPageRawHtmlRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: 'ID of the task

            required field

            you can get this ID in the response of the Task POST endpoint

            example:

            “07131248-1535-0216-1000-17384017ad04”'
        url:
          type: string
          description: 'page url

            required field

            the absolute URL of a page to request HTML

            Note: this field is optional if the task was set using the Instant Pages endpoint'
      example:
      - id: 07281559-0695-0216-0000-c269be8b7592
        url: https://dataforseo.com/apis
    OnPageLighthouseTaskGetJsonTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              additionalProperties:
                type:
                - object
                - 'null'
            description: 'results of Lighthouse audit

              this array will include data according to the parameters specified in the POST request;

              description of the fields in the result array is available in the official documentation'
    OnPageContentParsingRequestInfo:
      type: object
      properties:
        url:
          type: string
          description: 'URL of the content to parse

            required field

            URL of the page to parse

            example:

            https://dataforseo.com/blog/a-versatile-alternative-to-google-trends-exploring-the-power-of-dataforseo-trends-api'
        id:
          type: string
          description: 'ID of the task

            required field

            you can get this ID in the response of the Task POST endpoint

            note: the enable_content_parsing parameter in the POST request must be set to true

            example:

            "07131248-1535-0216-1000-17384017ad04"'
        markdown_view:
          type:
          - boolean
          - 'null'
          description: 'return page content as markdown

            optional field

            if set to true, the markdown-formatted content of the page will be returned in the page_as_markdown field of the response;

            default value: false'
      example:
      - url: https://dataforseo.com/blog/a-versatile-alternative-to-google-trends-exploring-the-power-of-dataforseo-trends-api
        id: 11161551-1535-0216-0000-500b3f307f92
    OnPagePagesByResourceTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPagePagesByResourceResultInfo'
            description: array of results
    OnPageResourcesResultInfo:
      type: object
      properties:
        crawl_progress:
          type:
          - string
          - 'null'
          description: 'status of the crawling session

            possible values: in_progress, finished'
        crawl_status:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
        search_after_token:
          type:
          - string
          - 'null'
        current_offset:
          type:
          - integer
          - 'null'
        total_items_count:
          type:
          - integer
          - 'null'
          description: total number of relevant items crawled
          format: int64
        items_count:
          type:
          - integer
          - 'null'
          description: number of items in the results array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/BaseOnPageResourceItem'
          description: items array
    OnPageContentParsingLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageContentParsingLiveTaskInfo'
            description: array of tasks
    ContentCommentInfo:
      type: object
      properties:
        rating:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/ContentRatingInfo'
          description: 'product’s rating

            contains information about the rating a customer has given to the product'
        title:
          type:
          - string
          - 'null'
          description: title of the customer’s comment
        publish_date:
          type:
          - string
          - 'null'
          description: date when the comment was published
        author:
          type:
          - string
          - 'null'
          description: author of the comment
        have_form:
          type:
          - boolean
          - 'null'
          description: ''
        primary_content:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/SectionContentItemInfo'
          description: 'primary content on the page

            you can find more information about content priority calculation in this help center article'
    OnPageIdListRequestInfo:
      type: object
      properties:
        datetime_from:
          type: string
          description: 'start time for filtering results

            required field

            if include_metadata is set to true, maximum value: a month from current datetime;

            if include_metadata is set to false, maximum value: six months from current datetime;

            must be specified in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2023-01-15 12:57:46 +00:00'
        datetime_to:
          type: string
          description: 'finish time for filtering results

            required field

            maximum value: current datetime;

            must be specified in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2023-01-31 13:57:46 +00:00'
        limit:
          type:
          - integer
          - 'null'
          description: 'the maximum number of returned task IDs

            optional field

            default value: 1000

            maximum value: 1000'
        offset:
          type:
          - integer
          - 'null'
          description: 'offset in the results array of returned task IDs

            optional field

            default value: 0

            if you specify the 10 value, the first ten tasks in the results array will be omitted'
        sort:
          type:
          - string
          - 'null'
          description: 'sorting by task execution time

            optional field

            possible values: "asc", "desc"

            default value: "asc"'
        include_metadata:
          type:
          - boolean
          - 'null'
          description: 'include task metadata in the respond

            optional field

            default value: false'
      example:
      - datetime_from: '2026-04-12 04:39:39 +00:00'
        datetime_to: '2026-04-14 04:39:39 +00:00'
        limit: 100
        offset: 0
        sort: desc
        include_metadata: true
    OnPageContentParsingLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageContentParsingLiveResultInfo'
            description: array of results
    OnPageDuplicateContentRequestInfo:
      type: object
      properties:
        id:
          type: string
          description: 'ID of the task

            required field

            you can get this ID in the response of the Task POST endpoint

            example:

            “07131248-1535-0216-1000-17384017ad04”'
        url:
          type: string
          description: 'page URL

            required field

            specify the initial page you want to receive duplicate content for'
        similarity:
          type:
          - integer
          - 'null'
          description: 'content similarity score

            by default, the content is considered duplicate if the value is greater than or equals 6

            you can specify any similarity score in the 0-to-10 range'
        limit:
          type:
          - integer
          - 'null'
          description: 'the maximum number of returned pages

            optional field

            default value: 100

            maximum value: 1000'
        offset:
          type:
          - integer
          - 'null'
          description: 'offset in the results array of returned pages

            optional field

            default value: 0

            if you specify the 10 value, the first ten pages in the results array will be omitted and the data will be provided for the successive pages'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
      example:
      - id: 07281559-0695-0216-0000-c269be8b7592
        url: https://www.etsy.com/
    OnPageDuplicateTagsItem:
      type: object
      properties:
        accumulator:
          type:
          - string
          - 'null'
          description: contains the value of duplicated tag
        total_count:
          type:
          - integer
          - 'null'
          description: total count of duplicate pages
          format: int64
        pages:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/OnPageHtmlResourceItem'
          description: pages with duplicate tags
    OnPageWaterfallResultInfo:
      type: object
      properties:
        crawl_progress:
          type:
          - string
          - 'null'
          description: 'status of the crawling session

            possible values: in_progress, finished'
        crawl_status:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
        items_count:
          type:
          - integer
          - 'null'
          description: number of items in the results array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/OnPageWaterfallItem'
          description: items array
    OnPageLighthouseLanguagesResultInfo:
      type: object
      properties:
        language_name:
          type:
          - string
          - 'null'
          description: language name
        language_code:
          type:
          - string
          - 'null'
          description: language code according to ISO 639-1
    OnPageTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - object
            - 'null'
            description: 'array of results

              in this case, the value will be null'
    OnPagePagesByResourceResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPagePagesByResourceTaskInfo'
            description: array of tasks
    OnPageLighthouseAuditsResultInfo:
      type: object
      properties:
        audits:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: 'the list of available lighthouse audits

            an array containing the titles of available audits;

            Note: the titles can change depending on if the audit passed or failed and may contain markdown code;

            Note #2: if you’re using the audit that contains a slash (/) in its name, search by the last word after the slash'
    OnPageLighthouseLiveJsonRequestInfo:
      type: object
      properties:
        url:
          type: string
          description: 'target URL

            required field

            target page should be specified with its absolute URL (including http:// or https://)

            example:

            https://dataforseo.com/'
        for_mobile:
          type:
          - boolean
          - 'null'
          description: 'applies mobile emulation

            optional field

            if set to true, Lighthouse will use mobile device and screen emulation to test the page against mobile environment

            if set to false, the results will be provided for desktop

            default value: false'
        categories:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'categories of Lighthouse audits

            optional field

            each category is a collection of audits and audit groups that applies weighting and scoring to the section (see official definition)

            if you ignore this field, we will return data for all categories unless you specify audits

            use this field to get data for specific categories you indicate here

            possible values:

            seo, performance, best_practices, accessibility'
        audits:
          type:
          - array
          - 'null'
          items:
            type: string
          description: "Lighthouse audits\noptional field\naudits are individual tests Lighthouse runs for each specific feature/optimization/metric to produce a numeric score (see official definition);  \nif you ignore this field, we will return data for all audits;\nuse this field to get data for specific audits you indicate here;\nNote: that some audits do not belong to a specific category and are stand-alone page quality measurements;\nin general, there can be several use cases:\n1. if you ignore categories, you can use this field to get data for the specified audits only\nfor example, if you ignore \"categories\" and specify \"audits\": [\"metrics/cumulative-layout-shift\",\"metrics/largest-contentful-paint\",\"metrics/total-blocking-time\"], you will get data only for these audits\n2. if you specify a category, you can use this field to additionally receive audits that do not belong to the category(-ies) you specified\nfor example, if you specify \"categories\": [\"seo\"] and \"audits\": [\"metrics/cumulative-layout-shift\",\"metrics/largest-contentful-paint\",\"metrics/total-blocking-time\"], you will get only these audits under “performance” and all audits under “seo”\nyou can get the full list of possible audits here"
        version:
          type:
          - string
          - 'null'
          description: 'lighthouse version

            optional field

            you can obtain the results specific to a certain Lighthouse version by specifying its number

            the list of available versions is available through the Lighthouse Versions endpoint'
        language_name:
          type:
          - string
          - 'null'
          description: 'lighthouse language name

            optional field

            you can receive the list of available languages of the search engine with their language_name by making a separate request to https://api.dataforseo.com/v3/on_page/lighthouse/languages

            default value:

            English'
        language_code:
          type:
          - string
          - 'null'
          description: 'lighthouse language code

            optional field

            you can receive the list of available languages of the search engine with their language_code by making a separate request to https://api.dataforseo.com/v3/on_page/lighthouse/languages

            default value:

            en'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
      example:
      - url: https://dataforseo.com
        for_mobile: true
        tag: some_string_123
    ContentParsingElement:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: type of element
        fetch_time:
          type:
          - string
          - 'null'
          description: 'date and time when the content was fethced

            example:

            "2022-11-01 10:02:52 +00:00"'
        status_code:
          type:
          - integer
          - 'null'
          description: status code of the page
        page_content:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/PageContentInfo'
          description: parsed content of the page
        page_as_markdown:
          type:
          - string
          - 'null'
          description: 'page content in the markdown format

            page content in the text-to-HTML markdown format

            specify markdown_view as true in the request to return the value'
    BaseResponseTaskInfo:
      properties:
        id:
          type:
          - string
          - 'null'
          description: 'task identifier

            unique task identifier in our system in the UUID format'
        status_code:
          type:
          - integer
          - 'null'
          description: 'status code of the task

            generated by DataForSEO, can be within the following range: 10000-60000

            you can find the full list of the response codes here'
        status_message:
          type:
          - string
          - 'null'
          description: 'informational message of the task

            you can find the full list of general informational messages here'
        time:
          type:
          - string
          - 'null'
          description: execution time, seconds
        cost:
          type:
          - number
          - 'null'
          description: total tasks cost, USD
          format: double
        result_count:
          type:
          - integer
          - 'null'
          description: number of elements in the result array
          format: int64
        path:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: URL path
        data:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - object
            - 'null'
          description: contains the same parameters that you specified in the POST request
    OnPageLinksResultInfo:
      type: object
      properties:
        crawl_progress:
          type:
          - string
          - 'null'
          description: 'status of the crawling session

            possible values: in_progress, finished'
        crawl_status:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/CrawlStatusInfo'
          description: details of the crawling session
        search_after_token:
          type:
          - string
          - 'null'
        current_offset:
          type:
          - integer
          - 'null'
        total_items_count:
          type:
          - integer
          - 'null'
          description: total number of relevant items in the database
          format: int64
        items_count:
          type:
          - integer
          - 'null'
          description: number of items in the results array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/BaseOnPageLinkItem'
          description: items array
    OnPageSummaryResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageSummaryTaskInfo'
            description: array of tasks
    OnPageContentParsingTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/OnPageContentParsingResultInfo'
            description: array of results
    OnPageInstantPagesRequestInfo:
      type: object
      properties:
        url:
          type: string
          description: 'target page url

            required field

            absolute URL of the target page;

            Note #1: results will be returned for the specified URL only;

[...]
