openapi: 3.0.1
info:
  title: DataForSEO AiOptimization BusinessData API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: BusinessData
paths:
  /v3/business_data/id_list:
    post:
      tags:
      - BusinessData
      description: 'This endpoint is designed to provide you with a list of IDs and metadata for all Business Data tasks created within the specified time period, including both successful and uncompleted tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/id_list/?bash'''
      operationId: BusinessDataIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataIdListRequestInfo'
                nullable: true
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataIdListResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/errors:
    post:
      tags:
      - BusinessData
      description: 'By calling this endpoint you will receive information about the Business Data API tasks that returned an error within the past 7 days.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/errors/?bash'''
      operationId: BusinessDataErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataErrorsRequestInfo'
                nullable: true
              example:
              - limit: 10
                offset: 0
                filtered_function: pingback_url
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataErrorsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/business_listings/locations:
    get:
      tags:
      - BusinessData
      description: 'You will receive the list of locations by this API call. You can also download the full list of supported locations in the CSV format (last updated 2026-04-06).

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/business_listings/locations/?bash'''
      operationId: BusinessListingsLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/business_listings/categories:
    get:
      tags:
      - BusinessData
      description: 'This endpoint will provide you with the list of top categories by business count.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/business_listings/categories/?bash'''
      operationId: BusinessListingsCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsCategoriesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/business_listings/available_filters:
    get:
      tags:
      - BusinessData
      description: 'Here you will find all the necessary information about filters that can be used with Business Listings API.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/business_listings/filters/?bash'''
      operationId: BusinessListingsAvailableFilters
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsAvailableFiltersResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/business_listings/search/live:
    post:
      tags:
      - BusinessData
      description: 'Business Listings Search API provides results containing information about business entities listed on Google Maps in the specified categories. You will receive the address, contacts, rating, working hours, and other relevant data. The provided results are specific to the selected location (see the List of Locations) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/business_listings/search/live/?bash'''
      operationId: BusinessListingsSearchLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsSearchLiveRequestInfo'
                nullable: true
              example:
              - categories:
                - pizza_restaurant
                description: pizza
                title: pizza
                is_claimed: true
                location_coordinate: 53.476225,-2.243572,10
                order_by:
                - rating.value,desc
                filters:
                - - rating.value
                  - '>'
                  - 3
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsSearchLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/business_listings/categories_aggregation/live:
    post:
      tags:
      - BusinessData
      description: 'Business Listings Categories Aggregation endpoint provides results containing information about groups of related categories along with the number of entities in each category. The provided results are specific to the specified parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/business_listings/categories_aggregation/live/?bash'''
      operationId: BusinessListingsCategoriesAggregationLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsCategoriesAggregationLiveRequestInfo'
                nullable: true
              example:
              - categories:
                - pizza_restaurant
                description: pizza
                title: pizza
                is_claimed: true
                location_coordinate: 53.476225,-2.243572,10
                initial_dataset_filters:
                - - rating.value
                  - '>'
                  - 3
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsCategoriesAggregationLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/locations:
    get:
      tags:
      - BusinessData
      description: 'You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/locations/?bash'''
      operationId: BusinessDataGoogleLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/locations/{country}:
    get:
      tags:
      - BusinessData
      description: 'You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/locations/?bash'''
      operationId: BusinessDataGoogleLocationsCountry
      parameters:
      - name: country
        in: path
        description: 'country ISO code

          optional field

          specify the ISO code if you want to filter the list of locations by country

          example:

          us'
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleLocationsCountryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/languages:
    get:
      tags:
      - BusinessData
      description: 'You will receive the list of languages by calling this API.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/languages/?bash'''
      operationId: BusinessDataGoogleLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/my_business_info/task_post:
    post:
      tags:
      - BusinessData
      description: 'Business Data API provides results containing information about specific business entity from Google. The provided results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/my_business_info/task_post/?bash'''
      operationId: GoogleMyBusinessInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: New York,New York,United States
                keyword: RustyBrick, Inc.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/my_business_info/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/my_business_info/tasks_ready/?bash'''
      operationId: GoogleMyBusinessInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/my_business_info/tasks_ready/?bash'''
      operationId: BusinessDataTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/my_business_info/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: for more info please visit 'https://docs.dataforseo.com/v3/business_data/google/my_business_info/task_get/?bash'
      operationId: GoogleMyBusinessInfoTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/my_business_info/live:
    post:
      tags:
      - BusinessData
      description: 'Business Data API provides results containing information about specific business entity from Google. The provided results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/my_business_info/live/?bash'''
      operationId: GoogleMyBusinessInfoLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoLiveRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: New York,New York,United States
                keyword: RustyBrick, Inc.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/my_business_updates/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoints provides the latest updates of a specific business entity from Google SERP. The provided results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/my_business_updates/task_post/?bash'''
      operationId: GoogleMyBusinessUpdatesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessUpdatesTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: New York,New York,United States
                keyword: RustyBrick, Inc.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessUpdatesTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/my_business_updates/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/my_business_updates/tasks_ready/?bash'''
      operationId: GoogleMyBusinessUpdatesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessUpdatesTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/my_business_updates/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: for more info please visit 'https://docs.dataforseo.com/v3/business_data/google/my_business_updates/task_get/?bash'
      operationId: GoogleMyBusinessUpdatesTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessUpdatesTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_searches/task_post:
    post:
      tags:
      - BusinessData
      description: 'Hotel Searches API provides results containing information about different hotels listed on Google. The provided results are specific to the keyword, selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/hotel_searches/task_post/?bash'''
      operationId: GoogleHotelSearchesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: New York,New York,United States
                keyword: cheap hotel
                check_in: '2026-05-15'
                check_out: '2026-05-16'
                currency: USD
                adults: 2
                children:
                - 14
                sort_by: highest_rating
                priority: 2
                tag: example
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_searches/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/hotel_searches/tasks_ready/?bash'''
      operationId: GoogleHotelSearchesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_searches/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: for more info please visit 'https://docs.dataforseo.com/v3/business_data/google/hotel_searches/task_get/?bash'
      operationId: GoogleHotelSearchesTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_searches/live:
    post:
      tags:
      - BusinessData
      description: 'Hotel Searches API provides results containing information about different hotels listed on Google Hotels. The provided results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/hotel_searches/live/?bash'''
      operationId: GoogleHotelSearchesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesLiveRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: New York,New York,United States
                keyword: cheap hotel
                check_in: '2026-05-15'
                check_out: '2026-05-16'
                currency: USD
                adults: 2
                children:
                - 14
                sort_by: highest_rating
                tag: example
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_info/task_post:
    post:
      tags:
      - BusinessData
      description: 'Google Hotel Info will provide you with structured data available for a specific hotel entity on the Google Hotels platform: such as service description, location details, rating, amenities, reviews, images, prices, and more.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/hotel_info/task_post/?bash'''
      operationId: GoogleHotelInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: New York,New York,United States
                hotel_identifier: ChYIq6SB--i6p6cpGgovbS8wN2s5ODZfEAE
                tag: some_string_123
                postback_url: https://your-server.com/postbackscript.php
                postback_data: advanced
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_info/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/hotel_info/tasks_ready/?bash'''
      operationId: GoogleHotelInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_info/task_get/advanced/{id}:
    get:
      tags:
      - BusinessData
      description: for more info please visit 'https://docs.dataforseo.com/v3/business_data/google/hotel_info/task_get/advanced/?bash'
      operationId: GoogleHotelInfoTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_info/task_get/html/{id}:
    get:
      tags:
      - BusinessData
      description: for more info please visit 'https://docs.dataforseo.com/v3/business_data/google/hotel_info/task_get/html/?bash'
      operationId: GoogleHotelInfoTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_info/live/advanced:
    post:
      tags:
      - BusinessData
      description: 'Google Hotel Info will provide you with structured data available for a specific hotel entity on the Google Hotels platform: such as service description, location details, rating, amenities, reviews, images, prices, and more.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/hotel_info/live/advanced/?bash'''
      operationId: GoogleHotelInfoLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoLiveAdvancedRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: New York,New York,United States
                hotel_identifier: CgoI-KWyzenM_MV3EAE
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoLiveAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/hotel_info/live/html:
    post:
      tags:
      - BusinessData
      description: 'Google Hotel Info will provide you with unstructured HTML data available for a specific hotel entity on the Google Hotels platform: such as service description, location details, rating, amenities, reviews, images, prices, and more.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/hotel_info/live/html/?bash'''
      operationId: GoogleHotelInfoLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoLiveHtmlRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: New York,New York,United States
                hotel_identifier: ChYIq6SB--i6p6cpGgovbS8wN2s5ODZfEAE
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoLiveHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/reviews/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoint provides results from the “Reviews” element of Google SERPs. The results are specific to the selected location (see the List of Locations) and language (see the List of Languages) parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/reviews/task_post/?bash'''
      operationId: GoogleReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleReviewsTaskPostRequestInfo'
                nullable: true
              example:
              - location_name: London,England,United Kingdom
                language_name: English
                keyword: hedonism wines
                depth: 50
                sort_by: highest_rating
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleReviewsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/reviews/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/reviews/tasks_ready/?bash'''
      operationId: GoogleReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleReviewsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/reviews/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: 'The returned results are specific to the indicated local establishment name, search engine, location and language parameters. We emulate set location and search engine with the highest accuracy so that the results you receive will match the actual search results for the specified parameters at the time of task setting. You can always check the returned results accessing the check_url in the Incognito mode to make sure the received data is entirely relevant. Note that user preferences, search history, and other personalized search factors are ignored by our system and thus would not be reflected in the returned results.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/reviews/task_get/?bash'''
      operationId: GoogleReviewsTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleReviewsTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/extended_reviews/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoint provides results from the “Reviews” element of Google SERPs, including not only Google user reviews but also reviews from other reputable sources (e.g., TripAdvisor, Yelp, Trustpilot). The results are specific to the selected location (see the List of Locations) and language (see the List of Languages) parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/extended_reviews/task_post/?bash'''
      operationId: GoogleExtendedReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleExtendedReviewsTaskPostRequestInfo'
                nullable: true
              example:
              - location_name: London,England,United Kingdom
                language_name: english
                cid: '17626775537598922320'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleExtendedReviewsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/extended_reviews/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/extended_reviews/tasks_ready/?bash'''
      operationId: GoogleExtendedReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleExtendedReviewsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/extended_reviews/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: 'The returned results are specific to the indicated local establishment name, search engine, location and language parameters. We emulate set location and search engine with the highest accuracy so that the results you receive will match the actual search results for the specified parameters at the time of task setting. You can always check the returned results accessing the check_url in the Incognito mode to make sure the received data is entirely relevant. Note that user preferences, search history, and other personalized search factors are ignored by our system and thus would not be reflected in the returned results.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/extended_reviews/task_get/?bash'''
      operationId: GoogleExtendedReviewsTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleExtendedReviewsTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/questions_and_answers/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoint will provide you with a detailed overview of questions and answers associated with a specific business entity listed on Google My Business. By submitting a request to this endpoint, you can access comprehensive data on the inquiries and responses related to a particular business, including the full text of the questions and answers, as well as metadata such as timestamps, user information.

         

        The provided results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

         

        Your account will be billed for every 20 questions, the maximum number of answers returned for each question is 5.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/questions_and_answers/task_post/?bash'''
      operationId: GoogleQuestionsAndAnswersTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: Los Angeles,California,United States
                keyword: The Last Bookstore
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/questions_and_answers/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/questions_and_answers/tasks_ready/?bash'''
      operationId: GoogleQuestionsAndAnswersTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/questions_and_answers/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: for more info please visit 'https://docs.dataforseo.com/v3/business_data/google/questions_and_answers/task_get/?bash'
      operationId: GoogleQuestionsAndAnswersTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/google/questions_and_answers/live:
    post:
      tags:
      - BusinessData
      description: 'This endpoint will provide you with a detailed overview of questions and answers associated with a specific business entity listed on Google My Business. By submitting a request to this endpoint, you can access comprehensive data on the inquiries and responses related to a particular business, including the full text of the questions and answers, as well as metadata such as timestamps, user information.

         

        The provided results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

         

        Your account will be billed for every 20 questions, the maximum number of answers returned for each question is 5.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/questions_and_answers/live/?bash'''
      operationId: GoogleQuestionsAndAnswersLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersLiveRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_name: Los Angeles,California,United States
                keyword: The Last Bookstore
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/trustpilot/search/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoint provides a list of business profiles listed on the Trustpilot platform. The returned results are relevant to the specified keyword.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/trustpilot/search/task_post/?bash'''
      operationId: TrustpilotSearchTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotSearchTaskPostRequestInfo'
                nullable: true
              example:
              - keyword: pizza restaurant
                depth: 20
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotSearchTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/trustpilot/search/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/trustpilot/search/tasks_ready/?bash'''
      operationId: TrustpilotSearchTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotSearchTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/trustpilot/search/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: 'This endpoint provides a list of business profiles listed on the Trustpilot platform. The returned results are relevant to the keyword specified in a POST request. We emulate set parameters with the highest accuracy so that the results you receive match the actual search results for the specified parameters at the time of task setting. You can always check the returned results accessing the check_url in the Incognito mode to make sure the received data is entirely relevant. Note that user preferences, search history, and other personalized search factors are ignored by our system and thus will not be reflected in the returned results.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/trustpilot/search/task_get/?bash'''
      operationId: TrustpilotSearchTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotSearchTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/trustpilot/reviews/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoint provides reviews published on the Trustpilot platform for the local establishment specified in the domain field.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/trustpilot/reviews/task_post/?bash'''
      operationId: TrustpilotReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotReviewsTaskPostRequestInfo'
                nullable: true
              example:
              - domain: www.thepearlsource.com
                depth: 40
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotReviewsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/trustpilot/reviews/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/trustpilot/reviews/tasks_ready/?bash'''
      operationId: TrustpilotReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotReviewsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/trustpilot/reviews/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: 'This endpoint provides reviews published on the Trustpilot platform The returned results are specific to the indicated business entity. We emulate set parameters with the highest accuracy so that the results you receive will match the actual search results for the specified parameters at the time of task setting. You can always check the returned results accessing the check_url in the Incognito mode to make sure the received data is entirely relevant. Note that user preferences, search history, and other personalized search factors are ignored by our system and thus would not be reflected in the returned results.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/trustpilot/reviews/task_get/?bash'''
      operationId: TrustpilotReviewsTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotReviewsTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tripadvisor/locations:
    get:
      tags:
      - BusinessData
      description: 'You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task. Note that supported location types in Tripadvisor Business Data API are City and Region only.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/locations/?bash'''
      operationId: TripadvisorLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tripadvisor/locations/{country}:
    get:
      tags:
      - BusinessData
      description: 'You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task. Note that supported location types in Tripadvisor Business Data API are City and Region only.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/locations/?bash'''
      operationId: TripadvisorLocationsCountry
      parameters:
      - name: country
        in: path
        description: 'country ISO code

          optional field

          specify the ISO code if you want to filter the list of locations by country

          example:

          us'
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorLocationsCountryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tripadvisor/languages:
    get:
      tags:
      - BusinessData
      description: 'You will receive the list of languages by calling this API.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/languages/?bash'''
      operationId: TripadvisorLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tripadvisor/search/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoint provides a list of business profiles listed on the Tripadvisor platform. The returned results are relevant to the specified keyword and the selected location (see the List of Locations).

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/search/task_post/?bash'''
      operationId: TripadvisorSearchTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTaskPostRequestInfo'
                nullable: true
              example:
              - keyword: pizza
                location_code: 1003854
                depth: 30
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tripadvisor/search/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/search/tasks_ready/?bash'''
      operationId: TripadvisorSearchTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tripadvisor/search/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: 'This endpoint will provide you with data on businesses listed on the Tripadvisor platform. The results obtained through this endpoint are specific to the location (see the List of Tripadvisor Locations) and keyword parameters used in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/search/task_get/?bash'''
      operationId: TripadvisorSearchTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tripadvisor/reviews/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoint provides results from the “Reviews” element on the Tripadvisor platform. The results are specific to the URL path or keyword you indicate, and and the selected location (see the List of Locations).

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/reviews/task_post/?bash'''
      operationId: TripadvisorReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorReviewsTaskPostRequestInfo'
                nullable: true
              example:
              - url_path: Hotel_Review-g60763-d23462501-Reviews-Margaritaville_Times_Square-New_York_City_New_York.html
                location_code: 1003854
                pingback_url: https://your-server.com/pingback.php?id=$id&tag=$tag
                tag: some_string_123
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorReviewsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tripadvisor/reviews/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/reviews/tasks_ready/?bash'''
      operationId: TripadvisorReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorReviewsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/tripadvisor/reviews/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: 'This endpoint provides feedback data on businesses listed on the Tripadvisor platform, including their locations, ratings, review content and count. The results are specific to the URL path indicated in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/reviews/task_get/?bash'''
      operationId: TripadvisorReviewsTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorReviewsTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/social_media/pinterest/live:
    post:
      tags:
      - BusinessData
      description: 'Social Media Pinterest API will provide you with data on pins made from the specified URLs. Pins on Pinterest correspond to content saves. For each specified page URL, you will get the number of content saves to Pinterest made using the Pinterest Save Button placed on that page.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/social_media/pinterest/live/?bash'''
      operationId: SocialMediaPinterestLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataSocialMediaPinterestLiveRequestInfo'
                nullable: true
              example:
              - targets:
                - https://www.simplyrecipes.com/recipes/grilled_salmon_with_cucumber_mango_salsa/
                - https://tasty.co/recipe/classic-lasagna
                - https://www.allrecipes.com/recipe/255263/sicilian-roasted-chicken/
                tag: some_string_123
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataSocialMediaPinterestLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/business_data/social_media/reddit/live:
    post:
      tags:
      - BusinessData
      description: 'Social Media Reddit API provides information for each share of the target webpage on Reddit. For each specified Reddit URL, you will get subreddit and author names, permalink, title, and the number of subreddit members.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/social_media/reddit/live/?bash'''
      operationId: SocialMediaRedditLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataSocialMediaRedditLiveRequestInfo'
                nullable: true
              example:
              - targets:
                - https://vk.com/
                - https://ahrefs.com/
                - https://google.com/
                - https://twitter.com/
                - https://reddit.com/
                - https://facebook.com/
                tag: some_string_123
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BusinessDataSocialMediaRedditLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
components:
  schemas:
    BusinessDataGoogleLocationsCountryResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataGoogleLocationsCountryTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BusinessDataGoogleHotelInfoLiveAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoLiveAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BaseResponseTaskInfo:
      properties:
        id:
          type: string
          description: 'task identifier

            unique task identifier in our system in the UUID format'
          nullable: true
        status_code:
          type: integer
          description: 'status code of the task

            generated by DataForSEO, can be within the following range: 10000-60000

            you can find the full list of the response codes here'
          nullable: true
        status_message:
          type: string
          description: 'informational message of the task

            you can find the full list of general informational messages here'
          nullable: true
        time:
          type: string
          description: execution time, seconds
          nullable: true
        cost:
          type: number
          description: total tasks cost, USD
          format: double
          nullable: true
        result_count:
          type: integer
          description: number of elements in the result array
          format: int64
          nullable: true
        path:
          type: array
          items:
            type: string
            nullable: true
          description: URL path
          nullable: true
        data:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: contains the same parameters that you specified in the POST request
          nullable: true
    BusinessDataTripadvisorReviewsTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataTripadvisorReviewsTasksReadyTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BusinessDataGoogleMyBusinessInfoTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BusinessDataTripadvisorSearchTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: object
            description: 'array of results

              in this case, the value will be null'
            nullable: true
    BusinessDataTripadvisorSearchTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BusinessDataTripadvisorSearchTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTasksReadyTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BusinessDataGoogleQuestionsAndAnswersLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersLiveTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BusinessDataTripadvisorReviewsTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataTripadvisorReviewsTaskPostTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BusinessDataSocialMediaRedditLiveResultInfo:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        page_url:
          type: string
          description: 'URL of the page the data is provided for

            corresponding URL you specified in the targets array when setting a task'
          nullable: true
        reddit_reviews:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/RedditReviews'
            nullable: true
          description: reddit reviews for the page_url
          nullable: true
    GoogleBusinessPost:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: 'position within a group of elements with identical type values

            positions of elements with different type values are omitted from rank_group'
          nullable: true
        rank_absolute:
          type: integer
          description: 'absolute rank among all the listed updates

            absolute position among all present elements'
          nullable: true
        position:
          type: string
          description: 'the alignment of the element in SERP

            can take the following values: right'
          nullable: true
        xpath:
          type: string
          description: the XPath of the element
          nullable: true
        author:
          type: string
          description: author of the post
          nullable: true
        snippet:
          type: string
          description: additional content of a post
          nullable: true
        post_text:
          type: string
          description: main content of a post
          nullable: true
        url:
          type: string
          description: url of a post
          nullable: true
        images_url:
          type: string
          description: url of an image included in the post
          nullable: true
        post_date:
          type: string
          description: 'date when a post was published

            in the following format:

            "mm/dd/yyyy hh:mm:ss"'
          nullable: true
        timestamp:
          type: string
          description: 'time when a post was published

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        links:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/LinkElement'
            nullable: true
          description: links included in the post
          nullable: true
    BusinessDataTripadvisorReviewsTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataTripadvisorReviewsTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BusinessDataGoogleHotelSearchesTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: object
            description: 'array of results

              in this case, the value will be null'
            nullable: true
    PopularWorkTimeInfo:
      type: object
      properties:
        time:
          type: object
          oneOf:
          - $ref: '#/components/schemas/TimeInfo'
          description: hours in the 24-hour format
          nullable: true
        popular_index:
          type: integer
          description: 'popularity index

            relative time-bound popularity index measured from 0 to 100;

            higher value corresponds to a busier time of a day'
          nullable: true
    TripadvisorSearchOrganic:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: 'position within a group of elements with identical type values

            positions of elements with different type values are omitted from rank_group'
          nullable: true
        rank_absolute:
          type: integer
          description: 'absolute rank among all the listed results

            absolute position among all reviews on the list'
          nullable: true
        title:
          type: string
          description: name of the business entity
          nullable: true
        url_path:
          type: string
          description: 'URL path of the business entity

            URL path to the Tripadvisor page of the business entity

            you can use this identifier to collect reviews for the business entity using Tripadvisor Reviews'
          nullable: true
        is_sponsored:
          type: boolean
          description: 'indicates a sponsored placement

            if true, related tripadvisor_search_organic item is a paid advertising on Tripadvisor'
          nullable: true
        reviews_count:
          type: integer
          description: the total number of reviews
          format: int64
          nullable: true
        category:
          type: string
          description: place category
          nullable: true
        price_rate:
          type: string
          description: average price rate
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: the rating score of the establishment submitted by the reviewers
          nullable: true
    BusinessDataErrorsRequestInfo:
      type: object
      properties:
        limit:
          type: integer
          description: 'the maximum number of returned tasks that responded with an error

            optional field

            default value: 1000

            maximum value: 1000'
          nullable: true
        offset:
          type: integer
          description: 'offset in the results array of returned tasks

            optional field

            default value: 0

            if you specify the 10 value, the first ten tasks in the results array will be omitted and the data will be provided for the successive tasks'
          nullable: true
        filtered_function:
          type: string
          description: 'return tasks with a certain function

            use this field to obtain a list of tasks that returned an error filtered by a certain function

            you can filter the results by the values you receive in the function fields of the API response

            i.e., once you receive unfiltered results, you can call this API again to filter them by function

            example: hotel_searches/task_post, postback_url, pingback_url'
          nullable: true
        datetime_from:
          type: string
          description: 'start time for filtering results

            optional field

            allows filtering results by the datetime parameter within the range of the last 7 days;

            must be specified in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2021-11-15 12:57:46 +00:00'
          nullable: true
        datetime_to:
          type: string
          description: 'finish time for filtering results

            optional field

            allows filtering results by the datetime parameter within the range of the last 7 days;

            must be specified in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2021-11-15 13:57:46 +00:00'
          nullable: true
      example:
      - limit: 10
        offset: 0
        filtered_function: pingback_url
    BusinessDataGoogleHotelInfoTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTaskGetAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    ItemsGoogleBusinessInfo:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: 'position within a group of elements with identical type values

            positions of elements with different type values are omitted from rank_group'
          nullable: true
        rank_absolute:
          type: integer
          description: absolute rank among all the elements
          nullable: true
        position:
          type: string
          description: the alignment in SERP
          nullable: true
        title:
          type: string
          description: 'title of the element in SERP

            the name of the business entity for which the results are collected'
          nullable: true
        original_title:
          type: string
          description: 'original title of the element

            original title not translated by Google'
          nullable: true
        description:
          type: string
          description: 'description of the element in SERP

            the description of the business entity for which the results are collected'
          nullable: true
        category:
          type: string
          description: 'business category

            Google My Business general category that best describes the services provided by the business entity'
          nullable: true
        category_ids:
          type: array
          items:
            type: string
            nullable: true
          description: 'global category IDs

            universal category IDs that do not change based on the selected country'
          nullable: true
        additional_categories:
          type: array
          items:
            type: string
            nullable: true
          description: 'additional business categories

            additional Google My Business categories that describe the services provided by the business entity in more detail'
          nullable: true
        cid:
          type: string
          description: 'google-defined client id

            unique id of a local establishment;

            can be used with Google Reviews API to get a full list of reviews

            learn more about the identifier in this help center article'
          nullable: true
        feature_id:
          type: string
          description: 'the unique identifier of the element in SERP

            learn more about the identifier in this help center article'
          nullable: true
        address:
          type: string
          description: address of the business entity
          nullable: true
        address_info:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AddressInfo'
          description: object containing address components of the business entity
          nullable: true
        place_id:
          type: string
          description: 'unique place identifier

            place id of the local establishment featured in the element

            learn more about the identifier in this help center article'
          nullable: true
        phone:
          type: string
          description: phone number of the business entity
          nullable: true
        url:
          type: string
          description: absolute url of the business entity
          nullable: true
        contact_url:
          type: string
          description: URL of the preferred contact page
          nullable: true
        contributor_url:
          type: string
          description: URL of the user’s or entity’s Local Guides profile, if available
          nullable: true
        book_online_url:
          type: string
          description: 'URL in the ‘book online’ button of the element

            URL directing users to the online booking or order page of the business entity'
          nullable: true
        domain:
          type: string
          description: domain of the business entity
          nullable: true
        logo:
          type: string
          description: URL of the logo featured in Google My Business profile
          nullable: true
        main_image:
          type: string
          description: URL of the main image featured in Google My Business profile
          nullable: true
        total_photos:
          type: integer
          description: total count of images featured in Google My Business profile
          format: int64
          nullable: true
        snippet:
          type: string
          description: additional information on the business entity
          nullable: true
        latitude:
          type: number
          description: 'latitude coordinate of the local establishments in google maps

            example:

            "latitude": 51.584091'
          nullable: true
        longitude:
          type: number
          description: 'longitude coordinate of the local establishment in google maps

            example:

            "longitude": -0.31365919999999997'
          nullable: true
        is_claimed:
          type: boolean
          description: shows whether the entity is verified by its owner on Google Maps
          nullable: true
        attributes:
          type: object
          oneOf:
          - $ref: '#/components/schemas/BusinessDataAttributesInfo'
          description: 'service details in a form of user-reviewed checks;

            service details of a business entity displayed in a form of checks and based on user feedback and business category'
          nullable: true
        place_topics:
          type: object
          additionalProperties:
            type: integer
            format: int64
            nullable: true
          description: "keywords mentioned in customer reviews\ncontains most popular keywords related to products/services mentioned in customer reviews of a business entity and the number of reviews mentioning each keyword\nexample: \n\"place_topics\": {\n\"egg roll\": 48,\n\"birthday\": 33\n}"
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: "the element’s rating \nthe popularity rate based on reviews and displayed in SERP"
          nullable: true
        hotel_rating:
          type: string
          description: 'hotel class rating

            class ratings range between 1-5 stars, learn more

            if there is no hotel class rating information, the value will be null'
          nullable: true
        price_level:
          type: string
          description: 'property price level

            can take values: inexpensive, moderate, expensive, very_expensive

            if there is no price level information, the value will be null'
          nullable: true
        rating_distribution:
          type: object
          additionalProperties:
            type: integer
            format: Int64
            nullable: true
          description: 'the distribution of ratings of the business entity

            the object displays the number of 1-star to 5-star ratings, as reviewed by users'
          nullable: true
        people_also_search:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/PeopleAlsoSearch'
            nullable: true
          description: related business entities
          nullable: true
        work_time:
          type: object
          oneOf:
          - $ref: '#/components/schemas/BusinessWorkHoursInfo'
          description: 'work time details

            information related to operational hours of the business entity'
          nullable: true
        popular_times:
          type: object
          description: 'popular times

            information related to busy hours of the business entity'
          nullable: true
        local_business_links:
          type: object
          description: 'available interactions with the business

            list of options to interact with the business directly from search results'
          nullable: true
        is_directory_item:
          type: boolean
          description: 'business establishment is a part of the directory

            indicates whether the business establishment is a part of the directory;

            if true, the item is a part of the larger directory of businesses with the same address (e.g., a mall or a business centre);

            note: if the business establishment is a parent item in the directory, the value will be null'
          nullable: true
        directory:
          type: object
          description: 'items of the directory

            includes information about businesses that are located within the target business establishment and have the same address'
          nullable: true
    BusinessDataGoogleExtendedReviewsTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: object
            description: 'array of results

              in this case, the value will be null'
            nullable: true
    BusinessDataGoogleHotelSearchesLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BusinessDataBusinessListingsSearchLiveItem:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        title:
          type: string
          description: 'title of the element in SERP

            the name of the business entity for which the results are collected'
          nullable: true
        original_title:
          type: string
          description: 'original title of the element

            original title not translated by Google'
          nullable: true
        description:
          type: string
          description: 'description of the element in SERP

            the description of the business entity for which the results are collected'
          nullable: true
        category:
          type: string
          description: 'business category

            Google My Business general category that best describes the services provided by the business entity'
          nullable: true
        category_ids:
          type: array
          items:
            type: string
            nullable: true
          description: 'global category IDs

            universal category IDs that do not change based on the selected country'
          nullable: true
        additional_categories:
          type: array
          items:
            type: string
            nullable: true
          description: 'additional business categories

            additional Google My Business categories that describe the services provided by the business entity in more detail'
          nullable: true
        cid:
          type: string
          description: 'google-defined client id

            unique id of a local establishment

            learn more about the identifier in this help center article'
          nullable: true
        feature_id:
          type: string
          description: 'the unique identifier of the element in SERP

            learn more about the identifier in this help center article'
          nullable: true
        address:
          type: string
          description: address of the business entity
          nullable: true
        address_info:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AddressInfo'
          description: object containing address components of the business entity
          nullable: true
        place_id:
          type: string
          description: 'unique place identifier

            place id of the local establishment featured in the element

            learn more about the identifier in this help center article'
          nullable: true
        phone:
          type: string
          description: phone number of the business entity
          nullable: true
        url:
          type: string
          description: absolute url of the business entity
          nullable: true
        domain:
          type: string
          description: domain of the business entity
          nullable: true
        logo:
          type: string
          description: URL of the logo featured in Google My Business profile
          nullable: true
        main_image:
          type: string
          description: URL of the main image featured in Google My Business profile
          nullable: true
        total_photos:
          type: integer
          description: total count of images featured in Google My Business profile
          format: int64
          nullable: true
        snippet:
          type: string
          description: additional information on the business entity
          nullable: true
        latitude:
          type: number
          description: 'latitude coordinate of the local establishments in google maps

            example:

            "latitude": 51.584091'
          nullable: true
        longitude:
          type: number
          description: 'longitude coordinate of the local establishment in google maps

            example:

            "longitude": -0.31365919999999997'
          nullable: true
        is_claimed:
          type: boolean
          description: shows whether the entity is verified by its owner on Google Maps
          nullable: true
        attributes:
          type: object
          oneOf:
          - $ref: '#/components/schemas/BusinessDataAttributesInfo'
          description: 'service details in a form of user-reviewed checks;

            service details of a business entity displayed in a form of checks and based on user feedback and business category'
          nullable: true
        place_topics:
          type: object
          additionalProperties:
            type: integer
            format: int64
            nullable: true
          description: "keywords mentioned in customer reviews\ncontains most popular keywords related to products/services mentioned in customer reviews of a business entity and the number of reviews mentioning each keyword\nexample: \n\"place_topics\": {\n\"egg roll\": 48,\n\"birthday\": 33\n}"
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          properties:
            rating_type:
              type: string
              description: 'the type of rating

                here you can find the following elements: Max5, Percents, CustomMax'
              nullable: true
            value:
              type: number
              description: the value of the rating
              format: double
              nullable: true
            votes_count:
              type: integer
              description: the amount of feedback
              format: int64
              nullable: true
            rating_max:
              type: number
              description: the maximum value for a rating_type
              format: double
              nullable: true
          description: "the element’s rating \nthe popularity rate based on reviews and displayed in SERP"
          nullable: true
        hotel_rating:
          type: integer
          description: 'hotel class rating

            class ratings range between 1-5 stars, learn more

            if there is no hotel class rating information, the value will be null'
          nullable: true
        price_level:
          type: string
          description: 'property price level

            can take values: inexpensive, moderate, expensive, very_expensive

            if there is no price level information, the value will be null'
          nullable: true
        rating_distribution:
          type: object
          additionalProperties:
            type: integer
            format: Int64
            nullable: true
          description: 'the distribution of ratings of the business entity

            the object displays the number of 1-star to 5-star ratings, as reviewed by users'
          nullable: true
        people_also_search:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/PeopleAlsoSearch'
            nullable: true
          description: related business entities
          nullable: true
        work_time:
          type: object
          oneOf:
          - $ref: '#/components/schemas/BusinessWorkHoursInfo'
          description: 'work time details

            information related to operational hours of the business entity'
          nullable: true
        popular_times:
          type: object
          oneOf:
          - $ref: '#/components/schemas/PopularTimes'
          description: 'popular times

            information related to busy hours of the business entity'
          nullable: true
        local_business_links:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BaseLocalBusinessLink'
            nullable: true
          description: 'available interactions with the business

            list of options to interact with the business directly from search results'
          nullable: true
        contact_info:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BusinessDataContactInfo'
            nullable: true
          description: 'available contacts of the business

            list of contacts to interact with the business'
          nullable: true
        check_url:
          type: string
          description: 'direct URL to search engine results

            you can use it to make sure that we provided accurate results'
          nullable: true
        last_updated_time:
          type: string
          description: 'date and time when the data was last updated

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2023-01-26 09:03:15 +00:00'
          nullable: true
        first_seen:
          type: string
[...]
