openapi: 3.0.1
info:
  title: DataForSEO AppData API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With 
    DataForSEO you can get all the data you need to build an efficient application while also saving your time and 
    budget. DataForSEO API is using the REST technology for interchanging data between your application and our service.
    The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all 
    programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
paths:
  /v3/app_data/id_list:
    post:
      tags:
      - AppData
      description: "This endpoint is designed to provide you with a list of IDs and metadata for all App Data tasks created
        within the specified time period, including both successful and uncompleted tasks.\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/id_list/?bash'"
      operationId: AppDataIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataIdListRequestInfo'
                nullable: true
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataIdListResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/errors:
    post:
      tags:
      - AppData
      description: "By calling this endpoint you will receive information about the App Data API tasks that returned an error
        within the past 7 days.\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/errors/?bash'"
      operationId: AppDataErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataErrorsRequestInfo'
                nullable: true
              example:
              - limit: 10
                offset: 0
                filtered_function: pingback_url
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataErrorsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/categories:
    get:
      tags:
      - AppData
      description: "This endpoint will provide you with a full list of app categories available on Google Play.\nfor more
        info please visit 'https://docs.dataforseo.com/v3/app_data/google/categories/?bash'"
      operationId: GoogleCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleCategoriesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/locations:
    get:
      tags:
      - AppData
      description: "By calling this endpoint you will receive the list of Google locations supported in App Data API.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/app_data/google/locations/?bash'"
      operationId: AppDataGoogleLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/app_data/google/locations/{country}':
    get:
      tags:
      - AppData
      description: "By calling this endpoint you will receive the list of Google locations supported in App Data API.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/app_data/google/locations/?bash'"
      operationId: AppDataGoogleLocationsCountry
      parameters:
      - name: country
        in: path
        description: "country ISO code\noptional field\nspecify the ISO code if you want to filter the list of locations by
          country\nexample:\nus"
        required: true
        schema:
          type: string
          nullable: true
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleLocationsCountryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/languages:
    get:
      tags:
      - AppData
      description: "By calling this endpoint you will receive the list of Google languages supported in App Data API.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/app_data/google/languages/?bash'"
      operationId: AppDataGoogleLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_searches/task_post:
    post:
      tags:
      - AppData
      description: "This endpoint will provide you with a list of apps ranking on Google Play for the specified keyword. The
        returned results are specific to the indicated keyword, as well as the language and location parameters.\nfor more
        info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_searches/task_post/?bash'"
      operationId: GoogleAppSearchesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppSearchesTaskPostRequestInfo'
                nullable: true
              example:
              - keyword: vpn
                location_code: 2840
                language_code: en
                depth: 30
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppSearchesTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_searches/tasks_ready:
    get:
      tags:
      - AppData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been
        collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id
        for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_searches/tasks_ready/?bash'"
      operationId: GoogleAppSearchesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppSearchesTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/tasks_ready:
    get:
      tags:
      - AppData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been
        collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id
        for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_searches/tasks_ready/?bash'"
      operationId: AppDataTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/app_data/google/app_searches/task_get/advanced/{id}':
    get:
      tags:
      - AppData
      description: "This endpoint will provide you with a list of apps ranking on Google Play for the keyword specified in
        a POST request. You will also receive additional information about each application: its ID, icon, reviews count,
        rating, price, and other data. The results are specific to the keyword as well as location and language parameters
        specified in the POST request.\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_searches/task_get/advanced/?bash'"
      operationId: GoogleAppSearchesTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppSearchesTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/app_data/google/app_searches/task_get/html/{id}':
    get:
      tags:
      - AppData
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_searches/task_get/html/?bash'"
      operationId: GoogleAppSearchesTaskGetHtml
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 7 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppSearchesTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_list/task_post:
    post:
      tags:
      - AppData
      description: "This endpoint will provide you with a list of mobile applications published in the top charts on the Google
        Play platform. The returned results are specific to the app collection as well as the the language and location parameters.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_list/task_post/?bash'"
      operationId: GoogleAppListTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListTaskPostRequestInfo'
                nullable: true
              example:
              - app_collection: topselling_free
                location_code: 2840
                language_code: en
                depth: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_list/tasks_ready:
    get:
      tags:
      - AppData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been
        collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id
        for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_list/tasks_ready/?bash'"
      operationId: GoogleAppListTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/app_data/google/app_list/task_get/advanced/{id}':
    get:
      tags:
      - AppData
      description: "This endpoint will provide you with a list of applications published in the top charts on the Google Play
        platform, including app IDs, ratings, prices, titles, and more. The results are specific to the app_collection as
        well as the location and language parameters specified in the POST request.\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_list/task_get/advanced/?bash'"
      operationId: GoogleAppListTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/app_data/google/app_list/task_get/html/{id}':
    get:
      tags:
      - AppData
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_list/task_get/html/?bash'"
      operationId: GoogleAppListTaskGetHtml
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 7 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_info/task_post:
    post:
      tags:
      - AppData
      description: "This endpoint will provide you with information about the Google Play application specified in the app_id
        field of the POST request.\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_info/task_post/?bash'"
      operationId: GoogleAppInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskPostRequestInfo'
                nullable: true
              example:
              - app_id: org.telegram.messenger
                location_code: 2840
                language_code: en
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_info/tasks_ready:
    get:
      tags:
      - AppData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been
        collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id
        for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_info/tasks_ready/?bash'"
      operationId: GoogleAppInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppInfoTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/app_data/google/app_info/task_get/advanced/{id}':
    get:
      tags:
      - AppData
      description: "This endpoint will provide you with information about the mobile application specified in a POST request.
        You will receive its ID, icon, description, reviews count, rating, number of installs, images, and other data. The
        results are specific to the app_id parameter specified in the POST request.\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_info/task_get/advanced/?bash'"
      operationId: GoogleAppInfoTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/app_data/google/app_info/task_get/html/{id}':
    get:
      tags:
      - AppData
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_info/task_get/html/?bash'"
      operationId: GoogleAppInfoTaskGetHtml
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 7 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppInfoTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_reviews/task_post:
    post:
      tags:
      - AppData
      description: "This endpoint will provide you with reviews published on the Google Play platform for the app specified
        in the app_id field. The returned results are specific to the indicated language and location parameters.\nfor more
        info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_reviews/task_post/?bash'"
      operationId: GoogleAppReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppReviewsTaskPostRequestInfo'
                nullable: true
              example:
              - app_id: org.telegram.messenger
                location_code: 2840
                language_code: en
                depth: 150
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppReviewsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_reviews/tasks_ready:
    get:
      tags:
      - AppData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been
        collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id
        for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_reviews/tasks_ready/?bash'"
      operationId: GoogleAppReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppReviewsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/app_data/google/app_reviews/task_get/advanced/{id}':
    get:
      tags:
      - AppData
      description: "This endpoint will provide you with feedback data on applications listed on the Google Play platform,
        including review ratings, review content, user profile info of each reviewer, review publication dates, and more.
        The results are specific to the app_id as well as the location and language parameters specified in the POST request.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_reviews/task_get/advanced/?bash'"
      operationId: GoogleAppReviewsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppReviewsTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/app_data/google/app_reviews/task_get/html/{id}':
    get:
      tags:
      - AppData
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_reviews/task_get/html/?bash'"
      operationId: GoogleAppReviewsTaskGetHtml
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 7 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppReviewsTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_listings/categories:
    get:
      tags:
      - AppData
      description: "This endpoint will provide you with a full list of app categories available on Google Play.\nfor more
        info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_listings/categories/?bash'"
      operationId: GoogleAppListingsCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListingsCategoriesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/google/app_listings/search/live:
    post:
      tags:
      - AppData
      description: "This endpoint will provide you with a list of apps published on Google Play along with additional information:
        its ID, icon, reviews count, rating, price, and other data. The results are specific to the title, description, and
        categories parameters specified in the API request.\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/google/app_listings/search/live/?bash'"
      operationId: GoogleAppListingsSearchLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListingsSearchLiveRequestInfo'
                nullable: true
              example:
              - title: vpn
                description: vpn
                categories:
                - Tools
                order_by:
                - 'item.installs_count,asc'
                filters:
                - - item.rating.value
                  - '>'
                  - 4.5
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataGoogleAppListingsSearchLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/categories:
    get:
      tags:
      - AppData
      description: "This endpoint will provide you with a full list of app categories available on App Store.\nfor more info
        please visit 'https://docs.dataforseo.com/v3/app_data/apple/categories/?bash'"
      operationId: AppleCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleCategoriesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/locations:
    get:
      tags:
      - AppData
      description: "By calling this endpoint you will receive the list of Apple locations supported in App Data API.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/app_data/apple/locations/?bash'"
      operationId: AppleLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/languages:
    get:
      tags:
      - AppData
      description: "By calling this endpoint you will receive the list of Apple languages supported in App Data API.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/app_data/apple/languages/?bash'"
      operationId: AppleLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_searches/task_post:
    post:
      tags:
      - AppData
      description: "This endpoint will provide you with a list of apps ranking on the App Store for the specified keyword.
        The returned results are specific to the indicated keyword, as well as the location and language parameters.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/app_data/apple/app_searches/task_post/?bash'"
      operationId: AppleAppSearchesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppSearchesTaskPostRequestInfo'
                nullable: true
              example:
              - keyword: vpn
                location_code: 2840
                language_code: en
                depth: 200
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppSearchesTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_searches/tasks_ready:
    get:
      tags:
      - AppData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been
        collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id
        for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/app_data/apple/app_searches/tasks_ready/?bash'"
      operationId: AppleAppSearchesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppSearchesTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/app_data/apple/app_searches/task_get/advanced/{id}':
    get:
      tags:
      - AppData
      description: "This endpoint will provide you with a list of apps ranking on the App Store for the keyword specified
        in a POST request. You will also receive additional information about each application: its ID, icon, reviews count,
        rating, price, and other data. The results are specific to the keyword as well as location and language parameters
        specified in the POST request.\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/apple/app_searches/task_get/advanced/?bash'"
      operationId: AppleAppSearchesTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppSearchesTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_info/task_post:
    post:
      tags:
      - AppData
      description: "This endpoint will provide you with information about the App Store application specified in the app_id
        field of the POST request.\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/apple/app_info/task_post/?bash'"
      operationId: AppleAppInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppInfoTaskPostRequestInfo'
                nullable: true
              example:
              - app_id: '835599320'
                location_code: 2840
                language_code: en
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppInfoTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_info/tasks_ready:
    get:
      tags:
      - AppData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been
        collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id
        for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/app_data/apple/app_info/tasks_ready/?bash'"
      operationId: AppleAppInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppInfoTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/app_data/apple/app_info/task_get/advanced/{id}':
    get:
      tags:
      - AppData
      description: "This endpoint will provide you with information about the mobile application specified in a POST request.
        You will receive its ID, icon, description, reviews count, rating, images, and other data. The results are specific
        to the app_id parameter specified in the POST request.\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/apple/app_info/task_get/advanced/?bash'"
      operationId: AppleAppInfoTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppInfoTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_list/task_post:
    post:
      tags:
      - AppData
      description: "This endpoint will provide you with a list of mobile applications published in the top app charts on the
        App Store platform. The returned results are specific to the app collection as well as the language and location parameters.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/app_data/apple/app_list/task_post/?bash'"
      operationId: AppleAppListTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListTaskPostRequestInfo'
                nullable: true
              example:
              - app_collection: top_free_ios
                location_code: 2840
                language_code: en
                depth: 200
                app_category: games
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_list/tasks_ready:
    get:
      tags:
      - AppData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been
        collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id
        for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/app_data/apple/app_list/tasks_ready/?bash'"
      operationId: AppleAppListTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/app_data/apple/app_list/task_get/advanced/{id}':
    get:
      tags:
      - AppData
      description: "This endpoint will provide you with a list of applications published in the top app charts on the App
        Store platform, including app IDs, ratings, prices, titles, and more. The results are specific to the app_collection
        as well as the location and language parameters specified in the POST request.\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/apple/app_list/task_get/advanced/?bash'"
      operationId: AppleAppListTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_reviews/task_post:
    post:
      tags:
      - AppData
      description: "This endpoint will provide you with reviews published on the App Store platform for the app specified
        in the app_id field. The returned results are specific to the indicated language and location parameters.\nfor more
        info please visit 'https://docs.dataforseo.com/v3/app_data/apple/app_reviews/task_post/?bash'"
      operationId: AppleAppReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppReviewsTaskPostRequestInfo'
                nullable: true
              example:
              - app_id: '835599320'
                location_code: 2840
                language_code: en
                depth: 200
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppReviewsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_reviews/tasks_ready:
    get:
      tags:
      - AppData
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with a list of completed tasks that haven’t been
        collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id
        for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/app_data/apple/app_reviews/tasks_ready/?bash'"
      operationId: AppleAppReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppReviewsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/app_data/apple/app_reviews/task_get/advanced/{id}':
    get:
      tags:
      - AppData
      description: "This endpoint will provide you with feedback data on applications listed on the App Store platform, including
        review ratings, review content, user profile info of each reviewer, review publication dates, and more. The results
        are specific to the app_id as well as the location and language parameters specified in the POST request.\nfor more
        info please visit 'https://docs.dataforseo.com/v3/app_data/apple/app_reviews/task_get/advanced/?bash'"
      operationId: AppleAppReviewsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppReviewsTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_listings/categories:
    get:
      tags:
      - AppData
      description: "This endpoint will provide you with a full list of app categories available on Apple App Store.\nfor more
        info please visit 'https://docs.dataforseo.com/v3/app_data/apple/app_listings/categories/?bash'"
      operationId: AppleAppListingsCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListingsCategoriesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/app_data/apple/app_listings/search/live:
    post:
      tags:
      - AppData
      description: "This endpoint will provide you with a list of apps published on App Store along with additional information:
        its ID, icon, reviews count, rating, price, and other data. The results are specific to the title, description, and
        categories parameters specified in the API request.\nfor more info please visit 'https://docs.dataforseo.com/v3/app_data/apple/app_listings/search/live/?bash'"
      operationId: AppleAppListingsSearchLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListingsSearchLiveRequestInfo'
                nullable: true
              example:
              - title: vpn
                description: vpn
                categories:
                - Tools
                order_by:
                - 'item.rating.value,desc'
                filters:
                - - item.rating.value
                  - '>'
                  - 4.5
                limit: 2
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppDataAppleAppListingsSearchLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
components:
  schemas:
    AppDataAppleAppReviewsTaskGetAdvancedResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppReviewsTaskGetAdvancedTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataAppleAppReviewsTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppReviewsTaskGetAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataAppleAppReviewsTaskGetAdvancedResultInfo:
      type: object
      properties:
        app_id:
          type: string
          description: application id received in a POST array
          nullable: true
        type:
          type: string
          description: type of element
          nullable: true
        se_domain:
          type: string
          description: search engine domain in a POST array
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        check_url:
          type: string
          description: "direct URL to search engine results\nyou can use it to make sure that we provided accurate results"
          nullable: true
        datetime:
          type: string
          description: "date and time when the result was received\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n\
            2019-11-15 12:57:46 +00:00"
          nullable: true
        title:
          type: string
          description: "title of the app\ntitle of the application for which the reviews are collected"
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: "rating of the app\nrating of the application for which the reviews are collected"
          nullable: true
        reviews_count:
          type: integer
          description: "the total number of reviews\nin this case, the value will be null as App Store does not indicate the
            total number of app reviews"
          format: int64
          nullable: true
        items_count:
          type: integer
          description: "the number of reviews items in the results array\nyou can get more results by using the depth parameter
            when setting a task"
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AppStoreReviewsSearch'
            nullable: true
          description: found reviews
          nullable: true
    RatingInfo:
      properties:
        rating_type:
          type: string
          description: "the type of rating\nhere you can find the following elements: Max5, Percents, CustomMax"
          nullable: true
        value:
          type: number
          description: the value of the rating
          format: double
          nullable: true
        votes_count:
          type: integer
          description: the amount of feedback
          format: int64
          nullable: true
        rating_max:
          type: integer
          description: the maximum value for a rating_type
          nullable: true
    AppStoreReviewsSearch:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: "position within a group of elements with identical type values\npositions of elements with different
            type values are omitted from rank_group"
          nullable: true
        rank_absolute:
          type: integer
          description: "absolute rank among all the listed reviews\nabsolute position among all reviews on the list"
          nullable: true
        position:
          type: string
          description: "the alignment of the review in SERP\ncan take the following values: left"
          nullable: true
        version:
          type: string
          description: "version of the app\nversion of the app for which the review is submitted"
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: the rating score submitted by the reviewer
          nullable: true
        timestamp:
          type: string
          description: "date and time when the review was published\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”;\nexample:\n\
            2019-11-15 12:57:46 +00:00"
          nullable: true
        id:
          type: string
          description: id of the review
          nullable: true
        title:
          type: string
          description: title of the review
          nullable: true
        review_text:
          type: string
          description: content of the review
          nullable: true
        user_profile:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppUserProfileInfo'
          description: user profile of the reviewer
          nullable: true
    AppUserProfileInfo:
      type: object
      properties:
        profile_name:
          type: string
          description: profile name of the reviewer
          nullable: true
        profile_image_url:
          type: string
          description: URL to the reviewer’s profile image
          nullable: true
    BaseResponseTaskInfo:
      properties:
        id:
          type: string
          description: "task identifier\nunique task identifier in our system in the UUID format"
          nullable: true
        status_code:
          type: integer
          description: "status code of the task\ngenerated by DataForSEO, can be within the following range: 10000-60000\n\
            you can find the full list of the response codes here"
          nullable: true
        status_message:
          type: string
          description: "informational message of the task\nyou can find the full list of general informational messages here"
          nullable: true
        time:
          type: string
          description: 'execution time, seconds'
          nullable: true
        cost:
          type: number
          description: 'total tasks cost, USD'
          format: double
          nullable: true
        result_count:
          type: integer
          description: number of elements in the result array
          format: int64
          nullable: true
        path:
          type: array
          items:
            type: string
            nullable: true
          description: URL path
          nullable: true
        data:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: contains the same parameters that you specified in the POST request
          nullable: true
    BaseResponseInfo:
      properties:
        version:
          type: string
          description: the current version of the API
          nullable: true
        status_code:
          type: integer
          description: "general status code\nyou can find the full list of the response codes here"
          nullable: true
        status_message:
          type: string
          description: "general informational message\nyou can find the full list of general informational messages here"
          nullable: true
        time:
          type: string
          description: 'total execution time, seconds'
          nullable: true
        cost:
          type: number
          description: 'total tasks cost, USD'
          format: double
          nullable: true
        tasks_count:
          type: integer
          description: the number of tasks in the tasks array
          format: int64
          nullable: true
        tasks_error:
          type: integer
          description: the number of tasks in the tasks array returned with an error
          format: int64
          nullable: true
    AppDataGoogleLocationsResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleLocationsTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataGoogleLocationsTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleLocationsResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataGoogleLocationsResultInfo:
      type: object
      properties:
        location_code:
          type: integer
          description: location code
          nullable: true
        location_name:
          type: string
          description: full name of the location
          nullable: true
        location_name_parent:
          type: string
          description: "the name of the superordinate location\nexample:\n\"location_code\": 1006473,\n\"location_name\":
            \"Altrincham,England,United Kingdom\",\n\"location_name_parent\": \"England,United Kingdom\", where location_name_parent
            corresponds to:\n\"location_code\": 20339,\n\"location_name\": \"England,United Kingdom\""
          nullable: true
        country_iso_code:
          type: string
          description: ISO country code of the location
          nullable: true
        location_type:
          type: string
          description: location type
          nullable: true
    AppDataAppleAppSearchesTaskGetAdvancedResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppSearchesTaskGetAdvancedTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataAppleAppSearchesTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppSearchesTaskGetAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataAppleAppSearchesTaskGetAdvancedResultInfo:
      type: object
      properties:
        keyword:
          type: string
          description: keyword received in a POST request
          nullable: true
        se_domain:
          type: string
          description: search engine domain in a POST array
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        check_url:
          type: string
          description: "direct URL to search engine results\nin this case, the value will be null"
          nullable: true
        datetime:
          type: string
          description: "date and time when the result was received\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n\
            2019-11-15 12:57:46 +00:00"
          nullable: true
        se_results_count:
          type: integer
          description: the total number of results
          format: int64
          nullable: true
        items_count:
          type: integer
          description: the number of items in the results array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AppStoreSearchOrganic'
            nullable: true
          description: found apps
          nullable: true
    AppStoreSearchOrganic:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: "position within a group of elements with identical type values\npositions of elements with different
            type values are omitted from rank_group"
          nullable: true
        rank_absolute:
          type: integer
          description: "absolute rank in SERP\nabsolute position among all the elements in SERP"
          nullable: true
        position:
          type: string
          description: "the alignment of the element in SERP\ncan take the following values:\nleft, right"
          nullable: true
        app_id:
          type: string
          description: id of the app
          nullable: true
        title:
          type: string
          description: title of the app
          nullable: true
        url:
          type: string
          description: URL to the app page on App Store
          nullable: true
        icon:
          type: string
          description: URL to the app icon
          nullable: true
        reviews_count:
          type: integer
          description: the total number of reviews of the app
          format: int64
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: average rating of the app
          nullable: true
        is_free:
          type: boolean
          description: indicates whether the app is free
          nullable: true
        price:
          type: object
          oneOf:
          - $ref: '#/components/schemas/PriceInfo'
          description: price of the app
          nullable: true
    PriceInfo:
      type: object
      properties:
        current:
          type: number
          description: "current price\nindicates the current price of the product or service featured in the result"
          format: double
          nullable: true
        regular:
          type: number
          description: "regular price\nindicates the regular price of the product or service with no discounts applied"
          format: double
          nullable: true
        max_value:
          type: number
          description: "the maximum price\nthe maximum price of the product or service as indicated in the result"
          format: double
          nullable: true
        currency:
          type: string
          description: "currency of the listed price\nISO code of the currency applied to the price"
          nullable: true
        is_price_range:
          type: boolean
          description: "price is provided as a range\nindicates whether a price is provided in a range"
          nullable: true
        displayed_price:
          type: string
          description: "price string in the result\nraw price string as provided in the result"
          nullable: true
    AppDataAppleCategoriesResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleCategoriesTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataAppleCategoriesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleCategoriesResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataAppleCategoriesResultInfo:
      type: object
      properties:
        categories:
          type: array
          items:
            type: string
            nullable: true
          description: contains full list of supported app categories
          nullable: true
    AppDataAppleAppReviewsTaskPostRequestInfo:
      type: object
      properties:
        app_id:
          type: string
          description: "id of the app\nrequired field\nID of the mobile application on App Store;\nyou can find the ID in
            the URL of every app listed on App Store;\nexample:\nin the URL https://apps.apple.com/us/app/id835599320\nthe
            id is 835599320"
        location_name:
          type: string
          description: "full name of search engine location\nrequired field if you don’t specify location_code\nif you use
            this field, you don’t need to specify location_code\nyou can receive the list of available locations of the search
            engine with their location_name by making a separate request to https://api.dataforseo.com/v3/app_data/apple/locations\n\
            example:\nWest Los Angeles,California,United States"
          nullable: true
        location_code:
          type: integer
          description: "search engine location code\nrequired field if you don’t specify location_name\nif you use this field,
            you don’t need to specify location_name\nyou can receive the list of available locations of the search engine
            with their location_code by making a separate request to https://api.dataforseo.com/v3/app_data/apple/locations\n\
            example:\n9061121"
          nullable: true
        language_name:
          type: string
          description: "full name of search engine language\nrequired field if you don’t specify language_code\nif you use
            this field, you don’t need to specify language_code\nyou can receive the list of available languages with language_name
            by making a separate request to https://api.dataforseo.com/v3/app_data/apple/languages\nexample:\nEnglish"
          nullable: true
        language_code:
          type: string
          description: "search engine language code\nrequired field if you don’t specify language_name\nif you use this field,
            you don’t need to specify language_name\nyou can receive the list of available languages with their language_code by
            making a separate request to https://api.dataforseo.com/v3/app_data/apple/languages\nexample:\nen"
          nullable: true
        priority:
          type: integer
          description: "task priority\noptional field\ncan take the following values:\n1 – normal execution priority (set
            by default)\n2 – high execution priority\nYou will be additionally charged for the tasks with high execution priority.\n\
            The cost can be calculated on the Pricing page."
          nullable: true
        depth:
          type: integer
          description: "parsing depth\noptional field\nnumber of reviews to be returned in the API response;\nwe strongly
            recommend setting the parsing depth in the multiples of 50, because our system processes 50 reviews in a row;\n\
            default value: 50;\nmaximum value: 500;\nYour account will be billed per each SERP containing up to 50 results;\n\
            Setting depth above 50 may result in additional charges if the search engine returns more than 50 results;\nThe
            cost can be calculated on the Pricing page."
          nullable: true
        sort_by:
          type: string
          description: "results sorting parameters\noptional field\nyou can use this field to sort the results;\npossible
            types of sorting:\nmost_recent — sort by the most recent reviews;\nmost_helpful — sort by the most relevant reviews;\n\
            default rule: most_helpful"
          nullable: true
        tag:
          type: string
          description: "user-defined task identifier\noptional field\nthe character limit is 255\nyou can use this parameter
            to identify the task and match it with the result\nyou will find the specified tag value in the data object of
            the response"
          nullable: true
        postback_url:
          type: string
          description: "URL for sending task results\noptional field\nonce the task is completed, we will send a POST request
            with its results compressed in the gzip format to the postback_url you specified\nyou can use the ‘$id’ string
            as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the
            request.\nexample:\nhttp://your-server.com/postbackscript?id=$id\nhttp://your-server.com/postbackscript?id=$id&tag=$tag\n\
            Note: special characters in postback_url will be urlencoded;\ni.a., the # character will be encoded into %23\n\
            learn more on our Help Center"
          nullable: true
        postback_data:
          type: string
          description: "postback_url datatype\nrequired field if you specify postback_url\ncorresponds to the datatype that
            will be sent to your server\npossible values:\nadvanced"
          nullable: true
        pingback_url:
          type: string
          description: "notification URL of a completed task\noptional field\nwhen a task is completed we will notify you
            by GET request sent to the URL you have specified\nyou can use the ‘$id’ string as a $id variable and ‘$tag’ as
            urlencoded $tag variable. We will set the necessary values before sending the request.\nexample:\nhttp://your-server.com/pingscript?id=$id\n\
            http://your-server.com/pingscript?id=$id&tag=$tag\nNote: special characters in pingback_url will be urlencoded;\n\
            i.a., the # character will be encoded into %23\nlearn more on our Help Center"
          nullable: true
      example:
      - app_id: '835599320'
        location_code: 2840
        language_code: en
        depth: 200
    AppDataAppleLanguagesResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleLanguagesTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataAppleLanguagesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleLanguagesResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataAppleLanguagesResultInfo:
      type: object
      properties:
        language_name:
          type: string
          description: language name
          nullable: true
        language_code:
          type: string
          description: language code according to ISO 639-1
          nullable: true
    AppDataIdListRequestInfo:
      type: object
      properties:
        datetime_from:
          type: string
          description: "start time for filtering results\nrequired field\nif include_metadata is set to true, maximum value:
            a month from current datetime;\nif include_metadata is set to false, maximum value: six months from current datetime;\n\
            must be specified in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n2023-01-15 12:57:46 +00:00"
        datetime_to:
          type: string
          description: "finish time for filtering results\nrequired field\nmaximum value: current datetime;\nmust be specified
            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n2023-01-31 13:57:46 +00:00"
        limit:
          type: integer
          description: "the maximum number of returned task IDs\noptional field\ndefault value: 1000\nmaximum value: 1000"
          nullable: true
        offset:
          type: integer
          description: "offset in the results array of returned task IDs\noptional field\ndefault value: 0\nif you specify
            the 10 value, the first ten tasks in the results array will be omitted"
          nullable: true
        sort:
          type: string
          description: "sorting by task execution time\noptional field\npossible values: \"asc\", \"desc\"\ndefault value:
            \"asc\""
          nullable: true
        include_metadata:
          type: boolean
          description: "include task metadata in the respond\noptional field\ndefault value: false"
          nullable: true
      example:
      - datetime_from: '2026-04-12 04:39:39 +00:00'
        datetime_to: '2026-04-14 04:39:39 +00:00'
        limit: 100
        offset: 0
        sort: desc
        include_metadata: true
    AppDataAppleAppListingsCategoriesResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppListingsCategoriesTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataAppleAppListingsCategoriesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataAppleAppListingsCategoriesResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataAppleAppListingsCategoriesResultInfo:
      type: object
      properties:
        category:
          type: string
          description: name of the supported app category
          nullable: true
        count:
          type: integer
          description: number of app listings that make up the supported app category
          format: int64
          nullable: true
    AppDataAppleAppSearchesTaskPostRequestInfo:
      type: object
      properties:
        keyword:
          type: string
          description: "keyword\nrequired field\nyou can specify up to 700 characters in the keyword field;\nall %## will
            be decoded (plus character ‘+’ will be decoded to a space character);\nif you need to use the “%” character for
            your keyword, please specify it as “%25”;\nif you need to use the “+” character for your keyword, please specify
            it as “%2B”\nlearn more about rules and limitations of keyword and keywords fields in DataForSEO APIs in this
            Help Center article"
        location_name:
          type: string
          description: "full name of search engine location\nrequired field if you don’t specify location_code\nif you use
            this field, you don’t need to specify location_code\nyou can receive the list of available locations of the search
            engine with their location_name by making a separate request to https://api.dataforseo.com/v3/app_data/apple/locations\n\
            example:\nWest Los Angeles,California,United States"
          nullable: true
        location_code:
          type: integer
          description: "search engine location code\nrequired field if you don’t specify location_name\nif you use this field,
            you don’t need to specify location_name\nyou can receive the list of available locations of the search engine
            with their location_code by making a separate request to https://api.dataforseo.com/v3/app_data/apple/locations\n\
            example:\n9061121"
          nullable: true
        language_name:
          type: string
          description: "full name of search engine language\nrequired field if language_code is not specified\nif you use
            this field, you don’t need to specify language_code\nyou can receive the list of available languages with language_name
            by making a separate request to https://api.dataforseo.com/v3/app_data/apple/languages\nexample:\nEnglish"
          nullable: true
        language_code:
          type: string
          description: "search engine language code\nrequired field if language_name is not specified\nif you use this field,
            you don’t need to specify language_name\nyou can receive the list of available languages with their language_code by
            making a separate request to https://api.dataforseo.com/v3/app_data/apple/languages\nexample:\nen"
          nullable: true
        priority:
          type: integer
          description: "task priority\noptional field\ncan take the following values:\n1 – normal execution priority (set
            by default)\n2 – high execution priority\nYou will be additionally charged for the tasks with high execution priority.\n\
            The cost can be calculated on the Pricing page."
          nullable: true
        depth:
          type: integer
          description: "parsing depth\noptional field\nnumber of results to be returned from the App Store SERP;\nwe strongly
            recommend setting the parsing depth in the multiples of 100, because our system processes 100 results in a row;\n\
            default value: 100\nmaximum value: 700\nYour account will be billed per each SERP containing up to 100 results;\n\
            Setting depth above 100 may result in additional charges if the search engine returns more than 100 results;\n\
            The cost can be calculated on the Pricing page."
          nullable: true
        tag:
          type: string
          description: "user-defined task identifier\noptional field\nthe character limit is 255\nyou can use this parameter
            to identify the task and match it with the result\nyou will find the specified tag value in the data object of
            the response"
          nullable: true
        postback_url:
          type: string
          description: "URL for sending task results\noptional field\nonce the task is completed, we will send a POST request
            with its results compressed in the gzip format to the postback_url you specified\nyou can use the ‘$id’ string
            as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the
            request.\nexample:\nhttp://your-server.com/postbackscript?id=$id\nhttp://your-server.com/postbackscript?id=$id&tag=$tag\n\
            Note: special characters in postback_url will be urlencoded;\ni.a., the # character will be encoded into %23\n\
            learn more on our Help Center"
          nullable: true
        postback_data:
          type: string
          description: "postback_url datatype\nrequired field if you specify postback_url\ncorresponds to the datatype that
            will be sent to your server\npossible values:\nadvanced"
          nullable: true
        pingback_url:
          type: string
          description: "notification URL of a completed task\noptional field\nwhen a task is completed we will notify you
            by GET request sent to the URL you have specified\nyou can use the ‘$id’ string as a $id variable and ‘$tag’ as
            urlencoded $tag variable. We will set the necessary values before sending the request.\nexample:\nhttp://your-server.com/pingscript?id=$id\n\
            http://your-server.com/pingscript?id=$id&tag=$tag\nNote: special characters in pingback_url will be urlencoded;\n\
            i.a., the # character will be encoded into %23\nlearn more on our Help Center"
          nullable: true
      example:
      - keyword: vpn
        location_code: 2840
        language_code: en
        depth: 200
    AppDataGoogleAppInfoTaskPostRequestInfo:
      type: object
      properties:
        app_id:
          type: string
          description: "id of the app\nrequired field\nID of the mobile application on Google Play;\nyou can find the ID in
            the URL of every app listed on Google Play;\nexample:\nin the URL https://play.google.com/store/apps/details?id=org.telegram.messenger\n\
            the id is org.telegram.messenger"
        location_name:
          type: string
          description: "full name of search engine location\nrequired field if you don’t specify location_code\nif you use
            this field, you don’t need to specify location_code\nyou can receive the list of available locations of the search
            engine with their location_name by making a separate request to https://api.dataforseo.com/v3/app_data/google/locations\n\
            example:\nWest Los Angeles,California,United States"
          nullable: true
        location_code:
          type: integer
          description: "search engine location code\nrequired field if you don’t specify location_name\nif you use this field,
            you don’t need to specify location_name\nyou can receive the list of available locations of the search engine
            with their location_code by making a separate request to https://api.dataforseo.com/v3/app_data/google/locations\n\
            example:\n9061121"
          nullable: true
        language_name:
          type: string
          description: "full name of search engine language\nrequired field if language_code is not specified\nif you use
            this field, you don’t need to specify language_code\nyou can receive the list of available languages with language_name
            by making a separate request to https://api.dataforseo.com/v3/app_data/google/languages\nexample:\nEnglish"
          nullable: true
        language_code:
          type: string
          description: "search engine language code\nrequired field if language_name is not specified\nif you use this field,
            you don’t need to specify language_name\nyou can receive the list of available languages with their language_code by
            making a separate request to https://api.dataforseo.com/v3/app_data/google/languages\nexample:\nen"
          nullable: true
        priority:
          type: integer
          description: "task priority\noptional field\ncan take the following values:\n1 – normal execution priority (set
            by default)\n2 – high execution priority\nYou will be additionally charged for the tasks with high execution priority.\n\
            The cost can be calculated on the Pricing page."
          nullable: true
        tag:
          type: string
          description: "user-defined task identifier\noptional field\nthe character limit is 255\nyou can use this parameter
            to identify the task and match it with the result\nyou will find the specified tag value in the data object of
            the response"
          nullable: true
        postback_url:
          type: string
          description: "URL for sending task results\noptional field\nonce the task is completed, we will send a POST request
            with its results compressed in the gzip format to the postback_url you specified\nyou can use the ‘$id’ string
            as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the
            request.\nexample:\nhttp://your-server.com/postbackscript?id=$id\nhttp://your-server.com/postbackscript?id=$id&tag=$tag\n\
            Note: special characters in postback_url will be urlencoded;\ni.a., the # character will be encoded into %23"
          nullable: true
        postback_data:
          type: string
          description: "postback_url datatype\nrequired field if you specify postback_url\ncorresponds to the datatype that
            will be sent to your server\npossible values:\nadvanced, html"
          nullable: true
        pingback_url:
          type: string
          description: "notification URL of a completed task\noptional field\nwhen a task is completed we will notify you
            by GET request sent to the URL you have specified\nyou can use the ‘$id’ string as a $id variable and ‘$tag’ as
            urlencoded $tag variable. We will set the necessary values before sending the request.\nexample:\nhttp://your-server.com/pingscript?id=$id\n\
            http://your-server.com/pingscript?id=$id&tag=$tag\nNote: special characters in pingback_url will be urlencoded;\n\
            i.a., the # character will be encoded into %23"
          nullable: true
      example:
      - app_id: org.telegram.messenger
        location_code: 2840
        language_code: en
    AppDataGoogleAppListTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppListTasksReadyTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataGoogleAppListTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppListTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataGoogleAppListTasksReadyResultInfo:
      type: object
      properties:
        id:
          type: string
          description: "task identifier of the completed task\nunique task identifier in our system in the UUID format"
          nullable: true
        se:
          type: string
          description: search engine specified when setting the task
          nullable: true
        se_type:
          type: string
          description: search engine type
          nullable: true
        date_posted:
          type: string
          description: date when the task was posted (in the UTC format)
          nullable: true
        tag:
          type: string
          description: user-defined task identifier
          nullable: true
        endpoint_advanced:
          type: string
          description: URL for collecting the results of the Google App List task
          nullable: true
        endpoint_html:
          type: string
          description: "URL for collecting the results of the Google App List HTML task\nif HTML tasks are not supported in
            the specified endpoint, the value will be null"
          nullable: true
    AppDataGoogleAppListTaskGetAdvancedResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppListTaskGetAdvancedTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataGoogleAppListTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppListTaskGetAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataGoogleAppListTaskGetAdvancedResultInfo:
      type: object
      properties:
        keyword:
          type: string
          description: app collection received in a POST array
          nullable: true
        se_domain:
          type: string
          description: search engine domain in a POST array
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        check_url:
          type: string
          description: "direct URL to search engine results\nyou can use it to make sure that we provided accurate results"
          nullable: true
        datetime:
          type: string
          description: "date and time when the result was received\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n\
            2019-11-15 12:57:46 +00:00"
          nullable: true
        se_results_count:
          type: integer
          description: the total number of results
          format: int64
          nullable: true
        items_count:
          type: integer
          description: "the number of app items in the results array\nyou can get more results by using the depth parameter
            when setting a task"
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/GooglePlaySearchOrganic'
            nullable: true
          description: found apps
          nullable: true
    GooglePlaySearchOrganic:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: "position within a group of elements with identical type values\npositions of elements with different
            type values are omitted from rank_group"
          nullable: true
        rank_absolute:
          type: integer
          description: "absolute rank in SERP\nabsolute position among all the elements in SERP"
          nullable: true
        position:
          type: string
          description: "the alignment of the element in SERP\ncan take the following values:\nleft, right"
          nullable: true
        app_id:
          type: string
          description: id of the app
          nullable: true
        title:
          type: string
          description: title of the app
          nullable: true
        url:
          type: string
          description: URL to the app page on Google Play
          nullable: true
        icon:
          type: string
          description: URL to the app icon
          nullable: true
        reviews_count:
          type: integer
          description: the total number of reviews of the app
          format: int64
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: average rating of the app
          nullable: true
        is_free:
          type: boolean
          description: indicates whether the app is free
          nullable: true
        price:
          type: object
          oneOf:
          - $ref: '#/components/schemas/PriceInfo'
          description: price of the app
          nullable: true
        developer:
          type: string
          description: name of the app developer
          nullable: true
        developer_url:
          type: string
          description: URL to the developer page on Google Play
          nullable: true
    AppDataGoogleAppReviewsTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppReviewsTasksReadyTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppDataGoogleAppReviewsTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppDataGoogleAppReviewsTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppDataGoogleAppReviewsTasksReadyResultInfo:
      type: object
      properties:
        id:
          type: string
          description: "task identifier of the completed task\nunique task identifier in our system in the UUID format"
          nullable: true
        se:
          type: string
          description: search engine specified when setting the task
          nullable: true
        se_type:
          type: string
          description: search engine type
          nullable: true
        date_posted:
          type: string
          description: date when the task was posted (in the UTC format)
          nullable: true
        tag:
          type: string
          description: user-defined task identifier
          nullable: true
        endpoint_advanced:
          type: string
          description: URL for collecting the results of the Google App Reviews task
          nullable: true
        endpoint_html:
          type: string
          description: "URL for collecting the results of the Google App Reviews HTML task\nif HTML tasks are not supported
            in the specified endpoint, the value will be null"
          nullable: true
    AppDataGoogleAppListTaskPostRequestInfo:
      type: object
      properties:
        app_collection:
          type: string
          description: "app collection\nrequired field\napp collection on Google Play from which apps will be collected;\n\
            you can specify the following values:\nfeatured, topselling_paid, topselling_free, topselling_new_free, topselling_new_paid,
            topgrossing, movers_shakers\nNote: if featured is selected, the app_category parameter cannot be used"
        location_name:
          type: string
          description: "full name of search engine location\nrequired field if you don’t specify location_code\nif you use
            this field, you don’t need to specify location_code\nyou can receive the list of available locations of the search
            engine with their location_name by making a separate request to https://api.dataforseo.com/v3/app_data/google/locations\n\
            example:\nWest Los Angeles,California,United States"
          nullable: true
        location_code:
          type: integer
          description: "search engine location code\nrequired field if you don’t specify location_name\nif you use this field,
            you don’t need to specify location_name\nyou can receive the list of available locations of the search engine
            with their location_code by making a separate request to https://api.dataforseo.com/v3/app_data/google/locations\n\
            example:\n9061121"
          nullable: true
        language_name:
          type: string
          description: "full name of search engine language\nrequired field if language_code is not specified\nif you use
            this field, you don’t need to specify language_code\nyou can receive the list of available languages with language_name
            by making a separate request to https://api.dataforseo.com/v3/app_data/google/languages\nexample:\nEnglish"
          nullable: true
        language_code:
          type: string
          description: "search engine language code\nrequired field if language_name is not specified\nif you use this field,
            you don’t need to specify language_name\nyou can receive the list of available languages with their language_code by
            making a separate request to https://api.dataforseo.com/v3/app_data/google/languages\nexample:\nen"
          nullable: true
        priority:
          type: integer
          description: "task priority\noptional field\ncan take the following values:\n1 – normal execution priority (set
            by default)\n2 – high execution priority\nYou will be additionally charged for the tasks with high execution priority.\n\
            The cost can be calculated on the Pricing page."
          nullable: true
        depth:
          type: integer
          description: "parsing depth\noptional field\nnumber of apps to be returned in the API response;\nwe strongly recommend
            setting the parsing depth in the multiples of 100, because our system processes 100 results in a row;\ndefault
            value: 100;\nmaximum value: 200;\nYour account will be billed per each SERP containing up to 100 results;\nSetting
            depth above 100 may result in additional charges if the search engine returns more than 100 results;\nThe cost
            can be calculated on the Pricing page."
          nullable: true
        app_category:
          type: string
          description: "application category on Google Play\noptional field\nyou can filter the results by app category;\n\
            example:\nfamily;\nyou can receive the full list of available categories by making a separate request to https://api.dataforseo.com/v3/app_data/google/categories\n\
            Note: app_category cannot be used if app_collection parameter is set to featured"
          nullable: true
        age_rating:
          type: string
          description: "filter results by age rating\noptional field\nyou can use this field to filter the results by age
            rating;\npossible types of filtering:\nages_up_to_5 — return apps approved for children up to 5 years old;\nages_6_8
            — return apps approved for children from 6 to 8 years old;\nages_9_12 — return apps approved for children from
            9 to 12 years old;\nby default, the API returns apps for all ages;\nNote: this filter works only in conjunction
            with the \"category\": \"family\" parameter"
          nullable: true
        tag:
          type: string
          description: "user-defined task identifier\noptional field\nthe character limit is 255\nyou can use this parameter
            to identify the task and match it with the result\nyou will find the specified tag value in the data object of
            the response"
          nullable: true
        postback_url:
          type: string
          description: "URL for sending task results\noptional field\nonce the task is completed, we will send a POST request
            with its results compressed in the gzip format to the postback_url you specified\nyou can use the ‘$id’ string
            as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the
            request.\nexample:\nhttp://your-server.com/postbackscript?id=$id\nhttp://your-server.com/postbackscript?id=$id&tag=$tag\n\
            Note: special characters in postback_url will be urlencoded;\ni.a., the # character will be encoded into %23"
          nullable: true
        postback_data:
          type: string
          description: "postback_url datatype\nrequired field if you specify postback_url\ncorresponds to the datatype that
            will be sent to your server\npossible values:\nadvanced, html"
          nullable: true
        pingback_url:
          type: string
          description: "notification URL of a completed task\noptional field\nwhen a task is completed we will notify you
            by GET request sent to the URL you have specified\nyou can use the ‘$id’ string as a $id variable and ‘$tag’ as
            urlencoded $tag variable. We will set the necessary values before sending the request.\nexample:\nhttp://your-server.com/pingscript?id=$id\n\
            http://your-server.com/pingscript?id=$id&tag=$tag\nNote: special characters in pingback_url will be urlencoded;\n\
            i.a., the # character will be encoded into %23"
          nullable: true
      example:
      - app_collection: topselling_free
        location_code: 2840
        language_code: en
        depth: 100
    AppDataTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
[...]
