openapi: 3.2.0
info:
  title: DataForSEO Backlinks API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: Backlinks
paths:
  /v3/backlinks/id_list:
    post:
      tags:
      - Backlinks
      description: 'This endpoint is designed to provide you with a list of IDs and metadata for all Backlinks tasks created within the specified time period, including both successful and uncompleted tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/id_list/?bash'''
      operationId: BacklinksIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksIdListRequestInfo'
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksIdListResponseInfo'
      security:
      - basicAuth: []
      summary: Backlinks id list
      x-summary-source: derived
  /v3/backlinks/errors:
    post:
      tags:
      - Backlinks
      description: 'By calling this endpoint you will receive information about the Backlinks API tasks that returned an error within the past 7 days.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/errors/?bash'''
      operationId: BacklinksErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksErrorsRequestInfo'
              example:
              - limit: 10
                offset: 0
                filtered_function: backlinks/content_duplicates
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksErrorsResponseInfo'
      security:
      - basicAuth: []
      summary: Backlinks errors
      x-summary-source: derived
  /v3/backlinks/available_filters:
    get:
      tags:
      - Backlinks
      description: 'Backlinks API features plenty of parameters that support custom filtration. By applying filters to your POST requests, you will be able to effortlessly extract data that matches your requirements. Note that we do not charge any fees for using data filtering or sorting rules.

        ‌‌

        Here you will find all the necessary information about filters that can be used with DataForSEO Backlinks API endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/filters/?bash'''
      operationId: BacklinksAvailableFilters
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksAvailableFiltersResponseInfo'
      security:
      - basicAuth: []
      summary: Backlinks available filters
      x-summary-source: derived
  /v3/backlinks/index:
    get:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the total number of backlinks, domains, and pages our database contains for the moment when you make a request. You will also get stats for the last 12 months.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/index/?bash'''
      operationId: Index
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksIndexResponseInfo'
      security:
      - basicAuth: []
      summary: Index
      x-summary-source: derived
  /v3/backlinks/summary/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with an overview of backlinks data available for a given domain, subdomain, or webpage.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/summary/live/?bash'''
      operationId: SummaryLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksSummaryLiveRequestInfo'
              example:
              - target: explodingtopics.com
                internal_list_limit: 10
                include_subdomains: true
                backlinks_filters:
                - dofollow
                - '='
                - true
                backlinks_status_type: all
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksSummaryLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Summary live
      x-summary-source: derived
  /v3/backlinks/history/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with historical backlinks data back to the beginning of 2019. You can receive the number of backlinks a given domain had in a specific time period, the number of new & lost backlinks, referring domains, and more.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/history/live/?bash'''
      operationId: HistoryLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksHistoryLiveRequestInfo'
              example:
              - target: cnn.com
                date_from: '2026-01-15'
                date_to: '2026-03-15'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksHistoryLiveResponseInfo'
      security:
      - basicAuth: []
      summary: History live
      x-summary-source: derived
  /v3/backlinks/backlinks/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with a list of backlinks and relevant data for the specified domain, subdomain, or webpage.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/backlinks/live/?bash'''
      operationId: BacklinksLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBacklinksLiveRequestInfo'
              example:
              - target: forbes.com
                mode: as_is
                filters:
                - dofollow
                - '='
                - true
                limit: 5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBacklinksLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Backlinks live
      x-summary-source: derived
  /v3/backlinks/anchors/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with a detailed overview of anchors used when linking to the specified website with relevant backlink data for each of them.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/anchors/live/?bash'''
      operationId: AnchorsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksAnchorsLiveRequestInfo'
              example:
              - target: forbes.com
                limit: 4
                order_by:
                - backlinks,desc
                filters:
                - anchor
                - like
                - '%news%'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksAnchorsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Anchors live
      x-summary-source: derived
  /v3/backlinks/domain_pages/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with a detailed overview of domain pages with backlink data for each page.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/domain_pages/live/?bash'''
      operationId: DomainPagesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksDomainPagesLiveRequestInfo'
              example:
              - target: forbes.com
                limit: 5
                filters:
                - - page_summary.backlinks
                  - '>'
                  - 5
                - and
                - - page
                  - like
                  - '%sites%'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksDomainPagesLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Domain pages live
      x-summary-source: derived
  /v3/backlinks/domain_pages_summary/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with detailed summary data on all backlinks and related metrics for each page of the target domain or subdomain you specify. If you indicate a single page as a target, you will get comprehensive summary data on all backlinks for that page.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/domain_pages_summary/live/?bash'''
      operationId: DomainPagesSummaryLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksDomainPagesSummaryLiveRequestInfo'
              example:
              - target: forbes.com
                limit: 4
                order_by:
                - backlinks,desc
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksDomainPagesSummaryLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Domain pages summary live
      x-summary-source: derived
  /v3/backlinks/referring_domains/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with a detailed overview of referring domains pointing to the target you specify.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/referring_domains/live/?bash'''
      operationId: ReferringDomainsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksReferringDomainsLiveRequestInfo'
              example:
              - target: backlinko.com
                limit: 5
                order_by:
                - rank,desc
                exclude_internal_backlinks: true
                backlinks_filters:
                - dofollow
                - '='
                - true
                filters:
                - backlinks
                - '>'
                - 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksReferringDomainsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Referring domains live
      x-summary-source: derived
  /v3/backlinks/referring_networks/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with a detailed overview of referring IPs and subnets pointing to the target you specify.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/referring_networks/live/?bash'''
      operationId: ReferringNetworksLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksReferringNetworksLiveRequestInfo'
              example:
              - target: backlinko.com
                network_address_type: subnet
                limit: 5
                order_by:
                - rank,desc
                exclude_internal_backlinks: true
                backlinks_filters:
                - dofollow
                - '='
                - true
                filters:
                - backlinks
                - '>'
                - 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksReferringNetworksLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Referring networks live
      x-summary-source: derived
  /v3/backlinks/competitors/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with a list of competitors that share some part of the backlink profile with a target website, along with a number of backlink intersections and the rank of every competing website.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/competitors/live/?bash'''
      operationId: CompetitorsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksCompetitorsLiveRequestInfo'
              example:
              - target: dataforseo.com
                filters:
                - rank
                - '>'
                - 100
                order_by:
                - rank,desc
                limit: 5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksCompetitorsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Competitors live
      x-summary-source: derived
  /v3/backlinks/domain_intersection/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the list of domains pointing to the specified websites. This endpoint is especially useful for creating a Link Gap feature that shows what domains link to your competitors but do not link out to your website.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/domain_intersection/live/?bash'''
      operationId: DomainIntersectionLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksDomainIntersectionLiveRequestInfo'
              example:
              - targets:
                  '1': moz.com
                  '2': ahrefs.com
                include_subdomains: false
                exclude_targets:
                - semrush.com
                limit: 5
                order_by:
                - 1.backlinks,desc
                exclude_internal_backlinks: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksDomainIntersectionLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Domain intersection live
      x-summary-source: derived
  /v3/backlinks/page_intersection/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the list of referring pages pointing to the specified targets. It is especially useful for finding the backlinks that point to your competitors but don’t point to your website.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/page_intersection/live/?bash'''
      operationId: PageIntersectionLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksPageIntersectionLiveRequestInfo'
              example:
              - targets:
                  '1': football.com
                  '2': fifa.com
                exclude_targets:
                - skysports.com
                limit: 5
                order_by:
                - 1.rank,desc
                filters:
                - - 2.domain_from_rank
                  - '>'
                  - 400
                - and
                - - 1.dofollow
                  - '='
                  - true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksPageIntersectionLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Page intersection live
      x-summary-source: derived
  /v3/backlinks/timeseries_summary/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with an overview of backlink data for the target domain available during a period between the two indicated dates. Backlink metrics will be grouped by the time range that you define: day, week, month, or year.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/timeseries_summary/live/?bash'''
      operationId: TimeseriesSummaryLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksTimeseriesSummaryLiveRequestInfo'
              example:
              - target: dataforseo.com
                date_from: '2026-01-15'
                date_to: '2026-03-15'
                group_range: month
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksTimeseriesSummaryLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Timeseries summary live
      x-summary-source: derived
  /v3/backlinks/timeseries_new_lost_summary/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the number of new and lost backlinks and referring domains for the domain specified in the target field.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/timeseries_new_lost_summary/live/?bash'''
      operationId: TimeseriesNewLostSummaryLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksTimeseriesNewLostSummaryLiveRequestInfo'
              example:
              - target: dataforseo.com
                date_from: '2026-01-15'
                date_to: '2026-03-15'
                group_range: month
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksTimeseriesNewLostSummaryLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Timeseries new lost summary live
      x-summary-source: derived
  /v3/backlinks/bulk_ranks/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with rank scores of the domains, subdomains, and pages specified in the targets array. The score is based on the number of referring domains pointing to the specified domains, subdomains, or pages. The rank values represent real-time data for the date of the request and range from 0 (no backlinks detected) to 1,000 (highest rank). A similar scoring system is used in Google’s Page Rank algorithm. You can learn more about rank scores in this help center article

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/bulk_ranks/live/?bash'''
      operationId: BulkRanksLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkRanksLiveRequestInfo'
              example:
              - targets:
                - forbes.com
                - cnn.com
                - bbc.com
                - yelp.com
                - https://www.apple.com/iphone/
                - https://ahrefs.com/blog/
                - ibm.com
                - https://variety.com/
                - https://stackoverflow.com/
                - www.trustpilot.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkRanksLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Bulk ranks live
      x-summary-source: derived
  /v3/backlinks/bulk_backlinks/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the number of backlinks pointing to domains, subdomains, and pages specified in the targets array. The returned numbers correspond to all live backlinks, that is, total number of referring links with all attributes (e.g., nofollow, noreferrer, ugc, sponsored etc) that were found during the latest check.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/bulk_backlinks/live/?bash'''
      operationId: BulkBacklinksLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkBacklinksLiveRequestInfo'
              example:
              - targets:
                - forbes.com
                - cnn.com
                - bbc.com
                - yelp.com
                - https://www.apple.com/iphone/
                - https://ahrefs.com/blog/
                - ibm.com
                - https://variety.com/
                - https://stackoverflow.com/
                - www.trustpilot.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkBacklinksLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Bulk backlinks live
      x-summary-source: derived
  /v3/backlinks/bulk_spam_score/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with spam scores of the domains, subdomains, and pages you specified in the targets array. Spam Score is DataForSEO’s proprietary metric that indicates how “spammy” your target is on a scale from 0 to 100. You can learn more about Spam Score, how it is calculated, and signals it takes into account in this help center article

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/bulk_spam_score/live/?bash'''
      operationId: BulkSpamScoreLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkSpamScoreLiveRequestInfo'
              example:
              - targets:
                - forbes.com
                - cnn.com
                - bbc.com
                - yelp.com
                - https://www.apple.com/iphone/
                - https://ahrefs.com/blog/
                - ibm.com
                - https://variety.com/
                - https://stackoverflow.com/
                - www.trustpilot.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkSpamScoreLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Bulk spam score live
      x-summary-source: derived
  /v3/backlinks/bulk_referring_domains/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the number of referring domains pointing to domains, subdomains, and pages specified in the targets array. The returned numbers are based on all live referring domains, that is, total number of domains pointing to the target with any type of backlinks (e.g., nofollow, noreferrer, ugc, sponsored etc) that were found during the latest check.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/bulk_referring_domains/live/?bash'''
      operationId: BulkReferringDomainsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkReferringDomainsLiveRequestInfo'
              example:
              - targets:
                - forbes.com
                - cnn.com
                - bbc.com
                - yelp.com
                - https://www.apple.com/iphone/
                - https://ahrefs.com/blog/
                - ibm.com
                - https://variety.com/
                - https://stackoverflow.com/
                - www.trustpilot.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkReferringDomainsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Bulk referring domains live
      x-summary-source: derived
  /v3/backlinks/bulk_new_lost_backlinks/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the number of new and lost backlinks for the domains, subdomains, and pages specified in the targets array.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/bulk_new_lost_backlinks/live/?bash'''
      operationId: BulkNewLostBacklinksLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkNewLostBacklinksLiveRequestInfo'
              example:
              - targets:
                - forbes.com
                - cnn.com
                - bbc.com
                - yelp.com
                - https://www.apple.com/iphone/
                - https://ahrefs.com/blog/
                - ibm.com
                - https://variety.com/
                - https://stackoverflow.com/
                - www.trustpilot.com
                date_from: '2026-01-15'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkNewLostBacklinksLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Bulk new lost backlinks live
      x-summary-source: derived
  /v3/backlinks/bulk_new_lost_referring_domains/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the number of referring domains pointing to the domains, subdomains and pages specified in the targets array.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/bulk_new_lost_referring_domains/live/?bash'''
      operationId: BulkNewLostReferringDomainsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkNewLostReferringDomainsLiveRequestInfo'
              example:
              - targets:
                - forbes.com
                - cnn.com
                - bbc.com
                - yelp.com
                - https://www.apple.com/iphone/
                - https://ahrefs.com/blog/
                - ibm.com
                - https://variety.com/
                - https://stackoverflow.com/
                - www.trustpilot.com
                date_from: '2026-01-15'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkNewLostReferringDomainsLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Bulk new lost referring domains live
      x-summary-source: derived
  /v3/backlinks/bulk_pages_summary/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with a comprehensive overview of backlinks and related data for a bulk of up to 1000 pages, domains, or subdomains. If you indicate a single page as a target, you will get comprehensive summary data on all backlinks for that page.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/bulk_pages_summary/live/?bash'''
      operationId: BulkPagesSummaryLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkPagesSummaryLiveRequestInfo'
              example:
              - targets:
                - https://dataforseo.com/solutions
                - https://dataforseo.com/about-us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkPagesSummaryLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Bulk pages summary live
      x-summary-source: derived
components:
  schemas:
    BacklinksTimeseriesSummaryLiveItem:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: type of element
        date:
          type:
          - string
          - 'null'
          description: 'date and time when the data for the target was stored

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        rank:
          type:
          - integer
          - 'null'
          description: 'target rank for the given date

            learn more about the metric and how it is calculated in this help center article'
        backlinks:
          type:
          - integer
          - 'null'
          description: number of backlinks for the given date
          format: int64
        backlinks_nofollow:
          type:
          - integer
          - 'null'
          description: number of nofollow backlinks for the given date
          format: int64
        referring_pages:
          type:
          - integer
          - 'null'
          description: number of pages pointing to target for the given date
          format: int64
        referring_pages_nofollow:
          type:
          - integer
          - 'null'
          description: number of referring pages pointing at least one nofollow link to the target for the given date
          format: int64
        referring_domains:
          type:
          - integer
          - 'null'
          description: 'number of referring domains for the given date

            referring domains include subdomains that are counted as separate domains for this metric'
          format: int64
        referring_domains_nofollow:
          type:
          - integer
          - 'null'
          description: number of domains pointing at least one nofollow link to the target for the given date
          format: int64
        referring_main_domains:
          type:
          - integer
          - 'null'
          description: number of referring main domains for the given date
          format: int64
        referring_main_domains_nofollow:
          type:
          - integer
          - 'null'
          description: number of main domains pointing at least one nofollow link to the target for the given date
          format: int64
        referring_ips:
          type:
          - integer
          - 'null'
          description: 'number of referring IP addresses for the given date

            number of IP addresses pointing to this page'
          format: int64
        referring_subnets:
          type:
          - integer
          - 'null'
          description: number of referring subnetworks for the given date
          format: int64
    BacklinksBulkReferringDomainsLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BacklinksBulkReferringDomainsLiveTaskInfo'
            description: array of tasks
    BacklinksCompetitorsLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BacklinksCompetitorsLiveTaskInfo'
            description: array of tasks
    BacklinksDomainIntersectionLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BacklinksDomainIntersectionLiveResultInfo'
            description: array of results
    BacklinksReferringDomainsLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BacklinksReferringDomainsLiveResultInfo'
            description: array of results
    IndexHistory:
      type: object
      properties:
        date:
          type:
          - string
          - 'null'
          description: 'date for which index volume data is provided

            in the UTC format: “yyyy-mm-dd”

            example:

            2021-10-01'
        total_backlinks:
          type:
          - integer
          - 'null'
          description: total number of backlinks our database contained on the given date
          format: int64
        total_pages:
          type:
          - integer
          - 'null'
          description: total number of pages our database contained on the given date
          format: int64
    BacklinksDomainPagesSummaryLiveResultInfo:
      type: object
      properties:
        target:
          type:
          - string
          - 'null'
          description: target in the post array
        total_count:
          type:
          - integer
          - 'null'
          description: total number of relevant items in the database
          format: int64
        items_count:
          type:
          - integer
          - 'null'
          description: number of items in the results array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/BacklinksDomainPagesSummaryLiveItem'
          description: items array
    BacklinksBulkSpamScoreLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BacklinksBulkSpamScoreLiveResultInfo'
            description: array of results
    BacklinksDomainPagesLiveRequestInfo:
      type: object
      properties:
        target:
          type: string
          description: 'domain or subdomain

            required field

            a domain or a subdomain should be specified without https:// and www.

            example:

            forbes.com'
        limit:
          type:
          - integer
          - 'null'
          description: 'the maximum number of returned pages

            optional field

            default value: 100

            maximum value: 1000'
        offset:
          type:
          - integer
          - 'null'
          description: 'offset in the results array of returned pages

            optional field

            default value: 0

            if you specify the 10 value, the first ten pages in the results array will be omitted and the data will be provided for the successive pages'
        internal_list_limit:
          type:
          - integer
          - 'null'
          description: 'maximum number of elements within internal arrays

            optional field

            you can use this field to limit the number of elements within the following arrays:

            referring_links_tld

            referring_links_types

            referring_links_attributes

            referring_links_platform_types

            referring_links_semantic_locations

            default value: 10

            maximum value: 1000'
        backlinks_status_type:
          type:
          - string
          - 'null'
          description: 'set what backlinks to return and count

            optional field

            you can use this field to choose what backlinks will be returned and used for aggregated metrics;

            possible values:

            all – all backlinks will be returned and counted;

            live – backlinks found during the last check will be returned and counted;

            lost – lost backlinks will be returned and counted;

            default value: live'
        filters:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, =, <>, in, not_in, like, not_like, ilike, not_ilike, match, not_match

            you can use the % operator with like and not_like to match any string of zero or more characters

            example:

            ["meta.internal_links_count",">","1"]

            [["meta.external_links_count",">","2"],

            "and",

            ["backlinks",">","10"]]

            [["first_visited",">","2017-10-23 11:31:45 +00:00"],

            "and",

            [["title","like","%seo%"],"or",["referring_domains",">","10"]]]

            The full list of possible filters is available here.'
        order_by:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'results sorting rules

            optional field

            you can use the same values as in the filters array to sort the results

            possible sorting types:

            asc – results will be sorted in the ascending order

            desc – results will be sorted in the descending order

            you should use a comma to set up a sorting type

            example:

            ["page_summary.backlinks,desc"]

            note that you can set no more than three sorting rules in a single request

            you should use a comma to separate several sorting rules

            example:

            ["page_summary.backlinks,desc","page_summary.rank,asc"]'
        backlinks_filters:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
          description: 'filter the backlinks of your target

            optional field

            you can use this field to filter the initial backlinks that will be included in the dataset for aggregated metrics for your target

            you can filter the backlinks by all fields available in the response of this endpoint

            using this parameter, you can include only dofollow backlinks in the response and create a flexible backlinks dataset to calculate the metrics for

            example:

            "backlinks_filters": ["dofollow", "=", true]'
        include_subdomains:
          type:
          - boolean
          - 'null'
          description: 'indicates if the subdomains of the target will be included in the search

            optional field

            if set to false, the subdomains will be ignored

            default value: true'
        exclude_internal_backlinks:
          type:
          - boolean
          - 'null'
          description: 'indicates if internal backlinks from subdomains to the target will be excluded from the results

            optional field

            if set to true, the results will not include data on internal backlinks from subdomains of the same domain as target

            if set to false, internal links will be included in the results

            default value: true'
        rank_scale:
          type:
          - string
          - 'null'
          description: 'defines the scale used for calculating and displaying the rank, domain_from_rank, and page_from_rank values

            optional field

            you can use this parameter to choose whether rank values are presented on a 0–100 or 0–1000 scale

            possible values:

            one_hundred — rank values are displayed on a 0–100 scale

            one_thousand — rank values are displayed on a 0–1000 scale

            default value: one_thousand

            learn more about how this parameter works and how ranking metrics are calculated in this Help Center article'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
      example:
      - target: forbes.com
        limit: 5
        filters:
        - - page_summary.backlinks
          - '>'
          - 5
        - and
        - - page
          - like
          - '%sites%'
    BacklinksErrorsResultInfo:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: id of the task
        datetime:
          type:
          - string
          - 'null'
          description: 'date and time when an error occurred

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        function:
          type:
          - string
          - 'null'
          description: corresponding API function
        error_code:
          type:
          - integer
          - 'null'
          description: error code
        error_message:
          type:
          - string
          - 'null'
          description: 'error message or error URL

            error message (see full list) or URL that caused an error'
        http_url:
          type:
          - string
          - 'null'
          description: 'URL that caused an error

            URL you used for making an API call'
        http_method:
          type:
          - string
          - 'null'
          description: HTTP method
        http_code:
          type:
          - integer
          - 'null'
          description: HTTP status code
        http_time:
          type:
          - integer
          - 'null'
          description: time taken by HTTP request
        http_response:
          type:
          - string
          - 'null'
          description: 'HTTP response

            server response'
    BacklinksDomainIntersectionLiveRequestInfo:
      type: object
      properties:
        targets:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
          description: 'domains, subdomains or webpages to get links for

            required field

            you can set up to 20 domains, subdomains or webpages

            a domain or a subdomain should be specified without https:// and www.

            a page should be specified with absolute URL (including http:// or https://)

            example:

            "targets": {

            "1": "http://planet.postgresql.org/",

            "2": "http://gborg.postgresql.org/"

            }'
        exclude_targets:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'domains, subdomains or webpages you want to exclude

            optional field

            you can specify up to 10 domains, subdomains or webpages

            if you use this array, results will contain the referring domains that link to targets but don’t link to exclude_targets

            example:

            "exclude_targets": [

            "bbc.com",

            "https://www.apple.com/iphone/*",

            "https://dataforseo.com/apis/*"]'
        filters:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, =, <>, in, not_in, like, not_like, ilike, not_ilike, match, not_match

            you can use the % operator with like and not_like to match any string of zero or more characters

            example:

            ["1.internal_links_count",">","1"]

            [["2.referring_pages",">","2"],

            "and",

            ["1.backlinks",">","10"]]

            [["1.first_seen",">","2017-10-23 11:31:45 +00:00"],

            "and",

            [["2.target","like","%dataforseo.com%"],"or",["1.referring_domains",">","10"]]]

            The full list of possible filters is available here.'
        order_by:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'results sorting rules

            optional field

            you can use the same values as in the filters array to sort the results

            possible sorting types:

            asc – results will be sorted in the ascending order

            desc – results will be sorted in the descending order

            you should use a comma to set up a sorting type

            example:

            ["backlinks,desc"]

            note that you can set no more than three sorting rules in a single request

            you should use a comma to separate several sorting rules

            example:

            ["backlinks,desc","rank,asc"]'
        offset:
          type:
          - integer
          - 'null'
          description: 'offset in the array of returned results

            optional field

            default value: 0

            if you specify the 10 value, the first ten backlinks in the results array will be omitted and the data will be provided for the successive backlinks'
        limit:
          type:
          - integer
          - 'null'
          description: 'the maximum number of returned results

            optional field

            default value: 100

            maximum value: 1000'
        internal_list_limit:
          type:
          - integer
          - 'null'
          description: 'maximum number of elements within internal arrays

            optional field

            you can use this field to limit the number of elements within the following arrays:

            referring_links_tld

            referring_links_types

            referring_links_attributes

            referring_links_platform_types

            referring_links_semantic_locations

            default value: 10

            maximum value: 1000'
        backlinks_status_type:
          type:
          - string
          - 'null'
          description: 'set what backlinks to return and count

            optional field

            you can use this field to choose what backlinks will be returned and used for aggregated metrics for your targets;

            possible values:

            all – all backlinks will be returned and counted;

            live – backlinks found during the last check will be returned and counted;

            lost – lost backlinks will be returned and counted;

            default value: live'
        backlinks_filters:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
          description: 'filter the backlinks of your target

            optional field

            you can use this field to filter the initial backlinks that will be included in the dataset for aggregated metrics for your target

            you can filter the backlinks by all fields available in the response of this endpoint

            using this parameter, you can include only dofollow backlinks in the response and create a flexible backlinks dataset to calculate the metrics for

            example:

            "backlinks_filters": [["dofollow", "=", true]]'
        include_subdomains:
          type:
          - boolean
          - 'null'
          description: 'indicates if the subdomains of the target will be included in the search

            optional field

            if set to false, the subdomains will be ignored

            default value: true'
        include_indirect_links:
          type:
          - boolean
          - 'null'
          description: 'indicates if indirect links to the targets will be included in the results

            optional field

            if set to true, the results will include data on indirect links pointing to a page that either redirects to a target, or points to a canonical page

            if set to false, indirect links will be ignored

            default value: true'
        exclude_internal_backlinks:
          type:
          - boolean
          - 'null'
          description: 'indicates whether the backlinks from subdomains of the target are excluded

            optional field

            if set to false, the backlinks from subdomains of the target will be omitted and you won’t receive the same domain in the response;

            default value: true'
        intersection_mode:
          type:
          - string
          - 'null'
          description: 'indicates whether to intersect backlinks

            optional field

            use this field to intersect or merge results for the specified domains

            possible values: all, partial

            all – results are based on all backlinks;

            partial – results are based on the intersecting backlinks only;

            default value: all'
        rank_scale:
          type:
          - string
          - 'null'
          description: 'defines the scale used for calculating and displaying the rank, domain_from_rank, and page_from_rank values

            optional field

            you can use this parameter to choose whether rank values are presented on a 0–100 or 0–1000 scale

            possible values:

            one_hundred — rank values are displayed on a 0–100 scale

            one_thousand — rank values are displayed on a 0–1000 scale

            default value: one_thousand

            learn more about how this parameter works and how ranking metrics are calculated in this Help Center article'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
      example:
      - targets:
          '1': moz.com
          '2': ahrefs.com
        include_subdomains: false
        exclude_targets:
        - semrush.com
        limit: 5
        order_by:
        - 1.backlinks,desc
        exclude_internal_backlinks: true
    BacklinksTimeseriesNewLostSummaryLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BacklinksTimeseriesNewLostSummaryLiveResultInfo'
            description: array of results
    BacklinksHistoryLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BacklinksHistoryLiveTaskInfo'
            description: array of tasks
    BacklinksIndexTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BacklinksIndexResultInfo'
            description: array of results
    BacklinksDomainIntersectionLiveResultInfo:
      type: object
      properties:
        targets:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
          description: target domains, subdomains or webpages in a POST array
        total_count:
          type:
          - integer
          - 'null'
          description: total amount of results relevant to your request
          format: int64
        items_count:
          type:
          - integer
          - 'null'
          description: the number of results returned in the items array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/BacklinksDomainIntersectionLiveItem'
          description: contains domain that link to all targets from the POST array
    BacklinksDomainPagesSummaryLiveItem:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: type of element
        url:
          type:
          - string
          - 'null'
          description: page URL
        rank:
          type:
          - integer
          - 'null'
          description: 'page rank

            rank of the page

            rank is calculated based on the method for node ranking in a linked database – a principle used in the original Google PageRank algorithm

            learn more about the metric and how it is calculated in this help center article'
        backlinks:
          type:
          - integer
          - 'null'
          description: number of backlinks
          format: int64
        first_seen:
          type:
          - string
          - 'null'
          description: 'date and time when our crawler found a backlink to this page for the first time

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        lost_date:
          type:
          - string
          - 'null'
          description: 'date and time when the last backlink to this page was lost

            indicates the date and time when our crawler visited the page and it responded with 4xx or 5xx status code or the last backlink was removed

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2017-01-24 13:20:59 +00:00'
        backlinks_spam_score:
          type:
          - integer
          - 'null'
          description: 'average spam score of the backlinks pointing to the page

            learn more about how the metric is calculated on this help center page'
          format: int64
        broken_backlinks:
          type:
          - integer
          - 'null'
          description: 'number of broken backlinks

            number of broken backlinks pointing to the page'
          format: int64
        broken_pages:
          type:
          - integer
          - 'null'
          description: 'number of broken pages

            number of pages that respond with 4xx or 5xx status codes where backlinks are pointing to'
        referring_domains:
          type:
          - integer
          - 'null'
          description: indicates the number domains referring to the page
          format: int64
        referring_domains_nofollow:
          type:
          - integer
          - 'null'
          description: number of domains pointing at least one nofollow link to the page
          format: int64
        referring_main_domains:
          type:
          - integer
          - 'null'
          description: indicates the number of referring main domains
          format: int64
        referring_main_domains_nofollow:
          type:
          - integer
          - 'null'
          description: number of main domains pointing at least one nofollow link to the page
          format: int64
        referring_ips:
          type:
          - integer
          - 'null'
          description: 'number of referring IP addresses

            number of IP addresses pointing to this page'
          format: int64
        referring_subnets:
          type:
          - integer
          - 'null'
          description: number of referring subnetworks
          format: int64
        referring_pages:
          type:
          - integer
          - 'null'
          description: indicates the number of pages pointing to the relevant url
          format: int64
        referring_pages_nofollow:
          type:
          - integer
          - 'null'
          description: number of referring pages pointing at least one nofollow link to the page
          format: int64
        referring_links_tld:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'top-level domains of the referring links

            contains top level domains and referring link count per each'
        referring_links_types:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'types of referring links

            indicates the types of the referring links and link count per each type

            possible values:

            anchor, image, link, meta, canonical, alternate, redirect'
        referring_links_attributes:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'link attributes of the referring links

            indicates link attributes of the referring links and link count per each attribute'
        referring_links_platform_types:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'types of referring platforms

            indicates referring platform types and and link count per each platform

            possible values: cms, blogs, ecommerce, message-boards, wikis, news, organization'
        referring_links_semantic_locations:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'semantic locations of the referring links

            indicates semantic elements in HTML where the referring links are located and link count per each semantic location

            you can get the full list of semantic elements here

            examples:

            article, section, footer'
        referring_links_countries:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'ISO country codes of the referring links

            indicates ISO country codes of the domains where the referring links are located and the link count per each country'
    BacklinksBulkBacklinksLiveResultInfo:
      type: object
      properties:
        items_count:
          type:
          - integer
          - 'null'
          description: the number of results returned in the items array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/BacklinksBulkBacklinksLiveItem'
          description: contains relevant backlink data
    BacklinksBulkReferringDomainsLiveItem:
      type: object
      properties:
        target:
          type:
          - string
          - 'null'
          description: domain, subdomain or webpage from a POST array
        referring_domains:
          type:
          - integer
          - 'null'
          description: 'number of referring domains pointing to the target

            note that we calculate main domains (root domains, like example.com) and their subdomains (e.g. blog.example.com) separately for this metric'
          format: int64
        referring_domains_nofollow:
          type:
          - integer
          - 'null'
          description: number of domains pointing at least one nofollow link to the target
          format: int64
        referring_main_domains:
          type:
          - integer
          - 'null'
          description: 'number of referring main domains pointing to the target

            the number of primary (root) domains referring to your target'
          format: int64
        referring_main_domains_nofollow:
          type:
          - integer
          - 'null'
          description: number of main domains pointing at least one nofollow link to the target
          format: int64
    BacklinksBulkRanksLiveResultInfo:
      type: object
      properties:
        items_count:
          type:
          - integer
          - 'null'
          description: the number of results returned in the items array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/BacklinksBulkRanksLiveItem'
          description: contains relevant backlinks and referring domains data
    BacklinksBulkBacklinksLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BacklinksBulkBacklinksLiveResultInfo'
            description: array of results
    BacklinksTimeseriesSummaryLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BacklinksTimeseriesSummaryLiveTaskInfo'
            description: array of tasks
    BacklinksBacklinksLiveItem:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: type of element
        domain_from:
          type:
          - string
          - 'null'
          description: domain referring to the target domain or webpage
        url_from:
          type:
          - string
          - 'null'
          description: URL of the page where the backlink is found
        url_from_https:
          type:
          - boolean
          - 'null'
          description: 'indicates whether the referring URL is secured with HTTPS

            if true, the referring URL is secured with HTTPS'
        domain_to:
          type:
          - string
          - 'null'
          description: domain the backlink is pointing to
        url_to:
          type:
          - string
          - 'null'
          description: URL the backlink is pointing to
        url_to_https:
          type:
          - boolean
          - 'null'
          description: 'indicates if the URL the backlink is pointing to is secured with HTTPS

            if true, the URL is secured with HTTPS'
        tld_from:
          type:
          - string
          - 'null'
          description: top-level domain of the referring URL
        is_new:
          type:
          - boolean
          - 'null'
          description: 'indicates whether the backlink is new

            if true, the backlink was found on the page last time our crawler visited it'
        is_lost:
          type:
          - boolean
          - 'null'
          description: 'indicates whether the backlink was removed

            if true, the backlink or the entire page was removed'
        backlink_spam_score:
          type:
          - integer
          - 'null'
          description: 'spam score of the backlink

            learn more about how the metric is calculated on this help center page'
        rank:
          type:
          - integer
          - 'null'
          description: 'backlink rank

            rank that the given backlink passes to the target

            rank is calculated based on the method for node ranking in a linked database – a principle used in the original Google PageRank algorithm

            learn more about the metric and how it is calculated in this help center article'
        page_from_rank:
          type:
          - integer
          - 'null'
          description: 'page rank of the referring page

            page_from_rank is calculated based on the method for node ranking in a linked database – a principle used in the original Google PageRank algorithm

            learn more about the metric and how it is calculated in this help center article'
        domain_from_rank:
          type:
          - integer
          - 'null'
          description: 'domain rank of the referring domain

            domain_from_rank is calculated based on the method for node ranking in a linked database – a principle used in the original Google PageRank algorithm

            learn more about the metric and how it is calculated in this help center article'
        domain_from_platform_type:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: 'platform types of the referring domain

            possible values: cms, blogs, ecommerce, message-boards, wikis, news, organization'
        domain_from_is_ip:
          type:
          - boolean
          - 'null'
          description: 'indicates if the domain is IP

            if true, the domain functions as an IP address and does not have a domain name'
        domain_from_ip:
          type:
          - string
          - 'null'
          description: IP address of the referring domain
        domain_from_country:
          type:
          - string
          - 'null'
          description: ISO country code of the referring domain
        page_from_external_links:
          type:
          - integer
          - 'null'
          description: number of external links found on the referring page
        page_from_internal_links:
          type:
          - integer
          - 'null'
          description: number of internal links found on the referring page
        page_from_size:
          type:
          - integer
          - 'null'
          description: 'size of the referring page, in bytes

            example:

            63357'
        page_from_encoding:
          type:
          - string
          - 'null'
          description: 'character encoding of the referring page

            example:

            utf-8'
        page_from_language:
          type:
          - string
          - 'null'
          description: 'language of the referring page

            in ISO 639-1 format

            example:

            en'
        page_from_title:
          type:
          - string
          - 'null'
          description: title of the referring page
        page_from_status_code:
          type:
          - integer
          - 'null'
          description: 'HTTP status code returned by the referring page

            example:

            200'
        first_seen:
          type:
          - string
          - 'null'
          description: 'date and time when our crawler found the backlink for the first time

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        prev_seen:
          type:
          - string
          - 'null'
          description: 'previous to the most recent date when our crawler visited the backlink

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        last_seen:
          type:
          - string
          - 'null'
          description: 'most recent date when our crawler visited the backlink

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        item_type:
          type:
          - string
          - 'null'
          description: 'link type

            possible values:

            anchor, image, meta, canonical, alternate, redirect'
        attributes:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: 'link attributes of the referring links

            example:

            nofollow'
        dofollow:
          type:
          - boolean
          - 'null'
          description: 'indicates whether the backlink is dofollow

            if false, the backlink is nofollow'
        original:
          type:
          - boolean
          - 'null'
          description: indicates whether the backlink was present on the referring page when our crawler first visited it
        alt:
          type:
          - string
          - 'null'
          description: 'alternative text of the image

            this field will be null if backlink type is not image'
        image_url:
          type:
          - string
          - 'null'
          description: 'URL of the image

            the URL leading to the image on the original resource or DataForSEO storage (in case the original source is not available)'
        anchor:
          type:
          - string
          - 'null'
          description: anchor text of the backlink
        text_pre:
          type:
          - string
          - 'null'
          description: snippet before the anchor text
        text_post:
          type:
          - string
          - 'null'
          description: snippet after the anchor text
        semantic_location:
          type:
          - string
          - 'null'
          description: 'indicates semantic element in HTML where the backlink is found

            you can get the full list of semantic elements here

            examples:

            article, section, summary'
        links_count:
          type:
          - integer
          - 'null'
          description: number of identical backlinks found on the referring page
          format: int64
        group_count:
          type:
          - integer
          - 'null'
          description: 'indicates total number of backlinks from this domain

            for example, if mode is set to one_per_domain, this field will indicate the total number of backlinks coming from this domain'
          format: int64
        is_broken:
          type:
          - boolean
          - 'null'
          description: 'indicates whether the backlink is broken

            if true, the backlink is pointing to a page responding with a 4xx or 5xx status code'
        url_to_status_code:
          type:
          - integer
          - 'null'
          description: 'status code of the referenced page

            if the value is null, our crawler hasn’t yet visited the webpage the link is pointing to

            example:

            200'
        url_to_spam_score:
          type:
          - integer
          - 'null'
          description: 'spam score of the referenced page

            if the value is null, our crawler hasn’t yet visited the webpage the link is pointing to;

            learn more about how the metric is calculated on this help center page'
        url_to_redirect_target:
          type:
          - string
          - 'null'
          description: 'target url of the redirect

            target page the redirect is pointing to'
        ranked_keywords_info:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/RankedKeywordsInfo'
          description: number of keywords for which the page is ranked in top search results
        is_indirect_link:
          type:
          - boolean
          - 'null'
          description: 'indicates whether the backlink is an indirect link

            if true, the backlink is an indirect link pointing to a page that either redirects to url_to, or points to a canonical page'
        indirect_link_path:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/BacklinksRedirectInfo'
          description: 'indirect link path

            indicates a URL or a sequence of URLs that lead to url_to'
    BacklinksAvailableFiltersTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BacklinksAvailableFiltersResultInfo'
    BacklinksHistoryLiveResultInfo:
      type: object
      properties:
        target:
          type:
          - string
          - 'null'
          description: target from the POST array
        date_from:
          type:
          - string
          - 'null'
          description: 'starting date of the time range

            in the UTC format: “yyyy-mm-dd”

            example:

            2019-01-01'
        date_to:
          type:
          - string
          - 'null'
          description: 'ending date of the time range

            in the UTC format: "yyyy-mm-dd"

            example:

            "2019-01-15"'
        items_count:
          type:
          - integer
          - 'null'
          description: the number of results returned in the items array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/BacklinksHistoryLiveItem'
          description: 'contains historical backlink data for the specified domain

            the data is provided month-by-month;

            the metrics are aggregated according to the backlinks the specified domain had on the first day of each given month'
    BacklinksSummaryLiveResultInfo:
      type: object
      properties:
        target:
          type:
          - string
          - 'null'
          description: target in a POST array
        first_seen:
          type:
          - string
          - 'null'
          description: 'date and time when our crawler found the backlink for the target for the first time

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        lost_date:
          type:
          - string
          - 'null'
          description: 'date and time when the backlink was lost

            indicates the date and time when our crawler visited the target and it responded with a 4xx or 5xx status code or when its last backlink was removed

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        rank:
          type:
          - integer
          - 'null'
          description: 'target rank

            learn more about the metric and how it is calculated in this help center article'
        backlinks:
          type:
          - integer
          - 'null'
          description: indicates the number of backlinks
          format: int64
        backlinks_spam_score:
          type:
          - integer
          - 'null'
          description: 'spam score of the backlinks

            displays the total spam score of all backlinks pointing to the target domain, subdomain, or webpage;

            to learn more about how the metric is calculated, refer to this Help Center page'
          format: int64
        crawled_pages:
          type:
          - integer
          - 'null'
          description: number of crawled pages for the target
        info:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/TargetInfo'
          description: information about the target
        internal_links_count:
          type:
          - integer
          - 'null'
          description: 'number of internal links

            calculated as the sum of internal links on the pages of the specified target'
          format: int64
        external_links_count:
          type:
          - integer
          - 'null'
          description: 'number of external links on the page

            calculated as the sum of external links on the pages of the specified target'
          format: int64
        broken_backlinks:
          type:
          - integer
          - 'null'
          description: 'number of broken backlinks

            number of broken backlinks pointing to the target'
          format: int64
        broken_pages:
          type:
          - integer
          - 'null'
          description: 'number of broken pages

            number of pages on the target that respond with 4xx or 5xx status codes

            note that the number of broken pages includes pages on the target discovered by following external links, but it may also include pages discovered by following the target’s sitemap'
        referring_domains:
          type:
          - integer
          - 'null'
          description: 'indicates the number of referring domains

            referring domains include subdomains that are counted as separate domains for this metric'
          format: int64
        referring_domains_nofollow:
          type:
          - integer
          - 'null'
          description: number of domains pointing at least one nofollow link to the target
          format: int64
        referring_main_domains:
          type:
          - integer
          - 'null'
          description: indicates the number of referring main domains
          format: int64
        referring_main_domains_nofollow:
          type:
          - integer
          - 'null'
          description: number of main domains pointing at least one nofollow link to the target
          format: int64
        referring_ips:
          type:
          - integer
          - 'null'
          description: 'number of referring IP addresses

            number of IP addresses pointing to this page'
          format: int64
        referring_subnets:
          type:
          - integer
          - 'null'
          description: number of referring subnetworks
          format: int64
        referring_pages:
          type:
          - integer
          - 'null'
          description: indicates the number of pages pointing to the target
          format: int64
        referring_pages_nofollow:
          type:
          - integer
          - 'null'
          description: number of referring pages pointing at least one nofollow link to the target
          format: int64
        referring_links_tld:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'top-level domains of the referring links

            contains top level domains and referring link count per each'
        referring_links_types:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'types of referring links

            indicates the types of the referring links and link count per each type

            possible values:

            anchor, image, link, meta, canonical, alternate, redirect'
        referring_links_attributes:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'link attributes of the referring links

            indicates link attributes of the referring links and link count per each attribute

            example values:

            nofollow, noopener, noreferrer, external, ugc, sponsored'
        referring_links_platform_types:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'types of referring platforms

            indicates referring platform types and and link count per each platform

            possible values: cms, blogs, ecommerce, message-boards, wikis, news, organization'
        referring_links_semantic_locations:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'semantic locations of the referring links

            indicates semantic elements in HTML where the referring links are located and link count per each semantic location

            you can get the full list of semantic elements here

            example values:

            article, section, summary, ""'
        referring_links_countries:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'ISO country codes of the referring links

            indicates ISO country codes of the domains where the referring links are located and the link count per each country'
    BacklinksReferringDomainsLiveResultInfo:
      type: object
      properties:
        target:
          type:
          - string
          - 'null'
          description: target in a POST array
        total_count:
          type:
          - integer
          - 'null'
          description: 'total number of relevant items in the database

            total number of main domains referring to your target;

            example.com and blog.example.com are counted as one referring domain'
          format: int64
        items_count:
          type:
          - integer
          - 'null'
          description: number of items in the items array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/BacklinksReferringDomainsLiveItem'
          description: items array
    BacklinksHistoryLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BacklinksHistoryLiveResultInfo'
            description: array of results
    BacklinksBulkSpamScoreLiveItem:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: type of element
        target:
          type:
          - string
          - 'null'
          description: domain, subdomain or webpage from a POST array
        spam_score:
          type:
          - integer
          - 'null'
          description: 'average spam score the target

            learn more about how the metric is calculated'
    BacklinksHistoryLiveItem:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: type of element
        date:
          type:
          - string
          - 'null'
          description: 'date and time when the data for the target was stored

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        rank:
          type:
          - integer
          - 'null'
          description: 'domain rank on the given date

            learn more about the metric and how it is calculated in this help center article'
        backlinks:
          type:
          - integer
          - 'null'
          description: number of backlinks
          format: int64
        new_backlinks:
          type:
          - integer
          - 'null'
          description: 'number of new backlinks for the target

            data is provided based in a comparison with the previous period

            Note: this data is available from May 2021;

            if the date range specified in the POST request precedes May 2021, the field will equal 0'
          format: int64
        lost_backlinks:
          type:
          - integer
          - 'null'
          description: 'number of lost backlinks for the target

            data is provided based in a comparison with the previous period

            Note: this data is available from May 2021;

            if the date range specified in the POST request precedes May 2021, the field will equal 0'
          format: int64
        new_referring_domains:
          type:
          - integer
          - 'null'
          description: 'number of new referring domains for the target

            data is provided based in a comparison with the previous period

            Note: this data is available from May 2021;

            if the date range specified in the POST request precedes May 2021, the field will equal 0'
          format: int64
        lost_referring_domains:
          type:
          - integer
          - 'null'
          description: 'number of lost referring domains for the target

            data is provided based in a comparison with the previous period

            Note: this data is available from May 2021;

            if the date range specified in the POST request precedes May 2021, the field will equal 0'
          format: int64
        crawled_pages:
          type:
          - integer
          - 'null'
          description: number of crawled pages for the target
        info:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/TargetInfo'
          description: information about the target
        internal_links_count:
          type:
          - integer
          - 'null'
          description: 'number of internal links

            calculated as the sum of internal links on the pages of the specified target'
          format: int64
        external_links_count:
          type:
          - integer
          - 'null'
          description: 'number of external links on the page

            calculated as the sum of external links on the pages of the specified target'
          format: int64
        broken_backlinks:
          type:
          - integer
          - 'null'
          description: 'number of broken backlinks

            number of broken backlinks pointing to the target'
          format: int64
        broken_pages:
          type:
          - integer
          - 'null'
          description: 'number of broken pages

            number of pages that receive backlinks but respond with 4xx or 5xx status codes'
        referring_domains:
          type:
          - integer
          - 'null'
          description: 'number of referring domains

            referring domains include subdomains that are counted as separate domains for this metric'
          format: int64
        referring_domains_nofollow:
          type:
          - integer
          - 'null'
          description: number of domains pointing at least one nofollow link to the target
          format: int64
        referring_main_domains:
          type:
          - integer
          - 'null'
          description: number of referring main domains
          format: int64
        referring_main_domains_nofollow:
          type:
          - integer
          - 'null'
          description: number of main domains pointing at least one nofollow link to the target
          format: int64
        referring_ips:
          type:
          - integer
          - 'null'
          description: 'number of referring IP addresses

            number of IP addresses pointing to this page'
          format: int64
        referring_subnets:
          type:
          - integer
          - 'null'
          description: number of referring subnetworks
          format: int64
        referring_pages:
          type:
          - integer
          - 'null'
          description: number of pages pointing to the target
          format: int64
        referring_pages_nofollow:
          type:
          - integer
          - 'null'
          description: number of referring pages pointing at least one nofollow link to the target
          format: int64
        referring_links_tld:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'top-level domains of the referring links

            contains top-level domains and referring link count per each'
        referring_links_types:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'types of referring links

            indicates the types of the referring links and link count per each type

            possible values:

            anchor, image, link, meta, canonical, alternate, redirect'
        referring_links_attributes:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'link attributes of the referring links

            indicates link attributes of the referring links and link count per each attribute'
        referring_links_platform_types:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'types of referring platforms

            indicates referring platform types and and link count per each platform

            possible values: cms, blogs, ecommerce, message-boards, wikis, news, organization'
        referring_links_semantic_locations:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - integer
            - 'null'
            format: int64
          description: 'semantic locations of the referring links

[...]
