openapi: 3.2.0
info:
  title: DataForSEO Business Data API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: BusinessData
paths:
  /v3/business_data/id_list:
    post:
      tags:
      - BusinessData
      description: 'This endpoint is designed to provide you with a list of IDs and metadata for all Business Data tasks created within the specified time period, including both successful and uncompleted tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/id_list/?bash'''
      operationId: BusinessDataIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataIdListRequestInfo'
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataIdListResponseInfo'
      security:
      - basicAuth: []
      summary: Business data id list
      x-summary-source: derived
  /v3/business_data/errors:
    post:
      tags:
      - BusinessData
      description: 'By calling this endpoint you will receive information about the Business Data API tasks that returned an error within the past 7 days.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/errors/?bash'''
      operationId: BusinessDataErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataErrorsRequestInfo'
              example:
              - limit: 10
                offset: 0
                filtered_function: pingback_url
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataErrorsResponseInfo'
      security:
      - basicAuth: []
      summary: Business data errors
      x-summary-source: derived
  /v3/business_data/business_listings/locations:
    get:
      tags:
      - BusinessData
      description: 'You will receive the list of locations by this API call. You can also download the full list of supported locations in the CSV format (last updated 2026-04-06).

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/business_listings/locations/?bash'''
      operationId: BusinessListingsLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsLocationsResponseInfo'
      security:
      - basicAuth: []
      summary: Business listings locations
      x-summary-source: derived
  /v3/business_data/business_listings/categories:
    get:
      tags:
      - BusinessData
      description: 'This endpoint will provide you with the list of top categories by business count.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/business_listings/categories/?bash'''
      operationId: BusinessListingsCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsCategoriesResponseInfo'
      security:
      - basicAuth: []
      summary: Business listings categories
      x-summary-source: derived
  /v3/business_data/business_listings/available_filters:
    get:
      tags:
      - BusinessData
      description: 'Here you will find all the necessary information about filters that can be used with Business Listings API.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/business_listings/filters/?bash'''
      operationId: BusinessListingsAvailableFilters
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsAvailableFiltersResponseInfo'
      security:
      - basicAuth: []
      summary: Business listings available filters
      x-summary-source: derived
  /v3/business_data/business_listings/search/live:
    post:
      tags:
      - BusinessData
      description: 'Business Listings Search API provides results containing information about business entities listed on Google Maps in the specified categories. You will receive the address, contacts, rating, working hours, and other relevant data. The provided results are specific to the selected location (see the List of Locations) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/business_listings/search/live/?bash'''
      operationId: BusinessListingsSearchLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsSearchLiveRequestInfo'
              example:
              - categories:
                - pizza_restaurant
                description: pizza
                title: pizza
                is_claimed: true
                location_coordinate: 53.476225,-2.243572,10
                order_by:
                - rating.value,desc
                filters:
                - - rating.value
                  - '>'
                  - 3
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsSearchLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Business listings search live
      x-summary-source: derived
  /v3/business_data/business_listings/categories_aggregation/live:
    post:
      tags:
      - BusinessData
      description: 'Business Listings Categories Aggregation endpoint provides results containing information about groups of related categories along with the number of entities in each category. The provided results are specific to the specified parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/business_listings/categories_aggregation/live/?bash'''
      operationId: BusinessListingsCategoriesAggregationLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsCategoriesAggregationLiveRequestInfo'
              example:
              - categories:
                - pizza_restaurant
                description: pizza
                title: pizza
                is_claimed: true
                location_coordinate: 53.476225,-2.243572,10
                initial_dataset_filters:
                - - rating.value
                  - '>'
                  - 3
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataBusinessListingsCategoriesAggregationLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Business listings categories aggregation live
      x-summary-source: derived
  /v3/business_data/google/locations:
    get:
      tags:
      - BusinessData
      description: 'You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/locations/?bash'''
      operationId: BusinessDataGoogleLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleLocationsResponseInfo'
      security:
      - basicAuth: []
      summary: Business data google locations
      x-summary-source: derived
  /v3/business_data/google/locations/{country}:
    get:
      tags:
      - BusinessData
      description: 'You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/locations/?bash'''
      operationId: BusinessDataGoogleLocationsCountry
      parameters:
      - name: country
        in: path
        description: 'country ISO code

          optional field

          specify the ISO code if you want to filter the list of locations by country

          example:

          us'
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleLocationsCountryResponseInfo'
      security:
      - basicAuth: []
      summary: Business data google locations country
      x-summary-source: derived
  /v3/business_data/google/languages:
    get:
      tags:
      - BusinessData
      description: 'You will receive the list of languages by calling this API.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/languages/?bash'''
      operationId: BusinessDataGoogleLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Business data google languages
      x-summary-source: derived
  /v3/business_data/google/my_business_info/task_post:
    post:
      tags:
      - BusinessData
      description: 'Business Data API provides results containing information about specific business entity from Google. The provided results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/my_business_info/task_post/?bash'''
      operationId: GoogleMyBusinessInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoTaskPostRequestInfo'
              example:
              - language_code: en
                location_name: New York,New York,United States
                keyword: RustyBrick, Inc.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google my business info task post
      x-summary-source: derived
  /v3/business_data/google/my_business_info/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/my_business_info/tasks_ready/?bash'''
      operationId: GoogleMyBusinessInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google my business info tasks ready
      x-summary-source: derived
  /v3/business_data/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/my_business_info/tasks_ready/?bash'''
      operationId: BusinessDataTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Business data tasks ready
      x-summary-source: derived
  /v3/business_data/google/my_business_info/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: for more info please visit 'https://docs.dataforseo.com/v3/business_data/google/my_business_info/task_get/?bash'
      operationId: GoogleMyBusinessInfoTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Google my business info task get
      x-summary-source: derived
  /v3/business_data/google/my_business_info/live:
    post:
      tags:
      - BusinessData
      description: 'Business Data API provides results containing information about specific business entity from Google. The provided results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/my_business_info/live/?bash'''
      operationId: GoogleMyBusinessInfoLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoLiveRequestInfo'
              example:
              - language_code: en
                location_name: New York,New York,United States
                keyword: RustyBrick, Inc.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessInfoLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google my business info live
      x-summary-source: derived
  /v3/business_data/google/my_business_updates/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoints provides the latest updates of a specific business entity from Google SERP. The provided results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/my_business_updates/task_post/?bash'''
      operationId: GoogleMyBusinessUpdatesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessUpdatesTaskPostRequestInfo'
              example:
              - language_code: en
                location_name: New York,New York,United States
                keyword: RustyBrick, Inc.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessUpdatesTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google my business updates task post
      x-summary-source: derived
  /v3/business_data/google/my_business_updates/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/my_business_updates/tasks_ready/?bash'''
      operationId: GoogleMyBusinessUpdatesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessUpdatesTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google my business updates tasks ready
      x-summary-source: derived
  /v3/business_data/google/my_business_updates/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: for more info please visit 'https://docs.dataforseo.com/v3/business_data/google/my_business_updates/task_get/?bash'
      operationId: GoogleMyBusinessUpdatesTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleMyBusinessUpdatesTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Google my business updates task get
      x-summary-source: derived
  /v3/business_data/google/hotel_searches/task_post:
    post:
      tags:
      - BusinessData
      description: 'Hotel Searches API provides results containing information about different hotels listed on Google. The provided results are specific to the keyword, selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/hotel_searches/task_post/?bash'''
      operationId: GoogleHotelSearchesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesTaskPostRequestInfo'
              example:
              - language_code: en
                location_name: New York,New York,United States
                keyword: cheap hotel
                check_in: '2026-05-15'
                check_out: '2026-05-16'
                currency: USD
                adults: 2
                children:
                - 14
                sort_by: highest_rating
                priority: 2
                tag: example
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google hotel searches task post
      x-summary-source: derived
  /v3/business_data/google/hotel_searches/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/hotel_searches/tasks_ready/?bash'''
      operationId: GoogleHotelSearchesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google hotel searches tasks ready
      x-summary-source: derived
  /v3/business_data/google/hotel_searches/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: for more info please visit 'https://docs.dataforseo.com/v3/business_data/google/hotel_searches/task_get/?bash'
      operationId: GoogleHotelSearchesTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Google hotel searches task get
      x-summary-source: derived
  /v3/business_data/google/hotel_searches/live:
    post:
      tags:
      - BusinessData
      description: 'Hotel Searches API provides results containing information about different hotels listed on Google Hotels. The provided results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/hotel_searches/live/?bash'''
      operationId: GoogleHotelSearchesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesLiveRequestInfo'
              example:
              - language_code: en
                location_name: New York,New York,United States
                keyword: cheap hotel
                check_in: '2026-05-15'
                check_out: '2026-05-16'
                currency: USD
                adults: 2
                children:
                - 14
                sort_by: highest_rating
                tag: example
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google hotel searches live
      x-summary-source: derived
  /v3/business_data/google/hotel_info/task_post:
    post:
      tags:
      - BusinessData
      description: 'Google Hotel Info will provide you with structured data available for a specific hotel entity on the Google Hotels platform: such as service description, location details, rating, amenities, reviews, images, prices, and more.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/hotel_info/task_post/?bash'''
      operationId: GoogleHotelInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTaskPostRequestInfo'
              example:
              - language_code: en
                location_name: New York,New York,United States
                hotel_identifier: ChYIq6SB--i6p6cpGgovbS8wN2s5ODZfEAE
                tag: some_string_123
                postback_url: https://your-server.com/postbackscript.php
                postback_data: advanced
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google hotel info task post
      x-summary-source: derived
  /v3/business_data/google/hotel_info/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/hotel_info/tasks_ready/?bash'''
      operationId: GoogleHotelInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google hotel info tasks ready
      x-summary-source: derived
  /v3/business_data/google/hotel_info/task_get/advanced/{id}:
    get:
      tags:
      - BusinessData
      description: for more info please visit 'https://docs.dataforseo.com/v3/business_data/google/hotel_info/task_get/advanced/?bash'
      operationId: GoogleHotelInfoTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google hotel info task get advanced
      x-summary-source: derived
  /v3/business_data/google/hotel_info/task_get/html/{id}:
    get:
      tags:
      - BusinessData
      description: for more info please visit 'https://docs.dataforseo.com/v3/business_data/google/hotel_info/task_get/html/?bash'
      operationId: GoogleHotelInfoTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoTaskGetHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google hotel info task get html
      x-summary-source: derived
  /v3/business_data/google/hotel_info/live/advanced:
    post:
      tags:
      - BusinessData
      description: 'Google Hotel Info will provide you with structured data available for a specific hotel entity on the Google Hotels platform: such as service description, location details, rating, amenities, reviews, images, prices, and more.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/hotel_info/live/advanced/?bash'''
      operationId: GoogleHotelInfoLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoLiveAdvancedRequestInfo'
              example:
              - language_code: en
                location_name: New York,New York,United States
                hotel_identifier: CgoI-KWyzenM_MV3EAE
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoLiveAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google hotel info live advanced
      x-summary-source: derived
  /v3/business_data/google/hotel_info/live/html:
    post:
      tags:
      - BusinessData
      description: 'Google Hotel Info will provide you with unstructured HTML data available for a specific hotel entity on the Google Hotels platform: such as service description, location details, rating, amenities, reviews, images, prices, and more.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/hotel_info/live/html/?bash'''
      operationId: GoogleHotelInfoLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoLiveHtmlRequestInfo'
              example:
              - language_code: en
                location_name: New York,New York,United States
                hotel_identifier: ChYIq6SB--i6p6cpGgovbS8wN2s5ODZfEAE
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleHotelInfoLiveHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google hotel info live html
      x-summary-source: derived
  /v3/business_data/google/reviews/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoint provides results from the “Reviews” element of Google SERPs. The results are specific to the selected location (see the List of Locations) and language (see the List of Languages) parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/reviews/task_post/?bash'''
      operationId: GoogleReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleReviewsTaskPostRequestInfo'
              example:
              - location_name: London,England,United Kingdom
                language_name: English
                keyword: hedonism wines
                depth: 50
                sort_by: highest_rating
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleReviewsTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google reviews task post
      x-summary-source: derived
  /v3/business_data/google/reviews/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/reviews/tasks_ready/?bash'''
      operationId: GoogleReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleReviewsTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google reviews tasks ready
      x-summary-source: derived
  /v3/business_data/google/reviews/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: 'The returned results are specific to the indicated local establishment name, search engine, location and language parameters. We emulate set location and search engine with the highest accuracy so that the results you receive will match the actual search results for the specified parameters at the time of task setting. You can always check the returned results accessing the check_url in the Incognito mode to make sure the received data is entirely relevant. Note that user preferences, search history, and other personalized search factors are ignored by our system and thus would not be reflected in the returned results.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/reviews/task_get/?bash'''
      operationId: GoogleReviewsTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleReviewsTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Google reviews task get
      x-summary-source: derived
  /v3/business_data/google/extended_reviews/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoint provides results from the “Reviews” element of Google SERPs, including not only Google user reviews but also reviews from other reputable sources (e.g., TripAdvisor, Yelp, Trustpilot). The results are specific to the selected location (see the List of Locations) and language (see the List of Languages) parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/extended_reviews/task_post/?bash'''
      operationId: GoogleExtendedReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleExtendedReviewsTaskPostRequestInfo'
              example:
              - location_name: London,England,United Kingdom
                language_name: english
                cid: '17626775537598922320'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleExtendedReviewsTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google extended reviews task post
      x-summary-source: derived
  /v3/business_data/google/extended_reviews/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/extended_reviews/tasks_ready/?bash'''
      operationId: GoogleExtendedReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleExtendedReviewsTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google extended reviews tasks ready
      x-summary-source: derived
  /v3/business_data/google/extended_reviews/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: 'The returned results are specific to the indicated local establishment name, search engine, location and language parameters. We emulate set location and search engine with the highest accuracy so that the results you receive will match the actual search results for the specified parameters at the time of task setting. You can always check the returned results accessing the check_url in the Incognito mode to make sure the received data is entirely relevant. Note that user preferences, search history, and other personalized search factors are ignored by our system and thus would not be reflected in the returned results.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/extended_reviews/task_get/?bash'''
      operationId: GoogleExtendedReviewsTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleExtendedReviewsTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Google extended reviews task get
      x-summary-source: derived
  /v3/business_data/google/questions_and_answers/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoint will provide you with a detailed overview of questions and answers associated with a specific business entity listed on Google My Business. By submitting a request to this endpoint, you can access comprehensive data on the inquiries and responses related to a particular business, including the full text of the questions and answers, as well as metadata such as timestamps, user information.


        The provided results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.


        Your account will be billed for every 20 questions, the maximum number of answers returned for each question is 5.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/questions_and_answers/task_post/?bash'''
      operationId: GoogleQuestionsAndAnswersTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersTaskPostRequestInfo'
              example:
              - language_code: en
                location_name: Los Angeles,California,United States
                keyword: The Last Bookstore
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google questions and answers task post
      x-summary-source: derived
  /v3/business_data/google/questions_and_answers/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/questions_and_answers/tasks_ready/?bash'''
      operationId: GoogleQuestionsAndAnswersTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google questions and answers tasks ready
      x-summary-source: derived
  /v3/business_data/google/questions_and_answers/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: for more info please visit 'https://docs.dataforseo.com/v3/business_data/google/questions_and_answers/task_get/?bash'
      operationId: GoogleQuestionsAndAnswersTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Google questions and answers task get
      x-summary-source: derived
  /v3/business_data/google/questions_and_answers/live:
    post:
      tags:
      - BusinessData
      description: 'This endpoint will provide you with a detailed overview of questions and answers associated with a specific business entity listed on Google My Business. By submitting a request to this endpoint, you can access comprehensive data on the inquiries and responses related to a particular business, including the full text of the questions and answers, as well as metadata such as timestamps, user information.


        The provided results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.


        Your account will be billed for every 20 questions, the maximum number of answers returned for each question is 5.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/google/questions_and_answers/live/?bash'''
      operationId: GoogleQuestionsAndAnswersLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersLiveRequestInfo'
              example:
              - language_code: en
                location_name: Los Angeles,California,United States
                keyword: The Last Bookstore
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataGoogleQuestionsAndAnswersLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Google questions and answers live
      x-summary-source: derived
  /v3/business_data/trustpilot/search/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoint provides a list of business profiles listed on the Trustpilot platform. The returned results are relevant to the specified keyword.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/trustpilot/search/task_post/?bash'''
      operationId: TrustpilotSearchTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotSearchTaskPostRequestInfo'
              example:
              - keyword: pizza restaurant
                depth: 20
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotSearchTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Trustpilot search task post
      x-summary-source: derived
  /v3/business_data/trustpilot/search/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/trustpilot/search/tasks_ready/?bash'''
      operationId: TrustpilotSearchTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotSearchTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Trustpilot search tasks ready
      x-summary-source: derived
  /v3/business_data/trustpilot/search/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: 'This endpoint provides a list of business profiles listed on the Trustpilot platform. The returned results are relevant to the keyword specified in a POST request. We emulate set parameters with the highest accuracy so that the results you receive match the actual search results for the specified parameters at the time of task setting. You can always check the returned results accessing the check_url in the Incognito mode to make sure the received data is entirely relevant. Note that user preferences, search history, and other personalized search factors are ignored by our system and thus will not be reflected in the returned results.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/trustpilot/search/task_get/?bash'''
      operationId: TrustpilotSearchTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotSearchTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Trustpilot search task get
      x-summary-source: derived
  /v3/business_data/trustpilot/reviews/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoint provides reviews published on the Trustpilot platform for the local establishment specified in the domain field.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/trustpilot/reviews/task_post/?bash'''
      operationId: TrustpilotReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotReviewsTaskPostRequestInfo'
              example:
              - domain: www.thepearlsource.com
                depth: 40
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotReviewsTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Trustpilot reviews task post
      x-summary-source: derived
  /v3/business_data/trustpilot/reviews/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/trustpilot/reviews/tasks_ready/?bash'''
      operationId: TrustpilotReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotReviewsTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Trustpilot reviews tasks ready
      x-summary-source: derived
  /v3/business_data/trustpilot/reviews/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: 'This endpoint provides reviews published on the Trustpilot platform The returned results are specific to the indicated business entity. We emulate set parameters with the highest accuracy so that the results you receive will match the actual search results for the specified parameters at the time of task setting. You can always check the returned results accessing the check_url in the Incognito mode to make sure the received data is entirely relevant. Note that user preferences, search history, and other personalized search factors are ignored by our system and thus would not be reflected in the returned results.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/trustpilot/reviews/task_get/?bash'''
      operationId: TrustpilotReviewsTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTrustpilotReviewsTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Trustpilot reviews task get
      x-summary-source: derived
  /v3/business_data/tripadvisor/locations:
    get:
      tags:
      - BusinessData
      description: 'You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task. Note that supported location types in Tripadvisor Business Data API are City and Region only.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/locations/?bash'''
      operationId: TripadvisorLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorLocationsResponseInfo'
      security:
      - basicAuth: []
      summary: Tripadvisor locations
      x-summary-source: derived
  /v3/business_data/tripadvisor/locations/{country}:
    get:
      tags:
      - BusinessData
      description: 'You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task. Note that supported location types in Tripadvisor Business Data API are City and Region only.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/locations/?bash'''
      operationId: TripadvisorLocationsCountry
      parameters:
      - name: country
        in: path
        description: 'country ISO code

          optional field

          specify the ISO code if you want to filter the list of locations by country

          example:

          us'
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorLocationsCountryResponseInfo'
      security:
      - basicAuth: []
      summary: Tripadvisor locations country
      x-summary-source: derived
  /v3/business_data/tripadvisor/languages:
    get:
      tags:
      - BusinessData
      description: 'You will receive the list of languages by calling this API.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/languages/?bash'''
      operationId: TripadvisorLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Tripadvisor languages
      x-summary-source: derived
  /v3/business_data/tripadvisor/search/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoint provides a list of business profiles listed on the Tripadvisor platform. The returned results are relevant to the specified keyword and the selected location (see the List of Locations).

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/search/task_post/?bash'''
      operationId: TripadvisorSearchTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTaskPostRequestInfo'
              example:
              - keyword: pizza
                location_code: 1003854
                depth: 30
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Tripadvisor search task post
      x-summary-source: derived
  /v3/business_data/tripadvisor/search/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/search/tasks_ready/?bash'''
      operationId: TripadvisorSearchTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Tripadvisor search tasks ready
      x-summary-source: derived
  /v3/business_data/tripadvisor/search/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: 'This endpoint will provide you with data on businesses listed on the Tripadvisor platform. The results obtained through this endpoint are specific to the location (see the List of Tripadvisor Locations) and keyword parameters used in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/search/task_get/?bash'''
      operationId: TripadvisorSearchTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Tripadvisor search task get
      x-summary-source: derived
  /v3/business_data/tripadvisor/reviews/task_post:
    post:
      tags:
      - BusinessData
      description: 'This endpoint provides results from the “Reviews” element on the Tripadvisor platform. The results are specific to the URL path or keyword you indicate, and and the selected location (see the List of Locations).

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/reviews/task_post/?bash'''
      operationId: TripadvisorReviewsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorReviewsTaskPostRequestInfo'
              example:
              - url_path: Hotel_Review-g60763-d23462501-Reviews-Margaritaville_Times_Square-New_York_City_New_York.html
                location_code: 1003854
                pingback_url: https://your-server.com/pingback.php?id=$id&tag=$tag
                tag: some_string_123
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorReviewsTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Tripadvisor reviews task post
      x-summary-source: derived
  /v3/business_data/tripadvisor/reviews/tasks_ready:
    get:
      tags:
      - BusinessData
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you don’t use the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/reviews/tasks_ready/?bash'''
      operationId: TripadvisorReviewsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorReviewsTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Tripadvisor reviews tasks ready
      x-summary-source: derived
  /v3/business_data/tripadvisor/reviews/task_get/{id}:
    get:
      tags:
      - BusinessData
      description: 'This endpoint provides feedback data on businesses listed on the Tripadvisor platform, including their locations, ratings, review content and count. The results are specific to the URL path indicated in the POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/tripadvisor/reviews/task_get/?bash'''
      operationId: TripadvisorReviewsTaskGet
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataTripadvisorReviewsTaskGetResponseInfo'
      security:
      - basicAuth: []
      summary: Tripadvisor reviews task get
      x-summary-source: derived
  /v3/business_data/social_media/pinterest/live:
    post:
      tags:
      - BusinessData
      description: 'Social Media Pinterest API will provide you with data on pins made from the specified URLs. Pins on Pinterest correspond to content saves. For each specified page URL, you will get the number of content saves to Pinterest made using the Pinterest Save Button placed on that page.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/social_media/pinterest/live/?bash'''
      operationId: SocialMediaPinterestLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataSocialMediaPinterestLiveRequestInfo'
              example:
              - targets:
                - https://www.simplyrecipes.com/recipes/grilled_salmon_with_cucumber_mango_salsa/
                - https://tasty.co/recipe/classic-lasagna
                - https://www.allrecipes.com/recipe/255263/sicilian-roasted-chicken/
                tag: some_string_123
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataSocialMediaPinterestLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Social media pinterest live
      x-summary-source: derived
  /v3/business_data/social_media/reddit/live:
    post:
      tags:
      - BusinessData
      description: 'Social Media Reddit API provides information for each share of the target webpage on Reddit. For each specified Reddit URL, you will get subreddit and author names, permalink, title, and the number of subreddit members.

        for more info please visit ''https://docs.dataforseo.com/v3/business_data/social_media/reddit/live/?bash'''
      operationId: SocialMediaRedditLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataSocialMediaRedditLiveRequestInfo'
              example:
              - targets:
                - https://vk.com/
                - https://ahrefs.com/
                - https://google.com/
                - https://twitter.com/
                - https://reddit.com/
                - https://facebook.com/
                tag: some_string_123
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/BusinessDataSocialMediaRedditLiveResponseInfo'
      security:
      - basicAuth: []
      summary: Social media reddit live
      x-summary-source: derived
components:
  schemas:
    BusinessDataTrustpilotReviewsTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BusinessDataTrustpilotReviewsTaskPostTaskInfo'
            description: array of tasks
    BusinessDataGoogleQuestionsAndAnswersTaskPostRequestInfo:
      type: object
      properties:
        keyword:
          type: string
          description: "keyword\nrequired field\nthe keyword you specify should indicate the name of the local establishment\nyou can specify up to 700 characters in the keyword filed\nall %## will be decoded (plus character ‘+’ will be decoded to a space character)\nif you need to use the “%” character for your keyword, please specify it as “%25”; \nthis field can also be used to pass the following parameters:\ncid – a unique, google-defined id of the business entity;\nplace_id – an identifier of the business entity in Google Maps;\nexample:\ncid:194604053573767737\nplace_id:GhIJQWDl0CIeQUARxks3icF8U8A\nlearn more about the cid and place_id identifiers in this help center article\nlearn more about rules and limitations of keyword and keywords fields in DataForSEO APIs in this Help Center article"
        priority:
          type:
          - integer
          - 'null'
          description: 'task priority

            optional field

            can take the following values:

            1 – normal execution priority (set by default)

            2 – high execution priority

            You will be additionally charged for the tasks with high execution priority.

            The cost can be calculated on the Pricing page.'
        location_name:
          type:
          - string
          - 'null'
          description: 'full name of search engine location

            required field if you don’t specify location_code or location_coordinate

            if you use this field, you don’t need to specify location_code or location_coordinate

            you can receive the list of available locations with location_name by making a separate request to https://api.dataforseo.com/v3/business_data/google/locations

            example:

            London,England,United Kingdom'
        location_code:
          type:
          - integer
          - 'null'
          description: 'search engine location code

            required field if you don’t specify location_name or location_coordinate

            if you use this field, you don’t need to specify location_name or location_coordinate

            you can receive the list of available locations with location_code by making a separate request to the https://api.dataforseo.com/v3/business_data/google/locations

            example:

            2840'
        location_coordinate:
          type:
          - string
          - 'null'
          description: 'GPS coordinates of a location

            required field if you don’t specify location_name or location_code

            if you use this field, you don’t need to specify location_name or location_code

            location_coordinate parameter should be specified in the “latitude,longitude,radius” format

            the maximum number of decimal digits for “latitude” and “longitude”: 7

            the minimum value for “radius”: 199.9 (mm)

            the maximum value for “radius”: 199999 (mm)

            example:

            53.476225,-2.243572,200'
        language_name:
          type:
          - string
          - 'null'
          description: 'full name of search engine language

            required field if you don’t specify language_code

            if you use this field, you don’t need to specify language_code

            you can receive the list of available languages with language_name by making a separate request to https://api.dataforseo.com/v3/business_data/google/languages

            example:

            English'
        language_code:
          type:
          - string
          - 'null'
          description: 'search engine language code

            required field if you don’t specify language_name

            if you use this field, you don’t need to specify language_name

            you can receive the list of available languages with their language_code by making a separate request to https://api.dataforseo.com/v3/business_data/google/languages

            example:

            en'
        depth:
          type:
          - integer
          - 'null'
          description: 'parsing depth

            optional field

            number of question rows in the result

            default value: 20

            max value: 700

            Your account will be billed per each SERP containing up to 20 results;

            Setting depth above 20 may result in additional charges if the search engine returns more than 20 results;

            If the specified depth is higher than the number of questions in the response, the difference will be refunded automatically to your account balance;

            The cost can be calculated on the Pricing page.'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
        postback_url:
          type:
          - string
          - 'null'
          description: 'URL for sending task results

            optional field

            once the task is completed, we will send a POST request with its results compressed in the gzip format to the postback_url you specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/postbackscript?id=$id

            http://your-server.com/postbackscript?id=$id&tag=$tag

            Note: special characters in postback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
        pingback_url:
          type:
          - string
          - 'null'
          description: 'notification URL of a completed task

            optional field

            when a task is completed we will notify you by GET request sent to the URL you have specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/pingscript?id=$id

            http://your-server.com/pingscript?id=$id&tag=$tag

            Note: special characters in pingback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
      example:
      - language_code: en
        location_name: Los Angeles,California,United States
        keyword: The Last Bookstore
    BusinessDataGoogleExtendedReviewsTaskGetResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BusinessDataGoogleExtendedReviewsTaskGetTaskInfo'
            description: array of tasks
    HtmlItemInfo:
      type: object
      properties:
        page:
          type:
          - integer
          - 'null'
          description: serial number of the returned HTML page
        date:
          type:
          - string
          - 'null'
          description: 'date and time when the HTML page was scanned

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        html:
          type:
          - string
          - 'null'
          description: HTML page
    BusinessDataTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BusinessDataTasksReadyResultInfo'
            description: array of results
    BusinessDataTripadvisorLocationsResultInfo:
      type: object
      properties:
        location_code:
          type:
          - integer
          - 'null'
          description: location code
        location_name:
          type:
          - string
          - 'null'
          description: full name of the location
        location_name_parent:
          type:
          - string
          - 'null'
          description: 'the name of the superordinate location

            example:

            "location_code": 9041134,

            "location_name": "Vienna International Airport,Lower Austria,Austria",

            "location_name_parent": "Lower Austria,Austria"'
        country_iso_code:
          type:
          - string
          - 'null'
          description: ISO country code of the location
        location_type:
          type:
          - string
          - 'null'
          description: location type
    BusinessDataTripadvisorSearchTaskGetTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTaskGetResultInfo'
            description: array of results
    RatingInfo:
      properties:
        rating_type:
          type:
          - string
          - 'null'
          description: 'the type of rating

            here you can find the following elements: Max5, Percents, CustomMax'
        value:
          type:
          - number
          - 'null'
          description: the value of the rating
          format: double
        votes_count:
          type:
          - integer
          - 'null'
          description: the amount of feedback
          format: int64
        rating_max:
          type:
          - integer
          - 'null'
          description: the maximum value for a rating_type
    BusinessDataIdListResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BusinessDataIdListTaskInfo'
            description: array of tasks
    WorkDayInfo:
      type: object
      properties:
        open:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/TimeInfo'
          description: opening time
        close:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/TimeInfo'
          description: closing time
    BusinessDataBusinessListingsSearchLiveRequestInfo:
      type: object
      properties:
        categories:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'business categories

            optional field

            the categories you specify are used to search for business listings;

            if you don’t use this field, we will return business listings found in the specified location;

            you can specify up to 10 categories'
        description:
          type:
          - string
          - 'null'
          description: 'description of the element in SERP

            optional field

            the description of the business entity for which the results are collected;

            can contain up to 200 characters'
        title:
          type:
          - string
          - 'null'
          description: 'title of the element in SERP

            optional field

            the name of the business entity for which the results are collected;

            can contain up to 200 characters'
        is_claimed:
          type:
          - boolean
          - 'null'
          description: 'indicates whether the business is verified by its owner on Google Maps

            optional field'
        location_coordinate:
          type:
          - string
          - 'null'
          description: 'GPS coordinates of a location

            optional field

            location_coordinate parameter should be specified in the “latitude,longitude,radius” format

            the maximum number of decimal digits for “latitude” and “longitude”: 7

            the value of “radius” is specified in kilometres (km)

            the minimum value for “radius”: 1

            the maximum value for “radius”: 100000

            example:

            53.476225,-2.243572,200'
        filters:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, <, <=, >, >=, =, <>, in, not_in, like, not_like, ilike, not_ilike, match, not_match

            you can use the % operator with like and not_like to match any string of zero or more characters

            example:

            ["rating.value",">",3]

            you can receive the list of available filters by making a separate request to https://api.dataforseo.com/v3/business_data/business_listings/available_filters

            The full list of possible filters is available here.'
        order_by:
          type:
          - array
          - 'null'
          items:
            type: string
          description: 'results sorting rules

            optional field

            you can use the same values as in the filters array to sort the results

            possible sorting types:

            asc – results will be sorted in the ascending order

            desc – results will be sorted in the descending order

            you should use a comma to set up a sorting parameter

            example:

            ["rating.value,desc"]note that you can set no more than three sorting rules in a single request

            you should use a comma to separate several sorting rules

            example:

            ["rating.value,desc","rating.votes_count,desc"]'
        limit:
          type:
          - integer
          - 'null'
          description: 'the maximum number of returned businesses

            optional field

            default value: 100

            maximum value: 1000'
        offset:
          type:
          - integer
          - 'null'
          description: 'offset in the results array of returned businesses

            optional field

            default value: 0

            if you specify the 10 value, the first ten entities in the results array will be omitted and the data will be provided for the successive entities

            Note: we recommend using this parameter only when retrieving up to 10,000 results

            for retrieving over 10,000 results, use the offset_token instead'
        offset_token:
          type:
          - string
          - 'null'
          description: 'token for subsequent requests

            optional field

            provided in the identical filed of the response to each request;

            use this parameter to avoid timeouts while trying to obtain over 100,000 results in a single request;

            by specifying the unique offset_token value from the response array, you will get the subsequent results of the initial task;

            offset_token values are unique for each subsequent task

            Note: if the offset_token is specified in the request, all other parameters should be identical to the previous request

            learn more about this parameter on our Help Center'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
      example:
      - categories:
        - pizza_restaurant
        description: pizza
        title: pizza
        is_claimed: true
        location_coordinate: 53.476225,-2.243572,10
        order_by:
        - rating.value,desc
        filters:
        - - rating.value
          - '>'
          - 3
        limit: 3
    BusinessDataSocialMediaRedditLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BusinessDataSocialMediaRedditLiveTaskInfo'
            description: array of tasks
    BusinessDataGoogleHotelSearchesTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BusinessDataGoogleHotelSearchesTasksReadyTaskInfo'
            description: array of tasks
    BusinessDataGoogleExtendedReviewsTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BusinessDataGoogleExtendedReviewsTasksReadyResultInfo'
            description: array of results
    BusinessDataTrustpilotSearchTasksReadyResultInfo:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
        se:
          type:
          - string
          - 'null'
          description: 'search engine specified when setting the task

            can take the following values: trustpilot'
        se_type:
          type:
          - string
          - 'null'
          description: search engine type
        date_posted:
          type:
          - string
          - 'null'
          description: date when the task was posted (in the UTC format)
        tag:
          type:
          - string
          - 'null'
          description: user-defined task identifier
        endpoint:
          type:
          - string
          - 'null'
          description: URL for collecting the results of the task
    BusinessDataTripadvisorSearchTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/BusinessDataTripadvisorSearchTasksReadyResultInfo'
            description: array of results
    BusinessDataGoogleMyBusinessInfoTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - object
            - 'null'
            description: 'array of results

              in this case, the value will be null'
    BusinessDataGoogleExtendedReviewsTaskPostRequestInfo:
      type: object
      properties:
        keyword:
          type:
          - string
          - 'null'
          description: 'keyword

            required field if you don’t specify cid or place_id

            the keyword you specify should indicate the name of the local establishment;

            you can specify up to 700 characters in the keyword filed;

            all %## will be decoded (plus character ‘+’ will be decoded to a space character)

            if you need to use the “%” character for your keyword, please specify it as “%25”;

            if this field contains such parameters as ‘allinanchor:’, ‘allintext:’, ‘allintitle:’, ‘allinurl:’, ‘define:’, ‘filetype:’, ‘id:’, ‘inanchor:’, ‘info:’, ‘intext:’, ‘intitle:’, ‘inurl:’, ‘link:’, ‘related:’, ‘site:’, the charge per task will be multiplied by 5

            Note: queries containing the ‘cache:’ parameter are not supported and will return a validation error

            learn more about rules and limitations of keyword and keywords fields in DataForSEO APIs in this Help Center article

            Note: if you use this field, your account will be charged three times the standard rate for tasks involving the Google Reviews API'
        cid:
          type:
          - string
          - 'null'
          description: 'unique, google-defined id of the business entity

            required field if you don’t specify keyword or place_id

            example:

            194604053573767737

            learn more about the identifier in this help center article

            Note: if you use this field, your account will be charged two times the standard rate for tasks involving the Google Reviews API'
        place_id:
          type:
          - string
          - 'null'
          description: 'identifier of the business entity in Google Maps

            required field if you don’t specify keyword or cid

            example:

            GhIJQWDl0CIeQUARxks3icF8U8A

            learn more about the identifier in this help center article

            Note: if you use this field, your account will be charged two times the standard rate for tasks involving the Google Reviews API'
        priority:
          type:
          - integer
          - 'null'
          description: 'task priority

            optional field

            can take the following values:

            1 – normal execution priority (set by default)

            2 – high execution priority

            You will be additionally charged for the tasks with high execution priority.

            The cost can be calculated on the Pricing page.'
        location_name:
          type:
          - string
          - 'null'
          description: 'full name of search engine location

            required field if you don’t specify location_code or location_coordinate

            if you use this field, you don’t need to specify location_code or location_coordinate

            you can receive the list of available locations with location_name by making a separate request to the https://api.dataforseo.com/v3/business_data/google/locations

            example:

            London,England,United Kingdom'
        location_code:
          type:
          - integer
          - 'null'
          description: 'search engine location code

            required field if you don’t specify location_name or location_coordinate

            if you use this field, you don’t need to specify location_name or location_coordinate

            you can receive the list of available locations with location_code by making a separate request to the https://api.dataforseo.com/v3/business_data/google/locations

            example:

            2840'
        location_coordinate:
          type:
          - string
          - 'null'
          description: 'GPS coordinates of a location

            required field if you don’t specify location_name or location_code

            if you use this field, you don’t need to specify location_name or location_code

            location_coordinate parameter should be specified in the “latitude,longitude,radius” format

            the maximum number of decimal digits for “latitude” and “longitude”: 7

            the minimum value for “radius”: 199.9

            example:

            53.476225,-2.243572,200'
        language_name:
          type:
          - string
          - 'null'
          description: 'full name of search engine language

            required field if you don’t specify language_code

            if you use this field, you don’t need to specify language_code

            you can receive the list of available languages with language_name by making a separate request to the https://api.dataforseo.com/v3/business_data/google/languages

            example:

            English'
        language_code:
          type:
          - string
          - 'null'
          description: 'search engine language code

            required field if you don’t specify language_name

            if you use this field, you don’t need to specify language_name

            you can receive the list of available languages with their language_code by making a separate request to the https://api.dataforseo.com/v3/business_data/google/languages

            example:

            en'
        depth:
          type:
          - integer
          - 'null'
          description: 'parsing depth

            optional field

            number of reviews in SERP

            we strongly recommend setting the parsing depth in the multiples of twenty, because our systems processes twenty reviews in a row

            default value: 20

            maximum value: 1000

            Your account will be billed per each SERP containing up to 20 results;

            Setting depth above 20 may result in additional charges if the search engine returns more than 20 results;

            The cost can be calculated on the Pricing page.'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
        postback_url:
          type:
          - string
          - 'null'
          description: 'URL for sending task results

            optional field

            once the task is completed, we will send a POST request with its results compressed in the gzip format to the postback_url you specified

[...]
