openapi: 3.2.0
info:
  title: DataForSEO Merchant API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: Merchant
paths:
  /v3/merchant/id_list:
    post:
      tags:
      - Merchant
      description: 'This endpoint is designed to provide you with a list of IDs and metadata for all Merchant tasks created within the specified time period, including both successful and uncompleted tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/id_list/?bash'''
      operationId: MerchantIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantIdListRequestInfo'
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantIdListResponseInfo'
      security:
      - basicAuth: []
      summary: Merchant id list
      x-summary-source: derived
  /v3/merchant/errors:
    post:
      tags:
      - Merchant
      description: 'By calling this endpoint you will receive information about the Merchant API tasks that returned an error within the past 7 days.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/errors/?bash'''
      operationId: MerchantErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantErrorsRequestInfo'
              example:
              - limit: 10
                offset: 0
                filtered_function: pingback_url
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantErrorsResponseInfo'
      security:
      - basicAuth: []
      summary: Merchant errors
      x-summary-source: derived
  /v3/merchant/google/languages:
    get:
      tags:
      - Merchant
      description: 'You will receive the list of supported Google Shopping languages by calling this API.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/languages/?bash'''
      operationId: MerchantGoogleLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Merchant google languages
      x-summary-source: derived
  /v3/merchant/google/locations:
    get:
      tags:
      - Merchant
      description: for more info please visit 'https://docs.dataforseo.com/v3/merchant/google/locations/?bash'
      operationId: MerchantGoogleLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleLocationsResponseInfo'
      security:
      - basicAuth: []
      summary: Merchant google locations
      x-summary-source: derived
  /v3/merchant/google/locations/{country}:
    get:
      tags:
      - Merchant
      description: for more info please visit 'https://docs.dataforseo.com/v3/merchant/google/locations/?bash'
      operationId: MerchantGoogleLocationsCountry
      parameters:
      - name: country
        in: path
        description: 'country ISO code

          optional field

          specify the ISO code if you want to filter the list of locations by country

          example:

          us'
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleLocationsCountryResponseInfo'
      security:
      - basicAuth: []
      summary: Merchant google locations country
      x-summary-source: derived
  /v3/merchant/google/products/task_post:
    post:
      tags:
      - Merchant
      description: 'Google Shopping Products endpoint will provide you with the list of products found on Google Shopping for the specified query. The results include product title, description in Google Shopping SERP, product rank, price, reviews and rating as well as the related domain.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/products/task_post/?bash'''
      operationId: GoogleProductsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductsTaskPostRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                keyword: iphone
                price_min: 5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductsTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google products task post
      x-summary-source: derived
  /v3/merchant/google/products/tasks_ready:
    get:
      tags:
      - Merchant
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/products/tasks_ready/?bash'''
      operationId: GoogleProductsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductsTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google products tasks ready
      x-summary-source: derived
  /v3/merchant/tasks_ready:
    get:
      tags:
      - Merchant
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/products/tasks_ready/?bash'''
      operationId: MerchantTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Merchant tasks ready
      x-summary-source: derived
  /v3/merchant/google/products/task_get/advanced/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/products/task_get/advanced/?bash'''
      operationId: GoogleProductsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductsTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google products task get advanced
      x-summary-source: derived
  /v3/merchant/google/products/task_get/html/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/products/task_get/html/?bash'''
      operationId: GoogleProductsTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductsTaskGetHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Google products task get html
      x-summary-source: derived
  /v3/merchant/google/sellers/task_post:
    post:
      tags:
      - Merchant
      description: 'Google Shopping Sellers endpoint will provide you with the list of top 10 sellers that listed the specified product on Google Shopping. The provided data for each seller includes related product base and total price, shipment and purchase details and special offers. The results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/sellers/task_post/?bash'''
      operationId: GoogleSellersTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleSellersTaskPostRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                product_id: '1113158713975221117'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleSellersTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google sellers task post
      x-summary-source: derived
  /v3/merchant/google/sellers/tasks_ready:
    get:
      tags:
      - Merchant
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/sellers/tasks_ready/?bash'''
      operationId: GoogleSellersTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleSellersTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google sellers tasks ready
      x-summary-source: derived
  /v3/merchant/google/sellers/task_get/advanced/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/sellers/task_get/advanced/?bash'''
      operationId: GoogleSellersTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleSellersTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google sellers task get advanced
      x-summary-source: derived
  /v3/merchant/google/product_info/task_post:
    post:
      tags:
      - Merchant
      description: 'This endpoint provides data on a product listed on Google Shopping, including product description, images, rating, variations, specifications and sellers. In order to set a task, you have to specify one of the following fields: product_id, data_docid, or gid.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/product_info/task_post/?bash'''
      operationId: GoogleProductInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductInfoTaskPostRequestInfo'
              example:
              - language_code: en
                location_code: 2840
                product_id: '1113158713975221117'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductInfoTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Google product info task post
      x-summary-source: derived
  /v3/merchant/google/product_info/tasks_ready:
    get:
      tags:
      - Merchant
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/product_info/tasks_ready/?bash'''
      operationId: GoogleProductInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductInfoTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Google product info tasks ready
      x-summary-source: derived
  /v3/merchant/google/product_info/task_get/advanced/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/product_info/task_get/advanced/?bash'''
      operationId: GoogleProductInfoTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductInfoTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Google product info task get advanced
      x-summary-source: derived
  /v3/merchant/google/sellers/ad_url/{shop_ad_aclk}:
    get:
      tags:
      - Merchant
      description: 'Google Shopping Sellers Ad URL is designed to provide you with a full URL of the advertisement containing all additional parameters set by the seller.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/google/sellers/ad_url/?bash'''
      operationId: GoogleSellersAdUrl
      parameters:
      - name: shop_ad_aclk
        in: path
        description: 'unique ad click referral parameter

          you can obtain this parameter with Google Shopping Products or Google Shopping Sellers'
        required: true
        schema:
          type: string
        example: DChcSEwiSl5TKpbPoAhVFmdUKHfa_B_wYABADGgJ3cw&sig
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleSellersAdUrlResponseInfo'
      security:
      - basicAuth: []
      summary: Google sellers ad url
      x-summary-source: derived
  /v3/merchant/amazon/locations:
    get:
      tags:
      - Merchant
      description: 'You will receive the list of supported Amazon locations by this API call. You can filter the list of locations by country when setting a task.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/locations/?bash'''
      operationId: AmazonLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonLocationsResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon locations
      x-summary-source: derived
  /v3/merchant/amazon/locations/{country}:
    get:
      tags:
      - Merchant
      description: 'You will receive the list of supported Amazon locations by this API call. You can filter the list of locations by country when setting a task.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/locations/?bash'''
      operationId: AmazonLocationsCountry
      parameters:
      - name: country
        in: path
        description: 'country ISO code

          optional field

          specify the ISO code if you want to filter the list of locations by country

          example:

          us'
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonLocationsCountryResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon locations country
      x-summary-source: derived
  /v3/merchant/amazon/languages:
    get:
      tags:
      - Merchant
      description: 'You will receive the list of supported Amazon languages by calling this API.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/languages/?bash'''
      operationId: AmazonLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonLanguagesResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon languages
      x-summary-source: derived
  /v3/merchant/amazon/products/task_post:
    post:
      tags:
      - Merchant
      description: 'This endpoint provides results from Amazon product listings according to the specified keyword (product name), location, and language parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/products/task_post/?bash'''
      operationId: AmazonProductsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonProductsTaskPostRequestInfo'
              example:
              - language_code: en_US
                location_code: 2840
                keyword: shoes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonProductsTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon products task post
      x-summary-source: derived
  /v3/merchant/amazon/products/tasks_ready:
    get:
      tags:
      - Merchant
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/products/tasks_ready/?bash'''
      operationId: AmazonProductsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonProductsTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon products tasks ready
      x-summary-source: derived
  /v3/merchant/amazon/products/task_get/advanced/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/products/task_get/advanced/?bash'''
      operationId: AmazonProductsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonProductsTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon products task get advanced
      x-summary-source: derived
  /v3/merchant/amazon/products/task_get/html/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/products/task_get/html/?bash'''
      operationId: AmazonProductsTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonProductsTaskGetHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon products task get html
      x-summary-source: derived
  /v3/merchant/amazon/asin/task_post:
    post:
      tags:
      - Merchant
      description: 'This endpoint will provide you with a full list of ASINs assigned to different modifications of a product.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/asin/task_post/?bash'''
      operationId: AmazonAsinTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonAsinTaskPostRequestInfo'
              example:
              - language_code: en_US
                location_code: 2840
                asin: B0756FCPPN
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonAsinTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon asin task post
      x-summary-source: derived
  /v3/merchant/amazon/asin/tasks_ready:
    get:
      tags:
      - Merchant
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/asin/tasks_ready/?bash'''
      operationId: AmazonAsinTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonAsinTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon asin tasks ready
      x-summary-source: derived
  /v3/merchant/amazon/asin/task_get/advanced/{id}:
    get:
      tags:
      - Merchant
      description: 'This endpoint will provide you with information about the product and ASINs of all its modifications listed on Amazon.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/asin/task_get/advanced/?bash'''
      operationId: AmazonAsinTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonAsinTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon asin task get advanced
      x-summary-source: derived
  /v3/merchant/amazon/asin/task_get/html/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/asin/task_get/html/?bash'''
      operationId: AmazonAsinTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonAsinTaskGetHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon asin task get html
      x-summary-source: derived
  /v3/merchant/amazon/sellers/task_post:
    post:
      tags:
      - Merchant
      description: 'This endpoint provides a list of sellers of the specified product on Amazon. The data provided for each seller includes related product condition, pricing, shipment, and rating details.

        The results are specific to the selected location (see the List of Locations) and language (see the List of Languages) settings.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/sellers/task_post/?bash'''
      operationId: AmazonSellersTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonSellersTaskPostRequestInfo'
              example:
              - language_code: en_US
                location_code: 2840
                asin: B085RFFC9Q
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonSellersTaskPostResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon sellers task post
      x-summary-source: derived
  /v3/merchant/amazon/sellers/tasks_ready:
    get:
      tags:
      - Merchant
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/sellers/tasks_ready/?bash'''
      operationId: AmazonSellersTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonSellersTasksReadyResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon sellers tasks ready
      x-summary-source: derived
  /v3/merchant/amazon/sellers/task_get/advanced/{id}:
    get:
      tags:
      - Merchant
      description: 'This endpoint provides a list of sellers of the specified product on Amazon. The data provided for each seller includes related product condition, pricing, shipment, and rating details.

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/sellers/task_get/advanced/?bash'''
      operationId: AmazonSellersTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 30 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonSellersTaskGetAdvancedResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon sellers task get advanced
      x-summary-source: derived
  /v3/merchant/amazon/sellers/task_get/html/{id}:
    get:
      tags:
      - Merchant
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/merchant/amazon/sellers/task_get/html/?bash'''
      operationId: AmazonSellersTaskGetHtml
      parameters:
      - name: id
        in: path
        description: 'task identifier

          unique task identifier in our system in the UUID format

          you will be able to use it within 7 days to request the results of the task at any time'
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonSellersTaskGetHtmlResponseInfo'
      security:
      - basicAuth: []
      summary: Amazon sellers task get html
      x-summary-source: derived
components:
  schemas:
    HtmlItemInfo:
      type: object
      properties:
        page:
          type:
          - integer
          - 'null'
          description: serial number of the returned HTML page
        date:
          type:
          - string
          - 'null'
          description: 'date and time when the HTML page was scanned

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        html:
          type:
          - string
          - 'null'
          description: HTML page
    MerchantAmazonAsinTaskGetHtmlTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonAsinTaskGetHtmlResultInfo'
            description: array of results
    RatingInfo:
      properties:
        rating_type:
          type:
          - string
          - 'null'
          description: 'the type of rating

            here you can find the following elements: Max5, Percents, CustomMax'
        value:
          type:
          - number
          - 'null'
          description: the value of the rating
          format: double
        votes_count:
          type:
          - integer
          - 'null'
          description: the amount of feedback
          format: int64
        rating_max:
          type:
          - integer
          - 'null'
          description: the maximum value for a rating_type
    MerchantAmazonSellersTaskPostRequestInfo:
      type: object
      properties:
        asin:
          type: string
          description: 'unique product identifier on Amazon

            required field

            you can get this value making a separate request to the Amazon Products endpoint

            note that there is no full list of possible values as the asin values is a dynamic value assigned by Amazon

            example:

            B085RFFC9Q

            learn more about the identifier in this help center guide'
        priority:
          type:
          - integer
          - 'null'
          description: 'task priority

            optional field

            can take the following values:

            1 – normal execution priority (set by default)

            2 – high execution priority

            You will be additionally charged for the tasks with high execution priority.

            The cost can be calculated on the Pricing page.'
        location_name:
          type:
          - string
          - 'null'
          description: 'full name of the location

            required field if you don’t specify location_code or location_coordinate

            if you use this field, you don’t need to specify location_code or location_coordinate

            you can receive the list of available Amazon locations with their location_name by making a separate request to the https://api.dataforseo.com/v3/merchant/amazon/locations

            example:

            London,England,United Kingdom'
        location_code:
          type:
          - integer
          - 'null'
          description: 'location code

            required field if you don’t specify location_name or location_coordinate

            if you use this field, you don’t need to specify location_name or location_coordinate

            you can receive the list of available Amazon locations with their location_code by making a separate request to the https://api.dataforseo.com/v3/merchant/amazon/locations

            example:

            2840'
        location_coordinate:
          type:
          - string
          - 'null'
          description: 'GPS coordinates of a location

            required field if you don’t specify location_name or location_code

            if you use this field, you don’t need to specify location_name or location_code

            location_coordinate parameter should be specified in the “latitude,longitude,radius” format

            the maximum number of decimal digits for “latitude” and “longitude”: 7

            the minimum value for “radius”: 199.9

            example:

            53.476225,-2.243572,200'
        language_name:
          type:
          - string
          - 'null'
          description: 'full name of the language

            required field if you don’t specify language_code

            if you use this field, you don’t need to specify language_code

            you can receive the list of available Amazon languages with their language_name by making a separate request to the https://api.dataforseo.com/v3/merchant/amazon/languages

            example:

            English (United States)'
        language_code:
          type:
          - string
          - 'null'
          description: 'language code

            required field if you don’t specify language_name

            if you use this field, you don’t need to specify language_name

            you can receive the list of available Amazon languages with their language_code by making a separate request to the https://api.dataforseo.com/v3/merchant/amazon/languages

            example:

            en_US'
        se_domain:
          type:
          - string
          - 'null'
          description: 'search engine domain

            optional field

            we choose the relevant search engine domain automatically according to the location and language you specify

            however, you can set a custom search engine domain in this field

            example:

            amazon.co.uk, amazon.com.au, amazon.de, etc.'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
        postback_url:
          type:
          - string
          - 'null'
          description: 'URL for sending task results

            optional field

            once the task is completed, we will send a POST request with its results compressed in the gzip format to the postback_url you specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/postbackscript?id=$id

            http://your-server.com/postbackscript?id=$id&tag=$tag

            Note: special characters in postback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
        postback_data:
          type:
          - string
          - 'null'
          description: 'postback_url datatype

            required field if you specify postback_url

            corresponds to the datatype that will be sent to your server

            possible values:

            advanced, html'
        pingback_url:
          type:
          - string
          - 'null'
          description: 'notification URL of a completed task

            optional field

            when a task is completed we will notify you by GET request sent to the URL you have specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/pingscript?id=$id

            http://your-server.com/pingscript?id=$id&tag=$tag

            Note: special characters in pingback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
      example:
      - language_code: en_US
        location_code: 2840
        asin: B085RFFC9Q
    MerchantGoogleProductInfoTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - object
            - 'null'
            description: 'array of results

              in this case, the value will be null'
    MerchantGoogleProductsTasksReadyResultInfo:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
        se:
          type:
          - string
          - 'null'
          description: search engine specified when setting the task
        se_type:
          type:
          - string
          - 'null'
          description: 'type of search engine

            example: products'
        date_posted:
          type:
          - string
          - 'null'
          description: date when the task was posted (in the UTC format)
        tag:
          type:
          - string
          - 'null'
          description: user-defined task identifier
        endpoint_advanced:
          type:
          - string
          - 'null'
          description: URL for collecting the results of Google Shopping Products Advanced task
        endpoint_html:
          type:
          - string
          - 'null'
          description: URL for collecting the results of Google Shopping Products HTML task
    MerchantAmazonAsinTaskPostRequestInfo:
      type: object
      properties:
        asin:
          type: string
          description: 'product ID

            required field

            unique product identifier (ASIN) in Amazon

            you can receive the asin parameter by making a separate request to the Amazon Products endpoint'
        priority:
          type:
          - integer
          - 'null'
          description: 'task priority

            optional field

            can take the following values:

            1 – normal execution priority (set by default)

            2 – high execution priority

            You will be additionally charged for the tasks with high execution priority.

            The cost can be calculated on the Pricing page.'
        location_name:
          type:
          - string
          - 'null'
          description: 'full name of search engine location

            required field if you don’t specify location_code or location_coordinate

            if you use this field, you don’t need to specify location_code or location_coordinate

            you can receive the list of available locations with their location_name parameters by making a separate request to the https://api.dataforseo.com/v3/merchant/amazon/locations

            example:

            HA1,England,United Kingdom'
        location_code:
          type:
          - integer
          - 'null'
          description: 'search engine location code

            required field if you don’t specify location_name or location_coordinate

            if you use this field, you don’t need to specify location_name or location_coordinate

            you can receive the list of available locations with their location_code parameters by making a separate request to the

            https://api.dataforseo.com/v3/merchant/amazon/locations

            example:

            9045969'
        location_coordinate:
          type:
          - string
          - 'null'
          description: 'GPS coordinates of a location

            required field if you don’t specify location_name or location_code

            if you use this field, you don’t need to specify location_name or location_code

            location_coordinate parameter should be specified in the “latitude,longitude,radius” format

            the maximum number of decimal digits for “latitude” and “longitude”: 7

            the minimum value for “radius”: 199.9

            example:

            53.476225,-2.243572,200'
        language_name:
          type:
          - string
          - 'null'
          description: 'full name of search engine language

            required field if you don’t specify language_code

            if you use this field, you don’t need to specify language_code

            you can receive the list of available languages with their language_name parameters by making a separate request to the

            https://api.dataforseo.com/v3/merchant/amazon/languages

            example:

            English (United Kingdom)'
        language_code:
          type:
          - string
          - 'null'
          description: 'search engine language code

            required field if you don’t specify language_name

            if you use this field, you don’t need to specify language_name

            you can receive the list of available languages with their language_code parameters by making a separate request to the https://api.dataforseo.com/v3/merchant/amazon/languages

            example:

            en_GB'
        se_domain:
          type:
          - string
          - 'null'
          description: 'search engine domain

            optional field

            we choose the relevant search engine domain automatically according to the location and language you specify

            however, you can set a custom search engine domain in this field

            example:

            amazon.com, amazon.co.uk, amazon.fr, etc.'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
        postback_url:
          type:
          - string
          - 'null'
          description: 'URL for sending task results

            optional field

            once the task is completed, we will send a POST request with its results compressed in the gzip format to the postback_url you specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/postbackscript?id=$id

            http://your-server.com/postbackscript?id=$id&tag=$tag

            Note: special characters in postback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
        postback_data:
          type:
          - string
          - 'null'
          description: 'postback_url datatype

            required field if you specify postback_url

            corresponds to the datatype that will be sent to your server

            possible values:

            advanced, html'
        pingback_url:
          type:
          - string
          - 'null'
          description: 'notification URL of a completed task

            optional field

            when a task is completed we will notify you by GET request sent to the URL you have specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/pingscript?id=$id

            http://your-server.com/pingscript?id=$id&tag=$tag

            Note: special characters in pingback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
      example:
      - language_code: en_US
        location_code: 2840
        asin: B0756FCPPN
    MerchantGoogleLocationsCountryResultInfo:
      type: object
      properties:
        location_code:
          type:
          - integer
          - 'null'
          description: location code
        location_name:
          type:
          - string
          - 'null'
          description: full name of the location
        location_name_parent:
          type:
          - string
          - 'null'
          description: 'the name of the superordinate location

            example:

            "location_name": "Arkansas,United States",

            "location_name_parent": "United States"'
        country_iso_code:
          type:
          - string
          - 'null'
          description: ISO country code of the location
        location_type:
          type:
          - string
          - 'null'
          description: location type
    MerchantGoogleSellersTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - object
            - 'null'
            description: 'array of results

              in this case, the value will be null'
    MerchantAmazonSellersTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonSellersTaskPostTaskInfo'
            description: array of tasks
    AmazonDeliveryInfo:
      type: object
      properties:
        delivery_message:
          type:
          - string
          - 'null'
          description: message accompanying the delivery information as posted by the seller
        delivery_date_from:
          type:
          - string
          - 'null'
          description: the earliest date when the product can be shipped
        delivery_date_to:
          type:
          - string
          - 'null'
          description: the latest date when the product can be delivered
        fastest_delivery_date_from:
          type:
          - string
          - 'null'
          description: the earliest date when the product can be delivered with a fast delivery option
        fastest_delivery_date_to:
          type:
          - string
          - 'null'
          description: the latest date when the product can be delivered with a fast delivery option
        delivery_price:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/PriceInfo'
          description: 'price for the delivery

            price of the delivery based on the location you specified in the POST request;

            if free delivery is available, the value is null'
    MerchantAmazonSellersTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - object
            - 'null'
            description: 'array of results

              in this case, the value will be null'
    MerchantGoogleProductInfoTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleProductInfoTasksReadyTaskInfo'
            description: array of tasks
    MerchantGoogleSellersTasksReadyResultInfo:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
        se:
          type:
          - string
          - 'null'
          description: search engine specified when setting the task
        se_type:
          type:
          - string
          - 'null'
          description: 'type of search engine

            can take the following values: shopping'
        date_posted:
          type:
          - string
          - 'null'
          description: date when the task was posted (in the UTC format)
        tag:
          type:
          - string
          - 'null'
          description: user-defined task identifier
        endpoint_advanced:
          type:
          - string
          - 'null'
          description: URL for collecting the results of Google Shopping Sellers Advanced task
        endpoint_html:
          type:
          - string
          - 'null'
          description: URL for collecting the results of Google Shopping Sellers HTML task
    MerchantGoogleProductsTaskGetAdvancedResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleProductsTaskGetAdvancedTaskInfo'
            description: array of tasks
    MerchantAmazonAsinTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonAsinTasksReadyTaskInfo'
            description: array of tasks
    MerchantGoogleSellersAdUrlResultInfo:
      type: object
      properties:
        ad_aclk:
          type:
          - string
          - 'null'
          description: unique ad click referral parameter
        ad_url:
          type:
          - string
          - 'null'
          description: full URL of the advertisement
        ad_url_redirects:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: 'URLs where the link from Google Shopping redirects before reaching a final URL

            includes up to 10 URLs of the ad’s redirect path to the seller’s ad_url'
    MerchantAmazonLocationsResultInfo:
      type: object
      properties:
        location_code:
          type:
          - integer
          - 'null'
          description: location code
        location_name:
          type:
          - string
          - 'null'
          description: full name of the location
        location_name_parent:
          type:
          - string
          - 'null'
          description: 'the name of the superordinate location

            example:

            "location_code": 9041134,

            "location_name": "90290,California,United States",

            "location_name_parent": "California,United States"'
        country_iso_code:
          type:
          - string
          - 'null'
          description: ISO country code of the location
        location_type:
          type:
          - string
          - 'null'
          description: location type
    MerchantAmazonSellersTasksReadyResultInfo:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
        se:
          type:
          - string
          - 'null'
          description: search engine specified when setting the task
        se_type:
          type:
          - string
          - 'null'
          description: type of search engine
        date_posted:
          type:
          - string
          - 'null'
          description: date when the task was posted (in the UTC format)
        tag:
          type:
          - string
          - 'null'
          description: user-defined task identifier
        endpoint_advanced:
          type:
          - string
          - 'null'
          description: URL for collecting the results of Amazon Sellers Advanced task
        endpoint_html:
          type:
          - string
          - 'null'
          description: URL for collecting the results of Amazon Sellers HTML task
    UserProfileInfo:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: the name of the reviewer
        avatar:
          type:
          - string
          - 'null'
          description: URL to the profile picture of the reviewer
        url:
          type:
          - string
          - 'null'
          description: relevant url
        reviews_count:
          type:
          - integer
          - 'null'
          description: total number of reviews submitted by the reviewer
          format: int64
        locations:
          type:
          - string
          - 'null'
          description: country of the reviewer
    MerchantAmazonProductsTaskPostRequestInfo:
      type: object
      properties:
        keyword:
          type: string
          description: 'keyword

            required field

            you can specify up to 700 characters in this field

            all %## will be decoded (plus character ‘+’ will be decoded to a space character)

            if you need to use the “%” character for your keyword, please specify it as “%25”;

            learn more about rules and limitations of keyword and keywords fields in DataForSEO APIs in this Help Center article'
        url:
          type:
          - string
          - 'null'
          description: 'direct URL of the search query

            optional field

            you can specify a direct URL and we will sort it out to the necessary fields. Note that this method is the most difficult for our API to process and also requires you to specify the exact language and location in the URL. In most cases, we wouldn’t recommend using this method.

            example:

            https://www.amazon.com/s/?field-keywords=shoes&language=en_US'
        priority:
          type:
          - integer
          - 'null'
          description: 'task priority

            optional field

            can take the following values:

            1 – normal execution priority (set by default)

            2 – high execution priority

            You will be additionally charged for the tasks with high execution priority.

            The cost can be calculated on the Pricing page.'
        location_name:
          type:
          - string
          - 'null'
          description: 'full name of search engine location

            required field if you don’t specify location_code or location_coordinate

            if you use this field, you don’t need to specify location_code or location_coordinate

            you can receive the list of available locations with their location_name parameters by making a separate request to the https://api.dataforseo.com/v3/merchant/amazon/locations

            example:

            HA1,England,United Kingdom'
        location_code:
          type:
          - integer
          - 'null'
          description: 'search engine location code

            required field if you don’t specify location_name or location_coordinate

            if you use this field, you don’t need to specify location_name or location_coordinate

            you can receive the list of available locations with their location_code parameters by making a separate request to the

            https://api.dataforseo.com/v3/merchant/amazon/locations

            example:

            9045969'
        location_coordinate:
          type:
          - string
          - 'null'
          description: 'GPS coordinates of a location

            required field if you don’t specify location_name or location_code

            if you use this field, you don’t need to specify location_name or location_code

            location_coordinate parameter should be specified in the “latitude,longitude,radius” format

            the maximum number of decimal digits for “latitude” and “longitude”: 7

            the minimum value for “radius”: 199.9

            example:

            53.476225,-2.243572,200'
        language_name:
          type:
          - string
          - 'null'
          description: 'full name of search engine language

            required field if you don’t specify language_code

            if you use this field, you don’t need to specify language_code

            you can receive the list of available languages with their language_name parameters by making a separate request to the

            https://api.dataforseo.com/v3/merchant/amazon/languages

            example:

            English (United Kingdom)'
        language_code:
          type:
          - string
          - 'null'
          description: 'search engine language code

            required field if you don’t specify language_name

            if you use this field, you don’t need to specify language_name

            you can receive the list of available languages with their language_code parameters by making a separate request to the https://api.dataforseo.com/v3/merchant/amazon/languages

            example:

            en_GB'
        se_domain:
          type:
          - string
          - 'null'
          description: 'search engine domain

            optional field

            we choose the relevant search engine domain automatically according to the location and language you specify

            however, you can set a custom search engine domain in this field

            example:

            amazon.com, amazon.co.uk, amazon.fr, etc.'
        depth:
          type:
          - integer
          - 'null'
          description: 'parsing depth

            optional field

            number of results to be retrieved from the Amazon results page

            default value: 100

            max value: 700

            Your account will be billed per each SERP containing up to 100 results;

            Setting depth above 100 may result in additional charges if the search engine returns more than 100 results;

            The cost can be calculated on the Pricing page.'
        max_crawl_pages:
          type:
          - integer
          - 'null'
          description: 'page crawl limit

            optional field

            number of search results pages to crawl

            max value: 7

            Note: the max_crawl_pages and depth parameters complement each other;

            learn more at our help center'
        department:
          type:
          - string
          - 'null'
          description: 'amazon product department

            optional field

            specify one of the following amazon departments for extracting product listings:

            "Arts & Crafts", "Automotive", "Baby", "Beauty & Personal Care", "Books", "Computers", "Digital Music", "Electronics", "Kindle Store", "Prime Video", "Women''s Fashion", "Men''s Fashion", "Girls'' Fashion", "Boys'' Fashion", "Deals", "Health & Household", "Home & Kitchen", "Industrial & Scientific", "Luggage", "Movies & TV", "Music, CDs & Vinyl", "Pet Supplies", "Software", "Sports & Outdoors", "Tools & Home Improvement", "Toys & Games", "Video Games"'
        search_param:
          type:
          - string
          - 'null'
          description: 'additional parameters of the search query

            optional field

            you can use the following Amazon search URL parameters for customizing the search

            example:

            &low-price=52 – search for products that cost more than 52 USD;

            &high-price=45 – search for products that cost less than 45 USD;

            &sort=relevancerank – sort results by relevance;

            &sort=featured-rank – sort results by featured products;

            &sort=price-asc-rank – sort by ascending price;

            &sort=price-desc-rank – sort by descending price;

            &sort=review-rank – sort by the average customer reviews value;

            &sort=date-desc-rank – sort by the newest arrival

            Note that search_param values will be ignored if any of the following parameters is used: price_min, price_max, sort_by'
        price_min:
          type:
          - integer
          - 'null'
          description: 'minimum product price

            optional field

            minimum price of the returned products listed on Amazon for the specified query

            example:

            5

            Note: if you specify price_min, the search_param parameter will be ignored'
        price_max:
          type:
          - integer
          - 'null'
          description: 'maximum product price

            optional field

            maximum price of the returned products listed on Amazon for the specified query

            example:

            100

            Note: if you specify price_max, the search_param parameter will be ignored'
        sort_by:
          type:
          - string
          - 'null'
          description: 'results sorting rules

            optional field

            the following sorting rules are supported:

            relevance, price_low_to_high, price_high_to_low, featured, avg_customer_review, newest_arrival

            example:

            sort_by:"relevance"

            Note: if you specify sort_by, the search_param parameter will be ignored'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
        postback_url:
          type:
          - string
          - 'null'
          description: 'URL for sending task results

            optional field

            once the task is completed, we will send a POST request with its results compressed in the gzip format to the postback_url you specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/postbackscript?id=$id

            http://your-server.com/postbackscript?id=$id&tag=$tag

            Note: special characters in postback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
        postback_data:
          type:
          - string
          - 'null'
          description: 'postback_url datatype

            required field if you specify postback_url

            corresponds to the datatype that will be sent to your server

            possible values:

            advanced, html'
        pingback_url:
          type:
          - string
          - 'null'
          description: 'notification URL of a completed task

            optional field

            when a task is completed we will notify you by GET request sent to the URL you have specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/pingscript?id=$id

            http://your-server.com/pingscript?id=$id&tag=$tag

            Note: special characters in pingback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
      example:
      - language_code: en_US
        location_code: 2840
        keyword: shoes
    MerchantTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/MerchantTasksReadyResultInfo'
            description: array of results
    MerchantGoogleProductsTaskPostRequestInfo:
      type: object
      properties:
        keyword:
          type: string
          description: 'keyword

            required field

            you can specify up to 700 characters in the keyword filed

            all %## will be decoded (plus character ‘+’ will be decoded to a space character)

            if you need to use the “%” character for your keyword, please specify it as “%25”;

            learn more about rules and limitations of keyword and keywords fields in DataForSEO APIs in this Help Center article'
        url:
          type:
          - string
          - 'null'
          description: 'direct URL of the search query

            optional field

            you can specify a direct URL and we will sort it out to the necessary fields. Note that this method is the most difficult for our API to process and also requires you to specify the exact language and location in the URL. In most cases, we wouldn’t recommend using this method.

            example:

            https://www.google.com/search?q=fish&hl=en&gl=US&gws_rd=cr&uule=w+CAIQIFISCQs2MuSEtepUEUK33kOSuTsc'
        priority:
          type:
          - integer
          - 'null'
          description: 'task priority

            optional field

            can take the following values:

            1 – normal execution priority (set by default)

            2 – high execution priority

            You will be additionally charged for the tasks with high execution priority.

            The cost can be calculated on the Pricing page.'
        location_name:
          type:
          - string
          - 'null'
          description: 'full name of the location

            required field if you don’t specify location_code or location_coordinate

            if you use this field, you don’t need to specify location_code or location_coordinate

            you can receive the list of available Google Shopping locations with their location_name by making a separate request to the https://api.dataforseo.com/v3/merchant/google/locations

            example:

            London,England,United Kingdom'
        location_code:
          type:
          - integer
          - 'null'
          description: 'location code

            required field if you don’t specify location_name or location_coordinate

            if you use this field, you don’t need to specify location_name or location_coordinate

            you can receive the list of available Google Shopping locations with their location_code by making a separate request to the https://api.dataforseo.com/v3/merchant/google/locations

            example:

            2840'
        location_coordinate:
          type:
          - string
          - 'null'
          description: 'GPS coordinates of a location

            required field if you don’t specify location_name or location_code

            if you use this field, you don’t need to specify location_name or location_code

            location_coordinate parameter should be specified in the “latitude,longitude,radius” format

            the maximum number of decimal digits for “latitude” and “longitude”: 7

            the minimum value for “radius”: 199.9

            example:

            53.476225,-2.243572,200'
        language_name:
          type:
          - string
          - 'null'
          description: 'full name of the language

            required field if you don’t specify language_code

            if you use this field, you don’t need to specify language_code

            you can receive the list of available Google Shopping languages with their language_name by making a separate request to the https://api.dataforseo.com/v3/merchant/google/languages

            example:

            English'
        language_code:
          type:
          - string
          - 'null'
          description: 'language code

            required field if you don’t specify language_name

            if you use this field, you don’t need to specify language_name

            you can receive the list of available Google Shopping languages with their language_code by making a separate request to the https://api.dataforseo.com/v3/merchant/google/languages

            example:

            en'
        se_domain:
          type:
          - string
          - 'null'
          description: 'search engine domain

            optional field

            we choose the relevant search engine domain automatically according to the location and language you specify

            however, you can set a custom search engine domain in this field

            example:

            google.co.uk, google.com.au, google.de, etc.'
        depth:
          type:
          - integer
          - 'null'
          description: 'parsing depth

            optional field

            number of results to be retrieved from Google Shopping SERP

            default value: 40

            max value: 120

            Your account will be billed per each SERP containing up to 40 results;

            Setting depth above 40 may result in additional charges if the search engine returns more than 40 results;

            The cost can be calculated on the Pricing page.'
        max_crawl_pages:
          type:
          - integer
          - 'null'
          description: 'page crawl limit

            optional field

            number of search results pages to crawl

            max value: 7

            Note: the max_crawl_pages and depth parameters complement each other;

            learn more at our help center'
        search_param:
          type:
          - string
          - 'null'
          description: 'additional parameters of the search query

            optional field

            you can use the following search URL parameters for customizing the search;

            example:

            &tbs=ppr_min:45 – search for products that cost more than 45 USD;

            &tbs=ppr_max:50 – search for products that cost less than 50 USD;

            &tbs=p_ord:p – sort by ascending price;

            &tbs=p_ord:pd – sort by descending price;

            &tbs=p_ord:rv – sort by review score;

            &tbs=ppr_max:50,p_ord:rv – sort by review score with the maximum price of 50 USD.;

            &udm=28 – use new Google Shopping markup with 40 SERP results returned by default (the cost for one SERP is deducted accordingly); the maximum depth is 200; this parameter must be specified without tbm=shop in the url;

            &shoprs=$value – specify advanced filtering and sorting in the new Shopping markup; replace $value with a string in protobuf Base64 format; learn more on our help center.

            Note that search_param values will be ignored if any of the following parameters are used: price_min, price_max, sort_by'
        price_min:
          type:
          - integer
          - 'null'
          description: 'minimum product price

            optional field

            minimum price of the returned products listed on Google Shopping for the specified query

            example:

            5

            Note: if you specify price_min, the search_param parameter will be ignored'
        price_max:
          type:
          - integer
          - 'null'
          description: 'maximum product price

            optional field

            maximum price of the returned products listed on Google Shopping for the specified query

            example:

            100

            Note: if you specify price_max, the search_param parameter will be ignored'
        sort_by:
          type:
          - string
          - 'null'
          description: 'results sorting rules

            optional field

            the following sorting rules are supported:

            review_score, price_low_to_high, price_high_to_low

            example:

            sort_by:"review_score"

            Note: if you specify sort_by, the search_param parameter will be ignored'
        tag:
          type:
          - string
          - 'null'
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
        postback_url:
          type:
          - string
          - 'null'
          description: 'URL for sending task results

            optional field

            once the task is completed, we will send a POST request with its results compressed in the gzip format to the postback_url you specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/postbackscript?id=$id

            http://your-server.com/postbackscript?id=$id&tag=$tag

            Note: special characters in postback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
        postback_data:
          type:
          - string
          - 'null'
          description: 'postback_url datatype

            required field if you specify postback_url

            corresponds to the datatype that will be sent to your server

            possible values:

            advanced, html'
        pingback_url:
          type:
          - string
          - 'null'
          description: 'notification URL of a completed task

            optional field

            when a task is completed we will notify you by GET request sent to the URL you have specified

            you can use the ‘$id’ string as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the request.

            example:

            http://your-server.com/pingscript?id=$id

            http://your-server.com/pingscript?id=$id&tag=$tag

            Note: special characters in pingback_url will be urlencoded;

            i.a., the # character will be encoded into %23

            learn more on our Help Center'
      example:
      - language_code: en
        location_code: 2840
        keyword: iphone
        price_min: 5
    BaseMerchantGoogleShoppingProductsElementItem:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: type of element
        rank_group:
          type:
          - integer
          - 'null'
          description: 'position within a group of elements with identical type values

            positions of elements with different type values are omitted from rank_group'
        rank_absolute:
          type:
          - integer
          - 'null'
          description: 'absolute rank in SERP

            absolute position among all the elements found in Google Shopping SERP'
        position:
          type:
          - string
          - 'null'
          description: 'alignment of the element in SERP

            can take the following values:

            left, right'
        xpath:
          type:
          - string
          - 'null'
          description: XPath of the element
      additionalProperties: false
      discriminator:
        propertyName: type
        mapping:
          google_shopping_serp: '#/components/schemas/GoogleShoppingSerpElementItem'
          google_shopping_paid: '#/components/schemas/GoogleShoppingPaidElementItem'
          google_shopping_sponsored_carousel: '#/components/schemas/GoogleShoppingSponsoredCarouselElementItem'
          google_shopping_carousel: '#/components/schemas/GoogleShoppingCarouselElementItem'
          related_searches: '#/components/schemas/RelatedSearchesElementItem'
    MerchantAmazonAsinTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonAsinTaskPostTaskInfo'
            description: array of tasks
    ProductCategoryInfo:
      type: object
      properties:
        category:
          type:
          - string
          - 'null'
          description: product category name
        url:
          type:
          - string
          - 'null'
          description: 'product category URL

            indicates the browse path on Amazon with the unique browse node ID (product category ID on Amazon)'
    DeliveryInfo:
      type: object
      properties:
        delivery_message:
          type:
          - string
          - 'null'
          description: 'delivery information

            message accompanying the delivery information as posted by the seller'
        delivery_price:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/PriceInfo'
          description: 'price for the delivery

            price of the delivery based on the location you specified in the POST request;

            if free delivery is available, the value is null'
    MerchantAmazonProductsTasksReadyResultInfo:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: 'task identifier of the completed task

            unique task identifier in our system in the UUID format'
        se:
          type:
          - string
          - 'null'
          description: search engine specified when setting the task
        se_type:
          type:
          - string
          - 'null'
          description: 'type of search engine

            can take the following values: organic'
        date_posted:
          type:
          - string
          - 'null'
          description: date when the task was posted (in the UTC format)
        tag:
          type:
          - string
          - 'null'
          description: user-defined task identifier
        endpoint_advanced:
          type:
          - string
          - 'null'
          description: URL for collecting the results of the Amazon Products Advanced task
        endpoint_html:
          type:
          - string
          - 'null'
          description: URL for collecting the results of the Amazon Products HTML task
    MerchantGoogleSellersTaskGetAdvancedResultInfo:
      type: object
      properties:
        product_id:
          type:
          - string
          - 'null'
          description: 'product_id received in a POST array

            learn more about the parameter in this help center guide'
        type:
          type:
          - string
          - 'null'
          description: type of element
        se_domain:
          type:
          - string
          - 'null'
          description: search engine domain in a POST array
        location_code:
          type:
          - integer
          - 'null'
          description: location code in a POST array
        language_code:
          type:
          - string
          - 'null'
          description: language code in a POST array
        check_url:
          type:
          - string
          - 'null'
          description: 'direct URL to Google Shopping results

            you can use it to make sure that we provided accurate results'
        datetime:
          type:
          - string
          - 'null'
          description: 'date and time when the result was received

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        title:
          type:
          - string
          - 'null'
          description: title of the product
        url:
          type:
          - string
          - 'null'
          description: URL to the product page
        image_url:
          type:
          - string
          - 'null'
          description: URL to the product image
        rating:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: 'product rating

            the product popularity rate based on product reviews'
        item_types:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: 'types of search results found in Google Shopping SERP

            contains types of all search results (items) found in the returned SERP

            possible item types:

            shops_list, buy_on_google'
        items_count:
          type:
          - integer
          - 'null'
          description: the number of results returned in the items array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/BaseMerchantGoogleShoppingSellersElementItem'
          description: items in SERP
    MerchantErrorsRequestInfo:
      type: object
      properties:
        limit:
          type:
          - integer
          - 'null'
          description: 'the maximum number of returned tasks that responded with an error

            optional field

            default value: 1000

            maximum value: 1000'
        offset:
          type:
          - integer
          - 'null'
          description: 'offset in the results array of returned tasks

            optional field

            default value: 0

            if you specify the 10 value, the first ten tasks in the results array will be omitted and the data will be provided for the successive tasks'
        filtered_function:
          type:
          - string
          - 'null'
          description: 'return tasks with a certain function

            use this field to obtain a list of tasks that returned an error filtered by a certain function

            you can filter the results by the values you receive in the function fields of the API response

            i.e., once you receive unfiltered results, you can call this API again to filter them by function

            example: sellers/ad_url, postback_url, pingback_url'
        datetime_from:
          type:
          - string
          - 'null'
          description: 'start time for filtering results

            optional field

            allows filtering results by the datetime parameter within the range of the last 7 days;

            must be specified in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2021-11-15 12:57:46 +00:00'
        datetime_to:
          type:
          - string
          - 'null'
          description: 'finish time for filtering results

            optional field

            allows filtering results by the datetime parameter within the range of the last 7 days;

            must be specified in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2021-11-15 13:57:46 +00:00'
      example:
      - limit: 10
        offset: 0
        filtered_function: pingback_url
    MerchantAmazonAsinTaskGetHtmlResultInfo:
      type: object
      properties:
        product_id:
          type:
          - string
          - 'null'
          description: ASIN received in a POST array
        type:
          type:
          - string
          - 'null'
          description: type of element
        se_domain:
          type:
          - string
          - 'null'
          description: search engine domain in a POST array
        location_code:
          type:
          - integer
          - 'null'
          description: location code in a POST array
        language_code:
          type:
          - string
          - 'null'
          description: language code in a POST array
        datetime:
          type:
          - string
          - 'null'
          description: 'date and time when the result was received

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        items_count:
          type:
          - integer
          - 'null'
          description: the number of results returned in the items array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/HtmlItemInfo'
          description: HTML pages and related data
    MerchantGoogleProductsTaskGetAdvancedResultInfo:
      type: object
      properties:
        keyword:
          type:
          - string
          - 'null'
          description: 'keyword received in a POST array

            keyword is returned with decoded %## (plus character ‘+’ will be decoded to a space character)'
        type:
          type:
          - string
          - 'null'
          description: type of element
        se_domain:
          type:
          - string
          - 'null'
          description: search engine domain in a POST array
        location_code:
          type:
          - integer
          - 'null'
          description: location code in a POST array
        language_code:
          type:
          - string
          - 'null'
          description: language code in a POST array
        check_url:
          type:
          - string
          - 'null'
          description: 'direct URL to Google Shopping results

            you can use it to make sure that we provided accurate results'
        datetime:
          type:
          - string
          - 'null'
          description: 'date and time when the result was received

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
        spell:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/SpellInfo'
          description: 'autocorrection of the search engine

            if the search engine provided results for a keyword that was corrected, we will specify the keyword corrected by the search engine and the type of autocorrection'
        item_types:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          description: 'types of search results found in Google Shopping SERP

            contains types of all search results (items) found in the returned SERP

            possible item types:

            google_shopping_sponsored_carousel, google_shopping_paid, google_shopping_serp'
        items_count:
          type:
          - integer
          - 'null'
          description: the number of results returned in the items array
          format: int64
        items:
          type:
          - array
          - 'null'
          items:
            type:
            - object
            - 'null'
            oneOf:
            - $ref: '#/components/schemas/BaseMerchantGoogleShoppingProductsElementItem'
          description: 'additional items present in the element

            contains a list of related keywords;

            if there are none, equals null'
    RatingElement:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: type of element
        position:
          type:
          - string
          - 'null'
          description: 'the alignment of the element in Google Shopping SERP

            possible values:

            left, right'
        rating_type:
          type:
          - string
          - 'null'
          description: 'the type of rating

            here you can find the following elements: Max5, Percents, CustomMax'
        value:
          type:
          - number
          - 'null'
          description: value of the rating
        votes_count:
          type:
          - integer
          - 'null'
          description: the amount of feedback
          format: int64
        rating_max:
          type:
          - integer
          - 'null'
          description: the maximum value for a rating_type
    ProductVariation:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: type of element
        product_id:
          type:
          - string
          - 'null'
          description: 'product ID in a POST array

            learn more about the parameter in this help center guide'
        gid:
          type:
          - string
          - 'null'
          description: 'GID ID in a POST array

            learn more about the parameter in this help center guide'
        data_docid:
          type:
          - string
          - 'null'
          description: unique identifier of the SERP data element in the POST array
        pvf:
          type:
          - string
          - 'null'
          description: 'product variation filter

            used in the product variation URL as the identifier of the specific product variation'
        title:
          type:
          - string
          - 'null'
          description: name of the product seller
        url:
          type:
          - string
          - 'null'
          description: product variation URL on Google Shopping
        variation_category:
          type:
          - string
          - 'null'
          description: 'category of the product variation

            example: "Storage Capacity"'
    MerchantGoogleLanguagesResultInfo:
      type: object
      properties:
        language_name:
          type:
          - string
          - 'null'
          description: language name
        language_code:
          type:
          - string
          - 'null'
          description: language code according to ISO 639-1
    MerchantAmazonSellersTaskGetAdvancedResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type:
            - array
            - 'null'
            items:
              type:
              - object
              - 'null'
[...]
