openapi: 3.0.1
info:
  title: DataForSEO AiOptimization Backlinks API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: Backlinks
paths:
  /v3/backlinks/id_list:
    post:
      tags:
      - Backlinks
      description: 'This endpoint is designed to provide you with a list of IDs and metadata for all Backlinks tasks created within the specified time period, including both successful and uncompleted tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/id_list/?bash'''
      operationId: BacklinksIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksIdListRequestInfo'
                nullable: true
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksIdListResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/errors:
    post:
      tags:
      - Backlinks
      description: 'By calling this endpoint you will receive information about the Backlinks API tasks that returned an error within the past 7 days.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/errors/?bash'''
      operationId: BacklinksErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksErrorsRequestInfo'
                nullable: true
              example:
              - limit: 10
                offset: 0
                filtered_function: backlinks/content_duplicates
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksErrorsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/available_filters:
    get:
      tags:
      - Backlinks
      description: 'Backlinks API features plenty of parameters that support custom filtration. By applying filters to your POST requests, you will be able to effortlessly extract data that matches your requirements. Note that we do not charge any fees for using data filtering or sorting rules.

        ‌‌

        Here you will find all the necessary information about filters that can be used with DataForSEO Backlinks API endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/filters/?bash'''
      operationId: BacklinksAvailableFilters
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksAvailableFiltersResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/index:
    get:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the total number of backlinks, domains, and pages our database contains for the moment when you make a request. You will also get stats for the last 12 months.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/index/?bash'''
      operationId: Index
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksIndexResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/summary/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with an overview of backlinks data available for a given domain, subdomain, or webpage.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/summary/live/?bash'''
      operationId: SummaryLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksSummaryLiveRequestInfo'
                nullable: true
              example:
              - target: explodingtopics.com
                internal_list_limit: 10
                include_subdomains: true
                backlinks_filters:
                - dofollow
                - '='
                - true
                backlinks_status_type: all
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksSummaryLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/history/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with historical backlinks data back to the beginning of 2019. You can receive the number of backlinks a given domain had in a specific time period, the number of new & lost backlinks, referring domains, and more.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/history/live/?bash'''
      operationId: HistoryLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksHistoryLiveRequestInfo'
                nullable: true
              example:
              - target: cnn.com
                date_from: '2026-01-15'
                date_to: '2026-03-15'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksHistoryLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/backlinks/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with a list of backlinks and relevant data for the specified domain, subdomain, or webpage.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/backlinks/live/?bash'''
      operationId: BacklinksLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBacklinksLiveRequestInfo'
                nullable: true
              example:
              - target: forbes.com
                mode: as_is
                filters:
                - dofollow
                - '='
                - true
                limit: 5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBacklinksLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/anchors/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with a detailed overview of anchors used when linking to the specified website with relevant backlink data for each of them.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/anchors/live/?bash'''
      operationId: AnchorsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksAnchorsLiveRequestInfo'
                nullable: true
              example:
              - target: forbes.com
                limit: 4
                order_by:
                - backlinks,desc
                filters:
                - anchor
                - like
                - '%news%'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksAnchorsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/domain_pages/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with a detailed overview of domain pages with backlink data for each page.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/domain_pages/live/?bash'''
      operationId: DomainPagesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksDomainPagesLiveRequestInfo'
                nullable: true
              example:
              - target: forbes.com
                limit: 5
                filters:
                - - page_summary.backlinks
                  - '>'
                  - 5
                - and
                - - page
                  - like
                  - '%sites%'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksDomainPagesLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/domain_pages_summary/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with detailed summary data on all backlinks and related metrics for each page of the target domain or subdomain you specify. If you indicate a single page as a target, you will get comprehensive summary data on all backlinks for that page.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/domain_pages_summary/live/?bash'''
      operationId: DomainPagesSummaryLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksDomainPagesSummaryLiveRequestInfo'
                nullable: true
              example:
              - target: forbes.com
                limit: 4
                order_by:
                - backlinks,desc
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksDomainPagesSummaryLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/referring_domains/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with a detailed overview of referring domains pointing to the target you specify.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/referring_domains/live/?bash'''
      operationId: ReferringDomainsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksReferringDomainsLiveRequestInfo'
                nullable: true
              example:
              - target: backlinko.com
                limit: 5
                order_by:
                - rank,desc
                exclude_internal_backlinks: true
                backlinks_filters:
                - dofollow
                - '='
                - true
                filters:
                - backlinks
                - '>'
                - 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksReferringDomainsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/referring_networks/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with a detailed overview of referring IPs and subnets pointing to the target you specify.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/referring_networks/live/?bash'''
      operationId: ReferringNetworksLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksReferringNetworksLiveRequestInfo'
                nullable: true
              example:
              - target: backlinko.com
                network_address_type: subnet
                limit: 5
                order_by:
                - rank,desc
                exclude_internal_backlinks: true
                backlinks_filters:
                - dofollow
                - '='
                - true
                filters:
                - backlinks
                - '>'
                - 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksReferringNetworksLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/competitors/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with a list of competitors that share some part of the backlink profile with a target website, along with a number of backlink intersections and the rank of every competing website.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/competitors/live/?bash'''
      operationId: CompetitorsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksCompetitorsLiveRequestInfo'
                nullable: true
              example:
              - target: dataforseo.com
                filters:
                - rank
                - '>'
                - 100
                order_by:
                - rank,desc
                limit: 5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksCompetitorsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/domain_intersection/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the list of domains pointing to the specified websites. This endpoint is especially useful for creating a Link Gap feature that shows what domains link to your competitors but do not link out to your website.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/domain_intersection/live/?bash'''
      operationId: DomainIntersectionLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksDomainIntersectionLiveRequestInfo'
                nullable: true
              example:
              - targets:
                  '1': moz.com
                  '2': ahrefs.com
                include_subdomains: false
                exclude_targets:
                - semrush.com
                limit: 5
                order_by:
                - 1.backlinks,desc
                exclude_internal_backlinks: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksDomainIntersectionLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/page_intersection/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the list of referring pages pointing to the specified targets. It is especially useful for finding the backlinks that point to your competitors but don’t point to your website.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/page_intersection/live/?bash'''
      operationId: PageIntersectionLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksPageIntersectionLiveRequestInfo'
                nullable: true
              example:
              - targets:
                  '1': football.com
                  '2': fifa.com
                exclude_targets:
                - skysports.com
                limit: 5
                order_by:
                - 1.rank,desc
                filters:
                - - 2.domain_from_rank
                  - '>'
                  - 400
                - and
                - - 1.dofollow
                  - '='
                  - true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksPageIntersectionLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/timeseries_summary/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with an overview of backlink data for the target domain available during a period between the two indicated dates. Backlink metrics will be grouped by the time range that you define: day, week, month, or year.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/timeseries_summary/live/?bash'''
      operationId: TimeseriesSummaryLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksTimeseriesSummaryLiveRequestInfo'
                nullable: true
              example:
              - target: dataforseo.com
                date_from: '2026-01-15'
                date_to: '2026-03-15'
                group_range: month
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksTimeseriesSummaryLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/timeseries_new_lost_summary/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the number of new and lost backlinks and referring domains for the domain specified in the target field.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/timeseries_new_lost_summary/live/?bash'''
      operationId: TimeseriesNewLostSummaryLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksTimeseriesNewLostSummaryLiveRequestInfo'
                nullable: true
              example:
              - target: dataforseo.com
                date_from: '2026-01-15'
                date_to: '2026-03-15'
                group_range: month
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksTimeseriesNewLostSummaryLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/bulk_ranks/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with rank scores of the domains, subdomains, and pages specified in the targets array. The score is based on the number of referring domains pointing to the specified domains, subdomains, or pages. The rank values represent real-time data for the date of the request and range from 0 (no backlinks detected) to 1,000 (highest rank). A similar scoring system is used in Google’s Page Rank algorithm. You can learn more about rank scores in this help center article

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/bulk_ranks/live/?bash'''
      operationId: BulkRanksLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkRanksLiveRequestInfo'
                nullable: true
              example:
              - targets:
                - forbes.com
                - cnn.com
                - bbc.com
                - yelp.com
                - https://www.apple.com/iphone/
                - https://ahrefs.com/blog/
                - ibm.com
                - https://variety.com/
                - https://stackoverflow.com/
                - www.trustpilot.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkRanksLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/bulk_backlinks/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the number of backlinks pointing to domains, subdomains, and pages specified in the targets array. The returned numbers correspond to all live backlinks, that is, total number of referring links with all attributes (e.g., nofollow, noreferrer, ugc, sponsored etc) that were found during the latest check.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/bulk_backlinks/live/?bash'''
      operationId: BulkBacklinksLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkBacklinksLiveRequestInfo'
                nullable: true
              example:
              - targets:
                - forbes.com
                - cnn.com
                - bbc.com
                - yelp.com
                - https://www.apple.com/iphone/
                - https://ahrefs.com/blog/
                - ibm.com
                - https://variety.com/
                - https://stackoverflow.com/
                - www.trustpilot.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkBacklinksLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/bulk_spam_score/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with spam scores of the domains, subdomains, and pages you specified in the targets array. Spam Score is DataForSEO’s proprietary metric that indicates how “spammy” your target is on a scale from 0 to 100. You can learn more about Spam Score, how it is calculated, and signals it takes into account in this help center article

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/bulk_spam_score/live/?bash'''
      operationId: BulkSpamScoreLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkSpamScoreLiveRequestInfo'
                nullable: true
              example:
              - targets:
                - forbes.com
                - cnn.com
                - bbc.com
                - yelp.com
                - https://www.apple.com/iphone/
                - https://ahrefs.com/blog/
                - ibm.com
                - https://variety.com/
                - https://stackoverflow.com/
                - www.trustpilot.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkSpamScoreLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/bulk_referring_domains/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the number of referring domains pointing to domains, subdomains, and pages specified in the targets array. The returned numbers are based on all live referring domains, that is, total number of domains pointing to the target with any type of backlinks (e.g., nofollow, noreferrer, ugc, sponsored etc) that were found during the latest check.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/bulk_referring_domains/live/?bash'''
      operationId: BulkReferringDomainsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkReferringDomainsLiveRequestInfo'
                nullable: true
              example:
              - targets:
                - forbes.com
                - cnn.com
                - bbc.com
                - yelp.com
                - https://www.apple.com/iphone/
                - https://ahrefs.com/blog/
                - ibm.com
                - https://variety.com/
                - https://stackoverflow.com/
                - www.trustpilot.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkReferringDomainsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/bulk_new_lost_backlinks/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the number of new and lost backlinks for the domains, subdomains, and pages specified in the targets array.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/bulk_new_lost_backlinks/live/?bash'''
      operationId: BulkNewLostBacklinksLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkNewLostBacklinksLiveRequestInfo'
                nullable: true
              example:
              - targets:
                - forbes.com
                - cnn.com
                - bbc.com
                - yelp.com
                - https://www.apple.com/iphone/
                - https://ahrefs.com/blog/
                - ibm.com
                - https://variety.com/
                - https://stackoverflow.com/
                - www.trustpilot.com
                date_from: '2026-01-15'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkNewLostBacklinksLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/bulk_new_lost_referring_domains/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with the number of referring domains pointing to the domains, subdomains and pages specified in the targets array.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/bulk_new_lost_referring_domains/live/?bash'''
      operationId: BulkNewLostReferringDomainsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkNewLostReferringDomainsLiveRequestInfo'
                nullable: true
              example:
              - targets:
                - forbes.com
                - cnn.com
                - bbc.com
                - yelp.com
                - https://www.apple.com/iphone/
                - https://ahrefs.com/blog/
                - ibm.com
                - https://variety.com/
                - https://stackoverflow.com/
                - www.trustpilot.com
                date_from: '2026-01-15'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkNewLostReferringDomainsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/backlinks/bulk_pages_summary/live:
    post:
      tags:
      - Backlinks
      description: 'This endpoint will provide you with a comprehensive overview of backlinks and related data for a bulk of up to 1000 pages, domains, or subdomains. If you indicate a single page as a target, you will get comprehensive summary data on all backlinks for that page.

        for more info please visit ''https://docs.dataforseo.com/v3/backlinks/bulk_pages_summary/live/?bash'''
      operationId: BulkPagesSummaryLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkPagesSummaryLiveRequestInfo'
                nullable: true
              example:
              - targets:
                - https://dataforseo.com/solutions
                - https://dataforseo.com/about-us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/BacklinksBulkPagesSummaryLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
components:
  schemas:
    BaseResponseTaskInfo:
      properties:
        id:
          type: string
          description: 'task identifier

            unique task identifier in our system in the UUID format'
          nullable: true
        status_code:
          type: integer
          description: 'status code of the task

            generated by DataForSEO, can be within the following range: 10000-60000

            you can find the full list of the response codes here'
          nullable: true
        status_message:
          type: string
          description: 'informational message of the task

            you can find the full list of general informational messages here'
          nullable: true
        time:
          type: string
          description: execution time, seconds
          nullable: true
        cost:
          type: number
          description: total tasks cost, USD
          format: double
          nullable: true
        result_count:
          type: integer
          description: number of elements in the result array
          format: int64
          nullable: true
        path:
          type: array
          items:
            type: string
            nullable: true
          description: URL path
          nullable: true
        data:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: contains the same parameters that you specified in the POST request
          nullable: true
    BacklinksCompetitorsLiveItem:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        target:
          type: string
          description: competitor domain
          nullable: true
        rank:
          type: integer
          description: 'domain rank

            domain rank across all domains in the database

            rank is calculated based on the method for node ranking in a linked database – a principle used in the original Google PageRank algorithm

            learn more about the metric and how it is calculated in this help center article'
          nullable: true
        intersections:
          type: integer
          description: indicates the number of backlink intersections with the target specified in the POST array
          nullable: true
    RankedKeywordsInfo:
      type: object
      properties:
        page_from_keywords_count_top_3:
          type: integer
          description: number of keywords for which the page is ranked in top 3 search results
          format: int64
          nullable: true
        page_from_keywords_count_top_10:
          type: integer
          description: number of keywords for which the page is ranked in top 10 search results
          format: int64
          nullable: true
        page_from_keywords_count_top_100:
          type: integer
          description: number of keywords for which the page is ranked in top 100 search results
          format: int64
          nullable: true
    BacklinksAnchorsLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksAnchorsLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BacklinksSummaryLiveRequestInfo:
      type: object
      properties:
        target:
          type: string
          description: 'domain, subdomain or webpage to get data for

            required field

            a domain or a subdomain should be specified without https:// and www.

            a page should be specified with absolute URL (including http:// or https://)'
        include_subdomains:
          type: boolean
          description: 'indicates if the subdomains of the target will be included in the search

            optional field

            if set to false, the subdomains will be ignored

            default value: true'
          nullable: true
        include_indirect_links:
          type: boolean
          description: 'indicates if indirect links to the target will be included in the results

            optional field

            if set to true, the results will include data on indirect links pointing to a page that either redirects to the target, or points to a canonical page

            if set to false, indirect links will be ignored

            default value: true'
          nullable: true
        exclude_internal_backlinks:
          type: boolean
          description: 'indicates if internal backlinks from subdomains to the target will be excluded from the results

            optional field

            if set to true, the results will not include data on internal backlinks from subdomains of the same domain as target

            if set to false, internal links will be included in the results

            default value: true'
          nullable: true
        internal_list_limit:
          type: integer
          description: 'maximum number of elements within internal arrays

            optional field

            you can use this field to limit the number of elements within the following arrays:

            referring_links_tld

            referring_links_types

            referring_links_attributes

            referring_links_platform_types

            referring_links_semantic_locations

            default value: 10

            maximum value: 1000'
          nullable: true
        backlinks_status_type:
          type: string
          description: 'set what backlinks to return and count

            optional field

            you can use this field to choose what backlinks will be returned and used for aggregated metrics for your target;

            possible values:

            all – all backlinks will be returned and counted;

            live – backlinks found during the last check will be returned and counted;

            lost – lost backlinks will be returned and counted;

            default value: live'
          nullable: true
        backlinks_filters:
          type: array
          items:
            type: object
            nullable: true
          description: 'filter the backlinks of your target

            optional field

            you can use this field to filter the initial backlinks that will be included in the dataset for aggregated metrics for your target

            you can filter the backlinks by all fields available in the response of this endpoint

            using this parameter, you can include only dofollow backlinks in the response and create a flexible backlinks dataset to calculate the metrics for

            example:

            "backlinks_filters": ["dofollow", "=", true]'
          nullable: true
        rank_scale:
          type: string
          description: 'defines the scale used for calculating and displaying the rank, domain_from_rank, and page_from_rank values

            optional field

            you can use this parameter to choose whether rank values are presented on a 0–100 or 0–1000 scale

            possible values:

            one_hundred — rank values are displayed on a 0–100 scale

            one_thousand — rank values are displayed on a 0–1000 scale

            default value: one_thousand

            learn more about how this parameter works and how ranking metrics are calculated in this Help Center article'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
      example:
      - target: explodingtopics.com
        internal_list_limit: 10
        include_subdomains: true
        backlinks_filters:
        - dofollow
        - '='
        - true
        backlinks_status_type: all
    BacklinksPageMeta:
      type: object
      properties:
        title:
          type: string
          description: page title
          nullable: true
        canonical:
          type: string
          description: canonical page
          nullable: true
        internal_links_count:
          type: integer
          description: number of internal links on the page
          format: int64
          nullable: true
        external_links_count:
          type: integer
          description: number of external links on the page
          format: int64
          nullable: true
        images_count:
          type: integer
          description: number of images on the page
          format: int64
          nullable: true
        words_count:
          type: integer
          description: number of words on the page
          format: int64
          nullable: true
        page_spam_score:
          type: integer
          description: 'spam score of the page

            learn more about how the metric is calculated on this help center page'
          nullable: true
        social_media_tags:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: 'array of social media tags found on the page

            contains social media tags and their content

            supported tags include but are not limited to Open Graph and Twitter card'
          nullable: true
        h1:
          type: array
          items:
            type: string
            nullable: true
          description: 'h1 tag

            content of h1 tags'
          nullable: true
        h2:
          type: array
          items:
            type: string
            nullable: true
          description: 'h2 tag

            content of h2 tags'
          nullable: true
        h3:
          type: array
          items:
            type: string
            nullable: true
          description: 'h3 tag

            content of h3 tags'
          nullable: true
        images_alt:
          type: array
          items:
            type: string
            nullable: true
          description: content of alt tags
          nullable: true
        powered_by:
          type: array
          items:
            type: string
            nullable: true
          description: CMS details
          nullable: true
        language:
          type: string
          description: 'page content language

            example:

            en'
          nullable: true
        charset:
          type: string
          description: 'character encoding

            examples:

            utf-8'
          nullable: true
        platform_type:
          type: array
          items:
            type: string
            nullable: true
          description: type of a platform
          nullable: true
        technologies:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: website technologies
          nullable: true
    BacklinksDomainPagesSummaryLiveResultInfo:
      type: object
      properties:
        target:
          type: string
          description: target in the post array
          nullable: true
        total_count:
          type: integer
          description: total number of relevant items in the database
          format: int64
          nullable: true
        items_count:
          type: integer
          description: number of items in the results array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BacklinksDomainPagesSummaryLiveItem'
            nullable: true
          description: items array
          nullable: true
    BacklinksSummaryLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksSummaryLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    TargetInfo:
      type: object
      properties:
        server:
          type: string
          description: server
          nullable: true
        cms:
          type: string
          description: content management system
          nullable: true
        platform_type:
          type: array
          items:
            type: string
            nullable: true
          description: platform type
          nullable: true
        ip_address:
          type: string
          description: IP address of the target
          nullable: true
        country:
          type: string
          description: country code that the target domain is determined to belong to
          nullable: true
        is_ip:
          type: boolean
          description: 'indicates if the target is IP

            if true, the domain, subdomain or webpage functions as an IP address and does not have a domain name'
          nullable: true
        target_spam_score:
          type: integer
          description: 'spam score of the target

            if the target is a domain/subdomain, this fields indicates the average spam score of all pages of that domain/subdomain;

            learn more about how the metric is calculated on this help center page'
          nullable: true
    BacklinksBacklinksLiveResultInfo:
      type: object
      properties:
        target:
          type: string
          description: target domain in a POST array
          nullable: true
        mode:
          type: string
          description: mode specified in a POST array
          nullable: true
        custom_mode:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: custom mode specified in a POST array
          nullable: true
        total_count:
          type: integer
          description: total amount of results relevant the request
          format: int64
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BacklinksBacklinksLiveItem'
            nullable: true
          description: contains relevant backlinks and referring domains data
          nullable: true
        search_after_token:
          type: string
          description: 'token for subsequent requests

            by specifying the unique search_after_token when setting a new task, you will get the subsequent results of the initial task;

            search_after_token values are unique for each subsequent task'
          nullable: true
    BacklinksBulkReferringDomainsLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksBulkReferringDomainsLiveTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BacklinksBulkBacklinksLiveResultInfo:
      type: object
      properties:
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BacklinksBulkBacklinksLiveItem'
            nullable: true
          description: contains relevant backlink data
          nullable: true
    BacklinksBulkNewLostReferringDomainsLiveResultInfo:
      type: object
      properties:
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BacklinksBulkNewLostReferringDomainsLiveItem'
            nullable: true
          description: contains relevant backlinks and referring domains data
          nullable: true
    BacklinksBacklinksLiveRequestInfo:
      type: object
      properties:
        target:
          type: string
          description: 'domain, subdomain or webpage to get backlinks for

            required field

            a domain or a subdomain should be specified without https:// and www.

            a page should be specified with absolute URL (including http:// or https://)'
        mode:
          type: string
          description: 'results grouping type

            optional field

            possible grouping types:

            as_is – returns all backlinks

            one_per_domain – returns one backlink per domain

            one_per_anchor – returns one backlink per anchor

            default value: as_is'
          nullable: true
        custom_mode:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: 'detailed results grouping type

            optional field

            use this object to get a specific number of backlinks per field

            if you use custom_mode, then mode will be ignored

            example:

            "custom_mode": {"field": "domain", "value": 100}'
          nullable: true
        field:
          type: string
          description: 'response field

            required field if you choose to specify custom_mode

            possible values:

            anchor

            domain_from

            domain_from_country

            tld_from

            page_from_encoding

            page_from_language

            item_type

            page_from_status_code

            semantic_location'
          nullable: true
        value:
          type: integer
          description: 'number of backlinks to return per field

            required field if you choose to specify custom_mode

            can be set from 1 to 1000'
          nullable: true
        filters:
          type: array
          items:
            type: object
            nullable: true
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            =, <>, in, not_in, like, not_like, ilike, not_ilike, regex, not_regex, match, not_match

            you can use the % operator with like and not_like to match any string of zero or more characters

            example:

            ["rank",">","80"]

            [["page_from_rank",">","55"],

            "and",

            ["dofollow","=",true]]

            [["first_seen",">","2017-10-23 11:31:45 +00:00"],

            "and",

            [["anchor","like","%seo%"],"or",["text_pre","like","%seo%"]]]

            The full list of possible filters is available here.'
          nullable: true
        order_by:
          type: array
          items:
            type: string
          description: 'results sorting rules

            optional field

            you can use the same values as in the filters array to sort the results

            possible sorting types:

            asc – results will be sorted in the ascending order

            desc – results will be sorted in the descending order

            you should use a comma to set up a sorting type

            example:

            ["rank,desc"]

            note that you can set no more than three sorting rules in a single request

            you should use a comma to separate several sorting rules

            example:

            ["domain_from_rank,desc","page_from_rank,asc"]'
          nullable: true
        offset:
          type: integer
          description: 'offset in the results array of the returned backlinks

            optional field

            default value: 0

            if you specify the 10 value, the first ten backlinks in the results array will be omitted and the data will be provided for the successive backlinks;

            Note: the maximum value is 20,000, use the search_after_token if you would like to offset more results'
          nullable: true
        search_after_token:
          type: string
          description: 'token for subsequent requests

            optional field

            provided in the identical filed of the response to each request;

            use this parameter to avoid timeouts while trying to obtain over 20,000 results in a single request;

            by specifying the unique search_after_token value from the response array, you will get the subsequent results of the initial task;

            search_after_token values are unique for each subsequent task ;

            Note: if the search_after_token is specified in the request, all other parameters should be identical to the previous request'
          nullable: true
        limit:
          type: integer
          description: 'the maximum number of returned backlinks

            optional field

            default value: 100

            maximum value: 1000'
          nullable: true
        backlinks_status_type:
          type: string
          description: 'set what backlinks to return and count

            optional field

            you can use this field to choose what backlinks will be returned and used for aggregated metrics for your target;

            possible values:

            all – all backlinks will be returned and counted;

            live – backlinks found during the last check will be returned and counted;

            lost – lost backlinks will be returned and counted;

            default value: live'
          nullable: true
        include_subdomains:
          type: boolean
          description: 'indicates if the subdomains of the target will be included in the search

            optional field

            if set to false, the subdomains will be ignored

            default value: true'
          nullable: true
        include_indirect_links:
          type: boolean
          description: 'indicates if indirect links to the target will be included in the results

            optional field

            if set to true, the results will include data on indirect links pointing to a page that either redirects to the target, or points to a canonical page

            if set to false, indirect links will be ignored

            default value: true'
          nullable: true
        exclude_internal_backlinks:
          type: boolean
          description: 'indicates if internal backlinks from subdomains to the target will be excluded from the results

            optional field

            if set to true, the results will not include data on internal backlinks from subdomains of the same domain as target

            if set to false, internal links will be included in the results

            default value: true'
          nullable: true
        rank_scale:
          type: string
          description: 'defines the scale used for calculating and displaying the rank, domain_from_rank, and page_from_rank values

            optional field

            you can use this parameter to choose whether rank values are presented on a 0–100 or 0–1000 scale

            possible values:

            one_hundred — rank values are displayed on a 0–100 scale

            one_thousand — rank values are displayed on a 0–1000 scale

            default value: one_thousand

            learn more about how this parameter works and how ranking metrics are calculated in this Help Center article'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
      example:
      - target: forbes.com
        mode: as_is
        filters:
        - dofollow
        - '='
        - true
        limit: 5
    BacklinksIdListRequestInfo:
      type: object
      properties:
        datetime_from:
          type: string
          description: 'start time for filtering results

            required field

            if include_metadata is set to true, maximum value: a month from current datetime;

            if include_metadata is set to false, maximum value: six months from current datetime;

            must be specified in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2023-01-15 12:57:46 +00:00'
        datetime_to:
          type: string
          description: 'finish time for filtering results

            required field

            maximum value: current datetime;

            must be specified in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2023-01-31 13:57:46 +00:00'
        limit:
          type: integer
          description: 'the maximum number of returned task IDs

            optional field

            default value: 1000

            maximum value: 1000'
          nullable: true
        offset:
          type: integer
          description: 'offset in the results array of returned task IDs

            optional field

            default value: 0

            if you specify the 10 value, the first ten tasks in the results array will be omitted'
          nullable: true
        sort:
          type: string
          description: 'sorting by task execution time

            optional field

            possible values: "asc", "desc"

            default value: "asc"'
          nullable: true
        include_metadata:
          type: boolean
          description: 'include task metadata in the respond

            optional field

            default value: false'
          nullable: true
      example:
      - datetime_from: '2026-04-12 04:39:39 +00:00'
        datetime_to: '2026-04-14 04:39:39 +00:00'
        limit: 100
        offset: 0
        sort: desc
        include_metadata: true
    BacklinksIndexResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksIndexTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BacklinksBulkReferringDomainsLiveResultInfo:
      type: object
      properties:
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BacklinksBulkReferringDomainsLiveItem'
            nullable: true
          description: contains relevant backlinks and referring domains data
          nullable: true
    BacklinksReferringNetworksLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksReferringNetworksLiveTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BacklinksAnchorsLiveItem:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        anchor:
          type: string
          description: anchor of the backlink
          nullable: true
        rank:
          type: integer
          description: 'rank of the anchor links

            rank volume that referring websites pass to the target through links with a particular anchor

            rank is calculated based on the method for node ranking in a linked database – a principle used in the original Google PageRank algorithm

            learn more about the metric and how it is calculated in this help center article'
          nullable: true
        backlinks:
          type: integer
          description: indicates the number of backlinks
          format: int64
          nullable: true
        first_seen:
          type: string
          description: 'date and time when our crawler found the backlink with this anchor for the first time

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        lost_date:
          type: string
          description: 'date and time when the last backlink with this anchor was lost

            indicates the date and time when our crawler visited the page and it responded with 4xx or 5xx status code or the last backlink was removed

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2017-01-24 13:20:59 +00:00'
          nullable: true
        backlinks_spam_score:
          type: integer
          description: 'average spam score of all backlinks with this anchor

            learn more about how the metric is calculated on this help center page'
          format: int64
          nullable: true
        broken_backlinks:
          type: integer
          description: 'number of broken backlinks

            number of broken backlinks pointing to the target'
          format: int64
          nullable: true
        broken_pages:
          type: integer
          description: 'number of broken pages

            number of pages that respond with 4xx or 5xx status codes where backlinks are pointing to'
          nullable: true
        referring_domains:
          type: integer
          description: indicates the number of referring domains
          format: int64
          nullable: true
        referring_domains_nofollow:
          type: integer
          description: number of domains pointing at least one nofollow link to the target
          format: int64
          nullable: true
        referring_main_domains:
          type: integer
          description: indicates the number of referring main domains
          format: int64
          nullable: true
        referring_main_domains_nofollow:
          type: integer
          description: number of main domains pointing at least one nofollow link to the target
          format: int64
          nullable: true
        referring_ips:
          type: integer
          description: 'number of referring IP addresses

            number of IP addresses pointing to this page'
          format: int64
          nullable: true
        referring_subnets:
          type: integer
          description: number of referring subnetworks
          format: int64
          nullable: true
        referring_pages:
          type: integer
          description: indicates the number of pages pointing to target with this anchor
          format: int64
          nullable: true
        referring_pages_nofollow:
          type: integer
          description: number of referring pages pointing at least one nofollow link to the target with this anchor
          format: int64
          nullable: true
        referring_links_tld:
          type: object
          additionalProperties:
            type: integer
            format: int64
            nullable: true
          description: 'top-level domains of the referring links

            contains top level domains and referring link count per each'
          nullable: true
        referring_links_types:
          type: object
          additionalProperties:
            type: integer
            format: int64
            nullable: true
          description: 'types of referring links

            indicates the types of the referring links and link count per each type

            possible values:

            anchor, image, link, meta, canonical, alternate, redirect'
          nullable: true
        referring_links_attributes:
          type: object
          additionalProperties:
            type: integer
            format: int64
            nullable: true
          description: 'link attributes of the referring links

            indicates link attributes of the referring links and link count per each attribute'
          nullable: true
        referring_links_platform_types:
          type: object
          additionalProperties:
            type: integer
            format: int64
            nullable: true
          description: 'types of referring platforms

            indicates referring platform types and and link count per each platform

            possible values: cms, blogs, ecommerce, message-boards, wikis, news, organization'
          nullable: true
        referring_links_semantic_locations:
          type: object
          additionalProperties:
            type: integer
            format: int64
            nullable: true
          description: 'semantic locations of the referring links

            indicates semantic elements in HTML where the referring links are located and link count per each semantic location

            you can get the full list of semantic elements here

            examples:

            article, section, summary'
          nullable: true
        referring_links_countries:
          type: object
          additionalProperties:
            type: integer
            format: int64
            nullable: true
          description: 'ISO country codes of the referring links

            indicates ISO country codes of the domains where the referring links are located and the link count per each country'
          nullable: true
    BacklinksHistoryLiveRequestInfo:
      type: object
      properties:
        target:
          type: string
          description: 'domain

            required field

            a domain should be specified without https:// and www.'
        date_from:
          type: string
          description: 'starting date of the time range

            optional field

            minimum value 2019-01-01

            if you don’t specify this field, the minimum value will be used by default

            date format: "yyyy-mm-dd"

            example:

            "2019-01-15"'
          nullable: true
        date_to:
          type: string
          description: 'ending date of the time range

            optional field

            if you don’t specify this field, the today’s date will be used by default

            date format: "yyyy-mm-dd"

            example:

            "2019-01-15"'
          nullable: true
        rank_scale:
          type: string
          description: 'defines the scale used for calculating and displaying the rank, domain_from_rank, and page_from_rank values

            optional field

            you can use this parameter to choose whether rank values are presented on a 0–100 or 0–1000 scale

            possible values:

            one_hundred — rank values are displayed on a 0–100 scale

            one_thousand — rank values are displayed on a 0–1000 scale

            default value: one_thousand

            learn more about how this parameter works and how ranking metrics are calculated in this Help Center article'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
      example:
      - target: cnn.com
        date_from: '2026-01-15'
        date_to: '2026-03-15'
    BacklinksDomainIntersectionLiveResultInfo:
      type: object
      properties:
        targets:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: target domains, subdomains or webpages in a POST array
          nullable: true
        total_count:
          type: integer
          description: total amount of results relevant to your request
          format: int64
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BacklinksDomainIntersectionLiveItem'
            nullable: true
          description: contains domain that link to all targets from the POST array
          nullable: true
    BacklinksErrorsResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksErrorsTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BacklinksBulkSpamScoreLiveItem:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        target:
          type: string
          description: domain, subdomain or webpage from a POST array
          nullable: true
        spam_score:
          type: integer
          description: 'average spam score the target

            learn more about how the metric is calculated'
          nullable: true
    BacklinksCompetitorsLiveRequestInfo:
      type: object
      properties:
        target:
          type: string
          description: 'domain, subdomain or webpage to get competitor domains for

            required field

            a domain or a subdomain should be specified without https:// and www.

            a page should be specified with absolute URL (including http:// or https://)'
        limit:
          type: integer
          description: 'the maximum number of returned domains

            optional field

            default value: 100

            maximum value: 1000'
          nullable: true
        offset:
          type: integer
          description: 'offset in the results array of returned domains

            optional field

            default value: 0

            if you specify the 10 value, the first ten domains in the results array will be omitted and the data will be provided for the successive pages'
          nullable: true
        filters:
          type: array
          items:
            type: object
            nullable: true
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, =, <>, in, not_in, like, not_like, ilike, not_ilike, match, not_match

            you can use the % operator with like and not_like to match any string of zero or more characters

            example:

            ["rank",">","100"]

            [["target","like","%forbes%"],

            "and",

            [["rank",">","100"],"or",["intersections",">","5"]]]

            The full list of possible filters is available here.'
          nullable: true
        order_by:
          type: array
          items:
            type: string
          description: 'results sorting rules

            optional field

            you can use the same values as in the filters array to sort the results

            possible sorting types:

            asc – results will be sorted in the ascending order

            desc – results will be sorted in the descending order

            you should use a comma to set up a sorting type

            example:

            ["rank,desc"]

            note that you can set no more than three sorting rules in a single request

            you should use a comma to separate several sorting rules

            example:

            ["intersections,desc","rank,asc"]'
          nullable: true
        main_domain:
          type: boolean
          description: 'indicates if only main domain of the target will be included in the search

            optional field

            if set to true, only the main domain will be included in search;

            default value: true'
          nullable: true
        exclude_large_domains:
          type: boolean
          description: 'indicates whether large domain will appear in results

            optional field

            if set to true, the results from the large domain (google.com, amazon.com, etc.) will be omitted;

            default value: true'
          nullable: true
        exclude_internal_backlinks:
          type: boolean
          description: 'indicates if internal backlinks from subdomains to the target will be excluded from the results

            optional field

            if set to true, the results will not include data on internal backlinks from subdomains of the same domain as target

            if set to false, internal links will be included in the results

            default value: true'
          nullable: true
        rank_scale:
          type: string
          description: 'defines the scale used for calculating and displaying the rank, domain_from_rank, and page_from_rank values

            optional field

            you can use this parameter to choose whether rank values are presented on a 0–100 or 0–1000 scale

            possible values:

            one_hundred — rank values are displayed on a 0–100 scale

            one_thousand — rank values are displayed on a 0–1000 scale

            default value: one_thousand

            learn more about how this parameter works and how ranking metrics are calculated in this Help Center article'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
      example:
      - target: dataforseo.com
        filters:
        - rank
        - '>'
        - 100
        order_by:
        - rank,desc
        limit: 5
    BacklinksTimeseriesNewLostSummaryLiveResultInfo:
      type: object
      properties:
        target:
          type: string
          description: target from a POST array
          nullable: true
        date_from:
          type: string
          description: 'starting date of the time range

            in the UTC format: “yyyy-mm-dd”

            example:

            2019-01-01'
          nullable: true
        date_to:
          type: string
          description: 'ending date of the time range

            in the UTC format: "yyyy-mm-dd"

            example:

            "2019-01-15"'
          nullable: true
        group_range:
          type: string
          description: group_range from the POST array
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BacklinksTimeseriesNewLostSummaryLiveItem'
            nullable: true
          description: contains relevant backlinks and referring domains data
          nullable: true
    IndexHistory:
      type: object
      properties:
        date:
          type: string
          description: 'date for which index volume data is provided

            in the UTC format: “yyyy-mm-dd”

            example:

            2021-10-01'
          nullable: true
        total_backlinks:
          type: integer
          description: total number of backlinks our database contained on the given date
          format: int64
          nullable: true
        total_pages:
          type: integer
          description: total number of pages our database contained on the given date
          format: int64
          nullable: true
    BacklinksHistoryLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksHistoryLiveTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BacklinksBulkNewLostReferringDomainsLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksBulkNewLostReferringDomainsLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BacklinksDomainPagesSummaryLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksDomainPagesSummaryLiveTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BacklinksDomainPagesSummaryLiveRequestInfo:
      type: object
      properties:
        target:
          type: string
          description: 'domain, subdomain or webpage to get summary data for

            required field

            a domain or a subdomain should be specified without https:// and www.

            a page should be specified with absolute URL (including http:// or https://)'
        limit:
          type: integer
          description: 'the maximum number of returned anchors

            optional field

            default value: 100

            maximum value: 1000'
          nullable: true
        offset:
          type: integer
          description: 'offset in the results array of returned anchors

            optional field

            default value: 0

            if you specify the 10 value, the first ten anchors in the results array will be omitted and the data will be provided for the successive anchors'
          nullable: true
        internal_list_limit:
          type: integer
          description: 'maximum number of elements within internal arrays

            optional field

            you can use this field to limit the number of elements within the following arrays:

            referring_links_tld

            referring_links_types

            referring_links_attributes

            referring_links_platform_types

            referring_links_semantic_locations

            default value: 10

            maximum value: 1000'
          nullable: true
        backlinks_status_type:
          type: string
          description: 'set what backlinks to return and count

            optional field

            you can use this field to choose what backlinks will be returned and used for aggregated metrics for your target;

            possible values:

            all – all backlinks will be returned and counted;

            live – backlinks found during the last check will be returned and counted;

            lost – lost backlinks will be returned and counted;

            default value: live'
          nullable: true
        filters:
          type: array
          items:
            type: object
            nullable: true
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, =, <>, in, not_in, like, not_like, ilike, not_ilike, match, not_match

            you can use the % operator with like and not_like to match any string of zero or more characters

            example:

            ["referring_links_types.anchors",">","1"]

            [["broken_pages",">","2"],

            "and",

            ["backlinks",">","10"]]

            [["first_seen",">","2017-10-23 11:31:45 +00:00"],

            "and",

            [["anchor","like","%seo%"],"or",["referring_domains",">","10"]]]

            The full list of possible filters is available here.'
          nullable: true
        order_by:
          type: array
          items:
            type: string
          description: 'results sorting rules

            optional field

            you can use the same values as in the filters array to sort the results

            possible sorting types:

            asc – results will be sorted in the ascending order

            desc – results will be sorted in the descending order

            you should use a comma to set up a sorting type

            example:

            ["backlinks,desc"]

            note that you can set no more than three sorting rules in a single request

            you should use a comma to separate several sorting rules

            example:

            ["backlinks,desc","rank,asc"]'
          nullable: true
        backlinks_filters:
          type: array
          items:
            type: object
            nullable: true
          description: 'filter the backlinks of your target

            optional field

            you can use this field to filter the initial backlinks that will be included in the dataset for aggregated metrics for your target

            you can filter the backlinks by all fields available in the response of this endpoint

            using this parameter, you can include only dofollow backlinks in the response and create a flexible backlinks dataset to calculate the metrics for

            example:

            "backlinks_filters": [["dofollow", "=", true]]'
          nullable: true
        include_subdomains:
          type: boolean
          description: 'indicates if the subdomains of the target domain will be included in the search

            optional field

            if set to false, the subdomains will be ignored

            default value: true'
          nullable: true
        include_indirect_links:
          type: boolean
          description: 'indicates if indirect links to the target will be included in the results

            optional field

            if set to true, the results will include data on indirect links pointing to a page that either redirects to the target, or points to a canonical page

            if set to false, indirect links will be ignored

            default value: true'
          nullable: true
        exclude_internal_backlinks:
          type: boolean
          description: 'indicates whether the backlinks from subdomains of the target are excluded

            optional field

            if set to false, backlinks from the subdomains of the target domain will be ommited and you won’t receive the same domain in the response;

            default value: true'
          nullable: true
        rank_scale:
          type: string
          description: 'defines the scale used for calculating and displaying the rank, domain_from_rank, and page_from_rank values

            optional field

            you can use this parameter to choose whether rank values are presented on a 0–100 or 0–1000 scale

            possible values:

            one_hundred — rank values are displayed on a 0–100 scale

            one_thousand — rank values are displayed on a 0–1000 scale

            default value: one_thousand

            learn more about how this parameter works and how ranking metrics are calculated in this Help Center article'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
      example:
      - target: forbes.com
        limit: 4
        order_by:
        - backlinks,desc
    BacklinksDomainPagesSummaryLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksDomainPagesSummaryLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BacklinksBulkNewLostReferringDomainsLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksBulkNewLostReferringDomainsLiveTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BacklinksBulkRanksLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksBulkRanksLiveTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BacklinksReferringDomainsLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksReferringDomainsLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BacklinksBulkBacklinksLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksBulkBacklinksLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BacklinksBulkNewLostReferringDomainsLiveItem:
      type: object
      properties:
        target:
          type: string
          description: domain, subdomain or webpage from a POST array
          nullable: true
        new_referring_domains:
          type: integer
          description: 'number of new referring domains

            number of new referring domains pointing to the target'
          format: int64
          nullable: true
        lost_referring_domains:
          type: integer
          description: 'number of lost referring domains

            number of lost referring domains of the target'
          format: int64
          nullable: true
        new_referring_main_domains:
          type: integer
          description: number of new referring main domains pointing to the target
          format: int64
          nullable: true
        lost_referring_main_domains:
          type: integer
          description: number of lost referring main domains pointing to the target
          format: int64
          nullable: true
    BacklinksDomainPagesLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksDomainPagesLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BacklinksDomainIntersectionLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/BacklinksDomainIntersectionLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    BacklinksBulkPagesSummaryLiveRequestInfo:
      type: object
      properties:
        targets:
          type: array
          items:
            type: string
          description: 'domains, subdomains or webpages to get summary data for

            required field

            a domain or a subdomain should be specified without https:// and www.

            a page should be specified with absolute URL (including http:// or https://)

            you can specify up to 1000 pages, domains, or subdomains in each request.

            note that the URLs you set in a single request cannot belong to more than 100 different domains.'
        include_subdomains:
          type: boolean
          description: 'indicates if the subdomains of the target will be included in the search

            optional field

            if set to false, the subdomains will be ignored

            default value: true'
          nullable: true
        rank_scale:
          type: string
          description: 'defines the scale used for calculating and displaying the rank, domain_from_rank, and page_from_rank values

            optional field

            you can use this parameter to choose whether rank values are presented on a 0–100 or 0–1000 scale

            possible values:

            one_hundred — rank values are displayed on a 0–100 scale

            one_thousand — rank values are displayed on a 0–1000 scale

            default value: one_thousand

            learn more about how this parameter works and how ranking metrics are calculated in this Help Center article'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
      example:
      - targets:
        - https://dataforseo.com/solutions
        - https://dataforseo.com/about-us
    BacklinksDomainPagesSummaryLiveItem:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        url:
          type: string
          description: page URL
          nullable: true
        rank:
          type: integer
          description: 'page rank

            rank of the page

            rank is calculated based on the method for node ranking in a linked database – a principle used in the original Google PageRank algorithm

            learn more about the metric and how it is calculated in this help center article'
          nullable: true
        backlinks:
          type: integer
          description: number of backlinks
          format: int64
          nullable: true
        first_seen:
          type: string
          description: 'date and time when our crawler found a backlink to this page for the first time

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        lost_date:
          type: string
          description: 'date and time when the last backlink to this page was lost

            indicates the date and time when our crawler visited the page and it responded with 4xx or 5xx status code or the last backlink was removed

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2017-01-24 13:20:59 +00:00'
          nullable: true
        backlinks_spam_score:
          type: integer
          description: 'average spam score of the backlinks pointing to the page

            learn more about how the metric is calculated on this help center page'
          format: int64
          nullable: true
        broken_backlinks:
          type: integer
          description: 'number of broken backlinks

            number of broken backlinks pointing to the page'
          format: int64
          nullable: true
        broken_pages:
          type: integer
          description: 'number of broken pages

            number of pages that respond with 4xx or 5xx status codes where backlinks are pointing to'
          nullable: true
        referring_domains:
          type: integer
          description: indicates the number domains referring to the page
          format: int64
          nullable: true
        referring_domains_nofollow:
          type: integer
          description: number of domains pointing at least one nofollow link to the page
          format: int64
          nullable: true
        referring_main_domains:
          type: integer
          description: indicates the number of referring main domains
          format: int64
          nullable: true
        referring_main_domains_nofollow:
          type: integer
          description: number of main domains pointing at least one nofollow link to the page
          format: int64
          nullable: true
        referring_ips:
          type: integer
          description: 'number of referring IP addresses

            number of IP addresses pointing to this page'
          format: int64
          nullable: true
        referring_subnets:
          type: integer
          description: number of referring subnetworks
          format: int64
          nullable: true
        referring_pages:
          type: integer
          description: indicates the number of pages pointing to the relevant url
          format: int64
          nullable: true
        referring_pages_nofollow:
          type: integer
          description: number of referring pages pointing at least one nofollow link to the page
          format: int64
          nullable: true
        referring_links_tld:
          type: object
          additionalProperties:
            type: integer
            format: int64
            nullable: true
          description: 'top-level domains of the referring links

            contains top level domains and referring link count per each'
          nullable: true
        referring_links_types:
          type: object
          additionalProperties:
            type: integer
            format: int64
            nullable: true
          description: 'types of referring links

            indicates the types of the referring links and link count per each type

            possible values:

            anchor, image, link, meta, canonical, alternate, redirect'
          nullable: true
        referring_links_attributes:
          type: object
          additionalProperties:
            type: integer
            format: int64
            nullable: true
          description: 'link attributes of the referring links

            indicates link attributes of the referring links and link count per each attribute'
          nullable: true
        referring_links_platform_types:
          type: object
          additionalProperties:
            type: integer
            format: int64
            nullable: true
          description: 'types of referring platforms

            indicates referring platform types and and link count per each platform

            possible values: cms, blogs, ecommerce, message-boards, wikis, news, organization'
          nullable: true
        referring_links_semantic_locations:
          type: object
          additionalProperties:
            type: integer
            format: int64
            nullable: true
          description: 'semantic locations of the referring links

            indicates semantic elements in HTML where the referring links are located and link count per each semantic location

            you can get the full list of semantic elements here

            examples:

            article, section, footer'
          nullable: true
        referring_links_countries:
          type: object
          additionalProperties:
            type: integer
            format: int64
            nullable: true
          description: 'ISO country codes of the referring links

            indicates ISO country codes of the domains where the referring links are located and the link count per each country'
          nullable: true
    BacklinksDomainPagesLiveItem:
      type: object
      properties:
[...]
