openapi: 3.0.1
info:
  title: DataForSEO Merchant API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With 
    DataForSEO you can get all the data you need to build an efficient application while also saving your time and 
    budget. DataForSEO API is using the REST technology for interchanging data between your application and our service.
    The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all 
    programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
paths:
  /v3/merchant/id_list:
    post:
      tags:
      - Merchant
      description: "This endpoint is designed to provide you with a list of IDs and metadata for all Merchant tasks created
        within the specified time period, including both successful and uncompleted tasks.\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/id_list/?bash'"
      operationId: MerchantIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantIdListRequestInfo'
                nullable: true
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantIdListResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/errors:
    post:
      tags:
      - Merchant
      description: "By calling this endpoint you will receive information about the Merchant API tasks that returned an error
        within the past 7 days.\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/errors/?bash'"
      operationId: MerchantErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantErrorsRequestInfo'
                nullable: true
              example:
              - limit: 10
                offset: 0
                filtered_function: pingback_url
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantErrorsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/languages:
    get:
      tags:
      - Merchant
      description: "You will receive the list of supported Google Shopping languages by calling this API.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/merchant/google/languages/?bash'"
      operationId: MerchantGoogleLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/locations:
    get:
      tags:
      - Merchant
      description: for more info please visit 'https://docs.dataforseo.com/v3/merchant/google/locations/?bash'
      operationId: MerchantGoogleLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/merchant/google/locations/{country}':
    get:
      tags:
      - Merchant
      description: for more info please visit 'https://docs.dataforseo.com/v3/merchant/google/locations/?bash'
      operationId: MerchantGoogleLocationsCountry
      parameters:
      - name: country
        in: path
        description: "country ISO code\noptional field\nspecify the ISO code if you want to filter the list of locations by
          country\nexample:\nus"
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleLocationsCountryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/products/task_post:
    post:
      tags:
      - Merchant
      description: "Google Shopping Products endpoint will provide you with the list of products found on Google Shopping
        for the specified query. The results include product title, description in Google Shopping SERP, product rank, price,
        reviews and rating as well as the related domain.\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/google/products/task_post/?bash'"
      operationId: GoogleProductsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductsTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                keyword: iphone
                price_min: 5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/products/tasks_ready:
    get:
      tags:
      - Merchant
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of
        id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/merchant/google/products/tasks_ready/?bash'"
      operationId: GoogleProductsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/tasks_ready:
    get:
      tags:
      - Merchant
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of
        id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/merchant/google/products/tasks_ready/?bash'"
      operationId: MerchantTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/merchant/google/products/task_get/advanced/{id}':
    get:
      tags:
      - Merchant
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/google/products/task_get/advanced/?bash'"
      operationId: GoogleProductsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductsTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/merchant/google/products/task_get/html/{id}':
    get:
      tags:
      - Merchant
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/google/products/task_get/html/?bash'"
      operationId: GoogleProductsTaskGetHtml
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 7 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductsTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/sellers/task_post:
    post:
      tags:
      - Merchant
      description: "Google Shopping Sellers endpoint will provide you with the list of top 10 sellers that listed the specified
        product on Google Shopping. The provided data for each seller includes related product base and total price, shipment
        and purchase details and special offers. The results are specific to the selected location (see the List of Locations)
        and language (see the List of Languages) settings.\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/google/sellers/task_post/?bash'"
      operationId: GoogleSellersTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleSellersTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                product_id: '1113158713975221117'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleSellersTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/sellers/tasks_ready:
    get:
      tags:
      - Merchant
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of
        id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/merchant/google/sellers/tasks_ready/?bash'"
      operationId: GoogleSellersTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleSellersTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/merchant/google/sellers/task_get/advanced/{id}':
    get:
      tags:
      - Merchant
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/google/sellers/task_get/advanced/?bash'"
      operationId: GoogleSellersTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleSellersTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/product_info/task_post:
    post:
      tags:
      - Merchant
      description: "This endpoint provides data on a product listed on Google Shopping, including product description, images,
        rating, variations, specifications and sellers. In order to set a task, you have to specify one of the following fields:\
        \  product_id, data_docid, or gid.\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/google/product_info/task_post/?bash'"
      operationId: GoogleProductInfoTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductInfoTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                product_id: '1113158713975221117'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductInfoTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/google/product_info/tasks_ready:
    get:
      tags:
      - Merchant
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of
        id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/merchant/google/product_info/tasks_ready/?bash'"
      operationId: GoogleProductInfoTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductInfoTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/merchant/google/product_info/task_get/advanced/{id}':
    get:
      tags:
      - Merchant
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/google/product_info/task_get/advanced/?bash'"
      operationId: GoogleProductInfoTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleProductInfoTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/merchant/google/sellers/ad_url/{shop_ad_aclk}':
    get:
      tags:
      - Merchant
      description: "Google Shopping Sellers Ad URL is designed to provide you with a full URL of the advertisement containing
        all additional parameters set by the seller.\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/google/sellers/ad_url/?bash'"
      operationId: GoogleSellersAdUrl
      parameters:
      - name: shop_ad_aclk
        in: path
        description: "unique ad click referral parameter\nyou can obtain this parameter with Google Shopping Products or Google
          Shopping Sellers"
        required: true
        schema:
          type: string
        example: DChcSEwiSl5TKpbPoAhVFmdUKHfa_B_wYABADGgJ3cw&sig
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantGoogleSellersAdUrlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/locations:
    get:
      tags:
      - Merchant
      description: "You will receive the list of supported Amazon locations by this API call. You can filter the list of locations
        by country when setting a task.\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/amazon/locations/?bash'"
      operationId: AmazonLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/merchant/amazon/locations/{country}':
    get:
      tags:
      - Merchant
      description: "You will receive the list of supported Amazon locations by this API call. You can filter the list of locations
        by country when setting a task.\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/amazon/locations/?bash'"
      operationId: AmazonLocationsCountry
      parameters:
      - name: country
        in: path
        description: "country ISO code\noptional field\nspecify the ISO code if you want to filter the list of locations by
          country\nexample:\nus"
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonLocationsCountryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/languages:
    get:
      tags:
      - Merchant
      description: "You will receive the list of supported Amazon languages by calling this API.\nfor more info please visit
        'https://docs.dataforseo.com/v3/merchant/amazon/languages/?bash'"
      operationId: AmazonLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/products/task_post:
    post:
      tags:
      - Merchant
      description: "This endpoint provides results from Amazon product listings according to the specified keyword (product
        name), location, and language parameters.\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/amazon/products/task_post/?bash'"
      operationId: AmazonProductsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonProductsTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en_US
                location_code: 2840
                keyword: shoes
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonProductsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/products/tasks_ready:
    get:
      tags:
      - Merchant
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of
        id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/merchant/amazon/products/tasks_ready/?bash'"
      operationId: AmazonProductsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonProductsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/merchant/amazon/products/task_get/advanced/{id}':
    get:
      tags:
      - Merchant
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/amazon/products/task_get/advanced/?bash'"
      operationId: AmazonProductsTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonProductsTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/merchant/amazon/products/task_get/html/{id}':
    get:
      tags:
      - Merchant
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/amazon/products/task_get/html/?bash'"
      operationId: AmazonProductsTaskGetHtml
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 7 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonProductsTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/asin/task_post:
    post:
      tags:
      - Merchant
      description: "This endpoint will provide you with a full list of ASINs assigned to different modifications of a product.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/merchant/amazon/asin/task_post/?bash'"
      operationId: AmazonAsinTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonAsinTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en_US
                location_code: 2840
                asin: B0756FCPPN
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonAsinTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/asin/tasks_ready:
    get:
      tags:
      - Merchant
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of
        id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoints.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/merchant/amazon/asin/tasks_ready/?bash'"
      operationId: AmazonAsinTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonAsinTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/merchant/amazon/asin/task_get/advanced/{id}':
    get:
      tags:
      - Merchant
      description: "This endpoint will provide you with information about the product and ASINs of all its modifications listed
        on Amazon.\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/amazon/asin/task_get/advanced/?bash'"
      operationId: AmazonAsinTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonAsinTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/merchant/amazon/asin/task_get/html/{id}':
    get:
      tags:
      - Merchant
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/amazon/asin/task_get/html/?bash'"
      operationId: AmazonAsinTaskGetHtml
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 7 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonAsinTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/sellers/task_post:
    post:
      tags:
      - Merchant
      description: "This endpoint provides a list of sellers of the specified product on Amazon. The data provided for each
        seller includes related product condition, pricing, shipment, and rating details.\nThe results are specific to the
        selected location (see the List of Locations) and language (see the List of Languages) settings.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/merchant/amazon/sellers/task_post/?bash'"
      operationId: AmazonSellersTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonSellersTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en_US
                location_code: 2840
                asin: B085RFFC9Q
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonSellersTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/merchant/amazon/sellers/tasks_ready:
    get:
      tags:
      - Merchant
      description: "The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t
        been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of
        id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/merchant/amazon/sellers/tasks_ready/?bash'"
      operationId: AmazonSellersTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonSellersTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/merchant/amazon/sellers/task_get/advanced/{id}':
    get:
      tags:
      - Merchant
      description: "This endpoint provides a list of sellers of the specified product on Amazon. The data provided for each
        seller includes related product condition, pricing, shipment, and rating details.\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/amazon/sellers/task_get/advanced/?bash'"
      operationId: AmazonSellersTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonSellersTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/merchant/amazon/sellers/task_get/html/{id}':
    get:
      tags:
      - Merchant
      description: "Description of the fields for sending a request:\nfor more info please visit 'https://docs.dataforseo.com/v3/merchant/amazon/sellers/task_get/html/?bash'"
      operationId: AmazonSellersTaskGetHtml
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 7 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/MerchantAmazonSellersTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
components:
  schemas:
    MerchantGoogleProductsTaskGetAdvancedResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleProductsTaskGetAdvancedTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantGoogleProductsTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleProductsTaskGetAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantGoogleProductsTaskGetAdvancedResultInfo:
      type: object
      properties:
        keyword:
          type: string
          description: "keyword received in a POST array\nkeyword is returned with decoded %## (plus character ‘+’ will be
            decoded to a space character)"
          nullable: true
        type:
          type: string
          description: type of element
          nullable: true
        se_domain:
          type: string
          description: search engine domain in a POST array
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        check_url:
          type: string
          description: "direct URL to Google Shopping results\nyou can use it to make sure that we provided accurate results"
          nullable: true
        datetime:
          type: string
          description: "date and time when the result was received\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n\
            2019-11-15 12:57:46 +00:00"
          nullable: true
        spell:
          type: object
          oneOf:
          - $ref: '#/components/schemas/SpellInfo'
          description: "autocorrection of the search engine\nif the search engine provided results for a keyword that was
            corrected, we will specify the keyword corrected by the search engine and the type of autocorrection"
          nullable: true
        item_types:
          type: array
          items:
            type: string
            nullable: true
          description: "types of search results found in Google Shopping SERP\ncontains types of all search results (items)
            found in the returned SERP\npossible item types:\ngoogle_shopping_sponsored_carousel, google_shopping_paid, google_shopping_serp"
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BaseMerchantGoogleShoppingProductsElementItem'
            nullable: true
          description: "additional items present in the element\ncontains a list of related keywords;\nif there are none,
            equals null"
          nullable: true
    BaseMerchantGoogleShoppingProductsElementItem:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: "position within a group of elements with identical type values\npositions of elements with different
            type values are omitted from rank_group"
          nullable: true
        rank_absolute:
          type: integer
          description: "absolute rank in SERP\nabsolute position among all the elements found in Google Shopping SERP"
          nullable: true
        position:
          type: string
          description: "alignment of the element in SERP\ncan take the following values:\nleft, right"
          nullable: true
        xpath:
          type: string
          description: XPath of the element
          nullable: true
      additionalProperties: false
      discriminator:
        propertyName: type
        mapping:
          google_shopping_serp: '#/components/schemas/GoogleShoppingSerpElementItem'
          google_shopping_paid: '#/components/schemas/GoogleShoppingPaidElementItem'
          google_shopping_sponsored_carousel: '#/components/schemas/GoogleShoppingSponsoredCarouselElementItem'
          google_shopping_carousel: '#/components/schemas/GoogleShoppingCarouselElementItem'
          related_searches: '#/components/schemas/RelatedSearchesElementItem'
    SpellInfo:
      properties:
        keyword:
          type: string
          description: "keyword obtained as a result of search engine autocorrection\n the results will be provided for the
            corrected keyword"
          nullable: true
        type:
          type: string
          description: "type of autocorrection\n possible values:\n did_you_mean, showing_results_for, no_results_found_for,
            including_results_for\n note: Yahoo and Yandex support only the following autocorrection type:\n including_results_for"
          nullable: true
    BaseResponseTaskInfo:
      properties:
        id:
          type: string
          description: "task identifier\nunique task identifier in our system in the UUID format"
          nullable: true
        status_code:
          type: integer
          description: "status code of the task\ngenerated by DataForSEO, can be within the following range: 10000-60000\n\
            you can find the full list of the response codes here"
          nullable: true
        status_message:
          type: string
          description: "informational message of the task\nyou can find the full list of general informational messages here"
          nullable: true
        time:
          type: string
          description: 'execution time, seconds'
          nullable: true
        cost:
          type: number
          description: 'total tasks cost, USD'
          format: double
          nullable: true
        result_count:
          type: integer
          description: number of elements in the result array
          format: int64
          nullable: true
        path:
          type: array
          items:
            type: string
            nullable: true
          description: URL path
          nullable: true
        data:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: contains the same parameters that you specified in the POST request
          nullable: true
    BaseResponseInfo:
      properties:
        version:
          type: string
          description: the current version of the API
          nullable: true
        status_code:
          type: integer
          description: "general status code\nyou can find the full list of the response codes here"
          nullable: true
        status_message:
          type: string
          description: "general informational message\nyou can find the full list of general informational messages here"
          nullable: true
        time:
          type: string
          description: 'total execution time, seconds'
          nullable: true
        cost:
          type: number
          description: 'total tasks cost, USD'
          format: double
          nullable: true
        tasks_count:
          type: integer
          description: the number of tasks in the tasks array
          format: int64
          nullable: true
        tasks_error:
          type: integer
          description: the number of tasks in the tasks array returned with an error
          format: int64
          nullable: true
    MerchantGoogleSellersAdUrlResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleSellersAdUrlTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantGoogleSellersAdUrlTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleSellersAdUrlResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantGoogleSellersAdUrlResultInfo:
      type: object
      properties:
        ad_aclk:
          type: string
          description: unique ad click referral parameter
          nullable: true
        ad_url:
          type: string
          description: full URL of the advertisement
          nullable: true
        ad_url_redirects:
          type: array
          items:
            type: string
            nullable: true
          description: "URLs where the link from Google Shopping redirects before reaching a final URL\nincludes up to 10
            URLs of the ad’s redirect path to the seller’s ad_url"
          nullable: true
    MerchantIdListResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantIdListTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantIdListTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantIdListResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantIdListResultInfo:
      type: object
      properties:
        id:
          type: string
          description: id of the task
          nullable: true
        url:
          type: string
          description: "URL of the task\nURL you used for making an API call"
          nullable: true
        datetime_posted:
          type: string
          description: "date and time when the task was made\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n\
            2023-01-15 12:57:46 +00:00"
          nullable: true
        datetime_done:
          type: string
          description: "date and time when the task was completed\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n\
            2023-01-15 12:57:46 +00:00"
          nullable: true
        status:
          type: string
          description: "informational message of the task\nyou can find the full list of general informational messages here"
          nullable: true
        cost:
          type: number
          description: 'cost of the task, USD'
          nullable: true
        metadata:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: contains parameters you specified in the POST request
          nullable: true
    MerchantGoogleLanguagesResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleLanguagesTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantGoogleLanguagesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantGoogleLanguagesResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantGoogleLanguagesResultInfo:
      type: object
      properties:
        language_name:
          type: string
          description: language name
          nullable: true
        language_code:
          type: string
          description: language code according to ISO 639-1
          nullable: true
    MerchantGoogleSellersTaskPostRequestInfo:
      type: object
      properties:
        product_id:
          type: string
          description: "unique product identifier on Google Shopping\nrequired field if data_docid or gid is not specified\n\
            we recommend specifying product_id together with data_docid and gid for optimal results;\nyou can get this value
            for a certain product by making a separate request to the Google Shopping Products endpoint\nexample:\n4485466949985702538\n\
            learn more about the parameter in this help center guide"
          nullable: true
        data_docid:
          type: string
          description: "unique identifier of the SERP data element\nrequired field if product_id or gid is not specified\n\
            we recommend specifying data_docid together with product_id and gid for optimal results;\nyou can get this value
            for a certain element by making a separate request to the Google Shopping Products endpoint\nexample:\n13071766526042404278"
          nullable: true
        gid:
          type: string
          description: "global product identifier on Google Shopping\nrequired field if product_id or data_docid is not specified\n\
            we recommend specifying gid together with product_id and data_docid for optimal results;\nyou can get this value
            for a certain product by making a separate request to the Google Shopping Products endpoint\nexample:\n4702526954592161872\n\
            learn more about the parameter in this help center guide"
          nullable: true
        pvf:
          type: string
          description: "product variant filter  on Google Shopping\noptional field\nparameter in Google Shopping URL, setting
            optional product variant filtration;\nexample:\nEg4iBWNvbG9yKgV3aGl0ZRISIgxwYWNrYWdlIHNpemUqAjE0EgoiBHNpemUqAnhs"
          nullable: true
        priority:
          type: integer
          description: "task priority\noptional field\ncan take the following values:\n1 – normal execution priority (set
            by default)\n2 – high execution priority\nYou will be additionally charged for the tasks with high execution priority.\n\
            The cost can be calculated on the Pricing page."
          nullable: true
        location_name:
          type: string
          description: "full name of the location\nrequired field if you don’t specify location_code or location_coordinate\n\
            if you use this field, you don’t need to specify location_code or location_coordinate\nyou can receive the list
            of available Google Shopping locations with their location_name by making a separate request to the https://api.dataforseo.com/v3/merchant/google/locations\n\
            example:\nLondon,England,United Kingdom"
          nullable: true
        location_code:
          type: integer
          description: "location code\nrequired field if you don’t specify location_name or location_coordinate\nif you use
            this field, you don’t need to specify location_name or location_coordinate\nyou can receive the list of available
            Google Shopping locations with their location_code by making a separate request to the https://api.dataforseo.com/v3/merchant/google/locations\n\
            example:\n2840"
          nullable: true
        location_coordinate:
          type: string
          description: "GPS coordinates of a location\nrequired field if you don’t specify location_name or location_code\n\
            if you use this field, you don’t need to specify location_name or location_code\nlocation_coordinate parameter
            should be specified in the “latitude,longitude,radius” format\nthe maximum number of decimal digits for “latitude”
            and “longitude”: 7\nthe minimum value for “radius”: 199.9\nexample:\n53.476225,-2.243572,200"
          nullable: true
        language_name:
          type: string
          description: "full name of the language\nrequired field if you don’t specify language_code\nif you use this field,
            you don’t need to specify language_code\nyou can receive the list of available Google Shopping languages with
            their language_name by making a separate request to the https://api.dataforseo.com/v3/merchant/google/languages\n\
            example:\nEnglish"
          nullable: true
        language_code:
          type: string
          description: "language code\nrequired field if you don’t specify language_name\nif you use this field, you don’t
            need to specify language_name\nyou can receive the list of available Google Shopping languages with their language_code by
            making a separate request to the https://api.dataforseo.com/v3/merchant/google/languages\nexample:\nen"
          nullable: true
        depth:
          type: integer
          description: "parsing depth\noptional field\nnumber of results to be retrieved from Google Shopping SERP\ndefault
            value: 10\nmax value: 200\nyour account will be billed per each SERP containing up to 10 results;\nsetting depth
            above 10 may result in additional charges if the search engine returns more than 10 results;\nthe cost can be
            calculated on the Pricing page"
          nullable: true
        se_domain:
          type: string
          description: "search engine domain\noptional field\nwe choose the relevant search engine domain automatically according
            to the location and language you specify\nhowever, you can set a custom search engine domain in this field\nexample:\n\
            google.co.uk, google.com.au, google.de, etc."
          nullable: true
        get_shops_on_google:
          type: boolean
          description: "include “buy on Google” shops\noptional field\nif set to true, the response will contain the list
            of sellers that allow to purchase a given product directly on Google\nNote: if set to true, the cost of a task
            will be doubled"
          nullable: true
        additional_specifications:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: "object containing additional url parameters\nyou can get additional information about the product
            by using the \"additional_specifications object, which you can get by making a separate request to the Google
            Shopping Products endpoint\nexample:\n\"additional_specifications\": {\n\"eto\": \"16157121050167572763_0\"\n}"
          nullable: true
        tag:
          type: string
          description: "user-defined task identifier\noptional field\nthe character limit is 255\nyou can use this parameter
            to identify the task and match it with the result\nyou will find the specified tag value in the data object of
            the response"
          nullable: true
        postback_url:
          type: string
          description: "URL for sending task results\noptional field\nonce the task is completed, we will send a POST request
            with its results compressed in the gzip format to the postback_url you specified\nyou can use the ‘$id’ string
            as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the
            request.\nexample:\nhttp://your-server.com/postbackscript?id=$id\nhttp://your-server.com/postbackscript?id=$id&tag=$tag\n\
            Note: special characters in postback_url will be urlencoded;\ni.a., the # character will be encoded into %23\n\
            learn more on our Help Center"
          nullable: true
        postback_data:
          type: string
          description: "postback_url datatype\noptional field\ncorresponds to the datatype that will be sent to your server\n\
            possible values:\nadvanced"
          nullable: true
        pingback_url:
          type: string
          description: "notification URL of a completed task\noptional field\nwhen a task is completed we will notify you
            by GET request sent to the URL you have specified\nyou can use the ‘$id’ string as a $id variable and ‘$tag’ as
            urlencoded $tag variable. We will set the necessary values before sending the request.\nexample:\nhttp://your-server.com/pingscript?id=$id\n\
            http://your-server.com/pingscript?id=$id&tag=$tag\nNote: special characters in pingback_url will be urlencoded;\n\
            i.a., the # character will be encoded into %23\nlearn more on our Help Center"
          nullable: true
      example:
      - language_code: en
        location_code: 2840
        product_id: '1113158713975221117'
    MerchantGoogleProductInfoTaskPostRequestInfo:
      type: object
      properties:
        product_id:
          type: string
          description: "unique product identifier on Google Shopping\nrequired field if data_docid or gid is not specified\n\
            we recommend specifying product_id together with data_docid and gid for optimal results;\nyou can get this value
            for a certain product by making a separate request to the Google Shopping Products endpoint\nexample:\n4485466949985702538\n\
            learn more about the parameter in this help center guide"
          nullable: true
        data_docid:
          type: string
          description: "unique identifier of the SERP data element\nrequired field if product_id or gid is not specified\n\
            we recommend specifying data_docid together with product_id and gid for optimal results;\nyou can get this value
            for a certain element by making a separate request to the Google Shopping Products endpoint\nexample:\n13071766526042404278"
          nullable: true
        gid:
          type: string
          description: "global product identifier on Google Shopping\nrequired field if product_id or data_docid is not specified\n\
            we recommend specifying gid together with product_id and data_docid for optimal results;\nyou can get this value
            for a certain product by making a separate request to the Google Shopping Products endpoint\nexample:\n4702526954592161872\n\
            learn more about the parameter in this help center guide"
          nullable: true
        priority:
          type: integer
          description: "task priority\noptional field\ncan take the following values:\n1 – normal execution priority (set
            by default)\n2 – high execution priority\nYou will be additionally charged for the tasks with high execution priority.\n\
            The cost can be calculated on the Pricing page."
          nullable: true
        location_name:
          type: string
          description: "full name of the location\nrequired field if you don’t specify location_code or location_coordinate\n\
            if you use this field, you don’t need to specify location_code or location_coordinate\nyou can receive the list
            of available Google Shopping locations with their location_name by making a separate request to the https://api.dataforseo.com/v3/merchant/google/locations\n\
            example:\nLondon,England,United Kingdom"
          nullable: true
        location_code:
          type: integer
          description: "location code\nrequired field if you don’t specify location_name or location_coordinate\nif you use
            this field, you don’t need to specify location_name or location_coordinate\nyou can receive the list of available
            Google Shopping locations with their location_code by making a separate request to the https://api.dataforseo.com/v3/merchant/google/locations\n\
            example:\n2840"
          nullable: true
        location_coordinate:
          type: string
          description: "GPS coordinates of a location\nrequired field if you don’t specify location_name or location_code\n\
            if you use this field, you don’t need to specify location_name or location_code\nlocation_coordinate parameter
            should be specified in the “latitude,longitude,radius” format\nthe maximum number of decimal digits for “latitude”
            and “longitude”: 7\nthe minimum value for “radius”: 199.9\nexample:\n53.476225,-2.243572,200"
          nullable: true
        language_name:
          type: string
          description: "full name of the language\nrequired field if you don’t specify language_code\nif you use this field,
            you don’t need to specify language_code\nyou can receive the list of available Google Shopping languages with
            their language_name by making a separate request to the https://api.dataforseo.com/v3/merchant/google/languages\n\
            example:\nEnglish"
          nullable: true
        language_code:
          type: string
          description: "language code\nrequired field if you don’t specify language_name\nif you use this field, you don’t
            need to specify language_name\nyou can receive the list of available Google Shopping languages with their language_code by
            making a separate request to the https://api.dataforseo.com/v3/merchant/google/languages\nexample:\nen"
          nullable: true
        se_domain:
          type: string
          description: "search engine domain\noptional field\nwe choose the relevant search engine domain automatically according
            to the location and language you specify\nhowever, you can set a custom search engine domain in this field\nexample:\n\
            google.co.uk, google.com.au, google.de, etc."
          nullable: true
        tag:
          type: string
          description: "user-defined task identifier\noptional field\nthe character limit is 255\nyou can use this parameter
            to identify the task and match it with the result\nyou will find the specified tag value in the data object of
            the response"
          nullable: true
        postback_url:
          type: string
          description: "URL for sending task results\noptional field\nonce the task is completed, we will send a POST request
            with its results compressed in the gzip format to the postback_url you specified\nyou can use the ‘$id’ string
            as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the
            request.\nexample:\nhttp://your-server.com/postbackscript?id=$id\nhttp://your-server.com/postbackscript?id=$id&tag=$tag\n\
            Note: special characters in postback_url will be urlencoded;\ni.a., the # character will be encoded into %23\n\
            learn more on our Help Center"
          nullable: true
        postback_data:
          type: string
          description: "postback_url datatype\noptional field\ncorresponds to the datatype that will be sent to your server\n\
            possible values:\nadvanced"
          nullable: true
        pingback_url:
          type: string
          description: "notification URL of a completed task\noptional field\nwhen a task is completed we will notify you
            by GET request sent to the URL you have specified\nyou can use the ‘$id’ string as a $id variable and ‘$tag’ as
            urlencoded $tag variable. We will set the necessary values before sending the request.\nexample:\nhttp://your-server.com/pingscript?id=$id\n\
            http://your-server.com/pingscript?id=$id&tag=$tag\nNote: special characters in pingback_url will be urlencoded;\n\
            i.a., the # character will be encoded into %23\nlearn more on our Help Center"
          nullable: true
      example:
      - language_code: en
        location_code: 2840
        product_id: '1113158713975221117'
    MerchantGoogleProductsTaskPostRequestInfo:
      type: object
      properties:
        keyword:
          type: string
          description: "keyword\nrequired field\nyou can specify up to 700 characters in the keyword filed\nall %## will be
            decoded (plus character ‘+’ will be decoded to a space character)\nif you need to use the “%” character for your
            keyword, please specify it as “%25”;\nlearn more about rules and limitations of keyword and keywords fields in
            DataForSEO APIs in this Help Center article"
        url:
          type: string
          description: "direct URL of the search query\noptional field\nyou can specify a direct URL and we will sort it out
            to the necessary fields. Note that this method is the most difficult for our API to process and also requires
            you to specify the exact language and location in the URL. In most cases, we wouldn’t recommend using this method.\n\
            example:\nhttps://www.google.com/search?q=fish&hl=en&gl=US&gws_rd=cr&uule=w+CAIQIFISCQs2MuSEtepUEUK33kOSuTsc"
          nullable: true
        priority:
          type: integer
          description: "task priority\noptional field\ncan take the following values:\n1 – normal execution priority (set
            by default)\n2 – high execution priority\nYou will be additionally charged for the tasks with high execution priority.\n\
            The cost can be calculated on the Pricing page."
          nullable: true
        location_name:
          type: string
          description: "full name of the location\nrequired field if you don’t specify location_code or location_coordinate\n\
            if you use this field, you don’t need to specify location_code or location_coordinate\nyou can receive the list
            of available Google Shopping locations with their location_name by making a separate request to the https://api.dataforseo.com/v3/merchant/google/locations\n\
            example:\nLondon,England,United Kingdom"
          nullable: true
        location_code:
          type: integer
          description: "location code\nrequired field if you don’t specify location_name or location_coordinate\nif you use
            this field, you don’t need to specify location_name or location_coordinate\nyou can receive the list of available
            Google Shopping locations with their location_code by making a separate request to the https://api.dataforseo.com/v3/merchant/google/locations\n\
            example:\n2840"
          nullable: true
        location_coordinate:
          type: string
          description: "GPS coordinates of a location\nrequired field if you don’t specify location_name or location_code\n\
            if you use this field, you don’t need to specify location_name or location_code\nlocation_coordinate parameter
            should be specified in the “latitude,longitude,radius” format\nthe maximum number of decimal digits for “latitude”
            and “longitude”: 7\nthe minimum value for “radius”: 199.9\nexample:\n53.476225,-2.243572,200"
          nullable: true
        language_name:
          type: string
          description: "full name of the language\nrequired field if you don’t specify language_code\nif you use this field,
            you don’t need to specify language_code\nyou can receive the list of available Google Shopping languages with
            their language_name by making a separate request to the https://api.dataforseo.com/v3/merchant/google/languages\n\
            example:\nEnglish"
          nullable: true
        language_code:
          type: string
          description: "language code\nrequired field if you don’t specify language_name\nif you use this field, you don’t
            need to specify language_name\nyou can receive the list of available Google Shopping languages with their language_code by
            making a separate request to the https://api.dataforseo.com/v3/merchant/google/languages\nexample:\nen"
          nullable: true
        se_domain:
          type: string
          description: "search engine domain\noptional field\nwe choose the relevant search engine domain automatically according
            to the location and language you specify\nhowever, you can set a custom search engine domain in this field\nexample:\n\
            google.co.uk, google.com.au, google.de, etc."
          nullable: true
        depth:
          type: integer
          description: "parsing depth\noptional field\nnumber of results to be retrieved from Google Shopping SERP\ndefault
            value: 40\nmax value: 120\nYour account will be billed per each SERP containing up to 40 results;\nSetting depth
            above 40 may result in additional charges if the search engine returns more than 40 results;\nThe cost can be
            calculated on the Pricing page."
          nullable: true
        max_crawl_pages:
          type: integer
          description: "page crawl limit\noptional field\nnumber of search results pages to crawl\nmax value: 7\nNote: the
            max_crawl_pages and depth parameters complement each other;\nlearn more at our help center"
          nullable: true
        search_param:
          type: string
          description: "additional parameters of the search query\noptional field\nyou can use the following search URL parameters
            for customizing the search;\nexample:\n&tbs=ppr_min:45 – search for products that cost more than 45 USD;\n&tbs=ppr_max:50
            – search for products that cost less than 50 USD;\n&tbs=p_ord:p – sort by ascending price;\n&tbs=p_ord:pd – sort
            by descending price;\n&tbs=p_ord:rv – sort by review score;\n&tbs=ppr_max:50,p_ord:rv – sort by review score with
            the maximum price of 50 USD.;\n&udm=28 – use new Google Shopping markup with 40 SERP results returned by default
            (the cost for one SERP is deducted accordingly); the maximum depth is 200; this parameter must be specified without
            tbm=shop in the url;\n&shoprs=$value – specify advanced filtering and sorting in the new Shopping markup; replace
            $value with a string in protobuf Base64 format; learn more on our help center.\nNote that search_param values
            will be ignored if any of the following parameters are used: price_min, price_max, sort_by"
          nullable: true
        price_min:
          type: integer
          description: "minimum product price\noptional field\nminimum price of the returned products listed on Google Shopping
            for the specified query\nexample:\n5\nNote: if you specify price_min, the search_param parameter will be ignored"
          nullable: true
        price_max:
          type: integer
          description: "maximum product price\noptional field\nmaximum price of the returned products listed on Google Shopping
            for the specified query\nexample:\n100\nNote: if you specify price_max, the search_param parameter will be ignored"
          nullable: true
        sort_by:
          type: string
          description: "results sorting rules\noptional field\nthe following sorting rules are supported:\nreview_score, price_low_to_high,
            price_high_to_low\nexample:\nsort_by:\"review_score\"\nNote: if you specify sort_by, the search_param parameter
            will be ignored"
          nullable: true
        tag:
          type: string
          description: "user-defined task identifier\noptional field\nthe character limit is 255\nyou can use this parameter
            to identify the task and match it with the result\nyou will find the specified tag value in the data object of
            the response"
          nullable: true
        postback_url:
          type: string
          description: "URL for sending task results\noptional field\nonce the task is completed, we will send a POST request
            with its results compressed in the gzip format to the postback_url you specified\nyou can use the ‘$id’ string
            as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the
            request.\nexample:\nhttp://your-server.com/postbackscript?id=$id\nhttp://your-server.com/postbackscript?id=$id&tag=$tag\n\
            Note: special characters in postback_url will be urlencoded;\ni.a., the # character will be encoded into %23\n\
            learn more on our Help Center"
          nullable: true
        postback_data:
          type: string
          description: "postback_url datatype\nrequired field if you specify postback_url\ncorresponds to the datatype that
            will be sent to your server\npossible values:\nadvanced, html"
          nullable: true
        pingback_url:
          type: string
          description: "notification URL of a completed task\noptional field\nwhen a task is completed we will notify you
            by GET request sent to the URL you have specified\nyou can use the ‘$id’ string as a $id variable and ‘$tag’ as
            urlencoded $tag variable. We will set the necessary values before sending the request.\nexample:\nhttp://your-server.com/pingscript?id=$id\n\
            http://your-server.com/pingscript?id=$id&tag=$tag\nNote: special characters in pingback_url will be urlencoded;\n\
            i.a., the # character will be encoded into %23\nlearn more on our Help Center"
          nullable: true
      example:
      - language_code: en
        location_code: 2840
        keyword: iphone
        price_min: 5
    MerchantAmazonSellersTaskPostRequestInfo:
      type: object
      properties:
        asin:
          type: string
          description: "unique product identifier on Amazon\nrequired field\nyou can get this value making a separate request
            to the Amazon Products endpoint\nnote that there is no full list of possible values as the asin values is a dynamic
            value assigned by Amazon\nexample:\nB085RFFC9Q\nlearn more about the identifier in this help center guide"
        priority:
          type: integer
          description: "task priority\noptional field\ncan take the following values:\n1 – normal execution priority (set
            by default)\n2 – high execution priority\nYou will be additionally charged for the tasks with high execution priority.\n\
            The cost can be calculated on the Pricing page."
          nullable: true
        location_name:
          type: string
          description: "full name of the location\nrequired field if you don’t specify location_code or location_coordinate\n\
            if you use this field, you don’t need to specify location_code or location_coordinate\nyou can receive the list
            of available Amazon locations with their location_name by making a separate request to the https://api.dataforseo.com/v3/merchant/amazon/locations\n\
            example:\nLondon,England,United Kingdom"
          nullable: true
        location_code:
          type: integer
          description: "location code\nrequired field if you don’t specify location_name or location_coordinate\nif you use
            this field, you don’t need to specify location_name or location_coordinate\nyou can receive the list of available
            Amazon locations with their location_code by making a separate request to the https://api.dataforseo.com/v3/merchant/amazon/locations\n\
            example:\n2840"
          nullable: true
        location_coordinate:
          type: string
          description: "GPS coordinates of a location\nrequired field if you don’t specify location_name or location_code\n\
            if you use this field, you don’t need to specify location_name or location_code\nlocation_coordinate parameter
            should be specified in the “latitude,longitude,radius” format\nthe maximum number of decimal digits for “latitude”
            and “longitude”: 7\nthe minimum value for “radius”: 199.9\nexample:\n53.476225,-2.243572,200"
          nullable: true
        language_name:
          type: string
          description: "full name of the language\nrequired field if you don’t specify language_code\nif you use this field,
            you don’t need to specify language_code\nyou can receive the list of available Amazon languages with their language_name
            by making a separate request to the https://api.dataforseo.com/v3/merchant/amazon/languages\nexample:\nEnglish
            (United States)"
          nullable: true
        language_code:
          type: string
          description: "language code\nrequired field if you don’t specify language_name\nif you use this field, you don’t
            need to specify language_name\nyou can receive the list of available Amazon languages with their language_code by
            making a separate request to the https://api.dataforseo.com/v3/merchant/amazon/languages\nexample:\nen_US"
          nullable: true
        se_domain:
          type: string
          description: "search engine domain\noptional field\nwe choose the relevant search engine domain automatically according
            to the location and language you specify\nhowever, you can set a custom search engine domain in this field\nexample:\n\
            amazon.co.uk, amazon.com.au, amazon.de, etc."
          nullable: true
        tag:
          type: string
          description: "user-defined task identifier\noptional field\nthe character limit is 255\nyou can use this parameter
            to identify the task and match it with the result\nyou will find the specified tag value in the data object of
            the response"
          nullable: true
        postback_url:
          type: string
          description: "URL for sending task results\noptional field\nonce the task is completed, we will send a POST request
            with its results compressed in the gzip format to the postback_url you specified\nyou can use the ‘$id’ string
            as a $id variable and ‘$tag’ as urlencoded $tag variable. We will set the necessary values before sending the
            request.\nexample:\nhttp://your-server.com/postbackscript?id=$id\nhttp://your-server.com/postbackscript?id=$id&tag=$tag\n\
            Note: special characters in postback_url will be urlencoded;\ni.a., the # character will be encoded into %23\n\
            learn more on our Help Center"
          nullable: true
        postback_data:
          type: string
          description: "postback_url datatype\nrequired field if you specify postback_url\ncorresponds to the datatype that
            will be sent to your server\npossible values:\nadvanced, html"
          nullable: true
        pingback_url:
          type: string
          description: "notification URL of a completed task\noptional field\nwhen a task is completed we will notify you
            by GET request sent to the URL you have specified\nyou can use the ‘$id’ string as a $id variable and ‘$tag’ as
            urlencoded $tag variable. We will set the necessary values before sending the request.\nexample:\nhttp://your-server.com/pingscript?id=$id\n\
            http://your-server.com/pingscript?id=$id&tag=$tag\nNote: special characters in pingback_url will be urlencoded;\n\
            i.a., the # character will be encoded into %23\nlearn more on our Help Center"
          nullable: true
      example:
      - language_code: en_US
        location_code: 2840
        asin: B085RFFC9Q
    MerchantAmazonAsinTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonAsinTasksReadyTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantAmazonAsinTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonAsinTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantAmazonAsinTasksReadyResultInfo:
      type: object
      properties:
        id:
          type: string
          description: "task identifier of the completed task\nunique task identifier in our system in the UUID format"
          nullable: true
        se:
          type: string
          description: search engine specified when setting the task
          nullable: true
        se_type:
          type: string
          description: "type of search engine\ncan take the following values: shopping"
          nullable: true
        date_posted:
          type: string
          description: date when the task was posted (in the UTC format)
          nullable: true
        tag:
          type: string
          description: user-defined task identifier
          nullable: true
        endpoint_advanced:
          type: string
          description: URL for collecting the results of the Amazon ASIN Advanced task
          nullable: true
        endpoint_html:
          type: string
          description: URL for collecting the results of the Amazon ASIN HTML task
          nullable: true
    MerchantAmazonAsinTaskGetAdvancedResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonAsinTaskGetAdvancedTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantAmazonAsinTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonAsinTaskGetAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantAmazonAsinTaskGetAdvancedResultInfo:
      type: object
      properties:
        asin:
          type: string
          description: "ASIN received in a POST array\nthe unique product identifier in Amazon (ASIN) received in a POST array\n\
            learn more about the identified in this help center guide"
          nullable: true
        type:
          type: string
          description: type of element
          nullable: true
        se_domain:
          type: string
          description: Amazon domain in a POST array
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        check_url:
          type: string
          description: "direct URL to Amazon results\nyou can use it to make sure that we provided accurate results"
          nullable: true
        datetime:
          type: string
          description: "date and time when the result was received\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n\
            2019-11-15 12:57:46 +00:00"
          nullable: true
        item_types:
          type: array
          items:
            type: string
            nullable: true
          description: "types of search results found on Amazon\ncontains types of all search results (items) found in the
            returned SERP\npossible item types:\namazon_product_info"
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AmazonProductInfo'
            nullable: true
          description: Amazon product info items
          nullable: true
    AmazonProductInfo:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: "position within a group of elements with identical type values\npositions of elements with different
            type values are omitted from rank_group"
          nullable: true
        rank_absolute:
          type: integer
          description: "absolute rank\nabsolute position among all the elements in the response array"
          nullable: true
        position:
          type: string
          description: "the alignment of the element in Amazon SERP\npossible values:\nleft, right"
          nullable: true
        xpath:
          type: string
          description: the XPath of the element
          nullable: true
        title:
          type: string
          description: product title
          nullable: true
        details:
          type: string
          description: product specs and other details
          nullable: true
        image_url:
          type: string
          description: the URL of the product image
          nullable: true
        author:
          type: string
          description: product brand name
          nullable: true
        data_asin:
          type: string
          description: ASIN of the product received in a POST array
          nullable: true
        parent_asin:
          type: string
          description: parent ASIN of the product
          nullable: true
        product_asins:
          type: array
          items:
            type: string
            nullable: true
          description: ASINs of all found product modifications
          nullable: true
        price_from:
          type: number
          description: "the lower limit of the product price range\nexample:\n49.98"
          nullable: true
        price_to:
          type: number
          description: "the upper limit of the product price range\nexample:\n384.99"
          nullable: true
        percentage_discount:
          type: string
          description: value of the percentage discount
          nullable: true
        currency:
          type: string
          description: "currency in the ISO format\nexample:\nUSD"
          nullable: true
        is_amazon_choice:
          type: boolean
          description: "“Amazon’s choice” label\nif the value is true, the product is marked with the “Amazon’s choice” label"
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingElement'
          description: product rating info
          nullable: true
        is_newer_model_available:
          type: boolean
          description: indicates whether the newer model of the product is available
          nullable: true
        is_prime_video:
          type: boolean
          description: "indicates whether a product has an Amazon Prime Video label\nif true, specified product is a part
            of Amazon Prime Video service"
          nullable: true
        applicable_vouchers:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AmazonApplicableVouchersItem'
            nullable: true
          description: array of objects containing information about applicable vouchers
          nullable: true
        newer_model:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AmazonProductNewerModelInfo'
          description: information about the newer model of the product
          nullable: true
        categories:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/ProductCategoryInfo'
            nullable: true
          description: contains related product categories
          nullable: true
        product_information:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BaseMerchantAmazonProductInformationElementItem'
            nullable: true
          description: contains related product information
          nullable: true
        product_images_list:
          type: array
          items:
            type: string
            nullable: true
          description: contains URLs for all images of the product displayed on the left side of the main image
          nullable: true
        product_videos_list:
          type: array
          items:
            type: string
            nullable: true
          description: contains URLs for all videos of the product displayed on the right side of the main video
          nullable: true
        description:
          type: string
          description: contains description of the product
          nullable: true
        is_available:
          type: boolean
          description: "indicates whether the product is available for ordering\nif the value is true, the product can be
            ordered"
          nullable: true
        top_local_reviews:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AmazonReviewItem'
            nullable: true
          description: array of objects with top reviews from target location
          nullable: true
        top_global_reviews:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AmazonReviewItem'
            nullable: true
          description: array of objects with top reviews from around the world
          nullable: true
    RatingElement:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        position:
          type: string
          description: "the alignment of the element in Google Shopping SERP\npossible values:\nleft, right"
          nullable: true
        rating_type:
          type: string
          description: "the type of rating\nhere you can find the following elements: Max5, Percents, CustomMax"
          nullable: true
        value:
          type: number
          description: value of the rating
          nullable: true
        votes_count:
          type: integer
          description: the amount of feedback
          format: int64
          nullable: true
        rating_max:
          type: integer
          description: the maximum value for a rating_type
          nullable: true
    BaseMerchantAmazonProductInformationElementItem:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        section_name:
          type: string
          description: name of the section related to product information specified in the contents
          nullable: true
      additionalProperties: false
      discriminator:
        propertyName: type
        mapping:
          product_information_details_item: '#/components/schemas/ProductInformationProductInformationDetailsItem'
          product_information_text_item: '#/components/schemas/ProductInformationProductInformationTextItem'
          product_information_extended_item: '#/components/schemas/ProductInformationProductInformationExtendedItem'
    AmazonApplicableVouchersItem:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        text:
          type: string
          description: text of the voucher
          nullable: true
        fixed_discount:
          type: number
          description: value of the fixed discount
          nullable: true
        fixed_discount_currency:
          type: string
          description: currency code of the fixed discount
          nullable: true
        percentage_discount:
          type: number
          description: "value of the percentage discount\nif the discount is fixed, the value will be null"
          nullable: true
        important_details:
          type: string
          description: important details about the terms of discount vouchers
          nullable: true
    AmazonReviewItem:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: "position within a group of elements with identical type values\npositions of elements with different
            type values are omitted from rank_group"
          nullable: true
        rank_absolute:
          type: integer
          description: "absolute rank among all the listed reviews\nabsolute position among all reviews on the list"
          nullable: true
        position:
          type: string
          description: "the alignment of the review in SERP\ncan take the following values: right"
          nullable: true
        xpath:
          type: string
          description: the XPath of the element
          nullable: true
        verified:
          type: boolean
          description: indicates whether the review has the “Verified Purchase” mark
          nullable: true
        subtitle:
          type: string
          description: subtitle of the review
          nullable: true
        helpful_votes:
          type: string
          description: "helpful votes count\nnumber of users who clicked on the ‘Helpful” button under the review text"
          nullable: true
        images:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AiModeImagesElementInfo'
            nullable: true
          description: images of the product submitted by the reviewer
          nullable: true
        videos:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/VideoElement'
            nullable: true
          description: videos of the product submitted by the reviewer
          nullable: true
        user_profile:
          type: object
          oneOf:
          - $ref: '#/components/schemas/UserProfileInfo'
          description: user profile of the reviewer
          nullable: true
        title:
          type: string
          description: title of the review
          nullable: true
        url:
          type: string
          description: URL to the reviewer’s profile
          nullable: true
        review_text:
          type: string
          description: content of the review
          nullable: true
        publication_date:
          type: string
          description: "date and time when the review was published\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”;\nexample:\n\
            2019-11-15 12:57:46 +00:00"
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: the rating score submitted by the reviewer
          nullable: true
    RatingInfo:
      properties:
        rating_type:
          type: string
          description: "the type of rating\nhere you can find the following elements: Max5, Percents, CustomMax"
          nullable: true
        value:
          type: number
          description: the value of the rating
          format: double
          nullable: true
        votes_count:
          type: integer
          description: the amount of feedback
          format: int64
          nullable: true
        rating_max:
          type: integer
          description: the maximum value for a rating_type
          nullable: true
    UserProfileInfo:
      type: object
      properties:
        name:
          type: string
          description: the name of the reviewer
          nullable: true
        avatar:
          type: string
          description: URL to the profile picture of the reviewer
          nullable: true
        url:
          type: string
          description: relevant url
          nullable: true
        reviews_count:
          type: integer
          description: total number of reviews submitted by the reviewer
          format: int64
          nullable: true
        locations:
          type: string
          description: country of the reviewer
          nullable: true
    AiModeImagesElementInfo:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        alt:
          type: string
          description: alt tag of the image
          nullable: true
        url:
          type: string
          description: URL link
          nullable: true
        image_url:
          type: string
          description: "URL of the image\nthe URL leading to the image on the original resource or DataForSEO storage (in
            case the original source is not available)"
          nullable: true
    VideoElement:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        source:
          type: string
          description: URL to the video source
          nullable: true
        preview:
          type: string
          description: URL to the video preview image
          nullable: true
        title:
          type: string
          description: title of the row
          nullable: true
        timestamp:
          type: string
          description: "date and time when the result was published\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n\
            2019-11-15 12:57:46 +00:00"
          nullable: true
        url:
          type: string
          description: URL of element
          nullable: true
    ProductCategoryInfo:
      type: object
      properties:
        category:
          type: string
          description: product category name
          nullable: true
        url:
          type: string
          description: "product category URL\nindicates the browse path on Amazon with the unique browse node ID (product
            category ID on Amazon)"
          nullable: true
    AmazonProductNewerModelInfo:
      type: object
      properties:
        title:
          type: string
          description: product title
          nullable: true
        newer_model_asin:
          type: string
          description: ASIN of the newer product model
          nullable: true
    MerchantAmazonAsinTaskGetHtmlResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonAsinTaskGetHtmlTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    MerchantAmazonAsinTaskGetHtmlTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/MerchantAmazonAsinTaskGetHtmlResultInfo'
              nullable: true
            description: array of results
            nullable: true
    MerchantAmazonAsinTaskGetHtmlResultInfo:
      type: object
      properties:
        product_id:
          type: string
          description: ASIN received in a POST array
          nullable: true
        type:
          type: string
          description: type of element
          nullable: true
        se_domain:
          type: string
          description: search engine domain in a POST array
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        datetime:
          type: string
          description: "date and time when the result was received\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n\
            2019-11-15 12:57:46 +00:00"
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/HtmlItemInfo'
            nullable: true
          description: HTML pages and related data
[...]
