openapi: 3.0.1
info:
  title: DataForSEO AiOptimization API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: AiOptimization
paths:
  /v3/ai_optimization/chat_gpt/llm_scraper/locations:
    get:
      tags:
      - AiOptimization
      description: 'You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/chat_gpt/llm_scraper/locations/?bash'''
      operationId: ChatGptLlmScraperLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/chat_gpt/llm_scraper/locations/{country}:
    get:
      tags:
      - AiOptimization
      description: 'You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/chat_gpt/llm_scraper/locations/?bash'''
      operationId: ChatGptLlmScraperLocationsCountry
      parameters:
      - name: country
        in: path
        description: country ISO codeoptional fieldspecify the ISO code if you want to filter the list of locations by countryexample:us
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperLocationsCountryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/chat_gpt/llm_scraper/languages:
    get:
      tags:
      - AiOptimization
      description: 'You will receive the list of languages by calling this API.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/chat_gpt/llm_scraper/languages/?bash'''
      operationId: ChatGptLlmScraperLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/chat_gpt/llm_scraper/task_post:
    post:
      tags:
      - AiOptimization
      description: 'ChatGPT LLM Scraper API provides results from ChatGPT searches. The results are specific to the selected location (see the List of Locations) and language (see the List of Languages) parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/chat_gpt/llm_scraper/task_post/?bash'''
      operationId: ChatGptLlmScraperTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                keyword: what is chatgpt
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/chat_gpt/llm_scraper/tasks_ready:
    get:
      tags:
      - AiOptimization
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        Learn more about task completion and obtaining a list of completed tasks in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/chat_gpt/llm_scraper/tasks_ready/?bash'''
      operationId: ChatGptLlmScraperTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/chat_gpt/llm_scraper/task_get/advanced/{id}:
    get:
      tags:
      - AiOptimization
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/chat_gpt/llm_scraper/task_get/advanced/?bash'''
      operationId: ChatGptLlmScraperTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: task identifiera universally unique identifier (UUID)unique task identifier in our systemyou will be able to use it within 30 days to request the results of the task at any time
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/chat_gpt/llm_scraper/task_get/html/{id}:
    get:
      tags:
      - AiOptimization
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/chat_gpt/llm_scraper/task_get/html/?bash'''
      operationId: ChatGptLlmScraperTaskGetHtml
      parameters:
      - name: id
        in: path
        description: task identifierunique task identifier in our system in the UUID formatyou will be able to use it within 7 days to request the results of the task at any time
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/chat_gpt/llm_scraper/live/advanced:
    post:
      tags:
      - AiOptimization
      description: 'Live ChatGPT LLM Scraper endpoint provides results from ChatGPT searches. The results are specific to the selected location (see the List of Locations) and language (see the List of Languages) parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/chat_gpt/llm_scraper/live/advanced/'''
      operationId: ChatGptLlmScraperLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperLiveAdvancedRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperLiveAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/chat_gpt/llm_scraper/live/html:
    post:
      tags:
      - AiOptimization
      description: 'Live ChatGPT LLM Scraper API HTML provides a raw HTML page of the results for the specified keyword, language, and location.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/chat_gpt/llm_scraper/live/html/'''
      operationId: ChatGptLlmScraperLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperLiveHtmlRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperLiveHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/llm_mentions/locations_and_languages:
    get:
      tags:
      - AiOptimization
      description: 'Using this endpoint you can get the full list of locations and languages supported in AI Optimization LLM Mentions API.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/llm_mentions/locations_and_languages/'''
      operationId: LlmMentionsLocationsAndLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationLlmMentionsLocationsAndLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/llm_mentions/available_filters:
    get:
      tags:
      - AiOptimization
      description: 'Here you will find all the necessary information about filters that can be used with AI Optimization LLM Mentions API endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/llm_mentions/filters/'''
      operationId: LlmMentionsAvailableFilters
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationLlmMentionsAvailableFiltersResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/llm_mentions/search/live:
    post:
      tags:
      - AiOptimization
      description: 'Live LLM Mentions Search endpoint provides mention data and related metrics from AI searches. The results are specific to the selected platform (google for Google’s  AI Overview or chat_gpt for ChatGPT), as well as location and language parameters (see the List of Locations & Languages).

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/llm_mentions/search/live/'''
      operationId: LlmMentionsSearchLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationLlmMentionsSearchLiveRequestInfo'
                nullable: true
              example:
              - language_name: English
                location_code: 2840
                target:
                - domain: dataforseo.com
                  search_filter: exclude
                - keyword: bmw
                  search_scope:
                  - answer
                platform: google
                filters:
                - - ai_search_volume
                  - '>'
                  - 1000
                order_by:
                - ai_search_volume,desc
                offset: 0
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationLlmMentionsSearchLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/llm_mentions/top_pages/live:
    post:
      tags:
      - AiOptimization
      description: 'Live LLM Mentions Top Pages endpoint provides aggregated LLM mentions metrics grouped by the most frequently mentioned pages for the specified target. The results are specific to the selected platform (google for Google’s  AI Overview or chat_gpt for ChatGPT), location and language parameters (see the List of Locations & Languages).

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/llm_mentions/top_pages/live/'''
      operationId: LlmMentionsTopPagesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationLlmMentionsTopPagesLiveRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                platform: google
                target:
                - keyword: bmw
                  search_scope:
                  - answer
                - keyword: auto
                  search_scope:
                  - question
                  match_type: partial_match
                links_scope: sources
                initial_dataset_filters:
                - - ai_search_volume
                  - '>'
                  - 10
                items_list_limit: 3
                internal_list_limit: 2
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationLlmMentionsTopPagesLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/llm_mentions/top_domains/live:
    post:
      tags:
      - AiOptimization
      description: 'Live LLM Mentions Top Domains endpoint provides aggregated LLM mentions metrics grouped by the most frequently mentioned domains for the specified target. The results are specific to the selected platform (google for Google’s  AI Overview or chat_gpt for ChatGPT), location and language parameters (see the List of Locations & Languages).

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/llm_mentions/top_domains/live/'''
      operationId: LlmMentionsTopDomainsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationLlmMentionsTopDomainsLiveRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                platform: chat_gpt
                target:
                - keyword: bmw
                  search_scope:
                  - answer
                - keyword: auto
                  search_scope:
                  - question
                  match_type: partial_match
                links_scope: sources
                initial_dataset_filters:
                - - ai_search_volume
                  - '>'
                  - 10
                items_list_limit: 3
                internal_list_limit: 2
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationLlmMentionsTopDomainsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/llm_mentions/aggregated_metrics/live:
    post:
      tags:
      - AiOptimization
      description: 'Live LLM Mentions endpoint provides aggregated metrics for mentions of the keywords or domains specified in the target array of the request. The results are specific to the selected platform (google for Google’s  AI Overview or chat_gpt for ChatGPT), location and language parameters (see the List of Locations & Languages).

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/llm_mentions/aggregated_metrics/live/'''
      operationId: LlmMentionsAggregatedMetricsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationLlmMentionsAggregatedMetricsLiveRequestInfo'
                nullable: true
              example:
              - language_code: es
                location_code: 2840
                platform: google
                target:
                - domain: en.wikipedia.org
                  search_filter: exclude
                - keyword: bmw
                  search_scope:
                  - answer
                initial_dataset_filters:
                - - ai_search_volume
                  - '>'
                  - 10
                internal_list_limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationLlmMentionsAggregatedMetricsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/llm_mentions/cross_aggregated_metrics/live:
    post:
      tags:
      - AiOptimization
      description: 'Live LLM Mentions endpoint provides aggregated metrics grouped by custom keys for mentions of the keywords or domains specified in the target array of the request. Each item in the results array corresponds to the specified target. The results are specific to the selected platform (google for Google’s  AI Overview or chat_gpt for ChatGPT), location and language parameters (see the List of Locations & Languages).

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/llm_mentions/cross_aggregated_metrics/live/'''
      operationId: LlmMentionsCrossAggregatedMetricsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationLlmMentionsCrossAggregatedMetricsLiveRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                platform: google
                targets:
                - aggregation_key: chat_gpt
                  target:
                  - keyword: chat gpt
                - aggregation_key: claude
                  target:
                  - keyword: claude
                - aggregation_key: gemini
                  target:
                  - keyword: gemini
                - aggregation_key: perplexity
                  target:
                  - keyword: perplexity
                    search_filter: include
                initial_dataset_filters:
                - - ai_search_volume
                  - '>'
                  - 10
                internal_list_limit: 5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationLlmMentionsCrossAggregatedMetricsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/chat_gpt/llm_responses/models:
    get:
      tags:
      - AiOptimization
      description: 'You will receive the list of available Chat GPT AI models by calling this API.

         

        As a response of the API server, you will receive JSON-encoded data containing a tasks array with the information specific to the set tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/chat_gpt/llm_responses/models/'''
      operationId: ChatGptLlmResponsesModels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmResponsesModelsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/chat_gpt/llm_responses/live:
    post:
      tags:
      - AiOptimization
      description: 'Live ChatGPT LLM Responses endpoint allows you to retrieve structured responses from a specific ChatGPT AI model, based on the input parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/chat_gpt/llm_responses/live/'''
      operationId: ChatGptLlmResponsesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmResponsesLiveRequestInfo'
                nullable: true
              example:
              - system_message: communicate as if we are in a business meeting
                message_chain:
                - role: user
                  message: Hello, what’s up?
                - role: ai
                  message: Hello! I’m doing well, thank you. How can I assist you today? Are there any specific topics or projects you’d like to discuss in our meeting?
                max_output_tokens: 200
                temperature: 0.3
                top_p: 0.5
                model_name: gpt-4.1-mini
                web_search: true
                web_search_country_iso_code: FR
                web_search_city: Paris
                user_prompt: provide information on how relevant the amusement park business is in France now
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmResponsesLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/chat_gpt/llm_responses/task_post:
    post:
      tags:
      - AiOptimization
      description: 'ChatGPT LLM Responses endpoint allows you to retrieve structured responses from a specific ChatGPT model, based on the input parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/chat_gpt/llm_responses/task_post/'''
      operationId: ChatGptLlmResponsesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmResponsesTaskPostRequestInfo'
                nullable: true
              example:
              - system_message: communicate as if we are in a business meeting
                message_chain:
                - role: user
                  message: Hello, what’s up?
                - role: ai
                  message: Hello! I’m doing well, thank you. How can I assist you today? Are there any specific topics or projects you’d like to discuss in our meeting?
                model_name: gpt-4.1-mini
                user_prompt: provide information on how relevant the amusement park business is in France now
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmResponsesTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/chat_gpt/llm_responses/tasks_ready:
    get:
      tags:
      - AiOptimization
      description: 'This endpoint is designed to provide you with a list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/chat_gpt/llm_responses/tasks_ready/'''
      operationId: ChatGptLlmResponsesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmResponsesTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/chat_gpt/llm_responses/task_get/{id}:
    get:
      tags:
      - AiOptimization
      description: 'Chat GPT LLM Responses endpoint allows you to retrieve structured responses from a specific Chat GPT model, based on the input parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/chat_gpt/llm_responses/task_get/'''
      operationId: ChatGptLlmResponsesTaskGet
      parameters:
      - name: id
        in: path
        description: task identifierunique task identifier in our system in the UUID formatyou will be able to use it within 30 days to request the results of the task at any time
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationChatGptLlmResponsesTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/claude/llm_responses/models:
    get:
      tags:
      - AiOptimization
      description: 'You will receive the list of available Claude AI models by calling this API.

         

        As a response of the API server, you will receive JSON-encoded data containing a tasks array with the information specific to the set tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/claude/llm_responses/models/'''
      operationId: ClaudeLlmResponsesModels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationClaudeLlmResponsesModelsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/claude/llm_responses/live:
    post:
      tags:
      - AiOptimization
      description: 'Live Claude LLM Responses endpoint allows you to retrieve structured responses from a specific Claude model, based on the input parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/claude/llm_responses/live/'''
      operationId: ClaudeLlmResponsesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationClaudeLlmResponsesLiveRequestInfo'
                nullable: true
              example:
              - system_message: communicate as if we are in a business meeting
                message_chain:
                - role: user
                  message: Hello, what’s up?
                - role: ai
                  message: Hello! I’m doing well, thank you. How can I assist you today? Are there any specific topics or projects you’d like to discuss in our meeting?
                max_output_tokens: 200
                model_name: claude-opus-4-0
                temperature: 0.3
                web_search: true
                web_search_country_iso_code: FR
                user_prompt: provide information on how relevant the amusement park business is in France now
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationClaudeLlmResponsesLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/claude/llm_responses/task_post:
    post:
      tags:
      - AiOptimization
      description: 'Claude LLM Responses endpoint allows you to retrieve structured responses from a specific Claude model, based on the input parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/claude/llm_responses/task_post/'''
      operationId: ClaudeLlmResponsesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationClaudeLlmResponsesTaskPostRequestInfo'
                nullable: true
              example:
              - system_message: communicate as if we are in a business meeting
                message_chain:
                - role: user
                  message: Hello, what’s up?
                - role: ai
                  message: Hello! I’m doing well, thank you. How can I assist you today? Are there any specific topics or projects you’d like to discuss in our meeting?
                max_output_tokens: 1024
                temperature: 0.3
                web_search_country_iso_code: FR
                model_name: claude-sonnet-4-0
                web_search: true
                user_prompt: provide information on how relevant the amusement park business is in France now
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationClaudeLlmResponsesTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/claude/llm_responses/tasks_ready:
    get:
      tags:
      - AiOptimization
      description: 'This endpoint is designed to provide you with a list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/claude/llm_responses/tasks_ready/'''
      operationId: ClaudeLlmResponsesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationClaudeLlmResponsesTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/claude/llm_responses/task_get/{id}:
    get:
      tags:
      - AiOptimization
      description: 'Claude LLM Responses endpoint allows you to retrieve structured responses from a specific Claude model, based on the input parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/claude/llm_responses/task_get/'''
      operationId: ClaudeLlmResponsesTaskGet
      parameters:
      - name: id
        in: path
        description: task identifierunique task identifier in our system in the UUID formatyou will be able to use it within 30 days to request the results of the task at any time
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationClaudeLlmResponsesTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/gemini/llm_responses/models:
    get:
      tags:
      - AiOptimization
      description: 'You will receive the list of available Gemini AI models by calling this API.

         

        As a response of the API server, you will receive JSON-encoded data containing a tasks array with the information specific to the set tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/gemini/llm_responses/models/'''
      operationId: GeminiLlmResponsesModels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmResponsesModelsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/gemini/llm_responses/task_post:
    post:
      tags:
      - AiOptimization
      description: 'Gemini LLM Responses endpoint allows you to retrieve structured responses from a specific Gemini model, based on the input parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/gemini/llm_responses/task_post/'''
      operationId: GeminiLlmResponsesTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmResponsesTaskPostRequestInfo'
                nullable: true
              example:
              - system_message: communicate as if we are in a business meeting
                message_chain:
                - role: user
                  message: Hello, what’s up?
                - role: ai
                  message: Hello! I’m doing well, thank you. How can I assist you today? Are there any specific topics or projects you’d like to discuss in our meeting?
                model_name: gemini-2.5-flash
                user_prompt: provide information on how relevant the amusement park business is in France now
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmResponsesTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/gemini/llm_responses/tasks_ready:
    get:
      tags:
      - AiOptimization
      description: 'This endpoint is designed to provide you with a list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/gemini/llm_responses/tasks_ready/'''
      operationId: GeminiLlmResponsesTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmResponsesTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/gemini/llm_responses/task_get/{id}:
    get:
      tags:
      - AiOptimization
      description: 'Gemini LLM Responses endpoint allows you to retrieve structured responses from a specific Gemini model, based on the input parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/gemini/llm_responses/task_get/'''
      operationId: GeminiLlmResponsesTaskGet
      parameters:
      - name: id
        in: path
        description: task identifierunique task identifier in our system in the UUID formatyou will be able to use it within 30 days to request the results of the task at any time
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmResponsesTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/gemini/llm_responses/live:
    post:
      tags:
      - AiOptimization
      description: 'Live Gemini LLM Responses endpoint allows you to retrieve structured responses from a specific Gemini AI model, based on the input parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/gemini/llm_responses/live/'''
      operationId: GeminiLlmResponsesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmResponsesLiveRequestInfo'
                nullable: true
              example:
              - system_message: communicate as if we are in a business meeting
                message_chain:
                - role: user
                  message: Hello, what’s up?
                - role: ai
                  message: Hello! I’m doing well, thank you. How can I assist you today? Are there any specific topics or projects you’d like to discuss in our meeting?
                max_output_tokens: 200
                temperature: 0.3
                top_p: 0.5
                model_name: gemini-2.5-flash
                web_search: true
                user_prompt: provide information on how relevant the amusement park business is in France now
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmResponsesLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/gemini/llm_scraper/locations:
    get:
      tags:
      - AiOptimization
      description: 'You will receive the list of locations by this API call. You can filter the list of locations by country when setting a task.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/gemini/llm_scraper/locations/?bash'''
      operationId: GeminiLlmScraperLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/gemini/llm_scraper/languages:
    get:
      tags:
      - AiOptimization
      description: 'You will receive the list of languages by calling this API.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/gemini/llm_scraper/languages/?bash'''
      operationId: GeminiLlmScraperLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/gemini/llm_scraper/task_post:
    post:
      tags:
      - AiOptimization
      description: 'Gemini LLM Scraper API provides structured results from Gemini. The results are specific to the selected location (see the List of Locations) and language (see the List of Languages), and keyword.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/gemini/llm_scraper/task_post/?bash'''
      operationId: GeminiLlmScraperTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/gemini/llm_scraper/tasks_ready:
    get:
      tags:
      - AiOptimization
      description: 'The ‘Tasks Ready’ endpoint is designed to provide you with the list of completed tasks, which haven’t been collected yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.

        Learn more about task completion and obtaining a list of completed tasks in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/gemini/llm_scraper/tasks_ready/?bash'''
      operationId: GeminiLlmScraperTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/gemini/llm_scraper/task_get/advanced/{id}:
    get:
      tags:
      - AiOptimization
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/gemini/llm_scraper/task_get/advanced/?bash'''
      operationId: GeminiLlmScraperTaskGetAdvanced
      parameters:
      - name: id
        in: path
        description: task identifiera universally unique identifier (UUID)unique task identifier in our systemyou will be able to use it within 30 days to request the results of the task at any time
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperTaskGetAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/gemini/llm_scraper/task_get/html/{id}:
    get:
      tags:
      - AiOptimization
      description: 'Description of the fields for sending a request:

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/gemini/llm_scraper/task_get/html/?bash'''
      operationId: GeminiLlmScraperTaskGetHtml
      parameters:
      - name: id
        in: path
        description: task identifierunique task identifier in our system in the UUID formatyou will be able to use it within 7 days to request the results of the task at any time
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperTaskGetHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/gemini/llm_scraper/live/advanced:
    post:
      tags:
      - AiOptimization
      description: 'Live Gemini LLM Scraper endpoint provides structured results from Gemini. The results are specific to the selected location (see the List of Locations), language (see the List of Languages), and keyword.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/gemini/llm_scraper/live/advanced/'''
      operationId: GeminiLlmScraperLiveAdvanced
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperLiveAdvancedRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperLiveAdvancedResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/gemini/llm_scraper/live/html:
    post:
      tags:
      - AiOptimization
      description: 'Live Gemini LLM Scraper API HTML provides a raw HTML page of the results for the specified keyword, language (see the List of Languages), and location (see the List of Locations).

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/gemini/llm_scraper/live/html/'''
      operationId: GeminiLlmScraperLiveHtml
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperLiveHtmlRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                keyword: albert einstein
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperLiveHtmlResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/perplexity/llm_responses/models:
    get:
      tags:
      - AiOptimization
      description: 'You will receive the list of available Perplexity AI models by calling this API.

         

        As a response of the API server, you will receive JSON-encoded data containing a tasks array with the information specific to the set tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/perplexity/llm_responses/models/'''
      operationId: PerplexityLlmResponsesModels
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationPerplexityLlmResponsesModelsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/perplexity/llm_responses/live:
    post:
      tags:
      - AiOptimization
      description: 'Live Perplexity LLM Responses endpoint allows you to retrieve structured responses from a specific Perplexity AI model, based on the input parameters.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/perplexity/llm_responses/live/'''
      operationId: PerplexityLlmResponsesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationPerplexityLlmResponsesLiveRequestInfo'
                nullable: true
              example:
              - system_message: communicate as if we are in a business meeting
                message_chain:
                - role: user
                  message: Hello, what’s up?
                - role: ai
                  message: Hello! I’m doing well, thank you. How can I assist you today? Are there any specific topics or projects you’d like to discuss in our meeting?
                max_output_tokens: 200
                temperature: 0.3
                top_p: 0.5
                web_search_country_iso_code: FR
                model_name: sonar
                user_prompt: provide information on how relevant the amusement park business is in France now
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationPerplexityLlmResponsesLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/ai_keyword_data/available_filters:
    get:
      tags:
      - AiOptimization
      description: 'Here you will find all the necessary information about filters that can be used with AI Keyword Data API endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/ai_keyword_data/available_filters'''
      operationId: AiKeywordDataAvailableFilters
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationAiKeywordDataAvailableFiltersResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/ai_keyword_data/locations_and_languages:
    get:
      tags:
      - AiOptimization
      description: 'Using this endpoint you can get the full list of locations and languages supported in AI Keyword Data API.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/ai_keyword_data/locations_and_languages'''
      operationId: AiKeywordDataLocationsAndLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationAiKeywordDataLocationsAndLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/ai_optimization/ai_keyword_data/keywords_search_volume/live:
    post:
      tags:
      - AiOptimization
      description: 'This endpoint provides search volume data for your target keywords, reflecting their estimated usage in AI tools.

        for more info please visit ''https://docs.dataforseo.com/v3/ai_optimization/ai_keyword_data/keywords_search_volume/live'''
      operationId: AiKeywordDataKeywordsSearchVolumeLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationAiKeywordDataKeywordsSearchVolumeLiveRequestInfo'
                nullable: true
              example:
              - language_name: English
                location_code: 2840
                keywords:
                - iphone
                - seo
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AiOptimizationAiKeywordDataKeywordsSearchVolumeLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
components:
  schemas:
    BaseResponseTaskInfo:
      properties:
        id:
          type: string
          description: 'task identifier

            unique task identifier in our system in the UUID format'
          nullable: true
        status_code:
          type: integer
          description: 'status code of the task

            generated by DataForSEO, can be within the following range: 10000-60000

            you can find the full list of the response codes here'
          nullable: true
        status_message:
          type: string
          description: 'informational message of the task

            you can find the full list of general informational messages here'
          nullable: true
        time:
          type: string
          description: execution time, seconds
          nullable: true
        cost:
          type: number
          description: total tasks cost, USD
          format: double
          nullable: true
        result_count:
          type: integer
          description: number of elements in the result array
          format: int64
          nullable: true
        path:
          type: array
          items:
            type: string
            nullable: true
          description: URL path
          nullable: true
        data:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: contains the same parameters that you specified in the POST request
          nullable: true
    AiOptimizationGeminiLlmScraperTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperTasksReadyTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AiOptimizationGeminiLlmResponsesLiveResultInfo:
      type: object
      properties:
        model_name:
          type: string
          description: name of the AI model used
          nullable: true
        input_tokens:
          type: integer
          description: number of tokens in the inputtotal count of tokens processed
          nullable: true
        output_tokens:
          type: integer
          description: number of tokens in the outputtotal count of tokens generated in the AI response
          nullable: true
        reasoning_tokens:
          type: integer
          description: number of reasoning tokenstotal count of tokens used to generate reasoning content
          nullable: true
        web_search:
          type: boolean
          description: indicates if web search was used
          nullable: true
        money_spent:
          type: number
          description: cost of AI tokens, USDthe price charged by the third-party AI model provider for according to its Pricing
          nullable: true
        datetime:
          type: string
          description: 'date and time when the result was receivedin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”example:2019-11-15 12:57:46 +00:00'
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BaseAiOptimizationLlmResponseElementItem'
            nullable: true
          description: array of response itemscontains structured AI response data
          nullable: true
        fan_out_queries:
          type: array
          items:
            type: string
            nullable: true
          description: array of fan-out queriescontains related search queries derived from the main query to provide a more comprehensive response
          nullable: true
    AiOptimizationLlmMentionsSearchLiveResultInfo:
      type: object
      properties:
        total_count:
          type: integer
          description: total amount of results relevant the request
          format: int64
          nullable: true
        current_offset:
          type: integer
          description: the number of mentions objects that are omitted in the items array
          nullable: true
        search_after_token:
          type: string
          description: token for subsequent requestsby specifying the unique search_after_token when setting a new task, you will get the subsequent results of the initial task;search_after_token values are unique for each subsequent task
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AiOptimizationLlmMentionsSearchLiveItem'
            nullable: true
          description: contains relevant mentions data
          nullable: true
    SearchResults:
      type: object
      properties:
        description:
          type: string
          description: result description
          nullable: true
        breadcrumb:
          type: string
          description: breadcrumb
          nullable: true
        position:
          type: integer
          description: position in the results
          nullable: true
        title:
          type: string
          description: result title
          nullable: true
        domain:
          type: string
          description: result domain
          nullable: true
        url:
          type: string
          description: result URL
          nullable: true
        publication_date:
          type: string
          description: 'date and time when the result was publishedin the format: “year-month-date:minutes:UTC_difference_hours:UTC_difference_minutes”example:2019-11-15 12:57:46 +00:00'
          nullable: true
    AiOptimizationResultTotalInfo:
      type: object
      properties:
        location:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/GroupElement'
            nullable: true
          description: location-based groupingarray of objects containing mention metrics segmented by geographical location
          nullable: true
        language:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/GroupElement'
            nullable: true
          description: language-based groupingarray of objects containing mention metrics segmented by content language
          nullable: true
        platform:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/GroupElement'
            nullable: true
          description: platform-based groupingarray of group elements containing mention metrics segmented by AI platform
          nullable: true
        sources_domain:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/GroupElement'
            nullable: true
          description: found source domains relevant to the targetarray of objects containing data on top domains that are cited as sources in LLM responses
          nullable: true
        search_results_domain:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/GroupElement'
            nullable: true
          description: found search results domains relevant to the targetarray of objects containing data on top domains that appear in search results related to LLM queries
          nullable: true
        brand_entities_title:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/GroupElement'
            nullable: true
          description: data on brand entities relevant to the targetarray of objects containing data on brand entity titles that appear in search results related to LLM queries
          nullable: true
        brand_entities_category:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/GroupElement'
            nullable: true
          description: data on brand entities relevant to the targetarray of objects containing data on brand entity categories that appear in search results related to LLM queries
          nullable: true
    AiOptimizationClaudeLlmResponsesTaskGetTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationClaudeLlmResponsesTaskGetResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AiOptimizationClaudeLlmResponsesLiveRequestInfo:
      type: object
      properties:
        user_prompt:
          type: string
          description: prompt for the AI modelrequired fieldthe question or task you want to send to the AI model;you can specify up to 500 characters in the user_prompt field
        model_name:
          type: string
          description: name of the AI modelrequired fieldmodel_nameconsists of the actual model name and version name;if the basic model name is specified, its latest version will be set by default;for example, if claude-opus-4-0 is specified, the claude-opus-4-20250514 will be set as model_name automatically;you can receive the list of available LLM models by making a separate request to the https://api.dataforseo.com/v3/ai_optimization/claude/llm_responses/models
        max_output_tokens:
          type: integer
          description: 'maximum number of tokens in the AI responseoptional fieldminimum value: 1;maximum value: 4096;default value: 2048;Note: if web_search is set to true or the reasoning model is specified in the request, the output token count may exceed the specified max_output_tokens limitNote #2: if use_reasoning is set to true, the minimum value for max_output_tokens is 1025'
          nullable: true
        temperature:
          type: number
          description: 'randomness of the AI responseoptional fieldhigher values make output more diverse; lower values make output more focused;minimum value: 0maximum value: 1default value: 0.7Note: temperature cannot be used together with top_p in the same request'
          nullable: true
        top_p:
          type: number
          description: 'diversity of the AI responseoptional field controls diversity of the response by limiting token selection;minimum value: 0maximum value: 1 default value: nullNote: top_p cannot be used together with temperature in the same request'
          nullable: true
        web_search:
          type: boolean
          description: 'enable web search for current informationoptional fieldwhen enabled, the AI model can access and cite current web information;Note: refer to the Models endpoint for a list of models that support web_search; default value: false;The cost of the parameter can be calculated on the Pricing page'
          nullable: true
        force_web_search:
          type: boolean
          description: 'force AI agent to use web searchoptional fieldto enable this parameter, web_search must also be enabled;when enabled, the AI model is forced to access and cite current web information;default value: false;Note: even if the parameter is set to true, there is no guarantee web sources will be cited in the response'
          nullable: true
        web_search_country_iso_code:
          type: string
          description: 'ISO country code of the locationoptional fieldpossible values: ''AR'',''AT'',''AU'',''BE'',''BR'',''CA'',''CH'',''CL'',''CN'',''DE'',''DK'',''ES'',''FI'',''FR'',''GB'',''HK'',''ID'',''IN'',''IT'',''JP'',''KR'',''MX'',''MY'',''NL'',''NO'',''NZ'',''PH'',''PL'',''PT'',''RU'',''SA'',''SE'',''TR'',''TW'',''US'',''ZA'''
          nullable: true
        web_search_city:
          type: string
          description: 'city name of the locationoptional fieldNote: specify web_search_country_iso_code to use this parameter'
          nullable: true
        system_message:
          type: string
          description: instructions for the AI behaviouroptional fielddefines the AI's role, tone, or specific behavior;you can specify up to 500 characters in the system_message field
          nullable: true
        message_chain:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/LlmMessageChainItem'
            nullable: true
          description: 'conversation history

            optional field

            array of message objects representing previous conversation turns;

            each object must contain:

            role string with either user or ai role;

            message string with message content (max 500 characters);

            you can specify maximum of 10 message objects in the array;

            Note: for Perplexity models, messages must strictly alternate between user and AI roles (user → ai);

            example:

            "message_chain": [{"role":"user","message":"Hello, what’s up?"},{"role":"ai","message":"Hello! I’m doing well, thank you. How can I assist you today?"}]'
          nullable: true
        use_reasoning:
          type: boolean
          description: 'enable reasoning for the AI modeloptional fieldwhen enabled, the model will perform reasoning before generating a responserefer to the Models endpoint for a list of models that support reasoningdefault value: falseNote: if set to true, the minimum value for max_output_tokens is 1025Note #2: if set to true, force_web_search must be set to falseNote #3: if set to true, the temperature and top_p cannot be used'
          nullable: true
        tag:
          type: string
          description: user-defined task identifieroptional fieldthe character limit is 255you can use this parameter to identify the task and match it with the resultyou will find the specified tag value in the data object of the response
          nullable: true
      example:
      - system_message: communicate as if we are in a business meeting
        message_chain:
        - role: user
          message: Hello, what’s up?
        - role: ai
          message: Hello! I’m doing well, thank you. How can I assist you today? Are there any specific topics or projects you’d like to discuss in our meeting?
        max_output_tokens: 200
        model_name: claude-opus-4-0
        temperature: 0.3
        web_search: true
        web_search_country_iso_code: FR
        user_prompt: provide information on how relevant the amusement park business is in France now
    AiOptimizationLlmMentionsTopPagesLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationLlmMentionsTopPagesLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AiOptimizationChatGptLlmScraperLiveHtmlTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperLiveHtmlResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AiMonthlySearches:
      type: object
      properties:
        year:
          type: integer
          description: year
          nullable: true
        month:
          type: integer
          description: month
          nullable: true
        ai_search_volume:
          type: integer
          description: AI search volume rate in a certain month of a yearlearn more about this metric here
          format: int64
          nullable: true
    AiOptimizationGeminiLlmScraperTaskGetAdvancedResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperTaskGetAdvancedTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AiOptimizationAiKeywordDataAvailableFiltersTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationAiKeywordDataAvailableFiltersResultInfo'
              nullable: true
            nullable: true
    AiOptimizationGeminiLlmScraperTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperTaskPostTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AiOptimizationChatGptLlmResponsesModelsResultInfo:
      type: object
      properties:
        model_name:
          type: string
          description: name of the AI model
          nullable: true
        web_search_supported:
          type: boolean
          description: web search support for the AI modelif true, the web_search parameter can be set with the AI model
          nullable: true
        task_post_supported:
          type: boolean
          description: indicates if Standard (POST-GET) data retrieval is supportedif true, you can use the Standard (POST-GET) data retrieval method with the AI model
          nullable: true
    AiOptimizationGeminiLlmScraperLiveAdvancedResultInfo:
      type: object
      properties:
        keyword:
          type: string
          description: keyword received in a POST arraythe keyword is returned with decoded %## (plus symbol '+' will be decoded to a space character)
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        model:
          type: string
          description: indicates the model version
          nullable: true
        datetime:
          type: string
          description: 'date and time when the result was receivedin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”example:2019-11-15 12:57:46 +00:00'
          nullable: true
        markdown:
          type: string
          description: content of the element in markdown formatcontent of the result formatted in the markdown markup language
          nullable: true
        sources:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/SourceInfo'
            nullable: true
          description: array of sourcesthe sources the model actually cited or relied on in its final answer
          nullable: true
        se_results_count:
          type: integer
          description: total number of results
          format: int64
          nullable: true
        item_types:
          type: array
          items:
            type: string
            nullable: true
          description: types of search resultscontains types of search results (items) found in SERP.possible item types:gemini_text, gemini_table, gemini_images
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BaseGeminiLlmScraperElementItem'
            nullable: true
          description: items present in the element
          nullable: true
    AiOptimizationLlmMentionsLocationsAndLanguagesTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationLlmMentionsLocationsAndLanguagesResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AiOptimizationChatGptLlmResponsesTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationChatGptLlmResponsesTasksReadyTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AvailableLanguages:
      type: object
      properties:
        available_sources:
          type: array
          items:
            type: string
            nullable: true
          description: 'supported sources

            contains the sources of data supported for a specific location and language combination

            only google and bing are currently available'
          nullable: true
        language_name:
          type: string
          description: language name
          nullable: true
        language_code:
          type: string
          description: language code according to ISO 639-1
          nullable: true
        keywords:
          type: integer
          description: the number of keywords available for the given location and language
          nullable: true
        serps:
          type: integer
          description: the number of SERP pages available for the given location and language
          nullable: true
    AiOptimizationChatGptLlmResponsesTaskGetResultInfo:
      type: object
      properties:
        model_name:
          type: string
          description: name of the AI model used
          nullable: true
        input_tokens:
          type: integer
          description: number of tokens in the inputtotal count of tokens processed
          nullable: true
        output_tokens:
          type: integer
          description: number of tokens in the outputtotal count of tokens generated in the AI response
          nullable: true
        reasoning_tokens:
          type: integer
          description: number of reasoning tokenstotal count of tokens used to generate reasoning content
          nullable: true
        web_search:
          type: boolean
          description: indicates if web search was used
          nullable: true
        money_spent:
          type: number
          description: cost of AI tokens, USDthe price charged by the third-party AI model provider for according to its Pricing
          nullable: true
        datetime:
          type: string
          description: 'date and time when the result was receivedin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”example:2019-11-15 12:57:46 +00:00'
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BaseAiOptimizationLlmResponseElementItem'
            nullable: true
          description: array of response itemscontains structured AI response data
          nullable: true
        fan_out_queries:
          type: array
          items:
            type: string
            nullable: true
          description: array of fan-out queriescontains related search queries derived from the main query to provide a more comprehensive response
          nullable: true
    AiOptimizationChatGptLlmResponsesTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: object
            description: 'array of results

              in this case, the value will be null'
            nullable: true
    AiOptimizationGeminiLlmScraperTaskGetAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperTaskGetAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AiOptimizationClaudeLlmResponsesTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationClaudeLlmResponsesTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AiOptimizationGeminiLlmScraperLocationsTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperLocationsResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AiOptimizationChatGptLlmScraperLiveAdvancedTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperLiveAdvancedResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AiOptimizationChatGptLlmScraperLiveAdvancedResultInfo:
      type: object
      properties:
        keyword:
          type: string
          description: keyword received in a POST arraythe keyword is returned with decoded %## (plus symbol '+' will be decoded to a space character)
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        model:
          type: string
          description: indicates the model version
          nullable: true
        check_url:
          type: string
          description: direct URL to search engine resultsyou can use it to make sure that we provided exact results
          nullable: true
        datetime:
          type: string
          description: 'date and time when the result was receivedin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”example:2019-11-15 12:57:46 +00:00'
          nullable: true
        markdown:
          type: string
          description: content of the element in markdown formatcontent of the result formatted in the markdown markup language
          nullable: true
        search_results:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/ChatgptSearchResult'
            nullable: true
          description: array of search resultsall web search outputs the model retrieved when looking up information, including duplicates and unused entries
          nullable: true
        sources:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/SourceInfo'
            nullable: true
          description: array of sourcesthe sources the model actually cited or relied on in its final answer
          nullable: true
        fan_out_queries:
          type: array
          items:
            type: string
            nullable: true
          description: array of fan-out queriescontains related search queries derived from the main query to provide a more comprehensive response
          nullable: true
        brand_entities:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/ChatGptBrandEntity'
            nullable: true
          description: array of brand entitiescontains information on brands mentioned in the response
          nullable: true
        se_results_count:
          type: integer
          description: total number of results
          format: int64
          nullable: true
        item_types:
          type: array
          items:
            type: string
            nullable: true
          description: types of search resultscontains types of search results (items) found in SERP.possible item types:chat_gpt_text, chat_gpt_table, chat_gpt_navigation_list, chat_gpt_images, chat_gpt_local_businesses, chat_gpt_products
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BaseChatGptLlmScraperElementItem'
            nullable: true
          description: items present in the element
          nullable: true
    AiOptimizationGeminiLlmScraperLanguagesResultInfo:
      type: object
      properties:
        language_name:
          type: string
          description: language name
          nullable: true
        language_code:
          type: string
          description: language code according to ISO 639-1
          nullable: true
    AiOptimizationLlmMentionsSearchLiveRequestInfo:
      type: object
      properties:
        target:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BaseAiOptimizationLLmMentionsTargetElement'
            nullable: true
          description: 'array of objects containing target entities

            required field

            you can specify up to 10 entities (objects) in the target field

            one target entity can contain either one domain or one keyword and related parameters

            examples:


            target array with a domain entity'
          nullable: true
        domain_entity:
          type: object
          description: 'domain entity in the target arrayexample:{"domain": "en.wikipedia.org", "search_filter": "exclude", "search_scope": ["sources"]}'
          nullable: true
        domain:
          type: string
          description: target domainrequired field if you don't specify keywordyou can specify up to 63 characters in the domain field;a domain should be specified without https:// and www.
          nullable: true
        search_filter:
          type: string
          description: 'target keyword search filteroptional fieldpossible values:include, excludedefault value: include'
          nullable: true
        search_scope:
          type: array
          items:
            type: string
          description: 'target keyword search scopeoptional fieldpossible values:any, question, answer, brand_entities, fan_out_queriesdefault value: any'
          nullable: true
        include_subdomains:
          type: boolean
          description: 'indicates if the subdomains of the target domain will be included in the searchoptional fieldif set to true, the subdomains will be included in the searchdefault value: false'
          nullable: true
        keyword_entity:
          type: object
          description: 'keyword entity in the target arrayexample:{"keyword": "bmw", "search_filter": "include", "search_scope": ["question"], "match_type ": "partial_match"}'
          nullable: true
        keyword:
          type: string
          description: target keywordrequired field if you don't specify domainyou can specify up to 250 characters in the keyword fieldall %## will be decoded (plus character ‘+’ will be decoded to a space character)if you need to use the “%” character for your keyword, please specify it as “%25”;if you need to use the “+” character for your keyword, please specify it as “%2B”learn more about rules and limitations of keyword and keywords fields in DataForSEO APIs in this Help Center article
          nullable: true
        match_type:
          type: string
          description: 'target keyword match typedefines how the specified keyword is matchedoptional fieldpossible values:word_match - full-text search for terms that match the specified seed keyword with additional words included before, after, or within the key phrase (e.g., search for "light" will return results with "light bulb", "light switch");partial_match - substring search that finds all instances containing the specified sequence of characters, even if it appears inside a longer word (e.g., search for "light" will return results with "lighting", "highlight");default value: word_match'
          nullable: true
        location_name:
          type: string
          description: 'full name of search locationoptional fieldif you use this field, you don''t need to specify location_codeif you don''t specify this field, the location_code with 2840 value will be used by default;you can receive the list of available locations of the search engine with their location_name by making a separate request to the https://api.dataforseo.com/v3/ai_optimization/llm_mentions/locations_and_languagesNote: chat_gpt data is available for United States only'
          nullable: true
        location_code:
          type: integer
          description: 'search location codeoptional fieldif you use this field, you don''t need to specify location_nameyou can receive the list of available locations of the search engine with their location_code by making a separate request to the https://api.dataforseo.com/v3/ai_optimization/llm_mentions/locations_and_languagesdefault value: 2840Note: chat_gpt data is available for 2840 only'
          nullable: true
        language_name:
          type: string
          description: 'full name of search languageoptional fieldif you use this field, you don''t need to specify language_code;if you don''t specify this field, the language_code with en value will be used by default;you can receive the list of available languages of the search engine with their language_name by making a separate request to the https://api.dataforseo.com/v3/ai_optimization/llm_mentions/locations_and_languagesNote: chat_gpt data is available for English only'
          nullable: true
        language_code:
          type: string
          description: 'search language codeoptional fieldif you use this field, you don''t need to specify language_name;you can receive the list of available languages of the search engine with their language_code_by making a separate request to the https://api.dataforseo.com/v3/ai_optimization/llm_mentions/locations_and_languagesdefault value: enNote: chat_gpt data is available for en onlyn'
          nullable: true
        platform:
          type: string
          description: 'target platformoptional fieldpossible values:chat_gpt, googledefault value: googleNote: the data returned depends on the selected platformNote #2:chat_gpt data is available for the United States and English only'
          nullable: true
        filters:
          type: array
          items:
            type: object
            nullable: true
          description: array of results filtering parametersoptional fieldyou can add several filters at once (8 filters maximum)you should set a logical operator and, or between the conditionsthe following operators are supported:=, <>, in, not_in, like, not_like, ilike, not_ilike, match, not_matchyou can use the % operator with like and not_like to match any string of zero or more charactersexample:["ai_search_volume",">","1000"]The full list of possible filters is available here.
          nullable: true
        order_by:
          type: array
          items:
            type: string
          description: results sorting rulesoptional fieldyou can use the same values as in the filters array to sort the resultspossible sorting types:asc - results will be sorted in the ascending orderdesc - results will be sorted in the descending orderyou should use a comma to set up a sorting typeexample:["ai_search_volume,desc"]note that you can set no more than three sorting rules in a single requestyou should use a comma to separate several sorting rules
          nullable: true
        offset:
          type: integer
          description: 'offset in the results array of the returned mentions dataoptional fielddefault value: 0example: if you specify the 10 value, the first ten mentions objects in the results array will be omitted and the data will be provided for the successive objects;Note: the maximum value is 9,000, use the search_after_token if you would like to offset more results'
          nullable: true
        search_after_token:
          type: string
          description: 'token for subsequent requestsoptional fieldprovided in the identical filed of the response to each request;use this parameter to avoid timeouts while trying to obtain over 20,000 results in a single request;by specifying the unique search_after_token value from the response array, you will get the subsequent results of the initial task;search_after_token values are unique for each subsequent task ;Note: if the search_after_token is specified in the request, all other parameters should be identical to the previous request'
          nullable: true
        limit:
          type: integer
          description: 'the maximum number of returned objectsoptional fielddefault value: 100maximum value: 1000'
          nullable: true
        tag:
          type: string
          description: user-defined task identifieroptional fieldthe character limit is 255you can use this parameter to identify the task and match it with the resultyou will find the specified tag value in the data object of the response
          nullable: true
      example:
      - language_name: English
        location_code: 2840
        target:
        - domain: dataforseo.com
          search_filter: exclude
        - keyword: bmw
          search_scope:
          - answer
        platform: google
        filters:
        - - ai_search_volume
          - '>'
          - 1000
        order_by:
        - ai_search_volume,desc
        offset: 0
        limit: 3
    AiOptimizationChatGptLlmResponsesLiveResultInfo:
      type: object
      properties:
        model_name:
          type: string
          description: name of the AI model used
          nullable: true
        input_tokens:
          type: integer
          description: number of tokens in the inputtotal count of tokens processed
          nullable: true
        output_tokens:
          type: integer
          description: number of tokens in the outputtotal count of tokens generated in the AI response
          nullable: true
        reasoning_tokens:
          type: integer
          description: number of reasoning tokenstotal count of tokens used to generate reasoning content
          nullable: true
        web_search:
          type: boolean
          description: indicates if web search was used
          nullable: true
        money_spent:
          type: number
          description: cost of AI tokens, USDthe price charged by the third-party AI model provider for according to its Pricing
          nullable: true
        datetime:
          type: string
          description: 'date and time when the result was receivedin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”example:2019-11-15 12:57:46 +00:00'
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/BaseAiOptimizationLlmResponseElementItem'
            nullable: true
          description: array of response itemscontains structured AI response data
          nullable: true
        fan_out_queries:
          type: array
          items:
            type: string
            nullable: true
          description: array of fan-out queriescontains related search queries derived from the main query to provide a more comprehensive response
          nullable: true
    AiOptimizationGeminiLlmScraperTaskGetHtmlResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationGeminiLlmScraperTaskGetHtmlTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AiOptimizationChatGptLlmScraperTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AiOptimizationChatGptLlmScraperLiveAdvancedResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationChatGptLlmScraperLiveAdvancedTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AiOptimizationLlmMentionsLocationsAndLanguagesResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationLlmMentionsLocationsAndLanguagesTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AiOptimizationLlmMentionsTopDomainsLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AiOptimizationLlmMentionsTopDomainsLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AiOptimizationChatGptLlmScraperTasksReadyResultInfo:
      type: object
      properties:
        id:
          type: string
          description: task identifier of the completed taskunique task identifier in our system in the UUID format
          nullable: true
        se:
          type: string
          description: search engine specified when setting the task
          nullable: true
        se_type:
          type: string
          description: 'type of search engineexample: llm_scraper'
          nullable: true
        date_posted:
          type: string
[...]
