openapi: 3.0.1
info:
  title: DataForSEO AiOptimization Appendix API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: Appendix
paths:
  /v3/appendix/user_data:
    get:
      tags:
      - Appendix
      description: 'You will receive detailed information about your API usage, prices, spending and other account details by calling this API.

        for more info please visit ''https://docs.dataforseo.com/v3/appendix/user_data/?bash'''
      operationId: UserData
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppendixUserDataResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/appendix/errors:
    get:
      tags:
      - Appendix
      description: 'This endpoint returns a list of possible DataForSEO API errors and general status codes. Below you will find a list of HTTP response codes and internal messages. We recommend storing the data connected to error codes in your application log and designing a necessary system for handling related exceptional or error conditions.

        for more info please visit ''https://docs.dataforseo.com/v3/appendix/errors/?bash'''
      operationId: Errors
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppendixErrorsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/appendix/webhook_resend:
    post:
      tags:
      - Appendix
      description: 'Using this endpoint you can resend webhooks (pingbacks and postbacks) for up to 100 specified tasks.

        Note: Your account will not be double-charged for resending a webhook.

        for more info please visit ''https://docs.dataforseo.com/v3/appendix/webhook_resend/?bash'''
      operationId: WebhookResend
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppendixWebhookResendRequestInfo'
                nullable: true
              example:
              - id: 08161139-0001-0066-1000-06491d097ed5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppendixWebhookResendResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/appendix/status:
    get:
      tags:
      - Appendix
      description: 'By calling this API you will receive detailed information about the current status of all our APIs and endpoints. You will also get a full issue description if a problem occurs.

        for more info please visit ''https://docs.dataforseo.com/v3/appendix/status/?bash'''
      operationId: AppendixStatus
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/AppendixStatusResponseInfo'
                nullable: true
      security:
      - basicAuth: []
components:
  schemas:
    AppendixBacklinksLimitsRatesDataInfo:
      type: object
      properties:
        summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        history:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        content_duplicates:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        domain_intersection:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        backlinks:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        domain_pages:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        anchors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        referring_domains:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        page_intersection:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        referring_networks:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        bulk_ranks:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        bulk_backlinks:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        bulk_new_lost_backlinks:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        bulk_new_lost_referring_domains:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        bulk_referring_domains:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        errors:
          type: number
          format: double
          nullable: true
        domain_pages_summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        timeseries_summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        timeseries_new_lost_summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        competitors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        bulk_spam_score:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        bulk_pages_summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
    BaseResponseTaskInfo:
      properties:
        id:
          type: string
          description: 'task identifier

            unique task identifier in our system in the UUID format'
          nullable: true
        status_code:
          type: integer
          description: 'status code of the task

            generated by DataForSEO, can be within the following range: 10000-60000

            you can find the full list of the response codes here'
          nullable: true
        status_message:
          type: string
          description: 'informational message of the task

            you can find the full list of general informational messages here'
          nullable: true
        time:
          type: string
          description: execution time, seconds
          nullable: true
        cost:
          type: number
          description: total tasks cost, USD
          format: double
          nullable: true
        result_count:
          type: integer
          description: number of elements in the result array
          format: int64
          nullable: true
        path:
          type: array
          items:
            type: string
            nullable: true
          description: URL path
          nullable: true
        data:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: contains the same parameters that you specified in the POST request
          nullable: true
    AppendixJobsSerpLimitsRatesDataInfo:
      type: object
      properties:
        task_post:
          type: number
          format: double
          nullable: true
    AppendixDataforseoLabsLimitsRatesDataInfo:
      type: object
      properties:
        locations_and_languages:
          type: number
          format: double
          nullable: true
        categories:
          type: number
          format: double
          nullable: true
        errors:
          type: number
          format: double
          nullable: true
        product_competitors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        product_keyword_intersections:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        product_rank_overview:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        ranked_keywords:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        serp_competitors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        subdomains:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        relevant_pages:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        competitors_domain:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        related_keywords:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        domain_rank_overview:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        domain_intersection:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        page_intersection:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        bulk_traffic_estimation:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        bulk_keyword_difficulty:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        bulk_search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        keywords_for_site:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        keyword_suggestions:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        keyword_ideas:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        historical_search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        categories_for_domain:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        domain_metrics_by_categories:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        top_searches:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        domain_whois_overview:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        historical_rank_overview:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        keywords_for_categories:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        historical_serps:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        app_competitors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        keywords_for_app:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        app_intersection:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        bulk_app_metrics:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        search_intent:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        historical_bulk_traffic_estimation:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        categories_for_keywords:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        keyword_overview:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        historical_keyword_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
    AppendixLimitsMoneyData:
      type: object
      properties:
        day:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixDataInfo'
          nullable: true
        minute:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixDataInfo'
          nullable: true
    AppendixBingKeywordsDataPriceData:
      type: object
      properties:
        audience_estimation:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        keyword_performance:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        keywords_for_keywords:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        keywords_for_site:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        keyword_suggestions_for_url:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
    AppendixBusinessDataLimitsRatesDataInfo:
      type: object
      properties:
        google:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBusinessDataGoogleInfo'
          nullable: true
        locations:
          type: number
          format: double
          nullable: true
        languages:
          type: number
          format: double
          nullable: true
        errors:
          type: number
          format: double
          nullable: true
        yelp:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBusinessDataDayLimitsRatesDataInfo'
          nullable: true
        social_media:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSocialMediaBusinessDataLimitsRatesDataInfo'
          nullable: true
        tripadvisor:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBusinessDataDayLimitsRatesDataInfo'
          nullable: true
        trustpilot:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBusinessDataDayLimitsRatesDataInfo'
          nullable: true
        business_listings:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBusinessListingsBusinessDataLimitsRatesDataInfo'
          nullable: true
        tasks_ready:
          type: number
          format: double
          nullable: true
    AppendixSerpDataInfo:
      type: object
      properties:
        task_post:
          type: number
          format: double
          nullable: true
        task_get:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixFunctionTypeInfo'
          nullable: true
        tasks_ready:
          type: number
          format: double
          nullable: true
        locations:
          type: number
          format: double
          nullable: true
        languages:
          type: number
          format: double
          nullable: true
        live:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixFunctionTypeInfo'
          nullable: true
        errors:
          type: number
          format: double
          nullable: true
        tasks_fixed:
          type: number
          format: double
          nullable: true
        jobs:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixJobsSerpLimitsRatesDataInfo'
          nullable: true
        screenshot:
          type: number
          format: double
          nullable: true
        tasks_ready_queue:
          type: number
          format: double
          nullable: true
    AppendixContentGenerationLimitsRatesDataInfo:
      type: object
      properties:
        generate:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        generate_meta_tags:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        generate_text:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        paraphrase:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        check_grammar:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixContentGenerationDayLimitsRatesDataInfo'
          nullable: true
        text_summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixContentGenerationDayLimitsRatesDataInfo'
          nullable: true
        generate_sub_topics:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
    AppendixStatusResultInfo:
      type: object
      properties:
        api:
          type: string
          description: 'name of the API

            the list of APIs:

            serp

            keywords_data

            appendix

            dataforseo_labs

            domain_analytics

            merchant

            on_page

            business_data

            backlinks

            app_data

            content_analysis

            content_generation'
          nullable: true
        status:
          type: string
          description: 'current status

            you can find all information about the statuses of our endpoints for the last 60 days here

            the list of possible current statuses:

            major_outage

            partial_outage

            long_response_time

            long_execution_time

            webhook_delay

            send_delay'
          nullable: true
        endpoints:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AppendixStatusEndpointsInfo'
            nullable: true
          description: array of objects that contain status information for API endpoints
          nullable: true
    AppendixAppendixDaysRatesDataInfo:
      type: object
      properties:
        user_data:
          type: number
          format: double
          nullable: true
        errors:
          type: number
          format: double
          nullable: true
    AppendixContentAnalysisLimitsRatesDataInfo:
      type: object
      properties:
        search:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        sentiment_analysis:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        rating_distribution:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        phrase_trends:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        category_trends:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        locations:
          type: number
          format: double
          nullable: true
        languages:
          type: number
          format: double
          nullable: true
        categories:
          type: number
          format: double
          nullable: true
        errors:
          type: number
          format: double
          nullable: true
    AppendixAppDataPriceData:
      type: object
      properties:
        app_info:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixProductGoogleMerchantPriceDataInfo'
          nullable: true
        app_listings:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAppListingsAppDataPriceData'
          nullable: true
        app_list:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixProductGoogleMerchantPriceDataInfo'
          nullable: true
        app_reviews:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixPriceDataInfo'
          nullable: true
        app_searches:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixProductGoogleMerchantPriceDataInfo'
          nullable: true
        categories:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        errors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        languages:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        locations:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        tasks_ready:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixBusinessListingsBusinessDataPriceData:
      type: object
      properties:
        categories:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        categories_aggregation:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        locations:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        search:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
    AppendixDataInfo:
      type: object
      properties:
        serp:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDataInfo'
          nullable: true
        total:
          type: number
          description: total amount of money deposited to your account
          format: double
          nullable: true
        total_serp:
          type: number
          format: double
          nullable: true
        keywords_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixKeywordsDataDataInfo'
          nullable: true
        total_keywords_data:
          type: number
          format: double
          nullable: true
        appendix:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAppendixDataInfo'
          nullable: true
        total_appendix:
          type: number
          format: double
          nullable: true
        dataforseo_labs:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixDataforseoLabsLimitsRatesDataInfo'
          nullable: true
        total_dataforseo_labs:
          type: number
          format: double
          nullable: true
        domain_analytics:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixDomainAnalyticsLimitsRatesDataInfo'
          nullable: true
        total_domain_analytics:
          type: number
          format: double
          nullable: true
        merchant:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixMerchantLimitsRatesDataInfo'
          nullable: true
        total_merchant:
          type: number
          format: double
          nullable: true
        on_page:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixOnPageLimitsRatesDataInfo'
          nullable: true
        total_on_page:
          type: number
          format: double
          nullable: true
        business_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBusinessDataLimitsRatesDataInfo'
          nullable: true
        total_business_data:
          type: number
          format: double
          nullable: true
        backlinks:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBacklinksLimitsRatesDataInfo'
          nullable: true
        total_backlinks:
          type: number
          format: double
          nullable: true
        app_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAppDataLimitsRatesDataInfo'
          nullable: true
        total_app_data:
          type: number
          format: double
          nullable: true
        content_analysis:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixContentAnalysisLimitsRatesDataInfo'
          nullable: true
        total_content_analysis:
          type: number
          format: double
          nullable: true
        content_generation:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixContentGenerationLimitsRatesDataInfo'
          nullable: true
        total_content_generation:
          type: number
          format: double
          nullable: true
        total_traffic_analytics:
          type: number
          format: double
          nullable: true
        traffic_analytics:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDaysRatesDataInfo'
          nullable: true
        total_reviews:
          type: number
          format: double
          nullable: true
        reviews:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDaysRatesDataInfo'
          nullable: true
        total_social:
          type: number
          format: double
          nullable: true
        social:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDaysRatesDataInfo'
          nullable: true
    AppendixInfo:
      type: object
      properties:
        task_post:
          type: number
          format: double
        task_get:
          type: number
          format: double
        tasks_ready:
          type: number
          format: double
        live:
          type: number
          format: double
    AppendixSerpDaysRatesDataInfo:
      type: object
      properties:
        task_post:
          type: number
          format: double
          nullable: true
        task_get:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixFunctionTypeInfo'
          nullable: true
        tasks_ready:
          type: number
          format: double
          nullable: true
        locations:
          type: number
          format: double
          nullable: true
        languages:
          type: number
          format: double
          nullable: true
        live:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixFunctionTypeInfo'
          properties:
            regular:
              type: number
              format: double
            advanced:
              type: number
              format: double
            html:
              type: number
              format: double
          nullable: true
        errors:
          type: number
          format: double
          nullable: true
        tasks_fixed:
          type: number
          format: double
          nullable: true
        jobs:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixJobsSerpLimitsRatesDataInfo'
          nullable: true
        screenshot:
          type: number
          format: double
          nullable: true
    AppendixGoogleAdsKeywordsDataLimitsRatesDataInfo:
      type: object
      properties:
        status:
          type: number
          format: double
          nullable: true
        search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        keywords_for_keywords:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        keywords_for_site:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        ad_traffic_by_keywords:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
    AppendixAppDataLimitsRatesDataInfo:
      type: object
      properties:
        app_info:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDaysRatesDataInfo'
          nullable: true
        app_list:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDaysRatesDataInfo'
          nullable: true
        app_reviews:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDaysRatesDataInfo'
          nullable: true
        app_searches:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDaysRatesDataInfo'
          nullable: true
        errors:
          type: number
          format: double
          nullable: true
        languages:
          type: number
          format: double
          nullable: true
        locations:
          type: number
          format: double
          nullable: true
        categories:
          type: number
          format: double
          nullable: true
        app_listings:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBusinessListingsBusinessDataLimitsRatesDataInfo'
          nullable: true
        tasks_ready:
          type: number
          format: double
          nullable: true
    AppendixTaskGetProductGoogleMerchantPriceDataInfo:
      type: object
      properties:
        advanced:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        html:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixOnPagePriceData:
      type: object
      properties:
        errors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        lighthouse:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixGoogleBusinessDataPriceDataInfo'
          nullable: true
        content_parsing:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        content_parsing_live:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        duplicate_content:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        duplicate_tags:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        instant_pages:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        keyword_density:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        links:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        non_indexable:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        pages:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        pages_by_resource:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        page_screenshot:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        raw_html:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        redirect_chains:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        resources:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        task_post:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        tasks_ready:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        waterfall:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixOnPageLimitsRatesDataInfo:
      type: object
      properties:
        task_post:
          type: number
          format: double
          nullable: true
        tasks_ready:
          type: number
          format: double
          nullable: true
        summary:
          type: number
          format: double
          nullable: true
        resources:
          type: number
          format: double
          nullable: true
        pages:
          type: number
          format: double
          nullable: true
        non_indexable:
          type: number
          format: double
          nullable: true
        duplicate_tags:
          type: number
          format: double
          nullable: true
        links:
          type: number
          format: double
          nullable: true
        waterfall:
          type: number
          format: double
          nullable: true
        errors:
          type: number
          format: double
          nullable: true
        pages_by_resource:
          type: number
          format: double
          nullable: true
        duplicate_content:
          type: number
          format: double
          nullable: true
        raw_html:
          type: number
          format: double
          nullable: true
        instant_pages:
          type: number
          format: double
          nullable: true
        redirect_chains:
          type: number
          format: double
          nullable: true
        lighthouse:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        keyword_density:
          type: number
          format: double
          nullable: true
        page_screenshot:
          type: number
          format: double
          nullable: true
        content_parsing:
          type: number
          format: double
          nullable: true
        content_parsing_live:
          type: number
          format: double
          nullable: true
    AppendixTaskGetPriceDataInfo:
      type: object
      properties:
        advanced:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixWebhookResendResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppendixWebhookResendTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppendixBacklinksPriceData:
      type: object
      properties:
        anchors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        backlinks:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        bulk_backlinks:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        bulk_new_lost_backlinks:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        bulk_new_lost_referring_domains:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        bulk_pages_summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        bulk_ranks:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        bulk_referring_domains:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        bulk_spam_score:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        competitors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        content_duplicates:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        domain_intersection:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        domain_pages:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        domain_pages_summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        errors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        history:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        page_intersection:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        referring_domains:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        referring_networks:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        timeseries_new_lost_summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        timeseries_summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
    AppendixMerchantGoogleInfo:
      type: object
      properties:
        products:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDaysRatesDataInfo'
          nullable: true
        sellers:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSellersGoogleMerchantLimitsRatesDataInfo'
          nullable: true
        product_spec:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDaysRatesDataInfo'
          nullable: true
        product_info:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDaysRatesDataInfo'
          nullable: true
    AppendixPriorityTasksReadyKeywordsDataPriceDataInfo:
      type: object
      properties:
        cost_type:
          type: string
          description: 'charge type

            can take the following values:

            per_result – charge for every row in the result array

            per_request – charge for a GET or POST request'
          nullable: true
        cost:
          type: number
          description: cost, USD
          format: double
          nullable: true
    AppendixPriceData:
      type: object
      properties:
        keywords_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixKeywordsDataPriceData'
          nullable: true
        merchant:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixMerchantPriceData'
          nullable: true
        serp:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpPriceData'
          nullable: true
        appendix:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAppendixPriceData'
          nullable: true
        app_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAppDataPriceData'
          nullable: true
        backlinks:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBacklinksPriceData'
          nullable: true
        business_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBusinessDataPriceData'
          nullable: true
        content_analysis:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixContentAnalysisPriceData'
          nullable: true
        content_generation:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixContentGenerationPriceData'
          nullable: true
        dataforseo_labs:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixDataforseoLabsPriceData'
          nullable: true
        domain_analytics:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixDomainAnalyticsPriceData'
          nullable: true
        on_page:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixOnPagePriceData'
          nullable: true
    AppendixErrorsTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppendixErrorsResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppendixDomainAnalyticsLimitsRatesDataInfo:
      type: object
      properties:
        tasks_ready:
          type: number
          format: double
          nullable: true
        errors:
          type: number
          format: double
          nullable: true
        whois:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixWhoisDomainAnalyticsLimitsRatesDataInfo'
          nullable: true
        technologies:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTechnologiesDomainAnalyticsLimitsRatesDataInfo'
          nullable: true
    AppendixSocialMediaBusinessDataLimitsRatesDataInfo:
      type: object
      properties:
        facebook:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        pinterest:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        reddit:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
    AppendixRatesData:
      type: object
      properties:
        limits:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixLimitsRatesData'
          description: rate limits for API calls per a certain period of time
          nullable: true
        statistics:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixStatisticsDataInfo'
          description: statisctics for API calls
          nullable: true
    AppendixErrorsResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppendixErrorsTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppendixStatusEndpointsInfo:
      type: object
      properties:
        endpoint:
          type: string
          description: 'name of the endpoint

            the list of possible endpoints:

            task_get

            task_post

            live

            postback/pingback'
          nullable: true
        status:
          type: string
          description: 'current status

            you can find all information about your API statuses for the last 60 days here

            the list of possible current statuses:

            major_outage

            partial_outage

            long_response_time

            long_execution_time

            webhook_delay

            send_delay'
          nullable: true
    AppendixUserDataTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppendixUserDataResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppendixStatisticsDataInfo:
      type: object
      properties:
        day:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixStatisticsRatesDataInfo'
          nullable: true
        minute:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixStatisticsRatesDataInfo'
          nullable: true
    AppendixNaverKeywordsDataDataInfo:
      type: object
      properties:
        keywords_for_category:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
    AppendixBusinessDataDayLimitsRatesDataInfo:
      type: object
      properties:
        reviews:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        search:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
    AppendixTrBusinessDataPriceDataInfo:
      type: object
      properties:
        reviews:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixGoogleBusinessDataPriceDataInfo'
          nullable: true
        search:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixGoogleBusinessDataPriceDataInfo'
          nullable: true
    AppendixFunctionTypeInfo:
      type: object
      properties:
        regular:
          type: number
          format: double
          nullable: true
        advanced:
          type: number
          format: double
          nullable: true
        html:
          type: number
          format: double
          nullable: true
    AppendixUserDataResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppendixUserDataTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppendixSellersGoogleMerchantPriceData:
      type: object
      properties:
        ad_url:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        task_get:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskGetProductGoogleMerchantPriceDataInfo'
          nullable: true
        task_post:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        tasks_ready:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixGoogleAdsKeywordsDataPriceData:
      type: object
      properties:
        ad_traffic_by_keywords:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        keywords_for_keywords:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        keywords_for_site:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        status:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixAppendixPriceData:
      type: object
      properties:
        errors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        user_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixAppendixDataInfo:
      type: object
      properties:
        user_data:
          type: number
          format: double
          nullable: true
        errors:
          type: number
          format: double
          nullable: true
        status:
          type: number
          format: double
          nullable: true
        test:
          type: number
          format: double
          nullable: true
    AppendixGoogleBusinessDataPriceDataInfo:
      type: object
      properties:
        live:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        task_get:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        task_post:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        tasks_ready:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixGoogleMerchantPriceData:
      type: object
      properties:
        product_info:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixPriceDataInfo'
          nullable: true
        product_spec:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixProductGoogleMerchantPriceDataInfo'
          nullable: true
        products:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixProductGoogleMerchantPriceDataInfo'
          nullable: true
        sellers:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSellersGoogleMerchantPriceData'
          nullable: true
    AppendixGoogleBusinessDataPriceData:
      type: object
      properties:
        extended_reviews:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAKeywordsDataPriceDataInfo'
          nullable: true
        hotel_info:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixHotelInfoGoogleBusinessDataPriceData'
          nullable: true
        hotel_searches:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixGoogleBusinessDataPriceDataInfo'
          nullable: true
        my_business_info:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixGoogleBusinessDataPriceDataInfo'
          nullable: true
        my_business_updates:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixGoogleBusinessDataPriceDataInfo'
          nullable: true
        questions_and_answers:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixGoogleBusinessDataPriceDataInfo'
          nullable: true
        reviews:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixGoogleBusinessDataPriceDataInfo'
          nullable: true
    AppendixAKeywordsDataPriceDataInfo:
      type: object
      properties:
        task_get:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        task_post:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixStatisticsRatesDataInfo:
      type: object
      properties:
        serp:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDaysRatesDataInfo'
          nullable: true
        total:
          type: number
          description: total amount of money deposited to your account
          format: double
          nullable: true
        total_serp:
          type: number
          format: double
          nullable: true
        keywords_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixKeywordsDataDaysRatesDataInfo'
          nullable: true
        total_keywords_data:
          type: number
          format: double
          nullable: true
        appendix:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAppendixDaysRatesDataInfo'
          nullable: true
        total_appendix:
          type: number
          format: double
          nullable: true
        dataforseo_labs:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixDataforseoLabsLimitsRatesDataInfo'
          nullable: true
        total_dataforseo_labs:
          type: number
          format: double
          nullable: true
        domain_analytics:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixDomainAnalyticsLimitsRatesDataInfo'
          nullable: true
        total_domain_analytics:
          type: number
          format: double
          nullable: true
        merchant:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixMerchantLimitsRatesDataInfo'
          nullable: true
        total_merchant:
          type: number
          format: double
          nullable: true
        on_page:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixOnPageLimitsRatesDataInfo'
          nullable: true
        total_on_page:
          type: number
          format: double
          nullable: true
        business_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBusinessDataLimitsRatesDataInfo'
          nullable: true
        total_business_data:
          type: number
          format: double
          nullable: true
        backlinks:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBacklinksLimitsRatesDataInfo'
          nullable: true
        total_backlinks:
          type: number
          format: double
          nullable: true
        app_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAppDataLimitsRatesDataInfo'
          nullable: true
        total_app_data:
          type: number
          format: double
          nullable: true
        content_analysis:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixContentAnalysisLimitsRatesDataInfo'
          nullable: true
        total_content_analysis:
          type: number
          format: double
          nullable: true
        content_generation:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixContentGenerationLimitsRatesDataInfo'
          nullable: true
        total_content_generation:
          type: number
          format: double
          nullable: true
        value:
          type: string
          description: 'time period for grouping

            day in the yyyy-MM-dd format

            minute in the yyyy-MM-dd HH:mm format'
          nullable: true
    AppendixDataforseoTrendsKeywordsDataPriceData:
      type: object
      properties:
        demography:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        explore:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        merged_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        subregion_interests:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
    AppendixClickstreamDataKeywordsDataPriceData:
      type: object
      properties:
        bulk_search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        dataforseo_search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        global_search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        locations_and_languages:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixLimitsRatesData:
      type: object
      properties:
        day:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixDayLimitsRatesData'
          nullable: true
        minute:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixDataInfo'
          nullable: true
    AppendixDayLimitsRatesData:
      type: object
      properties:
        serp:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDaysRatesDataInfo'
          nullable: true
        total:
          type: number
          description: total amount of money deposited to your account
          format: double
          nullable: true
        total_serp:
          type: number
          format: double
          nullable: true
        keywords_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixKeywordsDataDaysRatesDataInfo'
          nullable: true
        total_keywords_data:
          type: number
          format: double
          nullable: true
        appendix:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAppendixDaysRatesDataInfo'
          nullable: true
        total_appendix:
          type: number
          format: double
          nullable: true
        dataforseo_labs:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixDataforseoLabsLimitsRatesDataInfo'
          nullable: true
        total_dataforseo_labs:
          type: number
          format: double
          nullable: true
        domain_analytics:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixDomainAnalyticsLimitsRatesDataInfo'
          nullable: true
        total_domain_analytics:
          type: number
          format: double
          nullable: true
        merchant:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixMerchantLimitsRatesDataInfo'
          nullable: true
        total_merchant:
          type: number
          format: double
          nullable: true
        on_page:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixOnPageLimitsRatesDataInfo'
          nullable: true
        total_on_page:
          type: number
          format: double
          nullable: true
        business_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBusinessDataLimitsRatesDataInfo'
          nullable: true
        total_business_data:
          type: number
          format: double
          nullable: true
        backlinks:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBacklinksLimitsRatesDataInfo'
          nullable: true
        total_backlinks:
          type: number
          format: double
          nullable: true
        app_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAppDataLimitsRatesDataInfo'
          nullable: true
        total_app_data:
          type: number
          format: double
          nullable: true
        content_analysis:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixContentAnalysisLimitsRatesDataInfo'
          nullable: true
        total_content_analysis:
          type: number
          format: double
          nullable: true
        content_generation:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixContentGenerationLimitsRatesDataInfo'
          nullable: true
        total_content_generation:
          type: number
          format: double
          nullable: true
        total_traffic_analytics:
          type: number
          format: double
          nullable: true
        total_reviews:
          type: number
          format: double
          nullable: true
        total_social:
          type: number
          format: double
          nullable: true
    AppendixContentAnalysisPriceData:
      type: object
      properties:
        categories:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        category_trends:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        errors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        languages:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        locations:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        phrase_trends:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        rating_distribution:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        search:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        sentiment_analysis:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
    AppendixMerchantPriceData:
      type: object
      properties:
        google:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixGoogleMerchantPriceData'
          nullable: true
        amazon:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAmazonMerchantPriceData'
          nullable: true
        errors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        languages:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        locations:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        reviews:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixProductGoogleMerchantPriceDataInfo'
          nullable: true
        tasks_ready:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixMerchantLimitsRatesDataInfo:
      type: object
      properties:
        google:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixMerchantGoogleInfo'
          nullable: true
        amazon:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixMerchantAmazonInfo'
          nullable: true
        locations:
          type: number
          format: double
          nullable: true
        languages:
          type: number
          format: double
          nullable: true
        errors:
          type: number
          format: double
          nullable: true
        reviews:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDaysRatesDataInfo'
          nullable: true
        tasks_ready:
          type: number
          format: double
          nullable: true
    AppendixKeywordsDataDaysRatesDataInfo:
      type: object
      properties:
        keywords_for_keywords:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          properties:
            task_post:
              type: number
              format: double
            task_get:
              type: number
              format: double
            tasks_ready:
              type: number
              format: double
            live:
              type: number
              format: double
          nullable: true
        keywords_for_site:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        ad_traffic_by_keywords:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        languages:
          type: number
          format: double
          nullable: true
        locations:
          type: number
          format: double
          nullable: true
        tasks_ready:
          type: number
          format: double
          nullable: true
        explore:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        categories:
          type: number
          format: double
          nullable: true
        errors:
          type: number
          format: double
          nullable: true
        bing:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataLimitsRatesDataInfo'
          nullable: true
        keyword_performance:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        locations_and_languages:
          type: number
          format: double
          nullable: true
        google_ads:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixGoogleAdsKeywordsDataLimitsRatesDataInfo'
          nullable: true
        dataforseo_trends:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixDataforseoTrendsKeywordsDataLimitsRatesDataInfo'
          nullable: true
        clickstream_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixClickstreamDataKeywordsDataLimitsRatesDataInfo'
          nullable: true
        audience_estimation:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        keyword_suggestions_for_url:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
    AppendixBusinessListingsBusinessDataLimitsRatesDataInfo:
      type: object
      properties:
        search:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        categories_aggregation:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        categories:
          type: number
          format: double
          nullable: true
        locations:
          type: number
          format: double
          nullable: true
    AppendixBusinessDataPriceData:
      type: object
      properties:
        business_listings:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBusinessListingsBusinessDataPriceData'
          nullable: true
        errors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        google:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixGoogleBusinessDataPriceData'
          nullable: true
        social_media:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSocialMediaBusinessDataPriceData'
          nullable: true
        languages:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        locations:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        tripadvisor:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTrBusinessDataPriceDataInfo'
          nullable: true
        trustpilot:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTrBusinessDataPriceDataInfo'
          nullable: true
        yelp:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTrBusinessDataPriceDataInfo'
          nullable: true
        tasks_ready:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixBingKeywordsDataLimitsRatesDataInfo:
      type: object
      properties:
        keyword_performance:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        keywords_for_site:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        keywords_for_keywords:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        audience_estimation:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        keyword_suggestions_for_url:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
    AppendixContentGenerationDayLimitsRatesDataInfo:
      type: object
      properties:
        live:
          type: number
          format: double
          nullable: true
        languages:
          type: number
          format: double
          nullable: true
    AppendixAmazonMerchantPriceData:
      type: object
      properties:
        asin:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixProductGoogleMerchantPriceDataInfo'
          nullable: true
        products:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixProductGoogleMerchantPriceDataInfo'
          nullable: true
        sellers:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixProductGoogleMerchantPriceDataInfo'
          nullable: true
    AppendixHotelInfoGoogleBusinessDataPriceData:
      type: object
      properties:
        live:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskGetProductGoogleMerchantPriceDataInfo'
          nullable: true
        task_get:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskGetProductGoogleMerchantPriceDataInfo'
          nullable: true
        task_post:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        tasks_ready:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixSerpPriceData:
      type: object
      properties:
        tasks_fixed:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        errors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        jobs:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAKeywordsDataPriceDataInfo'
          nullable: true
        languages:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        live:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpPriceDataInfo'
          nullable: true
        locations:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        screenshot:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        task_get:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpPriceDataInfo'
          nullable: true
        task_post:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        tasks_ready:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixTechnologiesDomainAnalyticsPriceData:
      type: object
      properties:
        languages:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        locations:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        technologies:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        aggregation_technologies:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        domains_by_html_terms:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        domains_by_technology:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        domain_technologies:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        technologies_summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        technology_stats:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
    AppendixTaskKeywordsDataPriceDataInfo:
      type: object
      properties:
        priority_low:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AppendixPriorityTasksReadyKeywordsDataPriceDataInfo'
            nullable: true
          nullable: true
        priority_normal:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AppendixPriorityTasksReadyKeywordsDataPriceDataInfo'
            nullable: true
          nullable: true
        priority_high:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AppendixPriorityTasksReadyKeywordsDataPriceDataInfo'
            nullable: true
          nullable: true
    AppendixStatusTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppendixStatusResultInfo'
              nullable: true
            description: array of results
            nullable: true
    AppendixBingKeywordsDataPriceDataInfo:
      type: object
      properties:
        live:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixProductGoogleMerchantPriceDataInfo:
      type: object
      properties:
        task_get:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskGetProductGoogleMerchantPriceDataInfo'
          nullable: true
        task_post:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        tasks_ready:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixTechnologiesDomainAnalyticsLimitsRatesDataInfo:
      type: object
      properties:
        domain_technologies:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        domains_by_technology:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        languages:
          type: number
          format: double
          nullable: true
        locations:
          type: number
          format: double
          nullable: true
        technologies:
          type: number
          format: double
          nullable: true
        aggregation_technologies:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        technologies_summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        domains_by_html_terms:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        technology_stats:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
    AppendixClickstreamDataKeywordsDataLimitsRatesDataInfo:
      type: object
      properties:
        dataforseo_search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        locations_and_languages:
          type: number
          format: double
          nullable: true
        bulk_search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        global_search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
    AppendixBusinessDataGoogleInfo:
      type: object
      properties:
        my_business_info:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        my_business_updates:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        hotel_info:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDaysRatesDataInfo'
          nullable: true
        hotel_searches:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        reviews:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        questions_and_answers:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        extended_reviews:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
    AppendixErrorsResultInfo:
      type: object
      properties:
        code:
          type: integer
          description: code
          nullable: true
        message:
          type: string
          description: message
          nullable: true
    AppendixSocialMediaBusinessDataPriceData:
      type: object
      properties:
        facebook:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        pinterest:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        reddit:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
    AppendixDomainAnalyticsPriceData:
      type: object
      properties:
        whois:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixWhoisDomainAnalyticsPriceData'
          nullable: true
        technologies:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTechnologiesDomainAnalyticsPriceData'
          nullable: true
        errors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        tasks_ready:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixWebhookResendTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: object
            description: 'array of results

              the value of this array is always null;

              you can get the results by the preferred method of results delivery (pingback or postback) you specified when setting a task'
            nullable: true
    AppendixKeywordsDataPriceData:
      type: object
      properties:
        tasks_ready:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        ad_traffic_by_keywords:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAKeywordsDataPriceDataInfo'
          nullable: true
        audience_estimation:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAKeywordsDataPriceDataInfo'
          nullable: true
        bing:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceData'
          nullable: true
        categories:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        clickstream_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixClickstreamDataKeywordsDataPriceData'
          nullable: true
        errors:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        google_ads:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixGoogleAdsKeywordsDataPriceData'
          nullable: true
        keyword_performance:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAKeywordsDataPriceDataInfo'
          nullable: true
        keywords_for_keywords:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAKeywordsDataPriceDataInfo'
          nullable: true
        keywords_for_site:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAKeywordsDataPriceDataInfo'
          nullable: true
        keyword_suggestions_for_url:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAKeywordsDataPriceDataInfo'
          nullable: true
        languages:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        locations:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        locations_and_languages:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixAKeywordsDataPriceDataInfo'
          nullable: true
        dataforseo_trends:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixDataforseoTrendsKeywordsDataPriceData'
          nullable: true
        explore:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixExploreKeywordsDataPriceData'
          nullable: true
    AppendixWhoisDomainAnalyticsPriceData:
      type: object
      properties:
        overview:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
    AppendixAppListingsAppDataPriceData:
      type: object
      properties:
        categories_aggregation:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        search:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
    AppendixContentGenerationPriceData:
      type: object
      properties:
        check_grammar:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixContentGenerationPriceDataInfo'
          nullable: true
        generate:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        generate_meta_tags:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        generate_sub_topics:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        generate_text:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        paraphrase:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataPriceDataInfo'
          nullable: true
        text_summary:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixContentGenerationPriceDataInfo'
          nullable: true
    AppendixMoneyData:
      type: object
      properties:
        total:
          type: number
          description: total amount of money deposited to your account
          format: double
          nullable: true
        balance:
          type: number
          description: amount of money left in your account
          format: double
          nullable: true
        limits:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixLimitsMoneyData'
          description: cost limits
          nullable: true
        statistics:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixStatisticsDataInfo'
          description: statistics of your spending
          nullable: true
    AppendixStatusResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/AppendixStatusTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppendixSellersGoogleMerchantLimitsRatesDataInfo:
      type: object
      properties:
        task_post:
          type: number
          format: double
          nullable: true
        tasks_ready:
          type: number
          format: double
          nullable: true
        task_get:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixFunctionTypeInfo'
          nullable: true
        ad_url:
          type: number
          format: double
          nullable: true
    AppendixContentGenerationPriceDataInfo:
      type: object
      properties:
        live:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
        languages:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
          nullable: true
    AppendixWhoisDomainAnalyticsLimitsRatesDataInfo:
      type: object
      properties:
        overview:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
    AppendixKeywordsDataDataInfo:
      type: object
      properties:
        keywords_for_keywords:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        keywords_for_site:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        search_volume:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        ad_traffic_by_keywords:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        languages:
          type: number
          format: double
          nullable: true
        locations:
          type: number
          format: double
          nullable: true
        tasks_ready:
          type: number
          format: double
          nullable: true
        explore:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        categories:
          type: number
          format: double
          nullable: true
        errors:
          type: number
          format: double
          nullable: true
        bing:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataLimitsRatesDataInfo'
          nullable: true
        keyword_performance:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        locations_and_languages:
          type: number
          format: double
          nullable: true
        google_ads:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixGoogleAdsKeywordsDataLimitsRatesDataInfo'
          nullable: true
        dataforseo_trends:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixDataforseoTrendsKeywordsDataLimitsRatesDataInfo'
          nullable: true
        clickstream_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixClickstreamDataKeywordsDataLimitsRatesDataInfo'
          nullable: true
        audience_estimation:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        keyword_suggestions_for_url:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixInfo'
          nullable: true
        naver:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixNaverKeywordsDataDataInfo'
          nullable: true
        google:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixBingKeywordsDataLimitsRatesDataInfo'
          nullable: true
        keyword_ideas_ads_api:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixSerpDaysRatesDataInfo'
          nullable: true
    AppendixPriceDataInfo:
      type: object
      properties:
        task_get:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskGetPriceDataInfo'
          nullable: true
        tasks_ready:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppendixTaskKeywordsDataPriceDataInfo'
[...]
