openapi: 3.0.1
info:
  title: DataForSEO AiOptimization DataforseoLabs API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With DataForSEO you can get all the data you need to build an efficient application while also saving your time and budget. DataForSEO API is using the REST technology for interchanging data between your application and our service. The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
tags:
- name: DataforseoLabs
paths:
  /v3/dataforseo_labs/id_list:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint is designed to provide you with a list of IDs and metadata for all DataForSEO Labs tasks created within the specified time period, including both successful and uncompleted tasks.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/id_list/?bash'''
      operationId: DataforseoLabsIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsIdListRequestInfo'
                nullable: true
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsIdListResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/status:
    get:
      tags:
      - DataforseoLabs
      description: 'By calling this endpoint, you will find out when the DataForSEO Labs data was last updated. The API response will provide separate update dates for the Google, Bing, and Amazon endpoints of DataForSEO Labs API.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/status/?bash'''
      operationId: Status
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsStatusResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/errors:
    post:
      tags:
      - DataforseoLabs
      description: 'By calling this endpoint you will receive information about the DataForSEO Labs API tasks that returned an error within the past 7 days.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/errors/?bash'''
      operationId: DataforseoLabsErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsErrorsRequestInfo'
                nullable: true
              example:
              - limit: 10
                offset: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsErrorsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/available_filters:
    get:
      tags:
      - DataforseoLabs
      description: 'Here you will find all the necessary information about filters that can be used with DataForSEO Labs API endpoints.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/filters/?bash'''
      operationId: AvailableFilters
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAvailableFiltersResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/locations_and_languages:
    get:
      tags:
      - DataforseoLabs
      description: 'Using this endpoint you can get the full list of locations and languages supported in DataForSEO Labs API. Available sources currently include Google, Bing, and Amazon search engines. However, you should note that Amazon and Bing locations and languages are currently limited to the US/English.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/locations_and_languages/?bash'''
      operationId: LocationsAndLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsLocationsAndLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/categories:
    get:
      tags:
      - DataforseoLabs
      description: 'We use Google product and service categories. This endpoint will provide you with the full list of available categories.

        You can also download the CSV file by this link.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/categories_list/?bash'''
      operationId: Categories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsCategoriesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/available_history:
    get:
      tags:
      - DataforseoLabs
      description: 'By calling this endpoint, you will find obtain a list of dates available for setting in the first_date and second_date fields of the Domain Metrics by Categories endpoint.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/available_history/live/?bash'''
      operationId: GoogleAvailableHistory
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleAvailableHistoryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/keywords_for_site/live:
    post:
      tags:
      - DataforseoLabs
      description: 'The Keywords For Site endpoint will provide you with a list of keywords relevant to the target domain. Each keyword is supplied with relevant categories, search volume data for the last month, cost-per-click, competition, and search volume trend values for the past 12 months.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/keywords_for_site/live/?bash'''
      operationId: GoogleKeywordsForSiteLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordsForSiteLiveRequestInfo'
                nullable: true
              example:
              - target: apple.com
                language_code: en
                location_code: 2840
                include_serp_info: true
                include_subdomains: true
                filters:
                - serp_info.se_results_count
                - '>'
                - 0
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordsForSiteLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/related_keywords/live:
    post:
      tags:
      - DataforseoLabs
      description: 'The Related Keywords endpoint provides keywords appearing in the

          "searches related to" SERP element

        You can get up to 4680 keyword ideas by specifying the search depth. Each related keyword comes with the list of relevant product categories, search volume rate for the last month, search volume trend for the previous 12 months, as well as current cost-per-click and competition values.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/related_keywords/live/?bash'''
      operationId: GoogleRelatedKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleRelatedKeywordsLiveRequestInfo'
                nullable: true
              example:
              - keyword: phone
                language_name: English
                location_code: 2840
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleRelatedKeywordsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/keyword_suggestions/live:
    post:
      tags:
      - DataforseoLabs
      description: 'The Keyword Suggestions endpoint provides search queries that include the specified seed keyword.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/keyword_suggestions/live/?bash'''
      operationId: GoogleKeywordSuggestionsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordSuggestionsLiveRequestInfo'
                nullable: true
              example:
              - keyword: phone
                location_code: 2840
                language_code: en
                include_serp_info: true
                include_seed_keyword: true
                limit: 1
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordSuggestionsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/keyword_ideas/live:
    post:
      tags:
      - DataforseoLabs
      description: 'The Keyword Ideas endpoint provides search terms that are relevant to the product or service categories of the specified keywords. The algorithm selects the keywords which fall into the same categories as the seed keywords specified in a POST array.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/keyword_ideas/live/?bash'''
      operationId: GoogleKeywordIdeasLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordIdeasLiveRequestInfo'
                nullable: true
              example:
              - keywords:
                - phone
                - watch
                location_code: 2840
                language_code: en
                include_serp_info: true
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordIdeasLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/bulk_keyword_difficulty/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with the Keyword Difficulty metric for a maximum of 1,000 keywords in one API request. Keyword Difficulty stands for the relative difficulty of ranking in the first top-10 organic results for the related keyword. Keyword Difficulty in DataForSEO API responses indicates the chance of getting in top-10 organic results for a keyword on a logarithmic scale from 0 to 100.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/bulk_keyword_difficulty/live/?bash'''
      operationId: GoogleBulkKeywordDifficultyLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleBulkKeywordDifficultyLiveRequestInfo'
                nullable: true
              example:
              - location_code: 2840
                language_code: en
                keywords:
                - dentist new york
                - pizza brooklyn
                - car dealer los angeles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleBulkKeywordDifficultyLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/search_intent/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with search intent data for up to 1,000 keywords. For each keyword that you specify when setting a task, the API will return the keyword’s search intent and intent probability. Besides the highest probable search intent, the results will also provide you with other likely search intent(s) and their probability.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/search_intent/live/?bash'''
      operationId: GoogleSearchIntentLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleSearchIntentLiveRequestInfo'
                nullable: true
              example:
              - language_code: en
                keywords:
                - login page
                - audi a7
                - elon musk
                - milk store new york
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleSearchIntentLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/categories_for_keywords/languages:
    get:
      tags:
      - DataforseoLabs
      description: 'Using this endpoint you can get the full list of languages supported for the Google Categories for Keywords endpoint of DataForSEO Labs API.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/categories_for_keywords/languages/?bash'''
      operationId: GoogleCategoriesForKeywordsLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleCategoriesForKeywordsLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/categories_for_domain/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with Google product or service categories that include keywords the domain ranks for in search. Furthermore, you will obtain general rankings and traffic data for the keywords under a certain category.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/categories_for_domain/live/?bash'''
      operationId: GoogleCategoriesForDomainLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleCategoriesForDomainLiveRequestInfo'
                nullable: true
              example:
              - target: dataforseo.com
                language_code: en
                location_name: United States
                item_types:
                - paid
                - organic
                - featured_snippet
                - local_pack
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleCategoriesForDomainLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/categories_for_keywords/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with Google product and service categories related for each specified keyword. You can indicate a maximum of 1,000 keywords in one API request.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/categories_for_keywords/live/?bash'''
      operationId: GoogleCategoriesForKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleCategoriesForKeywordsLiveRequestInfo'
                nullable: true
              example:
              - language_code: en
                keywords:
                - dentist new york
                - pizza brooklyn
                - car dealer los angeles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleCategoriesForKeywordsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/keywords_for_categories/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of keywords relevant to the specified product categories. You will get the search volume rate for the last month, search volume trend for the previous 12 months, as well as current cost-per-click and competition values for each keyword.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/keywords_for_categories/live/?bash'''
      operationId: GoogleKeywordsForCategoriesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordsForCategoriesLiveRequestInfo'
                nullable: true
              example:
              - category_codes:
                - 12191
                - 12193
                language_name: English
                location_code: 2840
                include_serp_info: true
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordsForCategoriesLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/domain_metrics_by_categories/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with dynamics of change in metrics of domains relevant to the specified product and service categories. You will receive historical ranking data from Google SERPs, along with valuable current and historical domain metrics, such as ETV, impressions ETV, estimated paid traffic cost, the total count of SERPs that contain domains, and more.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/domain_metrics_by_categories/live/?bash'''
      operationId: GoogleDomainMetricsByCategoriesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleDomainMetricsByCategoriesLiveRequestInfo'
                nullable: true
              example:
              - location_code: 2840
                language_code: en
                category_codes:
                - 13418
                - 11494
                first_date: '2026-01-15'
                second_date: '2026-03-15'
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleDomainMetricsByCategoriesLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/top_searches/live:
    post:
      tags:
      - DataforseoLabs
      description: 'The Top Searches endpoint of DataForSEO Labs API can provide you with over 7 billion keywords from the DataForSEO Keyword Database. Each keyword in the API response is provided with a set of relevant keyword data with Google Ads metrics, product categories, and Google SERP data.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/top_searches/live/?bash'''
      operationId: GoogleTopSearchesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleTopSearchesLiveRequestInfo'
                nullable: true
              example:
              - language_name: English
                location_code: 2840
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleTopSearchesLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/ranked_keywords/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with the list of keywords that any domain or webpage is ranking for. You will also get SERP elements related to the keyword position, as well as monthly searches and other data relevant to the returned keywords.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/ranked_keywords/live/?bash'''
      operationId: GoogleRankedKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleRankedKeywordsLiveRequestInfo'
                nullable: true
              example:
              - target: dataforseo.com
                language_name: English
                location_name: United States
                load_rank_absolute: true
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleRankedKeywordsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/serp_competitors/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of domains ranking for the keywords you specify. You will also get SERP rankings, rating, estimated traffic volume, and visibility values the provided domains gain from the specified keywords.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/serp_competitors/live/?bash'''
      operationId: GoogleSerpCompetitorsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleSerpCompetitorsLiveRequestInfo'
                nullable: true
              example:
              - keywords:
                - phone
                language_name: English
                location_code: 2840
                item_types:
                - organic
                limit: 5
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleSerpCompetitorsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/competitors_domain/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a full overview of ranking and traffic data of the competitor domains from organic and paid search. In addition to that, you will get the metrics specific to the keywords both competitor domains and your domain rank for within the same SERP.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/competitors_domain/live/?bash'''
      operationId: GoogleCompetitorsDomainLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleCompetitorsDomainLiveRequestInfo'
                nullable: true
              example:
              - target: newmouth.com
                intersecting_domains:
                - dentaly.org
                - health.com
                - trysnow.com
                language_name: English
                location_code: 2840
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleCompetitorsDomainLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/domain_intersection/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with the keywords for which both specified domains rank within the same SERP. You will get search volume, competition, cost-per-click and other data on each intersecting keyword. Along with that, you will get data on the first and second domain’s SERP element discovered for this keyword, as well as the estimated traffic volume and cost of ad traffic. Domain Intersection endpoint supports organic, paid, local pack, and featured snippet results.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/domain_intersection/live/?bash'''
      operationId: GoogleDomainIntersectionLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleDomainIntersectionLiveRequestInfo'
                nullable: true
              example:
              - target1: mom.com
                target2: quora.com
                language_code: en
                location_code: 2840
                include_serp_info: true
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleDomainIntersectionLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/subdomains/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of subdomains of the specified domain, along with the ranking distribution across organic and paid search. In addition to that, you will also get the estimated traffic volume of subdomains based on search volume and impressions.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/subdomains/live/?bash'''
      operationId: GoogleSubdomainsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleSubdomainsLiveRequestInfo'
                nullable: true
              example:
              - target: dataforseo.com
                language_name: English
                location_code: 2840
                filters:
                - - metrics.organic.pos_1
                  - <>
                  - 0
                - or
                - - metrics.organic.pos_2_3
                  - <>
                  - 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleSubdomainsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/relevant_pages/live:
    post:
      tags:
      - DataforseoLabs
      description: for more info please visit 'https://docs.dataforseo.com/v3/dataforseo_labs/google/relevant_pages/live/?bash'
      operationId: GoogleRelevantPagesLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleRelevantPagesLiveRequestInfo'
                nullable: true
              example:
              - target: amazon.com
                language_name: English
                location_code: 2840
                filters:
                - - metrics.organic.pos_1
                  - <>
                  - 0
                - or
                - - metrics.organic.pos_2_3
                  - <>
                  - 0
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleRelevantPagesLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/domain_rank_overview/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with ranking and traffic data from organic and paid search for the specified domain. You will be able to review the domain ranking distribution in SERPs as well as estimated monthly traffic volume for both organic and paid results.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/domain_rank_overview/live/?bash'''
      operationId: GoogleDomainRankOverviewLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleDomainRankOverviewLiveRequestInfo'
                nullable: true
              example:
              - target: dataforseo.com
                language_name: English
                location_code: 2840
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleDomainRankOverviewLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/historical_serps/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with Google SERPs collected within the specified time frame. You will also receive a complete overview of featured snippets and other extra elements that were present within the specified dates. The data will allow you to analyze the dynamics of keyword rankings over time for the specified keyword and location.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/historical_serps/live/?bash'''
      operationId: GoogleHistoricalSerpsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalSerpsLiveRequestInfo'
                nullable: true
              example:
              - keyword: albert einstein
                location_code: 2840
                language_code: en
                date_from: '2026-01-15'
                date_to: '2026-03-15'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalSerpsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/historical_rank_overview/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with historical data on rankings and traffic of the specified domain, such as domain ranking distribution in SERPs and estimated monthly traffic volume for both organic and paid results.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/historical_rank_overview/live/?bash'''
      operationId: GoogleHistoricalRankOverviewLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalRankOverviewLiveRequestInfo'
                nullable: true
              example:
              - target: dataforseo.com
                location_code: 2840
                language_code: en
                date_from: '2026-01-15'
                date_to: '2026-03-15'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalRankOverviewLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/page_intersection/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with the keywords for which specified pages rank within the same SERP. You will get search volume, competition, cost-per-click data on each intersecting keyword. Along with that, you will get data on SERP elements that specified pages rank for in search results, as well as the estimated traffic volume and cost of ad traffic. Page Intersection endpoint supports organic, paid, local pack and featured snippet results.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/page_intersection/live/?bash'''
      operationId: GooglePageIntersectionLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGooglePageIntersectionLiveRequestInfo'
                nullable: true
              example:
              - pages:
                  '1': https://forbes.com
                  '2': https://cnn.com/*
                language_name: English
                location_code: 2840
                include_serp_info: true
                limit: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGooglePageIntersectionLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/bulk_traffic_estimation/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with estimated monthly traffic volumes for up to 1,000 domains, subdomains, or webpages. Along with organic search traffic estimations, you will also get separate values for paid search, featured snippet, and local pack results.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/bulk_traffic_estimation/live/?bash'''
      operationId: GoogleBulkTrafficEstimationLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleBulkTrafficEstimationLiveRequestInfo'
                nullable: true
              example:
              - targets:
                - dataforseo.com
                - cnn.com
                - forbes.com
                location_code: 2840
                language_code: en
                item_types:
                - organic
                - paid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleBulkTrafficEstimationLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/historical_bulk_traffic_estimation/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with historical monthly traffic volumes for up to 1,000 domains collected within the specified time range through October 2020. If you do not specify the range, data will be returned for the previous 12 months. Along with organic search traffic estimations, you will also get separate values for paid search, featured snippet, and local pack results.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/historical_bulk_traffic_estimation/live/?bash'''
      operationId: GoogleHistoricalBulkTrafficEstimationLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalBulkTrafficEstimationLiveRequestInfo'
                nullable: true
              example:
              - targets:
                - dataforseo.com
                - cnn.com
                - forbes.com
                location_code: 2840
                language_code: en
                date_from: '2026-01-15'
                date_to: '2026-03-15'
                item_types:
                - organic
                - paid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalBulkTrafficEstimationLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/historical_keyword_data/live:
    post:
      tags:
      - DataforseoLabs
      description: ' 

        This endpoint provides Google historical keyword data for specified keywords, including search volume, cost-per-click, competition values for paid search, monthly searches, and search volume trends. You can get historical keyword  data since August, 2021, depending on keywords along with location and language combination. You can find the list of supported locations and languages here.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/historical_keyword_data/live/?bash'''
      operationId: GoogleHistoricalKeywordDataLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalKeywordDataLiveRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                keywords:
                - iphone
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalKeywordDataLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/keyword_overview/live:
    post:
      tags:
      - DataforseoLabs
      description: ' 

        This endpoint provides Google keyword data for specified keywords. For each keyword, you will receive current cost-per-click, competition values for paid search, search volume, search intent, monthly searches, as well as SERP and backlink information. Additionally, you can obtain clickstream data, such as clickstream search volume, by specifying the include_clickstream_data parameter.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/keyword_overview/live/?bash'''
      operationId: GoogleKeywordOverviewLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordOverviewLiveRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                include_clickstream_data: true
                include_serp_info: true
                keywords:
                - iphone
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordOverviewLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/amazon/bulk_search_volume/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with search volume values for a maximum of 1,000 keywords in one API request. Here search volume represents the approximate number of monthly searches for a keyword on Amazon. The returned results are specific to the keywords, location, and language parameters specified in a POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/amazon/bulk_search_volume/live/?bash'''
      operationId: AmazonBulkSearchVolumeLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonBulkSearchVolumeLiveRequestInfo'
                nullable: true
              example:
              - keywords:
                - buy laptop
                - cheap laptops for sale
                - purchase laptop
                location_code: 2840
                language_code: en
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonBulkSearchVolumeLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/amazon/related_keywords/live:
    post:
      tags:
      - DataforseoLabs
      description: 'The Related Keywords endpoint provides keywords appearing in the

          "Related Searches" section on Amazon.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/amazon/related_keywords/live/?bash'''
      operationId: AmazonRelatedKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonRelatedKeywordsLiveRequestInfo'
                nullable: true
              example:
              - keyword: computer mouse
                language_name: English
                location_code: 2840
                limit: 5
                include_seed_keyword: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonRelatedKeywordsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/amazon/ranked_keywords/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of keywords the target product ranks for on Amazon. The returned results are specific to the asin specified in a POST request. Learn more about ASIN in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/amazon/ranked_keywords/live/?bash'''
      operationId: AmazonRankedKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonRankedKeywordsLiveRequestInfo'
                nullable: true
              example:
              - asin: B00R92CL5E
                location_code: 2840
                language_code: en
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonRankedKeywordsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/amazon/product_rank_overview/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with ranking data from organic and paid Amazon SERPs for the target products. The returned results are specific to the asins specified in a POST request. Learn more about ASIN in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/amazon/product_rank_overview/live/?bash'''
      operationId: AmazonProductRankOverviewLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonProductRankOverviewLiveRequestInfo'
                nullable: true
              example:
              - asins:
                - B001TJ3HUG
                - B01LW2SL7R
                language_name: English
                location_code: 2840
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonProductRankOverviewLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/amazon/product_competitors/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of products that intersect with a target asin in Amazon SERPs. The data can help you identify product competitors for any listing published on Amazon. The returned results are specific to the asin as well as the location and language parameters specified in a POST request.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/amazon/product_competitors/live/?bash'''
      operationId: AmazonProductCompetitorsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonProductCompetitorsLiveRequestInfo'
                nullable: true
              example:
              - asin: 019005476X
                location_code: 2840
                language_code: en
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonProductCompetitorsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/amazon/product_keyword_intersections/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of keywords for which the target products intersect in Amazon SERP. The returned results are specific to the asins specified in a POST request. Learn more about ASIN in this help center article.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/amazon/product_keyword_intersections/live/?bash'''
      operationId: AmazonProductKeywordIntersectionsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonProductKeywordIntersectionsLiveRequestInfo'
                nullable: true
              example:
              - asins:
                  '1': B09172433Z
                  '2': B07GBZ4Q68
                  '3': B07GCKQD77
                language_name: English
                location_code: 2840
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAmazonProductKeywordIntersectionsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/bulk_app_metrics/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with ranking metrics for up to 1000 Google Play applications.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/bulk_app_metrics/live/?bash'''
      operationId: GoogleBulkAppMetricsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleBulkAppMetricsLiveRequestInfo'
                nullable: true
              example:
              - app_ids:
                - org.telegram.messenger
                - com.zhiliaoapp.musically
                language_name: English
                location_code: 2840
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleBulkAppMetricsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/keywords_for_app/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of keywords for which the target app ranks on Google Play. You will obtain keyword data and discover the app’s ranking position for each returned keyword.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/keywords_for_app/live/?bash'''
      operationId: GoogleKeywordsForAppLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordsForAppLiveRequestInfo'
                nullable: true
              example:
              - app_id: org.telegram.messenger
                language_name: English
                location_code: 2840
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordsForAppLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/app_competitors/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of mobile applications that intersect with the target app for its ranking keywords on Google Play. You will obtain the IDs of competitor apps along with search volume and ranking data on competitor ranking keywords.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/app_competitors/live/?bash'''
      operationId: GoogleAppCompetitorsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleAppCompetitorsLiveRequestInfo'
                nullable: true
              example:
              - app_id: org.telegram.messenger
                language_name: English
                location_code: 2840
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleAppCompetitorsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/google/app_intersection/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of keywords for which the mobile applications specified in the app_ids object rank within the same Google Play SERP.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/google/app_intersection/live/?bash'''
      operationId: GoogleAppIntersectionLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleAppIntersectionLiveRequestInfo'
                nullable: true
              example:
              - app_ids:
                  '1': org.telegram.messenger
                  '2': com.zhiliaoapp.musically
                language_name: English
                location_code: 2840
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsGoogleAppIntersectionLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/apple/bulk_app_metrics/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with ranking metrics for up to 1000 App Store applications.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/apple/bulk_app_metrics/live/?bash'''
      operationId: AppleBulkAppMetricsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleBulkAppMetricsLiveRequestInfo'
                nullable: true
              example:
              - app_ids:
                - '686449807'
                - '382617920'
                language_name: English
                location_code: 2840
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleBulkAppMetricsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/apple/keywords_for_app/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of keywords for which the target app ranks on App Store. You will obtain keyword data and discover the app’s ranking position for each returned keyword.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/apple/keywords_for_app/live/?bash'''
      operationId: AppleKeywordsForAppLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleKeywordsForAppLiveRequestInfo'
                nullable: true
              example:
              - app_id: '686449807'
                language_name: English
                location_code: 2840
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleKeywordsForAppLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/apple/app_competitors/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of mobile applications that intersect with the target app for its ranking keywords on App Store. You will obtain the IDs of competitor apps along with search volume and ranking data on competitor ranking keywords.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/apple/app_competitors/live/?bash'''
      operationId: AppleAppCompetitorsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleAppCompetitorsLiveRequestInfo'
                nullable: true
              example:
              - app_id: '686449807'
                language_name: English
                location_code: 2840
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleAppCompetitorsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/dataforseo_labs/apple/app_intersection/live:
    post:
      tags:
      - DataforseoLabs
      description: 'This endpoint will provide you with a list of keywords for which the mobile applications specified in the app_ids object rank within the same App Store SERP.

        for more info please visit ''https://docs.dataforseo.com/v3/dataforseo_labs/apple/app_intersection/live/?bash'''
      operationId: AppleAppIntersectionLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleAppIntersectionLiveRequestInfo'
                nullable: true
              example:
              - app_ids:
                  '1': '686449807'
                  '2': '382617920'
                language_name: English
                location_code: 2840
                limit: 10
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/DataforseoLabsAppleAppIntersectionLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
components:
  schemas:
    BaseResponseTaskInfo:
      properties:
        id:
          type: string
          description: 'task identifier

            unique task identifier in our system in the UUID format'
          nullable: true
        status_code:
          type: integer
          description: 'status code of the task

            generated by DataForSEO, can be within the following range: 10000-60000

            you can find the full list of the response codes here'
          nullable: true
        status_message:
          type: string
          description: 'informational message of the task

            you can find the full list of general informational messages here'
          nullable: true
        time:
          type: string
          description: execution time, seconds
          nullable: true
        cost:
          type: number
          description: total tasks cost, USD
          format: double
          nullable: true
        result_count:
          type: integer
          description: number of elements in the result array
          format: int64
          nullable: true
        path:
          type: array
          items:
            type: string
            nullable: true
          description: URL path
          nullable: true
        data:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: contains the same parameters that you specified in the POST request
          nullable: true
    DataforseoLabsleAppCompetitorsLiveItem:
      type: object
      properties:
        se_type:
          type: string
          description: search engine type
          nullable: true
        app_id:
          type: string
          description: id of the competitor app
          nullable: true
        avg_position:
          type: number
          description: 'average position of the app in Google Play SERP

            Note: average position is calculated for intersected keywords only;

            the value for a given application may differ when combined with different target applications'
          format: float
          nullable: true
        sum_position:
          type: integer
          description: 'sum of all app positions in Google Play SERP

            Note: sum position is calculated for intersected keywords only;

            the value for a given application may differ when combined with different target applications'
          nullable: true
        intersections:
          type: integer
          description: number of intersecting keywords
          nullable: true
        competitor_metrics:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AppMetricsInfo'
          description: 'metrics for intersecting keywords

            ranking data relevant to the keywords that the provided competitor application shares with the app in a POST request;

            note: in this array ranking data is provided for the returned competitor’s app_id'
          nullable: true
        full_metrics:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AppMetricsInfo'
          description: 'metrics for all keywords of the application

            full overview of ranking data relevant to all keywords that the provided app_id is ranking for'
          nullable: true
    KeywordInfoNormalizedWithInfo:
      type: object
      properties:
        last_updated_time:
          type: string
          description: 'date and time when the dataset was updated

            in the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”

            example:

            2019-11-15 12:57:46 +00:00'
          nullable: true
        search_volume:
          type: integer
          description: current search volume rate of a keyword
          nullable: true
        is_normalized:
          type: boolean
          description: 'keyword info is normalized

            if true, values are normalized with Bing data'
          nullable: true
        monthly_searches:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/MonthlySearchesInfo'
            nullable: true
          description: 'monthly search volume rates

            array of objects with search volume rates in a certain month of a year'
          nullable: true
    DataforseoLabsGoogleAppIntersectionLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsGoogleAppIntersectionLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    DataforseoLabsGoogleBulkKeywordDifficultyLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsGoogleBulkKeywordDifficultyLiveTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    DataforseoLabsGoogleKeywordsForSiteLiveRequestInfo:
      type: object
      properties:
        target:
          type: string
          description: 'target domain

            required field

            the domain name of the target website

            the domain should be specified without https://'
        location_name:
          type: string
          description: 'full name of the location

            required field if you don’t specify location_code

            Note: it is required to specify either location_name or location_code

            you can receive the list of available locations with their location_name by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            example:

            United Kingdom'
          nullable: true
        location_code:
          type: integer
          description: 'unique location identifier

            required field if you don’t specify location_name

            Note: it is required to specify either location_name or location_code

            you can receive the list of available locations with their location_code by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            example:

            2840'
          nullable: true
        language_name:
          type: string
          description: 'full name of the language

            optional field

            if you use this field, you don’t need to specify language_code

            you can receive the list of available languages with their language_name by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            example:

            English

            Note: if omitted, results default to the language with the most keyword records in the specified location;

            refer to the available_languages.keywords field of the Locations and Languages endpoint to determine the default language'
          nullable: true
        language_code:
          type: string
          description: 'language code

            optional field

            if you use this field, you don’t need to specify language_name

            you can receive the list of available languages with their language_code by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            example:

            en

            Note: if omitted, results default to the language with the most keyword records in the specified location;

            refer to the available_languages.keywords field of the Locations and Languages endpoint to determine the default language'
          nullable: true
        include_serp_info:
          type: boolean
          description: 'include data from SERP for each keyword

            optional field

            if set to true, we will return a serp_info array containing SERP data (number of search results, relevant URL, and SERP features) for every keyword in the response

            default value: false'
          nullable: true
        include_subdomains:
          type: boolean
          description: 'indicates if the subdomains will be included in the search

            optional field

            if set to false, the subdomains will be ignored

            default value: true'
          nullable: true
        include_clickstream_data:
          type: boolean
          description: 'include or exclude data from clickstream-based metrics in the result

            optional field

            if the parameter is set to true, you will receive clickstream_keyword_info, keyword_info_normalized_with_clickstream, and keyword_info_normalized_with_bing fields in the response

            default value: false

            with this parameter enabled, you will be charged double the price for the request

            learn more about how clickstream-based metrics are calculated in this help center article'
          nullable: true
        limit:
          type: integer
          description: 'the maximum number of keywords in the results array

            optional field

            default value: 100

            maximum value: 1000'
          nullable: true
        offset:
          type: integer
          description: 'offset in the results array of returned keywords

            optional field

            default value: 0

            if you specify the 10 value, the first ten keywords in the results array will be omitted and the data will be provided for the successive keywords

            Note: we recommend using this parameter only when retrieving up to 10,000 results

            for retrieving over 10,000 results, use the offset_token instead.'
          nullable: true
        offset_token:
          type: string
          description: 'offset token for subsequent requests

            optional field

            provided in the identical filed of the response to each request;

            use this parameter to avoid timeouts while trying to obtain over 10,000 results in a single request;

            by specifying the unique offset_token value from the response array, you will get the subsequent results of the initial task;

            offset_token values are unique for each subsequent task

            Note: if the offset_token is specified in the request, all other parameters except limit will not be taken into account when processing a task.

            learn more about this parameter on our Help Center'
          nullable: true
        filters:
          type: array
          items:
            type: object
            nullable: true
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, <, <=, >, >=, =, <>, in, not_in, match, not_match, ilike, not_ilike, like, not_like

            you can use the % operator with like and not_like, as well as ilike and not_ilike to match any string of zero or more characters

            note that you can not filter the results by relevance

            example:

            ["keyword_info.search_volume",">",0]

            for more information about filters, please refer to Dataforseo Labs – Filters or this help center guide'
          nullable: true
        order_by:
          type: array
          items:
            type: string
          description: 'results sorting rules

            optional field

            you can use the same values as in the filters array to sort the results

            possible sorting types:

            asc – results will be sorted in the ascending order

            desc – results will be sorted in the descending order

            you should use a comma to set up a sorting parameter

            default rule:

            ["relevance,desc"]

            relevance is used as the default sorting rule to provide you with the closest keyword ideas. We recommend using this sorting rule to get highly-relevant search terms. Note that relevance is only our internal system identifier, so it can not be used as a filter, and you will not find this field in the result array. The relevance score is based on a similar principle as used in the Keywords For Keywords endpoint.note that you can set no more than three sorting rules in a single request

            you should use a comma to separate several sorting rules

            example:

            ["relevance,desc","keyword_info.search_volume,desc"]'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
      example:
      - target: apple.com
        language_code: en
        location_code: 2840
        include_serp_info: true
        include_subdomains: true
        filters:
        - serp_info.se_results_count
        - '>'
        - 0
        limit: 3
    DataforseoLabsGoogleKeywordOverviewLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsGoogleKeywordOverviewLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    DataforseoLabsGoogleRankedKeywordsLiveResultInfo:
      type: object
      properties:
        se_type:
          type: string
          description: search engine type
          nullable: true
        target:
          type: string
          description: target domain or webpage in a POST array
          nullable: true
        location_code:
          type: integer
          description: 'location code in a POST array

            if there is no data, then the value is null'
          nullable: true
        language_code:
          type: string
          description: 'language code in a POST array

            if there is no data, then the value is null'
          nullable: true
        total_count:
          type: integer
          description: total number of results in our database relevant to your request
          format: int64
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        metrics:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DataforseoLabsMetricsInfo'
          description: "ranking data relevant to the specified domain or webpage \nranking data is provided by the rank_group parameters that show the result’s rank considering only equivalent SERP elements"
          nullable: true
        metrics_absolute:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DataforseoLabsMetricsInfo'
          description: 'ranking data relevant to the specified domain or webpage

            ranking data is provided by the rank_absolute parameters that indicate the result’s position among all SERP elements'
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/DataforseoLabsGoogleRankedKeywordsLiveItem'
            nullable: true
          description: contains ranked keywords and related data
          nullable: true
    DataforseoLabsGoogleRelatedKeywordsLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsGoogleRelatedKeywordsLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    DataforseoLabsLocationsAndLanguagesResultInfo:
      type: object
      properties:
        location_code:
          type: integer
          description: location code
        location_name:
          type: string
          description: full name of the location
          nullable: true
        location_code_parent:
          type: integer
          description: 'the code of the superordinate location

            the value will be null as Country is the only supported location_type for this API'
          nullable: true
        country_iso_code:
          type: string
          description: ISO country code of the location
          nullable: true
        location_type:
          type: string
          description: 'location type

            possible values:

            Country'
          nullable: true
        available_languages:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/AvailableLanguages'
            nullable: true
          description: 'supported languages

            contains the languages which are supported for a specific location'
          nullable: true
    DataforseoLabsAmazonProductKeywordIntersectionsLiveRequestInfo:
      type: object
      properties:
        asins:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: 'asins of target products

            required field

            product IDs of the products for which you need to find keyword intersections;

            specify the ASINs as in the following example:

            "asins": {

            "1": "019005476X",

            "2": "0190074442"

            }

            the maximum number of ASINs you can specify in this object is 20;

            learn more about the parameter on this help center page'
          nullable: true
        location_name:
          type: string
          description: 'full name of the location

            required field if don’t specify location_code

            you can receive the list of available locations with their location_name by making a separate request to

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages;

            Note: this endpoint currently supports the US, Egypt, Saudi Arabia, and the United Arab Emirates locations only;

            example:

            United Kingdom'
          nullable: true
        location_code:
          type: integer
          description: 'location code

            required field if don’t specify location_name

            you can receive the list of available locations with their location_code by making a separate request to

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages;

            Note: this endpoint currently supports the US, Egypt, Saudi Arabia, and the United Arab Emirates locations only;

            example:

            2840'
          nullable: true
        language_name:
          type: string
          description: 'full name of the language

            required field if don’t specify language_code

            you can receive the list of available languages with their language_name by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            example:

            English'
          nullable: true
        language_code:
          type: string
          description: 'language code

            required field if don’t specify language_name

            you can receive the list of available languages with their language_code by making a separate request to the

            https://api.dataforseo.com/v3/dataforseo_labs/locations_and_languages

            example:

            en'
          nullable: true
        limit:
          type: integer
          description: 'the maximum number of products in the results array

            optional field

            default value: 100;

            maximum value: 1000'
          nullable: true
        intersection_mode:
          type: string
          description: 'mode for finding asin intersections

            optional field

            possible values: union, intersect;

            default value: intersect;

            learn more about the parameter in this help center guide'
          nullable: true
        filters:
          type: array
          items:
            type: object
            nullable: true
          description: 'array of results filtering parameters

            optional field

            you can add several filters at once (8 filters maximum)

            you should set a logical operator and, or between the conditions

            the following operators are supported:

            regex, not_regex, <, <=, >, >=, =, <>, in, not_in, ilike, not_ilike, like, not_like, match, not_match

            you can use the % operator with like and not_like, as well as ilike and not_ilike to match any string of zero or more characters

            example:

            ["avg_position","<", 10]

            for more information about filters, please refer to Dataforseo Labs – Filters or this help center guide'
          nullable: true
        order_by:
          type: array
          items:
            type: string
          description: 'results sorting rules

            optional field

            you can use the same values as in the filters array to sort the results

            possible sorting types:

            asc – results will be sorted in the ascending order

            desc – results will be sorted in the descending order

            you should use a comma to set up a sorting parameter

            example:

            ["sum_position,desc"]

            note that you can set no more than three sorting rules in a single request

            you should use a comma to separate several sorting rules

            example:

            ["intersections,desc","avg_position,asc"]

            default rule:

            ["intersections,desc"]'
          nullable: true
        offset:
          type: integer
          description: 'offset in the results array of returned keywords

            optional field

            default value: 0

            if you specify the 10 value, the first ten keywords in the results array will be omitted and the data will be provided for the successive keywords'
          nullable: true
        tag:
          type: string
          description: 'user-defined task identifier

            optional field

            the character limit is 255

            you can use this parameter to identify the task and match it with the result

            you will find the specified tag value in the data object of the response'
          nullable: true
      example:
      - asins:
          '1': B09172433Z
          '2': B07GBZ4Q68
          '3': B07GCKQD77
        language_name: English
        location_code: 2840
    DataforseoLabsAppleKeywordsForAppLiveItem:
      type: object
      properties:
        se_type:
          type: string
          description: search engine type
          nullable: true
        keyword_data:
          type: object
          oneOf:
          - $ref: '#/components/schemas/KeywordDataInfo'
          description: keyword data for the returned keyword
          nullable: true
        ranked_serp_element:
          type: object
          oneOf:
          - $ref: '#/components/schemas/AppleRankedSerpElementInfo'
          description: contains data on the domain’s SERP element found for the returned keyword
          nullable: true
    DataforseoLabsGoogleHistoricalKeywordDataLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsGoogleHistoricalKeywordDataLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    DataforseoLabsErrorsTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsErrorsResultInfo'
              nullable: true
            description: array of results
            nullable: true
    DataforseoLabsGoogleDomainRankOverviewLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsGoogleDomainRankOverviewLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    DataforseoLabsGoogleCategoriesForDomainLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsGoogleCategoriesForDomainLiveTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    DataforseoLabsGoogleSearchIntentLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsGoogleSearchIntentLiveTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    DataforseoLabsAvailableFiltersTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsAvailableFiltersResultInfo'
              nullable: true
            nullable: true
    DataforseoLabsGoogleBulkAppMetricsLiveResultInfo:
      type: object
      properties:
        se_type:
          type: string
          description: search engine type
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        total_count:
          type: integer
          description: total amount of results in our database relevant to your request
          format: int64
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/DataforseoLabsleBulkAppMetricsLiveItem'
            nullable: true
          description: contains data related to the ranking app metrics of the specified application
          nullable: true
    DataforseoLabsGooglePageIntersectionLiveResultInfo:
      type: object
      properties:
        se_type:
          type: string
          description: search engine type
          nullable: true
        pages:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: URLs you specified a POST array
          nullable: true
        exclude_pages:
          type: array
          items:
            type: string
            nullable: true
          description: URLs you specified in a POST array that will be excluded from the results
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        total_count:
          type: integer
          description: total amount of results in our database relevant to your request
          format: int64
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/DataforseoLabsGooglePageIntersectionLiveItem'
            nullable: true
          description: contains keywords, relevant SERP elements and related data
          nullable: true
    DataforseoLabsAmazonRelatedKeywordsLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/DataforseoLabsAmazonRelatedKeywordsLiveTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    AppStoreSearchOrganic:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        rank_group:
          type: integer
          description: 'position within a group of elements with identical type values

            positions of elements with different type values are omitted from rank_group'
          nullable: true
        rank_absolute:
          type: integer
          description: 'absolute rank in SERP

            absolute position among all the elements in SERP'
          nullable: true
        position:
          type: string
          description: 'the alignment of the element in SERP

            can take the following values:

            left, right'
          nullable: true
        app_id:
          type: string
          description: id of the app
          nullable: true
        title:
          type: string
          description: title of the app
          nullable: true
        url:
          type: string
          description: URL to the app page on App Store
          nullable: true
        icon:
          type: string
          description: URL to the app icon
          nullable: true
        reviews_count:
          type: integer
          description: the total number of reviews of the app
          format: int64
          nullable: true
        rating:
          type: object
          oneOf:
          - $ref: '#/components/schemas/RatingInfo'
          description: average rating of the app
          nullable: true
        is_free:
          type: boolean
          description: indicates whether the app is free
          nullable: true
        price:
          type: object
          oneOf:
          - $ref: '#/components/schemas/PriceInfo'
          description: price of the app
          nullable: true
    PriceInfo:
      type: object
      properties:
        current:
          type: number
          description: 'current price

            indicates the current price of the product or service featured in the result'
          format: double
          nullable: true
        regular:
          type: number
          description: 'regular price

            indicates the regular price of the product or service with no discounts applied'
          format: double
          nullable: true
        max_value:
          type: number
          description: 'the maximum price

            the maximum price of the product or service as indicated in the result'
          format: double
          nullable: true
        currency:
          type: string
          description: 'currency of the listed price

            ISO code of the currency applied to the price'
          nullable: true
        is_price_range:
          type: boolean
          description: 'price is provided as a range

            indicates whether a price is provided in a range'
          nullable: true
        displayed_price:
          type: string
          description: 'price string in the result

            raw price string as provided in the result'
          nullable: true
    DataforseoLabsAppleKeywordsForAppLiveResultInfo:
      type: object
      properties:
        se_type:
          type: string
          description: search engine type
          nullable: true
        app_id:
          type: string
          description: id of the app in a POST array
          nullable: true
        location_code:
          type: integer
          description: location code in a POST array
          nullable: true
        language_code:
          type: string
          description: language code in a POST array
          nullable: true
        total_count:
          type: integer
          description: total amount of results in our database relevant to your request
          format: int64
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/DataforseoLabsAppleKeywordsForAppLiveItem'
            nullable: true
          description: contains data related to the ranking keywords for the app specified in the app_id field
          nullable: true
    DataforseoLabsCategoriesResultInfo:
      type: object
      properties:
        category_code:
          type: integer
          description: category code
          nullable: true
        category_name:
          type: string
          description: full name of the category
          nullable: true
[...]
