openapi: 3.0.1
info:
  title: DataForSEO KeywordsData API
  description: DataForSEO API is the starting point on your journey towards building powerful SEO software. With 
    DataForSEO you can get all the data you need to build an efficient application while also saving your time and 
    budget. DataForSEO API is using the REST technology for interchanging data between your application and our service.
    The data exchange is made through the widely used HTTP protocol, which allows applying our API to almost all 
    programming languages.
  version: 1.0.0
servers:
- url: https://api.dataforseo.com
- url: https://sandbox.dataforseo.com
paths:
  /v3/keywords_data/id_list:
    post:
      tags:
      - KeywordsData
      description: "This endpoint is designed to provide you with a list of IDs and metadata for all Keywords Data tasks created
        within the specified time period, including both successful and uncompleted tasks.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/id_list/?bash'"
      operationId: KeywordsDataIdList
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataIdListRequestInfo'
                nullable: true
              example:
              - datetime_from: '2026-04-12 04:39:39 +00:00'
                datetime_to: '2026-04-14 04:39:39 +00:00'
                limit: 100
                offset: 0
                sort: desc
                include_metadata: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataIdListResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/errors:
    post:
      tags:
      - KeywordsData
      description: "By calling this endpoint you will receive information about the Keywords Data API tasks that returned
        an error within the past 7 days.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/errors/?bash'"
      operationId: KeywordsDataErrors
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataErrorsRequestInfo'
                nullable: true
              example:
              - limit: 10
                offset: 0
                filtered_function: pingback_url
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataErrorsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_ads/status:
    get:
      tags:
      - KeywordsData
      description: "By calling this endpoint, you will know if Google updated keyword data for the previous month. Generally,
        Google updates keyword data in the middle of the month. So, if Google updated its data in October, you would be able
        to see the actual search volume, cost-per-click, competition, and other metrics for September. If Google didn’t update
        its data in October, the latest information would be available for August.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/status/?bash'"
      operationId: GoogleAdsStatus
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsStatusResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_ads/locations:
    get:
      tags:
      - KeywordsData
      description: "We use Google Geographical Targeting. You can refer to Google Ads Target Types page to review the full
        list of possible location types. With Keywords Data API, you can select any location type supported by Google, except
        for “Okrug”.\nPostal Codes can be used to set a task, albeit API response will not return data for such tasks.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/locations/?bash'"
      operationId: GoogleAdsLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/keywords_data/google_ads/locations/{country}':
    get:
      tags:
      - KeywordsData
      description: "We use Google Geographical Targeting. You can refer to Google Ads Target Types page to review the full
        list of possible location types. With Keywords Data API, you can select any location type supported by Google, except
        for “Okrug”.\nPostal Codes can be used to set a task, albeit API response will not return data for such tasks.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/locations/?bash'"
      operationId: GoogleAdsLocationsCountry
      parameters:
      - name: country
        in: path
        description: "country ISO code\noptional field\nspecify the ISO code if you want to filter the list of locations by
          country\nexample:\nus"
        required: true
        schema:
          type: string
          nullable: true
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsLocationsCountryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_ads/languages:
    get:
      tags:
      - KeywordsData
      description: "By calling this API you will receive the list of languages supported by Keywords Data API.\n‌\n‌‌As a
        response of the API server, you will receive JSON-encoded data containing a tasks array with the information about
        available languages.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/languages/?bash'"
      operationId: GoogleAdsLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_ads/search_volume/task_post:
    post:
      tags:
      - KeywordsData
      description: "Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced
        legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google
        Ads API.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/search_volume/task_post/?bash'"
      operationId: GoogleAdsSearchVolumeTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsSearchVolumeTaskPostRequestInfo'
                nullable: true
              example:
              - location_name: United States
                keywords:
                - buy laptop
                - cheap laptops for sale
                - purchase laptop
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsSearchVolumeTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_ads/search_volume/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: "This endpoint is designed to provide you with a list of completed tasks, which haven’t been collected
        yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed
        tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/search_volume/tasks_ready/?bash'"
      operationId: GoogleAdsSearchVolumeTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsSearchVolumeTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/keywords_data/google_ads/search_volume/task_get/{id}':
    get:
      tags:
      - KeywordsData
      description: "Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced
        legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google
        Ads API.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/search_volume/task_get/?bash'"
      operationId: GoogleAdsSearchVolumeTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsSearchVolumeTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_ads/search_volume/live:
    post:
      tags:
      - KeywordsData
      description: "Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced
        legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google
        Ads API.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/search_volume/live/?bash'"
      operationId: GoogleAdsSearchVolumeLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsSearchVolumeLiveRequestInfo'
                nullable: true
              example:
              - location_code: 2840
                keywords:
                - buy laptop
                - cheap laptops for sale
                - purchase laptop
                date_from: '2026-01-15'
                search_partners: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsSearchVolumeLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_ads/keywords_for_site/task_post:
    post:
      tags:
      - KeywordsData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_site/task_post/?bash'
      operationId: GoogleAdsKeywordsForSiteTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForSiteTaskPostRequestInfo'
                nullable: true
              example:
              - location_code: 2840
                target: dataforseo.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForSiteTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_ads/keywords_for_site/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: "This endpoint is designed to provide you with a list of completed tasks, which haven’t been collected
        yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed
        tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_site/tasks_ready/?bash'"
      operationId: GoogleAdsKeywordsForSiteTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForSiteTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/keywords_data/google_ads/keywords_for_site/task_get/{id}':
    get:
      tags:
      - KeywordsData
      description: "Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced
        legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google
        Ads API.\n‌‌\nThis endpoint will provide you with a list of keywords relevant to the specified domain along with their
        bids, search volumes for the last month, search volume trends for the last year (for estimating search volume dynamics),
        and competition levels.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_site/task_get/?bash'"
      operationId: GoogleAdsKeywordsForSiteTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForSiteTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_ads/keywords_for_site/live:
    post:
      tags:
      - KeywordsData
      description: "Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced
        legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google
        Ads API.\n‌‌\nThis endpoint will provide you with a list of keywords relevant to the specified domain along with their
        bids, search volumes for the last month, search volume trends for the last year (for estimating search volume dynamics),
        and competition levels.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_site/live/?bash'"
      operationId: GoogleAdsKeywordsForSiteLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForSiteLiveRequestInfo'
                nullable: true
              example:
              - location_code: 2840
                target: dataforseo.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForSiteLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_ads/keywords_for_keywords/task_post:
    post:
      tags:
      - KeywordsData
      description: "Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced
        legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google
        Ads API.\n‌‌\nThis endpoint will provide relevant keywords for the specified terms. Set up to 20 keywords in the keywords
        array and get keyword suggestions from Google Ads. You can get up to 20,000 keyword suggestions with all essential
        keyword data in response to one request.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_keywords/task_post/?bash'"
      operationId: GoogleAdsKeywordsForKeywordsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForKeywordsTaskPostRequestInfo'
                nullable: true
              example:
              - location_code: 2840
                keywords:
                - phone
                - cellphone
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForKeywordsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_ads/keywords_for_keywords/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: "This endpoint is designed to provide you with a list of completed tasks, which haven’t been collected
        yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed
        tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_keywords/tasks_ready/?bash'"
      operationId: GoogleAdsKeywordsForKeywordsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForKeywordsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/keywords_data/google_ads/keywords_for_keywords/task_get/{id}':
    get:
      tags:
      - KeywordsData
      description: "Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced
        legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google
        Ads API.\n‌\nThis endpoint will select relevant keywords for the specified terms. Set up to 20 keywords and get the
        results, which are suggested by Google Ads for your query.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_keywords/task_get/?bash'"
      operationId: GoogleAdsKeywordsForKeywordsTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForKeywordsTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_ads/keywords_for_keywords/live:
    post:
      tags:
      - KeywordsData
      description: "Note that Google Ads Keywords Data API is based on the latest version of the Google Ads API that has replaced
        legacy Google AdWords API. If you’re using DataForSEO Google AdWords API, you need to upgrade to DataForSEO Google
        Ads API.\n‌‌\nThis endpoint will provide relevant keywords for the specified terms. Set up to 20 keywords in the keywords
        array and get keyword suggestions from Google Ads.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/keywords_for_keywords/live/?bash'"
      operationId: GoogleAdsKeywordsForKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForKeywordsLiveRequestInfo'
                nullable: true
              example:
              - location_code: 2840
                keywords:
                - phone
                - cellphone
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForKeywordsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_ads/ad_traffic_by_keywords/task_post:
    post:
      tags:
      - KeywordsData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/keywords_data/google_ads/ad_traffic_by_keywords/task_post/?bash'
      operationId: GoogleAdsAdTrafficByKeywordsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsAdTrafficByKeywordsTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                bid: 999
                match: exact
                keywords:
                - seo marketing
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsAdTrafficByKeywordsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_ads/ad_traffic_by_keywords/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: "This endpoint is designed to provide you with a list of completed tasks, which haven’t been collected
        yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed
        tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/keywords_data/google_ads/ad_traffic_by_keywords/tasks_ready/?bash'"
      operationId: GoogleAdsAdTrafficByKeywordsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsAdTrafficByKeywordsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/keywords_data/google_ads/ad_traffic_by_keywords/task_get/{id}':
    get:
      tags:
      - KeywordsData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/keywords_data/google_ads/ad_traffic_by_keywords/task_get/?bash'
      operationId: GoogleAdsAdTrafficByKeywordsTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsAdTrafficByKeywordsTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_ads/ad_traffic_by_keywords/live:
    post:
      tags:
      - KeywordsData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/keywords_data/google_ads/ad_traffic_by_keywords/live/?bash'
      operationId: GoogleAdsAdTrafficByKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsAdTrafficByKeywordsLiveRequestInfo'
                nullable: true
              example:
              - location_code: 2840
                language_code: en
                bid: 999
                match: exact
                keywords:
                - seo marketing
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleAdsAdTrafficByKeywordsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_trends/locations:
    get:
      tags:
      - KeywordsData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/keywords_data/google_trends/locations/?bash'
      operationId: GoogleTrendsLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/keywords_data/google_trends/locations/{country}':
    get:
      tags:
      - KeywordsData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/keywords_data/google_trends/locations/?bash'
      operationId: GoogleTrendsLocationsCountry
      parameters:
      - name: country
        in: path
        description: "country ISO code\noptional field\nspecify the ISO code if you want to filter the list of locations by
          country\nexample:\nus"
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsLocationsCountryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_trends/languages:
    get:
      tags:
      - KeywordsData
      description: "By calling this API you will receive the list of languages supported by Google Trends API.\n‌\n‌‌As a
        response of the API server, you will receive JSON-encoded data containing a tasks array with the information about
        available languages.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_trends/languages/?bash'"
      operationId: GoogleTrendsLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_trends/categories:
    get:
      tags:
      - KeywordsData
      description: "By calling this API you will receive the list of categories supported by Google Trends API.\n‌\n‌‌As a
        response of the API server, you will receive JSON-encoded data containing a tasks array with the information about
        available categories.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_trends/categories/?bash'"
      operationId: GoogleTrendsCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsCategoriesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_trends/explore/task_post:
    post:
      tags:
      - KeywordsData
      description: "This endpoint will provide you with the keyword popularity data from the ‘Explore’ feature of Google Trends.
        You can check keyword trends for Google Search, Google News, Google Images, Google Shopping, and YouTube.\nfor more
        info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_trends/explore/task_post/?bash'"
      operationId: GoogleTrendsExploreTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsExploreTaskPostRequestInfo'
                nullable: true
              example:
              - date_from: '2026-01-15'
                date_to: '2026-03-15'
                type: youtube
                category_code: 3
                keywords:
                - seo api
                - rank api
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsExploreTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_trends/explore/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: "This endpoint is designed to provide you with a list of completed tasks, which haven’t been collected
        yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed
        tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/keywords_data/google_trends/explore/tasks_ready/?bash'"
      operationId: GoogleTrendsExploreTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsExploreTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/keywords_data/google_trends/explore/task_get/{id}':
    get:
      tags:
      - KeywordsData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/keywords_data/google_trends/explore/task_get/?bash'
      operationId: GoogleTrendsExploreTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsExploreTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/google_trends/explore/live:
    post:
      tags:
      - KeywordsData
      description: "This endpoint will provide you with the keyword popularity data from the ‘Explore’ feature of Google Trends.
        You can check keyword trends for Google Search, Google News, Google Images, Google Shopping, and YouTube.\nfor more
        info please visit 'https://docs.dataforseo.com/v3/keywords_data/google_trends/explore/live/?bash'"
      operationId: GoogleTrendsExploreLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsExploreLiveRequestInfo'
                nullable: true
              example:
              - location_name: United States
                date_from: '2026-01-15'
                date_to: '2026-03-15'
                type: youtube
                category_code: 3
                keywords:
                - rugby
                - cricket
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataGoogleTrendsExploreLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/dataforseo_trends/locations:
    get:
      tags:
      - KeywordsData
      description: "You will receive the list of DataForSEO Trends locations by calling this API. You can filter the list
        of locations by country when setting a task. Please note that the minimum geographic scope supported for the DataForSEO
        Trends API is country level.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/dataforseo_trends/locations/?bash'"
      operationId: DataforseoTrendsLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/keywords_data/dataforseo_trends/locations/{country}':
    get:
      tags:
      - KeywordsData
      description: "You will receive the list of DataForSEO Trends locations by calling this API. You can filter the list
        of locations by country when setting a task. Please note that the minimum geographic scope supported for the DataForSEO
        Trends API is country level.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/dataforseo_trends/locations/?bash'"
      operationId: DataforseoTrendsLocationsCountry
      parameters:
      - name: country
        in: path
        description: "country ISO code\noptional field\nspecify the ISO code if you want to filter the list of locations by
          country\nexample:\nus"
        required: true
        schema:
          type: string
        example: us
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsLocationsCountryResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/dataforseo_trends/explore/live:
    post:
      tags:
      - KeywordsData
      description: "This endpoint will provide you with the keyword popularity data from DataForSEO Trends. You can check
        keyword trends for Google Search, Google News, and Google Shopping.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/dataforseo_trends/explore/live/?bash'"
      operationId: DataforseoTrendsExploreLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsExploreLiveRequestInfo'
                nullable: true
              example:
              - keywords:
                - iphone 14
                - samsung s23
                location_code: 2840
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsExploreLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/dataforseo_trends/subregion_interests/live:
    post:
      tags:
      - KeywordsData
      description: "This endpoint will provide you with location-specific keyword popularity data from DataForSEO Trends.
        You can check keyword trends for Google Search, Google News, and Google Shopping.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/dataforseo_trends/subregion_interests/live/?bash'"
      operationId: DataforseoTrendsSubregionInterestsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsSubregionInterestsLiveRequestInfo'
                nullable: true
              example:
              - keywords:
                - rugby
                - cricket
                date_from: '2026-01-15'
                date_to: '2026-03-15'
                type: web
                location_name: United States
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsSubregionInterestsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/dataforseo_trends/demography/live:
    post:
      tags:
      - KeywordsData
      description: "This endpoint will provide you with the demographic breakdown (by age and gender) of keyword popularity
        per each specified term based on DataForSEO Trends data. You can check keyword trends for Google Search, Google News,
        and Google Shopping.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/dataforseo_trends/demography/live/?bash'"
      operationId: DataforseoTrendsDemographyLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsDemographyLiveRequestInfo'
                nullable: true
              example:
              - keywords:
                - rugby
                - cricket
                date_from: '2026-01-15'
                date_to: '2026-03-15'
                type: web
                location_name: United States
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsDemographyLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/dataforseo_trends/merged_data/live:
    post:
      tags:
      - KeywordsData
      description: "This endpoint will provide you with the keyword popularity data from DataForSEO Trends. In addition to
        keyword popularity rate over the given time range, you will get location-specific keyword popularity data, and a demographic
        breakdown of keyword popularity per each specified term along with comparative values.\nfor more info please visit
        'https://docs.dataforseo.com/v3/keywords_data/dataforseo_trends/merged_data/live/?bash'"
      operationId: DataforseoTrendsMergedDataLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsMergedDataLiveRequestInfo'
                nullable: true
              example:
              - keywords:
                - rugby
                - cricket
                date_from: '2026-01-15'
                date_to: '2026-03-15'
                type: web
                location_name: United States
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsMergedDataLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/locations:
    get:
      tags:
      - KeywordsData
      description: "By calling this API you will receive the list of locations supported in Bing Ads API.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/keywords_data/bing/locations/?bash'"
      operationId: KeywordsDataBingLocations
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingLocationsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/languages:
    get:
      tags:
      - KeywordsData
      description: "By calling this API you will receive the list of languages supported by Bing Ads API.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/keywords_data/bing/languages/?bash'"
      operationId: KeywordsDataBingLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/search_volume/task_post:
    post:
      tags:
      - KeywordsData
      description: "This endpoint will provide you with search volume data for the last month, search volume trend for up
        to 24 past months (that will let you estimate search volume dynamics), current cost-per-click and competition values
        for paid search.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/search_volume/task_post/?bash'"
      operationId: BingSearchVolumeTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeTaskPostRequestInfo'
                nullable: true
              example:
              - location_name: United States
                language_name: English
                keywords:
                - average page rpm adsense
                - adsense blank ads how long
                - leads and prospects
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/search_volume/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: "This endpoint is designed to provide you with the list of completed tasks, which haven’t been collected
        yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed
        tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/keywords_data/bing/search_volume/tasks_ready/?bash'"
      operationId: BingSearchVolumeTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/keywords_data/bing/search_volume/task_get/{id}':
    get:
      tags:
      - KeywordsData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/keywords_data/bing/search_volume/task_get/?bash'
      operationId: BingSearchVolumeTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/search_volume/live:
    post:
      tags:
      - KeywordsData
      description: "This endpoint will provide you with search volume data for the last month, search volume trend for up
        to 24 past months (that will let you estimate search volume dynamics), current cost-per-click and competition values
        for paid search.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/search_volume/live/?bash'"
      operationId: BingSearchVolumeLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeLiveRequestInfo'
                nullable: true
              example:
              - location_name: United States
                language_code: en
                keywords:
                - tom and jerry
                - silicon valley
                - spider man
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/audience_estimation/job_functions:
    get:
      tags:
      - KeywordsData
      description: "By calling this API you will receive the list of job functions with job_function_id supported by Bing
        Ads Audience Estimation endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/audience_estimation/job_functions/?bash'"
      operationId: BingAudienceEstimationJobFunctions
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationJobFunctionsResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/audience_estimation/industries:
    get:
      tags:
      - KeywordsData
      description: "By calling this API you will receive the list of industries with industry_id supported by Bing Ads Audience
        Estimation endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/audience_estimation/industries/?bash'"
      operationId: BingAudienceEstimationIndustries
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationIndustriesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/audience_estimation/task_post:
    post:
      tags:
      - KeywordsData
      description: "This endpoint provides estimated audience size for an ad campaign based on specified targeting criteria.
        It returns data on the total estimated audience, such as suggested bid and budget for an ad campaign and estimated
        engagement metrics.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/audience_estimation/task_post/?bash'"
      operationId: BingAudienceEstimationTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationTaskPostRequestInfo'
                nullable: true
              example:
              - location_coordinate: '29.6821525,-82.4098881,100'
                age:
                - twenty_five_to_thirty_four
                - eighteen_to_twenty_four
                - unknown
                bid: 1
                daily_budget: 24
                gender:
                - male
                industry:
                - 806303407
                - 806301758
                job_function:
                - 806298607
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/audience_estimation/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: "This endpoint is designed to provide you with the list of completed tasks, which haven’t been collected
        yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed
        tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/keywords_data/bing/audience_estimation/tasks_ready/?bash'"
      operationId: BingAudienceEstimationTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/keywords_data/bing/audience_estimation/task_get/{id}':
    get:
      tags:
      - KeywordsData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/keywords_data/bing/audience_estimation/task_get/?bash'
      operationId: BingAudienceEstimationTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/audience_estimation/live:
    post:
      tags:
      - KeywordsData
      description: "This endpoint provides estimated audience size for an ad campaign based on specified targeting criteria.
        It returns data on the total estimated audience, such as suggested bid and budget for an ad campaign and estimated
        engagement metrics.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/audience_estimation/live/?bash'"
      operationId: BingAudienceEstimationLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationLiveRequestInfo'
                nullable: true
              example:
              - location_coordinate: '29.6821525,-82.4098881,100'
                age:
                - twenty_five_to_thirty_four
                - eighteen_to_twenty_four
                - unknown
                bid: 1
                daily_budget: 24
                gender:
                - male
                industry:
                - 806303407
                - 806301758
                job_function:
                - 806298607
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/keywords_for_site/task_post:
    post:
      tags:
      - KeywordsData
      description: "This endpoint will provide you with a list of keywords relevant to the specified website along with their
        search volume for the last month, search volume trend for up to 24 past months (for estimating search volume dynamics),
        current cost-per-click and competition level for paid search. The maximum number of returned keywords is 3000.\nfor
        more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_site/task_post/?bash'"
      operationId: BingKeywordsForSiteTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForSiteTaskPostRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                target: dataforseo.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForSiteTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/keywords_for_site/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: "This endpoint is designed to provide you with the list of completed tasks, which haven’t been collected
        yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed
        tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_site/tasks_ready/?bash'"
      operationId: BingKeywordsForSiteTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForSiteTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/keywords_data/bing/keywords_for_site/task_get/{id}':
    get:
      tags:
      - KeywordsData
      description: "This endpoint will provide you with a list of keywords relevant to the specified website along with their
        search volume for the last month, search volume trend for the last year (for estimating search volume dynamics), current
        cost-per-click and competition level for paid search. The maximum number of returned keywords is 3000.\nfor more info
        please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_site/task_get/?bash'"
      operationId: BingKeywordsForSiteTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForSiteTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/keywords_for_site/live:
    post:
      tags:
      - KeywordsData
      description: "This endpoint will provide you with a list of keywords relevant to the specified URL along with their
        search volume for the last month, search volume trend for up to 24 past months (for estimating search volume dynamics),
        current cost-per-click and competition values for paid search. The maximum number of returned keywords is 3000.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_site/live/?bash'"
      operationId: BingKeywordsForSiteLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForSiteLiveRequestInfo'
                nullable: true
              example:
              - language_code: en
                location_code: 2840
                target: dataforseo.com
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForSiteLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/keywords_for_keywords/task_post:
    post:
      tags:
      - KeywordsData
      description: "This endpoint will select relevant keywords for the specified terms. Set up to 200 keywords and get the
        results, which are suggested by Bing Ads for your query. You can get up to 3000 keyword suggestions using this function.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_keywords/task_post/?bash'"
      operationId: BingKeywordsForKeywordsTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForKeywordsTaskPostRequestInfo'
                nullable: true
              example:
              - location_code: 2840
                language_code: en
                keywords:
                - average page rpm adsense
                - adsense blank ads how long
                - leads and prospects
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForKeywordsTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/keywords_for_keywords/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: "This endpoint is designed to provide you with the list of completed tasks, which haven’t been collected
        yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed
        tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_keywords/tasks_ready/?bash'"
      operationId: BingKeywordsForKeywordsTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForKeywordsTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/keywords_data/bing/keywords_for_keywords/task_get/{id}':
    get:
      tags:
      - KeywordsData
      description: "This endpoint will select relevant keywords for the specified terms. Set up to 200 keywords and get the
        results, which are suggested by Bing Ads for your query. You can get up to 3000 keyword suggestions using this function.\n\
        for more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_keywords/task_get/?bash'"
      operationId: BingKeywordsForKeywordsTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForKeywordsTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/keywords_for_keywords/live:
    post:
      tags:
      - KeywordsData
      description: "This endpoint will select the relevant keywords for the specified ones. Set up to 200 keywords and get
        the results, which are suggested by Bing Ads for your query. You can get up to 3000 keyword suggestions using this
        function.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/keywords_for_keywords/live/?bash'"
      operationId: BingKeywordsForKeywordsLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForKeywordsLiveRequestInfo'
                nullable: true
              example:
              - location_name: United States
                language_name: English
                keywords:
                - average page rpm adsense
                - adsense blank ads how long
                - leads and prospects
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordsForKeywordsLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/keyword_performance/locations_and_languages:
    get:
      tags:
      - KeywordsData
      description: "Using this endpoint you can get the full list of locations and languages supported in Keyword Performance
        endpoints of Bing Keywords Data API.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/keyword_performance/locations_and_languages/?bash'"
      operationId: BingKeywordPerformanceLocationsAndLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceLocationsAndLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/keyword_performance/task_post:
    post:
      tags:
      - KeywordsData
      description: "You can receive a set of keyword performance stats for a group of keywords depending on the specified
        match type, location and language parameters. Ad position, clicks, impressions, and other keyword metrics are aggregated
        for the last month for one or all of the following device types: mobile, desktop, tablet.\nfor more info please visit
        'https://docs.dataforseo.com/v3/keywords_data/bing/keyword_performance/task_post/?bash'"
      operationId: BingKeywordPerformanceTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceTaskPostRequestInfo'
                nullable: true
              example:
              - location_code: 2840
                language_code: en
                keywords:
                - dataforseo
                - seo
                - ranking
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/keyword_performance/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: "This endpoint is designed to provide you with the list of completed tasks, which haven’t been collected
        yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed
        tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/keywords_data/bing/keyword_performance/tasks_ready/?bash'"
      operationId: BingKeywordPerformanceTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/keywords_data/bing/keyword_performance/task_get/{id}':
    get:
      tags:
      - KeywordsData
      description: "You can receive a set of keyword performance stats for a group of keywords depending on the specified
        match type, location and language parameters. Ad position, clicks, impressions, and other keyword metrics are aggregated
        for the last month for one or all of the following device types: mobile, desktop, tablet.\nfor more info please visit
        'https://docs.dataforseo.com/v3/keywords_data/bing/keyword_performance/task_get/?bash'"
      operationId: BingKeywordPerformanceTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/keyword_performance/live:
    post:
      tags:
      - KeywordsData
      description: "You can receive a set of keyword performance stats for a group of keywords depending on the specified
        match type, location and language parameters. Ad position, clicks, impressions, and other keyword metrics are aggregated
        for the last month for one or all of the following device types: mobile, desktop, tablet.\nfor more info please visit
        'https://docs.dataforseo.com/v3/keywords_data/bing/keyword_performance/live/?bash'"
      operationId: BingKeywordPerformanceLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceLiveRequestInfo'
                nullable: true
              example:
              - location_code: 2840
                language_code: en
                keywords:
                - dataforseo
                - seo
                - ranking
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/search_volume_history/locations_and_languages:
    get:
      tags:
      - KeywordsData
      description: "By calling this API you will receive the list of locations and languages supported by Bing ‘Search Volume
        History’ endpoint.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/search_volume_history/locations_and_languages/?bash'"
      operationId: BingSearchVolumeHistoryLocationsAndLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeHistoryLocationsAndLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/search_volume_history/task_post:
    post:
      tags:
      - KeywordsData
      description: "This endpoint will provide you with historical search volume data for up to 1000 keywords in one request.
        You can get search volume for keywords in monthly, weekly, or daily format and specify the device type.\nfor more
        info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/search_volume_history/task_post/?bash'"
      operationId: BingSearchVolumeHistoryTaskPost
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeHistoryTaskPostRequestInfo'
                nullable: true
              example:
              - location_code: 2840
                language_code: en
                keywords:
                - 10 minute timer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeHistoryTaskPostResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/search_volume_history/tasks_ready:
    get:
      tags:
      - KeywordsData
      description: "This endpoint is designed to provide you with the list of completed tasks, which haven’t been collected
        yet. If you use the Standard method without specifying the postback_url, you can receive the list of id for all completed
        tasks using this endpoint. Then, you can collect the results using the ‘Task GET’ endpoint.\nfor more info please
        visit 'https://docs.dataforseo.com/v3/keywords_data/bing/search_volume_history/tasks_ready/?bash'"
      operationId: BingSearchVolumeHistoryTasksReady
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeHistoryTasksReadyResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  '/v3/keywords_data/bing/search_volume_history/task_get/{id}':
    get:
      tags:
      - KeywordsData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/keywords_data/bing/search_volume_history/task_get/?bash'
      operationId: BingSearchVolumeHistoryTaskGet
      parameters:
      - name: id
        in: path
        description: "task identifier\nunique task identifier in our system in the UUID format\nyou will be able to use it
          within 30 days to request the results of the task at any time"
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeHistoryTaskGetResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/bing/search_volume_history/live:
    post:
      tags:
      - KeywordsData
      description: "This endpoint will provide you with historical search volume data for up to 1000 keywords in one request.
        You can get search volume for keywords in monthly, weekly, or daily format and specify the device type.\nfor more
        info please visit 'https://docs.dataforseo.com/v3/keywords_data/bing/search_volume_history/live/?bash'"
      operationId: BingSearchVolumeHistoryLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeHistoryLiveRequestInfo'
                nullable: true
              example:
              - location_code: 2840
                language_code: en
                keywords:
                - 10 minute timer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataBingSearchVolumeHistoryLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/clickstream_data/locations_and_languages:
    get:
      tags:
      - KeywordsData
      description: "Using this endpoint you can get the full list of locations and languages supported in DataForSEO Clickstream
        Data API.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/clickstream_data/locations_and_languages/?bash'"
      operationId: ClickstreamDataLocationsAndLanguages
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataClickstreamDataLocationsAndLanguagesResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/clickstream_data/dataforseo_search_volume/live:
    post:
      tags:
      - KeywordsData
      description: for more info please visit 
        'https://docs.dataforseo.com/v3/keywords_data/clickstream_data/dataforseo_search_volume/live/?bash'
      operationId: ClickstreamDataDataforseoSearchVolumeLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataClickstreamDataDataforseoSearchVolumeLiveRequestInfo'
                nullable: true
              example:
              - location_code: 2840
                language_code: en
                tag: test-tag
                keywords:
                - you tube
                - youtube
                - youtub
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataClickstreamDataDataforseoSearchVolumeLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/clickstream_data/global_search_volume/live:
    post:
      tags:
      - KeywordsData
      description: " \nThe Clickstream Global Search Volume endpoint of DataForSEO Keywords Data API is designed to provide
        clickstream-based search volume data for up to 1000 keywords in a single Live request. What’s more, it offers geographical
        distribution of clickstream search volume values across all available locations.\nfor more info please visit 'https://docs.dataforseo.com/v3/keywords_data/clickstream_data/global_search_volume/live/?bash'"
      operationId: ClickstreamDataGlobalSearchVolumeLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataClickstreamDataGlobalSearchVolumeLiveRequestInfo'
                nullable: true
              example:
              - tag: test-tag
                keywords:
                - you tube
                - youtube
                - youtub
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataClickstreamDataGlobalSearchVolumeLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
  /v3/keywords_data/clickstream_data/bulk_search_volume/live:
    post:
      tags:
      - KeywordsData
      description: " \nThe Bulk Clickstream Search Volume endpoint of DataForSEO Keywords Data API is designed to provide
        clickstream-based search volume data for up to 1000 keywords in a single Live request. What’s more, it offers historical
        search volume values for up to 12 months (depending on keywords, location, and language parameters).\nfor more info
        please visit 'https://docs.dataforseo.com/v3/keywords_data/clickstream_data/bulk_search_volume/live/?bash'"
      operationId: ClickstreamDataBulkSearchVolumeLive
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataClickstreamDataBulkSearchVolumeLiveRequestInfo'
                nullable: true
              example:
              - location_code: 2840
                tag: test-tag
                keywords:
                - you tube
                - youtube
                - youtub
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - $ref: '#/components/schemas/KeywordsDataClickstreamDataBulkSearchVolumeLiveResponseInfo'
                nullable: true
      security:
      - basicAuth: []
components:
  schemas:
    KeywordsDataBingKeywordPerformanceTaskGetResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceTaskGetTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    BaseResponseInfo:
      properties:
        version:
          type: string
          description: the current version of the API
          nullable: true
        status_code:
          type: integer
          description: "general status code\nyou can find the full list of the response codes here"
          nullable: true
        status_message:
          type: string
          description: "general informational message\nyou can find the full list of general informational messages here"
          nullable: true
        time:
          type: string
          description: 'total execution time, seconds'
          nullable: true
        cost:
          type: number
          description: 'total tasks cost, USD'
          format: double
          nullable: true
        tasks_count:
          type: integer
          description: the number of tasks in the tasks array
          format: int64
          nullable: true
        tasks_error:
          type: integer
          description: the number of tasks in the tasks array returned with an error
          format: int64
          nullable: true
    KeywordsDataBingKeywordPerformanceTaskGetTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/KeywordsDataBingKeywordPerformanceTaskGetResultInfo'
              nullable: true
            description: array of results
            nullable: true
    KeywordsDataBingKeywordPerformanceTaskGetResultInfo:
      type: object
      properties:
        keyword:
          type: string
          description: keyword in a POST array
          nullable: true
        location_code:
          type: integer
          description: "location code in a POST array\nif there is no data, then the value is null"
          nullable: true
        language_code:
          type: string
          description: "language code in a POST array\nif there is no data, then the value is null"
          nullable: true
        year:
          type: integer
          description: "indicates the year for which the data is provided for\nexample:\n2020"
          nullable: true
        month:
          type: integer
          description: "indicates the month for which the data is provided for\nexample:\n10"
          nullable: true
        keyword_kpi:
          type: object
          oneOf:
          - $ref: '#/components/schemas/KeywordKpi'
          description: "object containing keyword metrics\nif there is no data, then the value is null"
          nullable: true
    KeywordKpi:
      type: object
      properties:
        desktop:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/KeywordKpiItemInfo'
            nullable: true
          description: "keyword data aggregated for desktop devices\nif there is no data, then the value is null"
          nullable: true
        mobile:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/KeywordKpiItemInfo'
            nullable: true
          description: "keyword data aggregated for mobile devices\nif there is no data, then the value is null"
          nullable: true
        tablet:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/KeywordKpiItemInfo'
            nullable: true
          description: "keyword data aggregated for tablet devices\nif there is no data, then the value is null"
          nullable: true
    KeywordKpiItemInfo:
      type: object
      properties:
        ad_position:
          type: string
          description: "represents the position of the relevant ad in SERP\ncan take the following values:\nFirstPage1: The
            first ad to appear on the right side of the first search results page\nFirstPage2: The second ad to appear on
            the right side of the first search results page\nFirstPage3: The third ad to appear on the right side of the first
            search results page\nFirstPage4: The fourth ad to appear on the right side of the first search results page\n\
            FirstPage5: The fifth ad to appear on the right side of the first search results page\nFirstPage6: The sixth ad
            to appear on the right side of the first search results page\nFirstPage7: The seventh ad to appear on the right
            side of the first search results page\nFirstPage8: The eighth ad to appear on the right side of the first search
            results page\nFirstPage9: The ninth ad to appear on the right side of the first search results page\nFirstPage10:
            The tenth ad to appear on the right side of the first search results page\nMainLine1: The first ad to appear at
            the top of the search results page\nMainLine2: The second ad to appear at the top of the search results page\n\
            MainLine3: The third ad to appear at the top of the search results page\nMainLine4: The fourth ad to appear at
            the top of the search results page"
          nullable: true
        clicks:
          type: integer
          description: "ad clicks\nthe number of clicks that the keyword and match type generated during the last month"
          nullable: true
        impressions:
          type: integer
          description: "ad impressions\nthe number of impressions that the keyword and match type generated during the last
            month"
          nullable: true
        average_cpc:
          type: number
          description: "average cost per click, USD\ncalculated by dividing the cost of all clicks by the number of clicks"
          format: double
          nullable: true
        ctr:
          type: number
          description: "click-through rate as a percentage\ncalculated by dividing the number of clicks by the number of impressions
            and multiplying the result by 100"
          format: double
          nullable: true
        total_cost:
          type: number
          description: "total cost of an ad, USD\nthe cost of using the specified keyword and match type during the last month"
          format: int64
          nullable: true
        average_bid:
          type: number
          description: average bid of the keyword
          format: double
          nullable: true
    BaseResponseTaskInfo:
      properties:
        id:
          type: string
          description: "task identifier\nunique task identifier in our system in the UUID format"
          nullable: true
        status_code:
          type: integer
          description: "status code of the task\ngenerated by DataForSEO, can be within the following range: 10000-60000\n\
            you can find the full list of the response codes here"
          nullable: true
        status_message:
          type: string
          description: "informational message of the task\nyou can find the full list of general informational messages here"
          nullable: true
        time:
          type: string
          description: 'execution time, seconds'
          nullable: true
        cost:
          type: number
          description: 'total tasks cost, USD'
          format: double
          nullable: true
        result_count:
          type: integer
          description: number of elements in the result array
          format: int64
          nullable: true
        path:
          type: array
          items:
            type: string
            nullable: true
          description: URL path
          nullable: true
        data:
          type: object
          additionalProperties:
            type: object
            nullable: true
          description: contains the same parameters that you specified in the POST request
          nullable: true
    KeywordsDataBingAudienceEstimationTaskPostResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/KeywordsDataBingAudienceEstimationTaskPostTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    KeywordsDataBingAudienceEstimationTaskPostTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: object
            description: "array of results\nin this case, the value will be null"
            nullable: true
    KeywordsDataGoogleAdsKeywordsForKeywordsTasksReadyResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForKeywordsTasksReadyTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    KeywordsDataGoogleAdsKeywordsForKeywordsTasksReadyTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/KeywordsDataGoogleAdsKeywordsForKeywordsTasksReadyResultInfo'
              nullable: true
            description: array of results
            nullable: true
    KeywordsDataGoogleAdsKeywordsForKeywordsTasksReadyResultInfo:
      type: object
      properties:
        id:
          type: string
          description: "task identifier of the completed task\nunique task identifier in our system in the UUID format"
          nullable: true
        se:
          type: string
          description: search engine specified when setting the task
          nullable: true
        se_type:
          type: string
          nullable: true
        date_posted:
          type: string
          description: date when the task was posted (in the UTC format)
          nullable: true
        tag:
          type: string
          description: user-defined task identifier
          nullable: true
        endpoint:
          type: string
          description: URL for collecting the results of the task
          nullable: true
    KeywordsDataDataforseoTrendsExploreLiveResponseInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseInfo'
      - type: object
        properties:
          tasks:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsExploreLiveTaskInfo'
              nullable: true
            description: array of tasks
            nullable: true
    KeywordsDataDataforseoTrendsExploreLiveTaskInfo:
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseResponseTaskInfo'
      - type: object
        properties:
          result:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/KeywordsDataDataforseoTrendsExploreLiveResultInfo'
              nullable: true
            description: array of results
            nullable: true
    KeywordsDataDataforseoTrendsExploreLiveResultInfo:
      type: object
      properties:
        keywords:
          type: array
          items:
            type: string
            nullable: true
          description: keywords in a POST array
          nullable: true
        type:
          type: string
          description: type of element
          nullable: true
        location_code:
          type: integer
          description: "location code in a POST array\nif there is no data, then the value is null"
          nullable: true
        language_code:
          type: string
          description: "language code in a POST array\nif there is no data, then the value is null"
          nullable: true
        datetime:
          type: string
          description: "date and time when the result was received\nin the UTC format: “yyyy-mm-dd hh-mm-ss +00:00”\nexample:\n\
            2019-11-15 12:57:46 +00:00"
          nullable: true
        items_count:
          type: integer
          description: the number of results returned in the items array
          format: int64
          nullable: true
        items:
          type: array
          items:
            type: object
            oneOf:
            - $ref: '#/components/schemas/DataforseoTrendsDataforseoTrendsGraphElementItem'
            nullable: true
          description: contains keyword popularity and related data
          nullable: true
    DataforseoTrendsDataforseoTrendsGraphElementItem:
      type: object
      allOf:
      - type: object
        oneOf:
        - $ref: '#/components/schemas/BaseKeywordDataDataforseoTrendsItem'
        nullable: true
      - type: object
        properties:
          data:
            type: array
            items:
              type: object
              oneOf:
              - $ref: '#/components/schemas/DataforseoTrendsGraphDataTrendsGraphDataInfo'
              nullable: true
            description: DataForSEO Trends data for the specified parameters
            nullable: true
          averages:
            type: array
            items:
              type: integer
              nullable: true
            description: keyword popularity values averaged over the whole time range
            nullable: true
    BaseKeywordDataDataforseoTrendsItem:
      type: object
      properties:
        type:
          type: string
          description: type of element
          nullable: true
        position:
          type: integer
          description: "the alignment of the element\ncan take the following values: 1, 2, 3, 4, etc."
          nullable: true
        keywords:
          type: array
          items:
            type: string
            nullable: true
          description: "relevant keywords\nthe data included in the dataforseo_trends_graph element is based on the keywords
            listed in this array"
          nullable: true
      additionalProperties: false
      discriminator:
        propertyName: type
        mapping:
          dataforseo_trends_graph: '#/components/schemas/DataforseoTrendsDataforseoTrendsGraphElementItem'
          subregion_interests: '#/components/schemas/DataforseoTrendsSubregionInterestsElementItem'
          demography: '#/components/schemas/DataforseoTrendsDemographyElementItem'
    DataforseoTrendsGraphDataTrendsGraphDataInfo:
[...]
